Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

chore(e2e): Exit pre mode to release on verdaccio
  .github/workflows/ci.yml
Due: none

chore(e2e): Use different config for Verdaccio when publishing
  .github/actions/verdaccio/action.yml
  .github/workflows/ci.yml
  .github/workflows/nightly-checks.yml
  verdaccio.install.yaml
  verdaccio.publish.yaml
  verdaccio.yaml
Due: none

test(e2e): Group duplicated code on AP tests
  integration/tests/next-account-portal/clerk-v4-ap-core-1.test.ts
  integration/tests/next-account-portal/clerk-v4-ap-core-2.test.ts
  integration/tests/next-account-portal/clerk-v5-ap-core-1.test.ts
  integration/tests/next-account-portal/clerk-v5-ap-core-2.test.ts
  integration/tests/next-account-portal/common.ts
Due: npx eslint --fix, npx prettier --write

test(e2e): Add webkit project and increase the timeout to 90s
  integration/playwright.config.ts
Due: npx eslint --fix, npx prettier --write

chore(e2e): Run webkit tests in different jobs
  .github/workflows/ci.yml
  package.json
Due: npx prettier --write

chore(e2e): Exclude all webkit tests
  .github/workflows/ci.yml
  integration/tests/sign-in-smoke.test.ts
Due: npx eslint --fix, npx prettier --write

chore(e2e): Exclude some webkit tests
  .github/workflows/ci.yml
Due: none

chore(e2e): Remove webkit from installing on CI
  .github/actions/init/action.yml
  .github/actions/verdaccio/action.yml
  integration/README.md
  integration/tests/next-account-portal/common.ts
Due: npx eslint --fix, npx prettier --write

Create late-kids-push.md
  .changeset/late-kids-push.md
Due: npx prettier --write

feat(localizations): Added Mongolian language (#3024)
  .changeset/late-kids-push.md
  packages/localizations/package.json
  packages/localizations/src/mn-MN.ts
  packages/localizations/src/utils/generate.ts
  packages/localizations/subpaths.mjs
Due: npx eslint --fix, npx prettier --write

chore(repo): Format
  packages/localizations/src/mn-MN.ts
  packages/localizations/src/utils/generate.ts
Due: npx eslint --fix, npx prettier --write

fix(elements): Rename internal helper type
  .changeset/curly-students-enjoy.md
  packages/elements/package.json
  packages/elements/src/react/common/loading.tsx
  packages/elements/src/react/sign-in/step.tsx
  packages/elements/src/react/sign-up/step.tsx
Due: npx eslint --fix, npx prettier --write

test(e2e): Update sign in flow tests (#2992)
  .changeset/mean-ghosts-develop.md
  integration/testUtils/appPageObject.ts
  integration/testUtils/commonPageObject.ts
  integration/testUtils/signInPageObject.ts
  integration/testUtils/usersService.ts
  integration/tests/email-code.test.ts
  integration/tests/navigation.test.ts
  integration/tests/sign-in-flow.test.ts
  integration/tests/sign-in-smoke.test.ts
  integration/tests/user-profile.test.ts
Due: npx eslint --fix, npx prettier --write

fix(elements): Rename internal helper type (#3032)
  .changeset/curly-students-enjoy.md
  packages/elements/package.json
  packages/elements/src/react/common/loading.tsx
  packages/elements/src/react/sign-in/step.tsx
  packages/elements/src/react/sign-up/step.tsx
Due: npx eslint --fix, npx prettier --write

feat(elements): Additional tweaks to selection state and styles based on feedback
  packages/elements/src/react/common/form/otp.tsx
Due: npx eslint --fix, npx prettier --write

fix(elements): Ensure Input accepts a ref
  packages/elements/src/react/common/form/index.tsx
Due: npx eslint --fix, npx prettier --write

chore(repo): Add changeset
  .changeset/three-bulldogs-smile.md
Due: npx prettier --write

chore(elements): Bump version
  packages/elements/package.json
Due: npx prettier --write

chore(elements): Align naming
  packages/elements/src/react/common/form/index.tsx
Due: npx eslint --fix, npx prettier --write

fix(elements): Ensure Input accepts a ref (#3036)
  .changeset/three-bulldogs-smile.md
  packages/elements/package.json
  packages/elements/src/react/common/form/index.tsx
Due: npx eslint --fix, npx prettier --write

fix(elements): Forward form props through verification step
  packages/elements/src/react/sign-in/verifications.tsx
Due: npx eslint --fix, npx prettier --write

chore(repo): Add changeset
  .changeset/spotty-hotels-shout.md
Due: npx prettier --write

fix(clerk-js): Bundle the zxcvbn library inside the headless variant
  .changeset/thin-pets-end.md
  packages/clerk-js/src/globals.d.ts
  packages/clerk-js/src/utils/zxcvbn.ts
  packages/clerk-js/webpack.config.js
Due: npx eslint --fix, npx prettier --write

fix(e2e): Fix e2e on main
  integration/tests/sign-in-flow.test.ts
Due: npx eslint --fix, npx prettier --write

fix(Elements): forward verification props (#3037)
  .changeset/spotty-hotels-shout.md
  packages/elements/src/react/sign-in/verifications.tsx
Due: npx eslint --fix, npx prettier --write

test(clerk-js): Test cases for passkeys in SignInStart
  .changeset/six-ways-press.md
  packages/clerk-js/src/testUtils.ts
  packages/clerk-js/src/ui/components/SignIn/__tests__/SignInStart.test.tsx
  packages/clerk-js/src/ui/utils/test/fixtureHelpers.ts
Due: npx eslint --fix, npx prettier --write

chore(elements): Address PR feedback
  packages/elements/src/react/common/form/otp.tsx
Due: npx eslint --fix, npx prettier --write

test(clerk-js): Test cases for passkeys in SignInFactorOne
  packages/clerk-js/src/testUtils.ts
  packages/clerk-js/src/ui/components/SignIn/__tests__/SignInFactorOne.test.tsx
  packages/clerk-js/src/ui/components/SignIn/__tests__/SignInStart.test.tsx
  packages/clerk-js/src/ui/hooks/useAlternativeStrategies.ts
  packages/clerk-js/src/ui/utils/test/fixtureHelpers.ts
Due: npx eslint --fix, npx prettier --write

fix(elements): Fix type issue
  packages/elements/src/react/common/form/otp.tsx
Due: npx eslint --fix, npx prettier --write

chore(elements): Adds dev:example script to run the dev build and example app in parallel
  package-lock.json
  packages/elements/README.md
  packages/elements/package.json
Due: npx prettier --write

chore(clerk-js): Minor fix
  packages/clerk-js/src/ui/components/SignIn/__tests__/SignInFactorOne.test.tsx
  packages/clerk-js/src/ui/hooks/useAlternativeStrategies.ts
Due: npx eslint --fix, npx prettier --write

fix(elements): Routing for Next 14.1
  packages/elements/examples/nextjs/package.json
  packages/elements/src/internals/machines/form/form.context.ts
  packages/elements/src/react/router/next.ts
Due: npx eslint --fix, npx prettier --write

chore(elements): Adjust comment
  packages/elements/src/react/router/next.ts
Due: npx eslint --fix, npx prettier --write

chore(elements): Rename check for clarity
  packages/elements/src/internals/constants/index.ts
  packages/elements/src/internals/machines/utils/__tests__/next.test.ts
  packages/elements/src/internals/machines/utils/next.ts
  packages/elements/src/react/router/next.ts
Due: npx eslint --fix, npx prettier --write

chore(elements): Add comment above constant
  packages/elements/src/internals/constants/index.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Add changeset
  .changeset/eight-mangos-do.md
Due: npx prettier --write

fix(elements): Routing for Next 14.1 [SDK-1539] (#3018)
  .changeset/eight-mangos-do.md
  packages/elements/examples/nextjs/package.json
  packages/elements/package.json
  packages/elements/src/internals/constants/index.ts
  packages/elements/src/internals/machines/form/form.context.ts
  packages/elements/src/internals/machines/utils/__tests__/next.test.ts
  packages/elements/src/internals/machines/utils/next.ts
  packages/elements/src/react/router/next.ts
Due: npx eslint --fix, npx prettier --write

chore(nextjs): Adds telemetry event to clerkMiddleware initialization
  packages/nextjs/src/server/clerkClient.ts
  packages/nextjs/src/server/clerkMiddleware.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Adds changeset
  .changeset/khaki-poems-press.md
Due: npx prettier --write

Path conditions:
  npx eslint --fix: any of: *.{mjs,js,jsx,ts,tsx}
  npx prettier --write: (any of: *.{mjs,js,jsx,ts,tsx}) or (any of: *.{json,md,mdx})
