Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{mjs,js,jsx,ts,tsx}": ["npx eslint --fix", "npx prettier --write"],
  "*.{json,md,mdx}": ["npx prettier --write"]
}

improve changeset
  .changeset/tasty-dots-guess.md
Due: npx prettier --write

fix(clerk-js,elements,types,ui): Account for `null` in `supported_first_factors` (#3938)
  .changeset/tasty-dots-guess.md
  packages/clerk-js/src/core/resources/SignIn.ts
  packages/clerk-js/src/ui/components/SignIn/AlternativeMethods.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/components/SignIn/useResetPasswordFactor.tsx
  packages/clerk-js/src/ui/components/SignIn/utils.ts
  packages/clerk-js/src/ui/hooks/useAlternativeStrategies.ts
  packages/elements/src/internals/machines/sign-in/utils/starting-factors.ts
  packages/elements/src/internals/machines/sign-in/verification.machine.ts
  packages/types/src/signIn.ts
  packages/ui/src/hooks/use-reset-password-factor.ts
Due: npx eslint --fix, npx prettier --write

fix(nextjs): Handle `__nextGetStaticStore` returning `undefined`
  .changeset/twelve-books-glow.md
  packages/nextjs/src/server/nextFetcher.ts
  packages/nextjs/src/server/protect.ts
Due: npx eslint --fix, npx prettier --write

feat(tailwindcss-transformer): Minify CSS output (#3929)
  .changeset/great-kings-punch.md
  package-lock.json
  packages/tailwindcss-transformer/package.json
  packages/tailwindcss-transformer/src/__tests__/__snapshots__/generateStylesheet.test.ts.snap
  packages/tailwindcss-transformer/src/index.ts
Due: npx eslint --fix, npx prettier --write

wip
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/resources/SignIn.ts
  packages/clerk-js/src/core/resources/SignUp.ts
  packages/clerk-js/src/ui/common/constants.ts
  packages/clerk-js/src/ui/components/SignIn/SignInSocialButtons.tsx
  packages/clerk-js/src/ui/components/UserProfile/Web3Form.tsx
  packages/clerk-js/src/utils/web3.ts
  packages/types/src/clerk.ts
  packages/types/src/signIn.ts
  packages/types/src/signUp.ts
  packages/types/src/web3.ts
  packages/types/src/web3Wallet.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Add changeset
  .changeset/hip-spiders-behave.md
Due: npx prettier --write

chore(tanstack-start): Apply formatting
  packages/tanstack-start/src/client/utils.ts
  packages/tanstack-start/src/utils/env.ts
Due: npx eslint --fix, npx prettier --write

feat(tanstack-start): Support TanStack Router out of the box
  packages/tanstack-start/src/client/ClerkProvider.tsx
  packages/tanstack-start/src/client/utils.ts
  packages/tanstack-start/src/server/loadOptions.ts
  packages/tanstack-start/src/server/utils/index.ts
  packages/tanstack-start/src/utils/env.ts
  packages/tanstack-start/src/utils/errors.ts
Due: npx eslint --fix, npx prettier --write

refactor(ui): Colors (#3874)
  .changeset/good-peaches-dress.md
  packages/ui/src/common/password-field.tsx
  packages/ui/src/common/phone-number-field.tsx
  packages/ui/src/primitives/alert.tsx
  packages/ui/src/primitives/button.tsx
  packages/ui/src/primitives/card.tsx
  packages/ui/src/primitives/field.tsx
  packages/ui/src/primitives/separator.tsx
  packages/ui/src/tailwind.config.ts
Due: npx eslint --fix, npx prettier --write

chore(elements): Clean up form hooks [SDKI-587] (#3931)
  .changeset/bright-peaches-change.md
  packages/elements/jest.config.js
  packages/elements/src/react/common/form/hooks/__tests__/use-field-feedback.test.ts
  packages/elements/src/react/common/form/hooks/__tests__/use-form.test.tsx
  packages/elements/src/react/common/form/hooks/__tests__/use-global-errors.test.ts
  packages/elements/src/react/common/form/hooks/__tests__/use-previous.test.ts
  packages/elements/src/react/common/form/hooks/index.ts
  packages/elements/src/react/common/form/hooks/use-field-context.ts
  packages/elements/src/react/common/form/hooks/use-field-feedback.ts
  packages/elements/src/react/common/form/hooks/use-field-state.ts
  packages/elements/src/react/common/form/hooks/use-field.ts
  packages/elements/src/react/common/form/hooks/use-form.ts
  packages/elements/src/react/common/form/hooks/use-global-errors.ts
  packages/elements/src/react/common/form/hooks/use-input.tsx
  packages/elements/src/react/common/form/hooks/use-previous.ts
  packages/elements/src/react/common/form/hooks/use-validity-state-context.ts
  packages/elements/src/react/common/form/index.tsx
  packages/elements/src/react/common/form/utils/__tests__/determine-input-type-from-name.test.ts
  packages/elements/src/react/common/form/utils/__tests__/enrich-field-state.test.ts
  packages/elements/src/react/common/form/utils/determine-input-type-from-name.ts
  packages/elements/src/react/common/form/utils/enrich-field-state.ts
  packages/elements/src/react/common/form/utils/index.ts
Due: npx eslint --fix, npx prettier --write

use identifier as fallback
  packages/ui/src/components/sign-in/steps/choose-session.tsx
Due: npx eslint --fix, npx prettier --write

convert to list
  packages/ui/src/components/sign-in/steps/choose-session.tsx
Due: npx eslint --fix, npx prettier --write

adjust min-width for card, amend theme-builder resizing and overflow
  packages/ui/src/primitives/card.tsx
  packages/ui/theme-builder/app/theme-builder.tsx
Due: npx eslint --fix, npx prettier --write

add empty changeset
  .changeset/calm-grapes-help.md
Due: npx prettier --write

chore: Add changeset
  .changeset/bright-peaches-change.md
Due: npx prettier --write

chore(elements): Clean up form components [SDKI-588]
  .changeset/mighty-peas-flash.md
  packages/elements/src/react/common/form/field-error.tsx
  packages/elements/src/react/common/form/field-state.tsx
  packages/elements/src/react/common/form/field.tsx
  packages/elements/src/react/common/form/form.tsx
  packages/elements/src/react/common/form/global-error.tsx
  packages/elements/src/react/common/form/index.tsx
  packages/elements/src/react/common/form/input.tsx
  packages/elements/src/react/common/form/label.tsx
  packages/elements/src/react/common/form/submit.tsx
  packages/elements/src/react/common/form/types.ts
Due: npx eslint --fix, npx prettier --write

chore(elements): Update display names
  packages/elements/src/react/common/form/input.tsx
Due: npx eslint --fix, npx prettier --write

feat(e2e): Add TanStack Start test suite
  .github/workflows/ci.yml
  .husky/pre-commit
  integration/presets/index.ts
  integration/presets/longRunningApps.ts
  integration/presets/tanstack.ts
  integration/templates/index.ts
  integration/templates/tanstack-start/.gitignore
  integration/templates/tanstack-start/.prettierignore
  integration/templates/tanstack-start/.prettierrc
  integration/templates/tanstack-start/README.md
  integration/templates/tanstack-start/app.config.ts
  integration/templates/tanstack-start/app/client.tsx
  integration/templates/tanstack-start/app/components/DefaultCatchBoundary.tsx
  integration/templates/tanstack-start/app/components/NotFound.tsx
  integration/templates/tanstack-start/app/routeTree.gen.ts
  integration/templates/tanstack-start/app/router.tsx
  integration/templates/tanstack-start/app/routes/__root.tsx
  integration/templates/tanstack-start/app/routes/_layout.tsx
  integration/templates/tanstack-start/app/routes/index.tsx
  integration/templates/tanstack-start/app/routes/sign-in.tsx
  integration/templates/tanstack-start/app/ssr.tsx
  integration/templates/tanstack-start/app/styles/app.css
  integration/templates/tanstack-start/package.json
  integration/templates/tanstack-start/postcss.config.cjs
  integration/templates/tanstack-start/tailwind.config.cjs
  integration/templates/tanstack-start/tsconfig.json
  integration/tests/tanstack-start/basic.test.ts
  package.json
  turbo.json
Due: npx eslint --fix, npx prettier --write

ci(e2e): Allow to customize react version for TanStack Start suite
  integration/presets/tanstack.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Add changeset
  .changeset/ninety-walls-drop.md
Due: npx prettier --write

chore(repo): Remove Astro from CI temporary
  .github/workflows/ci.yml
Due: none

ci(repo): Bring back Astro E2E suite
  .github/workflows/ci.yml
Due: none

fix(ui): Card width (and theme builder preview behaviour) (#3942)
  .changeset/calm-grapes-help.md
  packages/ui/src/primitives/card.tsx
  packages/ui/theme-builder/app/theme-builder.tsx
Due: npx eslint --fix, npx prettier --write

fix type
  packages/ui/src/components/sign-in/steps/choose-session.tsx
Due: npx eslint --fix, npx prettier --write

chore(astro): Update changeset
  .changeset/proud-horses-smell.md
Due: npx prettier --write

feat(backend): Add `awscognito` to `PasswordHasher` type
  packages/backend/src/api/endpoints/UserApi.ts
Due: npx eslint --fix, npx prettier --write

chore: Add changeset
  .changeset/young-spies-provide.md
Due: npx prettier --write

chore(elements): Clean up form components [SDKI-588] (#3933)
  .changeset/bright-peaches-change.md
  .changeset/mighty-peas-flash.md
  packages/elements/src/react/common/form/field-error.tsx
  packages/elements/src/react/common/form/field-state.tsx
  packages/elements/src/react/common/form/field.tsx
  packages/elements/src/react/common/form/form.tsx
  packages/elements/src/react/common/form/global-error.tsx
  packages/elements/src/react/common/form/index.tsx
  packages/elements/src/react/common/form/input.tsx
  packages/elements/src/react/common/form/label.tsx
  packages/elements/src/react/common/form/submit.tsx
  packages/elements/src/react/common/form/types.ts
Due: npx eslint --fix, npx prettier --write

feat(backend): Add `awscognito` to `PasswordHasher` type (#3943)
  .changeset/young-spies-provide.md
  packages/backend/src/api/endpoints/UserApi.ts
Due: npx eslint --fix, npx prettier --write

button styling
  packages/ui/src/components/sign-in/steps/choose-session.tsx
Due: npx eslint --fix, npx prettier --write

add changeset
  .changeset/spicy-icons-swim.md
Due: npx prettier --write

chore(astro,clerk-js): Inject `windowNavigate` through router functions (#3922)
  .changeset/sixty-bikes-visit.md
  packages/astro/src/internal/create-clerk-instance.ts
  packages/clerk-js/src/core/__tests__/clerk.redirects.test.ts
  packages/clerk-js/src/core/__tests__/clerk.test.ts
  packages/clerk-js/src/core/clerk.ts
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

extract sessionAction class
  packages/ui/src/components/sign-in/steps/choose-session.tsx
Due: npx eslint --fix, npx prettier --write

temp hide dev ui
  packages/ui/src/components/sign-in/steps/choose-session.tsx
Due: npx eslint --fix, npx prettier --write

extract getTitleAndSubtitle
  packages/ui/src/components/sign-in/steps/choose-session.tsx
Due: npx eslint --fix, npx prettier --write

fix(nextjs): Handle `__nextGetStaticStore` returning `undefined` (#3939)
  .changeset/twelve-books-glow.md
  packages/nextjs/src/server/nextFetcher.ts
  packages/nextjs/src/server/protect.ts
Due: npx eslint --fix, npx prettier --write

refactor(ui): only specify height vs size for logo
  packages/ui/src/primitives/card.tsx
Due: npx eslint --fix, npx prettier --write
