Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

test(vue): Add unstyled buttons and more control component tests
  integration/templates/vue-vite/src/App.vue
  integration/templates/vue-vite/src/router.ts
  integration/templates/vue-vite/src/views/Profile.vue
  integration/templates/vue-vite/src/views/Unstyled.vue
  integration/tests/vue/components.test.ts
Due: npx eslint --fix, npx prettier --write

Fix type
  packages/clerk-js/src/utils/getClerkQueryParam.ts
Due: npx eslint --fix, npx prettier --write

test(vue, e2e): Create long-running app for Vue (#4539)
  .changeset/purple-seals-destroy.md
  .github/workflows/ci.yml
  integration/presets/longRunningApps.ts
  integration/presets/vue.ts
  integration/templates/index.ts
  integration/templates/vue-vite/.gitignore
  integration/templates/vue-vite/index.html
  integration/templates/vue-vite/package.json
  integration/templates/vue-vite/public/vite.svg
  integration/templates/vue-vite/src/App.vue
  integration/templates/vue-vite/src/assets/styles.css
  integration/templates/vue-vite/src/main.ts
  integration/templates/vue-vite/src/router.ts
  integration/templates/vue-vite/src/views/Admin.vue
  integration/templates/vue-vite/src/views/Home.vue
  integration/templates/vue-vite/src/views/Profile.vue
  integration/templates/vue-vite/src/views/SignIn.vue
  integration/templates/vue-vite/src/views/Unstyled.vue
  integration/templates/vue-vite/src/vite-env.d.ts
  integration/templates/vue-vite/tsconfig.app.json
  integration/templates/vue-vite/tsconfig.json
  integration/templates/vue-vite/tsconfig.node.json
  integration/templates/vue-vite/vite.config.ts
  integration/tests/vue/components.test.ts
  package.json
  turbo.json
Due: npx eslint --fix, npx prettier --write

fix priority inside getAuthDataFromRequest
  packages/nextjs/src/server/data/getAuthDataFromRequest.ts
Due: npx eslint --fix, npx prettier --write

update type of AccountlessApplication
  packages/backend/src/api/resources/AccountlessApplication.ts
  packages/backend/src/api/resources/Deserializer.ts
  packages/backend/src/api/resources/JSON.ts
  packages/nextjs/src/app-router/client/accountless-cookie-sync.tsx
  packages/nextjs/src/app-router/server-actions.ts
  packages/nextjs/src/app-router/server/ClerkProvider.tsx
  packages/nextjs/src/server/clerkMiddleware.ts
Due: npx eslint --fix, npx prettier --write

Remove the env variable from Expo
  .changeset/fifty-bananas-dress.md
  .changeset/two-bags-rhyme.md
  packages/expo/src/provider/ClerkProvider.tsx
Due: npx eslint --fix, npx prettier --write

Fix changeset
  .changeset/fifty-bananas-dress.md
Due: npx prettier --write

Throw ClerkRuntimeError
  packages/clerk-js/src/core/resources/Base.ts
Due: npx eslint --fix, npx prettier --write

feat(repo): Run all CI jobs in parallel (#4529)
  .github/workflows/ci.yml
Due: none

chore(repo): Increase timeouts and retries in CI (#4530)
  integration/playwright.config.ts
  integration/testUtils/appPageObject.ts
Due: npx eslint --fix, npx prettier --write

Change changeset to minor
  .changeset/fifty-bananas-dress.md
Due: npx prettier --write

do not show prompt when accountless is not used
  packages/nextjs/src/server/clerkMiddleware.ts
Due: npx eslint --fix, npx prettier --write

feat(repo): Use Blacksmith for CI
  .github/workflows/ci.yml
Due: none

fix(repo): Use Blacksmith init action
  .github/actions/init/action-blacksmith.yml
  .github/workflows/ci.yml
Due: none

fix(repo): Put action in folder
  .github/actions/init-blacksmith/action.yml
Due: none

Persist `redirectUrl` on sign up continue
  packages/clerk-js/src/ui/components/SignUp/SignUpContinue.tsx
Due: npx eslint --fix, npx prettier --write

fix(repo): Use 15m timeout
  .github/workflows/ci.yml
Due: none

fix(repo): Verbose npm ci logging
  .github/actions/init-blacksmith/action.yml
Due: none

[el-GR] Add legal consent translations
  packages/localizations/src/el-GR.ts
Due: npx eslint --fix, npx prettier --write

fix(repo): Pin npm version for Blacksmith CI
  .github/actions/init-blacksmith/action.yml
Due: none

fix(repo): Bind Verdaccio to 0.0.0.0
  verdaccio.install.yaml
  verdaccio.publish.yaml
Due: none

Remove TokenUpdate side-effect from Session resource initialization
  .changeset/slow-cougars-burn.md
  packages/clerk-js/src/core/__tests__/clerk.test.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/resources/Session.ts
Due: npx eslint --fix, npx prettier --write

Add TODO comment
  packages/clerk-js/src/core/resources/Base.ts
Due: npx eslint --fix, npx prettier --write

bypass encryption with a dummy key
  packages/nextjs/src/server/clerkMiddleware.ts
  packages/nextjs/src/server/utils.ts
Due: npx eslint --fix, npx prettier --write

Add changeset
  .changeset/few-crews-dress.md
Due: npx prettier --write

fix(clerk-js,backend): Do not depend on _clerk_synced to terminate satellite sync flow (#4516)
  .changeset/wild-schools-vanish.md
  packages/backend/src/constants.ts
  packages/backend/src/tokens/__tests__/authenticateContext.test.ts
  packages/backend/src/tokens/authenticateContext.ts
  packages/backend/src/tokens/request.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/constants.ts
  packages/clerk-js/src/utils/getClerkQueryParam.ts
Due: npx eslint --fix, npx prettier --write

fix(localizations): Add legal consent translations to `el-GR` localization (#4543)
  .changeset/few-crews-dress.md
  packages/localizations/src/el-GR.ts
Due: npx eslint --fix, npx prettier --write

remove unused code
  packages/nextjs/src/server/data/getAuthDataFromRequest.ts
Due: npx eslint --fix, npx prettier --write

always treat the file as the source of truth
  packages/nextjs/src/app-router/client/accountless-cookie-sync.tsx
  packages/nextjs/src/app-router/server-actions.ts
  packages/nextjs/src/app-router/server/ClerkProvider.tsx
  packages/nextjs/src/server/accountless.ts
  packages/nextjs/src/server/clerkMiddleware.ts
  packages/nextjs/src/server/data/getAuthDataFromRequest.ts
Due: npx eslint --fix, npx prettier --write

ci(repo): Version packages (#4538)
  .changeset/few-crews-dress.md
  .changeset/nervous-numbers-fix.md
  .changeset/purple-seals-destroy.md
  .changeset/wild-schools-vanish.md
  package-lock.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
Due: npx prettier --write

chore(shared,types): Replace `veryStrict` with `strictMfa` configuration for reverification
  .changeset/poor-gorillas-complain.md
  packages/react/src/hooks/__tests__/useAuth.test.ts
  packages/shared/src/authorization.ts
  packages/types/src/sessionVerification.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js,types): Introduce `experimental.rethrowOfflineNetworkErrors` Clerk option to enable rethrowing network errors (#4525)
  .changeset/fifty-bananas-dress.md
  packages/clerk-js/src/core/resources/Base.ts
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Add jsdocs to `Customizable` type
  packages/clerk-js/src/ui/customizables/makeCustomizable.tsx
Due: npx eslint --fix, npx prettier --write

add changeset
  .changeset/large-mangos-lay.md
Due: npx prettier --write

fix(elements): Export sign-in captcha
  packages/elements/src/react/sign-in/index.ts
Due: npx eslint --fix, npx prettier --write

add changeset
  .changeset/swift-camels-explode.md
Due: npx prettier --write

chore(e2e): Skip reverification.test.ts
  .changeset/weak-cobras-buy.md
  integration/tests/reverification.test.ts
Due: npx eslint --fix, npx prettier --write

chore(e2e): Skip reverification.test.ts (#4549)
  .changeset/weak-cobras-buy.md
  integration/tests/reverification.test.ts
Due: npx eslint --fix, npx prettier --write

fix(tests): Use default Playwright reporters
  integration/playwright.config.ts
Due: npx eslint --fix, npx prettier --write

Path conditions:
  npx eslint --fix: any of: *.{mjs,js,jsx,ts,tsx}
  npx prettier --write: (any of: *.{mjs,js,jsx,ts,tsx}) or (any of: *.{json,md,mdx})
