Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

chore: Move expo-passkeys-module to packages folder
  packages/clerk-expo-passkeys/.eslintrc.js
  packages/clerk-expo-passkeys/.gitignore
  packages/clerk-expo-passkeys/.npmignore
  packages/clerk-expo-passkeys/README.md
  packages/clerk-expo-passkeys/android/build.gradle
  packages/clerk-expo-passkeys/android/src/main/AndroidManifest.xml
  packages/clerk-expo-passkeys/android/src/main/java/expo/modules/clerkexpopasskeys/ClerkExpoPasskeysExceptions.kt
  packages/clerk-expo-passkeys/android/src/main/java/expo/modules/clerkexpopasskeys/ClerkExpoPasskeysModule.kt
  packages/clerk-expo-passkeys/android/src/main/java/expo/modules/clerkexpopasskeys/CredentialManager.kt
  packages/clerk-expo-passkeys/app.json
  packages/clerk-expo-passkeys/example/.env.example
  packages/clerk-expo-passkeys/example/.gitignore
  packages/clerk-expo-passkeys/example/App.tsx
  packages/clerk-expo-passkeys/example/app.json
  packages/clerk-expo-passkeys/example/assets/adaptive-icon.png
  packages/clerk-expo-passkeys/example/assets/favicon.png
  packages/clerk-expo-passkeys/example/assets/icon.png
  packages/clerk-expo-passkeys/example/assets/splash.png
  packages/clerk-expo-passkeys/example/babel.config.js
  packages/clerk-expo-passkeys/example/metro.config.js
  packages/clerk-expo-passkeys/example/package-lock.json
  packages/clerk-expo-passkeys/example/package.json
  packages/clerk-expo-passkeys/example/tsconfig.json
  packages/clerk-expo-passkeys/example/webpack.config.js
  packages/clerk-expo-passkeys/expo-module.config.json
  packages/clerk-expo-passkeys/ios/AccountManager.swift
  packages/clerk-expo-passkeys/ios/ClerkExpoPasskeys.podspec
  packages/clerk-expo-passkeys/ios/ClerkExpoPasskeysModule.swift
  packages/clerk-expo-passkeys/ios/Helpers.swift
  packages/clerk-expo-passkeys/package-lock.json
  packages/clerk-expo-passkeys/package.json
  packages/clerk-expo-passkeys/src/ClerkExpoPasskeys.types.ts
  packages/clerk-expo-passkeys/src/ClerkExpoPasskeysModule.ts
  packages/clerk-expo-passkeys/src/ClerkExpoPasskeysModule.web.ts
  packages/clerk-expo-passkeys/src/index.ts
  packages/clerk-expo-passkeys/src/utils.ts
  packages/clerk-expo-passkeys/tsconfig.json
Due: npx eslint --fix, npx prettier --write

chore: Add changesets
  .changeset/happy-pants-fetch.md
Due: npx prettier --write

chore: Add to gitignore ios android
  packages/expo/modules/clerk-expo-passkeys/example/.gitignore
Due: none

feat: Attempt to fix auto fill
  packages/expo/modules/clerk-expo-passkeys/ios/AccountManager.swift
  packages/expo/modules/clerk-expo-passkeys/src/IOSPasskeys.ts
  packages/expo/modules/clerk-expo-passkeys/src/index.ts
Due: npx eslint --fix, npx prettier --write

chore: Fix type error
  packages/expo/modules/clerk-expo-passkeys/package-lock.json
  packages/expo/modules/clerk-expo-passkeys/src/ClerkExpoPasskeys.types.ts
Due: npx eslint --fix, npx prettier --write

chore: Update expo to latest snapshot
  packages/expo/modules/clerk-expo-passkeys/example/package-lock.json
  packages/expo/modules/clerk-expo-passkeys/example/package.json
Due: npx prettier --write

chore: Add two separate functions for login in example
  packages/expo/modules/clerk-expo-passkeys/example/App.tsx
Due: npx eslint --fix, npx prettier --write

chore: Simplify code by removing IOS and Android passkeys file
  packages/expo/modules/clerk-expo-passkeys/example/App.tsx
  packages/expo/modules/clerk-expo-passkeys/src/AndroidPasskeys.ts
  packages/expo/modules/clerk-expo-passkeys/src/IOSPasskeys.ts
  packages/expo/modules/clerk-expo-passkeys/src/index.ts
Due: npx eslint --fix, npx prettier --write

chore: Refactor app.tsx of passkeys example
  packages/expo/modules/clerk-expo-passkeys/example/App.tsx
Due: npx eslint --fix, npx prettier --write

chore(clerk-expo-passkeys): Decrease version
  packages/clerk-expo-passkeys/package.json
Due: npx prettier --write

chore: Update to latest snapshot
  packages/expo/modules/clerk-expo-passkeys/example/package.json
Due: npx prettier --write

chore: Update code to use the latest passkeys snapshot
  packages/expo/modules/clerk-expo-passkeys/example/App.tsx
  packages/expo/modules/clerk-expo-passkeys/example/package-lock.json
  packages/expo/modules/clerk-expo-passkeys/example/package.json
  packages/expo/modules/clerk-expo-passkeys/package-lock.json
  packages/expo/modules/clerk-expo-passkeys/package.json
  packages/expo/modules/clerk-expo-passkeys/src/index.ts
Due: npx eslint --fix, npx prettier --write

chore: Remove unsused types
  packages/expo/modules/clerk-expo-passkeys/src/index.ts
  packages/expo/modules/clerk-expo-passkeys/src/utils.ts
Due: npx eslint --fix, npx prettier --write

chore: Refactor passkeys index file
  packages/expo/modules/clerk-expo-passkeys/src/IOSPasskeys.ts
  packages/expo/modules/clerk-expo-passkeys/src/index.ts
Due: npx eslint --fix, npx prettier --write

chore: Export all passkeys functions from a passkeys variable
  packages/expo/modules/clerk-expo-passkeys/example/App.tsx
  packages/expo/modules/clerk-expo-passkeys/src/ClerkExpoPasskeys.types.ts
  packages/expo/modules/clerk-expo-passkeys/src/index.ts
Due: npx eslint --fix, npx prettier --write

chore: Remove console.log
  packages/expo/modules/clerk-expo-passkeys/src/index.ts
Due: npx eslint --fix, npx prettier --write

chore: Update changeset
  .changeset/happy-pants-fetch.md
Due: npx prettier --write

chore: Remove console logs from example
  packages/expo/modules/clerk-expo-passkeys/example/App.tsx
Due: npx eslint --fix, npx prettier --write

chore: package lock updated
  packages/expo/modules/clerk-expo-passkeys/example/package-lock.json
Due: npx prettier --write

chore: Update versions
  packages/expo-passkeys/android/build.gradle
  packages/expo-passkeys/app.json
Due: npx prettier --write

attempt to resolve issues with package-lock.json
  package-lock.json
  package.json
Due: npx prettier --write

chore: Rename folder to expo-passkeys
  packages/clerk-js/bundlewatch.config.json
  packages/expo-passkeys/.eslintrc.js
  packages/expo-passkeys/.gitignore
  packages/expo-passkeys/.npmignore
  packages/expo-passkeys/README.md
  packages/expo-passkeys/android/build.gradle
  packages/expo-passkeys/android/src/main/AndroidManifest.xml
  packages/expo-passkeys/android/src/main/java/expo/modules/clerkexpopasskeys/ClerkExpoPasskeysExceptions.kt
  packages/expo-passkeys/android/src/main/java/expo/modules/clerkexpopasskeys/ClerkExpoPasskeysModule.kt
  packages/expo-passkeys/android/src/main/java/expo/modules/clerkexpopasskeys/CredentialManager.kt
  packages/expo-passkeys/app.json
  packages/expo-passkeys/example/.env.example
  packages/expo-passkeys/example/.gitignore
  packages/expo-passkeys/example/App.tsx
  packages/expo-passkeys/example/app.json
  packages/expo-passkeys/example/assets/adaptive-icon.png
  packages/expo-passkeys/example/assets/favicon.png
  packages/expo-passkeys/example/assets/icon.png
  packages/expo-passkeys/example/assets/splash.png
  packages/expo-passkeys/example/babel.config.js
  packages/expo-passkeys/example/metro.config.js
  packages/expo-passkeys/example/package-lock.json
  packages/expo-passkeys/example/package.json
  packages/expo-passkeys/example/tsconfig.json
  packages/expo-passkeys/example/webpack.config.js
  packages/expo-passkeys/expo-module.config.json
  packages/expo-passkeys/ios/AccountManager.swift
  packages/expo-passkeys/ios/ClerkExpoPasskeys.podspec
  packages/expo-passkeys/ios/ClerkExpoPasskeysModule.swift
  packages/expo-passkeys/ios/Helpers.swift
  packages/expo-passkeys/package.json
  packages/expo-passkeys/src/ClerkExpoPasskeys.types.ts
  packages/expo-passkeys/src/ClerkExpoPasskeysModule.ts
  packages/expo-passkeys/src/ClerkExpoPasskeysModule.web.ts
  packages/expo-passkeys/src/index.ts
  packages/expo-passkeys/src/utils.ts
  packages/expo-passkeys/tsconfig.json
Due: npx eslint --fix, npx prettier --write

chore:Attempt to fix The inferred type of this node exceeds the maximum length the compiler will serialize..
  packages/elements/src/react/sign-in/context/router.context.ts
  packages/elements/src/react/sign-up/context/router.context.ts
Due: npx eslint --fix, npx prettier --write

chore: Address lint comments
  packages/clerk-js/src/core/auth/AuthCookieService.ts
  packages/clerk-js/src/core/auth/cookies/devBrowser.ts
  packages/clerk-js/src/core/auth/devBrowser.ts
  packages/clerk-js/src/ui/new/index.tsx
  packages/clerk-js/src/ui/new/renderer.tsx
  packages/eslint-config-custom/package.json
  packages/eslint-config-custom/typescript.js
  packages/types/src/organizationMembership.ts
  packages/types/src/utils.ts
Due: npx eslint --fix, npx prettier --write

chore: Polish readme
  packages/clerk-expo-passkeys/README.md
Due: npx prettier --write

fix(repo): Update eslint deps
  package.json
  packages/eslint-config-custom/package.json
  packages/types/src/organizationMembership.ts
  packages/types/src/utils.ts
Due: npx eslint --fix, npx prettier --write

fix(repo): Resolve eslint errors
  packages/clerk-expo-passkeys/.eslintrc.js
  packages/clerk-expo-passkeys/src/ClerkExpoPasskeys.types.ts
  packages/clerk-expo-passkeys/src/index.ts
  packages/clerk-js/src/ui/new/index.tsx
  packages/clerk-js/src/ui/new/renderer.tsx
  packages/dev-cli/.eslintrc.cjs
  packages/eslint-config-custom/package.json
  packages/shared/package.json
Due: npx eslint --fix, npx prettier --write

chore: Remove unnecessary deps
  packages/expo/package.json
  packages/tailwindcss-transformer/package.json
Due: npx prettier --write

Update .changeset/happy-pants-fetch.md
  .changeset/happy-pants-fetch.md
Due: npx prettier --write

chore: Attempt to fix Parameter 'factor' implicitly has an 'any' type
  packages/elements/src/internals/machines/sign-in/verification.machine.ts
Due: npx eslint --fix, npx prettier --write

chore: Make linter happy
  packages/clerk-js/src/core/auth/AuthCookieService.ts
  packages/clerk-js/src/core/auth/cookies/devBrowser.ts
  packages/clerk-js/src/core/auth/devBrowser.ts
  packages/eslint-config-custom/typescript.js
  packages/nextjs/src/utils/serverRedirectWithAuth.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): increase bundle size of coinbase
  packages/clerk-js/bundlewatch.config.json
Due: npx prettier --write

chore: Address lint comments
  packages/express/src/authenticateRequest.ts
  packages/nextjs/src/utils/serverRedirectWithAuth.ts
  packages/types/src/utils.ts
Due: npx eslint --fix, npx prettier --write

chore: Update package-lock to match the one in main
  packages/clerk-js/src/ui/elements/withAvatarShimmer.tsx
Due: npx eslint --fix, npx prettier --write

fix(repo): Resolve build errors
  packages/clerk-expo-passkeys/src/index.ts
Due: npx eslint --fix, npx prettier --write

fix(repo): Resolve build errors
  package.json
  packages/clerk-expo-passkeys/package-lock.json
  packages/clerk-js/src/ui/elements/withAvatarShimmer.tsx
  packages/elements/package.json
  packages/expo/package.json
  packages/express/src/authenticateRequest.ts
  packages/tailwindcss-transformer/package.json
Due: npx eslint --fix, npx prettier --write

chore: Revert Xstate related changes + revert version bump
  packages/elements/src/internals/machines/sign-in/router.machine.ts
  packages/elements/src/internals/machines/sign-in/verification.machine.ts
  packages/elements/src/react/sign-in/context/router.context.ts
  packages/elements/src/react/sign-up/context/router.context.ts
Due: npx eslint --fix, npx prettier --write

chore: Rename package to @clerk/expo-passkeys
  .changeset/happy-pants-fetch.md
  packages/clerk-expo-passkeys/package.json
Due: npx prettier --write

chore: Update scripts of expo modules
  packages/expo-passkeys/package.json
Due: npx prettier --write

chore: Fix copyright date
  packages/expo-passkeys/LICENCE
Due: none

Path conditions:
  npx eslint --fix: any of: *.{mjs,js,jsx,ts,tsx}
  npx prettier --write: (any of: *.{mjs,js,jsx,ts,tsx}) or (any of: *.{json,md,mdx})
