Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{mjs,js,jsx,ts,tsx}": ["npx eslint --fix", "npx prettier --write"],
  "*.{json,md,mdx}": ["npx prettier --write"]
}

Sort organizations list in OrganizationSwitcher
  packages/clerk-js/src/ui/components/OrganizationSwitcher/UserMembershipList.tsx
Due: npx eslint --fix, npx prettier --write

Add changeset
  .changeset/cool-laws-remember.md
Due: npx prettier --write

Update .changeset/cool-laws-remember.md
  .changeset/cool-laws-remember.md
Due: npx prettier --write

fix(ui): Removes empty space during continue step (#4239)
  .changeset/tiny-scissors-punch.md
  packages/ui/src/components/sign-up/steps/continue.tsx
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Allow single-character usernames in `<UserProfile />` validation (#4243)
  .changeset/cold-mayflies-happen.md
  packages/clerk-js/src/ui/components/UserProfile/UsernameForm.tsx
Due: npx eslint --fix, npx prettier --write

chore(express): Set default handshake option value to true
  packages/express/src/__tests__/clerkMiddleware.test.ts
  packages/express/src/__tests__/requireAuth.test.ts
  packages/express/src/authenticateRequest.ts
  packages/express/src/types.ts
Due: npx eslint --fix, npx prettier --write

chore(express): Add changeset
  .changeset/quiet-chicken-cover.md
Due: npx prettier --write

init
  packages/ui/src/contexts/AppearanceContext.tsx
  packages/ui/src/primitives/link.tsx
  packages/ui/src/themes/layout.ts
Due: npx eslint --fix, npx prettier --write

chore(express): Set default `enableHandshake` option value to true (#4248)
  .changeset/quiet-chicken-cover.md
  packages/express/src/__tests__/clerkMiddleware.test.ts
  packages/express/src/__tests__/requireAuth.test.ts
  packages/express/src/authenticateRequest.ts
  packages/express/src/types.ts
Due: npx eslint --fix, npx prettier --write

Rebrand assurance to reverification
  packages/shared/src/authorization.ts
  packages/types/src/session.ts
  packages/types/src/sessionVerification.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Navigate to `/choose` when signing out during multi session (#4203)
  .changeset/three-nails-fetch.md
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/components/UserButton/__tests__/UserButton.test.tsx
  packages/clerk-js/src/ui/utils/test/mockHelpers.ts
Due: npx eslint --fix, npx prettier --write

migration-assistant - initial commit
  packages/migration-assistant/LICENSE
  packages/migration-assistant/README.md
Due: npx prettier --write

protectAction and protectComponent for client and protectRoute
  packages/nextjs/src/app-router/server/controlComponents.tsx
  packages/nextjs/src/client-boundary/controlComponents.ts
  packages/nextjs/src/components.client.ts
  packages/nextjs/src/components.server.ts
  packages/nextjs/src/index.ts
  packages/nextjs/src/server/index.ts
  packages/nextjs/src/server/protectAction.ts
  packages/nextjs/src/server/protectRoute.ts
  packages/react/src/components/complementary-components.tsx
  packages/react/src/components/controlComponents.tsx
  packages/react/src/components/index.ts
Due: npx eslint --fix, npx prettier --write

feat(clerk-js): Enable persisted clients by default
  .changeset/shy-sloths-laugh.md
  packages/clerk-js/src/core/clerk.ts
Due: npx eslint --fix, npx prettier --write

update unit tests
  packages/clerk-js/src/core/__tests__/clerk.test.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Handle gracefully yet unknown to our components Web3 providers
  .changeset/hot-pants-change.md
  packages/clerk-js/src/ui/hooks/useEnabledThirdPartyProviders.tsx
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Handle gracefully yet unknown to our components Web3 providers (#4263)
  .changeset/hot-pants-change.md
  packages/clerk-js/src/ui/hooks/useEnabledThirdPartyProviders.tsx
Due: npx eslint --fix, npx prettier --write

update e2e tests
  integration/presets/envs.ts
  integration/presets/longRunningApps.ts
  integration/templates/next-app-router/src/app/layout.tsx
  integration/templates/react-vite/src/client-id.tsx
  integration/templates/react-vite/src/main.tsx
  integration/tests/sign-out-smoke.test.ts
  packages/clerk-js/src/core/clerk.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Handle gracefully yet unknown to our components Web3 providers [backport] (#4263) (#4264)
  .changeset/hot-pants-change.md
  packages/clerk-js/src/ui/hooks/useEnabledThirdPartyProviders.tsx
Due: npx eslint --fix, npx prettier --write

Version Packages - V4 (#4265)
  .changeset/hot-pants-change.md
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
Due: npx prettier --write

Update .changeset/shy-sloths-laugh.md
  .changeset/shy-sloths-laugh.md
Due: npx prettier --write

change name
  integration/presets/envs.ts
  integration/presets/longRunningApps.ts
  integration/tests/sign-out-smoke.test.ts
Due: npx eslint --fix, npx prettier --write

typo
  integration/tests/sign-out-smoke.test.ts
Due: npx eslint --fix, npx prettier --write

feat(clerk-js): Enable persisted clients by default (#4250)
  .changeset/shy-sloths-laugh.md
  integration/presets/envs.ts
  integration/presets/longRunningApps.ts
  integration/templates/next-app-router/src/app/layout.tsx
  integration/templates/react-vite/src/client-id.tsx
  integration/templates/react-vite/src/main.tsx
  integration/tests/sign-out-smoke.test.ts
  packages/clerk-js/src/core/__tests__/clerk.test.ts
  packages/clerk-js/src/core/clerk.ts
Due: npx eslint --fix, npx prettier --write

chore(e2e): Add tests for restricted sign-up mode
  .changeset/sharp-glasses-clap.md
  integration/presets/envs.ts
  integration/testUtils/index.ts
  integration/testUtils/invitationsService.ts
  integration/tests/restricted-mode.test.ts
Due: npx eslint --fix, npx prettier --write

chore(e2e): Add tests for restricted sign-up mode (#4246)
  .changeset/sharp-glasses-clap.md
  integration/presets/envs.ts
  integration/testUtils/index.ts
  integration/testUtils/invitationsService.ts
  integration/tests/restricted-mode.test.ts
Due: npx eslint --fix, npx prettier --write

fix "broken" back button
  packages/clerk-js/src/ui/components/UserVerification/UserVerificationFactorOne.tsx
  packages/clerk-js/src/ui/elements/ErrorCard.tsx
Due: npx eslint --fix, npx prettier --write

feat(clerk-js, types): Trigger UserVerification within UserProfile (#4127)
  .changeset/four-oranges-clap.md
  packages/clerk-js/jest.setup.ts
  packages/clerk-js/src/ui/Components.tsx
  packages/clerk-js/src/ui/common/RemoveResourceForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/AccountPage.tsx
  packages/clerk-js/src/ui/components/UserProfile/ActiveDevicesSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/AddAuthenticatorApp.tsx
  packages/clerk-js/src/ui/components/UserProfile/ConnectedAccountsMenu.tsx
  packages/clerk-js/src/ui/components/UserProfile/ConnectedAccountsSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/DeleteUserForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/EmailForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/MfaBackupCodeCreateForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/MfaPhoneCodeScreen.tsx
  packages/clerk-js/src/ui/components/UserProfile/PasskeySection.tsx
  packages/clerk-js/src/ui/components/UserProfile/PasswordForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/PhoneForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/PhoneSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/UsernameForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/PasskeysSection.test.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/PasswordSection.test.tsx
  packages/clerk-js/src/ui/components/UserVerification/UserVerificationFactorOne.tsx
  packages/clerk-js/src/ui/components/UserVerification/use-after-verification.ts
  packages/clerk-js/src/ui/contexts/ClerkUIComponentsContext.tsx
  packages/clerk-js/src/ui/elements/Action/ActionRoot.tsx
  packages/clerk-js/src/ui/elements/Card/CardRoot.tsx
  packages/clerk-js/src/ui/elements/ErrorCard.tsx
  packages/clerk-js/src/ui/hooks/useAssurance.ts
  packages/clerk-js/src/ui/utils/errorHandler.ts
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

chore(nextjs,react,clerk-js): Drop the mounted variant of `UserVerification`
  packages/clerk-js/src/core/clerk.ts
  packages/nextjs/src/client-boundary/uiComponents.tsx
  packages/nextjs/src/index.ts
  packages/react/src/components/index.ts
  packages/react/src/components/uiComponents.tsx
  packages/react/src/isomorphicClerk.ts
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

Add changeset
  .changeset/breezy-crabs-crash.md
Due: npx prettier --write

bring back the props type
  .changeset/breezy-crabs-crash.md
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

update snapshot
  packages/chrome-extension/src/__tests__/__snapshots__/exports.test.ts.snap
Due: none

chore(nextjs,clerk-react,clerk-js): Drop the mounted variant of `UserVerification` (#4266)
  .changeset/breezy-crabs-crash.md
  packages/chrome-extension/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/clerk-js/src/core/clerk.ts
  packages/nextjs/src/client-boundary/uiComponents.tsx
  packages/nextjs/src/index.ts
  packages/react/src/components/index.ts
  packages/react/src/components/uiComponents.tsx
  packages/react/src/isomorphicClerk.ts
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

make sure the new protectComponent works as the old utils
  integration/presets/envs.ts
  integration/presets/longRunningApps.ts
  integration/templates/next-app-router/src/app/api/settings-protect-wrappers/route.ts
  integration/templates/next-app-router/src/app/protect-wrappers/page-protected/page.tsx
  integration/templates/next-app-router/src/app/settings-protect-wrappers/auth-has/page.tsx
  integration/templates/next-app-router/src/app/settings-protect-wrappers/auth-protect/page.tsx
  integration/templates/next-app-router/src/app/settings-protect-wrappers/rcc-protect/page.tsx
  integration/templates/next-app-router/src/app/settings-protect-wrappers/rsc-protect/page.tsx
  integration/templates/next-app-router/src/app/settings-protect-wrappers/useAuth-has/page.tsx
  integration/tests/next-app/protect-component.test.ts
Due: npx eslint --fix, npx prettier --write

update tests
  packages/clerk-js/src/core/resources/__tests__/Session.test.ts
  packages/react/src/hooks/__tests__/useAuth.test.ts
Due: npx eslint --fix, npx prettier --write

update usage
  packages/clerk-js/src/ui/components/UserVerification/useUserVerificationSession.tsx
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

rename to maxAgeMinutes
  packages/types/src/session.ts
  packages/types/src/sessionVerification.ts
Due: npx eslint --fix, npx prettier --write

rename to maxAgeMinutes
  packages/clerk-js/src/core/resources/Session.ts
  packages/clerk-js/src/ui/components/UserVerification/useUserVerificationSession.tsx
  packages/shared/src/authorization.ts
Due: npx eslint --fix, npx prettier --write
