Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

fix(repo): Set @clerk/types as normal dep
  .changeset/proud-fans-report.md
  package-lock.json
  packages/backend/package.json
  packages/elements/package.json
  packages/expo/package.json
  packages/express/package.json
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/package.json
  packages/nextjs/package.json
  packages/remix/package.json
  packages/sdk-node/package.json
  packages/shared/package.json
Due: npx prettier --write

log nextjs version
  integration/tests/protect.test.ts
Due: npx eslint --fix, npx prettier --write

fix ci nextjs
  .github/workflows/ci.yml
Due: none

fix(repo): Set @clerk/types as normal dep (#3450)
  .changeset/proud-fans-report.md
  package-lock.json
  packages/backend/package.json
  packages/elements/package.json
  packages/expo/package.json
  packages/express/package.json
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/package.json
  packages/nextjs/package.json
  packages/remix/package.json
  packages/sdk-node/package.json
  packages/shared/package.json
Due: npx prettier --write

add comment
  integration/tests/protect.test.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Add descriptor for formatted dates in tables
  .changeset/warm-candles-thank.md
  packages/clerk-js/src/ui/components/OrganizationProfile/ActiveMembersList.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/InvitedMembersList.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/RequestToJoinList.tsx
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/types/src/appearance.ts
Due: npx eslint --fix, npx prettier --write

feat(types): Add support for Enstall OAuth provider
  .changeset/tiny-timers-sit.md
  packages/types/src/oauth.ts
Due: npx eslint --fix, npx prettier --write

feat(types): Add support for Enstall OAuth provider (#3466)
  .changeset/tiny-timers-sit.md
  packages/types/src/oauth.ts
Due: npx eslint --fix, npx prettier --write

ci(*): Add comment for the pinned node version (#3463)
  .github/actions/init/action.yml
Due: none

feat(types): Add support for Enstall OAuth provider (#3466) (#3467)
  .changeset/tiny-timers-sit.md
  .github/actions/init/action.yml
  packages/types/src/oauth.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Add descriptor for formatted dates in tables (#3465)
  .changeset/warm-candles-thank.md
  packages/clerk-js/src/ui/components/OrganizationProfile/ActiveMembersList.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/InvitedMembersList.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/RequestToJoinList.tsx
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/types/src/appearance.ts
Due: npx eslint --fix, npx prettier --write

Update packages/ui/README.md
  packages/ui/README.md
Due: npx prettier --write

Update packages/ui/tsup.config.ts
  packages/ui/tsup.config.ts
Due: npx eslint --fix, npx prettier --write

update export strategy
  packages/ui/src/primitives/card.tsx
  packages/ui/src/primitives/connection.tsx
  packages/ui/src/primitives/field.tsx
Due: npx eslint --fix, npx prettier --write

Version Packages - V4 (#3468)
  .changeset/tiny-timers-sit.md
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Due: npx prettier --write

feat(ui): Add theme builder functionality (#3458)
  .changeset/tough-lamps-itch.md
  packages/ui/README.md
  packages/ui/example/app/theme-builder.tsx
  packages/ui/example/app/utils.ts
  packages/ui/src/card.tsx
  packages/ui/src/components/sign-in/index.tsx
  packages/ui/src/components/sign-up/index.tsx
  packages/ui/src/connection.tsx
  packages/ui/src/field.tsx
  packages/ui/src/global.css
  packages/ui/src/input.tsx
  packages/ui/src/label.tsx
  packages/ui/src/primitives/button.tsx
  packages/ui/src/primitives/card.tsx
  packages/ui/src/primitives/connection.tsx
  packages/ui/src/primitives/field.tsx
  packages/ui/src/primitives/logo.tsx
  packages/ui/src/primitives/seperator.tsx
  packages/ui/src/tailwind.config.ts
  packages/ui/theme-builder/.eslintrc.js
  packages/ui/theme-builder/.gitignore
  packages/ui/theme-builder/README.md
  packages/ui/theme-builder/app/appearance-toggle.tsx
  packages/ui/theme-builder/app/color-picker.tsx
  packages/ui/theme-builder/app/favicon.ico
  packages/ui/theme-builder/app/generate-colors.ts
  packages/ui/theme-builder/app/globals.css
  packages/ui/theme-builder/app/layout.tsx
  packages/ui/theme-builder/app/page.tsx
  packages/ui/theme-builder/app/theme-builder.tsx
  packages/ui/theme-builder/app/theme-dialog.tsx
  packages/ui/theme-builder/next.config.mjs
  packages/ui/theme-builder/package-lock.json
  packages/ui/theme-builder/package.json
  packages/ui/theme-builder/postcss.config.mjs
  packages/ui/theme-builder/tailwind.config.ts
  packages/ui/theme-builder/tsconfig.json
  packages/ui/tsup.config.ts
Due: npx eslint --fix, npx prettier --write

install elements
  package-lock.json
  packages/ui/package.json
Due: npx prettier --write

lift theme-builder to playground, make ui a package
  package-lock.json
  package.json
  packages/ui/package.json
  playground/theme-builder/.eslintrc.js
  playground/theme-builder/.gitignore
  playground/theme-builder/README.md
  playground/theme-builder/app/appearance-toggle.tsx
  playground/theme-builder/app/color-picker.tsx
  playground/theme-builder/app/favicon.ico
  playground/theme-builder/app/generate-colors.ts
  playground/theme-builder/app/globals.css
  playground/theme-builder/app/layout.tsx
  playground/theme-builder/app/page.tsx
  playground/theme-builder/app/theme-builder.tsx
  playground/theme-builder/app/theme-dialog.tsx
  playground/theme-builder/next.config.mjs
  playground/theme-builder/package-lock.json
  playground/theme-builder/package.json
  playground/theme-builder/postcss.config.mjs
  playground/theme-builder/tailwind.config.ts
  playground/theme-builder/tsconfig.json
Due: npx eslint --fix, npx prettier --write

Update playground/theme-builder/app/theme-builder.tsx
  playground/theme-builder/app/theme-builder.tsx
Due: npx eslint --fix, npx prettier --write

rework package setup
  package-lock.json
  packages/ui/package.json
  packages/ui/src/components/sign-in/index.tsx
  packages/ui/theme-builder/app/layout.tsx
  packages/ui/theme-builder/app/theme-builder.tsx
  packages/ui/theme-builder/middleware.ts
  packages/ui/theme-builder/package-lock.json
  packages/ui/theme-builder/package.json
Due: npx eslint --fix, npx prettier --write

Update sign up
  packages/ui/src/components/sign-up/index.tsx
  packages/ui/src/components/sign-up/sign.up.tsx
  packages/ui/src/primitives/connection.tsx
  packages/ui/theme-builder/README.md
  packages/ui/theme-builder/package-lock.json
Due: npx eslint --fix, npx prettier --write

update sign in export
  packages/ui/src/components/sign-in/index.tsx
  packages/ui/src/components/sign-in/sign-in.tsx
  packages/ui/src/components/sign-up/index.tsx
  packages/ui/src/components/sign-up/sign-up.tsx
Due: npx eslint --fix, npx prettier --write

Update README.md
  packages/ui/theme-builder/README.md
Due: npx prettier --write

add empty changeset
  .changeset/six-glasses-draw.md
Due: npx prettier --write

feat(ui): Add scaling unit
  packages/ui/src/global.css
  packages/ui/src/tailwind.config.ts
  packages/ui/theme-builder/app/theme-builder.tsx
Due: npx eslint --fix, npx prettier --write

fix(elements): Forms unable to submit on re-mount
  .changeset/itchy-mirrors-decide.md
  packages/elements/examples/nextjs/app/sign-in/[[...sign-in]]/page.tsx
  packages/elements/examples/nextjs/app/sign-up/[[...sign-up]]/page.tsx
  packages/elements/src/internals/machines/sign-in/router.machine.ts
  packages/elements/src/internals/machines/sign-in/router.types.ts
  packages/elements/src/internals/machines/sign-up/router.machine.ts
  packages/elements/src/internals/machines/sign-up/router.types.ts
  packages/elements/src/internals/machines/types/router.types.ts
  packages/elements/src/react/sign-in/root.tsx
  packages/elements/src/react/sign-up/root.tsx
Due: npx eslint --fix, npx prettier --write

chore(elements): Revert continueWithEmail initial state
  packages/elements/examples/nextjs/app/sign-in/[[...sign-in]]/page.tsx
Due: npx eslint --fix, npx prettier --write

update scale
  packages/ui/src/primitives/button.tsx
  packages/ui/src/tailwind.config.ts
  packages/ui/theme-builder/app/theme-builder.tsx
Due: npx eslint --fix, npx prettier --write

fix(elements): Ensure missing passwordSettings don't throw
  .changeset/strong-weeks-destroy.md
  packages/elements/src/react/hooks/use-password.hook.ts
Due: npx eslint --fix, npx prettier --write

feat(elements): Initial virtual router (#3461)
  .changeset/lemon-crews-hammer.md
  packages/elements/examples/nextjs/app/modal/page.tsx
  packages/elements/examples/nextjs/app/page.tsx
  packages/elements/examples/nextjs/package.json
  packages/elements/src/internals/constants/index.ts
  packages/elements/src/internals/machines/sign-in/router.machine.ts
  packages/elements/src/internals/machines/sign-up/router.machine.ts
  packages/elements/src/internals/machines/third-party/third-party.actors.ts
  packages/elements/src/internals/machines/third-party/third-party.machine.ts
  packages/elements/src/react/router/__tests__/router.test.ts
  packages/elements/src/react/router/index.ts
  packages/elements/src/react/router/next.ts
  packages/elements/src/react/router/react.tsx
  packages/elements/src/react/router/router.ts
  packages/elements/src/react/router/virtual.ts
  packages/elements/src/react/sign-in/root.tsx
  packages/elements/src/react/sign-up/root.tsx
Due: npx eslint --fix, npx prettier --write

rename to generateColorScale
  packages/ui/src/tailwind.config.ts
Due: npx eslint --fix, npx prettier --write

make number input
  packages/ui/theme-builder/app/generate-colors.ts
  packages/ui/theme-builder/app/theme-builder.tsx
Due: npx eslint --fix, npx prettier --write

add empty changeset
  .changeset/violet-eyes-help.md
Due: npx prettier --write

fix spacing
  packages/ui/theme-builder/app/theme-builder.tsx
Due: npx eslint --fix, npx prettier --write

fix(elements): Ensure missing passwordSettings don't throw (#3474)
  .changeset/strong-weeks-destroy.md
  packages/elements/src/react/hooks/use-password.hook.ts
Due: npx eslint --fix, npx prettier --write

cleanup
  packages/ui/theme-builder/app/theme-builder.tsx
Due: npx eslint --fix, npx prettier --write

update to space scaling unit
  packages/ui/src/global.css
  packages/ui/src/tailwind.config.ts
  packages/ui/theme-builder/app/generate-colors.ts
  packages/ui/theme-builder/app/theme-builder.tsx
Due: npx eslint --fix, npx prettier --write

add deploy script for ui/theme-builder
  packages/ui/theme-builder/README.md
  packages/ui/theme-builder/package-lock.json
  packages/ui/theme-builder/package.json
  packages/ui/theme-builder/scripts/deploy.mjs
Due: npx eslint --fix, npx prettier --write

Path conditions:
  npx eslint --fix: any of: *.{mjs,js,jsx,ts,tsx}
  npx prettier --write: (any of: *.{mjs,js,jsx,ts,tsx}) or (any of: *.{json,md,mdx})
