Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

feat(clerk-expo): Add expo data to request headers
  package-lock.json
  packages/expo/package.json
  packages/expo/src/singleton.ts
Due: npx eslint --fix, npx prettier --write

feat(clerk-js): Show footer pages along clerk tag
  .changeset/neat-mice-invite.md
  packages/clerk-js/src/ui/components/SignIn/AlternativeMethods.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorOnePasswordCard.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorTwoAlternativeMethods.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorTwoBackupCodeCard.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpContinue.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpStart.tsx
  packages/clerk-js/src/ui/elements/Card/CardClerkAndPagesTag.tsx
  packages/clerk-js/src/ui/elements/Card/CardFooter.tsx
  packages/clerk-js/src/ui/elements/Card/index.ts
  packages/clerk-js/src/ui/elements/ErrorCard.tsx
  packages/clerk-js/src/ui/elements/Navbar.tsx
  packages/clerk-js/src/ui/elements/PopoverCard.tsx
  packages/clerk-js/src/ui/elements/PoweredByClerk.tsx
  packages/clerk-js/src/ui/elements/VerificationCodeCard.tsx
  packages/clerk-js/src/ui/elements/VerificationLinkCard.tsx
  packages/clerk-js/src/ui/elements/index.ts
  playground/nextjs/pages/_app.tsx
Due: npx eslint --fix, npx prettier --write

fix(upgrade): Implement 'virtualization' on expandable list, fix re-render issue, fix ignore issues
  package-lock.json
  packages/upgrade/package.json
  packages/upgrade/source/app.js
  packages/upgrade/source/scan.js
  packages/upgrade/source/util/expandable-list.js
  packages/upgrade/test.js
Due: npx eslint --fix, npx prettier --write

fix(upgrade): Console log :hocho:
  packages/upgrade/source/app.js
Due: npx eslint --fix, npx prettier --write

feat(backend): Replace enums with `as const` objects (#2516)
  .changeset/many-moons-matter.md
  packages/backend/src/api/resources/JSON.ts
  packages/backend/src/errors.ts
  packages/backend/src/tokens/authStatus.ts
Due: npx eslint --fix, npx prettier --write

fix(upgrade): Add progress bar to scan process, copy edits based on alexis feedback
  package-lock.json
  packages/upgrade/package.json
  packages/upgrade/source/app.js
  packages/upgrade/source/scan.js
  packages/upgrade/source/util/expandable-list.js
Due: npx eslint --fix, npx prettier --write

fix(upgrade): Add cool big text, navigation instructions
  package-lock.json
  packages/upgrade/package.json
  packages/upgrade/source/app.js
  packages/upgrade/source/util/expandable-list.js
Due: npx eslint --fix, npx prettier --write

fix(clerk-react): Fix routing strategy priority when it's directly passed to the component
  packages/react/src/hooks/__tests__/__snapshots__/useRoutingProps.test.tsx.snap
  packages/react/src/hooks/__tests__/useRoutingProps.test.tsx
  packages/react/src/hooks/useRoutingProps.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Add Changeset
  .changeset/tender-phones-explain.md
Due: npx prettier --write

chore(clerk-js): Added size hint for the avatar uploader
  packages/clerk-js/src/ui/elements/AvatarUploader.tsx
  packages/localizations/src/en-US.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Add Changeset
  .changeset/weak-trees-kneel.md
Due: npx prettier --write

chore(clerk-js): Fix Check icon stroke color
  packages/clerk-js/src/ui/icons/check.svg
Due: none

chore(repo): Add Changeset
  .changeset/beige-stingrays-explode.md
Due: npx prettier --write

fix(localizations): Review ko-KR strings
  .changeset/seven-tables-tan.md
  packages/localizations/src/ko-KR.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Update md files in 'common' folder
  packages/upgrade/source/versions/v5/common/api-key-to-secret-key.md
  packages/upgrade/source/versions/v5/common/clerkprovider-frontendapi.md
  packages/upgrade/source/versions/v5/common/frontend-api-to-publishable-key.md
  packages/upgrade/source/versions/v5/common/handlemagiclinkverification.md
  packages/upgrade/source/versions/v5/common/ismagiclinkerror.md
  packages/upgrade/source/versions/v5/common/magiclinkerror.md
  packages/upgrade/source/versions/v5/common/magiclinkerrorcode.md
  packages/upgrade/source/versions/v5/common/navigate-to-routerpush-routerreplace.md
  packages/upgrade/source/versions/v5/common/setsession.md
  packages/upgrade/source/versions/v5/common/usemagiclink.md
Due: npx prettier --write

fix(clerk-js): Fix OrganizationProfile General page path when reordering
  .changeset/stale-hats-jump.md
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationProfileRoutes.tsx
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Fix OrganizationProfile General page path when reordering (#2529)
  .changeset/stale-hats-jump.md
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationProfileRoutes.tsx
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Fix Check icon stroke color (#2532)
  .changeset/beige-stingrays-explode.md
  packages/clerk-js/src/ui/icons/check.svg
Due: npx prettier --write

chore(clerk-js): Added size hint to the avatar uploader (#2531)
  .changeset/weak-trees-kneel.md
  packages/clerk-js/src/ui/elements/AvatarUploader.tsx
  packages/localizations/src/en-US.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Remove old Navbar from Custom Pages (#2523)
  .changeset/pretty-owls-switch.md
  packages/clerk-js/src/ui/common/CustomPageContentContainer.tsx
Due: npx eslint --fix, npx prettier --write

feat(clerk-js): Show footer pages along clerk tag (#2520)
  .changeset/neat-mice-invite.md
  packages/clerk-js/src/ui/components/SignIn/AlternativeMethods.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorOnePasswordCard.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorTwoAlternativeMethods.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorTwoBackupCodeCard.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpContinue.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpStart.tsx
  packages/clerk-js/src/ui/elements/Card/CardClerkAndPagesTag.tsx
  packages/clerk-js/src/ui/elements/Card/CardFooter.tsx
  packages/clerk-js/src/ui/elements/Card/index.ts
  packages/clerk-js/src/ui/elements/ErrorCard.tsx
  packages/clerk-js/src/ui/elements/Navbar.tsx
  packages/clerk-js/src/ui/elements/PopoverCard.tsx
  packages/clerk-js/src/ui/elements/PoweredByClerk.tsx
  packages/clerk-js/src/ui/elements/VerificationCodeCard.tsx
  packages/clerk-js/src/ui/elements/VerificationLinkCard.tsx
  packages/clerk-js/src/ui/elements/index.ts
  playground/nextjs/pages/_app.tsx
Due: npx eslint --fix, npx prettier --write

chore(repo): More updates
  packages/upgrade/source/versions/v5/backend/createclerkclient-apikey.md
  packages/upgrade/source/versions/v5/backend/createclerkclient-frontendapi.md
  packages/upgrade/source/versions/v5/common/api-key-to-secret-key.md
  packages/upgrade/source/versions/v5/common/clerkprovider-frontendapi.md
  packages/upgrade/source/versions/v5/common/frontend-api-to-publishable-key.md
  packages/upgrade/source/versions/v5/common/setsession.md
  packages/upgrade/source/versions/v5/node/setclerkapikey.md
Due: npx prettier --write

Create nervous-kings-deny.md
  .changeset/nervous-kings-deny.md
Due: npx prettier --write

fix(backend): Fix minor misalignment's with the User FAPI and BAPI classes (#2493)
  .changeset/early-carpets-fly.md
  packages/backend/src/api/resources/User.ts
Due: npx eslint --fix, npx prettier --write

feat(repo): Disable @canary from release/v4 (#2509)
  .changeset/long-scissors-trade.md
  .github/workflows/release-canary.yml
Due: npx prettier --write

feat(repo): Enable canary releases on main (#2510)
  .changeset/olive-beers-scream.md
  .github/workflows/release-canary.yml
Due: npx prettier --write

chore(repo): Force canary release even if in pre mode
  scripts/canary.mjs
Due: npx eslint --fix, npx prettier --write

fix(backend): Fix `getToken()` from `getAuth()` return value in v5
  .changeset/eight-cherries-tan.md
  packages/backend/src/api/endpoints/SessionApi.ts
  packages/backend/src/tokens/authObjects.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Correctly set registry-url for canary release
  .github/workflows/release-canary.yml
Due: none

chore(repo): More updates
  packages/upgrade/source/versions/v5/backend/clerk-import.md
  packages/upgrade/source/versions/v5/backend/clockskewinseconds.md
  packages/upgrade/source/versions/v5/backend/getpendingorganizationinvitationlist.md
  packages/upgrade/source/versions/v5/backend/pkgversion.md
Due: npx prettier --write

fix(localizations): Improve ko-KR strings (#2533)
  .changeset/seven-tables-tan.md
  packages/localizations/src/ko-KR.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Remove invalid stuff
  packages/upgrade/source/versions/v5/node/cjs-esm-instance.md
  packages/upgrade/source/versions/v5/node/package-rename.md
Due: npx prettier --write

chore(clerk-expo): Reduce data sent
  packages/expo/src/singleton.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Fix edit password icon
  .changeset/ninety-apricots-yell.md
  packages/clerk-js/src/ui/components/UserProfile/PasswordSection.tsx
  packages/clerk-js/src/ui/elements/Section.tsx
Due: npx eslint --fix, npx prettier --write

chore(repo): Small typo update
  packages/upgrade/README.md
Due: npx prettier --write

fix(localizations): Fix korean localization code formatting
  .changeset/kind-eagles-hope.md
  packages/localizations/src/ko-KR.ts
Due: npx eslint --fix, npx prettier --write

fix(localizations): Fix korean localization code formatting (#2540)
  .changeset/kind-eagles-hope.md
  packages/localizations/src/ko-KR.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Remove 'auto !important' from fontSmoothing variable
  .changeset/selfish-pugs-repair.md
  packages/clerk-js/src/ui/customizables/parseVariables.ts
  packages/clerk-js/src/ui/foundations/defaultFoundations.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Fix edit password icon (#2538)
  .changeset/ninety-apricots-yell.md
  packages/clerk-js/src/ui/components/UserProfile/PasswordSection.tsx
  packages/clerk-js/src/ui/elements/Section.tsx
Due: npx eslint --fix, npx prettier --write

Path conditions:
  npx eslint --fix: any of: *.{mjs,js,jsx,ts,tsx}
  npx prettier --write: (any of: *.{mjs,js,jsx,ts,tsx}) or (any of: *.{json,md,mdx})
