Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["npx prettier --write", "npx eslint --fix"],
  "*.{json,md,mdx}": ["npx prettier --write"]
}

chore(clerk-js,types): Convert Saml related types from experimental to stable (#1876)
  .changeset/happy-turkeys-explode.md
  packages/clerk-js/src/core/resources/SamlAccount.ts
  packages/clerk-js/src/core/resources/User.ts
  packages/clerk-js/src/core/resources/UserSettings.ts
  packages/types/src/clerk.ts
  packages/types/src/factors.ts
  packages/types/src/json.ts
  packages/types/src/samlAccount.ts
  packages/types/src/strategies.ts
  packages/types/src/user.ts
  packages/types/src/userSettings.ts
Due: npx prettier --write, npx eslint --fix

chore(clerk-js,types,shared): Deprecate `__unstable` methods for organizations
  .changeset/light-coats-brush.md
  packages/clerk-js/src/core/clerk.ts
  packages/shared/src/hooks/contexts.tsx
  packages/types/src/clerk.ts
Due: npx prettier --write, npx eslint --fix

feat(clerk-js,shared,types): Remove invalid email addresses from input for Organization Invitation
  .changeset/yellow-pumpkins-buy.md
  packages/clerk-js/src/ui/components/OrganizationProfile/InviteMembersForm.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/InviteMembersPage.test.tsx
  packages/shared/src/errors/Error.ts
  packages/types/src/api.ts
  packages/types/src/json.ts
Due: npx prettier --write, npx eslint --fix

build(repo): Narrow Turborepo inputs for tasks
  jest.setup-after-env.ts
  package.json
  packages/backend/turbo.json
  packages/chrome-extension/jest.config.js
  packages/chrome-extension/turbo.json
  packages/clerk-js/jest.config.js
  packages/clerk-js/jest.setup-after-env.ts
  packages/clerk-js/jest.setup.ts
  packages/clerk-js/tsconfig.test.json
  packages/clerk-js/turbo.json
  packages/fastify/turbo.json
  packages/nextjs/turbo.json
  packages/react/jest.config.js
  packages/react/turbo.json
  packages/remix/turbo.json
  packages/sdk-node/jest.config.js
  packages/sdk-node/jest.setup.js
  packages/sdk-node/turbo.json
  packages/shared/jest.config.js
  packages/shared/jest.setup.ts
  packages/shared/turbo.json
  packages/themes/turbo.json
  packages/types/turbo.json
  tsconfig.eslint.json
  turbo.json
Due: npx prettier --write, npx eslint --fix

feat(remix): Refactor `getEnvVariable` (#1862)
  .changeset/thin-geese-peel.md
  packages/remix/src/ssr/authenticateRequest.ts
  packages/remix/src/ssr/getAuth.ts
  packages/remix/src/ssr/rootAuthLoader.ts
  packages/remix/src/ssr/utils.ts
  packages/remix/src/utils.ts
Due: npx prettier --write, npx eslint --fix

build(repo): Consolidate common inputs
  .changeset/dull-ducks-dance.md
  packages/backend/turbo.json
  packages/chrome-extension/turbo.json
  packages/clerk-js/jest.config.js
  packages/clerk-js/jest.jsdom-with-timezone.ts
  packages/clerk-js/turbo.json
  packages/fastify/turbo.json
  packages/nextjs/turbo.json
  packages/react/turbo.json
  packages/remix/turbo.json
  packages/sdk-node/turbo.json
  packages/shared/turbo.json
  packages/themes/turbo.json
  packages/types/turbo.json
  turbo.json
Due: npx prettier --write, npx eslint --fix

chore(clerk-react,shared): Temp fix for ESLint errors
  .changeset/perfect-dots-doubt.md
  packages/react/src/components/controlComponents.tsx
  packages/react/src/components/uiComponents.tsx
  packages/react/src/isomorphicClerk.ts
  packages/react/src/utils/loadClerkJsScript.ts
  packages/shared/src/hooks/useOrganization.tsx
Due: npx prettier --write, npx eslint --fix

chore(clerk-react,shared): Temp fix for ESLint errors
  .changeset/perfect-dots-doubt.md
  packages/backend/src/tokens/factory.ts
  packages/react/src/components/controlComponents.tsx
  packages/react/src/components/uiComponents.tsx
  packages/react/src/isomorphicClerk.ts
  packages/react/src/utils/loadClerkJsScript.ts
  packages/shared/src/hooks/useOrganization.tsx
Due: npx prettier --write, npx eslint --fix

chore(repo): Prepend commit hash with a char in prereleaseTemp
  .changeset/config.json
Due: npx prettier --write

Create five-months-look.md
  .changeset/five-months-look.md
Due: npx prettier --write

chore(repo): Prepend commit hash with a char in prereleaseTemp (#1888)
  .changeset/config.json
  .changeset/five-months-look.md
Due: npx prettier --write

Update light-coats-brush.md
  .changeset/light-coats-brush.md
Due: npx prettier --write

chore(clerk-js,types,shared): Deprecate `__unstable` methods for organizations (#1879)
  .changeset/light-coats-brush.md
  packages/clerk-js/src/core/clerk.ts
  packages/shared/src/hooks/contexts.tsx
  packages/types/src/clerk.ts
Due: npx prettier --write, npx eslint --fix

fix(clerk-js): Incorrect deprecation message for `__unstable__membershipUpdate`
  .changeset/violet-dots-wait.md
  packages/clerk-js/src/core/clerk.ts
Due: npx prettier --write, npx eslint --fix

fix(clerk-js): Incorrect deprecation message for `__unstable__membershipUpdate` (#1889)
  .changeset/violet-dots-wait.md
  packages/clerk-js/src/core/clerk.ts
Due: npx prettier --write, npx eslint --fix

feat(clerk-js): Improve the customization of paginationRowText
  packages/clerk-js/src/ui/elements/Pagination.tsx
  packages/types/src/appearance.ts
Due: npx prettier --write, npx eslint --fix

fix(shared): Add Clerk prefix in deprecation warnings
  .changeset/itchy-olives-pay.md
  packages/shared/src/utils/deprecated.test.ts
  packages/shared/src/utils/deprecated.ts
Due: npx prettier --write, npx eslint --fix

chore(repo): Add provenance to .npmrc
  .npmrc
Due: none

chore(*): Add directory to "repository" key
  .changeset/fast-planes-talk.md
  commitlint.config.js
  packages/backend/package.json
  packages/chrome-extension/package.json
  packages/clerk-js/package.json
  packages/expo/package.json
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/package.json
  packages/nextjs/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/sdk-node/package.json
  packages/shared/package.json
  packages/themes/package.json
  packages/types/package.json
Due: npx prettier --write, npx eslint --fix

chore(repo): Typo fix
  .changeset/fast-planes-talk.md
Due: npx prettier --write

chore(*): Use publishConfig instead
  .changeset/fast-planes-talk.md
  .npmrc
  packages/backend/package.json
  packages/chrome-extension/package.json
  packages/clerk-js/package.json
  packages/expo/package.json
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/package.json
  packages/nextjs/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/sdk-node/package.json
  packages/shared/package.json
  packages/themes/package.json
  packages/types/package.json
Due: npx prettier --write

chore(repo): Remove all gitHead
  .changeset/gorgeous-planes-drive.md
  packages/clerk-js/package.json
  packages/expo/package.json
  packages/gatsby-plugin-clerk/package.json
  packages/nextjs/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/sdk-node/package.json
Due: npx prettier --write

chore(repo): Remove all gitHead (#1892)
  .changeset/gorgeous-planes-drive.md
  packages/clerk-js/package.json
  packages/expo/package.json
  packages/gatsby-plugin-clerk/package.json
  packages/nextjs/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/sdk-node/package.json
Due: npx prettier --write

fix(shared): Add Clerk prefix in deprecation warnings (#1890)
  .changeset/itchy-olives-pay.md
  packages/shared/src/utils/deprecated.test.ts
  packages/shared/src/utils/deprecated.ts
Due: npx prettier --write, npx eslint --fix

feat(clerk-js,shared,types): Remove invalid email addresses from input for Organization Invitation (#1869)
  .changeset/yellow-pumpkins-buy.md
  packages/clerk-js/src/ui/components/OrganizationProfile/InviteMembersForm.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/InviteMembersPage.test.tsx
  packages/shared/src/errors/Error.ts
  packages/types/src/api.ts
  packages/types/src/json.ts
Due: npx prettier --write, npx eslint --fix

chore(repo): Add missing permissions
  .github/workflows/base-build.yml
  .github/workflows/base-registry.yml
  .github/workflows/release-prod.yml
  .github/workflows/release-snapshot.yml
  .github/workflows/release-staging.yml
Due: none

chore(*): Normalize repository.url
  packages/backend/package.json
  packages/chrome-extension/package.json
  packages/clerk-js/package.json
  packages/expo/package.json
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/package.json
  packages/nextjs/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/sdk-node/package.json
  packages/shared/package.json
  packages/themes/package.json
  packages/types/package.json
Due: npx prettier --write

chore(repo): Try not to use provenance in verdaccio
  .github/workflows/base-build.yml
  .github/workflows/base-registry.yml
Due: none

chore(*): Use env var
  .github/workflows/base-build.yml
  .github/workflows/base-registry.yml
  .github/workflows/release-prod.yml
  .github/workflows/release-snapshot.yml
  .github/workflows/release-staging.yml
  packages/backend/package.json
  packages/chrome-extension/package.json
  packages/clerk-js/package.json
  packages/expo/package.json
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/package.json
  packages/nextjs/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/sdk-node/package.json
  packages/shared/package.json
  packages/themes/package.json
  packages/types/package.json
Due: npx prettier --write

fix(clerk-js): Navigate back to the continue step when editing the identifier (#1870)
  .changeset/quiet-points-applaud.md
  packages/clerk-js/src/ui/components/SignUp/SignUp.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpContinue.tsx
Due: npx prettier --write, npx eslint --fix

chore(repo): Move env var around
  .github/workflows/release-prod.yml
  .github/workflows/release-snapshot.yml
  .github/workflows/release-staging.yml
Due: none

Revert "chore(repo): Move env var around"
  .github/workflows/release-prod.yml
  .github/workflows/release-snapshot.yml
  .github/workflows/release-staging.yml
Due: none

feat(shared): Support passing env source into runtime environment helpers
  .changeset/wicked-squids-attend.md
  packages/shared/src/utils/runtimeEnvironment.test.ts
  packages/shared/src/utils/runtimeEnvironment.ts
Due: npx prettier --write, npx eslint --fix

feat(clerk-react,clerk-js): Speed up loading time by depending on initial state set by the worker
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/devBrowserHandler.ts
  packages/clerk-js/src/core/resources/Client.ts
  packages/clerk-js/src/core/resources/Environment.ts
  packages/react/src/utils/loadClerkJsScript.ts
Due: npx prettier --write, npx eslint --fix

chore(repo): Adjust npm scripts
  package.json
Due: npx prettier --write

chore(repo,clerk-js): Update TS to v5 & Update emotion minor (#1877)
  .changeset/spotty-students-tell.md
  package-lock.json
  package.json
  packages/clerk-js/package.json
  packages/clerk-js/src/ui/elements/ArrowBlockButton.tsx
  packages/clerk-js/src/ui/elements/IconButton.tsx
  packages/clerk-js/tsconfig.declarations.json
Due: npx prettier --write, npx eslint --fix

fix(clerk-sdk-node): Remove incorrect type key in package.json
  packages/sdk-node/package.json
Due: npx prettier --write

chore(backend): Fix tests
  packages/backend/src/runtime/index.ts
  packages/backend/tsconfig.test.json
Due: npx prettier --write, npx eslint --fix

chore(shared): Provide better backwards comp
  packages/shared/package.json
Due: npx prettier --write

Create wild-carrots-reply.md
  .changeset/wild-carrots-reply.md
Due: npx prettier --write
