Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

more parsedAppearance usage
  packages/ui/src/components/sign-in/sign-in.tsx
  packages/ui/src/components/sign-in/steps/choose-strategy.tsx
  packages/ui/src/components/sign-in/steps/forgot-password.tsx
  packages/ui/src/components/sign-in/steps/get-help.tsx
  packages/ui/src/components/sign-in/steps/reset-password.tsx
  packages/ui/src/components/sign-in/steps/start.tsx
  packages/ui/src/components/sign-in/steps/verifications.tsx
  packages/ui/src/components/sign-up/steps/continue.tsx
  packages/ui/src/components/sign-up/steps/start.tsx
  packages/ui/src/components/sign-up/steps/verifications.tsx
  packages/ui/src/hooks/use-dev-mode-warning.ts
  packages/ui/src/primitives/card.tsx
Due: npx eslint --fix, npx prettier --write

feat(astro): Add support for custom menu items (#3969)
  .changeset/eighty-timers-march.md
  integration/presets/astro.ts
  integration/templates/astro-node/src/components/CustomUserButton.astro
  integration/templates/astro-node/src/layouts/Layout.astro
  integration/tests/astro/components.test.ts
  packages/astro/.eslintrc.cjs
  packages/astro/src/astro-components/index.ts
  packages/astro/src/astro-components/interactive/InternalUIComponentRenderer.astro
  packages/astro/src/astro-components/interactive/UserButton.astro
  packages/astro/src/astro-components/interactive/UserButton/MenuItemRenderer.astro
  packages/astro/src/astro-components/interactive/UserButton/UserButton.astro
  packages/astro/src/astro-components/interactive/UserButton/UserButtonAction.astro
  packages/astro/src/astro-components/interactive/UserButton/UserButtonLink.astro
  packages/astro/src/astro-components/interactive/UserButton/UserButtonMenuItems.astro
  packages/astro/src/astro-components/interactive/UserButton/UserButtonUserProfilePage.astro
  packages/astro/src/astro-components/interactive/UserButton/index.ts
Due: npx eslint --fix, npx prettier --write

fix(types): Add missing key types
  packages/types/src/localization.ts
Due: npx eslint --fix, npx prettier --write

chore(types): Add changeset
  .changeset/good-mangos-hide.md
Due: npx prettier --write

chore(astro): Make sure hidden attributes are not overridable
  packages/astro/src/astro-components/control/ProtectCSR.astro
  packages/astro/src/astro-components/control/SignedInCSR.astro
  packages/astro/src/astro-components/control/SignedOutCSR.astro
Due: none

chore(astro): Make sure hidden attributes are not overridable in protect csr
  packages/astro/src/astro-components/control/ProtectCSR.astro
Due: none

chore(localization): Remove unused da-DK localization values
  packages/localizations/src/da-DK.ts
  packages/types/src/localization.ts
Due: npx eslint --fix, npx prettier --write

chore(localizations): Update changeset
  .changeset/good-mangos-hide.md
Due: npx prettier --write

chore(localizations): Remove unused Danish localization translations (#3983)
  .changeset/good-mangos-hide.md
  packages/localizations/src/da-DK.ts
Due: npx eslint --fix, npx prettier --write

feat(ui): Add useCard hook
  packages/ui/src/components/sign-in/steps/choose-strategy.tsx
  packages/ui/src/components/sign-in/steps/forgot-password.tsx
  packages/ui/src/components/sign-in/steps/reset-password.tsx
  packages/ui/src/components/sign-in/steps/start.tsx
  packages/ui/src/components/sign-in/steps/verifications.tsx
  packages/ui/src/components/sign-up/steps/continue.tsx
  packages/ui/src/components/sign-up/steps/start.tsx
  packages/ui/src/components/sign-up/steps/verifications.tsx
  packages/ui/src/hooks/use-card.ts
  packages/ui/theme-builder/app/sign-in/[[...sign-in]]/page.tsx
  packages/ui/theme-builder/public/clerk-logo-dark-accent.svg
Due: npx eslint --fix, npx prettier --write

revert signin override
  packages/ui/theme-builder/app/sign-in/[[...sign-in]]/page.tsx
Due: npx eslint --fix, npx prettier --write

chore(ui): Use parsed appearance (#3981)
  packages/ui/src/common/connections.tsx
  packages/ui/src/components/sign-in/sign-in.tsx
  packages/ui/src/components/sign-in/steps/choose-session.tsx
  packages/ui/src/components/sign-in/steps/choose-strategy.tsx
  packages/ui/src/components/sign-in/steps/forgot-password.tsx
  packages/ui/src/components/sign-in/steps/get-help.tsx
  packages/ui/src/components/sign-in/steps/reset-password.tsx
  packages/ui/src/components/sign-in/steps/start.tsx
  packages/ui/src/components/sign-in/steps/verifications.tsx
  packages/ui/src/components/sign-up/steps/continue.tsx
  packages/ui/src/components/sign-up/steps/start.tsx
  packages/ui/src/components/sign-up/steps/verifications.tsx
  packages/ui/src/hooks/use-appearance.ts
  packages/ui/src/hooks/use-dev-mode-warning.ts
  packages/ui/src/primitives/card.tsx
Due: npx eslint --fix, npx prettier --write

update choose session
  packages/ui/src/components/sign-in/sign-in.tsx
  packages/ui/src/components/sign-in/steps/choose-session.tsx
Due: npx eslint --fix, npx prettier --write

add comment
  packages/ui/src/hooks/use-card.ts
Due: npx eslint --fix, npx prettier --write

test(astro): Fix protect CSR tests
  integration/templates/astro-static/src/pages/only-admins.astro
  integration/templates/astro-static/src/pages/only-members.astro
  integration/tests/astro/static.test.ts
Due: npx eslint --fix, npx prettier --write

chore(astro): Formatting fix
  integration/tests/astro/static.test.ts
Due: npx eslint --fix, npx prettier --write

remove return from comment
  packages/ui/src/hooks/use-card.ts
Due: npx eslint --fix, npx prettier --write

feat(ui): Add useCard hook (#3984)
  packages/ui/src/components/sign-in/sign-in.tsx
  packages/ui/src/components/sign-in/steps/choose-session.tsx
  packages/ui/src/components/sign-in/steps/choose-strategy.tsx
  packages/ui/src/components/sign-in/steps/forgot-password.tsx
  packages/ui/src/components/sign-in/steps/reset-password.tsx
  packages/ui/src/components/sign-in/steps/start.tsx
  packages/ui/src/components/sign-in/steps/verifications.tsx
  packages/ui/src/components/sign-up/steps/continue.tsx
  packages/ui/src/components/sign-up/steps/start.tsx
  packages/ui/src/components/sign-up/steps/verifications.tsx
  packages/ui/src/hooks/use-card.ts
  packages/ui/theme-builder/public/clerk-logo-dark-accent.svg
Due: npx eslint --fix, npx prettier --write

feat(ui): Remove need to manually pass globalAppearance
  packages/ui/src/components/sign-in/sign-in.tsx
  packages/ui/src/contexts/AppearanceContext.tsx
Due: npx eslint --fix, npx prettier --write

feat(ui): Remove need to manually pass globalAppearance (#3985)
  packages/ui/src/components/sign-in/sign-in.tsx
  packages/ui/src/contexts/AppearanceContext.tsx
Due: npx eslint --fix, npx prettier --write

feat(astro): Add custom pages and links
  packages/astro/src/astro-components/index.ts
  packages/astro/src/astro-components/interactive/UserProfile.astro
  packages/astro/src/astro-components/interactive/UserProfile/ProfileRenderer.astro
  packages/astro/src/astro-components/interactive/UserProfile/UserProfile.astro
  packages/astro/src/astro-components/interactive/UserProfile/UserProfileLink.astro
  packages/astro/src/astro-components/interactive/UserProfile/UserProfilePage.astro
  packages/astro/src/astro-components/interactive/UserProfile/index.ts
Due: npx eslint --fix, npx prettier --write

test(astro): Add e2e test for custom pages and links
  integration/templates/astro-node/src/pages/custom-pages.astro
  integration/tests/astro/components.test.ts
  packages/astro/src/astro-components/interactive/UserProfile/ProfileRenderer.astro
  packages/astro/src/astro-components/interactive/UserProfile/UserProfile.astro
Due: npx eslint --fix, npx prettier --write

chore(astro): Add changeset
  .changeset/big-trains-beg.md
Due: npx prettier --write

chore(astro): Formatting fix
  packages/astro/src/astro-components/interactive/UserProfile/UserProfile.astro
Due: none

chore(astro): Update ignored files in astro components
  packages/astro/.eslintrc.cjs
Due: none

feat(ui): Initial support for elements appearance prop
  packages/ui/src/components/sign-in/sign-in.tsx
  packages/ui/src/components/sign-in/steps/get-help.tsx
  packages/ui/src/contexts/AppearanceContext.tsx
  packages/ui/src/contexts/index.ts
  packages/ui/src/global.css
  packages/ui/theme-builder/app/sign-in/[[...sign-in]]/page.tsx
  packages/ui/theme-builder/app/theme-builder.tsx
Due: npx eslint --fix, npx prettier --write

chore(astro): Remove unused util file
  packages/astro/src/stores/utils.ts
Due: npx eslint --fix, npx prettier --write

chore(astro): Set initial resource values to undefined
  packages/astro/src/stores/internal.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Better CAPTCHA widget console error
  packages/clerk-js/src/utils/captcha/hcaptcha.ts
  packages/clerk-js/src/utils/captcha/turnstile.ts
Due: npx eslint --fix, npx prettier --write

Create sour-bulldogs-explode.md
  .changeset/sour-bulldogs-explode.md
Due: npx prettier --write

fix(clerk-js): Better CAPTCHA widget console error (#3989)
  .changeset/sour-bulldogs-explode.md
  packages/clerk-js/src/utils/captcha/hcaptcha.ts
  packages/clerk-js/src/utils/captcha/turnstile.ts
Due: npx eslint --fix, npx prettier --write

feat(backend): Add Delete user profiel image
  packages/backend/src/api/endpoints/UserApi.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Add changeset
  .changeset/few-teachers-brake.md
Due: npx prettier --write

chore(backend): Apply formatting
  packages/backend/src/api/endpoints/UserApi.ts
Due: npx eslint --fix, npx prettier --write

feat(clerk-js): Update signIn and signUp authenticate with web3 functions
  packages/clerk-js/src/core/resources/SignIn.ts
  packages/clerk-js/src/core/resources/SignUp.ts
  packages/clerk-js/src/ui/components/SignUp/SignUpSocialButtons.tsx
  packages/clerk-js/src/utils/web3.ts
  packages/types/src/web3Wallet.ts
Due: npx eslint --fix, npx prettier --write

Fix Astro middleware by accepting duplicate leading slashes in URL paths
  .changeset/dull-goats-tie.md
  packages/backend/src/tokens/__tests__/clerkRequest.test.ts
  packages/backend/src/tokens/clerkRequest.ts
Due: npx eslint --fix, npx prettier --write

ensure active org is accurately reflected in localstorage
  packages/clerk-js/src/core/auth/AuthCookieService.ts
  packages/clerk-js/src/core/clerk.ts
Due: npx eslint --fix, npx prettier --write

fix lint issues
  packages/ui/theme-builder/app/components/logo.tsx
  packages/ui/theme-builder/app/page.tsx
  packages/ui/theme-builder/app/theme-builder.tsx
Due: npx eslint --fix, npx prettier --write

Path conditions:
  npx eslint --fix: any of: *.{mjs,js,jsx,ts,tsx}
  npx prettier --write: (any of: *.{mjs,js,jsx,ts,tsx}) or (any of: *.{json,md,mdx})
