Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

Revert "fix(clerk-js): Fix tokenCache.test.ts (#4623)"
  packages/clerk-js/src/core/auth/AuthCookieService.ts
  packages/clerk-js/src/core/clerk.ts
Due: npx eslint --fix, npx prettier --write

fix: Comply with rendering modes
  integration/tests/next-build.test.ts
  packages/nextjs/src/app-router/server/ClerkProvider.tsx
Due: npx eslint --fix, npx prettier --write

feat: Use UI prompt in sandbox
  packages/clerk-js/sandbox/app.js
  packages/clerk-js/sandbox/template.html
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/Components.tsx
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

fix(nextjs): Add internal prefix to tokenUrl prop
  packages/nextjs/src/app-router/client/lazy-accountless-creator.tsx
  packages/nextjs/src/app-router/server/ClerkProvider.tsx
Due: npx eslint --fix, npx prettier --write

padding
  packages/clerk-js/sandbox/template.html
Due: none

add isCombinedFlow method
  packages/clerk-js/src/core/clerk.ts
Due: npx eslint --fix, npx prettier --write

build signup url
  packages/clerk-js/src/core/clerk.ts
Due: npx eslint --fix, npx prettier --write

WIP
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
Due: npx eslint --fix, npx prettier --write

add changesets
  .changeset/clever-bats-own.md
  .changeset/empty-fans-attack.md
Due: npx prettier --write

feat: Add UI prompt
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/Components.tsx
  packages/clerk-js/src/ui/components/AccountlessPrompt/index.tsx
  packages/clerk-js/src/ui/lazyModules/components.ts
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

Update .changeset/empty-fans-attack.md
  .changeset/empty-fans-attack.md
Due: npx prettier --write

feat(clerk-js): Introduce internal Accountless UI prompt in sandbox (#4625)
  .changeset/clever-bats-own.md
  .changeset/empty-fans-attack.md
  packages/clerk-js/sandbox/app.js
  packages/clerk-js/sandbox/template.html
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/Components.tsx
  packages/clerk-js/src/ui/components/AccountlessPrompt/index.tsx
  packages/clerk-js/src/ui/lazyModules/components.ts
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

WIP
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/constants.ts
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
Due: npx eslint --fix, npx prettier --write

fix react router package
  packages/react-router/package.json
  packages/react-router/src/client/ClerkApp.tsx
  packages/react-router/src/client/index.ts
  packages/react-router/src/client/useAwaitableNavigate.tsx
  packages/react-router/src/client/usePathnameWithoutSplatRouteParams.tsx
  packages/react-router/src/ssr/rootAuthLoader.ts
  packages/react-router/src/ssr/types.ts
  packages/react-router/src/ssr/utils.ts
  packages/react-router/src/utils/utils.ts
  packages/react-router/tsconfig.json
  packages/react-router/tsup.config.ts
  pnpm-lock.yaml
Due: npx eslint --fix, npx prettier --write

update playground
  playground/react-router-node/.gitignore
  playground/react-router-node/app/entry.client.tsx
  playground/react-router-node/app/entry.server.tsx
  playground/react-router-node/app/root.tsx
  playground/react-router-node/app/routes.ts
  playground/react-router-node/app/routes/_index.tsx
  playground/react-router-node/app/routes/protected.tsx
  playground/react-router-node/app/routes/sign-in.$.tsx
  playground/react-router-node/app/routes/sign-up.$.tsx
  playground/react-router-node/package.json
  playground/react-router-node/pnpm-lock.yaml
  playground/react-router-node/tsconfig.json
  playground/react-router-node/vite.config.ts
Due: npx eslint --fix, npx prettier --write

update imports
  packages/react-router/package.json
  packages/react-router/src/client/ClerkApp.tsx
  packages/react-router/src/client/useAwaitableNavigate.tsx
  packages/react-router/src/client/usePathnameWithoutSplatRouteParams.tsx
  packages/react-router/src/ssr/rootAuthLoader.ts
  packages/react-router/src/ssr/types.ts
  packages/react-router/src/ssr/utils.ts
  packages/react-router/src/utils/utils.ts
  pnpm-lock.yaml
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Catch and ignore captcha errors during heartbeat
  .changeset/cyan-ducks-accept.md
  packages/clerk-js/src/core/fraudProtection.ts
Due: npx eslint --fix, npx prettier --write

add userbutton to playground
  playground/react-router-node/app/routes/_index.tsx
Due: npx eslint --fix, npx prettier --write

fix(react-router): Update playground & pkg (#4628)
  packages/react-router/package.json
  packages/react-router/src/client/ClerkApp.tsx
  packages/react-router/src/client/index.ts
  packages/react-router/src/client/useAwaitableNavigate.tsx
  packages/react-router/src/client/usePathnameWithoutSplatRouteParams.tsx
  packages/react-router/src/ssr/rootAuthLoader.ts
  packages/react-router/src/ssr/types.ts
  packages/react-router/src/ssr/utils.ts
  packages/react-router/src/utils/utils.ts
  packages/react-router/tsconfig.json
  packages/react-router/tsup.config.ts
  playground/react-router-node/.gitignore
  playground/react-router-node/app/entry.server.tsx
  playground/react-router-node/app/root.tsx
  playground/react-router-node/app/routes/_index.tsx
  pnpm-lock.yaml
Due: npx eslint --fix, npx prettier --write

remove workspace usage used for debugging
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

add name
  playground/react-router-node/package.json
Due: npx prettier --write

add changeset
  .changeset/clean-pigs-hope.md
Due: npx prettier --write

remove unused files
  packages/react-router/api.server/package.json
  packages/react-router/errors/package.json
  packages/react-router/ssr.server/package.json
Due: npx prettier --write

remove unused script
  packages/react-router/package.json
Due: npx prettier --write

fix(clerk-js): Catch and ignore captcha errors during heartbeat (#4629)
  .changeset/cyan-ducks-accept.md
  packages/clerk-js/src/core/fraudProtection.ts
Due: npx eslint --fix, npx prettier --write

make pkg ESM-only
  packages/react-router/.eslintrc.cjs
  packages/react-router/package.json
  packages/react-router/tsup.config.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Enable captcha for development instances (#4620)
  .changeset/early-games-taste.md
  packages/clerk-js/src/utils/captcha/retrieveCaptchaInfo.ts
Due: npx eslint --fix, npx prettier --write

fix missing exports
  packages/shared/src/authorization-errors.ts
Due: npx eslint --fix, npx prettier --write

fix useReverification.test.ts
  packages/shared/src/react/__tests__/useReverification.test.ts
Due: npx eslint --fix, npx prettier --write

fix formatting
  packages/shared/src/authorization.ts
Due: npx eslint --fix, npx prettier --write

fix missed experimental
  packages/clerk-js/src/ui/components/UserVerification/useUserVerificationSession.tsx
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Decouple captcha heartbeat from token refresh
  .changeset/fast-wolves-love.md
  packages/clerk-js/src/core/auth/CaptchaHeartbeat.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/fraudProtection.ts
  packages/clerk-js/src/core/resources/Client.ts
  packages/clerk-js/src/core/resources/DisplayConfig.ts
  packages/clerk-js/src/core/resources/Session.ts
  packages/clerk-js/src/utils/captcha/CaptchaChallenge.ts
  packages/types/src/client.ts
  packages/types/src/displayConfig.ts
Due: npx eslint --fix, npx prettier --write

update some remix => react-router instances
  packages/react-router/src/client/ClerkApp.tsx
  packages/react-router/src/client/ReactRouterClerkProvider.tsx
  packages/react-router/src/client/ReactRouterOptionsContext.tsx
  packages/react-router/src/client/RemixOptionsContext.tsx
  packages/react-router/src/client/index.ts
  packages/react-router/src/client/types.ts
  packages/react-router/src/index.ts
  packages/react-router/src/utils/errors.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Revert leeway to 10sec
  packages/clerk-js/src/core/__tests__/tokenCache.test.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/tokenCache.ts
Due: npx eslint --fix, npx prettier --write

Fix comments
  packages/clerk-js/src/core/auth/CaptchaHeartbeat.ts
  packages/clerk-js/src/core/resources/DisplayConfig.ts
Due: npx eslint --fix, npx prettier --write

fix(repo): Use patched yalc with support for catalog: (#4619)
  .changeset/thick-peas-perform.md
  package.json
  packages/astro/package.json
  packages/backend/package.json
  packages/chrome-extension/package.json
  packages/expo-passkeys/package.json
  packages/expo/package.json
  packages/express/package.json
  packages/fastify/package.json
  packages/nextjs/package.json
  packages/nuxt/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/sdk-node/package.json
  packages/shared/package.json
  packages/tanstack-start/package.json
  packages/vue/package.json
  patches/yalc@1.0.0-pre.53.patch
  playground/app-router/package.json
  playground/chrome-extension/package.json
  playground/expo/package.json
  playground/express/package.json
  playground/nextjs/package.json
  playground/remix-cf-pages/package.json
  playground/remix-cf-worker/package.json
  playground/remix-node/package.json
  playground/vite-react-ts/package.json
  pnpm-lock.yaml
Due: npx prettier --write

fix build artifacts
  packages/react-router/package.json
  packages/react-router/src/globalPolyfill.ts
  packages/react-router/src/index.ts
  packages/react-router/tsup.config.ts
  pnpm-lock.yaml
Due: npx eslint --fix, npx prettier --write

add changesets
  .changeset/afraid-cheetahs-smash.md
  .changeset/curly-terms-confess.md
  .changeset/forty-countries-retire.md
  .changeset/friendly-chairs-tie.md
  .changeset/happy-balloons-jog.md
  .changeset/hungry-beds-prove.md
  .changeset/small-suits-knock.md
  .changeset/smart-cooks-drop.md
  .changeset/two-cobras-grab.md
Due: npx prettier --write

Fix comments
  packages/clerk-js/src/core/auth/CaptchaHeartbeat.ts
Due: npx eslint --fix, npx prettier --write

Path conditions:
  npx eslint --fix: any of: *.{mjs,js,jsx,ts,tsx}
  npx prettier --write: (any of: *.{mjs,js,jsx,ts,tsx}) or (any of: *.{json,md,mdx})
