Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

chore(shared,clerk-react): Move shareable hook return types
  packages/react/src/hooks/useAuth.ts
  packages/react/src/hooks/useSignIn.ts
  packages/react/src/hooks/useSignUp.ts
  packages/shared/src/react/hooks/useSession.ts
  packages/shared/src/react/hooks/useSessionList.ts
  packages/shared/src/react/hooks/useUser.ts
  packages/types/src/hooks.ts
  packages/types/src/index.ts
Due: npx eslint --fix, npx prettier --write

chore(shared): Replace new line with space character in message of ClerkRuntimeError (#4579)
  .changeset/gentle-insects-shave.md
  packages/shared/src/__tests__/error.test.ts
  packages/shared/src/error.ts
Due: npx eslint --fix, npx prettier --write

chore(vue): Use shared hook return types
  packages/vue/src/composables/useAuth.ts
  packages/vue/src/composables/useSession.ts
  packages/vue/src/composables/useSessionList.ts
  packages/vue/src/composables/useSignIn.ts
  packages/vue/src/composables/useSignUp.ts
  packages/vue/src/composables/useUser.ts
Due: npx eslint --fix, npx prettier --write

feat(react): Expose `initialValues` within `<SignInButton />`
  .changeset/friendly-melons-argue.md
  packages/react/src/components/SignInButton.tsx
  packages/react/src/types.ts
Due: npx eslint --fix, npx prettier --write

feat(clerk-react): Expose `initialValues` within `<SignInButton />` (#4581)
  .changeset/friendly-melons-argue.md
  packages/react/src/components/SignInButton.tsx
  packages/react/src/types.ts
Due: npx eslint --fix, npx prettier --write

chore: add changeset
  .changeset/mighty-clouds-explode.md
Due: npx prettier --write

address pr feedback
  packages/shared/src/react/hooks/useReverification.ts
Due: npx eslint --fix, npx prettier --write

chore(shared,nextjs,backend): Rename `reverificationMismatch` to `reverificationError`
  .changeset/fluffy-tools-live.md
  integration/templates/next-app-router/src/app/(reverification)/actions.ts
  packages/backend/src/__tests__/exports.test.ts
  packages/backend/src/internal.ts
  packages/nextjs/src/server/__tests__/__snapshots__/exports.test.ts.snap
  packages/nextjs/src/server/index.ts
  packages/shared/src/authorization-errors.ts
  packages/shared/src/react/hooks/useReverification.ts
Due: npx eslint --fix, npx prettier --write

fix: pr linter optimization
  .github/workflows/pr-title-linter.yml
  commitlint.config.ts
Due: npx eslint --fix, npx prettier --write

WIP
  .github/workflows/pr-title-linter.yml
Due: none

Update .github/workflows/pr-title-linter.yml
  .github/workflows/pr-title-linter.yml
Due: none

throw on ts error when running unit tests
  packages/shared/jest.config.js
  packages/shared/src/__tests__/deprecated.test.ts
  packages/shared/src/__tests__/telemetry.test.ts
  packages/shared/src/telemetry/throttler.ts
  packages/shared/tsconfig.test.json
Due: npx eslint --fix, npx prettier --write

move useReverification.test.ts to shared
  packages/shared/src/react/__tests__/useReverification.test.ts
Due: npx eslint --fix, npx prettier --write

rollback
  packages/shared/src/__tests__/deprecated.test.ts
  packages/shared/src/__tests__/telemetry.test.ts
  packages/shared/src/telemetry/throttler.ts
Due: npx eslint --fix, npx prettier --write

add changeset
  .changeset/heavy-baboons-stare.md
Due: npx prettier --write

chore(shared): Throw on TS errors when running unit tests (#4585)
  .changeset/heavy-baboons-stare.md
  packages/shared/jest.config.js
  packages/shared/src/__tests__/deprecated.test.ts
  packages/shared/src/__tests__/telemetry.test.ts
  packages/shared/tsconfig.test.json
Due: npx eslint --fix, npx prettier --write

revert
  packages/shared/src/__tests__/deprecated.test.ts
  packages/shared/src/__tests__/telemetry.test.ts
  packages/shared/src/telemetry/throttler.ts
Due: npx eslint --fix, npx prettier --write

feat(repo): Use Blacksmith for CI (#4540)
  .github/actions/init-blacksmith/action.yml
  .github/workflows/ci.yml
  integration/scripts/proxyServer.ts
  integration/testUtils/index.ts
  integration/tests/protect.test.ts
Due: npx eslint --fix, npx prettier --write

WIP
  .github/workflows/pr-title-linter.yml
  packages/shared/package.json
  pnpm-lock.yaml
Due: npx prettier --write

chore(shared,nextjs,backend): Rename `reverificationMismatch` to `reverificationError` (#4582)
  .changeset/fluffy-tools-live.md
  integration/templates/next-app-router/src/app/(reverification)/actions.ts
  packages/backend/src/__tests__/exports.test.ts
  packages/backend/src/internal.ts
  packages/nextjs/src/server/__tests__/__snapshots__/exports.test.ts.snap
  packages/nextjs/src/server/index.ts
  packages/shared/src/authorization-errors.ts
  packages/shared/src/react/hooks/useReverification.ts
Due: npx eslint --fix, npx prettier --write

update imports
  packages/shared/src/react/__tests__/useReverification.test.ts
Due: npx eslint --fix, npx prettier --write

chore(repo):dedupe pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

WIP
  packages/shared/package.json
  pnpm-lock.yaml
Due: npx prettier --write

feat(nextjs): remove useAuth() error in dev
  packages/nextjs/src/client-boundary/PromisifiedAuthProvider.tsx
Due: npx eslint --fix, npx prettier --write

fix(repo): PR linter optimization (#4584)
  .github/workflows/pr-title-linter.yml
  commitlint.config.ts
Due: npx eslint --fix, npx prettier --write

WIP
  .changeset/spotty-eagles-applaud.md
Due: npx prettier --write

Update .changeset/spotty-eagles-applaud.md
  .changeset/spotty-eagles-applaud.md
Due: npx prettier --write

feat(clerk-js): Add JSDoc
  packages/clerk-js/sandbox/app.js
  packages/clerk-js/sandbox/index.html
Due: npx eslint --fix, npx prettier --write

chore(repo): Add empty changeset
  .changeset/ten-jeans-double.md
Due: npx prettier --write

fix(clerk-js): Use shared team app
  packages/clerk-js/sandbox/index.html
Due: none

feat(nextjs): Remove useAuth() error in dev (#4588)
  .changeset/spotty-eagles-applaud.md
  packages/nextjs/src/client-boundary/PromisifiedAuthProvider.tsx
Due: npx eslint --fix, npx prettier --write

Update el-GR.ts
  packages/localizations/src/el-GR.ts
Due: npx eslint --fix, npx prettier --write

Add changeset
  .changeset/proud-poems-walk.md
Due: npx prettier --write

Add refs to deps of useMemo This allows for new references to be used, when something else is causing the re-render
  packages/shared/src/react/hooks/useReverification.ts
Due: npx eslint --fix, npx prettier --write

Gracefully handle retuning undefined
  packages/clerk-js/src/ui/components/UserProfile/AddAuthenticatorApp.tsx
  packages/clerk-js/src/ui/components/UserProfile/ConnectedAccountsMenu.tsx
  packages/clerk-js/src/ui/components/UserProfile/ConnectedAccountsSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/DeleteUserForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/EmailForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/MfaBackupCodeCreateForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/PasskeySection.tsx
  packages/clerk-js/src/ui/components/UserProfile/PasswordForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/PhoneForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/UsernameForm.tsx
  packages/shared/src/react/hooks/useReverification.ts
Due: npx eslint --fix, npx prettier --write

revert change by mistake
  packages/clerk-js/src/ui/components/UserProfile/ConnectedAccountsSection.tsx
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Exclude _clerk_session_id query param from /waitlist endpoint
  .changeset/proud-carrots-carry.md
  packages/clerk-js/src/core/__tests__/fapiClient.test.ts
  packages/clerk-js/src/core/fapiClient.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Block /tokens requests until fraud detection completes
  packages/clerk-js/src/core/fraudProtection.ts
  packages/clerk-js/src/core/resources/Session.ts
Due: npx eslint --fix, npx prettier --write

Path conditions:
  npx eslint --fix: any of: *.{mjs,js,jsx,ts,tsx}
  npx prettier --write: (any of: *.{mjs,js,jsx,ts,tsx}) or (any of: *.{json,md,mdx})
