Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{mjs,js,jsx,ts,tsx}": ["npx eslint --fix", "npx prettier --write"],
  "*.{json,md,mdx}": ["npx prettier --write"]
}

utilities for generating the authorization error objects
  integration/tests/next-app/protect-action-route.test.ts
  packages/nextjs/src/server/protectAction.ts
  packages/nextjs/src/server/protectRoute.ts
  packages/shared/package.json
  packages/shared/src/authorization-errors.ts
Due: npx eslint --fix, npx prettier --write

feat(localizations): Add be-BY localization
  .changeset/unlucky-crabs-hunt.md
  packages/localizations/package.json
  packages/localizations/src/be-BY.ts
  packages/localizations/src/index.ts
  packages/localizations/src/utils/generate.ts
  packages/react/src/contexts/__tests__/ClerkProvider.test.tsx
Due: npx eslint --fix, npx prettier --write

Initialize default role on via form controls
  packages/clerk-js/src/ui/components/OrganizationProfile/InviteMembersForm.tsx
Due: npx eslint --fix, npx prettier --write

Add new test case
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/InviteMembersPage.test.tsx
Due: npx eslint --fix, npx prettier --write

Add changeset
  .changeset/heavy-bulldogs-wash.md
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/InviteMembersPage.test.tsx
Due: npx eslint --fix, npx prettier --write

chore(shared): add new isClerkKeyError function
  packages/shared/src/error.ts
Due: npx eslint --fix, npx prettier --write

chore(types): Add EphemeralKey type
  packages/types/src/key.ts
Due: npx eslint --fix, npx prettier --write

feat(backend): add fetchEphemeralAccount and supporting work
  packages/backend/package.json
  packages/backend/src/__tests__/exports.test.ts
  packages/backend/src/api/request.ts
  packages/backend/src/constants.ts
  packages/backend/src/internal.ts
  packages/backend/src/runtime.ts
  packages/backend/src/runtime/browser/ephemeral.js
  packages/backend/src/runtime/node/ephemeral.js
  packages/backend/src/util/fetchEphemeralAccount.ts
  packages/backend/tsup.config.test.ts
  packages/backend/tsup.config.ts
Due: npx eslint --fix, npx prettier --write

feat(nextjs): add accountless signup to Next.js apps using the app router
  packages/nextjs/src/app-router/server/ClerkProvider.tsx
  packages/nextjs/src/app-router/server/auth.ts
  packages/nextjs/src/server/clerkMiddleware.ts
Due: npx eslint --fix, npx prettier --write

chore(fastify): update fastify test to include new constants
  packages/fastify/src/__tests__/__snapshots__/constants.test.ts.snap
Due: none

chore(backend,nextjs): add CLERK_FEATURE_FLAG_EPHEMERAL_ACCOUNTS to enable ephemeral mode in dev
  packages/backend/src/__tests__/exports.test.ts
  packages/backend/src/api/request.ts
  packages/backend/src/constants.ts
  packages/backend/src/internal.ts
  packages/nextjs/src/app-router/server/auth.ts
  packages/nextjs/src/server/clerkMiddleware.ts
Due: npx eslint --fix, npx prettier --write

chore(nextjs): Use shared type, clean up function definition, set cookie as string
  packages/nextjs/src/server/clerkMiddleware.ts
Due: npx eslint --fix, npx prettier --write

chore(elements): Align clerk dependencies
  .changeset/late-kiwis-warn.md
  package-lock.json
  packages/elements/package.json
Due: npx prettier --write

downgrade attw, change ci
  .github/workflows/ci.yml
  package-lock.json
  package.json
  packages/astro/package.json
  packages/backend/package.json
  packages/clerk-js/package.json
  packages/elements/package.json
  packages/nextjs/package.json
  packages/tanstack-start/package.json
Due: npx prettier --write

engine strict
  .github/actions/init/action.yml
Due: none

fix(clerk-js): Initialize default role with form controls (#4281)
  .changeset/heavy-bulldogs-wash.md
  packages/clerk-js/src/ui/components/OrganizationProfile/InviteMembersForm.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/InviteMembersPage.test.tsx
Due: npx eslint --fix, npx prettier --write

initial
  .github/actions/init/action.yml
  .github/workflows/ci.yml
  package-lock.json
  package.json
  packages/astro/package.json
  packages/backend/package.json
  packages/elements/package.json
  packages/nextjs/package.json
  packages/tanstack-start/package.json
  packages/ui/package.json
Due: npx prettier --write

add empty changeset
  .changeset/wicked-bottles-divide.md
Due: npx prettier --write

chore(elements): Align clerk dependencies (#4282)
  .changeset/late-kiwis-warn.md
  package-lock.json
  packages/elements/package.json
Due: npx prettier --write

chore(repo): Node 20 / attw change (#4283)
  .changeset/wicked-bottles-divide.md
  .github/actions/init/action.yml
  .github/workflows/ci.yml
  package-lock.json
  package.json
  packages/astro/package.json
  packages/backend/package.json
  packages/elements/package.json
  packages/nextjs/package.json
  packages/tanstack-start/package.json
  packages/ui/package.json
Due: npx prettier --write

wip
  packages/nextjs/src/server/protectAction.ts
Due: npx eslint --fix, npx prettier --write

ci(repo): Version packages (#4284)
  .changeset/blue-seals-build.md
  .changeset/heavy-bulldogs-wash.md
  .changeset/moody-otters-taste.md
  .changeset/quiet-pumpkins-suffer.md
  .changeset/sweet-owls-bake.md
  .changeset/wicked-bottles-divide.md
  package-lock.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
Due: npx prettier --write

fix: do not build test file declarations
  packages/nextjs/tsconfig.declarations.json
Due: npx prettier --write

changeset
  .changeset/young-llamas-prove.md
Due: npx prettier --write

wip 2
  packages/nextjs/src/server/protectAction.ts
Due: npx eslint --fix, npx prettier --write

Update .changeset/young-llamas-prove.md
  .changeset/young-llamas-prove.md
Due: npx prettier --write

fix(nextjs): do not build test file declarations (#4286)
  .changeset/young-llamas-prove.md
  packages/nextjs/tsconfig.declarations.json
Due: npx prettier --write

Adds changeset
  .changeset/twenty-kids-speak.md
Due: npx prettier --write

wip 3
  packages/nextjs/src/server/protectAction.ts
Due: npx eslint --fix, npx prettier --write

chore(localizations): Add changeset
  .changeset/shiny-files-smash.md
Due: npx prettier --write

Remove explicit clerk-react changeset
  .changeset/unlucky-crabs-hunt.md
Due: npx prettier --write

regenerate and remove
  integration/templates/astro-hybrid/package.json
  integration/templates/astro-node/package.json
  package-lock.json
Due: npx prettier --write

fix(localizations): Update de-DE translation to be GDPR-compliant (#4195)
  .changeset/shiny-files-smash.md
  packages/localizations/src/de-DE.ts
Due: npx eslint --fix, npx prettier --write

Create stupid-cherries-cry.md
  .changeset/stupid-cherries-cry.md
Due: npx prettier --write

Update stupid-cherries-cry.md
  .changeset/stupid-cherries-cry.md
Due: npx prettier --write

feat(localizations): Add be-BY localization (#4280)
  .changeset/unlucky-crabs-hunt.md
  packages/localizations/package.json
  packages/localizations/src/be-BY.ts
  packages/localizations/src/index.ts
  packages/localizations/src/utils/generate.ts
  packages/react/src/contexts/__tests__/ClerkProvider.test.tsx
Due: npx eslint --fix, npx prettier --write

feat(types,ui): Add support for __experimental.appearance prop
  .changeset/unlucky-steaks-protect.md
  packages/types/src/clerk.ts
  packages/ui/src/components/sign-in/sign-in.tsx
  packages/ui/src/components/sign-up/sign-up.tsx
  packages/ui/src/contexts/AppearanceContext.tsx
  packages/ui/src/primitives/card.tsx
  packages/ui/src/themes/full.ts
  packages/ui/src/themes/layout.ts
Due: npx eslint --fix, npx prettier --write
