Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

chore(react,vue): Add deprecation notice to redirect components
  packages/react/src/components/controlComponents.tsx
  packages/vue/src/components/controlComponents.ts
Due: npx eslint --fix, npx prettier --write

add changeset
  .changeset/olive-zebras-arrive.md
Due: npx prettier --write

move to clerk provider
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/components/SignIn/SignIn.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpStart.tsx
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

use deprecated helper
  packages/react/src/components/controlComponents.tsx
  packages/vue/src/components/controlComponents.ts
Due: npx eslint --fix, npx prettier --write

feat(clerk-js): Add nonce to theme provider (#4509)
  .changeset/tricky-rings-divide.md
  packages/clerk-js/src/ui/lazyModules/providers.tsx
  packages/clerk-js/src/ui/styledSystem/InternalThemeProvider.tsx
  packages/clerk-js/src/ui/styledSystem/StyleCacheProvider.tsx
Due: npx eslint --fix, npx prettier --write

feat(clerk-js): Add support for primitive span usage
  packages/clerk-js/src/ui/customizables/index.ts
  packages/clerk-js/src/ui/elements/Navbar.tsx
  packages/clerk-js/src/ui/primitives/Span.tsx
  packages/clerk-js/src/ui/primitives/index.ts
Due: npx eslint --fix, npx prettier --write

add descriptor
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/clerk-js/src/ui/elements/Navbar.tsx
  packages/types/src/appearance.ts
Due: npx eslint --fix, npx prettier --write

chore(shared): Gracefully handle missing reverification error metadata
  .changeset/many-bees-mate.md
  packages/shared/src/authorization-errors.ts
  packages/shared/src/authorization.ts
  packages/shared/src/react/hooks/useReverification.ts
Due: npx eslint --fix, npx prettier --write

chore(shared): Gracefully handle missing reverification error metadata (#4636)
  .changeset/many-bees-mate.md
  packages/shared/src/authorization-errors.ts
  packages/shared/src/authorization.ts
  packages/shared/src/react/hooks/useReverification.ts
Due: npx eslint --fix, npx prettier --write

Update packages/clerk-js/src/ui/components/UserVerification/UserVerificationFactorOne.tsx
  packages/clerk-js/src/ui/components/UserVerification/UserVerificationFactorOne.tsx
Due: npx eslint --fix, npx prettier --write

fix tests
  packages/clerk-js/src/ui/components/UserVerification/__tests__/UVFactorOne.test.tsx
  packages/clerk-js/src/ui/components/UserVerification/__tests__/UVFactorTwo.test.tsx
  packages/localizations/src/en-US.ts
Due: npx eslint --fix, npx prettier --write

fix modal usage
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
Due: npx eslint --fix, npx prettier --write

feat: notFound error
  packages/nextjs/src/server/protect.ts
Due: npx eslint --fix, npx prettier --write

WIP
  packages/nextjs/src/server/protect.ts
Due: npx eslint --fix, npx prettier --write

transfer flow init
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/components/SignIn/handleCombinedFlowTransfer.ts
Due: npx eslint --fix, npx prettier --write

handle error
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/components/SignIn/handleCombinedFlowTransfer.ts
Due: npx eslint --fix, npx prettier --write

WIP
  .changeset/strong-carrots-build.md
Due: npx prettier --write

fix: ignore prerendred pages in middleware
  packages/astro/src/server/clerk-middleware.ts
Due: npx eslint --fix, npx prettier --write

chore: add changeset
  .changeset/chilled-zoos-appear.md
Due: npx prettier --write

fix: do a TypeScript dance
  packages/astro/src/server/clerk-middleware.ts
Due: npx eslint --fix, npx prettier --write

Update changeset
  .changeset/chilled-zoos-appear.md
Due: npx prettier --write

fix(astro): ignore prerendered pages in middleware (#4640)
  .changeset/chilled-zoos-appear.md
  packages/astro/src/server/clerk-middleware.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Disable Cypress binary install on CI
  .github/actions/init-blacksmith/action.yml
  .github/actions/init/action.yml
Due: none

chore(repo): Format
  .github/actions/init/action.yml
Due: none

chore(repo): Disable Cypress binary installation on CI (#4645)
  .github/actions/init-blacksmith/action.yml
  .github/actions/init/action.yml
Due: none

ci(repo): Version packages (#4644)
  .changeset/chilled-zoos-appear.md
  packages/astro/CHANGELOG.md
  packages/astro/package.json
Due: npx prettier --write

wip
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/resources/Base.ts
  packages/clerk-js/src/core/resources/Client.ts
  packages/clerk-js/src/core/resources/Environment.ts
  packages/clerk-js/src/ui/utils/test/createFixtures.tsx
  packages/expo/package.json
  packages/expo/src/provider/singleton/createClerkInstance.ts
Due: npx eslint --fix, npx prettier --write

fix: remove server-action from ClerkProvider
  packages/nextjs/src/app-router/client/ClerkProvider.tsx
Due: npx eslint --fix, npx prettier --write

Update README.md
  README.md
Due: npx prettier --write

update packages
  packages/react-router/package.json
  playground/react-router-node/package.json
  pnpm-lock.yaml
Due: npx prettier --write

update tsup config
  packages/react-router/tsup.config.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Bundle Accountless only in dev
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/Components.tsx
  packages/clerk-js/src/ui/lazyModules/components.ts
Due: npx eslint --fix, npx prettier --write

feat(types): Add types support for the new enterprise_sso strategy
  packages/types/src/factors.ts
  packages/types/src/redirects.ts
  packages/types/src/signIn.ts
  packages/types/src/signUp.ts
  packages/types/src/strategies.ts
  packages/types/src/userSettings.ts
Due: npx eslint --fix, npx prettier --write

feat(clerkjs,backend): Bump supported API version to 2024-10-01
  .changeset/clever-cougars-argue.md
  packages/backend/src/constants.ts
  packages/clerk-js/src/core/constants.ts
Due: npx eslint --fix, npx prettier --write

feat(clerkjs): Handle enterprise_sso response for sign in
  .changeset/famous-experts-begin.md
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/resources/SignIn.ts
  packages/clerk-js/src/core/resources/UserSettings.ts
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/components/SignIn/__tests__/SignInStart.test.tsx
  packages/clerk-js/src/ui/utils/test/fixtures.ts
Due: npx eslint --fix, npx prettier --write

Path conditions:
  npx eslint --fix: any of: *.{mjs,js,jsx,ts,tsx}
  npx prettier --write: (any of: *.{mjs,js,jsx,ts,tsx}) or (any of: *.{json,md,mdx})
