Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

chore(repo): Add Tanstack label
  .github/labeler.yml
Due: none

chore(repo): Update changeset
  .changeset/hip-spiders-behave.md
Due: npx prettier --write

chore(e2e): Added test for TanStack Router
  integration/presets/tanstack.ts
  integration/tests/tanstack-router/basic.test.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Update changeset
  packages/backend/src/tokens/clerkRequest.ts
Due: npx eslint --fix, npx prettier --write

feat(e2e): Add TanStack Start test suite (#3935)
  .changeset/good-peaches-dress.md
  .changeset/ninety-walls-drop.md
  .github/workflows/ci.yml
  .husky/pre-commit
  integration/presets/index.ts
  integration/presets/longRunningApps.ts
  integration/presets/tanstack.ts
  integration/templates/index.ts
  integration/templates/tanstack-start/.gitignore
  integration/templates/tanstack-start/.prettierignore
  integration/templates/tanstack-start/.prettierrc
  integration/templates/tanstack-start/README.md
  integration/templates/tanstack-start/app.config.ts
  integration/templates/tanstack-start/app/client.tsx
  integration/templates/tanstack-start/app/components/DefaultCatchBoundary.tsx
  integration/templates/tanstack-start/app/components/NotFound.tsx
  integration/templates/tanstack-start/app/routeTree.gen.ts
  integration/templates/tanstack-start/app/router.tsx
  integration/templates/tanstack-start/app/routes/__root.tsx
  integration/templates/tanstack-start/app/routes/_layout.tsx
  integration/templates/tanstack-start/app/routes/index.tsx
  integration/templates/tanstack-start/app/routes/sign-in.tsx
  integration/templates/tanstack-start/app/ssr.tsx
  integration/templates/tanstack-start/app/styles/app.css
  integration/templates/tanstack-start/package.json
  integration/templates/tanstack-start/postcss.config.cjs
  integration/templates/tanstack-start/tailwind.config.cjs
  integration/templates/tanstack-start/tsconfig.json
  integration/tests/tanstack-start/basic.test.ts
  package.json
  turbo.json
Due: npx eslint --fix, npx prettier --write

ci(repo): Add test:integration:tanstack-router in turbo.json
  turbo.json
Due: npx prettier --write

chore(repo): Remove unused changesets
  .changeset/good-peaches-dress.md
  .changeset/ninety-walls-drop.md
Due: npx prettier --write

chore(tanstack-start): Apply formatting
  packages/tanstack-start/src/client/utils.ts
  packages/tanstack-start/src/utils/env.ts
Due: npx eslint --fix, npx prettier --write

Update packages/tanstack-start/src/utils/errors.ts
  packages/tanstack-start/src/utils/errors.ts
Due: npx eslint --fix, npx prettier --write

chore(tanstack-start): Fix formatting
  packages/shared/src/react/hooks/usePagesOrInfinite.ts
Due: npx eslint --fix, npx prettier --write

chore(backend): Remove wrongly commited changes
  packages/backend/src/tokens/clerkRequest.ts
Due: npx eslint --fix, npx prettier --write

fix(e2e): Fix Tanstack test suites
  integration/presets/tanstack.ts
  integration/templates/tanstack-router/package.json
  integration/templates/tanstack-start/package.json
Due: npx eslint --fix, npx prettier --write

fix(tanstack-auth): Only require passing Request object in getAuth
  packages/tanstack-start/src/server/getAuth.ts
Due: npx eslint --fix, npx prettier --write

test(e2e): Add test for Clerk Handler
  integration/tests/tanstack-start/basic.test.ts
Due: npx eslint --fix, npx prettier --write

feat(e2e): Add E2E tests for TanStack Router
  .github/workflows/ci.yml
  integration/presets/longRunningApps.ts
  integration/presets/tanstack.ts
  integration/templates/index.ts
  integration/templates/tanstack-router/.gitignore
  integration/templates/tanstack-router/README.md
  integration/templates/tanstack-router/index.html
  integration/templates/tanstack-router/package.json
  integration/templates/tanstack-router/src/main.tsx
  integration/templates/tanstack-router/src/posts.tsx
  integration/templates/tanstack-router/src/routeTree.gen.ts
  integration/templates/tanstack-router/src/routes/__root.tsx
  integration/templates/tanstack-router/src/routes/_layout.tsx
  integration/templates/tanstack-router/src/routes/index.tsx
  integration/templates/tanstack-router/src/routes/sign-in.tsx
  integration/templates/tanstack-router/tsconfig.dev.json
  integration/templates/tanstack-router/tsconfig.json
  integration/templates/tanstack-router/vite.config.js
  integration/tests/tanstack-router/basic.test.ts
  package.json
  packages/tanstack-start/src/utils/env.ts
Due: npx eslint --fix, npx prettier --write

Update .changeset/hip-spiders-behave.md
  .changeset/hip-spiders-behave.md
Due: npx prettier --write

Update packages/tanstack-start/src/utils/env.ts
  packages/tanstack-start/src/utils/env.ts
Due: npx eslint --fix, npx prettier --write

feat(tanstack-start): Support TanStack Router out of the box
  packages/tanstack-start/src/client/ClerkProvider.tsx
  packages/tanstack-start/src/client/utils.ts
  packages/tanstack-start/src/server/loadOptions.ts
  packages/tanstack-start/src/server/utils/index.ts
  packages/tanstack-start/src/utils/env.ts
  packages/tanstack-start/src/utils/errors.ts
Due: npx eslint --fix, npx prettier --write

feat(tanstack-start): Support path based routing
  package-lock.json
  packages/tanstack-start/package.json
  packages/tanstack-start/src/client/ClerkProvider.tsx
  packages/tanstack-start/src/client/index.ts
  packages/tanstack-start/src/client/uiComponents.tsx
Due: npx eslint --fix, npx prettier --write

chore(e2e): Fix formatting
  integration/templates/tanstack-router/index.html
Due: none

chore(repo): Add changeset
  .changeset/hip-spiders-behave.md
Due: npx prettier --write

Expose mounted UserVerification
  packages/clerk-js/src/core/clerk.ts
  packages/nextjs/src/client-boundary/uiComponents.tsx
  packages/nextjs/src/index.ts
  packages/react/src/components/index.ts
  packages/react/src/components/uiComponents.tsx
  packages/react/src/isomorphicClerk.ts
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

Throttle loading to avoid flashes and navigate after verification
  packages/clerk-js/src/ui/components/UserVerification/UserVerificationFactorTwo.tsx
  packages/clerk-js/src/ui/components/UserVerification/UserVerificationFactorTwoTOTP.tsx
  packages/clerk-js/src/ui/hooks/useFetch.ts
Due: npx eslint --fix, npx prettier --write

respect status of SessionVerification
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/Components.tsx
  packages/clerk-js/src/ui/components/UserVerification/UserVerificationFactorOne.tsx
  packages/clerk-js/src/ui/components/UserVerification/UserVerificationFactorOnePassword.tsx
  packages/clerk-js/src/ui/components/UserVerification/UserVerificationFactorTwo.tsx
  packages/clerk-js/src/ui/components/UserVerification/UserVerificationFactorTwoTOTP.tsx
  packages/clerk-js/src/ui/components/UserVerification/index.tsx
  packages/clerk-js/src/ui/components/UserVerification/useUserVerificationSession.tsx
  packages/clerk-js/src/ui/contexts/ClerkUIComponentsContext.tsx
  packages/clerk-js/src/ui/hooks/useFetch.ts
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

WIP UV respect FAPI
  packages/clerk-js/src/ui/components/SignIn/SignInFactorOne.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorOnePasswordCard.tsx
  packages/clerk-js/src/ui/components/UserVerification/AlternativeMethods.tsx
  packages/clerk-js/src/ui/components/UserVerification/UVFactorOneCodeForm.tsx
  packages/clerk-js/src/ui/components/UserVerification/UVFactorOneEmailCodeCard.tsx
  packages/clerk-js/src/ui/components/UserVerification/UserVerificationFactorOne.tsx
  packages/clerk-js/src/ui/components/UserVerification/UserVerificationFactorOnePassword.tsx
  packages/clerk-js/src/ui/components/UserVerification/UserVerificationFactorTwo.tsx
  packages/clerk-js/src/ui/components/UserVerification/index.tsx
  packages/clerk-js/src/ui/components/UserVerification/useUserVerificationSession.tsx
  packages/clerk-js/src/ui/hooks/useAlternativeStrategies.ts
Due: npx eslint --fix, npx prettier --write

Improve types
  packages/clerk-js/src/ui/components/UserVerification/UVFactorOneCodeForm.tsx
  packages/clerk-js/src/ui/components/UserVerification/UserVerificationFactorOne.tsx
  packages/clerk-js/src/ui/components/UserVerification/useUserVerificationSession.tsx
Due: npx eslint --fix, npx prettier --write

Prepare and attempt second factor
  packages/clerk-js/src/core/resources/User.ts
  packages/clerk-js/src/ui/components/SignIn/SignInFactorTwo.tsx
  packages/clerk-js/src/ui/components/UserVerification/AlternativeMethods.tsx
  packages/clerk-js/src/ui/components/UserVerification/UVFactorTwoAlternativeMethods.tsx
  packages/clerk-js/src/ui/components/UserVerification/UVFactorTwoBackupCodeCard.tsx
  packages/clerk-js/src/ui/components/UserVerification/UVFactorTwoCodeForm.tsx
  packages/clerk-js/src/ui/components/UserVerification/UVFactorTwoPhoneCodeCard.tsx
  packages/clerk-js/src/ui/components/UserVerification/UserVerificationFactorTwo.tsx
Due: npx eslint --fix, npx prettier --write

fix on complete first factor
  packages/clerk-js/src/ui/components/UserVerification/UVFactorOneCodeForm.tsx
  packages/clerk-js/src/ui/components/UserVerification/UserVerificationFactorOnePassword.tsx
Due: npx eslint --fix, npx prettier --write

changeset
  .changeset/itchy-masks-joke.md
Due: npx prettier --write

fix build issue
  packages/clerk-js/src/core/resources/User.ts
  packages/clerk-js/src/ui/common/VerifiedAction.tsx
  packages/clerk-js/src/ui/components/UserVerification/UVFactorOneCodeForm.tsx
  packages/clerk-js/src/ui/components/UserVerification/UVFactorTwoBackupCodeCard.tsx
  packages/clerk-js/src/ui/components/UserVerification/UVFactorTwoCodeForm.tsx
  packages/clerk-js/src/ui/components/UserVerification/UVFactorTwoPhoneCodeCard.tsx
  packages/clerk-js/src/ui/components/UserVerification/UserVerificationFactorOnePassword.tsx
  packages/clerk-js/src/ui/components/UserVerification/UserVerificationFactorTwoTOTP.tsx
  packages/clerk-js/src/ui/components/UserVerification/useUserVerificationSession.tsx
Due: npx eslint --fix, npx prettier --write

mark apis as experimental
  packages/chrome-extension/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/Components.tsx
  packages/clerk-js/src/ui/components/UserVerification/UVFactorOneCodeForm.tsx
  packages/clerk-js/src/ui/components/UserVerification/UVFactorTwoBackupCodeCard.tsx
  packages/clerk-js/src/ui/components/UserVerification/UVFactorTwoPhoneCodeCard.tsx
  packages/clerk-js/src/ui/components/UserVerification/UserVerificationFactorOnePassword.tsx
  packages/clerk-js/src/ui/components/UserVerification/UserVerificationFactorTwoTOTP.tsx
  packages/clerk-js/src/ui/components/UserVerification/index.tsx
  packages/clerk-js/src/ui/types.ts
  packages/nextjs/src/client-boundary/uiComponents.tsx
  packages/nextjs/src/index.ts
  packages/react/src/components/index.ts
  packages/react/src/components/uiComponents.tsx
  packages/react/src/isomorphicClerk.ts
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

nextjs: initial
  docs/CONTRIBUTING.md
  packages/nextjs/README.md
Due: npx prettier --write

switch from div to p tag
  packages/nextjs/README.md
Due: npx prettier --write

Revert "switch from div to p tag"
  packages/nextjs/README.md
Due: npx prettier --write

remove hr
  packages/nextjs/README.md
Due: npx prettier --write

feat(ui): Animate fieldstates
  package-lock.json
  packages/ui/package.json
  packages/ui/src/common/email-field.tsx
  packages/ui/src/common/email-or-username-field.tsx
  packages/ui/src/common/first-name-field.tsx
  packages/ui/src/common/last-name-field.tsx
  packages/ui/src/common/otp-field.tsx
  packages/ui/src/common/password-field.tsx
  packages/ui/src/common/phone-number-field.tsx
  packages/ui/src/common/username-field.tsx
  packages/ui/src/primitives/animated.tsx
Due: npx eslint --fix, npx prettier --write

add changeset
  .changeset/old-islands-sing.md
Due: npx prettier --write

Path conditions:
  npx eslint --fix: any of: *.{mjs,js,jsx,ts,tsx}
  npx prettier --write: (any of: *.{mjs,js,jsx,ts,tsx}) or (any of: *.{json,md,mdx})
