Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

chore(types): Export TransferableOption type
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

update changeset
  .changeset/dry-pears-approve.md
Due: npx prettier --write

fix(clerk-js): Preserve __clerk_ticket for internal sign-in navigation (#4903)
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/components/SignIn/handleCombinedFlowTransfer.ts
  packages/clerk-js/src/ui/router/Route.tsx
  packages/clerk-js/src/ui/router/RouteContext.tsx
Due: npx eslint --fix, npx prettier --write

feat(backend): Set cookies from the refresh token flow (#4884)
  .changeset/good-eggs-retire.md
  packages/backend/src/api/endpoints/SessionApi.ts
  packages/backend/src/api/resources/Cookies.ts
  packages/backend/src/api/resources/Deserializer.ts
  packages/backend/src/api/resources/JSON.ts
  packages/backend/src/api/resources/index.ts
  packages/backend/src/tokens/__tests__/request.test.ts
  packages/backend/src/tokens/request.ts
Due: npx eslint --fix, npx prettier --write

chore(vue): Refactor SignInButton render function to SFC
  packages/vue/src/components/SignInButton.vue
  packages/vue/src/components/index.ts
Due: npx eslint --fix, npx prettier --write

fix(backend): `inviterUserId` should be optional in `CreateOrganizationInvitationParams`
  packages/backend/src/api/endpoints/OrganizationApi.ts
Due: npx eslint --fix, npx prettier --write

chore(vue): Add vue vite plugin for tests
  packages/vue/package.json
  packages/vue/src/components/SignInButton.ts
  packages/vue/src/components/__tests__/SignInButton.test.ts
  packages/vue/vitest.config.ts
  pnpm-lock.yaml
Due: npx eslint --fix, npx prettier --write

clean up test files included by vue-tsc
  packages/vue/package.json
Due: npx prettier --write

fix test
  integration/tests/sign-in-or-up-flow.test.ts
Due: npx eslint --fix, npx prettier --write

fix: Manually deep link to URL on SSO callback
  .changeset/stale-baboons-change.md
  packages/expo/package.json
  packages/expo/src/hooks/useOAuth.ts
  pnpm-lock.yaml
Due: npx eslint --fix, npx prettier --write

initial
  .changeset/sixty-eggs-hug.md
  packages/chrome-extension/package.json
  scripts/search-for-rhc.mjs
Due: npx eslint --fix, npx prettier --write

improve search string
  scripts/search-for-rhc.mjs
Due: npx eslint --fix, npx prettier --write

fix(clerk-js,types): Skip fraud protection if client has bypass enabled
  .changeset/healthy-bees-turn.md
  packages/clerk-js/src/core/auth/CaptchaHeartbeat.ts
  packages/clerk-js/src/core/fraudProtection.test.ts
  packages/clerk-js/src/core/fraudProtection.ts
  packages/clerk-js/src/core/resources/Client.ts
  packages/clerk-js/src/core/resources/SignUp.ts
  packages/clerk-js/src/core/resources/__tests__/__snapshots__/Client.test.ts.snap
  packages/clerk-js/src/utils/captcha/CaptchaChallenge.ts
  packages/types/src/client.ts
  packages/types/src/json.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js,types): Skip fraud protection if client has bypass enabled (#4907)
  .changeset/healthy-bees-turn.md
  packages/clerk-js/src/core/auth/CaptchaHeartbeat.ts
  packages/clerk-js/src/core/fraudProtection.test.ts
  packages/clerk-js/src/core/fraudProtection.ts
  packages/clerk-js/src/core/resources/Client.ts
  packages/clerk-js/src/core/resources/SignUp.ts
  packages/clerk-js/src/core/resources/__tests__/__snapshots__/Client.test.ts.snap
  packages/clerk-js/src/utils/captcha/CaptchaChallenge.ts
  packages/types/src/client.ts
  packages/types/src/json.ts
Due: npx eslint --fix, npx prettier --write

remove email link test changes
  integration/tests/email-link.test.ts
Due: npx eslint --fix, npx prettier --write

Revert "fix(e2e): Runs email-link tests (#4873)"
  integration/testUtils/emailService.ts
  integration/tests/email-link.test.ts
  package.json
  turbo.json
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Show error during instant password error
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
Due: npx eslint --fix, npx prettier --write

chore(chrome-extension): Add postbuild script to verify no RHC (#4906)
  .changeset/sixty-eggs-hug.md
  packages/chrome-extension/package.json
  scripts/search-for-rhc.mjs
Due: npx eslint --fix, npx prettier --write

remove log
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
Due: npx eslint --fix, npx prettier --write

fix(nuxt): Support async middleware handler (#4888)
  .changeset/heavy-suns-turn.md
  packages/nuxt/src/runtime/server/clerkMiddleware.ts
Due: npx eslint --fix, npx prettier --write

add test
  integration/tests/sign-in-flow.test.ts
Due: npx eslint --fix, npx prettier --write

Revert "fix(e2e): Runs email-link tests" (#4909)
  integration/testUtils/emailService.ts
  integration/tests/email-link.test.ts
  package.json
  turbo.json
Due: npx eslint --fix, npx prettier --write

add changeset
  .changeset/clean-goats-jam.md
Due: npx prettier --write

temp disable email link tests
  integration/tests/sign-in-or-up-email-links-flow.test.ts
Due: npx eslint --fix, npx prettier --write

feat(repo): Ensure lockfile is deduped
  .github/workflows/ci.yml
Due: none

fix(repo): Update actions/upload-artifacts to v4
  .github/workflows/ci.yml
Due: none

fix(repo): Update actions/upload-artifacts to v4 (#4912)
  .github/workflows/ci.yml
Due: none

dedupe
  pnpm-lock.yaml
Due: none

chore(vue): Add type to type imports
  packages/vue/src/components/ui-components/SignIn.vue
Due: none

chore(vue): Separate build tsconfig options
  packages/vue/package.json
  packages/vue/tsconfig.build.json
  packages/vue/tsconfig.json
Due: npx prettier --write

feat(repo): Ensure lockfile is deduped (#4911)
  .github/workflows/ci.yml
  pnpm-lock.yaml
Due: none

run pnpm dedupe
  pnpm-lock.yaml
Due: none

chore(vue,types): Add initial support for SFC files to improve runtime prop checking (#4902)
  .changeset/dry-pears-approve.md
  packages/types/src/clerk.ts
  packages/vue/package.json
  packages/vue/src/components/SignInButton.ts
  packages/vue/src/components/SignInButton.vue
  packages/vue/src/components/__tests__/SignInButton.test.ts
  packages/vue/src/components/index.ts
  packages/vue/src/components/ui-components/SignIn.vue
  packages/vue/src/components/uiComponents.ts
  packages/vue/src/env.d.ts
  packages/vue/tsconfig.build.json
  packages/vue/tsconfig.json
  packages/vue/tsup.config.ts
  packages/vue/vitest.config.ts
  pnpm-lock.yaml
Due: npx eslint --fix, npx prettier --write

Update SignInButton.vue
  packages/vue/src/components/SignInButton.vue
Due: none

add pricing table basics
  packages/clerk-js/sandbox/app.ts
  packages/clerk-js/sandbox/template.html
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/components/PricingTable/PricingTable.tsx
  packages/clerk-js/src/ui/components/PricingTable/index.ts
  packages/clerk-js/src/ui/components/UserProfile/UserProfileRoutes.tsx
  packages/clerk-js/src/ui/constants.ts
  packages/clerk-js/src/ui/contexts/ClerkUIComponentsContext.tsx
  packages/clerk-js/src/ui/contexts/components/PricingTable.ts
  packages/clerk-js/src/ui/contexts/components/index.ts
  packages/clerk-js/src/ui/icons/credit-card.svg
  packages/clerk-js/src/ui/icons/index.ts
  packages/clerk-js/src/ui/lazyModules/components.ts
  packages/clerk-js/src/ui/types.ts
  packages/clerk-js/src/ui/utils/createCustomPages.tsx
  packages/localizations/src/en-US.ts
  packages/types/src/appearance.ts
  packages/types/src/clerk.ts
  packages/types/src/localization.ts
Due: npx eslint --fix, npx prettier --write

Fix vue options passing.
  packages/vue/src/components/SignInButton.ts
  packages/vue/src/components/SignInButton.vue
Due: npx eslint --fix, npx prettier --write

feat(clerk-js): Launch sign-in-or-up flow (#4788)
  .changeset/tough-bugs-vanish.md
  integration/presets/envs.ts
  integration/presets/longRunningApps.ts
  integration/templates/next-app-router/src/app/layout.tsx
  integration/templates/next-app-router/src/app/sign-in-or-up/[[...catchall]]/page.tsx
  integration/tests/combined-sign-in-flow.test.ts
  integration/tests/combined-sign-up-flow.test.ts
  integration/tests/sign-in-or-up-component.test.ts
  integration/tests/sign-in-or-up-email-links-flow.test.ts
  integration/tests/sign-in-or-up-flow.test.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/common/__tests__/redirects.test.ts
  packages/clerk-js/src/ui/common/redirects.ts
  packages/clerk-js/src/ui/components/SignIn/SignIn.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorOneEmailLinkCard.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/components/SignIn/handleCombinedFlowTransfer.ts
  packages/clerk-js/src/ui/components/SignUp/SignUpContinue.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpStart.tsx
  packages/clerk-js/src/ui/components/UserProfile/VerifyWithLink.tsx
  packages/clerk-js/src/ui/contexts/components/SignIn.ts
  packages/clerk-js/src/ui/contexts/components/SignUp.ts
  packages/clerk-js/src/ui/router/Route.tsx
  packages/clerk-js/src/ui/router/RouteContext.tsx
  packages/react/src/components/SignInButton.tsx
  packages/react/src/types.ts
  packages/types/src/clerk.ts
  packages/vue/src/components/SignInButton.ts
  packages/vue/src/components/SignInButton.vue
Due: npx eslint --fix, npx prettier --write

update to keyless
  packages/clerk-js/sandbox/app.ts
  packages/clerk-js/sandbox/template.html
Due: npx eslint --fix, npx prettier --write

Path conditions:
  npx eslint --fix: any of: *.{mjs,js,jsx,ts,tsx}
  npx prettier --write: (any of: *.{mjs,js,jsx,ts,tsx}) or (any of: *.{json,md,mdx})
