Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

chore(repo): Add empty changeset
  .changeset/large-bulldogs-tap.md
Due: npx prettier --write

Introduce changesets
  .changeset/dull-penguins-sit.md
  .changeset/itchy-mangos-refuse.md
  packages/clerk-js/src/ui/components/UserProfile/__tests__/EnterpriseAccountsSection.test.tsx
Due: npx eslint --fix, npx prettier --write

fix a bug in the dev CLI where next was not detected unless next.config was present
  packages/dev-cli/src/commands/setup.js
Due: npx eslint --fix, npx prettier --write

Introduce tests
  packages/clerk-js/src/ui/components/UserProfile/EnterpriseAccountsSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/EnterpriseAccountsSection.test.tsx
Due: npx eslint --fix, npx prettier --write

wip
  packages/clerk-js/sandbox/app.js
Due: npx eslint --fix, npx prettier --write

feat(clerk-js): Add build:sandbox command
  packages/clerk-js/package.json
  packages/clerk-js/rspack.config.js
  packages/clerk-js/turbo.json
Due: npx eslint --fix, npx prettier --write

WIP
  .vscode/settings.json
  turbo.json
Due: npx prettier --write

simplify check
  packages/dev-cli/src/commands/setup.js
Due: npx eslint --fix, npx prettier --write

adds changeset
  .changeset/shaggy-donuts-cry.md
Due: npx prettier --write

WIP
  .npmrc
Due: none

WIP
  turbo.json
Due: npx prettier --write

feat(clerk-js): Add sandbox support for persistent component props (#4610)
  .changeset/rude-lions-know.md
  packages/clerk-js/sandbox/app.js
Due: npx eslint --fix, npx prettier --write

WIP 2
  packages/nextjs/src/app-router/accountless-actions.ts
  packages/nextjs/src/app-router/client/ClerkProvider.tsx
  packages/nextjs/src/app-router/client/accountless-cookie-sync.tsx
  packages/nextjs/src/app-router/server/ClerkProvider.tsx
  packages/nextjs/src/server/accountless-node.ts
Due: npx eslint --fix, npx prettier --write

test(nuxt): Fix incorrect env vars (#4606)
  .changeset/shy-months-invite.md
  integration/presets/nuxt.ts
  integration/templates/nuxt-node/nuxt.config.js
  packages/nuxt/README.md
Due: npx eslint --fix, npx prettier --write

chore(clerk-expo-passkeys): fix breaking changes (#4601)
  .changeset/fifty-cameras-tease.md
  packages/expo-passkeys/.eslintrc.js
  packages/expo-passkeys/src/utils.ts
  packages/expo/package.json
  pnpm-lock.yaml
Due: npx eslint --fix, npx prettier --write

chore(repo): Remove VSCode ZipFS extension recommendation (#4609)
  .vscode/extensions.json
Due: npx prettier --write

chore(e2e): Enable reverification.test.ts
  .changeset/ten-hornets-deny.md
  integration/tests/reverification.test.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Remove hcaptcha
  packages/clerk-js/src/utils/captcha/getCaptchaToken.ts
  packages/clerk-js/src/utils/captcha/hcaptcha.ts
  packages/clerk-js/src/utils/captcha/retrieveCaptchaInfo.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Introduce captchaHeartbeat in DisplayConfig.ts
  packages/clerk-js/src/core/resources/DisplayConfig.ts
  packages/types/src/displayConfig.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Run invisible challenge on every 5 heartbeats
  packages/clerk-js/src/core/fraudProtection.ts
  packages/clerk-js/src/core/resources/Session.ts
Due: npx eslint --fix, npx prettier --write

experimental prefix
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/localizations/src/ar-SA.ts
  packages/localizations/src/be-BY.ts
  packages/localizations/src/bg-BG.ts
  packages/localizations/src/cs-CZ.ts
  packages/localizations/src/da-DK.ts
  packages/localizations/src/de-DE.ts
  packages/localizations/src/el-GR.ts
  packages/localizations/src/en-US.ts
  packages/localizations/src/es-ES.ts
  packages/localizations/src/es-MX.ts
  packages/localizations/src/fi-FI.ts
  packages/localizations/src/fr-FR.ts
  packages/localizations/src/he-IL.ts
  packages/localizations/src/hu-HU.ts
  packages/localizations/src/is-IS.ts
  packages/localizations/src/it-IT.ts
  packages/localizations/src/ja-JP.ts
  packages/localizations/src/ko-KR.ts
  packages/localizations/src/mn-MN.ts
  packages/localizations/src/nb-NO.ts
  packages/localizations/src/nl-NL.ts
  packages/localizations/src/pl-PL.ts
  packages/localizations/src/pt-BR.ts
  packages/localizations/src/pt-PT.ts
  packages/localizations/src/ro-RO.ts
  packages/localizations/src/ru-RU.ts
  packages/localizations/src/sk-SK.ts
  packages/localizations/src/sr-RS.ts
  packages/localizations/src/sv-SE.ts
  packages/localizations/src/th-TH.ts
  packages/localizations/src/tr-TR.ts
  packages/localizations/src/uk-UA.ts
  packages/localizations/src/vi-VN.ts
  packages/localizations/src/zh-CN.ts
  packages/localizations/src/zh-TW.ts
  packages/types/src/localization.ts
Due: npx eslint --fix, npx prettier --write

Create red-chicken-visit.md
  .changeset/red-chicken-visit.md
Due: npx prettier --write

move signUpProps to experimental
  packages/clerk-js/src/ui/components/SignIn/SignIn.tsx
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

add changeset
  .changeset/loud-balloons-grow.md
Due: npx prettier --write

update tests
  integration/tests/reverification.test.ts
Due: npx eslint --fix, npx prettier --write

chore(e2e): Enable reverification.test.ts (#4613)
  .changeset/ten-hornets-deny.md
  integration/tests/reverification.test.ts
Due: npx eslint --fix, npx prettier --write

fix(astro): Add components to turborepo cache
  packages/astro/turbo.json
Due: npx prettier --write

chore(clerk-js): Increase leeway to 11sec
  packages/clerk-js/src/core/fraudProtection.ts
  packages/clerk-js/src/core/tokenCache.ts
Due: npx eslint --fix, npx prettier --write

Fraud protection improvements (#4614)
  .changeset/red-chicken-visit.md
  packages/clerk-js/src/core/fraudProtection.ts
  packages/clerk-js/src/core/resources/DisplayConfig.ts
  packages/clerk-js/src/core/resources/Session.ts
  packages/clerk-js/src/core/tokenCache.ts
  packages/clerk-js/src/utils/captcha/getCaptchaToken.ts
  packages/clerk-js/src/utils/captcha/hcaptcha.ts
  packages/clerk-js/src/utils/captcha/retrieveCaptchaInfo.ts
  packages/types/src/displayConfig.ts
Due: npx eslint --fix, npx prettier --write

WIP
  .changeset/orange-radios-nail.md
Due: npx prettier --write

empty changeset
  .changeset/orange-radios-nail.md
Due: npx prettier --write

chore(shared): Update signature of `useReverification` for error handling configuration (#4564)
  .changeset/silent-bears-worry.md
  packages/clerk-js/src/ui/components/UserProfile/AddAuthenticatorApp.tsx
  packages/clerk-js/src/ui/components/UserProfile/ConnectedAccountsMenu.tsx
  packages/clerk-js/src/ui/components/UserProfile/ConnectedAccountsSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/DeleteUserForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/EmailForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/MfaBackupCodeCreateForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/PasskeySection.tsx
  packages/clerk-js/src/ui/components/UserProfile/PasswordForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/PhoneForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/UsernameForm.tsx
  packages/shared/src/authorization.ts
  packages/shared/src/react/__tests__/useReverification.test.ts
  packages/shared/src/react/hooks/useReverification.ts
Due: npx eslint --fix, npx prettier --write

feat(clerk-js,types): In combined flow move to waitlist with email
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/components/Waitlist/Waitlist.tsx
  packages/clerk-js/src/ui/contexts/components/Waitlist.ts
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Add dist folder as output to build:sandbox task
  packages/clerk-js/turbo.json
Due: npx prettier --write

Update packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
Due: npx eslint --fix, npx prettier --write

add waitlistUrl
  packages/clerk-js/sandbox/app.js
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Fix tokenCache.test.ts
  packages/clerk-js/src/core/__tests__/tokenCache.test.ts
Due: npx eslint --fix, npx prettier --write

empty changeset
  .changeset/thin-turkeys-turn.md
Due: npx prettier --write

fix(clerk-js): Fix tokenCache.test.ts (#4616)
  .changeset/thin-turkeys-turn.md
  packages/clerk-js/src/core/__tests__/tokenCache.test.ts
Due: npx eslint --fix, npx prettier --write

fix(astro): Add components to turborepo cache (#4611)
  .changeset/orange-radios-nail.md
  packages/astro/turbo.json
Due: npx prettier --write

Path conditions:
  npx eslint --fix: any of: *.{mjs,js,jsx,ts,tsx}
  npx prettier --write: (any of: *.{mjs,js,jsx,ts,tsx}) or (any of: *.{json,md,mdx})
