Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

Added Croatian localization
  .changeset/ten-avocados-refuse.md
  packages/localizations/src/hr-HR.ts
  packages/localizations/src/index.ts
Due: npx eslint --fix, npx prettier --write

Update he-IL (localizations)
  packages/localizations/src/he-IL.ts
Due: npx eslint --fix, npx prettier --write

Update he-IL (localizations) - Translation of additional keys
  packages/localizations/src/he-IL.ts
Due: npx eslint --fix, npx prettier --write

fix(backend): Do not cache 307 redirects
  packages/backend/src/constants.ts
  packages/backend/src/tokens/__tests__/request.test.ts
  packages/backend/src/tokens/request.ts
Due: npx eslint --fix, npx prettier --write

Add changeset
  .changeset/spotty-students-judge.md
Due: npx prettier --write

chore(repo): Update package-lock.json
  package-lock.json
  packages/fastify/src/__tests__/__snapshots__/constants.test.ts.snap
Due: npx prettier --write

chore(repo): Update package-lock.json
  packages/backend/src/tokens/request.ts
Due: npx eslint --fix, npx prettier --write

fix(backend): Do not cache 307 redirects (#4171)
  .changeset/spotty-students-judge.md
  package-lock.json
  packages/backend/src/constants.ts
  packages/backend/src/tokens/__tests__/request.test.ts
  packages/backend/src/tokens/request.ts
  packages/fastify/src/__tests__/__snapshots__/constants.test.ts.snap
Due: npx eslint --fix, npx prettier --write

feat(testing): Introduce helpers for Playwright (#4006)
  .changeset/chilly-seas-boil.md
  packages/testing/src/common/helpers-utils.ts
  packages/testing/src/common/index.ts
  packages/testing/src/common/types.ts
  packages/testing/src/cypress/custom-commands.ts
  packages/testing/src/playwright/helpers.ts
  packages/testing/src/playwright/index.ts
Due: npx eslint --fix, npx prettier --write

initial
  packages/shared/package.json
  packages/shared/subpaths.mjs
  scripts/subpath-workaround.mjs
Due: npx eslint --fix, npx prettier --write

add changeset
  .changeset/shaggy-lobsters-film.md
Due: npx prettier --write

refactor
  packages/clerk-js/src/ui/Components.tsx
  packages/clerk-js/src/ui/components/UserProfile/AddAuthenticatorApp.tsx
  packages/clerk-js/src/ui/components/UserVerification/use-after-verification.ts
  packages/clerk-js/src/ui/contexts/ClerkUIComponentsContext.tsx
  packages/clerk-js/src/ui/hooks/useAssurance.ts
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

feat(backend): Add support for refresh token flow
  packages/backend/src/api/endpoints/SessionApi.ts
  packages/backend/src/api/resources/Cookies.ts
  packages/backend/src/api/resources/JSON.ts
  packages/backend/src/constants.ts
  packages/backend/src/tokens/authenticateContext.ts
  packages/backend/src/tokens/factory.ts
  packages/backend/src/tokens/request.ts
  packages/backend/src/tokens/types.ts
Due: npx eslint --fix, npx prettier --write

feat(backend): Use clerkUrl.origin instead of origin header
  packages/backend/src/tokens/clerkRequest.ts
  packages/backend/src/tokens/request.ts
Due: npx eslint --fix, npx prettier --write

test(backend): Add unit test for refresh workflow
  packages/backend/src/fixtures/index.ts
  packages/backend/src/tokens/__tests__/request.test.ts
  packages/backend/src/tokens/request.ts
Due: npx eslint --fix, npx prettier --write

feat(backend): Rename refreshSession endpoint to 'refresh'
  packages/backend/src/api/endpoints/SessionApi.ts
Due: npx eslint --fix, npx prettier --write

feat(backend): Update to latest return type
  packages/backend/src/api/endpoints/SessionApi.ts
  packages/backend/src/api/resources/Cookies.ts
  packages/backend/src/tokens/__tests__/request.test.ts
  packages/backend/src/tokens/request.ts
Due: npx eslint --fix, npx prettier --write

chore(backend): Add changeset
  .changeset/wicked-buses-hammer.md
Due: npx prettier --write

fix(backend): Refresh flow should only fire for expired tokens
  packages/backend/src/tokens/__tests__/request.test.ts
  packages/backend/src/tokens/request.ts
Due: npx eslint --fix, npx prettier --write

fix(backend): Always read suffixed refresh cookie
  packages/backend/src/tokens/authenticateContext.ts
Due: npx eslint --fix, npx prettier --write

fix(backend): Remove setting headers
  packages/backend/src/tokens/request.ts
Due: npx eslint --fix, npx prettier --write

fix(fastify): Update test snapshot
  packages/fastify/src/__tests__/__snapshots__/constants.test.ts.snap
Due: none

test(backend): Add additional fetch call to mock
  packages/backend/src/tokens/__tests__/request.test.ts
Due: npx eslint --fix, npx prettier --write

fix(backend): Add explicit return type
  packages/nextjs/src/server/clerkMiddleware.ts
Due: npx eslint --fix, npx prettier --write

feat(backend): Only allow refresh flow on GET requests
  packages/backend/src/tokens/request.ts
Due: npx eslint --fix, npx prettier --write

Add `hr-HR` to subpaths
  packages/localizations/subpaths.mjs
Due: npx eslint --fix, npx prettier --write

Add `hr-HR` to package.files
  packages/localizations/package.json
Due: npx prettier --write

test(backend): Assert suffixed cookie is always used
  packages/backend/src/api/resources/JSON.ts
  packages/backend/src/tokens/__tests__/request.test.ts
Due: npx eslint --fix, npx prettier --write

Croatian (hr-HR) localization added (#4168)
  .changeset/ten-avocados-refuse.md
  packages/localizations/package.json
  packages/localizations/src/hr-HR.ts
  packages/localizations/src/index.ts
  packages/localizations/subpaths.mjs
Due: npx eslint --fix, npx prettier --write

clean up assurance
  packages/clerk-js/src/ui/hooks/useAssurance.ts
Due: npx eslint --fix, npx prettier --write

fix localizations
  packages/localizations/package.json
Due: npx prettier --write

add changeset
  .changeset/four-oranges-clap.md
Due: npx prettier --write

chore(localizations): Add changeset
  .changeset/slow-carrots-fix.md
  packages/localizations/package.json
Due: npx prettier --write

chore(localizations): Update he-IL (#4169)
  .changeset/slow-carrots-fix.md
  packages/localizations/package.json
  packages/localizations/src/he-IL.ts
Due: npx eslint --fix, npx prettier --write

feat(backend): Add support for refresh token flow (#4154)
  .changeset/wicked-buses-hammer.md
  packages/backend/src/api/endpoints/SessionApi.ts
  packages/backend/src/constants.ts
  packages/backend/src/fixtures/index.ts
  packages/backend/src/tokens/__tests__/request.test.ts
  packages/backend/src/tokens/authenticateContext.ts
  packages/backend/src/tokens/clerkRequest.ts
  packages/backend/src/tokens/factory.ts
  packages/backend/src/tokens/request.ts
  packages/backend/src/tokens/types.ts
  packages/fastify/src/__tests__/__snapshots__/constants.test.ts.snap
  packages/nextjs/src/server/clerkMiddleware.ts
Due: npx eslint --fix, npx prettier --write

update bundlewatch.config.json
  packages/clerk-js/bundlewatch.config.json
Due: npx prettier --write

update localization
  packages/localizations/src/he-IL.ts
Due: npx eslint --fix, npx prettier --write

fix(localization): linting error in he-IL
  .changeset/ten-olives-knock.md
  packages/localizations/src/he-IL.ts
Due: npx eslint --fix, npx prettier --write

More thoughtful test cases
  integration/tests/handshake.test.ts
Due: npx eslint --fix, npx prettier --write

Path conditions:
  npx eslint --fix: any of: *.{mjs,js,jsx,ts,tsx}
  npx prettier --write: (any of: *.{mjs,js,jsx,ts,tsx}) or (any of: *.{json,md,mdx})
