Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{mjs,js,jsx,ts,tsx}": ["npx eslint --fix", "npx prettier --write"],
  "*.{json,md,mdx}": ["npx prettier --write"]
}

use logical property
  packages/ui/src/primitives/button.tsx
Due: npx eslint --fix, npx prettier --write

feat(expo): Introduce `createClerkClient` to avoid importing the Clerk class from clerk-js manually
  packages/expo/src/ClerkProvider.tsx
  packages/expo/src/index.ts
  packages/expo/src/singleton.ts
Due: npx eslint --fix, npx prettier --write

feat(expo): Add changeset
  .changeset/calm-wasps-accept.md
Due: npx prettier --write

chore(clerk-expo): Throw error when calling `getClerkInstance()`
  .changeset/calm-wasps-accept.md
  packages/expo/src/ClerkProvider.tsx
  packages/expo/src/singleton.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-expo): Use `getClerkInstance`
  .changeset/calm-wasps-accept.md
  packages/expo/src/ClerkProvider.tsx
  packages/expo/src/index.ts
  packages/expo/src/singleton.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-expo): Add errorThrower
  packages/expo/src/errorThrower.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-expo): Expo env
  packages/expo/src/ClerkProvider.tsx
Due: npx eslint --fix, npx prettier --write

move rtl logic into icon component
  packages/ui/src/components/sign-in/sign-in.tsx
  packages/ui/src/components/sign-up/sign-up.tsx
  packages/ui/src/primitives/icon.tsx
Due: npx eslint --fix, npx prettier --write

add empty changeset
  .changeset/yellow-deers-dress.md
Due: npx prettier --write

add direction toggle
  packages/ui/theme-builder/app/color-picker.tsx
  packages/ui/theme-builder/app/direction-toggle.tsx
  packages/ui/theme-builder/app/theme-builder.tsx
Due: npx eslint --fix, npx prettier --write

adjust theme builder ui placement and border for rtl
  packages/ui/theme-builder/app/theme-builder.tsx
  packages/ui/theme-builder/app/theme-dialog.tsx
Due: npx eslint --fix, npx prettier --write

make toggle group
  packages/ui/theme-builder/app/direction-toggle.tsx
  packages/ui/theme-builder/app/theme-builder.tsx
  packages/ui/theme-builder/app/toggle-group.tsx
Due: npx eslint --fix, npx prettier --write

Update package-lock.json
  packages/ui/theme-builder/package-lock.json
Due: npx prettier --write

feat(ui): Implements `--font-size` variable
  packages/ui/src/global.css
  packages/ui/src/primitives/button.tsx
  packages/ui/src/primitives/card.tsx
  packages/ui/src/primitives/connection.tsx
  packages/ui/src/primitives/field.tsx
  packages/ui/src/primitives/seperator.tsx
  packages/ui/src/tailwind.config.ts
  packages/ui/theme-builder/app/generate-colors.ts
  packages/ui/theme-builder/app/theme-builder.tsx
Due: npx eslint --fix, npx prettier --write

add empty changeset
  .changeset/dirty-panthers-perform.md
Due: npx prettier --write

update default line height
  packages/ui/src/primitives/button.tsx
  packages/ui/src/primitives/card.tsx
  packages/ui/src/primitives/connection.tsx
  packages/ui/src/primitives/field.tsx
  packages/ui/src/primitives/seperator.tsx
  packages/ui/src/tailwind.config.ts
Due: npx eslint --fix, npx prettier --write

make small
  packages/ui/src/primitives/card.tsx
Due: npx eslint --fix, npx prettier --write

update spacing
  packages/ui/src/primitives/card.tsx
Due: npx eslint --fix, npx prettier --write

Fix issue when passing redirect props to SignInButton and SignOutButton
  integration/templates/next-app-router/src/app/buttons/page.tsx
  integration/testUtils/commonPageObject.ts
  integration/tests/redirects.test.ts
  packages/react/src/components/SignInButton.tsx
  packages/react/src/components/SignUpButton.tsx
Due: npx eslint --fix, npx prettier --write

Add tests for SignUpButton, remove aria-hidden on wrapping modal backdrop element
  integration/templates/next-app-router/src/app/buttons/page.tsx
  integration/testUtils/commonPageObject.ts
  integration/tests/redirects.test.ts
  packages/clerk-js/src/ui/elements/Modal.tsx
Due: npx eslint --fix, npx prettier --write

Remove commented out code
  packages/clerk-js/src/ui/elements/Modal.tsx
Due: npx eslint --fix, npx prettier --write

Adds changesets
  .changeset/metal-foxes-raise.md
  .changeset/sixty-ears-rest.md
Due: npx prettier --write

Ensure the namespaced props are passed to the redirectTo* methods
  packages/react/src/components/SignInButton.tsx
  packages/react/src/components/SignUpButton.tsx
Due: npx eslint --fix, npx prettier --write

Fix unit tests
  packages/react/src/components/__tests__/SignInButton.test.tsx
  packages/react/src/components/__tests__/SignUpButton.test.tsx
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Do not distort application logo (#3501)
  .changeset/chilly-garlics-reply.md
  packages/clerk-js/src/ui/elements/ApplicationLogo.tsx
Due: npx eslint --fix, npx prettier --write

chore(repo): Remove changeset check for renovate PRs
  .github/workflows/ci.yml
Due: none

fix(repo): Use correct scope for renovate PR commit msg
  renovate.json5
  scripts/renovate-config-generator.mjs
Due: npx eslint --fix, npx prettier --write

Create gentle-brooms-worry.md
  .changeset/gentle-brooms-worry.md
Due: npx prettier --write

chore(repo): Remove changeset check for renovate PRs (#3509)
  .github/workflows/ci.yml
Due: none

chore(nextjs): Resolve PR comments
  packages/nextjs/src/app-router/client/useInternalNavFun.ts
Due: npx eslint --fix, npx prettier --write

Create hot-chefs-cross.md
  .changeset/hot-chefs-cross.md
Due: npx prettier --write

Update profile primary button text and nav text in fr-FR & zh-CN
  packages/localizations/src/fr-FR.ts
  packages/localizations/src/zh-CN.ts
Due: npx eslint --fix, npx prettier --write

chore(elements): Make passkey a standalone component
  packages/elements/examples/nextjs/app/sign-in/[[...sign-in]]/page.tsx
  packages/elements/src/react/sign-in/action/action.tsx
  packages/elements/src/react/sign-in/index.ts
  packages/elements/src/react/sign-in/passkey.tsx
Due: npx eslint --fix, npx prettier --write

chore(elements): Update changeset
  .changeset/fuzzy-bees-doubt.md
Due: npx prettier --write

Create empty-deers-notice.md
  .changeset/empty-deers-notice.md
Due: npx prettier --write

Create pretty-hounds-drive.md
  .changeset/pretty-hounds-drive.md
Due: npx prettier --write

chore(elements): Move autofill support detection inside an actor
  packages/elements/src/internals/machines/sign-in/router.machine.ts
  packages/elements/src/internals/machines/sign-in/router.types.ts
  packages/elements/src/react/common/form/index.tsx
  packages/elements/src/react/sign-in/context/router.context.ts
Due: npx eslint --fix, npx prettier --write

Create giant-cougars-grab.md
  .changeset/giant-cougars-grab.md
Due: npx prettier --write

chore(clerk-expo): fix type
  packages/expo/src/singleton.ts
Due: npx eslint --fix, npx prettier --write

Create rotten-eyes-tickle.md
  .changeset/rotten-eyes-tickle.md
Due: npx prettier --write
