Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["npx prettier --write", "npx eslint --fix"],
  "*.{json,md,mdx}": ["npx prettier --write"]
}

feat(clerk-js,types): Add appearance keys for pagination and table head (#1803)
  .changeset/clean-bears-fold.md
  packages/clerk-js/src/ui/components/OrganizationProfile/MemberListTable.tsx
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/clerk-js/src/ui/elements/Pagination.tsx
  packages/themes/src/createTheme.ts
  packages/types/src/appearance.ts
Due: npx prettier --write, npx eslint --fix

chore(clerk-js): Typo fix
  packages/clerk-js/tsconfig.json
Due: npx prettier --write

chore(repo): Update CODEOWNERS
  CODEOWNERS
Due: none

Create zh-TW.ts
  packages/localizations/src/zh-TW.ts
Due: npx prettier --write, npx eslint --fix

Create lemon-bottles-give.md
  .changeset/lemon-bottles-give.md
Due: npx prettier --write

lol
  packages/backend/tsconfig.test.json
Due: npx prettier --write

feat(localizations): Introduce zh-TW (#1884)
  .changeset/lemon-bottles-give.md
  packages/localizations/src/zh-TW.ts
Due: npx prettier --write, npx eslint --fix

chore(repo): Format repo
  packages/localizations/src/zh-TW.ts
Due: npx prettier --write, npx eslint --fix

chore(shared): Use "bundle: true"
  packages/shared/src/react/clerk-swr.ts
  packages/shared/tsup.config.ts
Due: npx prettier --write, npx eslint --fix

chore(repo): Use correct install snippet in snapshot comment
  .github/workflows/release-snapshot.yml
Due: none

chore(repo): Update lock file
  package-lock.json
Due: npx prettier --write

chore(shared): Move react/hooks into react
  packages/clerk-js/src/ui/Components.tsx
  packages/clerk-js/src/ui/contexts/CoreClientContext.tsx
  packages/clerk-js/src/ui/contexts/CoreOrganizationContext.tsx
  packages/clerk-js/src/ui/contexts/CoreSessionContext.tsx
  packages/clerk-js/src/ui/contexts/CoreUserContext.tsx
  packages/clerk-js/src/ui/customizables/AppearanceContext.tsx
  packages/clerk-js/src/ui/elements/Form.tsx
  packages/clerk-js/src/ui/elements/Menu.tsx
  packages/clerk-js/src/ui/elements/Modal.tsx
  packages/clerk-js/src/ui/elements/Navbar.tsx
  packages/clerk-js/src/ui/elements/Select.tsx
  packages/clerk-js/src/ui/elements/Tabs.tsx
  packages/clerk-js/src/ui/elements/TimerButton.tsx
  packages/clerk-js/src/ui/elements/contexts/CardStateContext.tsx
  packages/clerk-js/src/ui/elements/contexts/FlowMetadataContext.tsx
  packages/clerk-js/src/ui/primitives/hooks/useFormControl.tsx
  packages/react/src/contexts/AuthContext.ts
  packages/react/src/hooks/useOrganization.ts
  packages/react/src/hooks/useOrganizationList.ts
  packages/react/src/hooks/useOrganizations.ts
  packages/shared/package.json
  packages/shared/src/react/index.ts
Due: npx prettier --write, npx eslint --fix

Update wild-carrots-reply.md
  .changeset/wild-carrots-reply.md
Due: npx prettier --write

refactor(clerk-js): Simplify appendAsQueryParams and handle urls higher up
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/utils/__tests__/url.test.ts
  packages/clerk-js/src/utils/url.ts
Due: npx prettier --write, npx eslint --fix

fix(clerk-js): Append initial values query params after hash
  .changeset/wise-spiders-hammer.md
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/utils/__tests__/url.test.ts
  packages/clerk-js/src/utils/url.ts
Due: npx prettier --write, npx eslint --fix

fix(repo): Ensure build runs before lint so types are available
  .github/workflows/checks.yml
  packages/nextjs/src/ssr/utils/authenticateRequest.ts
Due: npx prettier --write, npx eslint --fix

chore(repo): Add changeset
  .changeset/olive-foxes-knock.md
Due: npx prettier --write

chore(repo): Make lint depend on build
  .github/workflows/checks.yml
  turbo.json
Due: npx prettier --write

chore(clerk-js): Remove custom Alert from invitation page and display error as global
  .changeset/shiny-experts-notice.md
  packages/clerk-js/src/ui/components/OrganizationProfile/InviteMembersForm.tsx
  packages/clerk-js/src/ui/elements/contexts/CardStateContext.tsx
Due: npx prettier --write, npx eslint --fix

fix(clerk-js): Properly show the deprecation warnings for usage of limit and offset
  packages/clerk-js/src/core/resources/Organization.ts
  packages/clerk-js/src/core/resources/OrganizationMembership.ts
Due: npx prettier --write, npx eslint --fix

chore(repo): Move turbo cache restore into shared setup
  .github/actions/setup/action.yml
  .github/workflows/base-lint.yml
  .github/workflows/checks.yml
Due: none

chore(repo): Address all other usages of actions/setup
  .github/workflows/base-changeset.yml
  .github/workflows/base-e2e.yml
  .github/workflows/base-prettier.yml
  .github/workflows/base-registry.yml
  .github/workflows/release-prod.yml
  .github/workflows/release-snapshot.yml
  .github/workflows/release-staging.yml
Due: none

chore(repo): Do not use turbo cache for build step
  .github/workflows/base-build.yml
Due: none

chore(repo): Invert turbo cache logic
  .github/actions/setup/action.yml
  .github/workflows/base-build.yml
  .github/workflows/base-changeset.yml
  .github/workflows/base-e2e.yml
  .github/workflows/base-prettier.yml
  .github/workflows/checks.yml
  .github/workflows/release-prod.yml
  .github/workflows/release-snapshot.yml
  .github/workflows/release-staging.yml
Due: none

chore(clerk-js): Deprecate experimental captcha from Clerk singleton
  .changeset/wild-moons-develop.md
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/resources/SignUp.ts
  packages/clerk-js/src/utils/retrieveCaptchaInfo.ts
  packages/types/src/clerk.ts
Due: npx prettier --write, npx eslint --fix

fix(repo): Ensure build runs before lint in CI (#1902)
  .changeset/olive-foxes-knock.md
  .github/actions/setup/action.yml
  .github/workflows/base-lint.yml
  .github/workflows/base-registry.yml
  .github/workflows/checks.yml
  packages/nextjs/src/ssr/utils/authenticateRequest.ts
  turbo.json
Due: npx prettier --write, npx eslint --fix

fix(repo): Add merge_group trigger for merge queue
  .github/workflows/checks.yml
Due: none

chore(repo): Add merge_group trigger to checks.yml
  .github/workflows/checks.yml
Due: none

chore(repo): Add merge_group trigger to checks.yml (#1907)
  .github/workflows/checks.yml
Due: none

fix(nextjs): Warn about misplaced middleware file when using auth or getAuth
  packages/nextjs/src/server/errors.ts
Due: npx prettier --write, npx eslint --fix

Create selfish-pens-laugh.md
  .changeset/selfish-pens-laugh.md
Due: npx prettier --write

chore(repo): Use correct install snippet in snapshot comment (#1901)
  .github/workflows/release-snapshot.yml
Due: none

chore(clerk-js): Deprecate experimental captcha from Clerk singleton (#1905)
  .changeset/wild-moons-develop.md
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/resources/SignUp.ts
  packages/clerk-js/src/utils/retrieveCaptchaInfo.ts
  packages/types/src/clerk.ts
Due: npx prettier --write, npx eslint --fix

fix(clerk-js): Append initial values query params after hash (#1855)
  .changeset/wise-spiders-hammer.md
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/utils/__tests__/url.test.ts
  packages/clerk-js/src/utils/url.ts
Due: npx prettier --write, npx eslint --fix

chore(repo): Add tests for next build
  integration/models/application.ts
  integration/tests/global.teardown.ts
  integration/tests/next-build.test.ts
  package.json
Due: npx prettier --write, npx eslint --fix

chore(repo): Add buildOutput property on Application instead of accepting a custom log
  integration/models/application.ts
  integration/tests/next-build.test.ts
Due: npx prettier --write, npx eslint --fix

chore(clerk-js): Add changeset
  .changeset/pretty-frogs-turn.md
Due: npx prettier --write

fix(shared): Use correct entries for tsup
  packages/shared/tsup.config.ts
Due: npx prettier --write, npx eslint --fix

chore(clerk-js): Remove custom Alert from invitation page and display error as global (pr comments)
  packages/clerk-js/src/ui/components/OrganizationProfile/InviteMembersForm.tsx
Due: npx prettier --write, npx eslint --fix
