Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --fix, pnpm prettier --write

Update `SignIn.SessionList` to include pending sessions
  packages/clerk-js/src/ui/components/UserProfile/ActiveDevicesSection.tsx
  packages/elements/src/react/sign-in/choose-session/choose-session.hooks.ts
  packages/elements/src/react/sign-in/choose-session/choose-session.tsx
Due: pnpm eslint --fix, pnpm prettier --write

Consider `pending` as authenticate state for client UAT
  packages/clerk-js/src/core/auth/cookies/clientUat.ts
Due: pnpm eslint --fix, pnpm prettier --write

Update handshake tests
  integration/testUtils/handshake.ts
  integration/tests/handshake.test.ts
Due: pnpm eslint --fix, pnpm prettier --write

Add `pending` to `SessionStatus` union
  packages/types/src/session.ts
Due: pnpm eslint --fix, pnpm prettier --write

Add test coverage for `pending` and `active` statuses
  packages/clerk-js/src/core/__tests__/clerk.test.ts
Due: pnpm eslint --fix, pnpm prettier --write

Save JWT token on Expo for pending session status
  packages/expo/src/provider/singleton/createClerkInstance.ts
Due: pnpm eslint --fix, pnpm prettier --write

Deprecate `activeSessions`
  packages/clerk-js/src/core/__tests__/clerk.redirects.test.ts
  packages/clerk-js/src/core/__tests__/clerk.test.ts
  packages/clerk-js/src/core/resources/Client.ts
  packages/react/src/isomorphicClerk.ts
  packages/types/src/client.ts
Due: pnpm eslint --fix, pnpm prettier --write

Add changeset
  .changeset/proud-cycles-roll.md
  packages/elements/src/react/sign-in/choose-session/__tests__/choose-session.test.tsx
  packages/elements/src/react/sign-in/choose-session/choose-session.hooks.ts
Due: pnpm eslint --fix, pnpm prettier --write

Introduce separate changesets
  .changeset/nasty-mangos-live.md
  .changeset/proud-cycles-roll.md
  packages/clerk-js/src/core/__tests__/clerk.test.ts
  packages/types/src/session.ts
Due: pnpm eslint --fix, pnpm prettier --write

Fix sign in account switcher to look for pending sessions
  integration/testUtils/handshake.ts
  integration/tests/handshake.test.ts
  packages/clerk-js/src/ui/components/SignIn/SignInAccountSwitcher.tsx
Due: pnpm eslint --fix, pnpm prettier --write

Plug pending session into main Client resource
  integration/testUtils/handshake.ts
  packages/astro/src/stores/internal.ts
  packages/clerk-js/src/core/__tests__/clerk.test.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/resources/Client.ts
  packages/clerk-js/src/ui/components/ImpersonationFab/ImpersonationFab.tsx
  packages/clerk-js/src/ui/components/UserButton/SessionActions.tsx
  packages/clerk-js/src/ui/components/UserButton/UserButtonPopover.tsx
  packages/clerk-js/src/ui/components/UserButton/useMultisessionActions.tsx
  packages/clerk-js/src/ui/hooks/useMultipleSessions.ts
  packages/react/src/isomorphicClerk.ts
  packages/shared/src/deriveState.ts
  packages/shared/src/react/contexts.tsx
  packages/types/src/clerk.ts
  packages/types/src/client.ts
  packages/types/src/hooks.ts
  packages/types/src/session.ts
  packages/vue/src/types.ts
Due: pnpm eslint --fix, pnpm prettier --write

Update device section to list for pending
  integration/testUtils/handshake.ts
  packages/clerk-js/src/ui/components/UserProfile/ActiveDevicesSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/SecurityPage.test.tsx
Due: pnpm eslint --fix, pnpm prettier --write

Add `isAuthenticated` property to main Clerk instance
  packages/clerk-js/src/core/auth/cookies/clientUat.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/resources/Client.ts
  packages/react/src/components/controlComponents.tsx
  packages/types/src/clerk.ts
  packages/types/src/client.ts
  packages/types/src/session.ts
  packages/vue/src/components/controlComponents.ts
Due: pnpm eslint --fix, pnpm prettier --write

clean up
  packages/clerk-js/src/core/clerk.ts
Due: pnpm eslint --fix, pnpm prettier --write

Refactor from `isAuthenticated` to `isSignedIn`
  .changeset/nasty-mangos-live.md
  .changeset/proud-cycles-roll.md
  packages/astro/src/stores/internal.ts
  packages/clerk-js/src/core/__tests__/clerk.redirects.test.ts
  packages/clerk-js/src/core/__tests__/clerk.test.ts
  packages/clerk-js/src/core/auth/cookies/clientUat.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/resources/Client.ts
  packages/clerk-js/src/ui/components/ImpersonationFab/ImpersonationFab.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInAccountSwitcher.tsx
  packages/clerk-js/src/ui/components/UserButton/SessionActions.tsx
  packages/clerk-js/src/ui/components/UserButton/UserButtonPopover.tsx
  packages/clerk-js/src/ui/components/UserButton/useMultisessionActions.tsx
  packages/clerk-js/src/ui/components/UserProfile/ActiveDevicesSection.tsx
  packages/clerk-js/src/ui/hooks/useMultipleSessions.ts
  packages/elements/src/react/sign-in/choose-session/choose-session.hooks.ts
  packages/expo/src/provider/singleton/createClerkInstance.ts
  packages/react/src/components/controlComponents.tsx
  packages/react/src/isomorphicClerk.ts
  packages/shared/src/deriveState.ts
  packages/shared/src/react/contexts.tsx
  packages/types/src/clerk.ts
  packages/types/src/client.ts
  packages/types/src/hooks.ts
  packages/types/src/session.ts
  packages/vue/src/components/controlComponents.ts
  packages/vue/src/types.ts
Due: pnpm eslint --fix, pnpm prettier --write

add comments and rename
  packages/clerk-js/src/core/auth/AuthCookieService.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/utils/offlineScheduler.ts
Due: pnpm eslint --fix, pnpm prettier --write

remove necessary changes
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/utils/pageLifecycle.ts
Due: pnpm eslint --fix, pnpm prettier --write

chore(clerk-js): Pause/resume session touch while offline (#5098)
  .changeset/breezy-dogs-greet.md
  integration/tests/sign-out-smoke.test.ts
  packages/clerk-js/src/core/auth/AuthCookieService.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/utils/offlineScheduler.ts
  packages/clerk-js/src/utils/pageLifecycle.ts
Due: pnpm eslint --fix, pnpm prettier --write

Update templates/playgrounds to look for `Clerk.isSignedIn`
  integration/templates/express-vite/src/views/index.ejs
  playground/vanillajs/index.html
Due: none

introduce a new event
  packages/clerk-js/src/core/clerk.ts
  packages/shared/src/telemetry/events/component-mounted.ts
Due: pnpm eslint --fix, pnpm prettier --write

revert skipping client update
  packages/clerk-js/src/core/resources/Base.ts
  packages/clerk-js/src/core/resources/Client.ts
Due: pnpm eslint --fix, pnpm prettier --write

update changeset
  .changeset/new-fishes-rescue.md
Due: pnpm prettier --write

Remove unnecessary usage of onBeforeSetActive(), refactor shared logic
  packages/clerk-js/src/core/clerk.ts
Due: pnpm eslint --fix, pnpm prettier --write

Updates unit tests
  packages/clerk-js/src/core/__tests__/clerk.test.ts
Due: pnpm eslint --fix, pnpm prettier --write

adds changeset
  .changeset/dry-tigers-mate.md
Due: pnpm prettier --write

handle transitive state
  packages/clerk-js/src/core/clerk.ts
Due: pnpm eslint --fix, pnpm prettier --write

remove duplicated type
  packages/clerk-js/src/core/clerk.ts
Due: pnpm eslint --fix, pnpm prettier --write

initial
  packages/agent-toolkit/package.json
  packages/astro/package.json
  packages/nuxt/package.json
  packages/react-router/package.json
  packages/vue/package.json
Due: pnpm prettier --write

Create stupid-suits-rest.md
  .changeset/stupid-suits-rest.md
Due: pnpm prettier --write

add changeset
  .changeset/olive-elephants-share.md
Due: pnpm prettier --write

chore(localizations): Add missing fi-FI translations for legalConsent (#5103)
  .changeset/stupid-suits-rest.md
  packages/localizations/src/fi-FI.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix(clerk-react): Prevent `UserProfileModal` re-render in `<UserButton />` with custom props (#5145)
  .changeset/sharp-owls-live.md
  integration/templates/react-vite/src/custom-user-button/with-dynamic-label-and-custom-pages.tsx
  integration/templates/react-vite/src/main.tsx
  integration/tests/custom-pages.test.ts
  packages/react/src/components/ClerkHostRenderer.tsx
Due: pnpm eslint --fix, pnpm prettier --write

update deps
  package.json
  pnpm-lock.yaml
Due: pnpm prettier --write

Create young-papayas-change.md
  .changeset/young-papayas-change.md
Due: pnpm prettier --write

use event bus
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/events.ts
  packages/clerk-js/src/core/resources/User.ts
Due: pnpm eslint --fix, pnpm prettier --write

test refinements
  packages/types/src/api.ts
  packages/types/src/oauth.ts
  packages/types/src/web3.ts
  typedoc.config.mjs
Due: pnpm eslint --fix, pnpm prettier --write

fix(shared): Expose reverificationCompleted function
  packages/shared/src/react/hooks/useReverification.ts
Due: pnpm eslint --fix, pnpm prettier --write

feat(shared): Controllable useReverification
  packages/clerk-js/src/ui/components/UserVerification/use-after-verification.ts
  packages/shared/src/react/hooks/useReverification.ts
Due: pnpm eslint --fix, pnpm prettier --write

chore(repo): Add changeset
  .changeset/curly-lizards-pretend.md
Due: pnpm prettier --write

add task
  package.json
  turbo.json
Due: pnpm prettier --write

Path conditions:
  pnpm eslint --fix: any of: *.{mjs,js,jsx,ts,tsx}
  pnpm prettier --write: (any of: *.{mjs,js,jsx,ts,tsx}) or (any of: *.{json,md,mdx})
