Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{mjs,js,jsx,ts,tsx}": ["npx eslint --fix", "npx prettier --write"],
  "*.{json,md,mdx}": ["npx prettier --write"]
}

fix(localizations): Improve `el-GR` localization (#4593)
  .changeset/proud-poems-walk.md
  packages/localizations/src/el-GR.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Ensure autofill event is triggered during sign-in (#4560)
  .changeset/spicy-olives-float.md
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
Due: npx eslint --fix, npx prettier --write

feat(react): Expose `initialValues` within `<SignUpButton />` (#4567)
  .changeset/tender-windows-jam.md
  packages/react/src/components/SignUpButton.tsx
  packages/react/src/types.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Use datetime for prereleaseTemplate
  .changeset/config.json
Due: npx prettier --write

chore(repo): Add changeset
  .changeset/sour-lemons-cheat.md
Due: npx prettier --write

chore(shared): Replace new line with space character in message of ClerkRuntimeError (#4579)
  .changeset/gentle-insects-shave.md
  packages/shared/src/__tests__/error.test.ts
  packages/shared/src/error.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Remove VSCode ZipFS extension recommendation (#4609)
  .vscode/extensions.json
Due: npx prettier --write

feat(repo): Use Blacksmith for CI (#4540)
  .github/actions/init-blacksmith/action.yml
  .github/workflows/ci.yml
  integration/scripts/proxyServer.ts
  integration/testUtils/index.ts
  integration/tests/protect.test.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Correctly handle async requires_captcha error
  packages/clerk-js/src/core/resources/Session.ts
  packages/clerk-js/src/core/resources/SignUp.ts
  packages/clerk-js/src/utils/captcha/getCaptchaToken.ts
  packages/clerk-js/src/utils/captcha/hcaptcha.ts
  packages/clerk-js/src/utils/captcha/turnstile.ts
  packages/clerk-js/src/utils/captcha/types.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Block /tokens requests until fraud detection completes (#4595)
  packages/clerk-js/src/core/fraudProtection.ts
  packages/clerk-js/src/core/resources/Session.ts
Due: npx eslint --fix, npx prettier --write

chore(shared): Improve formatting of ClerkRuntimeError message (#4574)
  .changeset/nine-kids-matter.md
  packages/shared/src/__tests__/error.test.ts
  packages/shared/src/error.ts
Due: npx eslint --fix, npx prettier --write

ci(repo): Version packages (#4573)
  .changeset/little-planes-report.md
  .changeset/new-forks-flash.md
  .changeset/real-hounds-sip.md
  .changeset/sour-lemons-cheat.md
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  pnpm-lock.yaml
Due: npx prettier --write

chore(e2e): Add tests for waitlist sign-up mode (#4557)
  .changeset/good-buckets-cross.md
  integration/presets/envs.ts
  integration/testUtils/index.ts
  integration/testUtils/waitlistPageObject.ts
  integration/tests/waitlist-mode.test.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Fix changeset release
  .github/actions/version-prepatch/action.yml
  .github/workflows/release-canary.yml
  .github/workflows/release-snapshot.yml
  .github/workflows/release.yml
  package.json
Due: npx prettier --write

test(nuxt): Fix incorrect env vars (#4606)
  .changeset/shy-months-invite.md
  integration/presets/nuxt.ts
  integration/templates/nuxt-node/nuxt.config.js
  packages/nuxt/README.md
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Only apply id to FormFeedback when the type is error (#4552)
  .changeset/itchy-cycles-sell.md
  packages/clerk-js/src/ui/elements/FieldControl.tsx
  packages/clerk-js/src/ui/elements/FormControl.tsx
Due: npx eslint --fix, npx prettier --write

test(nuxt, e2e): Create long-running app for Nuxt (#4600)
  .changeset/wet-dryers-pay.md
  .github/workflows/ci.yml
  integration/presets/longRunningApps.ts
  integration/presets/nuxt.ts
  integration/templates/index.ts
  integration/templates/nuxt-node/app.vue
  integration/templates/nuxt-node/middleware/auth.global.js
  integration/templates/nuxt-node/nuxt.config.js
  integration/templates/nuxt-node/package.json
  integration/templates/nuxt-node/pages/index.vue
  integration/templates/nuxt-node/pages/only-admin.vue
  integration/templates/nuxt-node/pages/sign-in.vue
  integration/templates/nuxt-node/pages/user.vue
  integration/templates/nuxt-node/server/api/me.js
  integration/tests/nuxt/basic.test.ts
  package.json
  turbo.json
Due: npx eslint --fix, npx prettier --write

fix(repo): PR title linter sparse checkout (#4577)
  .github/workflows/pr-title-linter.yml
Due: none

chore(shared,nextjs,backend): Rename `reverificationMismatch` to `reverificationError` (#4582)
  .changeset/fluffy-tools-live.md
  integration/templates/next-app-router/src/app/(reverification)/actions.ts
  packages/backend/src/__tests__/exports.test.ts
  packages/backend/src/internal.ts
  packages/nextjs/src/server/__tests__/__snapshots__/exports.test.ts.snap
  packages/nextjs/src/server/index.ts
  packages/shared/src/authorization-errors.ts
  packages/shared/src/react/hooks/useReverification.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-expo-passkeys): fix breaking changes (#4601)
  .changeset/fifty-cameras-tease.md
  packages/expo-passkeys/.eslintrc.js
  packages/expo-passkeys/src/utils.ts
  packages/expo/package.json
  pnpm-lock.yaml
Due: npx eslint --fix, npx prettier --write

chore(repo): Dedupe pnpm-lock.yaml (#4587)
  pnpm-lock.yaml
Due: none

chore(clerk-js): Exclude `_clerk_session_id` query param from `/waitlist` endpoint (#4594)
  .changeset/proud-carrots-carry.md
  packages/clerk-js/src/core/__tests__/fapiClient.test.ts
  packages/clerk-js/src/core/fapiClient.ts
Due: npx eslint --fix, npx prettier --write

feat(clerk-js): Add sandbox support for persistent component props (#4610)
  .changeset/rude-lions-know.md
  packages/clerk-js/sandbox/app.js
Due: npx eslint --fix, npx prettier --write

chore(shared): Throw on TS errors when running unit tests (#4585)
  .changeset/heavy-baboons-stare.md
  packages/shared/jest.config.js
  packages/shared/src/__tests__/deprecated.test.ts
  packages/shared/src/__tests__/telemetry.test.ts
  packages/shared/tsconfig.test.json
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Handle `sign_up_restricted_waitlist` error encountered in an oauth flow (#4603)
  .changeset/polite-seals-bake.md
  packages/clerk-js/src/core/constants.ts
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
Due: npx eslint --fix, npx prettier --write

fix(repo): Run pnpm install before PR title lint (#4580)
  .github/workflows/pr-title-linter.yml
Due: none

feat(clerk-js): Introduce internal Accountless UI prompt in sandbox (#4625)
  .changeset/clever-bats-own.md
  .changeset/empty-fans-attack.md
  packages/clerk-js/sandbox/app.js
  packages/clerk-js/sandbox/template.html
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/Components.tsx
  packages/clerk-js/src/ui/components/AccountlessPrompt/index.tsx
  packages/clerk-js/src/ui/lazyModules/components.ts
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Catch and ignore captcha errors during heartbeat (#4629)
  .changeset/cyan-ducks-accept.md
  packages/clerk-js/src/core/fraudProtection.ts
Due: npx eslint --fix, npx prettier --write

ci(repo): Version packages (#4644)
  .changeset/chilled-zoos-appear.md
  packages/astro/CHANGELOG.md
  packages/astro/package.json
Due: npx prettier --write

chore(shared): Gracefully handle missing reverification error metadata (#4636)
  .changeset/many-bees-mate.md
  packages/shared/src/authorization-errors.ts
  packages/shared/src/authorization.ts
  packages/shared/src/react/hooks/useReverification.ts
Due: npx eslint --fix, npx prettier --write

fix(dev-cli): Fix `clerk-dev` Next.js detection (#4612)
  .changeset/shaggy-donuts-cry.md
  packages/dev-cli/src/commands/setup.js
Due: npx eslint --fix, npx prettier --write

Fraud protection improvements (#4614)
  .changeset/red-chicken-visit.md
  packages/clerk-js/src/core/fraudProtection.ts
  packages/clerk-js/src/core/resources/DisplayConfig.ts
  packages/clerk-js/src/core/resources/Session.ts
  packages/clerk-js/src/core/tokenCache.ts
  packages/clerk-js/src/utils/captcha/getCaptchaToken.ts
  packages/clerk-js/src/utils/captcha/hcaptcha.ts
  packages/clerk-js/src/utils/captcha/retrieveCaptchaInfo.ts
  packages/types/src/displayConfig.ts
Due: npx eslint --fix, npx prettier --write

chore(shared): Update signature of `useReverification` for error handling configuration (#4564)
  .changeset/silent-bears-worry.md
  packages/clerk-js/src/ui/components/UserProfile/AddAuthenticatorApp.tsx
  packages/clerk-js/src/ui/components/UserProfile/ConnectedAccountsMenu.tsx
  packages/clerk-js/src/ui/components/UserProfile/ConnectedAccountsSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/DeleteUserForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/EmailForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/MfaBackupCodeCreateForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/PasskeySection.tsx
  packages/clerk-js/src/ui/components/UserProfile/PasswordForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/PhoneForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/UsernameForm.tsx
  packages/shared/src/authorization.ts
  packages/shared/src/react/__tests__/useReverification.test.ts
  packages/shared/src/react/hooks/useReverification.ts
Due: npx eslint --fix, npx prettier --write

fix(astro): ignore prerendered pages in middleware (#4640)
  .changeset/chilled-zoos-appear.md
  packages/astro/src/server/clerk-middleware.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Disable Cypress binary installation on CI (#4645)
  .github/actions/init-blacksmith/action.yml
  .github/actions/init/action.yml
Due: none

fix(astro): Add components to turborepo cache (#4611)
  .changeset/orange-radios-nail.md
  packages/astro/turbo.json
Due: npx prettier --write
