Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

hook up locationBasedCountryIso
  packages/ui/src/common/PhoneNumberInput/index.tsx
Due: npx eslint --fix, npx prettier --write

chore(backend): Remove outdated test
  packages/backend/src/tokens/keys.test.ts
Due: npx eslint --fix, npx prettier --write

fix(repo): Missing ESLint rules (#3523)
  .changeset/rude-fishes-think.md
  .changeset/tough-glasses-listen.md
  packages/clerk-js/src/ui/components/UserProfile/utils.ts
  packages/clerk-js/src/ui/elements/Card/CardFooter.tsx
  packages/clerk-js/src/ui/elements/PasswordInput.tsx
  packages/clerk-js/src/ui/elements/Section.tsx
  packages/clerk-js/src/ui/elements/utils.ts
  packages/elements/src/internals/machines/form/form.machine.ts
  packages/elements/src/internals/machines/sign-in/router.machine.ts
  packages/elements/src/internals/machines/sign-up/router.machine.ts
  packages/elements/src/internals/machines/sign-up/verification.machine.ts
  packages/elements/src/internals/utils/inspector/console/console.ts
  packages/elements/src/react/common/form/index.tsx
  packages/elements/src/react/common/loading.tsx
  packages/elements/src/react/hooks/use-focus.hook.ts
  packages/elements/src/react/hooks/use-third-party-provider.hook.ts
  packages/elements/src/react/sign-in/choose-strategy.tsx
  packages/elements/src/react/sign-in/root.tsx
  packages/elements/src/react/sign-up/root.tsx
  packages/eslint-config-custom/react.js
  packages/nextjs/src/app-router/server/currentUser.ts
  packages/nextjs/src/app-router/server/utils.ts
  packages/shared/src/telemetry/collector.ts
  packages/shared/src/underscore.ts
Due: npx eslint --fix, npx prettier --write

chore(backend): Shift cache clearing to loadClerkJWKFromRemote
  packages/backend/src/tokens/keys.test.ts
  packages/backend/src/tokens/keys.ts
Due: npx eslint --fix, npx prettier --write

fix(backend): Remove cache timer to fix empty cache bug (#3332)
  .changeset/cyan-gifts-cheer.md
  packages/backend/src/tokens/keys.test.ts
  packages/backend/src/tokens/keys.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Remove unused changeset
  .changeset/rude-fishes-think.md
Due: npx prettier --write

chore(repo): Enable bundlewatch
  .github/workflows/ci.yml
Due: none

ci(repo): Version packages (#3526)
  .changeset/chilled-baboons-decide.md
  .changeset/rude-fishes-think.md
  .changeset/tough-glasses-listen.md
  package-lock.json
  packages/eslint-config-custom/CHANGELOG.md
  packages/eslint-config-custom/package.json
Due: npx prettier --write

chore(repo): Run bundlewatch command
  .github/workflows/ci.yml
Due: none

chore(repo): Run bundlewatch command
  .github/workflows/ci.yml
  packages/clerk-js/bundlewatch.config.json
Due: npx prettier --write

chore(repo): Add bundlewatch env vars to turbo.json
  .github/workflows/ci.yml
  turbo.json
Due: npx prettier --write

Version Packages - V4 (#3527)
  .changeset/cyan-gifts-cheer.md
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
Due: npx prettier --write

chore(repo): Update bundlewatch config
  packages/clerk-js/bundlewatch.config.json
Due: npx prettier --write

chore(clerk-js): Create stringifyQueryParams function
  packages/clerk-js/src/core/fapiClient.ts
  packages/clerk-js/src/ui/router/BaseRouter.tsx
  packages/clerk-js/src/utils/querystring.ts
Due: npx eslint --fix, npx prettier --write

Update package-lock.json
  package-lock.json
  packages/clerk-js/src/core/clerk.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Remove qs library
  packages/clerk-js/package.json
  packages/clerk-js/src/core/fapiClient.ts
  packages/clerk-js/src/ui/router/BaseRouter.tsx
  packages/clerk-js/src/ui/router/index.tsx
  packages/clerk-js/src/utils/__tests__/querystring.test.ts
  packages/clerk-js/src/utils/querystring.ts
Due: npx eslint --fix, npx prettier --write

Update packages/clerk-js/src/core/fapiClient.ts
  packages/clerk-js/src/core/fapiClient.ts
Due: npx eslint --fix, npx prettier --write

Create silent-countries-jump.md
  .changeset/silent-countries-jump.md
Due: npx prettier --write

chore(clerk-js): Update ParsedQueryString type and stringifyQueryParam function
  packages/clerk-js/src/ui/contexts/ClerkUIComponentsContext.tsx
  packages/clerk-js/src/ui/router/index.tsx
  packages/clerk-js/src/utils/__tests__/querystring.test.ts
  packages/clerk-js/src/utils/querystring.ts
Due: npx eslint --fix, npx prettier --write

Update packages/clerk-js/src/utils/querystring.ts
  packages/clerk-js/src/utils/querystring.ts
Due: npx eslint --fix, npx prettier --write

Resolve PR comments
  packages/clerk-js/package.json
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/fapiClient.ts
  packages/clerk-js/src/utils/__tests__/querystring.test.ts
  packages/clerk-js/src/utils/querystring.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Update querystring.ts file and add more tests
  packages/clerk-js/src/utils/__tests__/querystring.test.ts
  packages/clerk-js/src/utils/querystring.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Rename encoder to keyEncoder
  packages/clerk-js/src/utils/__tests__/querystring.test.ts
  packages/clerk-js/src/utils/querystring.ts
Due: npx eslint --fix, npx prettier --write

fix(nextjs): Use nextjs fetcher to identify internal page navigation
  .changeset/small-ears-appear.md
  packages/nextjs/src/server/nextFetcher.ts
  packages/nextjs/src/server/protect.ts
Due: npx eslint --fix, npx prettier --write

fix(testing): Improve error when clerkSetup does not run before tests (#3520)
  .changeset/clean-beds-count.md
  packages/testing/src/common/errors.ts
  packages/testing/src/common/index.ts
  packages/testing/src/cypress/setupClerkTestingToken.ts
  packages/testing/src/playwright/setupClerkTestingToken.ts
Due: npx eslint --fix, npx prettier --write

non-working with pages AND app router
  packages/elements/src/react/sign-in/root.tsx
  packages/elements/src/react/sign-up/root.tsx
  packages/elements/src/react/utils/path-inference/__tests__/next.test.ts
  packages/elements/src/react/utils/path-inference/__tests__/utils.test.ts
  packages/elements/src/react/utils/path-inference/next.tsx
  packages/elements/src/react/utils/path-inference/utils.ts
Due: npx eslint --fix, npx prettier --write

test(nextjs): Remove conditional text
  integration/tests/protect.test.ts
Due: npx eslint --fix, npx prettier --write

app router only
  packages/elements/src/react/utils/path-inference/__tests__/utils.test.ts
  packages/elements/src/react/utils/path-inference/next.tsx
  packages/elements/src/react/utils/path-inference/utils.ts
Due: npx eslint --fix, npx prettier --write

make use of more complex syntax within cn
  packages/ui/src/primitives/button.tsx
  packages/ui/src/primitives/connection.tsx
  packages/ui/src/primitives/field.tsx
Due: npx eslint --fix, npx prettier --write

empty changeset
  .changeset/ten-mails-exist.md
Due: npx prettier --write

add changeset
  .changeset/six-lobsters-happen.md
Due: npx prettier --write

update selector
  packages/tailwindcss-transformer/src/index.ts
Due: npx eslint --fix, npx prettier --write

tweak specificity
  packages/ui/src/primitives/field.tsx
Due: npx eslint --fix, npx prettier --write

update snapshots
  packages/tailwindcss-transformer/src/__tests__/__snapshots__/generateStylesheet.test.ts.snap
Due: none

feat(ui): Enhancements to CSS (#3531)
  .changeset/ten-mails-exist.md
  packages/tailwindcss-transformer/src/__tests__/__snapshots__/generateStylesheet.test.ts.snap
  packages/tailwindcss-transformer/src/index.ts
  packages/ui/src/primitives/button.tsx
  packages/ui/src/primitives/connection.tsx
  packages/ui/src/primitives/field.tsx
Due: npx eslint --fix, npx prettier --write

chore(nextjs): Add changeset
  .changeset/late-falcons-sell.md
  .changeset/small-ears-appear.md
Due: npx prettier --write

make PhoneNumberField
  packages/ui/src/common/PhoneNumberField/data.ts
  packages/ui/src/common/PhoneNumberField/index.tsx
  packages/ui/src/common/PhoneNumberField/useFormattedPhoneNumber.ts
  packages/ui/src/common/PhoneNumberField/utils.ts
  packages/ui/src/common/PhoneNumberInput/index.tsx
  packages/ui/src/components/sign-in/sign-in.tsx
Due: npx eslint --fix, npx prettier --write

chore(nextjs): Bring back comment
  packages/nextjs/src/server/protect.ts
Due: npx eslint --fix, npx prettier --write

Path conditions:
  npx eslint --fix: any of: *.{mjs,js,jsx,ts,tsx}
  npx prettier --write: (any of: *.{mjs,js,jsx,ts,tsx}) or (any of: *.{json,md,mdx})
