Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

feat(backend): Detect multiple session cookies
  packages/backend/src/tokens/request.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Add changeset
  .changeset/slow-plants-grin.md
Due: npx prettier --write

chore(clerk-js): Add changeset
  .changeset/eight-buttons-wink.md
  .changeset/slow-plants-grin.md
Due: npx prettier --write

chore(clerk-js): Fix typos
  packages/clerk-js/src/ui/components/SignIn/__tests__/SignInFactorOne.test.tsx
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Correctly recover initial value
  packages/clerk-js/src/testUtils.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Improve error handling of passkeys (#3025)
  .changeset/eight-buttons-wink.md
  packages/clerk-js/src/core/errors.ts
  packages/clerk-js/src/core/resources/Passkey.ts
  packages/clerk-js/src/core/resources/SignIn.ts
  packages/clerk-js/src/ui/components/SignIn/shared.ts
  packages/clerk-js/src/utils/passkeys.ts
  packages/localizations/src/en-US.ts
  packages/types/src/localization.ts
Due: npx eslint --fix, npx prettier --write

chore(nextjs): Adds telemetry event to clerkMiddleware initialization (#3042)
  .changeset/khaki-poems-press.md
  packages/nextjs/src/server/clerkClient.ts
  packages/nextjs/src/server/clerkMiddleware.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Version packages (beta) (#3027)
  .changeset/pre.json
  package-lock.json
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/package.json
  packages/shared/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Due: npx prettier --write

fix(elements): Make shift+left work
  packages/elements/src/react/common/form/otp.tsx
Due: npx eslint --fix, npx prettier --write

feat(elements): Add passwordManagerOffset prop
  packages/elements/src/react/common/form/otp.tsx
Due: npx eslint --fix, npx prettier --write

chore(elements): Bump version
  package-lock.json
  packages/elements/package.json
Due: npx prettier --write

fix(elements): Improve OTP selection interaction (#3030)
  .changeset/two-buckets-explain.md
  package-lock.json
  packages/elements/README.md
  packages/elements/examples/nextjs/app/otp-playground/page.tsx
  packages/elements/package.json
  packages/elements/src/react/common/form/otp.tsx
Due: npx eslint --fix, npx prettier --write

fix(elements): Destructure onChange prop from passthroughProps
  packages/elements/src/react/common/form/index.tsx
Due: npx eslint --fix, npx prettier --write

chore(elements): Add changeset
  .changeset/eleven-tables-wash.md
Due: npx prettier --write

chore(elements): Bump version
  packages/elements/package.json
Due: npx prettier --write

fix(elements): destructure onchange prop from passthroughProps (#3045)
  .changeset/eleven-tables-wash.md
  packages/elements/package.json
  packages/elements/src/react/common/form/index.tsx
Due: npx eslint --fix, npx prettier --write

fix(elements): Remove WithChildrenProp
  packages/elements/src/react/sign-in/choose-strategy.tsx
  packages/elements/src/react/sign-in/navigation.tsx
  packages/elements/src/react/sign-in/root.tsx
  packages/elements/src/react/sign-in/verifications.tsx
  packages/elements/src/react/sign-up/navigation.tsx
  packages/elements/src/react/sign-up/root.tsx
  packages/elements/src/react/sign-up/verifications.tsx
  packages/elements/src/react/utils/create-context-for-dom-validation.ts
  packages/elements/src/react/utils/create-context-from-actor-ref.ts
  packages/elements/src/types/common.d.ts
Due: npx eslint --fix, npx prettier --write

chore(elements): Bump version
  .changeset/mean-falcons-build.md
  package-lock.json
  packages/elements/package.json
Due: npx prettier --write

test(e2e): Add tests for Account Portal flows with both clerk v4 and v5 (#2998)
  .changeset/chilled-apples-exercise.md
  .changeset/fuzzy-months-join.md
  .github/actions/init/action.yml
  .github/actions/verdaccio/action.yml
  .github/workflows/ci.yml
  integration/README.md
  integration/playwright.config.ts
  integration/presets/envs.ts
  integration/presets/next.ts
  integration/templates/next-app-router-quickstart/src/app/page.tsx
  integration/tests/next-account-portal/clerk-v4-ap-core-1.test.ts
  integration/tests/next-account-portal/clerk-v4-ap-core-2.test.ts
  integration/tests/next-account-portal/clerk-v5-ap-core-1.test.ts
  integration/tests/next-account-portal/clerk-v5-ap-core-2.test.ts
  integration/tests/next-account-portal/common.ts
  integration/tests/next-middleware.test.ts
  package.json
  packages/shared/src/devBrowser.ts
  verdaccio.install.yaml
  verdaccio.publish.yaml
  verdaccio.yaml
Due: npx eslint --fix, npx prettier --write

chore(repo): Add Changeset
  .changeset/afraid-meals-remember.md
Due: npx prettier --write

chore(e2e): Update fictional email generation
  integration/cleanup/cleanup.setup.ts
  integration/testUtils/usersService.ts
  integration/tests/sign-in-flow.test.ts
Due: npx eslint --fix, npx prettier --write

chore(e2e): Update sign in flow tests
  integration/tests/sign-in-flow.test.ts
Due: npx eslint --fix, npx prettier --write

chore(e2e): Change the domain of finctional emails & update cleanup query
  integration/cleanup/cleanup.setup.ts
  integration/testUtils/usersService.ts
Due: npx eslint --fix, npx prettier --write

chore(e2e): Change the domain of fictional emails so the cleanup job can pick them up
  integration/testUtils/usersService.ts
Due: npx eslint --fix, npx prettier --write

chore(e2e): Update fictional emails so we can cleanup user correctly (#3041)
  .changeset/afraid-meals-remember.md
  integration/testUtils/usersService.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Version packages (beta) (#3048)
  .changeset/pre.json
  package-lock.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
Due: npx prettier --write

test(clerk-js): Test cases for passkeys in SignIn (#3040)
  .changeset/six-ways-press.md
  packages/clerk-js/src/testUtils.ts
  packages/clerk-js/src/ui/components/SignIn/__tests__/SignInFactorOne.test.tsx
  packages/clerk-js/src/ui/components/SignIn/__tests__/SignInStart.test.tsx
  packages/clerk-js/src/ui/hooks/useAlternativeStrategies.ts
  packages/clerk-js/src/ui/utils/test/fixtureHelpers.ts
Due: npx eslint --fix, npx prettier --write

fix(elements): Get TS completions working again (#3047)
  .changeset/mean-falcons-build.md
  package-lock.json
  packages/elements/package.json
  packages/elements/src/react/sign-in/choose-strategy.tsx
  packages/elements/src/react/sign-in/navigation.tsx
  packages/elements/src/react/sign-in/root.tsx
  packages/elements/src/react/sign-in/verifications.tsx
  packages/elements/src/react/sign-up/navigation.tsx
  packages/elements/src/react/sign-up/root.tsx
  packages/elements/src/react/sign-up/verifications.tsx
  packages/elements/src/react/utils/create-context-for-dom-validation.ts
  packages/elements/src/react/utils/create-context-from-actor-ref.ts
  packages/elements/src/types/common.d.ts
Due: npx eslint --fix, npx prettier --write

fix(elements): Use dict for field states + re-use common helper hook
  packages/elements/src/react/common/form/index.tsx
Due: npx eslint --fix, npx prettier --write

chore(repo): Configure Dependabot [SDK-1557]
  .changeset/mean-poets-attend.md
  .github/dependabot.yml
Due: npx prettier --write

fix(clerk-js): Rolling back support for sign_in.needs_new_password on password form
  .changeset/strange-zoos-tie.md
  packages/clerk-js/src/ui/components/SignIn/SignInFactorOnePasswordCard.tsx
  packages/clerk-js/src/ui/components/SignIn/__tests__/SignInFactorOne.test.tsx
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Rolling back support for sign_in.needs_new_password on password form (#3050)
  .changeset/strange-zoos-tie.md
  packages/clerk-js/src/ui/components/SignIn/SignInFactorOnePasswordCard.tsx
  packages/clerk-js/src/ui/components/SignIn/__tests__/SignInFactorOne.test.tsx
Due: npx eslint --fix, npx prettier --write

fix(elements): Check for controlled values and handle accordingly
  packages/elements/src/react/common/form/index.tsx
Due: npx eslint --fix, npx prettier --write

chore(elements): Add changeset
  .changeset/small-meals-swim.md
  packages/elements/package.json
Due: npx prettier --write

fix(elements): Early return if no name or initialValue present
  packages/elements/src/react/common/form/index.tsx
Due: npx eslint --fix, npx prettier --write

fix(elements): Check for controlled values and handle accordingly (#3054)
  .changeset/small-meals-swim.md
  packages/elements/package.json
  packages/elements/src/react/common/form/index.tsx
Due: npx eslint --fix, npx prettier --write

chore(repo): Remove release/v4; Update schedule
  .github/dependabot.yml
Due: none

feat(elements): Add idle state
  packages/elements/src/react/common/form/index.tsx
  packages/elements/src/react/common/form/types.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Remove unused code
  packages/types/src/json.ts
Due: npx eslint --fix, npx prettier --write

Path conditions:
  npx eslint --fix: any of: *.{mjs,js,jsx,ts,tsx}
  npx prettier --write: (any of: *.{mjs,js,jsx,ts,tsx}) or (any of: *.{json,md,mdx})
