Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{mjs,js,jsx,ts,tsx}": ["npx eslint --fix", "npx prettier --write"],
  "*.{json,md,mdx}": ["npx prettier --write"]
}

WIP
  packages/nuxt/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: npx prettier --write

WIP
  package.json
  packages/astro/package.json
  packages/backend/package.json
  packages/chrome-extension/package.json
  packages/clerk-js/package.json
  packages/dev-cli/package.json
  packages/elements/package.json
  packages/eslint-config-custom/package.json
  packages/expo/package.json
  packages/express/package.json
  packages/fastify/package.json
  packages/localizations/package.json
  packages/nextjs/package.json
  packages/nuxt/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/sdk-node/package.json
  packages/shared/package.json
  packages/tanstack-start/package.json
  packages/testing/package.json
  packages/themes/package.json
  packages/types/package.json
  packages/vue/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: npx prettier --write

WIP
  package.json
  packages/backend/package.json
  packages/chrome-extension/package.json
  packages/clerk-js/package.json
  packages/elements/examples/nextjs/package.json
  packages/elements/package.json
  packages/expo/package.json
  packages/express/package.json
  packages/fastify/package.json
  packages/localizations/package.json
  packages/nextjs/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/sdk-node/package.json
  packages/shared/package.json
  packages/tailwindcss-transformer/package.json
  packages/tanstack-start/package.json
  packages/testing/package.json
  packages/themes/package.json
  packages/types/package.json
  packages/ui/theme-builder/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: npx prettier --write

feat(clerk-js): Move sandbox nav to a sidebar
  packages/clerk-js/sandbox/app.js
  packages/clerk-js/sandbox/index.html
Due: npx eslint --fix, npx prettier --write

add changeset
  .changeset/unlucky-teachers-joke.md
Due: npx prettier --write

feat(clerk-js): Emit sandbox to dist on build (#4608)
  .changeset/large-bulldogs-tap.md
  packages/clerk-js/package.json
  packages/clerk-js/rspack.config.js
  packages/clerk-js/sandbox/app.js
  packages/clerk-js/sandbox/template.html
  packages/clerk-js/turbo.json
Due: npx eslint --fix, npx prettier --write

WIP
  integration/presets/nuxt.ts
Due: npx eslint --fix, npx prettier --write

add logo
  packages/clerk-js/sandbox/index.html
Due: none

feat(repo): Use catalog: protocol (#4605)
  .changeset/friendly-mice-pull.md
  .npmrc
  .vscode/settings.json
  integration/presets/nuxt.ts
  package.json
  packages/astro/package.json
  packages/backend/package.json
  packages/chrome-extension/package.json
  packages/clerk-js/package.json
  packages/dev-cli/package.json
  packages/elements/examples/nextjs/package.json
  packages/elements/package.json
  packages/eslint-config-custom/package.json
  packages/expo/package.json
  packages/express/package.json
  packages/fastify/package.json
  packages/localizations/package.json
  packages/nextjs/package.json
  packages/nuxt/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/sdk-node/package.json
  packages/shared/package.json
  packages/tailwindcss-transformer/package.json
  packages/tanstack-start/package.json
  packages/testing/package.json
  packages/themes/package.json
  packages/types/package.json
  packages/ui/theme-builder/package.json
  packages/upgrade/package.json
  packages/vue/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
Due: npx eslint --fix, npx prettier --write

Create vercel.json
  packages/clerk-js/vercel.json
Due: npx prettier --write

bg color
  packages/clerk-js/sandbox/template.html
Due: none

fix(dev-cli): Fix `clerk-dev` Next.js detection (#4612)
  .changeset/shaggy-donuts-cry.md
  packages/dev-cli/src/commands/setup.js
Due: npx eslint --fix, npx prettier --write

feat(clerk-js): Move sandbox nav to a sidebar (#4617)
  .changeset/unlucky-teachers-joke.md
  packages/clerk-js/sandbox/app.js
  packages/clerk-js/sandbox/template.html
  packages/clerk-js/vercel.json
Due: npx eslint --fix, npx prettier --write

fix(elements): workspace protocol for @clerk/types
  packages/elements/package.json
Due: npx prettier --write

Create few-files-switch.md
  .changeset/few-files-switch.md
Due: npx prettier --write

WIP
  pnpm-lock.yaml
Due: none

ensure signInUrl and signUpUrl are the same for combined flow
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpStart.tsx
Due: npx eslint --fix, npx prettier --write

fix(elements): Use workspace protocol for @clerk/types (#4618)
  .changeset/few-files-switch.md
  packages/elements/package.json
  pnpm-lock.yaml
Due: npx prettier --write

feat(clerk-js,types): Move to waitlist with email address in combined flow (#4615)
  packages/clerk-js/sandbox/app.js
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpStart.tsx
  packages/clerk-js/src/ui/components/Waitlist/Waitlist.tsx
  packages/clerk-js/src/ui/contexts/components/Waitlist.ts
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

patch yalc
  package.json
  patches/yalc@1.0.0-pre.53.patch
  pnpm-lock.yaml
Due: npx prettier --write

WIP
  package.json
  packages/astro/package.json
  packages/backend/package.json
  packages/chrome-extension/package.json
  packages/expo-passkeys/package.json
  packages/expo/package.json
  packages/express/package.json
  packages/fastify/package.json
  packages/nextjs/package.json
  packages/nuxt/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/sdk-node/package.json
  packages/shared/package.json
  packages/tanstack-start/package.json
  packages/vue/package.json
  patches/yalc@1.0.0-pre.53.patch
  playground/app-router/package.json
  playground/chrome-extension/package.json
  playground/expo/package.json
  playground/express/package.json
  playground/nextjs/package.json
  playground/remix-cf-pages/package.json
  playground/remix-cf-worker/package.json
  playground/remix-node/package.json
  playground/vite-react-ts/package.json
  pnpm-lock.yaml
Due: npx prettier --write

WIP
  .changeset/thick-peas-perform.md
Due: npx prettier --write

feat(repo): playground workspace: protocol
  playground/app-router/package.json
  playground/chrome-extension/package.json
  playground/cra-js/package.json
  playground/expo/package.json
  playground/express/package.json
  playground/fastify/package.json
  playground/nextjs/package.json
  playground/remix-cf-pages/package.json
  playground/remix-cf-worker/package.json
  playground/remix-node/package.json
  playground/vite-react-ts/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: npx prettier --write

Enable captcha for development instances
  .changeset/early-games-taste.md
  packages/clerk-js/src/utils/captcha/retrieveCaptchaInfo.ts
Due: npx eslint --fix, npx prettier --write

add modified react-router playground app
  playground/react-router-node/.eslintrc.cjs
  playground/react-router-node/.gitignore
  playground/react-router-node/README.md
  playground/react-router-node/app/entry.client.tsx
  playground/react-router-node/app/entry.server.tsx
  playground/react-router-node/app/root.tsx
  playground/react-router-node/app/routes.ts
  playground/react-router-node/app/routes/_index.tsx
  playground/react-router-node/app/routes/protected.tsx
  playground/react-router-node/app/routes/sign-in.$.tsx
  playground/react-router-node/app/routes/sign-up.$.tsx
  playground/react-router-node/package.json
  playground/react-router-node/public/favicon.ico
  playground/react-router-node/tsconfig.json
  playground/react-router-node/vite.config.ts
Due: npx eslint --fix, npx prettier --write

add initial (unmodified) react-router pkg
  packages/react-router/.eslintrc.js
  packages/react-router/CHANGELOG.md
  packages/react-router/LICENSE
  packages/react-router/README.md
  packages/react-router/api.server/package.json
  packages/react-router/errors/package.json
  packages/react-router/package.json
  packages/react-router/src/api/index.ts
  packages/react-router/src/client/ClerkApp.tsx
  packages/react-router/src/client/RemixClerkProvider.tsx
  packages/react-router/src/client/RemixOptionsContext.tsx
  packages/react-router/src/client/index.ts
  packages/react-router/src/client/types.ts
  packages/react-router/src/client/uiComponents.tsx
  packages/react-router/src/client/useAwaitableNavigate.tsx
  packages/react-router/src/client/usePathnameWithoutSplatRouteParams.tsx
  packages/react-router/src/errorThrower.ts
  packages/react-router/src/errors.ts
  packages/react-router/src/globalPolyfill.ts
  packages/react-router/src/globals.d.ts
  packages/react-router/src/index.ts
  packages/react-router/src/ssr/authenticateRequest.ts
  packages/react-router/src/ssr/getAuth.ts
  packages/react-router/src/ssr/index.ts
  packages/react-router/src/ssr/loadOptions.ts
  packages/react-router/src/ssr/rootAuthLoader.ts
  packages/react-router/src/ssr/types.ts
  packages/react-router/src/ssr/utils.ts
  packages/react-router/src/utils/errors.ts
  packages/react-router/src/utils/index.ts
  packages/react-router/src/utils/utils.ts
  packages/react-router/ssr.server/package.json
  packages/react-router/tsconfig.declarations.json
  packages/react-router/tsconfig.json
  packages/react-router/tsup.config.ts
  playground/react-router-node/pnpm-lock.yaml
  pnpm-lock.yaml
Due: npx eslint --fix, npx prettier --write

fix: Gracefully handle problematic nextjs version with server actions
  integration/tests/next-build.test.ts
  packages/nextjs/package.cjs.json
  packages/nextjs/package.esm.json
  packages/nextjs/src/app-router/accountless-actions.ts
  packages/nextjs/src/app-router/client/ClerkProvider.tsx
  packages/nextjs/src/app-router/client/accountless-cookie-sync.tsx
  packages/nextjs/src/app-router/client/lazy-accountless-creator.tsx
  packages/nextjs/src/app-router/server/ClerkProvider.tsx
  packages/nextjs/src/runtime/browser/fs.js
  packages/nextjs/src/runtime/node/fs.js
  packages/nextjs/src/server/accountless-node.ts
  packages/nextjs/src/server/clerkMiddleware.ts
  packages/nextjs/src/utils/sdk-versions.ts
  packages/nextjs/tsup.config.ts
Due: npx eslint --fix, npx prettier --write

get playground working
  playground/react-router-node/app/root.tsx
  playground/react-router-node/pnpm-lock.yaml
Due: npx eslint --fix, npx prettier --write

more playground updates
  playground/react-router-node/app/root.tsx
Due: npx eslint --fix, npx prettier --write

Replace Suspense with dynamic()
  packages/nextjs/src/app-router/client/ClerkProvider.tsx
Due: npx eslint --fix, npx prettier --write

fix: Support returnUrl when syncing with middleware
  packages/nextjs/src/app-router/accountless-actions.ts
  packages/nextjs/src/app-router/client/accountless-cookie-sync.tsx
  packages/nextjs/src/server/clerkMiddleware.ts
Due: npx eslint --fix, npx prettier --write

Add "Open with Codeanywhere" badge to integration/templates/astro-node/README.md
  integration/templates/astro-node/README.md
Due: npx prettier --write

fix(clerk-js): Fix tokenCache.test.ts
  .changeset/long-rabbits-ring.md
  packages/clerk-js/src/core/auth/AuthCookieService.ts
  packages/clerk-js/src/core/clerk.ts
Due: npx eslint --fix, npx prettier --write

feat: Add UI prompt
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/Components.tsx
  packages/clerk-js/src/ui/components/AccountlessPrompt/index.tsx
  packages/clerk-js/src/ui/lazyModules/components.ts
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

remove dark classes
  packages/clerk-js/sandbox/template.html
Due: none

fix(clerk-js): Fix tokenCache.test.ts (#4623)
  .changeset/long-rabbits-ring.md
  packages/clerk-js/src/core/auth/AuthCookieService.ts
  packages/clerk-js/src/core/clerk.ts
Due: npx eslint --fix, npx prettier --write

ci(repo): Version packages (#4624)
  .changeset/long-rabbits-ring.md
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
Due: npx prettier --write

run codemod on playground for react-router
  playground/react-router-node/.gitignore
  playground/react-router-node/app/entry.client.tsx
  playground/react-router-node/app/entry.server.tsx
  playground/react-router-node/app/root.tsx
  playground/react-router-node/app/routes.ts
  playground/react-router-node/app/routes/_index.tsx
  playground/react-router-node/app/routes/protected.tsx
  playground/react-router-node/package.json
  playground/react-router-node/react-router.config.ts
  playground/react-router-node/tsconfig.json
  playground/react-router-node/vite.config.ts
Due: npx eslint --fix, npx prettier --write

use new package
  packages/react-router/package.json
  playground/react-router-node/app/root.tsx
  playground/react-router-node/app/routes/_index.tsx
  playground/react-router-node/app/routes/protected.tsx
  playground/react-router-node/app/routes/sign-in.$.tsx
  playground/react-router-node/app/routes/sign-up.$.tsx
  playground/react-router-node/package.json
  playground/react-router-node/react-router.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: npx eslint --fix, npx prettier --write
