Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

improve changeset
  .changeset/two-wombats-confess.md
Due: npx prettier --write

improve README
  packages/expo/README.md
Due: npx prettier --write

chore(repo): Update changeset
  .changeset/two-wombats-confess.md
Due: npx prettier --write

chore(e2e): Chnage expoWeb to expo-web
  integration/presets/longRunningApps.ts
  integration/tests/expo-web/basic.test.ts
  integration/tests/expo-web/custom-flows.test.ts
  package.json
  turbo.json
Due: npx eslint --fix, npx prettier --write

implement safeindentifier
  packages/ui/src/components/sign-in/sign-in.tsx
Due: npx eslint --fix, npx prettier --write

add empty changeset
  .changeset/chilled-carpets-trade.md
Due: npx prettier --write

chore(clerk-expo): Use specific version of react-native-url-polyfill
  packages/expo/package.json
  packages/expo/src/hooks/useOAuth.ts
Due: npx eslint --fix, npx prettier --write

fix: arabic localization for org profile
  packages/localizations/src/ar-SA.ts
Due: npx eslint --fix, npx prettier --write

chore(e2e): Chnage expoWeb to expo-web
  .github/workflows/ci.yml
Due: none

chore(dev-cli): Adjust package.json (#3793)
  .changeset/tiny-glasses-teach.md
  packages/dev-cli/package.json
Due: npx prettier --write

Update packages/expo/src/web/uiComponents.tsx
  packages/expo/src/web/uiComponents.tsx
Due: npx eslint --fix, npx prettier --write

Update packages/clerk-js/src/ui/components/OrganizationSwitcher/OrganizationSwitcherPopover.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/OrganizationSwitcherPopover.tsx
Due: npx eslint --fix, npx prettier --write

Update packages/clerk-js/src/ui/Components.tsx
  packages/clerk-js/src/ui/Components.tsx
Due: npx eslint --fix, npx prettier --write

fix passkey toggle within verifications
  packages/ui/src/components/sign-in/sign-in.tsx
Due: npx eslint --fix, npx prettier --write

add empty changeset
  .changeset/red-ducks-grin.md
Due: npx prettier --write

fix(ui): Passkey toggle within verifications (#3798)
  .changeset/red-ducks-grin.md
  packages/ui/src/components/sign-in/sign-in.tsx
Due: npx eslint --fix, npx prettier --write

chore(clerk-expo): Use default exports as we only support cjs
  packages/expo/package.json
Due: npx prettier --write

fix(ui): Implement SafeIdentifier (#3795)
  .changeset/chilled-carpets-trade.md
  packages/ui/src/components/sign-in/sign-in.tsx
Due: npx eslint --fix, npx prettier --write

fix(ui): Render `EmailOrPhoneNumberField` when both phone and email are optional
  packages/ui/src/components/sign-up/sign-up.tsx
Due: npx eslint --fix, npx prettier --write

add empty changeset
  .changeset/swift-spoons-double.md
Due: npx prettier --write

fix(ui): Ensure PhoneNumberField label and input are connected
  packages/ui/src/common/phone-number-field/index.tsx
  packages/ui/src/primitives/field.tsx
Due: npx eslint --fix, npx prettier --write

add empty changeset
  .changeset/serious-years-fetch.md
Due: npx prettier --write

introduce checkbox and signOutOfOtherSessions
  packages/ui/src/common/checkbox-field.tsx
  packages/ui/src/components/sign-in/sign-in.tsx
  packages/ui/src/primitives/field.tsx
Due: npx eslint --fix, npx prettier --write

add empty changeset
  .changeset/unlucky-yaks-turn.md
Due: npx prettier --write

switch to div
  packages/ui/src/common/checkbox-field.tsx
Due: npx eslint --fix, npx prettier --write

fix(ui): Render `EmailOrPhoneNumberField` when both phone and email are optional (#3799)
  .changeset/swift-spoons-double.md
  packages/ui/src/components/sign-up/sign-up.tsx
Due: npx eslint --fix, npx prettier --write

fix(ui): Ensure PhoneNumberField label and input are connected (#3800)
  .changeset/serious-years-fetch.md
  packages/ui/src/common/phone-number-field/index.tsx
  packages/ui/src/primitives/field.tsx
Due: npx eslint --fix, npx prettier --write

ci(repo): Version packages (#3790)
  .changeset/chilled-carpets-trade.md
  .changeset/dry-yaks-buy.md
  .changeset/quiet-pans-greet.md
  .changeset/red-ducks-grin.md
  .changeset/tasty-brooms-check.md
  .changeset/tiny-glasses-teach.md
  package-lock.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/dev-cli/CHANGELOG.md
  packages/dev-cli/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
Due: npx prettier --write

chore(astro): Update changeset text
  .changeset/ninety-squids-appear.md
Due: npx prettier --write

chore(ui): Hook up field translations
  packages/ui/src/common/email-or-username-or-phone-number-field.tsx
  packages/ui/src/common/phone-number-or-username-field.tsx
  packages/ui/src/components/sign-in/sign-in.tsx
Due: npx eslint --fix, npx prettier --write

add empty changeset
  .changeset/plenty-buttons-repair.md
Due: npx prettier --write

feat(clerk-js): Rename path to __experimental_startPath
  packages/clerk-js/src/ui/Components.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/OrganizationSwitcherPopover.tsx
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

feat(ui): Sign out of other sessions checkbox (#3801)
  .changeset/unlucky-yaks-turn.md
  packages/ui/src/common/checkbox-field.tsx
  packages/ui/src/components/sign-in/sign-in.tsx
  packages/ui/src/primitives/field.tsx
Due: npx eslint --fix, npx prettier --write

fix(build): Ensure unchanged PR on comment actions
  .github/actions/ensure-stable-pr/action.yml
  .github/workflows/preview.yml
  .github/workflows/release-snapshot.yml
Due: none

Use `pushed_at` vs `updated_at`
  .github/actions/ensure-stable-pr/action.yml
Due: none

fix(repo): Ensure unchanged PR on comment actions (#3803)
  .github/actions/ensure-stable-pr/action.yml
  .github/workflows/preview.yml
  .github/workflows/release-snapshot.yml
Due: none

Call mkdir before attempting to write the config file
  .changeset/heavy-pillows-sparkle.md
  packages/dev-cli/src/commands/init.js
Due: npx eslint --fix, npx prettier --write

fix(astro): Middleware return type (#3792)
  .changeset/ninety-squids-appear.md
  packages/astro/src/server/clerk-middleware.ts
Due: npx eslint --fix, npx prettier --write

fix(repo): Syntax error
  .github/actions/ensure-stable-pr/action.yml
Due: none

Path conditions:
  npx eslint --fix: any of: *.{mjs,js,jsx,ts,tsx}
  npx prettier --write: (any of: *.{mjs,js,jsx,ts,tsx}) or (any of: *.{json,md,mdx})
