Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["npx prettier --write", "npx eslint --fix"],
  "*.{json,md,mdx}": ["npx prettier --write"]
}

chore(clerk-js): Improve relative url creation in DomainList
  packages/clerk-js/src/ui/components/OrganizationProfile/DomainList.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationMembersTabInvitations.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationMembersTabRequests.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationSettings.tsx
  packages/clerk-js/src/utils/url.ts
Due: npx prettier --write, npx eslint --fix

chore(clerk-js): Address Pr comments
  packages/clerk-js/src/core/resources/Session.ts
  packages/clerk-js/src/ui/components/OrganizationProfile/DomainList.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/OrganizationMembers.test.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/OrganizationSettings.test.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/__tests__/OrganizationSwitcher.test.tsx
  packages/clerk-js/src/ui/utils/test/mockHelpers.ts
Due: npx prettier --write, npx eslint --fix

fix(clerk-js): Correct initial ref value for form feedback
  .changeset/grumpy-schools-clean.md
  packages/clerk-js/src/ui/elements/FormControl.tsx
Due: npx prettier --write, npx eslint --fix

fix(repo): Enable github actions Checks for main-v4 branch
  .github/workflows/checks.yml
Due: none

Create silly-icons-kick.md
  .changeset/silly-icons-kick.md
Due: npx prettier --write

fix(repo): Enable github actions Checks for main-v4 branch (#1940)
  .changeset/silly-icons-kick.md
  .github/workflows/checks.yml
Due: npx prettier --write

fix(clerk-sdk-node): Fix types of ClerkExpressWithAuth/ClerkExpressRequireAuth args
  .changeset/tasty-countries-walk.md
  packages/sdk-node/src/clerkClient.ts
Due: npx prettier --write, npx eslint --fix

Update UserApi.ts to support sha256 hasher
  packages/backend/src/api/endpoints/UserApi.ts
Due: npx prettier --write, npx eslint --fix

feat(nextjs,clerk-react,types,clerk-js): Add experimental support for `<Gate/>`
  packages/backend/src/tokens/authObjects.ts
  packages/chrome-extension/src/__snapshots__/exports.test.ts.snap
  packages/clerk-js/src/core/resources/Session.test.ts
  packages/clerk-js/src/core/resources/Session.ts
  packages/clerk-js/src/ui/common/Gate.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/OrganizationMembers.test.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/OrganizationSettings.test.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/__tests__/OrganizationSwitcher.test.tsx
  packages/nextjs/src/app-router/server/controlComponents.tsx
  packages/nextjs/src/client-boundary/controlComponents.ts
  packages/react/src/components/controlComponents.tsx
  packages/react/src/components/index.ts
  packages/react/src/contexts/AuthContext.ts
  packages/react/src/contexts/ClerkContextProvider.tsx
  packages/react/src/hooks/useAuth.ts
  packages/react/src/hooks/utils.ts
  packages/react/src/utils/deriveState.ts
  packages/types/src/jwtv2.ts
  packages/types/src/session.ts
  packages/types/src/ssr.ts
Due: npx prettier --write, npx eslint --fix

fix(clerk-sdk-node): Fix types of ClerkExpressWithAuth/ClerkExpressRequireAuth args (#1939)
  .changeset/tasty-countries-walk.md
  packages/sdk-node/src/clerkClient.ts
Due: npx prettier --write, npx eslint --fix

chore(repo): Differentiate version packages PR of v4
  .github/workflows/release-prod.yml
Due: none

chore(repo): Add changeset
  .changeset/chilly-paws-develop.md
Due: npx prettier --write

chore(repo): Avoid having a main-v4 local branch to create changeset
  .changeset/config.json
Due: npx prettier --write

chore(repo): Apply v4 Version packages specific changes (#1943)
  .changeset/chilly-paws-develop.md
  .changeset/config.json
  .github/workflows/release-prod.yml
Due: npx prettier --write

ci(repo): Update CI flow; Integrate Turbo caching
  .github/workflows/ci.yml
  package-lock.json
  package.json
  turbo.json
  verdaccio.yaml
Due: npx prettier --write

chore(repo): Add changeset
  .changeset/blue-lies-drop.md
Due: npx prettier --write

build(repo): Test extracted actions
  .github/actions/init/action.yml
  .github/actions/setup/action.yml
  .github/actions/verdaccio/action.yml
  .github/workflows/base-changeset.yml
  .github/workflows/base-prettier.yml
  .github/workflows/base-registry.yml
  .github/workflows/checks.yml
  .github/workflows/ci.yml
Due: none

build(repo): Move checkout
  .github/actions/init/action.yml
  .github/workflows/ci.yml
Due: none

fix(repo): Syntax error
  .github/actions/init/action.yml
Due: none

fix(repo): Test envs
  .github/actions/init/action.yml
Due: none

fix(repo): Use origin/main for changesets for main branch
  .changeset/config.json
Due: npx prettier --write

Create spotty-roses-push.md
  .changeset/spotty-roses-push.md
Due: npx prettier --write

fix(repo): Update order of repo checkout
  .github/actions/init/action.yml
  .github/workflows/ci.yml
  package.json
Due: npx prettier --write

build(repo): Extracted actions (#1946)
  .github/actions/init/action.yml
  .github/actions/setup/action.yml
  .github/actions/verdaccio/action.yml
  .github/workflows/base-changeset.yml
  .github/workflows/base-prettier.yml
  .github/workflows/base-registry.yml
  .github/workflows/checks.yml
  .github/workflows/ci.yml
  package.json
Due: npx prettier --write

fix(nextjs): Use named imports for fetch runtime polyfill
  packages/backend/src/runtime/browser/fetch.mjs
  packages/backend/src/runtime/index.ts
  packages/backend/src/runtime/node/fetch.js
Due: npx prettier --write, npx eslint --fix

Create late-dolphins-peel.md
  .changeset/late-dolphins-peel.md
Due: npx prettier --write

fix(backend): Fix for next 14 fetch bind issue
  packages/backend/src/runtime/index.ts
Due: npx prettier --write, npx eslint --fix

fix(backend): Support NextJS 14 (#1948)
  .changeset/late-dolphins-peel.md
  packages/backend/src/runtime/browser/fetch.mjs
  packages/backend/src/runtime/index.ts
  packages/backend/src/runtime/node/fetch.js
Due: npx prettier --write, npx eslint --fix

chore(repo): Update changeset
  .changeset/late-dolphins-peel.md
Due: npx prettier --write

chore(repo): Version packages (#1936)
  .changeset/chilly-paws-develop.md
  .changeset/late-dolphins-peel.md
  .changeset/odd-lemons-reply.md
  .changeset/red-monkeys-sing.md
  .changeset/silly-icons-kick.md
  .changeset/slimy-singers-glow.md
  .changeset/tasty-countries-walk.md
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
Due: npx prettier --write

fix(repo): Use origin/main for changesets for main branch (#1949)
  .changeset/config.json
  .changeset/spotty-roses-push.md
Due: npx prettier --write

fix(shared): Remove "module" from package.json
  packages/shared/package.json
Due: npx prettier --write

Update wise-houses-shop.md
  .changeset/wise-houses-shop.md
Due: npx prettier --write

chore(repo): Scripting
  scripts/subpath-workaround.mjs
Due: none

chore(repo): Add subpath workaround script
  scripts/subpath-workaround.mjs
Due: none

Create wise-houses-shop.md
  .changeset/wise-houses-shop.md
Due: npx prettier --write

chore(repo): Improve script
  scripts/subpath-workaround.mjs
Due: none

chore(*): Fix stuff
  packages/shared/package.json
  packages/shared/subpaths.mjs
  scripts/subpath-workaround.mjs
Due: npx prettier --write
