Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

chore(tailwindcss-transformer): Update README
  packages/tailwindcss-transformer/README.md
Due: npx prettier --write

chore(repo): Version packages (#3398)
  .changeset/fast-singers-dress.md
  package-lock.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
Due: npx prettier --write

chore(tailwindcss-transformer): Cleanup unused packages
  package-lock.json
  packages/tailwindcss-transformer/package.json
Due: npx prettier --write

chore(tailwindcss-transformer): Add example to README
  packages/tailwindcss-transformer/README.md
Due: npx prettier --write

chore(tailwindcss-transformer): Update version
  packages/tailwindcss-transformer/package.json
Due: npx prettier --write

chore(tailwindcss-transformer): Add empty changeset
  .changeset/unlucky-moles-cover.md
Due: npx prettier --write

fix(repo): OTP test assertion
  integration/tests/elements/otp.test.ts
Due: npx eslint --fix, npx prettier --write

fix(repo): Handle faker phone deprecation msg
  integration/testUtils/usersService.ts
Due: npx eslint --fix, npx prettier --write

fix(repo): Assertions for sign-in
  integration/templates/elements-next/src/app/sign-in/[[...sign-in]]/page.tsx
  integration/tests/elements/next-sign-in.test.ts
  integration/tests/elements/next-sign-up.test.ts
Due: npx eslint --fix, npx prettier --write

chore(testing): Add experimental warning in README
  packages/testing/README.md
  packages/testing/src/cypress/setup.ts
  packages/testing/src/cypress/utils.ts
Due: npx eslint --fix, npx prettier --write

chore(shared): Unpin swr version
  .changeset/small-tips-eat.md
  package-lock.json
  packages/shared/package.json
Due: npx prettier --write

Update packages/testing/README.md
  packages/testing/README.md
Due: npx prettier --write

Update packages/testing/src/cypress/setup.ts
  packages/testing/src/cypress/setup.ts
Due: npx eslint --fix, npx prettier --write

chore(testing): Add experimental console warning on Cypress setup (#3395)
  .changeset/grumpy-plants-think.md
  packages/testing/README.md
  packages/testing/src/cypress/setup.ts
Due: npx eslint --fix, npx prettier --write

fix(tailwindcss-transformer): Test runner configuration
  package-lock.json
  packages/tailwindcss-transformer/package.json
Due: npx prettier --write

chore(shared): Unpin swr version (#3399)
  .changeset/small-tips-eat.md
  package-lock.json
  packages/shared/package.json
Due: npx prettier --write

chore(repo): Test react compiler
  .github/workflows/ci.yml
  integration/templates/next-app-router-quickstart/next.config.js
  integration/templates/next-app-router-quickstart/package.json
  integration/templates/next-app-router/next.config.js
  integration/templates/next-app-router/package.json
Due: npx eslint --fix, npx prettier --write

fix(backend): Expose user saml_accounts property
  .changeset/ten-onions-learn.md
  packages/backend/src/api/resources/JSON.ts
  packages/backend/src/api/resources/SamlAccount.ts
  packages/backend/src/api/resources/User.ts
  packages/backend/src/fixtures/user.json
Due: npx eslint --fix, npx prettier --write

fix(backend): Expose user saml_accounts property (#3405)
  .changeset/ten-onions-learn.md
  packages/backend/src/api/resources/JSON.ts
  packages/backend/src/api/resources/SamlAccount.ts
  packages/backend/src/api/resources/User.ts
  packages/backend/src/fixtures/user.json
Due: npx eslint --fix, npx prettier --write

feat(clerk-js,clerk-react,nextjs,types): Drop experimental tag from GoogleOneTap (#3392)
  .changeset/shiny-yaks-wave.md
  packages/chrome-extension/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/resources/SignIn.ts
  packages/clerk-js/src/ui/Components.tsx
  packages/clerk-js/src/ui/components/GoogleOneTap/index.tsx
  packages/clerk-js/src/ui/components/GoogleOneTap/one-tap-start.tsx
  packages/clerk-js/src/ui/contexts/ClerkUIComponentsContext.tsx
  packages/clerk-js/src/ui/lazyModules/components.ts
  packages/clerk-js/src/ui/lazyModules/providers.tsx
  packages/clerk-js/src/ui/types.ts
  packages/nextjs/src/client-boundary/uiComponents.tsx
  packages/nextjs/src/index.ts
  packages/react/src/components/index.ts
  packages/react/src/components/uiComponents.tsx
  packages/react/src/isomorphicClerk.ts
  packages/types/src/clerk.ts
  packages/types/src/signIn.ts
  packages/types/src/signUp.ts
  packages/types/src/strategies.ts
Due: npx eslint --fix, npx prettier --write

remove commitlint as part of pre-commit checks
  .github/workflows/ci.yml
  .husky/commit-msg
Due: none

create separate workflow to specify different event types
  .github/workflows/ci.yml
  .github/workflows/pr-title-linter.yml
Due: none

add comment in the workflow file
  .github/workflows/pr-title-linter.yml
Due: none

chore(repo): Remove commitlint as part of pre-commit checks (#3407)
  .github/workflows/pr-title-linter.yml
  .husky/commit-msg
Due: none

fix: Typo
  packages/upgrade/source/app.js
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Reprompt google one tap only when user id changes (#3198)
  .changeset/two-worms-yawn.md
Due: npx prettier --write

feat(clerk-js): Handle PSU and MFA flows for `<GoogleOneTap/>` (#3250)
  .changeset/breezy-monkeys-develop.md
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/components/GoogleOneTap/one-tap-start.tsx
  packages/clerk-js/src/ui/contexts/ClerkUIComponentsContext.tsx
  packages/clerk-js/src/utils/one-tap.ts
  packages/types/src/clerk.ts
  packages/types/src/signIn.ts
Due: npx eslint --fix, npx prettier --write

feat(clerk-js,clerk-react): Replace mount with open for GoogleOneTap (#3379)
  .changeset/warm-pumas-fetch.md
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/Components.tsx
  packages/clerk-js/src/ui/components/GoogleOneTap/one-tap-start.tsx
  packages/clerk-js/src/ui/contexts/ClerkUIComponentsContext.tsx
  packages/clerk-js/src/ui/lazyModules/providers.tsx
  packages/clerk-js/src/ui/portal/index.tsx
  packages/clerk-js/src/utils/one-tap.ts
  packages/react/src/components/uiComponents.tsx
  packages/react/src/isomorphicClerk.ts
  packages/react/src/types.ts
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

feat(clerk-js,clerk-react,nextjs,types): Drop experimental tag from GoogleOneTap (#3392)
  .changeset/shiny-yaks-wave.md
  packages/chrome-extension/src/__snapshots__/exports.test.ts.snap
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/resources/SignIn.ts
  packages/clerk-js/src/ui/Components.tsx
  packages/clerk-js/src/ui/components/GoogleOneTap/index.tsx
  packages/clerk-js/src/ui/components/GoogleOneTap/one-tap-start.tsx
  packages/clerk-js/src/ui/contexts/ClerkUIComponentsContext.tsx
  packages/clerk-js/src/ui/lazyModules/components.ts
  packages/clerk-js/src/ui/lazyModules/providers.tsx
  packages/clerk-js/src/ui/types.ts
  packages/nextjs/src/client-boundary/uiComponents.tsx
  packages/nextjs/src/index.ts
  packages/react/src/components/index.ts
  packages/react/src/components/uiComponents.tsx
  packages/react/src/isomorphicClerk.ts
  packages/types/src/clerk.ts
  packages/types/src/signIn.ts
  packages/types/src/signUp.ts
  packages/types/src/strategies.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Add new config
  renovate.json
  renovate.json5
Due: npx prettier --write

chore(repo): Add config generator
  scripts/renovate-config-generator.mjs
Due: npx eslint --fix, npx prettier --write

chore(repo): Add validator workflow
  .github/workflows/validate-renovate-config.yml
Due: none

chore(repo): Adjust workflow
  .github/workflows/validate-renovate-config.yml
Due: none

chore(repo): Adjust workflow
  .github/workflows/validate-renovate-config.yml
  .prettierignore
Due: none

chore(upgrade): Bump version
  package-lock.json
  packages/upgrade/package.json
Due: npx prettier --write

chore(clerk-js): Fix issues after conflicts
  packages/chrome-extension/src/__snapshots__/exports.test.ts.snap
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/resources/SignIn.ts
  packages/clerk-js/src/ui/components/GoogleOneTap/one-tap-start.tsx
  packages/clerk-js/src/ui/contexts/ClerkUIComponentsContext.tsx
  packages/clerk-js/src/ui/lazyModules/providers.tsx
  packages/nextjs/src/index.ts
  packages/react/src/components/uiComponents.tsx
  packages/react/src/isomorphicClerk.ts
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Adjust workflow
  renovate.json5
  scripts/renovate-config-generator.mjs
Due: npx eslint --fix, npx prettier --write

chore(repo): Adjust config
  renovate.json5
  scripts/renovate-config-generator.mjs
Due: npx eslint --fix, npx prettier --write

Path conditions:
  npx eslint --fix: any of: *.{mjs,js,jsx,ts,tsx}
  npx prettier --write: (any of: *.{mjs,js,jsx,ts,tsx}) or (any of: *.{json,md,mdx})
