Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --fix, pnpm prettier --write

.lintstagedrc.json:

{
  "*.{mjs,js,jsx,ts,tsx,vue}": ["pnpm eslint --fix", "pnpm prettier --write"],
  "*.{json,md,mdx}": ["pnpm prettier --write"]
}

wip
  packages/clerk-js/package.json
Due: pnpm prettier --write

feat(clerk-js): Improve loading state for popup auth
  packages/clerk-js/src/ui/components/SignIn/SignInSocialButtons.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpSocialButtons.tsx
  packages/clerk-js/src/ui/elements/SocialButtons.tsx
Due: pnpm eslint --fix, pnpm prettier --write

chore: empty changeset
  .changeset/sharp-sloths-stick.md
Due: pnpm prettier --write

test(vue): Get exact selector when testing Organization Profile custom pages and links (#5400)
  integration/tests/vue/components.test.ts
Due: pnpm eslint --fix, pnpm prettier --write

chore(repo): Update changeset
  .changeset/serious-tools-double.md
Due: pnpm prettier --write

chore(clerk-js): Add comments
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/components/SignIn/SignInSocialButtons.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpSocialButtons.tsx
  packages/clerk-js/src/ui/utils/originPrefersPopup.ts
Due: pnpm eslint --fix, pnpm prettier --write

chore(clerk-js): Sort imports
  packages/clerk-js/src/ui/components/SignIn/SignInSocialButtons.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpSocialButtons.tsx
Due: pnpm eslint --fix, pnpm prettier --write

wip
  packages/clerk-js/src/ui/components/PricingTable/PlanCard.tsx
  packages/clerk-js/src/ui/components/PricingTable/PricingTable.tsx
  packages/clerk-js/src/ui/components/PricingTable/PricingTableMatrix.tsx
  packages/types/src/clerk.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix(clerk-js): Add color to bundlewatch output (#5401)
  .changeset/sharp-sloths-stick.md
  packages/clerk-js/package.json
Due: pnpm prettier --write

wip
  packages/clerk-js/src/ui/components/PricingTable/PricingTable.tsx
  packages/types/src/clerk.ts
Due: pnpm eslint --fix, pnpm prettier --write

Second POC but with client piggybacking
  packages/clerk-js/src/core/clerk.ts
Due: pnpm eslint --fix, pnpm prettier --write

wip with store and splitting into different hooks and components
  packages/clerk-js/src/ui/components/SignIn/InstantPassword.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInStart/form.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInStart/index.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInStart/recover-start-error.ts
  packages/clerk-js/src/ui/components/SignIn/SignInStart/use-identifier-field.ts
  packages/clerk-js/src/ui/components/SignIn/form.tsx
  packages/clerk-js/src/ui/components/SignIn/use-passkey-autofill.ts
  packages/clerk-js/src/ui/components/SignIn/utils.ts
  packages/clerk-js/src/ui/utils/useFormControl.ts
Due: pnpm eslint --fix, pnpm prettier --write

chore(clerk-expo): Bump expo-modules-core to 2.2.3 for Expo SDK 52 support
  packages/expo-passkeys/package.json
  pnpm-lock.yaml
Due: pnpm prettier --write

chore: add changeset
  .changeset/thick-rooms-repeat.md
Due: pnpm prettier --write

wip
  packages/clerk-js/src/core/resources/Base.ts
Due: pnpm eslint --fix, pnpm prettier --write

remove dupe
  packages/react/src/utils/EventEmitter.ts
Due: pnpm eslint --fix, pnpm prettier --write

chore(expo-passkeys): Remove expo-modules-core for future proofing
  packages/expo-passkeys/package.json
  packages/expo-passkeys/src/ClerkExpoPasskeysModule.ts
  pnpm-lock.yaml
Due: pnpm eslint --fix, pnpm prettier --write

chore: update changeset
  .changeset/thick-rooms-repeat.md
Due: pnpm prettier --write

wip `useFormControl` with individual control
  packages/clerk-js/src/ui/common/constants.ts
  packages/clerk-js/src/ui/components/SignIn/SignInStart/form.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInStart/use-identifier-field.ts
  packages/clerk-js/src/ui/utils/useFormControl.ts
Due: pnpm eslint --fix, pnpm prettier --write

wip move passkey autofill hook
  packages/clerk-js/src/ui/components/SignIn/SignInStart/form.tsx
  packages/clerk-js/src/ui/components/SignIn/use-passkey-autofill.ts
Due: pnpm eslint --fix, pnpm prettier --write

wip
  .typedoc/custom-plugin.mjs
Due: pnpm eslint --fix, pnpm prettier --write

chore(clerk-expo): Make `publishableKey` prop type optional (#5399)
  .changeset/plenty-poems-bow.md
  packages/expo/src/provider/ClerkProvider.tsx
Due: pnpm eslint --fix, pnpm prettier --write

wip refactor naming
  packages/clerk-js/src/ui/utils/useFormControl.ts
Due: pnpm eslint --fix, pnpm prettier --write

improve handleUnauthenticated catch
  packages/clerk-js/src/core/clerk.ts
Due: pnpm eslint --fix, pnpm prettier --write

modify union type output
  .typedoc/custom-theme.mjs
Due: pnpm eslint --fix, pnpm prettier --write

chore(repo): Modify Typedoc union type output (#5403)
  .typedoc/custom-theme.mjs
Due: pnpm eslint --fix, pnpm prettier --write

Readd tanstack folder
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
Due: pnpm prettier --write

fix(clerk-js): Show unverified fields if any when ToS is enabled
  packages/clerk-js/src/ui/components/SignUp/SignUpContinue.tsx
Due: pnpm eslint --fix, pnpm prettier --write

chore(repo): Adds changeset
  .changeset/all-buckets-admire.md
Due: pnpm prettier --write

chore(clerk-js): Increase bundlewatch limit for sign-up
  packages/clerk-js/bundlewatch.config.json
Due: pnpm prettier --write

Update .changeset/all-buckets-admire.md
  .changeset/all-buckets-admire.md
Due: pnpm prettier --write

test(clerk-js): Add test case for unverified fields when ToS is enabled
  packages/clerk-js/src/ui/components/SignUp/__tests__/SignUpContinue.test.tsx
  packages/clerk-js/src/ui/utils/test/fixtureHelpers.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix(clerk-js): Show unverified fields if any when ToS is enabled (#5404)
  .changeset/all-buckets-admire.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/ui/components/SignUp/SignUpContinue.tsx
  packages/clerk-js/src/ui/components/SignUp/__tests__/SignUpContinue.test.tsx
  packages/clerk-js/src/ui/utils/test/fixtureHelpers.ts
Due: pnpm eslint --fix, pnpm prettier --write

wip
  packages/clerk-js/src/core/clerk.ts
Due: pnpm eslint --fix, pnpm prettier --write

chore: remove package renaming warnings
  packages/tanstack-react-start/src/errors.ts
  packages/tanstack-react-start/src/index.ts
  packages/tanstack-react-start/src/server/index.ts
  packages/tanstack-react-start/src/utils/errors.ts
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
Due: pnpm eslint --fix, pnpm prettier --write

dedupe
  pnpm-lock.yaml
Due: none
