Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --fix, pnpm prettier --write

.lintstagedrc.json:

{
  "*.{mjs,js,jsx,ts,tsx,vue}": ["pnpm eslint --fix", "pnpm prettier --write"],
  "*.{json,md,mdx}": ["pnpm prettier --write"]
}

Update packages/types/src/clerk.ts
  packages/types/src/clerk.ts
Due: pnpm eslint --fix, pnpm prettier --write

update changeset
  .changeset/famous-actors-provide.md
Due: pnpm prettier --write

update comment
  packages/react/src/hooks/useAuth.ts
Due: pnpm eslint --fix, pnpm prettier --write

chore(nextjs): Include nextjs version to framework metadata (#5301)
  .changeset/famous-actors-provide.md
  packages/nextjs/src/global.d.ts
  packages/nextjs/src/utils/router-telemetry.ts
Due: pnpm eslint --fix, pnpm prettier --write

chore(clerk-js): Remove hCaptcha implementation
  .changeset/curly-candles-love.md
  package-lock.json
  package.json
  packages/clerk-js/src/utils/captcha/getCaptchaToken.ts
  packages/clerk-js/src/utils/captcha/hcaptcha.ts
  packages/clerk-js/src/utils/captcha/retrieveCaptchaInfo.ts
  packages/types/src/displayConfig.ts
Due: pnpm eslint --fix, pnpm prettier --write

chore(clerk-js,types): Update changeset
  .changeset/curly-candles-love.md
Due: pnpm prettier --write

chore(repo): Update action version
  .github/workflows/ci.yml
Due: none

chore(clerk-js,types): Remove hCaptcha implementation [Core 1] (#5317)
  .changeset/curly-candles-love.md
  .github/workflows/ci.yml
  package-lock.json
  package.json
  packages/clerk-js/src/utils/captcha/getCaptchaToken.ts
  packages/clerk-js/src/utils/captcha/hcaptcha.ts
  packages/clerk-js/src/utils/captcha/retrieveCaptchaInfo.ts
  packages/types/src/displayConfig.ts
Due: pnpm eslint --fix, pnpm prettier --write

Version Packages - V4 (#5318)
  .changeset/curly-candles-love.md
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Due: pnpm prettier --write

fixup! feat(clerk-js): Handle pwned password in SignInStart first party submit
  packages/clerk-js/src/ui/components/SignIn/__tests__/SignInStart.test.tsx
Due: pnpm eslint --fix, pnpm prettier --write

feat(shared): Controllable useReverification
  packages/clerk-js/src/ui/components/UserVerification/use-after-verification.ts
  packages/shared/src/react/hooks/useReverification.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix(shared): Set `inProgress` state when completed or cancelled
  packages/shared/src/react/hooks/useReverification.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix(shared): Expose reverificationCompleted function
  packages/shared/src/react/hooks/useReverification.ts
Due: pnpm eslint --fix, pnpm prettier --write

chore(shared): Update useReverification comments
  packages/shared/src/react/hooks/useReverification.ts
Due: pnpm eslint --fix, pnpm prettier --write

chore(clerk-js,shared): Refactor useReverification
  integration/templates/next-app-router/src/app/(reverification)/action-with-use-reverification/page.tsx
  packages/clerk-js/src/ui/common/RemoveResourceForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/ActiveDevicesSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/AddAuthenticatorApp.tsx
  packages/clerk-js/src/ui/components/UserProfile/ConnectedAccountsMenu.tsx
  packages/clerk-js/src/ui/components/UserProfile/ConnectedAccountsSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/DeleteUserForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/EmailForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/EmailsSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/MfaBackupCodeCreateForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/MfaPhoneCodeScreen.tsx
  packages/clerk-js/src/ui/components/UserProfile/PasskeySection.tsx
  packages/clerk-js/src/ui/components/UserProfile/PasswordForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/PhoneForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/UsernameForm.tsx
  packages/shared/src/react/hooks/useReverification.ts
Due: pnpm eslint --fix, pnpm prettier --write

chore(repo): Add changeset
  .changeset/curly-lizards-pretend.md
Due: pnpm prettier --write

fix(shared): Fix default options overriding the passed options
  packages/shared/src/react/hooks/useReverification.ts
Due: pnpm eslint --fix, pnpm prettier --write

chore: Remove `primaryWeb3Walle`t from `<UserPreview />` in `UserProfileSection`
  .changeset/sixty-hornets-drop.md
  packages/clerk-js/src/ui/components/UserProfile/UserProfileSection.tsx
Due: pnpm eslint --fix, pnpm prettier --write

feat(clerk-js): Handle pwned password in SignInStart first party submit (#5298)
  .changeset/wise-stingrays-protect.md
  packages/clerk-js/src/core/constants.ts
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/components/SignIn/__tests__/SignInStart.test.tsx
Due: pnpm eslint --fix, pnpm prettier --write

chore(localization): Add missing sv-SE translations for legalConsent (#5251)
  .changeset/tame-carrots-retire.md
  packages/localizations/src/sv-SE.ts
Due: pnpm eslint --fix, pnpm prettier --write

chore(clerk-js): Remove `primaryWeb3Wallet` from `<UserPreview />` in `UserProfileSection` (#5319)
  .changeset/sixty-hornets-drop.md
  packages/clerk-js/src/ui/components/UserProfile/UserProfileSection.tsx
Due: pnpm eslint --fix, pnpm prettier --write

chore(shared,clerk-react,types): Improve JSDoc comments (#5296)
  .changeset/dry-poets-cross.md
  .gitignore
  .typedoc/custom-plugin.mjs
  .typedoc/custom-theme.mjs
  .typedoc/tsconfig.json
  package.json
  packages/react/src/hooks/useAuth.ts
  packages/react/src/hooks/useSignIn.ts
  packages/react/src/hooks/useSignUp.ts
  packages/react/src/types.ts
  packages/react/typedoc.json
  packages/shared/src/error.ts
  packages/shared/src/react/hooks/createContextAndHook.ts
  packages/shared/src/react/hooks/useClerk.ts
  packages/shared/src/react/hooks/useDeepEqualMemo.ts
  packages/shared/src/react/hooks/useOrganization.tsx
  packages/shared/src/react/hooks/useReverification.ts
  packages/shared/src/react/hooks/useSafeLayoutEffect.tsx
  packages/shared/src/react/hooks/useUser.ts
  packages/shared/src/react/types.ts
  packages/shared/typedoc.json
  packages/types/src/api.ts
  packages/types/src/clerk.ts
  packages/types/src/hooks.ts
  packages/types/src/jwt.ts
  packages/types/src/multiDomain.ts
  packages/types/src/oauth.ts
  packages/types/src/redirects.ts
  packages/types/src/resource.ts
  packages/types/src/session.ts
  packages/types/src/signIn.ts
  packages/types/src/signUp.ts
  packages/types/src/utils.ts
  packages/types/src/web3.ts
  pnpm-lock.yaml
  typedoc.config.mjs
Due: pnpm eslint --fix, pnpm prettier --write

update load()
  packages/clerk-js/src/core/clerk.ts
Due: pnpm eslint --fix, pnpm prettier --write

wip
  packages/shared/src/react/hooks/useReverification.ts
Due: pnpm eslint --fix, pnpm prettier --write

wip
  packages/clerk-js/src/core/clerk.ts
  packages/types/src/clerk.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix(clerk-js): Standardize internal component naming
  packages/clerk-js/src/ui/components/CreateOrganization/CreateOrganization.tsx
  packages/clerk-js/src/ui/components/GoogleOneTap/one-tap-start.tsx
  packages/clerk-js/src/ui/components/ImpersonationFab/ImpersonationFab.tsx
  packages/clerk-js/src/ui/components/KeylessPrompt/index.tsx
  packages/clerk-js/src/ui/components/OrganizationList/OrganizationList.tsx
  packages/clerk-js/src/ui/components/SignIn/ResetPassword.tsx
  packages/clerk-js/src/ui/components/SignIn/ResetPasswordSuccess.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInAccountSwitcher.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorOne.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorTwo.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpContinue.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpStart.tsx
Due: pnpm eslint --fix, pnpm prettier --write

changeset
  .changeset/shaggy-onions-hang.md
Due: pnpm prettier --write

chore: empty changeset
  .changeset/wise-beds-cheat.md
Due: pnpm prettier --write

Delete .changeset/wise-beds-cheat.md
  .changeset/wise-beds-cheat.md
Due: pnpm prettier --write

wip
  packages/clerk-js/src/core/clerk.ts
Due: pnpm eslint --fix, pnpm prettier --write

clean up useCheckout state
  packages/clerk-js/src/ui/components/Checkout/CheckoutForm.tsx
  packages/clerk-js/src/ui/components/Checkout/CheckoutPage.tsx
  packages/clerk-js/src/ui/hooks/useCheckout.ts
Due: pnpm eslint --fix, pnpm prettier --write

init drawer
  packages/clerk-js/src/ui/common/index.ts
  packages/clerk-js/src/ui/components/Checkout/Checkout.tsx
  packages/clerk-js/src/ui/components/Checkout/CheckoutContent.tsx
  packages/clerk-js/src/ui/components/PricingTable/PlanCard.tsx
  packages/clerk-js/src/ui/components/PricingTable/PlanDetailBlade.tsx
  packages/clerk-js/src/ui/components/PricingTable/PlanDetailDrawer.tsx
  packages/clerk-js/src/ui/components/PricingTable/PricingTable.tsx
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/clerk-js/src/ui/elements/Disclosure.tsx
  packages/clerk-js/src/ui/elements/Drawer.tsx
  packages/clerk-js/src/ui/elements/ProfileCard/ProfileCardContent.tsx
  packages/clerk-js/src/ui/elements/index.ts
  packages/clerk-js/src/ui/hooks/index.ts
  packages/clerk-js/src/ui/hooks/useMotionSafe.ts
  packages/clerk-js/src/ui/polishedAppearance.ts
  packages/clerk-js/src/ui/types.ts
  packages/types/src/appearance.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix(agent-toolkit): Rename `context` param to `authContext`
  packages/agent-toolkit/src/ai-sdk/adapter.ts
  packages/agent-toolkit/src/ai-sdk/index.ts
  packages/agent-toolkit/src/langchain/adapter.ts
  packages/agent-toolkit/src/langchain/index.ts
  packages/agent-toolkit/src/lib/clerk-tool.ts
  packages/agent-toolkit/src/lib/constants.ts
  packages/agent-toolkit/src/lib/inject-session-claims.ts
  packages/agent-toolkit/src/lib/tools/invitations.ts
  packages/agent-toolkit/src/lib/tools/organizations.ts
  packages/agent-toolkit/src/lib/tools/user.ts
  packages/agent-toolkit/src/lib/types.ts
  packages/agent-toolkit/src/lib/utils.ts
Due: pnpm eslint --fix, pnpm prettier --write

extract CheckoutDrawer
  packages/clerk-js/src/ui/common/CheckoutDrawer.tsx
  packages/clerk-js/src/ui/common/CommerceBlade.tsx
  packages/clerk-js/src/ui/common/index.ts
  packages/clerk-js/src/ui/components/Checkout/Checkout.tsx
Due: pnpm eslint --fix, pnpm prettier --write

extract constant
  packages/clerk-js/src/ui/components/Checkout/Checkout.tsx
  packages/clerk-js/src/ui/components/PricingTable/PricingTable.tsx
  packages/clerk-js/src/ui/constants.ts
  packages/clerk-js/src/ui/elements/ProfileCard/ProfileCardContent.tsx
Due: pnpm eslint --fix, pnpm prettier --write

drawerBackdrop
  packages/clerk-js/src/ui/components/Checkout/CheckoutComplete.tsx
  packages/clerk-js/src/ui/components/Checkout/CheckoutContent.tsx
  packages/clerk-js/src/ui/components/Checkout/CheckoutPage.tsx
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/clerk-js/src/ui/elements/Avatar.tsx
  packages/clerk-js/src/ui/elements/Drawer.tsx
  packages/clerk-js/src/ui/foundations/colors.ts
  packages/types/src/appearance.ts
Due: pnpm eslint --fix, pnpm prettier --write
