Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{mjs,js,jsx,ts,tsx}": ["npx eslint --fix", "npx prettier --write"],
  "*.{json,md,mdx}": ["npx prettier --write"]
}

fix(nextjs): Ambient global.d.ts (#4485)
  .changeset/plenty-snakes-turn.md
  packages/nextjs/src/global.d.ts
Due: npx eslint --fix, npx prettier --write

update internal export
  packages/backend/src/__tests__/exports.test.ts
Due: npx eslint --fix, npx prettier --write

update snapshot
  packages/nextjs/src/server/__tests__/__snapshots__/exports.test.ts.snap
Due: none

chore(repo): Add workflow to approve integration tests for fork PRs (#4482)
  .changeset/odd-colts-sing.md
  .github/workflows/ci.yml
  .github/workflows/run-integration-tests.yml
Due: npx prettier --write

Add generic change to trigger CI
  packages/localizations/src/pt-BR.ts
  playground/app-router/.env
Due: npx eslint --fix, npx prettier --write

Add sample console.log to trigger CI
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationProfile.tsx
Due: npx eslint --fix, npx prettier --write

chore(repo): Update package-lock.json
  package-lock.json
Due: npx prettier --write

chore(react): Use shared deriveState utility
  packages/react/src/contexts/ClerkContextProvider.tsx
  packages/react/src/utils/deriveState.ts
  packages/shared/src/deriveState.ts
Due: npx eslint --fix, npx prettier --write

chore(react): Add changeset
  .changeset/wicked-tomatoes-explain.md
Due: npx prettier --write

fix(repo): Ensure Rspack dependencies are always installed
  package.json
  scripts/patch-incorrect-lockfile.mjs
Due: npx eslint --fix, npx prettier --write

chore(shared): Add JSDoc to deriveState
  packages/shared/src/deriveState.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Fix peer deps
  package-lock.json
  package.json
Due: npx prettier --write

attempt fix rspack deps
  package-lock.json
Due: npx prettier --write

rollback previous commit
  package-lock.json
Due: npx prettier --write

rollback rspack update
  package-lock.json
Due: npx prettier --write

fix(repo): Undo overrides
  package-lock.json
  package.json
Due: npx prettier --write

fix(repo): Ensure Rspack dependencies are always installed (#4481)
  package-lock.json
  package.json
  scripts/patch-incorrect-lockfile.mjs
Due: npx eslint --fix, npx prettier --write

fix(nextjs): Use next pathname and searchParams
  packages/nextjs/src/app-router/client/ClerkProvider.tsx
  packages/nextjs/src/pages/ClerkProvider.tsx
Due: npx eslint --fix, npx prettier --write

add changeset
  .changeset/giant-dingos-collect.md
Due: npx prettier --write

feat(vue): Introduce Vue SDK
  .changeset/silent-snakes-confess.md
  .github/workflows/ci.yml
  package-lock.json
  packages/vue/.eslintrc.cjs
  packages/vue/LICENSE
  packages/vue/README.md
  packages/vue/package.json
  packages/vue/src/components/SignInButton.ts
  packages/vue/src/components/SignInWithMetamaskButton.ts
  packages/vue/src/components/SignOutButton.ts
  packages/vue/src/components/SignUpButton.ts
  packages/vue/src/components/__tests__/SignInButton.test.ts
  packages/vue/src/components/__tests__/SignInWithMetamaskButton.test.ts
  packages/vue/src/components/__tests__/SignOutButton.test.ts
  packages/vue/src/components/__tests__/SignUpButton.test.ts
  packages/vue/src/components/controlComponents.ts
  packages/vue/src/components/index.ts
  packages/vue/src/components/uiComponents.ts
  packages/vue/src/components/utils.ts
  packages/vue/src/composables/index.ts
  packages/vue/src/composables/useAuth.ts
  packages/vue/src/composables/useClerk.ts
  packages/vue/src/composables/useClerkContext.ts
  packages/vue/src/composables/useOrganization.ts
  packages/vue/src/composables/useSession.ts
  packages/vue/src/composables/useSessionList.ts
  packages/vue/src/composables/useSignIn.ts
  packages/vue/src/composables/useSignUp.ts
  packages/vue/src/composables/useUser.ts
  packages/vue/src/composables/utils.ts
  packages/vue/src/errors/errorThrower.ts
  packages/vue/src/errors/messages.ts
  packages/vue/src/global.d.ts
  packages/vue/src/index.ts
  packages/vue/src/keys.ts
  packages/vue/src/plugin.ts
  packages/vue/src/types.ts
  packages/vue/tsconfig.json
  packages/vue/tsup.config.ts
  packages/vue/vitest.config.ts
Due: npx eslint --fix, npx prettier --write

chore(vue): Add Waitlist component
  package-lock.json
  packages/vue/src/components/index.ts
  packages/vue/src/components/uiComponents.ts
Due: npx eslint --fix, npx prettier --write

chore(vue): Update Portal props reactivity
  packages/vue/src/components/uiComponents.ts
Due: npx eslint --fix, npx prettier --write

chore(vue): Remove one tap props reactivity
  packages/vue/src/components/uiComponents.ts
Due: npx eslint --fix, npx prettier --write

Add sample console.log to trigger CI
  .changeset/famous-shoes-walk.md
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationProfile.tsx
Due: npx eslint --fix, npx prettier --write

Check for user permissions rather than skipping
  .github/workflows/ci.yml
  .github/workflows/run-integration-tests.yml
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationProfile.tsx
Due: npx eslint --fix, npx prettier --write

chore(clerk-react,shared): Use shared `deriveState` function (#4490)
  .changeset/wicked-tomatoes-explain.md
  packages/react/src/contexts/ClerkContextProvider.tsx
  packages/react/src/utils/deriveState.ts
  packages/shared/src/deriveState.ts
Due: npx eslint --fix, npx prettier --write

fix(shared): Correct peerDependencies
  package-lock.json
  packages/shared/package.json
Due: npx prettier --write

feat(clerk-js): Replace ComponentContext with component-specific contexts
  packages/clerk-js/src/ui/components/CreateOrganization/CreateOrganization.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationProfile.tsx
  packages/clerk-js/src/ui/components/UserVerification/index.tsx
  packages/clerk-js/src/ui/components/Waitlist/Waitlist.tsx
  packages/clerk-js/src/ui/contexts/ClerkUIComponentsContext.tsx
  packages/clerk-js/src/ui/portal/index.tsx
  packages/clerk-js/src/ui/types.ts
  packages/clerk-js/src/ui/utils/test/createFixtures.tsx
Due: npx eslint --fix, npx prettier --write

changeset
  .changeset/rotten-balloons-vanish.md
Due: npx prettier --write

chore(clerk-js): Use esnext as the target for dev builds
  packages/clerk-js/rspack.config.js
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Add more edge cases
  packages/clerk-js/src/utils/__tests__/url.test.ts
  packages/clerk-js/src/utils/url.ts
Due: npx eslint --fix, npx prettier --write

refactor allowed redirect logic
  packages/clerk-js/src/utils/__tests__/url.test.ts
  packages/clerk-js/src/utils/redirectUrls.ts
  packages/clerk-js/src/utils/url.ts
Due: npx eslint --fix, npx prettier --write

ensure parse returns strings
  packages/clerk-js/src/utils/redirectUrls.ts
Due: npx eslint --fix, npx prettier --write

fix numbering
  packages/clerk-js/src/utils/__tests__/url.test.ts
Due: npx eslint --fix, npx prettier --write

add additional test case
  packages/clerk-js/src/utils/__tests__/url.test.ts
Due: npx eslint --fix, npx prettier --write

fix an issue with relative URL detection
  .changeset/chilled-crabs-stare.md
  packages/clerk-js/src/utils/__tests__/redirectUrls.test.ts
  packages/clerk-js/src/utils/__tests__/url.test.ts
  packages/clerk-js/src/utils/url.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Directory traversal relative URL detection (#4483)
  .changeset/chilled-crabs-stare.md
  packages/clerk-js/src/utils/__tests__/redirectUrls.test.ts
  packages/clerk-js/src/utils/__tests__/url.test.ts
  packages/clerk-js/src/utils/redirectUrls.ts
  packages/clerk-js/src/utils/url.ts
Due: npx eslint --fix, npx prettier --write

ci(repo): Version packages (#4493)
  .changeset/chilled-crabs-stare.md
  .changeset/odd-colts-sing.md
  .changeset/plenty-snakes-turn.md
  .changeset/wicked-tomatoes-explain.md
  package-lock.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: npx prettier --write

fix(clerk-js): Handle protocol-relative or path-traversal URLs
  .changeset/chilled-crabs-stare.md
  packages/clerk-js/src/utils/__tests__/url.test.ts
  packages/clerk-js/src/utils/authPropHelpers.ts
  packages/clerk-js/src/utils/url.ts
Due: npx eslint --fix, npx prettier --write
