Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

format
  packages/nextjs/src/app-router/server/auth.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Move ui package to devDependencies
  .changeset/khaki-weeks-give.md
  package-lock.json
  packages/clerk-js/package.json
Due: npx prettier --write

feat(nextjs): Log usage of `protect()` in pages,routes or actions
  .changeset/lazy-hounds-provide.md
  packages/nextjs/src/server/nextFetcher.ts
  packages/nextjs/src/server/safe_after.ts
  packages/shared/src/telemetry/collector.ts
  packages/types/src/telemetry.ts
Due: npx eslint --fix, npx prettier --write

add reason
  packages/nextjs/src/app-router/server/auth.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Move ui package to devDependencies (#4399)
  .changeset/khaki-weeks-give.md
  package-lock.json
  packages/clerk-js/package.json
Due: npx prettier --write

chore: dedupe
  package-lock.json
Due: npx prettier --write

audit fix
  package-lock.json
Due: npx prettier --write

chore: add deprecation warning
  packages/clerk-js/src/core/clerk.ts
Due: npx eslint --fix, npx prettier --write

Update .changeset/two-wasps-dance.md
  .changeset/two-wasps-dance.md
Due: npx prettier --write

fix(ui): If Web3 wallet already claimed preview error on <UserProfile /> (#4389)
  .changeset/two-wasps-dance.md
  packages/clerk-js/src/ui/components/UserProfile/Web3Form.tsx
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Fix issue for legal consent checkbox showing up in when only social sign up is enabled
  packages/clerk-js/src/ui/components/SignUp/SignUpStart.tsx
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Rename variable name
  packages/clerk-js/src/ui/components/SignUp/SignUpStart.tsx
Due: npx eslint --fix, npx prettier --write

chore(repo): Add changeset
  .changeset/unlucky-coins-juggle.md
Due: npx prettier --write

fix(clerk-js): Fix issue for legal consent checkbox showing up in when disabled (#4403)
  .changeset/unlucky-coins-juggle.md
  packages/clerk-js/src/ui/components/SignUp/SignUpStart.tsx
Due: npx eslint --fix, npx prettier --write

fix(nextjs): Include protect types in `auth` (#4398)
  .changeset/selfish-pianos-push.md
  packages/nextjs/src/app-router/server/auth.ts
Due: npx eslint --fix, npx prettier --write

use safe_after in auth.protect
  packages/nextjs/src/app-router/server/auth.ts
  packages/nextjs/src/server/safe_after.ts
Due: npx eslint --fix, npx prettier --write

ci(repo): Version packages (#4401)
  .changeset/khaki-weeks-give.md
  .changeset/selfish-pianos-push.md
  .changeset/two-wasps-dance.md
  .changeset/unlucky-coins-juggle.md
  package-lock.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
Due: npx prettier --write

remove skipped test
  integration/presets/next.ts
  integration/tests/next-build.test.ts
Due: npx eslint --fix, npx prettier --write

revert global timeout extention
  integration/playwright.config.ts
Due: npx eslint --fix, npx prettier --write

ci(repo): Add workflow_dispatch trigger to major-version-check.yml
  .github/workflows/major-version-check.yml
Due: none

Add changeset
  .changeset/angry-points-attack.md
Due: npx prettier --write

ci(repo): Add `workflow_dispatch` trigger to `major-version-check` action (#4404)
  .changeset/angry-points-attack.md
  .github/workflows/major-version-check.yml
Due: npx prettier --write

chore(e2e, nextjs): Run e2e tests for next@15
  .github/workflows/ci.yml
Due: none

chore(clerk-js): remove unused fitTextInOneLine and textWidthForCurrentSize
  packages/clerk-js/src/ui/components/SignIn/utils.ts
Due: npx eslint --fix, npx prettier --write

feat(localizations): Add support for en-GB
  .changeset/fuzzy-carrots-push.md
  packages/localizations/package.json
  packages/localizations/src/en-GB.ts
Due: npx eslint --fix, npx prettier --write

feat(nextjs): Allow eager clerkClient() access
  package-lock.json
  packages/nextjs/package.json
  packages/nextjs/src/server/__tests__/clerkClient.test.ts
  packages/nextjs/src/server/clerkClient.ts
Due: npx eslint --fix, npx prettier --write

vitest workspace setup
  package-lock.json
  package.json
  packages/nextjs/package.json
  packages/ui/package.json
  packages/upgrade/package.json
  vitest.workspace.js
Due: npx eslint --fix, npx prettier --write

single version of vitest
  package-lock.json
  package.json
  packages/upgrade/package.json
Due: npx prettier --write

changeset
  .changeset/tall-hornets-exercise.md
Due: npx prettier --write

feat(upgrade): enhance error handling
  packages/upgrade/src/app.js
  packages/upgrade/src/cli.js
  packages/upgrade/src/components/Codemod.js
  packages/upgrade/src/components/SDKWorkflow.js
  packages/upgrade/src/components/UpgradeSDK.js
Due: npx eslint --fix, npx prettier --write

handle failed upgrade command
  packages/upgrade/src/components/UpgradeSDK.js
Due: npx eslint --fix, npx prettier --write

changeset
  .changeset/real-boats-promise.md
Due: npx prettier --write

WIP
  packages/upgrade/src/components/UpgradeSDK.js
Due: npx eslint --fix, npx prettier --write

Update clerk-client.ts
  packages/astro/src/server/clerk-client.ts
Due: npx eslint --fix, npx prettier --write

fix: don't overwrite default context
  packages/tanstack-start/src/server/middlewareHandler.ts
Due: npx eslint --fix, npx prettier --write

fix: don't re-run loaders
  packages/tanstack-start/src/server/middlewareHandler.ts
Due: npx eslint --fix, npx prettier --write

chore: add changeset
  .changeset/cold-tigers-scream.md
Due: npx prettier --write

refactor(ui): Remove `variant` and `state` props from `<Field.Input />` (#4391)
  .changeset/breezy-plums-wait.md
  packages/ui/src/common/otp-field.tsx
  packages/ui/src/primitives/field.tsx
Due: npx eslint --fix, npx prettier --write

chore: expose auth object type helper
  packages/express/env.d.ts
  packages/express/package.json
Due: npx eslint --fix, npx prettier --write

Create twelve-frogs-study.md
  .changeset/twelve-frogs-study.md
Due: npx prettier --write

Path conditions:
  npx eslint --fix: any of: *.{mjs,js,jsx,ts,tsx}
  npx prettier --write: (any of: *.{mjs,js,jsx,ts,tsx}) or (any of: *.{json,md,mdx})
