Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{mjs,js,jsx,ts,tsx}": ["npx eslint --fix", "npx prettier --write"],
  "*.{json,md,mdx}": ["npx prettier --write"]
}

chore(astro): formatting update
  integration/tests/astro/components.test.ts
Due: npx eslint --fix, npx prettier --write

font weight
  packages/ui/src/components/sign-in/steps/choose-session.tsx
Due: npx eslint --fix, npx prettier --write

fix first last name join
  packages/ui/src/components/sign-in/steps/choose-session.tsx
Due: npx eslint --fix, npx prettier --write

chore(astro): Make sure multiple user buttons are properly scoped
  packages/astro/src/astro-components/interactive/InternalUIComponentRenderer.astro
  packages/astro/src/astro-components/interactive/UserButton/MenuItemRenderer.astro
  packages/astro/src/astro-components/interactive/UserButton/UserButton.astro
  packages/astro/src/astro-components/interactive/UserButton/UserButtonAction.astro
  packages/astro/src/astro-components/interactive/UserButton/UserButtonLink.astro
  packages/astro/src/astro-components/interactive/UserButton/UserButtonMenuItems.astro
  packages/astro/src/astro-components/interactive/UserButton/UserButtonUserProfilePage.astro
Due: none

chore(astro): Add clerk identifier to web component
  packages/astro/src/astro-components/interactive/UserButton/MenuItemRenderer.astro
  packages/astro/src/astro-components/interactive/UserButton/UserButtonMenuItems.astro
Due: none

chore(astro): Fix incorrect output
  packages/astro/src/integration/vite-plugin-astro-config.ts
  packages/astro/src/types.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-js,localizations): Updated Danish localization translations
  packages/localizations/src/da-DK.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-js,localizations): Re-add disclaimer
  packages/localizations/src/da-DK.ts
Due: npx eslint --fix, npx prettier --write

chore(astro): Use authorization checker function from session object
  packages/astro/src/astro-components/control/ProtectCSR.astro
  packages/astro/src/internal/custom-elements/protect.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-js,localization): Add missing da-DK field translation
  packages/localizations/src/da-DK.ts
Due: npx eslint --fix, npx prettier --write

feat(ui): Initial AppearanceProvider support
  .changeset/ninety-months-bathe.md
  packages/ui/package.json
  packages/ui/src/components/sign-in/sign-in.tsx
  packages/ui/src/components/sign-in/steps/start.tsx
  packages/ui/src/contexts/AppearanceContext.tsx
  packages/ui/src/contexts/index.ts
  packages/ui/theme-builder/app/theme-builder.tsx
  packages/ui/tsup.config.ts
Due: npx eslint --fix, npx prettier --write

fix(astro): Do not ignore astro files in tsconfig
  packages/astro/src/astro-components/control/Protect.astro
  packages/astro/src/astro-components/control/SignedIn.astro
  packages/astro/src/astro-components/control/SignedOut.astro
  packages/astro/src/env.d.ts
  packages/astro/tsconfig.json
Due: npx eslint --fix, npx prettier --write

chore(astro): Run prettier format
  packages/astro/src/env.d.ts
  packages/astro/src/internal/custom-elements/protect.ts
Due: npx eslint --fix, npx prettier --write

chore(astro): Add isStatic prop definition
  packages/astro/src/astro-components/control/Protect.astro
Due: none

chore(ui): Hook up `<SignIn.SessionList />` elements (#3973)
  .changeset/gold-cameras-impress.md
  packages/ui/src/components/sign-in/sign-in.tsx
  packages/ui/src/components/sign-in/steps/choose-session.tsx
Due: npx eslint --fix, npx prettier --write

chore(astro): Revert previous commit
  packages/astro/src/astro-components/control/Protect.astro
Due: none

chore(astro): Remove unused prop type
  packages/astro/src/astro-components/interactive/UserButton/UserButtonAction.astro
Due: none

chore(astro): type fixes
  packages/astro/src/integration/vite-plugin-astro-config.ts
Due: npx eslint --fix, npx prettier --write

docs(ui): Add comments
  packages/ui/src/contexts/AppearanceContext.tsx
Due: npx eslint --fix, npx prettier --write

WIP - first rough pass at args-based approach
  packages/backend/src/tokens/authStatus.ts
  packages/backend/src/tokens/request.ts
  packages/backend/src/tokens/types.ts
Due: npx eslint --fix, npx prettier --write

chore(astro): Put web component declarations inside CSR components
  integration/presets/astro.ts
  packages/astro/src/astro-components/control/ProtectCSR.astro
  packages/astro/src/astro-components/control/SignedInCSR.astro
  packages/astro/src/astro-components/control/SignedOutCSR.astro
  packages/astro/src/internal/create-clerk-instance.ts
  packages/astro/src/internal/custom-elements/protect.ts
  packages/astro/src/internal/custom-elements/signed-in.ts
  packages/astro/src/internal/custom-elements/signed-out.ts
  packages/astro/src/internal/define-custom-elements.ts
Due: npx eslint --fix, npx prettier --write

chore(astro): Fix flickering when rendering signed in and signed out contents
  packages/astro/src/astro-components/control/BaseClerkControlElement.ts
  packages/astro/src/astro-components/control/ProtectCSR.astro
  packages/astro/src/astro-components/control/SignedInCSR.astro
  packages/astro/src/astro-components/control/SignedOutCSR.astro
  packages/astro/src/stores/external.ts
Due: npx eslint --fix, npx prettier --write

chore(astro): Test type fix
  packages/astro/tsconfig.json
Due: npx prettier --write

chore(astro): Format tsconfig
  packages/astro/tsconfig.json
Due: npx prettier --write

chore(astro): Remove unnecessary ts config
  packages/astro/package.json
  packages/astro/tsconfig.json
Due: npx prettier --write

feat(localizations): Update Czech translations
  .changeset/chatty-toys-relax.md
  packages/localizations/src/cs-CZ.ts
Due: npx eslint --fix, npx prettier --write

feat(localizations): Added Thai translation keys for signup start action link translations
  packages/localizations/src/th-TH.ts
Due: npx eslint --fix, npx prettier --write

chore(localizations): Add changeset
  .changeset/big-cheetahs-exercise.md
Due: npx prettier --write

chore(astro): Update click event name
  integration/templates/astro-node/src/components/CustomUserButton.astro
  integration/tests/astro/components.test.ts
  packages/astro/src/astro-components/interactive/UserButton/MenuItemRenderer.astro
Due: npx eslint --fix, npx prettier --write

chore(astro): Update test preset
  integration/presets/astro.ts
  packages/astro/src/astro-components/interactive/UserButton/UserButtonMenuItems.astro
Due: npx eslint --fix, npx prettier --write

chore(astro): Update test preset comment
  integration/presets/astro.ts
Due: npx eslint --fix, npx prettier --write

test(astro): Use react component in static test
  integration/templates/astro-static/src/pages/index.astro
Due: none

wip 2
  package-lock.json
  packages/clerk-js/package.json
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/Components.tsx
  packages/clerk-js/src/ui/lazyModules/components.ts
  packages/clerk-js/src/ui/lazyModules/providers.tsx
  packages/clerk-js/src/ui/portal/index.tsx
  packages/nextjs/src/client-boundary/uiComponents.tsx
  packages/nextjs/src/index.ts
  packages/react/src/components/index.ts
  packages/react/src/components/uiComponents.tsx
  packages/react/src/isomorphicClerk.ts
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

Create tiny-llamas-attend.md
  .changeset/tiny-llamas-attend.md
Due: npx prettier --write

Update .changeset/big-cheetahs-exercise.md
  .changeset/big-cheetahs-exercise.md
Due: npx prettier --write

chore(clerk-js,localizations): Updated Danish localization translations (#3975)
  .changeset/tiny-llamas-attend.md
  packages/localizations/src/da-DK.ts
Due: npx eslint --fix, npx prettier --write

feat(localizations): Added Thai translation keys for signup start action link translations (#3979)
  .changeset/big-cheetahs-exercise.md
  packages/localizations/src/th-TH.ts
Due: npx eslint --fix, npx prettier --write

feat(localizations): Update `cs-CZ` translations (#3978)
  .changeset/chatty-toys-relax.md
  packages/localizations/src/cs-CZ.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Format
  packages/localizations/src/cs-CZ.ts
  packages/localizations/src/da-DK.ts
  packages/localizations/src/th-TH.ts
Due: npx eslint --fix, npx prettier --write

chore(ui): Use parsed appearance
  packages/ui/src/common/connections.tsx
  packages/ui/src/components/sign-in/steps/choose-session.tsx
  packages/ui/src/components/sign-in/steps/choose-strategy.tsx
  packages/ui/src/components/sign-in/steps/forgot-password.tsx
  packages/ui/src/components/sign-in/steps/get-help.tsx
  packages/ui/src/components/sign-in/steps/reset-password.tsx
  packages/ui/src/components/sign-in/steps/verifications.tsx
  packages/ui/src/components/sign-up/steps/continue.tsx
  packages/ui/src/components/sign-up/steps/start.tsx
  packages/ui/src/components/sign-up/steps/verifications.tsx
  packages/ui/src/hooks/use-appearance.ts
Due: npx eslint --fix, npx prettier --write
