Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

chore(repo): Add Changeset
  .changeset/wicked-worms-draw.md
Due: npx prettier --write

fix(clerk-js): Add usePathnameWithoutSplatRouteParams to handle splat routes
  packages/remix/src/client/uiComponents.tsx
  packages/remix/src/client/usePathnameWithoutSplatRouteParams.tsx
Due: npx eslint --fix, npx prettier --write

fix(remix): Automatically infer path to where component is mounted
  packages/remix/src/client/uiComponents.tsx
Due: npx eslint --fix, npx prettier --write

fix(elements): Validate password when type="text"
  packages/elements/examples/nextjs/components/form.tsx
  packages/elements/src/react/common/form/index.tsx
Due: npx eslint --fix, npx prettier --write

chore(fastify): Update snapshot
  packages/fastify/src/__snapshots__/constants.test.ts.snap
Due: none

fix(clerk-js): Vertical align card icon with card number
  packages/clerk-js/src/ui/common/Billing/PlanAndBillingScreen.tsx
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Add show all button for features list
  packages/clerk-js/src/ui/common/Billing/ManageBillingPlanScreen.tsx
  packages/localizations/src/en-US.ts
  packages/types/src/localization.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Chore remove non phrasing content from show all button
  packages/clerk-js/src/ui/common/Billing/ManageBillingPlanScreen.tsx
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Remove experimental prefixes for Passkey related apis
  packages/clerk-js/src/core/resources/Passkey.ts
  packages/clerk-js/src/core/resources/SignIn.ts
  packages/clerk-js/src/core/resources/User.ts
  packages/clerk-js/src/core/resources/Verification.ts
  packages/clerk-js/src/ui/components/SignIn/__tests__/SignInFactorOne.test.tsx
  packages/clerk-js/src/ui/components/SignIn/__tests__/SignInStart.test.tsx
  packages/clerk-js/src/ui/components/SignIn/shared.ts
  packages/clerk-js/src/ui/components/UserProfile/PasskeySection.tsx
  packages/clerk-js/src/ui/components/UserProfile/RemoveResourceForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/PasskeysSection.test.tsx
  packages/clerk-js/src/ui/utils/test/mockHelpers.ts
  packages/clerk-js/src/utils/__tests__/passkeys.test.ts
  packages/clerk-js/src/utils/passkeys.ts
  packages/localizations/src/en-US.ts
  packages/types/src/factors.ts
  packages/types/src/localization.ts
  packages/types/src/passkey.ts
  packages/types/src/signIn.ts
  packages/types/src/strategies.ts
  packages/types/src/user.ts
  packages/types/src/verification.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Add stable localization keys for passkeys
  packages/localizations/src/ar-SA.ts
  packages/localizations/src/bg-BG.ts
  packages/localizations/src/cs-CZ.ts
  packages/localizations/src/da-DK.ts
  packages/localizations/src/de-DE.ts
  packages/localizations/src/el-GR.ts
  packages/localizations/src/en-US.ts
  packages/localizations/src/es-ES.ts
  packages/localizations/src/es-MX.ts
  packages/localizations/src/fr-FR.ts
  packages/localizations/src/he-IL.ts
  packages/localizations/src/it-IT.ts
  packages/localizations/src/ja-JP.ts
  packages/localizations/src/ko-KR.ts
  packages/localizations/src/mn-MN.ts
  packages/localizations/src/nb-NO.ts
  packages/localizations/src/nl-NL.ts
  packages/localizations/src/pl-PL.ts
  packages/localizations/src/pt-BR.ts
  packages/localizations/src/pt-PT.ts
  packages/localizations/src/ro-RO.ts
  packages/localizations/src/ru-RU.ts
  packages/localizations/src/sk-SK.ts
  packages/localizations/src/sv-SE.ts
  packages/localizations/src/th-TH.ts
  packages/localizations/src/tr-TR.ts
  packages/localizations/src/uk-UA.ts
  packages/localizations/src/vi-VN.ts
  packages/localizations/src/zh-CN.ts
  packages/localizations/src/zh-TW.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Add changeset
  .changeset/gorgeous-schools-drive.md
Due: npx prettier --write

fix(elements): Make otp attribute consistent with other usages
  packages/elements/src/react/common/form/otp.tsx
Due: npx eslint --fix, npx prettier --write

chore(elements): Add changeset
  .changeset/many-penguins-rhyme.md
  packages/elements/package.json
Due: npx prettier --write

fix(elements): Make otp input attribute consitent (#3135)
  .changeset/many-penguins-rhyme.md
  packages/elements/package.json
  packages/elements/src/react/common/form/otp.tsx
Due: npx eslint --fix, npx prettier --write

fix(elements): Prevent asChild usage when render prop is used
  packages/elements/src/react/common/form/index.tsx
Due: npx eslint --fix, npx prettier --write

chore(elements): Add changeset
  .changeset/mighty-kings-play.md
  packages/elements/package.json
Due: npx prettier --write

fix(elements): Add guard against asChild usage when using render prop
  packages/elements/src/react/common/form/index.tsx
Due: npx eslint --fix, npx prettier --write

fix(elements): Prevent `asChild` usage when otp input uses render prop (#3136)
  .changeset/mighty-kings-play.md
  packages/elements/package.json
  packages/elements/src/react/common/form/index.tsx
Due: npx eslint --fix, npx prettier --write

feat(clerk-js,types,localizations): Add maintenance mode banner to SignIn and SignUp
  .changeset/polite-toys-explode.md
  packages/clerk-js/src/core/resources/Environment.ts
  packages/clerk-js/src/ui/elements/Alert.tsx
  packages/clerk-js/src/ui/elements/Card.tsx
  packages/clerk-js/src/ui/primitives/AlertIcon.tsx
  packages/clerk-js/src/ui/primitives/Text.tsx
  packages/localizations/src/en-US.ts
  packages/types/src/environment.ts
  packages/types/src/json.ts
  packages/types/src/localization.ts
Due: npx eslint --fix, npx prettier --write

feat(localizations): Added Thai translation keys for pwned password, form identifier, passkey (#3128)
  .changeset/sharp-months-rule.md
  packages/localizations/src/th-TH.ts
Due: npx eslint --fix, npx prettier --write

feat(clerk-js,types,localizations): Add maintenance mode banner to SignIn and SignUp
  .changeset/popular-rats-sneeze.md
  packages/clerk-js/src/core/resources/Environment.ts
  packages/clerk-js/src/ui/elements/Alert.tsx
  packages/clerk-js/src/ui/elements/Card/CardContent.tsx
  packages/clerk-js/src/ui/primitives/AlertIcon.tsx
  packages/clerk-js/src/ui/primitives/Text.tsx
  packages/localizations/src/en-US.ts
  packages/types/src/environment.ts
  packages/types/src/json.ts
  packages/types/src/localization.ts
Due: npx eslint --fix, npx prettier --write

fix(backend,remix): Tweak ClerkRequest initialization to work-around edge-runtime and undici limitations
  package-lock.json
  package.json
  packages/backend/src/tokens/__tests__/clerkRequest.test.ts
Due: npx eslint --fix, npx prettier --write

fix(backend,remix): Tweak ClerkRequest initialization to work-around edge-runtime and undici limitations (#3129)
  .changeset/lovely-planets-suffer.md
  package-lock.json
  package.json
  packages/backend/package.json
  packages/backend/src/tokens/__tests__/clerkRequest.test.ts
  packages/backend/src/tokens/clerkRequest.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Version packages (#3138)
  .changeset/polite-toys-explode.md
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Due: npx prettier --write

fix(clerk-js): Fix SignUpStart.test.tsx
  packages/clerk-js/src/ui/components/SignUp/__tests__/SignUpStart.test.tsx
Due: npx eslint --fix, npx prettier --write

chore(repo): Version packages (beta) (#3085)
  .changeset/pre.json
  package-lock.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Due: npx prettier --write

fix(clerk-js): Hide maintenance banner when card has global error
  packages/clerk-js/src/ui/elements/Card/CardContent.tsx
Due: npx eslint --fix, npx prettier --write

chore(repo): Add changeset
  .changeset/young-ears-act.md
Due: npx prettier --write

fix(clerk-js): Hide maintenance banner when card has global error
  .changeset/plenty-windows-relate.md
  packages/clerk-js/src/ui/elements/Card.tsx
Due: npx eslint --fix, npx prettier --write

chore(repo): Version packages (beta) (#3139)
  .changeset/pre.json
  package-lock.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
Due: npx prettier --write

chore(repo): Version packages (#3140)
  .changeset/plenty-windows-relate.md
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
Due: npx prettier --write

chore(clerk-js): Fix typo on Billing import
  packages/clerk-js/src/core/resources/Organization.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Remove BillingPortalSessionResource
  packages/clerk-js/src/core/resources/User.ts
  packages/types/src/billing.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Add createBillingPortalSession endpoint for users
  packages/clerk-js/src/core/resources/User.ts
  packages/types/src/billing.ts
  packages/types/src/user.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Replace OrganizationDomainJSON with BillingPlanJSON
  packages/clerk-js/src/core/resources/Organization.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Fix createBillingPortalSession endpoint
  packages/clerk-js/src/core/resources/Organization.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Add current plan endpoint for users
  packages/clerk-js/src/core/resources/User.ts
  packages/types/src/user.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Fix build
  packages/clerk-js/src/core/resources/Organization.ts
  packages/types/src/billing.ts
  packages/types/src/organization.ts
  packages/types/src/user.ts
Due: npx eslint --fix, npx prettier --write

Path conditions:
  npx eslint --fix: any of: *.{mjs,js,jsx,ts,tsx}
  npx prettier --write: (any of: *.{mjs,js,jsx,ts,tsx}) or (any of: *.{json,md,mdx})
