Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --fix, pnpm prettier --write

chore: update changeset
  .changeset/gentle-insects-glow.md
Due: pnpm prettier --write

chore: update error message
  packages/expo/src/token-cache/index.ts
Due: pnpm eslint --fix, pnpm prettier --write

chore(clerk-expo): Add token cache changeset
  .changeset/fresh-hats-notice.md
Due: pnpm prettier --write

chore: reinstall deps
  pnpm-lock.yaml
Due: none

chore: update changeset
  .changeset/fresh-hats-notice.md
Due: pnpm prettier --write

chore: Add back removed secure-store export
  packages/expo/package.json
  packages/expo/resource-cache/package.json
  packages/expo/src/secure-store/index.ts
  packages/expo/token-cache/package.json
Due: pnpm eslint --fix, pnpm prettier --write

chore: simplify changeset
  .changeset/gentle-insects-glow.md
Due: pnpm prettier --write

test pnpm lock
  pnpm-lock.yaml
Due: none

chore: rerun pnpm install
  pnpm-lock.yaml
Due: none

fix lockfile
  pnpm-lock.yaml
Due: none

run dedupe
  pnpm-lock.yaml
Due: none

fix build
  packages/react/src/isomorphicClerk.ts
Due: pnpm eslint --fix, pnpm prettier --write

chore: sync pnpm-lock.yaml with main
  pnpm-lock.yaml
Due: none

wip
  packages/clerk-js/src/core/resources/OrganizationSettings.ts
  packages/clerk-js/src/core/resources/UserSettings.ts
Due: pnpm eslint --fix, pnpm prettier --write

console warn
  packages/clerk-js/src/ui/utils/__tests__/normalizeColorString.test.ts
  packages/clerk-js/src/ui/utils/normalizeColorString.ts
Due: pnpm eslint --fix, pnpm prettier --write

format
  packages/clerk-js/src/core/resources/OrganizationSettings.ts
Due: pnpm eslint --fix, pnpm prettier --write

feat(clerk-expo): Add secure token cache implementation and rename `secureStore` (#5375)
  .changeset/fresh-hats-notice.md
  .changeset/gentle-insects-glow.md
  packages/expo/package.json
  packages/expo/resource-cache/package.json
  packages/expo/src/resource-cache/__tests__/dummy-test-data.ts
  packages/expo/src/resource-cache/__tests__/secure-store.test.ts
  packages/expo/src/resource-cache/index.ts
  packages/expo/src/resource-cache/resource-cache.ts
  packages/expo/src/secure-store/index.ts
  packages/expo/src/token-cache/index.ts
  packages/expo/token-cache/package.json
Due: pnpm eslint --fix, pnpm prettier --write

fix test
  packages/shared/src/__tests__/loadClerkJsScript.test.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix(clerk-js): Remove popup handling now that AP handles it
  packages/clerk-js/src/core/clerk.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix(clerk-js): Update max size limits
  packages/clerk-js/bundlewatch.config.json
Due: pnpm prettier --write

Add `force_organization_selection` to environment resource
  packages/clerk-js/src/core/resources/OrganizationSettings.ts
  packages/clerk-js/src/ui/utils/test/fixtures.ts
  packages/types/src/organizationSettings.ts
Due: pnpm eslint --fix, pnpm prettier --write

Hide personal workspace option on components
  packages/clerk-js/src/ui/components/OrganizationList/__tests__/OrganizationList.test.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/__tests__/OrganizationSwitcher.test.tsx
  packages/clerk-js/src/ui/components/SessionTask/SessionTask.tsx
  packages/clerk-js/src/ui/contexts/components/OrganizationList.ts
  packages/clerk-js/src/ui/contexts/components/OrganizationSwitcher.ts
  packages/clerk-js/src/ui/utils/test/fixtureHelpers.ts
Due: pnpm eslint --fix, pnpm prettier --write

Fix snapshot test
  packages/clerk-js/src/core/resources/__tests__/Environment.test.ts
  packages/clerk-js/src/core/resources/__tests__/__snapshots__/Environment.test.ts.snap
Due: pnpm eslint --fix, pnpm prettier --write

Add changeset
  .changeset/fresh-plums-run.md
Due: pnpm prettier --write

Add telemetry for `hidePersonal` usage vs `force_organization_selection`
  packages/clerk-js/src/ui/contexts/components/OrganizationList.ts
  packages/clerk-js/src/ui/contexts/components/OrganizationSwitcher.ts
Due: pnpm eslint --fix, pnpm prettier --write

Fix telemetry to be sent from clerk-js methods
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/resources/OrganizationSettings.ts
  packages/clerk-js/src/ui/contexts/components/OrganizationList.ts
  packages/clerk-js/src/ui/contexts/components/OrganizationSwitcher.ts
Due: pnpm eslint --fix, pnpm prettier --write

init
  packages/clerk-js/src/ui/components/PricingTable/PlanCard.tsx
  packages/clerk-js/src/ui/components/PricingTable/PricingTable.tsx
Due: pnpm eslint --fix, pnpm prettier --write

chore(tanstack-react-start): Update package name and version locally
  packages/tanstack-start/package.json
Due: pnpm prettier --write

chore: update directory
  packages/tanstack-start/package.json
Due: pnpm prettier --write

update snapshot script to include new package
  scripts/snapshot.mjs
Due: pnpm eslint --fix, pnpm prettier --write

fix missing directory
  integration/templates/tanstack-react-router/.gitignore
  integration/templates/tanstack-react-router/README.md
  integration/templates/tanstack-react-router/index.html
  integration/templates/tanstack-react-router/package.json
  integration/templates/tanstack-react-router/src/main.tsx
  integration/templates/tanstack-react-router/src/posts.tsx
  integration/templates/tanstack-react-router/src/routeTree.gen.ts
  integration/templates/tanstack-react-router/src/routes/__root.tsx
  integration/templates/tanstack-react-router/src/routes/_layout.tsx
  integration/templates/tanstack-react-router/src/routes/index.tsx
  integration/templates/tanstack-react-router/src/routes/sign-in.tsx
  integration/templates/tanstack-react-router/tsconfig.dev.json
  integration/templates/tanstack-react-router/tsconfig.json
  integration/templates/tanstack-react-router/vite.config.js
Due: pnpm eslint --fix, pnpm prettier --write

chore: rerun pnpm install, dedupe
  .github/workflows/ci.yml
  integration/presets/tanstack.ts
  integration/templates/index.ts
  integration/templates/tanstack-router/package.json
  pnpm-lock.yaml
Due: pnpm eslint --fix, pnpm prettier --write

fix test ids
  integration/presets/longRunningApps.ts
  integration/presets/tanstack.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix(clerk-js): Update IsomorphicClerk type
  packages/clerk-js/src/core/resources/__tests__/__snapshots__/Client.test.ts.snap
  packages/react/src/isomorphicClerk.ts
Due: pnpm eslint --fix, pnpm prettier --write

add usePlans hook, rename PlanDetailDrawer -> SubscriptionDetailDrawer
  packages/clerk-js/src/core/resources/CommerceCheckout.ts
  packages/clerk-js/src/core/resources/CommercePlan.ts
  packages/clerk-js/src/core/resources/CommerceSubscription.ts
  packages/clerk-js/src/core/resources/Organization.ts
  packages/clerk-js/src/ui/components/PricingTable/PlanCard.tsx
  packages/clerk-js/src/ui/components/PricingTable/PricingTable.tsx
  packages/clerk-js/src/ui/components/PricingTable/SubscriptionDetailDrawer.tsx
  packages/clerk-js/src/ui/hooks/index.ts
  packages/clerk-js/src/ui/hooks/usePlans.ts
  packages/shared/src/react/hooks/useOrganization.tsx
  packages/types/src/clerk.ts
  packages/types/src/commerce.ts
  packages/types/src/json.ts
  packages/types/src/organization.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix(backend): handle Basic auth gracefully
  packages/backend/src/tokens/authenticateContext.ts
  packages/nextjs/src/server/clerkMiddleware.ts
Due: pnpm eslint --fix, pnpm prettier --write

amke the code more compact
  packages/backend/src/tokens/authenticateContext.ts
Due: pnpm eslint --fix, pnpm prettier --write

changeset
  .changeset/ninety-bugs-jam.md
Due: pnpm prettier --write

Path conditions:
  pnpm eslint --fix: any of: *.{mjs,js,jsx,ts,tsx,vue}
  pnpm prettier --write: (any of: *.{mjs,js,jsx,ts,tsx,vue}) or (any of: *.{json,md,mdx})
