Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

test(repo): Add integration tests for NextJS quickstart guide
  .lintstagedrc.json
  integration/models/environment.ts
  integration/presets/envs.ts
  integration/presets/longRunningApps.ts
  integration/presets/next.ts
  integration/templates/index.ts
  integration/templates/next-app-router-quickstart/.eslintrc.js
  integration/templates/next-app-router-quickstart/.gitignore
  integration/templates/next-app-router-quickstart/README.md
  integration/templates/next-app-router-quickstart/next.config.js
  integration/templates/next-app-router-quickstart/package.json
  integration/templates/next-app-router-quickstart/public/next.svg
  integration/templates/next-app-router-quickstart/public/vercel.svg
  integration/templates/next-app-router-quickstart/src/app/favicon.ico
  integration/templates/next-app-router-quickstart/src/app/globals.css
  integration/templates/next-app-router-quickstart/src/app/layout.tsx
  integration/templates/next-app-router-quickstart/src/app/page.module.css
  integration/templates/next-app-router-quickstart/src/app/page.tsx
  integration/templates/next-app-router-quickstart/src/middleware.ts
  integration/templates/next-app-router-quickstart/tsconfig.json
  integration/tests/next-quickstart.test.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Add integration/templates to .eslintignore
  .eslintignore
  .github/workflows/ci.yml
  .lintstagedrc.json
  integration/templates/next-app-router-quickstart/src/app/page.tsx
  integration/templates/next-app-router-quickstart/src/middleware.ts
  integration/tests/next-quickstart.test.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Add Changeset
  .changeset/rude-falcons-thank.md
Due: npx prettier --write

test(repo): Add integration tests for NextJS quickstart guide (#2888)
  .changeset/rude-falcons-thank.md
  .eslintignore
  .github/workflows/ci.yml
  integration/models/environment.ts
  integration/presets/envs.ts
  integration/presets/longRunningApps.ts
  integration/presets/next.ts
  integration/templates/index.ts
  integration/templates/next-app-router-quickstart/.eslintrc.js
  integration/templates/next-app-router-quickstart/.gitignore
  integration/templates/next-app-router-quickstart/README.md
  integration/templates/next-app-router-quickstart/next.config.js
  integration/templates/next-app-router-quickstart/package.json
  integration/templates/next-app-router-quickstart/public/next.svg
  integration/templates/next-app-router-quickstart/public/vercel.svg
  integration/templates/next-app-router-quickstart/src/app/favicon.ico
  integration/templates/next-app-router-quickstart/src/app/globals.css
  integration/templates/next-app-router-quickstart/src/app/layout.tsx
  integration/templates/next-app-router-quickstart/src/app/page.module.css
  integration/templates/next-app-router-quickstart/src/app/page.tsx
  integration/templates/next-app-router-quickstart/src/middleware.ts
  integration/templates/next-app-router-quickstart/tsconfig.json
  integration/templates/next-app-router/src/middleware.ts
  integration/testUtils/appPageObject.ts
  integration/testUtils/index.ts
  integration/testUtils/userButtonPageObject.ts
  integration/testUtils/userProfilePageObject.ts
  integration/tests/next-quickstart.test.ts
  package.json
Due: npx eslint --fix, npx prettier --write

fix(remix): Fix issue of creating multiple branches of a single stream on Cloudflare Workers
  .changeset/shiny-ties-complain.md
  packages/remix/src/ssr/utils.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Fix the input box-shadow on iOS 16 devices (#2946)
  .changeset/light-doors-teach.md
  packages/clerk-js/src/ui/primitives/Input.tsx
Due: npx eslint --fix, npx prettier --write

fix(remix): Fix issue of creating multiple branches of a single stream on Cloudflare Workers (#2953)
  .changeset/shiny-ties-complain.md
  packages/remix/src/ssr/utils.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js,types): Fix the redirection that happens when SSO fails
  .changeset/tame-coats-repeat.md
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/components/SignIn/SignIn.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUp.tsx
  packages/clerk-js/src/ui/contexts/ClerkUIComponentsContext.tsx
  packages/elements/src/internals/machines/third-party/actors.ts
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Update lock file
  package-lock.json
Due: npx prettier --write

fix(elements): Replace isEnabled with isTruthy
  packages/elements/src/internals/utils/__tests__/is-enabled.test.ts
  packages/elements/src/internals/utils/inspector/index.ts
  packages/elements/src/internals/utils/is-enabled.ts
Due: npx eslint --fix, npx prettier --write

feat(elements): Expand debugging options (#2951)
  .changeset/small-cooks-boil.md
  package-lock.json
  packages/elements/package.json
  packages/elements/src/internals/utils/inspector/browser.ts
  packages/elements/src/internals/utils/inspector/console.ts
  packages/elements/src/internals/utils/inspector/index.ts
  packages/elements/src/react/hooks/index.ts
  packages/elements/src/react/hooks/use-browser-inspector.hook.ts
  packages/elements/src/react/hooks/use-console-inspector.hook.ts
  packages/elements/src/react/sign-in/root.tsx
  packages/elements/src/react/sign-up/root.tsx
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Remove ticket params after they are consumed
  .changeset/witty-pens-arrive.md
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/components/SignIn/__tests__/SignInStart.test.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpStart.tsx
  packages/clerk-js/src/ui/components/SignUp/__tests__/SignUpStart.test.tsx
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Pass the whole error object into card.setError
  .changeset/popular-monkeys-clap.md
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpStart.tsx
Due: npx eslint --fix, npx prettier --write

feat(clerk-js): List passkeys under security in UP
  .changeset/calm-kings-draw.md
  packages/clerk-js/src/core/resources/User.ts
  packages/clerk-js/src/core/resources/UserSettings.ts
  packages/clerk-js/src/ui/components/UserProfile/PasskeySection.tsx
  packages/clerk-js/src/ui/components/UserProfile/SecurityPage.tsx
  packages/localizations/src/en-US.ts
  packages/types/src/elementIds.ts
  packages/types/src/localization.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Remove seed data
  packages/clerk-js/src/core/resources/User.ts
  packages/clerk-js/src/core/resources/UserSettings.ts
Due: npx eslint --fix, npx prettier --write

feat(elements): First sendParent
  packages/elements/src/internals/machines/sign-in/machines/router.machine.ts
  packages/elements/src/internals/machines/sign-in/machines/start.machine.ts
  packages/elements/src/internals/machines/sign-in/machines/verification.machine.ts
  packages/elements/src/react/sign-in/loading.tsx
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Add missing localizations
  packages/clerk-js/src/ui/components/UserProfile/PasskeySection.tsx
  packages/localizations/src/en-US.ts
  packages/types/src/localization.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Remove ticket params after they are consumed (#2949)
  .changeset/witty-pens-arrive.md
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/components/SignIn/__tests__/SignInStart.test.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpStart.tsx
  packages/clerk-js/src/ui/components/SignUp/__tests__/SignUpStart.test.tsx
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Pass the whole error object into card.setError (#2957)
  .changeset/popular-monkeys-clap.md
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpStart.tsx
Due: npx eslint --fix, npx prettier --write

chore(repo): Add Changeset
  .changeset/eighty-planets-provide.md
Due: npx prettier --write

chore(clerk-expo): Update dependencies
  package-lock.json
  packages/expo/package.json
Due: npx prettier --write

chore(repo): Update .changeset/eighty-planets-provide.md
  .changeset/eighty-planets-provide.md
Due: npx prettier --write

chore(clerk-expo): Update dependencies (#2938)
  .changeset/eighty-planets-provide.md
  package-lock.json
  packages/expo/package.json
Due: npx prettier --write

fix(remix): Revert ClerkApp to the previous state
  packages/remix/src/client/ClerkApp.tsx
Due: npx eslint --fix, npx prettier --write

feat(clerk-js): Support delete passkey
  packages/clerk-js/src/core/resources/Passkey.ts
  packages/clerk-js/src/ui/components/UserProfile/PasskeySection.tsx
  packages/clerk-js/src/ui/components/UserProfile/RemoveResourceForm.tsx
  packages/localizations/src/en-US.ts
  packages/types/src/localization.ts
Due: npx eslint --fix, npx prettier --write

test(clerk-js): Update tests
  packages/clerk-js/src/ui/utils/test/fixtures.ts
Due: npx eslint --fix, npx prettier --write

test(clerk-js): Update tests
  packages/clerk-js/src/ui/components/UserProfile/__tests__/SecurityPage.test.tsx
  packages/clerk-js/src/ui/utils/test/fixtureHelpers.ts
Due: npx eslint --fix, npx prettier --write

feat(localizations): add translation under user profile delete page
  packages/localizations/src/ru-RU.ts
Due: npx eslint --fix, npx prettier --write

feat(localizations): add translation under user profile start danger section
  packages/localizations/src/ru-RU.ts
Due: npx eslint --fix, npx prettier --write

fix(localizations): Update Norwegian translations
  .changeset/forty-zebras-fold.md
  packages/localizations/src/nb-NO.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Further clarify BUG_REPORT template
  .github/ISSUE_TEMPLATE/BUG_REPORT.yml
Due: none

chore(repo): Further clarify BUG_REPORT template (#2964)
  .github/ISSUE_TEMPLATE/BUG_REPORT.yml
Due: none

fix(clerk-js): Avoid calling `router.matches()` for external routes
  packages/clerk-js/src/ui/elements/Navbar.tsx
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Add changeset
  .changeset/mean-ties-talk.md
Due: npx prettier --write

fix(clerk-js): Avoid calling `router.matches()` for external routes (#2966)
  .changeset/mean-ties-talk.md
  packages/clerk-js/src/ui/elements/Navbar.tsx
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Addressing comments
  packages/clerk-js/src/ui/components/UserProfile/PasskeySection.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/SecurityPage.test.tsx
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Add experimental prefixes in localizations
  packages/clerk-js/src/ui/components/UserProfile/PasskeySection.tsx
  packages/clerk-js/src/ui/components/UserProfile/RemoveResourceForm.tsx
  packages/localizations/src/en-US.ts
  packages/types/src/localization.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Version packages (#2967)
  .changeset/mean-ties-talk.md
  .changeset/ten-peas-smile.md
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
Due: npx prettier --write

Path conditions:
  npx eslint --fix: any of: *.{mjs,js,jsx,ts,tsx}
  npx prettier --write: (any of: *.{mjs,js,jsx,ts,tsx}) or (any of: *.{json,md,mdx})
