Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{mjs,js,jsx,ts,tsx}": ["npx eslint --fix", "npx prettier --write"],
  "*.{json,md,mdx}": ["npx prettier --write"]
}

remove old scale
  packages/ui/src/tailwind.config.ts
Due: npx eslint --fix, npx prettier --write

feat(tanstack-start): Introduce @clerk/tanstack-start (#3538)
  .changeset/sharp-ties-grab.md
  .github/workflows/ci.yml
  package-lock.json
  packages/tanstack-start/.eslintrc.cjs
  packages/tanstack-start/.gitignore
  packages/tanstack-start/LICENSE
  packages/tanstack-start/README.md
  packages/tanstack-start/package.json
  packages/tanstack-start/server/package.json
  packages/tanstack-start/src/client/ClerkProvider.tsx
  packages/tanstack-start/src/client/OptionsContext.tsx
  packages/tanstack-start/src/client/index.ts
  packages/tanstack-start/src/client/types.ts
  packages/tanstack-start/src/client/uiComponents.tsx
  packages/tanstack-start/src/client/useAwaitableNavigate.ts
  packages/tanstack-start/src/globals.d.ts
  packages/tanstack-start/src/index.ts
  packages/tanstack-start/src/server/authenticateRequest.ts
  packages/tanstack-start/src/server/index.ts
  packages/tanstack-start/src/server/loadOptions.ts
  packages/tanstack-start/src/server/middlewareHandler.ts
  packages/tanstack-start/src/server/types.ts
  packages/tanstack-start/src/server/utils/index.ts
  packages/tanstack-start/src/utils/index.ts
  packages/tanstack-start/tsconfig.declarations.json
  packages/tanstack-start/tsconfig.json
  packages/tanstack-start/tsup.config.ts
Due: npx eslint --fix, npx prettier --write

fix(nextjs): Invalidate via server action for nextjs 14 and above
  packages/nextjs/src/app-router/client/ClerkProvider.tsx
Due: npx eslint --fix, npx prettier --write

feat(ui): Implement connection layout rendering (#3540)
  .changeset/dull-students-matter.md
  packages/ui/src/components/sign-in/sign-in.tsx
  packages/ui/src/components/sign-up/sign-up.tsx
  packages/ui/src/constants.ts
  packages/ui/src/primitives/connection.tsx
  packages/ui/src/primitives/icon.tsx
Due: npx eslint --fix, npx prettier --write

chore(repo): Update Integration Tests job to use TIMEOUT_MINUTES_LONG instead of TIMEOUT_MINUTES_NORMAL
  .github/workflows/ci.yml
Due: none

document usage
  packages/ui/src/primitives/connection.tsx
Due: npx eslint --fix, npx prettier --write

hide text
  packages/ui/src/components/sign-up/sign-up.tsx
Due: npx eslint --fix, npx prettier --write

fix(nextjs): Replace router.refresh() with cookies().delete() (#3518)
  .changeset/smooth-carrots-hear.md
  packages/nextjs/src/app-router/client/ClerkProvider.tsx
  packages/nextjs/src/app-router/server-actions/invalidateCache.ts
Due: npx eslint --fix, npx prettier --write

wrap fields
  packages/ui/src/components/sign-up/sign-up.tsx
Due: npx eslint --fix, npx prettier --write

add aschild to fielderror usage
  packages/ui/src/common/EmailField.tsx
  packages/ui/src/common/FirstNameField.tsx
  packages/ui/src/common/LastNameField.tsx
  packages/ui/src/common/OTPField.tsx
  packages/ui/src/common/PasswordField.tsx
  packages/ui/src/common/UsernameField.tsx
Due: npx eslint --fix, npx prettier --write

verifications
  packages/ui/src/components/sign-up/sign-up.tsx
Due: npx eslint --fix, npx prettier --write

fix loading states
  packages/ui/src/components/sign-up/sign-up.tsx
Due: npx eslint --fix, npx prettier --write

use latest version
  package-lock.json
  packages/ui/package.json
Due: npx prettier --write

continue step
  packages/ui/src/components/sign-up/sign-up.tsx
Due: npx eslint --fix, npx prettier --write

refactor(ui): Convert useState to pages for rendering components
  packages/ui/src/components/sign-in/sign-in.tsx
  packages/ui/src/components/sign-up/sign-up.tsx
  packages/ui/theme-builder/app/layout.tsx
  packages/ui/theme-builder/app/page.tsx
  packages/ui/theme-builder/app/sign-in/[[...sign-in]]/page.tsx
  packages/ui/theme-builder/app/sign-up/[[...sign-up]]/page.tsx
  packages/ui/theme-builder/app/theme-builder.tsx
Due: npx eslint --fix, npx prettier --write

add empty changeset
  .changeset/loud-experts-rush.md
Due: npx prettier --write

add select option
  packages/ui/theme-builder/app/theme-builder.tsx
Due: npx eslint --fix, npx prettier --write

refactor(ui): Render components at dedicated pages (#3551)
  .changeset/loud-experts-rush.md
  packages/ui/src/components/sign-in/sign-in.tsx
  packages/ui/src/components/sign-up/sign-up.tsx
  packages/ui/theme-builder/app/layout.tsx
  packages/ui/theme-builder/app/page.tsx
  packages/ui/theme-builder/app/sign-in/[[...sign-in]]/page.tsx
  packages/ui/theme-builder/app/sign-up/[[...sign-up]]/page.tsx
  packages/ui/theme-builder/app/theme-builder.tsx
Due: npx eslint --fix, npx prettier --write

fix username field name
  packages/ui/src/common/UsernameField.tsx
  packages/ui/src/components/sign-up/sign-up.tsx
Due: npx eslint --fix, npx prettier --write

make type button
  packages/ui/src/primitives/connection.tsx
Due: npx eslint --fix, npx prettier --write

remove spacing
  packages/ui/src/common/UsernameField.tsx
Due: npx eslint --fix, npx prettier --write

remove data-clerk
  packages/ui/src/components/sign-up/sign-up.tsx
Due: npx eslint --fix, npx prettier --write

button loading states
  packages/ui/src/components/sign-up/sign-up.tsx
Due: npx eslint --fix, npx prettier --write

update package-lock
  package-lock.json
Due: npx prettier --write

adds changeset
  .changeset/soft-vans-change.md
Due: npx prettier --write

chore(repo): Align nextjs versions
  package-lock.json
  packages/elements/package.json
  packages/nextjs/package.json
Due: npx prettier --write

fix(nextjs,backend): Support handshake in iframes
  .changeset/poor-knives-laugh.md
  packages/backend/src/tokens/request.ts
  packages/nextjs/src/server/protect.ts
Due: npx eslint --fix, npx prettier --write

align to kebab-case
  packages/ui/src/common/email-field.tsx
  packages/ui/src/common/first-name-field.tsx
  packages/ui/src/common/last-name-field.tsx
  packages/ui/src/common/otp-field.tsx
  packages/ui/src/common/password-field.tsx
  packages/ui/src/common/phone-number-field/data.ts
  packages/ui/src/common/phone-number-field/index.tsx
  packages/ui/src/common/phone-number-field/useFormattedPhoneNumber.ts
  packages/ui/src/common/phone-number-field/utils.ts
Due: npx eslint --fix, npx prettier --write

update imports
  packages/ui/src/components/sign-in/sign-in.tsx
  packages/ui/src/components/sign-up/sign-up.tsx
Due: npx eslint --fix, npx prettier --write

empty changeset
  .changeset/bright-icons-brake.md
Due: npx prettier --write

wip
  packages/ui/src/common/EmailField.tsx
  packages/ui/src/common/EmailOrPhoneNumberField.tsx
  packages/ui/src/common/PhoneNumberField/index.tsx
  packages/ui/src/components/sign-up/sign-up.tsx
Due: npx eslint --fix, npx prettier --write

kebabify
  packages/ui/src/common/email-or-phone-number-field.tsx
  packages/ui/src/components/sign-up/sign-up.tsx
Due: npx eslint --fix, npx prettier --write

add alex's field-enabled
  packages/ui/src/components/field-enabled.tsx
Due: npx eslint --fix, npx prettier --write

Revert "app router only"
  packages/elements/src/react/utils/path-inference/__tests__/utils.test.ts
  packages/elements/src/react/utils/path-inference/next.tsx
  packages/elements/src/react/utils/path-inference/utils.ts
Due: npx eslint --fix, npx prettier --write

add various flows and negate
  package-lock.json
  packages/ui/src/common/PhoneNumberField/index.tsx
  packages/ui/src/common/email-or-username-field.tsx
  packages/ui/src/common/email-or-username-or-phone-number-field.tsx
  packages/ui/src/common/phone-number-or-username-field.tsx
  packages/ui/src/common/username-field.tsx
  packages/ui/src/components/field-enabled.tsx
  packages/ui/src/components/sign-in/sign-in.tsx
  packages/ui/src/components/sign-up/sign-up.tsx
  packages/ui/src/primitives/field.tsx
Due: npx eslint --fix, npx prettier --write

empty changeset
  .changeset/brown-teachers-cheer.md
Due: npx prettier --write

Apply suggestions from code review
  packages/ui/src/components/sign-up/sign-up.tsx
Due: npx eslint --fix, npx prettier --write

get it working
  packages/elements/src/react/utils/path-inference/next.tsx
  packages/elements/tsup.config.ts
Due: npx eslint --fix, npx prettier --write
