Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

chore(clerk-react): Send telemetry events for hooks
  .changeset/angry-rings-invent.md
  packages/react/src/hooks/useAuth.ts
  packages/react/src/hooks/useSignIn.ts
  packages/react/src/hooks/useSignUp.ts
Due: npx eslint --fix, npx prettier --write

feat(backend): Add support for the Testing Token API
  .changeset/mean-planets-share.md
  packages/backend/src/api/endpoints/TestingTokenApi.ts
  packages/backend/src/api/endpoints/index.ts
  packages/backend/src/api/factory.ts
  packages/backend/src/api/resources/JSON.ts
  packages/backend/src/api/resources/TestingToken.ts
  packages/backend/src/api/resources/index.ts
  packages/backend/src/index.ts
Due: npx eslint --fix, npx prettier --write

fix(backend): Fix infinite redirect loops on handshake for invalid secret key
  .changeset/perfect-pumpkins-beg.md
  packages/backend/src/tokens/request.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Default to text type for inputs, fix tailwind forms inconsistencies
  .changeset/poor-onions-retire.md
  packages/clerk-js/src/ui/primitives/Input.tsx
Due: npx eslint --fix, npx prettier --write

fix(backend): Fix infinite redirect loops on handshake for invalid secret key (#3259)
  .changeset/perfect-pumpkins-beg.md
  packages/backend/src/tokens/request.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Default to text type for inputs, fix tailwind forms inconsistencies (#3260)
  .changeset/poor-onions-retire.md
  packages/clerk-js/src/ui/primitives/Input.tsx
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Set card error on prepare code verification (#3255)
  .changeset/grumpy-rings-sleep.md
  .vscode/settings.json
  packages/clerk-js/src/ui/components/SignUp/SignUpEmailCodeCard.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpPhoneCodeCard.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpVerificationCodeForm.tsx
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Set card error on prepare code verification (#3256)
  .changeset/stale-panthers-compare.md
  packages/clerk-js/src/ui/components/SignUp/SignUpEmailCodeCard.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpPhoneCodeCard.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpVerificationCodeForm.tsx
Due: npx eslint --fix, npx prettier --write

feat(elements): Initial usage and hook
  packages/elements/src/react/sign-in/step/step.tsx
  packages/elements/src/react/utils/telemetry.ts
Due: npx eslint --fix, npx prettier --write

feat(backend): Add support for the Testing Token API (#3258)
  .changeset/mean-planets-share.md
  packages/backend/src/api/endpoints/TestingTokenApi.ts
  packages/backend/src/api/endpoints/index.ts
  packages/backend/src/api/factory.ts
  packages/backend/src/api/resources/JSON.ts
  packages/backend/src/api/resources/TestingToken.ts
  packages/backend/src/api/resources/index.ts
  packages/backend/src/index.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Prevent account deletion when confirmation value is incorrect
  .changeset/sharp-lies-dream.md
  packages/clerk-js/src/ui/components/UserProfile/DeleteUserForm.tsx
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Prevent account deletion when confirmation value is incorrect (#3265)
  .changeset/sharp-lies-dream.md
  packages/clerk-js/src/ui/components/UserProfile/DeleteUserForm.tsx
Due: npx eslint --fix, npx prettier --write

chore(backend): Update types of `orderBy` in OrganizationApi and UserApi
  .changeset/gentle-trainers-marry.md
  packages/backend/src/api/endpoints/OrganizationApi.ts
  packages/backend/src/api/endpoints/UserApi.ts
  packages/backend/src/api/endpoints/util-types.ts
Due: npx eslint --fix, npx prettier --write

chore(backend): Update types of `orderBy` in OrganizationApi and UserApi (#3266)
  .changeset/gentle-trainers-marry.md
  packages/backend/src/api/endpoints/OrganizationApi.ts
  packages/backend/src/api/endpoints/UserApi.ts
  packages/backend/src/api/endpoints/util-types.ts
Due: npx eslint --fix, npx prettier --write

fix(elements): OTP input render prop types
  packages/elements/src/react/common/form/index.tsx
Due: npx eslint --fix, npx prettier --write

chore(elements): Add changeset
  .changeset/violet-seals-rest.md
  packages/elements/package.json
Due: npx prettier --write

feat(shared): Introduce client-side caching for telemetry events
  .changeset/rotten-days-whisper.md
  packages/shared/src/telemetry/clientCache.ts
  packages/shared/src/telemetry/collector.ts
  packages/shared/src/telemetry/events/component-mounted.ts
  packages/shared/src/telemetry/events/method-called.ts
  packages/shared/src/telemetry/types.ts
Due: npx eslint --fix, npx prettier --write

fix(shared): Fallback to sampling rate when storage is not supported
  packages/shared/src/telemetry/clientCache.ts
  packages/shared/src/telemetry/collector.ts
  packages/shared/src/telemetry/events/component-mounted.ts
  packages/shared/src/telemetry/events/method-called.ts
  packages/shared/src/telemetry/types.ts
Due: npx eslint --fix, npx prettier --write

Update README to include Contribution Guide
  README.md
Due: npx prettier --write

perf(shared): Clear storage key on quota exceeded error
  packages/shared/src/telemetry/clientCache.ts
  packages/shared/src/telemetry/events/component-mounted.ts
  packages/shared/src/telemetry/events/method-called.ts
  packages/shared/src/telemetry/types.ts
Due: npx eslint --fix, npx prettier --write

fix(elements): OTP input render prop types (#3268)
  .changeset/violet-seals-rest.md
  packages/elements/package.json
  packages/elements/src/react/common/form/index.tsx
Due: npx eslint --fix, npx prettier --write

chore(repo): Bump upgrade to 1.0.5
  package-lock.json
  packages/upgrade/package.json
Due: npx prettier --write

fix(testing): Use .mjs for esm exports
  .changeset/gorgeous-ladybugs-sit.md
  packages/testing/package.json
  packages/testing/playwright/package.json
  packages/testing/tsup.config.ts
Due: npx eslint --fix, npx prettier --write

chore(localizations,themes): Drop react as peer dependency
  .changeset/mean-snakes-appear.md
  packages/localizations/package.json
  packages/themes/package.json
Due: npx prettier --write

chore(localizations,themes): Update changeset
  .changeset/mean-snakes-appear.md
Due: npx prettier --write

chore(localizations,themes): Drop react as peer dependency (#3273)
  .changeset/mean-snakes-appear.md
  packages/localizations/package.json
  packages/themes/package.json
Due: npx prettier --write

fix(testing): Use .mjs for esm exports (#3270)
  .changeset/gorgeous-ladybugs-sit.md
  packages/testing/package.json
  packages/testing/playwright/package.json
  packages/testing/tsup.config.ts
Due: npx eslint --fix, npx prettier --write

test(shared): Add unit tests for client cache
  packages/shared/src/__tests__/telemetry.test.ts
  packages/shared/src/telemetry/clientCache.ts
  packages/shared/src/telemetry/collector.ts
  packages/shared/src/telemetry/events/method-called.ts
Due: npx eslint --fix, npx prettier --write

Version Packages (#3263)
  .changeset/gentle-trainers-marry.md
  .changeset/gorgeous-ladybugs-sit.md
  .changeset/mean-planets-share.md
  .changeset/mean-snakes-appear.md
  .changeset/perfect-pumpkins-beg.md
  .changeset/poor-onions-retire.md
  .changeset/sharp-lies-dream.md
  .changeset/stale-panthers-compare.md
  .changeset/violet-seals-rest.md
  package-lock.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
Due: npx prettier --write

perf(shared): Move TelemetryClientCache instance to TelemetryCollector
  packages/shared/src/__tests__/telemetry.test.ts
  packages/shared/src/telemetry/clientCache.ts
  packages/shared/src/telemetry/collector.ts
  packages/shared/src/telemetry/events/component-mounted.ts
  packages/shared/src/telemetry/events/method-called.ts
  packages/shared/src/telemetry/types.ts
Due: npx eslint --fix, npx prettier --write

fix(backend): Request paginated responses from BAPI
  .changeset/clever-buckets-exist.md
  packages/backend/src/api/endpoints/AllowlistIdentifierApi.ts
  packages/backend/src/api/endpoints/ClientApi.ts
  packages/backend/src/api/endpoints/InvitationApi.ts
  packages/backend/src/api/endpoints/RedirectUrlApi.ts
  packages/backend/src/api/endpoints/SessionApi.ts
  packages/backend/src/api/endpoints/UserApi.ts
Due: npx eslint --fix, npx prettier --write

fix(repo): Replace deprecated `clerk_frontend_api` with `clerk_publishable_key`
  playground/vanillajs/index.html
Due: none

feat(elements): Add additional componentMounted
  packages/elements/src/react/common/form/index.tsx
  packages/elements/src/react/common/loading.tsx
  packages/elements/src/react/sign-in/root.tsx
  packages/elements/src/react/sign-up/root.tsx
  packages/elements/src/react/sign-up/step.tsx
Due: npx eslint --fix, npx prettier --write

chore(repo): Add empty changeset
  .changeset/strange-moles-chew.md
Due: npx prettier --write

fix(clerk-js): Use default value for `signIn.userData`
  .changeset/gorgeous-pans-pump.md
  packages/clerk-js/src/core/resources/SignIn.ts
  packages/clerk-js/src/core/resources/UserData.ts
Due: npx eslint --fix, npx prettier --write

fix(shared): Add eventComponentMountedRaw
  .changeset/spotty-eels-think.md
  packages/shared/src/telemetry/events/component-mounted.ts
Due: npx eslint --fix, npx prettier --write

fix(elements): Use new raw helper
  packages/elements/src/react/common/form/index.tsx
  packages/elements/src/react/common/loading.tsx
  packages/elements/src/react/sign-in/root.tsx
  packages/elements/src/react/sign-in/step/step.tsx
  packages/elements/src/react/sign-up/root.tsx
  packages/elements/src/react/sign-up/step.tsx
Due: npx eslint --fix, npx prettier --write

fix(elements): Proper ignore
  packages/elements/src/react/common/form/index.tsx
Due: npx eslint --fix, npx prettier --write

Delete .changeset/strange-moles-chew.md
  .changeset/strange-moles-chew.md
Due: npx prettier --write

chore(shared): Add JSDoc
  packages/shared/src/telemetry/events/component-mounted.ts
Due: npx eslint --fix, npx prettier --write

Path conditions:
  npx eslint --fix: any of: *.{mjs,js,jsx,ts,tsx}
  npx prettier --write: (any of: *.{mjs,js,jsx,ts,tsx}) or (any of: *.{json,md,mdx})
