Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{mjs,js,jsx,ts,tsx}": ["npx eslint --fix", "npx prettier --write"],
  "*.{json,md,mdx}": ["npx prettier --write"]
}

remove initialValue gate
  packages/elements/src/react/common/form/index.tsx
Due: npx eslint --fix, npx prettier --write

use hidden input
  packages/ui/src/common/phone-number-field/index.tsx
Due: npx eslint --fix, npx prettier --write

added changes from pr
  packages/localizations/src/de-DE.ts
Due: npx eslint --fix, npx prettier --write

Fix waitForAppUrl race condition and use 50% workers
  .github/workflows/ci.yml
  integration/playwright.config.ts
  integration/testUtils/appPageObject.ts
  integration/tests/next-account-portal/common.ts
  integration/tests/sign-in-flow.test.ts
Due: npx eslint --fix, npx prettier --write

chore(e2e): Test control components for Astro and Astro + React (#3693)
  .changeset/many-boxes-beg.md
  .changeset/ten-planes-run.md
  integration/presets/envs.ts
  integration/presets/longRunningApps.ts
  integration/templates/astro-node/src/components/page-with-user.tsx
  integration/templates/astro-node/src/layouts/Protected.astro
  integration/templates/astro-node/src/layouts/Streaming.astro
  integration/templates/astro-node/src/layouts/react/Layout.astro
  integration/templates/astro-node/src/pages/react/index.astro
  integration/templates/astro-node/src/pages/react/only-admins.astro
  integration/templates/astro-node/src/pages/react/only-members.astro
  integration/templates/astro-node/src/pages/react/sign-in.astro
  integration/templates/astro-node/src/pages/react/user.astro
  integration/templates/astro-node/src/pages/user.astro
  integration/tests/astro/components.test.ts
  integration/tests/astro/protect.test.ts
  integration/tests/astro/react/components.test.ts
  integration/tests/astro/react/protect.test.ts
  package-lock.json
  packages/astro/package.json
  packages/astro/src/client/react/utils.tsx
Due: npx eslint --fix, npx prettier --write

Fix goToAppHome
  integration/tests/astro/components.test.ts
Due: npx eslint --fix, npx prettier --write

Create wet-games-deliver.md
  .changeset/wet-games-deliver.md
Due: npx prettier --write

remove unused code
  packages/ui/src/common/phone-number-field/index.tsx
Due: npx eslint --fix, npx prettier --write

Fix goToRelative
  integration/testUtils/appPageObject.ts
Due: npx eslint --fix, npx prettier --write

chore(astro): Move safe id generation to a shared function (#3698)
  .changeset/lovely-parents-swim.md
  packages/astro/src/astro-components/interactive/InternalUIComponentRenderer.astro
  packages/astro/src/astro-components/unstyled/SignInButton.astro
  packages/astro/src/astro-components/unstyled/SignOutButton.astro
  packages/astro/src/astro-components/unstyled/SignUpButton.astro
  packages/astro/src/internal/index.ts
  packages/astro/src/internal/utils/generateSafeId.ts
Due: npx eslint --fix, npx prettier --write

chore(astro): Simplify submodules and drop `bundled` variant
  integration/templates/astro-node/src/components/SignOutReact.tsx
  integration/templates/astro-node/src/components/page-with-user.tsx
  integration/templates/astro-node/src/layouts/react/Layout.astro
  integration/templates/astro-node/src/pages/react/index.astro
  integration/templates/astro-node/src/pages/react/only-admins.astro
  integration/templates/astro-node/src/pages/react/only-members.astro
  integration/templates/astro-node/src/pages/react/sign-in.astro
  packages/astro/client/react/package.json
  packages/astro/package.json
  packages/astro/react/package.json
  packages/astro/src/bundled.ts
  packages/astro/src/client/index.ts
  packages/astro/src/globals.d.ts
  packages/astro/src/index.ts
  packages/astro/src/integration/bundled.ts
  packages/astro/src/integration/create-integration.ts
  packages/astro/src/integration/index.ts
  packages/astro/src/internal/bundled.ts
  packages/astro/src/internal/create-clerk-instance.ts
  packages/astro/src/internal/create-injection-script-runner.ts
  packages/astro/src/internal/index.ts
  packages/astro/src/internal/mount-clerk-astro-js-components.ts
  packages/astro/src/internal/run-once.ts
  packages/astro/src/internal/types.ts
  packages/astro/src/react/SignInButton.tsx
  packages/astro/src/react/SignOutButton.tsx
  packages/astro/src/react/SignUpButton.tsx
  packages/astro/src/react/controlComponents.tsx
  packages/astro/src/react/hooks.ts
  packages/astro/src/react/index.ts
  packages/astro/src/react/types.ts
  packages/astro/src/react/uiComponents.tsx
  packages/astro/src/react/utils.tsx
  packages/astro/src/server/clerk-middleware.ts
  packages/astro/tsup.config.ts
Due: npx eslint --fix, npx prettier --write

chore(astro): Add changeset
  .changeset/four-days-hammer.md
  packages/astro/package.json
Due: npx prettier --write

fix(astro): build was failing
  packages/astro/src/index.ts
  packages/astro/src/react/SignOutButton.tsx
  playground/nextjs/package.json
Due: npx eslint --fix, npx prettier --write

fix iso initial sync
  packages/ui/src/common/phone-number-field/index.tsx
Due: npx eslint --fix, npx prettier --write

rename to provided value
  packages/elements/src/react/common/form/index.tsx
Due: npx eslint --fix, npx prettier --write

ensure updated provided values are sent to the machine
  packages/elements/src/react/common/form/index.tsx
Due: npx eslint --fix, npx prettier --write

add changeset
  .changeset/metal-chairs-shave.md
Due: npx prettier --write

ensure the correct country is shown based on location
  packages/ui/src/common/phone-number-field/index.tsx
Due: npx eslint --fix, npx prettier --write

fix(testing): Remove the experimental warning from the Cypress integration
  .changeset/spicy-queens-draw.md
  packages/testing/README.md
  packages/testing/src/cypress/setup.ts
Due: npx eslint --fix, npx prettier --write

Update packages/testing/README.md
  packages/testing/README.md
Due: npx prettier --write

chore(astro): Merge `/client/store` into `/client`
  .changeset/four-days-hammer.md
  integration/templates/astro-node/src/components/page-with-user.tsx
  integration/templates/astro-node/src/lib/astro-components/SignOutButton.astro
  packages/astro/client/stores/package.json
  packages/astro/package.json
  packages/astro/src/client/index.ts
  packages/astro/src/client/stores/index.ts
  packages/astro/tsup.config.ts
Due: npx eslint --fix, npx prettier --write

chore(astro): Simplify submodules and drop `bundled` variant (#3701)
  .changeset/four-days-hammer.md
  integration/templates/astro-node/src/components/SignOutReact.tsx
  integration/templates/astro-node/src/components/page-with-user.tsx
  integration/templates/astro-node/src/layouts/react/Layout.astro
  integration/templates/astro-node/src/lib/astro-components/SignOutButton.astro
  integration/templates/astro-node/src/pages/react/index.astro
  integration/templates/astro-node/src/pages/react/only-admins.astro
  integration/templates/astro-node/src/pages/react/only-members.astro
  integration/templates/astro-node/src/pages/react/sign-in.astro
  packages/astro/client/react/package.json
  packages/astro/client/stores/package.json
  packages/astro/package.json
  packages/astro/react/package.json
  packages/astro/src/bundled.ts
  packages/astro/src/client/index.ts
  packages/astro/src/client/stores/index.ts
  packages/astro/src/globals.d.ts
  packages/astro/src/index.ts
  packages/astro/src/integration/bundled.ts
  packages/astro/src/integration/create-integration.ts
  packages/astro/src/integration/index.ts
  packages/astro/src/internal/bundled.ts
  packages/astro/src/internal/create-clerk-instance.ts
  packages/astro/src/internal/create-injection-script-runner.ts
  packages/astro/src/internal/index.ts
  packages/astro/src/internal/mount-clerk-astro-js-components.ts
  packages/astro/src/internal/run-once.ts
  packages/astro/src/internal/types.ts
  packages/astro/src/react/SignInButton.tsx
  packages/astro/src/react/SignOutButton.tsx
  packages/astro/src/react/SignUpButton.tsx
  packages/astro/src/react/controlComponents.tsx
  packages/astro/src/react/hooks.ts
  packages/astro/src/react/index.ts
  packages/astro/src/react/types.ts
  packages/astro/src/react/uiComponents.tsx
  packages/astro/src/react/utils.tsx
  packages/astro/src/server/clerk-middleware.ts
  packages/astro/tsup.config.ts
  playground/nextjs/package.json
Due: npx eslint --fix, npx prettier --write

chore(e2e,astro): Add a test case for `updateClerkOptions`
  .changeset/soft-waves-reflect.md
  integration/tests/astro/components.test.ts
Due: npx eslint --fix, npx prettier --write

test(astro): Test unstyled Astro components
  integration/templates/astro-node/src/pages/buttons.astro
  integration/templates/astro-node/src/pages/index.astro
  integration/templates/astro-node/src/pages/react/index.astro
  integration/tests/astro/components.test.ts
Due: npx eslint --fix, npx prettier --write

chore(astro): Add changeset
  .changeset/five-cycles-serve.md
Due: npx prettier --write

test(astro): Remove unused custom component
  integration/templates/astro-node/src/lib/astro-components/SignOutButton.astro
Due: none

chore(e2e): Test control components for Astro and Astro + React
  integration/templates/astro-node/src/pages/react/discover.astro
  integration/tests/astro/react/protect.test.ts
Due: npx eslint --fix, npx prettier --write

fix(e2e,astro): Drop `@nanostores/react` and add test for react components
  integration/templates/astro-node/src/pages/react/discover.astro
Due: none

test(astro): Test unstyled Astro components
  integration/templates/astro-node/src/pages/buttons.astro
Due: none

chore(astro): Remove added next line
  integration/tests/astro/react/protect.test.ts
Due: npx eslint --fix, npx prettier --write

chore(astro): Simplify submodules and drop `bundled` variant (#3701)
  integration/templates/astro-node/src/pages/buttons.astro
Due: none

chore(astro): Simplify submodules and drop `bundled` variant
  packages/astro/package.json
Due: npx prettier --write

chore(astro): Add changeset
  packages/astro/package.json
Due: npx prettier --write

chore(astro): Move all *.astro components under `/components`
  integration/templates/astro-node/src/layouts/Layout.astro
  integration/templates/astro-node/src/pages/discover.astro
  integration/templates/astro-node/src/pages/index.astro
  integration/templates/astro-node/src/pages/only-admins-react.astro
  integration/templates/astro-node/src/pages/only-admins.astro
  integration/templates/astro-node/src/pages/only-members-react.astro
  integration/templates/astro-node/src/pages/only-members.astro
  integration/templates/astro-node/src/pages/organization.astro
  integration/templates/astro-node/src/pages/sign-in.astro
  integration/templates/astro-node/src/pages/user.astro
  packages/astro/.eslintrc.cjs
  packages/astro/package.json
  packages/astro/src/astro-components/control/index.ts
  packages/astro/src/astro-components/index.ts
  packages/astro/src/astro-components/interactive/index.ts
  packages/astro/src/astro-components/unstyled/index.ts
  packages/astro/tsconfig.json
Due: npx eslint --fix, npx prettier --write

chore(astro): Add changeset
  .changeset/fluffy-squids-fly.md
Due: npx prettier --write

chore(e2e,astro): Add a test case for `updateClerkOptions` (#3706)
  .changeset/soft-waves-reflect.md
  integration/tests/astro/components.test.ts
Due: npx eslint --fix, npx prettier --write

chore(astro): Fix linting
  packages/astro/.eslintrc.cjs
Due: none

chore(astro): Move all *.astro components under /components (#3705)
  .changeset/fluffy-squids-fly.md
  integration/templates/astro-node/src/layouts/Layout.astro
  integration/templates/astro-node/src/pages/discover.astro
  integration/templates/astro-node/src/pages/index.astro
  integration/templates/astro-node/src/pages/only-admins-react.astro
  integration/templates/astro-node/src/pages/only-admins.astro
  integration/templates/astro-node/src/pages/only-members-react.astro
  integration/templates/astro-node/src/pages/only-members.astro
  integration/templates/astro-node/src/pages/organization.astro
  integration/templates/astro-node/src/pages/sign-in.astro
  integration/templates/astro-node/src/pages/user.astro
  packages/astro/.eslintrc.cjs
  packages/astro/package.json
  packages/astro/src/astro-components/control/index.ts
  packages/astro/src/astro-components/index.ts
  packages/astro/src/astro-components/interactive/index.ts
  packages/astro/src/astro-components/unstyled/index.ts
  packages/astro/tsconfig.json
Due: npx eslint --fix, npx prettier --write
