Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{mjs,js,jsx,ts,tsx}": ["npx eslint --fix", "npx prettier --write"],
  "*.{json,md,mdx}": ["npx prettier --write"]
}

chore(repo): Add checkout ref
  .github/workflows/alpha.elements.yml
Due: none

chore(repo): Debug
  .github/workflows/alpha.elements.yml
Due: none

chore(repo): Test
  .github/workflows/alpha.elements.yml
Due: none

chore(repo): More tests
  .github/workflows/alpha.elements.yml
Due: none

chore(repo): Try again
  .github/workflows/alpha.elements.yml
Due: none

chore(repo): Fix
  .github/workflows/alpha.elements.yml
Due: none

chore(repo): Remove failed attempt of testing this in PR, leave --dry-run
  .github/workflows/alpha.elements.yml
Due: none

chore(elements): Increase version to 0.1.0
  packages/elements/package.json
Due: npx prettier --write

chore(elements): Add empty changeset
  .changeset/tidy-shrimps-study.md
Due: npx prettier --write

chore(repo): Add CI to publish @clerk/elements as alpha (Dry Run) (#2686)
  .changeset/tidy-shrimps-study.md
  .github/actions/version-prepatch/action.yml
  .github/workflows/alpha.elements.yml
  packages/elements/package.json
  scripts/install-site-in-isolation.mjs
  scripts/snapshot.mjs
Due: npx eslint --fix, npx prettier --write

chore(repo): Remove dry-run from Clerk Elements Alpha workflow
  .github/workflows/alpha.elements.yml
Due: none

fix(clerk-js): Fix FAPI initiated redirect flow for OAuth2 IDP flow with email_link verification
  .changeset/twenty-lamps-rule.md
  packages/clerk-js/src/core/clerk.ts
Due: npx eslint --fix, npx prettier --write

chore(elements): Remove temp router machine
  packages/elements/src/internals/machines/router/router.machine.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Fix same site in ClerkJS cookies
  packages/clerk-js/src/utils/cookies/handler.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Fix FAPI initiated redirect flow for OAuth2 IDP flow with email_link verification (#2677)
  .changeset/twenty-lamps-rule.md
  packages/clerk-js/src/core/clerk.ts
Due: npx eslint --fix, npx prettier --write

chore(elements): Add changeset
  .changeset/wise-drinks-divide.md
Due: npx prettier --write

chore(repo): Remove dry-run from Clerk Elements Alpha workflow (#2693)
  .github/workflows/alpha.elements.yml
Due: none

chore(upgrade): Add bin command name
  packages/upgrade/package.json
Due: npx prettier --write

chore(upgrade): Version
  packages/upgrade/package.json
Due: npx prettier --write

feat(types): Add support for X/Twitter v2 OAuth provider
  .changeset/smooth-numbers-shout.md
  packages/backend/src/api/resources/Enums.ts
  packages/clerk-js/src/ui/utils/test/fixtures.ts
  packages/types/src/oauth.ts
Due: npx eslint --fix, npx prettier --write

test(clerk-js): Fix tests for MFA authenticator app
  packages/clerk-js/src/ui/components/UserProfile/__tests__/MfaPage.test.tsx
  playground/nextjs/pages/_app.tsx
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Fix font sizes in forms and sections
  .changeset/green-vans-sniff.md
  packages/clerk-js/src/ui/components/UserProfile/AddAuthenticatorApp.tsx
  packages/clerk-js/src/ui/elements/Form.tsx
  packages/clerk-js/src/ui/elements/FormContainer.tsx
  packages/clerk-js/src/ui/elements/Header.tsx
  packages/clerk-js/src/ui/styledSystem/common.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js,localizations): Fixed text variants and added new localization key
  packages/clerk-js/src/ui/components/UserProfile/AccountPage.tsx
  packages/clerk-js/src/ui/components/UserProfile/AddAuthenticatorApp.tsx
  packages/clerk-js/src/ui/elements/FormButtons.tsx
  packages/clerk-js/src/ui/elements/Header.tsx
  packages/clerk-js/src/ui/elements/SuccessPage.tsx
  packages/clerk-js/src/ui/primitives/Button.tsx
  packages/localizations/src/en-US.ts
Due: npx eslint --fix, npx prettier --write

chore(localizations): Add formButtonPrimary__save key under userProfile
  packages/types/src/localization.ts
Due: npx eslint --fix, npx prettier --write

feat(clerk-js): Added new label text variant
  packages/clerk-js/src/ui/primitives/FormLabel.tsx
  packages/clerk-js/src/ui/styledSystem/common.ts
Due: npx eslint --fix, npx prettier --write

feat(clerk-js): Added new sectionTitle text variant
  packages/clerk-js/src/ui/elements/Section.tsx
  packages/clerk-js/src/ui/styledSystem/common.ts
Due: npx eslint --fix, npx prettier --write

feat(types): Add support for X/Twitter v2 OAuth provider (#2690)
  .changeset/smooth-numbers-shout.md
  packages/backend/src/api/resources/Enums.ts
  packages/clerk-js/src/ui/utils/test/fixtures.ts
  packages/types/src/oauth.ts
Due: npx eslint --fix, npx prettier --write

refactor(elements): Split out contexts and hooks (#2695)
  .changeset/wise-drinks-divide.md
  packages/elements/examples/nextjs/components/sign-in-debug.tsx
  packages/elements/examples/nextjs/components/sign-up-debug.tsx
  packages/elements/src/internals/machines/sign-in/sign-in.context.ts
  packages/elements/src/internals/machines/sign-in/sign-in.machine.ts
  packages/elements/src/internals/machines/sign-up/sign-up.context.ts
  packages/elements/src/internals/machines/sign-up/sign-up.machine.ts
  packages/elements/src/react/hooks/use-active-states.hook.ts
  packages/elements/src/react/hooks/use-active-tags.hook.ts
  packages/elements/src/react/sign-in/contexts/sign-in.context.ts
  packages/elements/src/react/sign-in/contexts/strategies.context.ts
  packages/elements/src/react/sign-in/continue.tsx
  packages/elements/src/react/sign-in/hooks/use-strategies.hook.ts
  packages/elements/src/react/sign-in/hooks/use-strategy.hook.ts
  packages/elements/src/react/sign-in/hooks/use-third-party-provider.hook.ts
  packages/elements/src/react/sign-in/index.ts
  packages/elements/src/react/sign-in/root.tsx
  packages/elements/src/react/sign-in/social-providers.tsx
  packages/elements/src/react/sign-in/start.tsx
  packages/elements/src/react/sign-in/verifications.tsx
  packages/elements/src/react/sign-up/contexts/sign-up.context.ts
  packages/elements/src/react/sign-up/contexts/strategies.context.ts
  packages/elements/src/react/sign-up/continue.tsx
  packages/elements/src/react/sign-up/hooks/use-third-party-provider.hook.ts
  packages/elements/src/react/sign-up/index.ts
  packages/elements/src/react/sign-up/root.tsx
  packages/elements/src/react/sign-up/social-providers.tsx
  packages/elements/src/react/sign-up/start.tsx
  packages/elements/src/react/sign-up/verifications.tsx
  packages/elements/src/types/clerk.d.ts
Due: npx eslint --fix, npx prettier --write

feat(types): Add support for X/Twitter v2 OAuth provider (#2690) (#2697)
  .changeset/smooth-numbers-shout.md
  packages/backend/src/api/resources/Enums.ts
  packages/clerk-js/src/ui/utils/test/fixtures.ts
  packages/types/src/oauth.ts
Due: npx eslint --fix, npx prettier --write

test(clerk-js): Remove skipped tests from ConnectedAccountsSection
  .changeset/strong-melons-sort.md
  packages/clerk-js/src/ui/components/UserProfile/Web3Section.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/AccountPage.test.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/ConnectedAccountsSection.test.tsx
Due: npx eslint --fix, npx prettier --write

chore(elements): Bump version to 0.1.1
  packages/elements/package.json
Due: npx prettier --write

test(clerk-js): Remove skipped tests from ConnectedAccountsSection (#2699)
  .changeset/strong-melons-sort.md
  packages/clerk-js/src/ui/components/UserProfile/Web3Section.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/AccountPage.test.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/ConnectedAccountsSection.test.tsx
Due: npx eslint --fix, npx prettier --write

feat(nextjs): Replace redirectUrl of protect with `unauthorizedUrl` and `unauthenticatedUrl` (#2672)
  .changeset/pink-eggs-enjoy.md
  packages/nextjs/src/server/clerkMiddleware.test.ts
  packages/nextjs/src/server/protect.ts
Due: npx eslint --fix, npx prettier --write

test(clerk-js): Remove skipped tests from SignUp/SignIn/ResetPassword
  .changeset/stale-nails-deny.md
  packages/clerk-js/src/ui/components/SignIn/__tests__/ResetPassword.test.tsx
  packages/clerk-js/src/ui/components/SignIn/__tests__/SignInFactorTwo.test.tsx
  packages/clerk-js/src/ui/components/SignUp/__tests__/SignUpContinue.test.tsx
  packages/clerk-js/src/ui/components/SignUp/__tests__/SignUpStart.test.tsx
Due: npx eslint --fix, npx prettier --write

test(clerk-js): Remove skipped tests from SignUp/SignIn/ResetPassword (#2703)
  .changeset/stale-nails-deny.md
  packages/clerk-js/src/ui/components/SignIn/__tests__/ResetPassword.test.tsx
  packages/clerk-js/src/ui/components/SignIn/__tests__/SignInFactorTwo.test.tsx
  packages/clerk-js/src/ui/components/SignUp/__tests__/SignUpContinue.test.tsx
  packages/clerk-js/src/ui/components/SignUp/__tests__/SignUpStart.test.tsx
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Fix color usage and add secondary color variables
  .changeset/violet-roses-look.md
  packages/clerk-js/src/ui/components/CreateOrganization/CreateOrganizationForm.tsx
  packages/clerk-js/src/ui/components/OrganizationList/shared.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/MemberListTable.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationGeneralPage.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationProfileAvatarUploader.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/OrganizationSwitcherTrigger.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/OtherOrganizationActions.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/UserInvitationSuggestionList.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/UserMembershipList.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInAccountSwitcher.tsx
  packages/clerk-js/src/ui/components/UserButton/SessionActions.tsx
  packages/clerk-js/src/ui/components/UserButton/UserButtonPopover.tsx
  packages/clerk-js/src/ui/components/UserProfile/AccountPage.tsx
  packages/clerk-js/src/ui/components/UserProfile/ConnectedAccountsSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/EmailsSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/EnterpriseAccountsSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/PhoneSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/UserProfileSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/UsernameSection.tsx
  packages/clerk-js/src/ui/customizables/__tests__/parseAppearance.test.tsx
  packages/clerk-js/src/ui/customizables/parseVariables.ts
  packages/clerk-js/src/ui/elements/Actions.tsx
  packages/clerk-js/src/ui/elements/AvatarUploader.tsx
  packages/clerk-js/src/ui/elements/Card/CardClerkAndPagesTag.tsx
  packages/clerk-js/src/ui/elements/FieldControl.tsx
  packages/clerk-js/src/ui/elements/InformationBox.tsx
  packages/clerk-js/src/ui/elements/Navbar.tsx
  packages/clerk-js/src/ui/elements/Pagination.tsx
  packages/clerk-js/src/ui/elements/PreviewButton.tsx
  packages/clerk-js/src/ui/elements/UserPreview.tsx
  packages/clerk-js/src/ui/foundations/colors.ts
  packages/clerk-js/src/ui/foundations/transitions.ts
  packages/clerk-js/src/ui/primitives/Button.tsx
  packages/themes/src/themes/dark.ts
  packages/themes/src/themes/neobrutalism.ts
  packages/types/src/appearance.ts
  playground/nextjs/pages/_app.tsx
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Revert text variant changes
  packages/clerk-js/src/ui/components/UserProfile/AccountPage.tsx
  packages/clerk-js/src/ui/components/UserProfile/AddAuthenticatorApp.tsx
  packages/clerk-js/src/ui/elements/FormContainer.tsx
  packages/clerk-js/src/ui/elements/IdentityPreview.tsx
  packages/clerk-js/src/ui/elements/Section.tsx
  packages/clerk-js/src/ui/elements/SuccessPage.tsx
  packages/clerk-js/src/ui/elements/TimerButton.tsx
  packages/clerk-js/src/ui/primitives/Button.tsx
  packages/clerk-js/src/ui/primitives/FormLabel.tsx
  packages/clerk-js/src/ui/styledSystem/common.ts
Due: npx eslint --fix, npx prettier --write
