Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

fixup! chore(repo): Update TypeScript
  integration/templates/express-vite/package.json
  packages/nextjs/examples/next/package.json
Due: npx prettier --write

fix(repo): Use correct scope for renovate PR commit msg (#3510)
  renovate.json5
  scripts/renovate-config-generator.mjs
Due: npx eslint --fix, npx prettier --write

cleanup
  packages/nextjs/examples/next/.eslintrc.json
  packages/nextjs/examples/next/.gitignore
  packages/nextjs/examples/next/README.md
  packages/nextjs/examples/next/next-env.d.ts
  packages/nextjs/examples/next/next.config.js
  packages/nextjs/examples/next/package.json
  packages/nextjs/examples/next/pages/_app.tsx
  packages/nextjs/examples/next/pages/api/hello.ts
  packages/nextjs/examples/next/pages/api/require-auth.ts
  packages/nextjs/examples/next/pages/api/with-auth.ts
  packages/nextjs/examples/next/pages/index.tsx
  packages/nextjs/examples/next/public/favicon.ico
  packages/nextjs/examples/next/public/vercel.svg
  packages/nextjs/examples/next/styles/Home.module.css
  packages/nextjs/examples/next/styles/globals.css
  packages/nextjs/examples/next/tsconfig.json
  packages/ui/theme-builder/.gitignore
  packages/ui/theme-builder/package-lock.json
Due: npx eslint --fix, npx prettier --write

update
  integration/templates/next-app-router/package.json
  package-lock.json
  packages/elements/package.json
Due: npx prettier --write

update attw
  package-lock.json
  package.json
Due: npx prettier --write

Revert "chore(clerk-expo): fix type"
  packages/expo/src/singleton.ts
Due: npx eslint --fix, npx prettier --write

fix unit test
  packages/sdk-node/src/__tests__/authenticateRequest.test.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-expo): fix pk detection
  packages/expo/src/singleton.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-react): Fix forceRedirectUrl and fallbackRedirectUrl when passed to button components (#3508)
  .changeset/metal-foxes-raise.md
  .changeset/sixty-ears-rest.md
  integration/templates/next-app-router/src/app/buttons/page.tsx
  integration/tests/redirects.test.ts
  packages/clerk-js/src/ui/elements/Modal.tsx
  packages/react/src/components/SignInButton.tsx
  packages/react/src/components/SignUpButton.tsx
  packages/react/src/components/__tests__/SignInButton.test.tsx
  packages/react/src/components/__tests__/SignUpButton.test.tsx
Due: npx eslint --fix, npx prettier --write

refactor(ui): Button use logical properties for spacing (#3505)
  .changeset/yellow-deers-dress.md
  packages/ui/src/primitives/button.tsx
  packages/ui/src/primitives/icon.tsx
  packages/ui/theme-builder/app/color-picker.tsx
  packages/ui/theme-builder/app/theme-builder.tsx
  packages/ui/theme-builder/app/theme-dialog.tsx
  packages/ui/theme-builder/app/toggle-group.tsx
Due: npx eslint --fix, npx prettier --write

input intent
  package-lock.json
  packages/ui/src/components/sign-in/sign-in.tsx
  packages/ui/src/components/sign-up/sign-up.tsx
  packages/ui/src/primitives/field-elements.tsx
  packages/ui/src/primitives/icon.tsx
Due: npx eslint --fix, npx prettier --write

feat(clerk-expo): Introduce getClerkInstance to access/create a Clerk instance (#3420)
  .changeset/calm-wasps-accept.md
  packages/expo/src/ClerkProvider.tsx
  packages/expo/src/errorThrower.ts
  packages/expo/src/index.ts
  packages/expo/src/singleton.ts
Due: npx eslint --fix, npx prettier --write

feat(ui): Implements `--font-size` variable (#3507)
  .changeset/dirty-panthers-perform.md
  packages/ui/src/global.css
  packages/ui/src/primitives/button.tsx
  packages/ui/src/primitives/card.tsx
  packages/ui/src/primitives/connection.tsx
  packages/ui/src/primitives/field.tsx
  packages/ui/src/primitives/seperator.tsx
  packages/ui/src/tailwind.config.ts
  packages/ui/theme-builder/app/generate-colors.ts
  packages/ui/theme-builder/app/theme-builder.tsx
Due: npx eslint --fix, npx prettier --write

init
  package-lock.json
  packages/ui/package.json
  packages/ui/src/components/sign-in/sign-in.tsx
  packages/ui/src/components/sign-up/sign-up.tsx
  packages/ui/src/utils.ts
Due: npx eslint --fix, npx prettier --write

connect signup
  packages/ui/src/components/sign-in/sign-in.tsx
  packages/ui/src/components/sign-up/sign-up.tsx
  packages/ui/src/hooks/getEnabledSocialConnectionsFromEnvironment.ts
Due: npx eslint --fix, npx prettier --write

add empty changeset
  .changeset/chilled-baboons-decide.md
Due: npx prettier --write

LinkedIn icon
  packages/ui/src/primitives/icon.tsx
Due: npx eslint --fix, npx prettier --write

fix(nextjs): Use separate buffers for each awaitable navigation type (#3480)
  .changeset/three-eels-battle.md
  integration/tests/navigation.test.ts
  packages/nextjs/src/app-router/client/useAwaitablePush.ts
  packages/nextjs/src/app-router/client/useAwaitableReplace.ts
  packages/nextjs/src/app-router/client/useInternalNavFun.ts
Due: npx eslint --fix, npx prettier --write

temp render Common.Icon
  packages/ui/src/components/sign-in/sign-in.tsx
  packages/ui/src/components/sign-up/sign-up.tsx
Due: npx eslint --fix, npx prettier --write

add PROVIDER_ICON_MAP
  package-lock.json
  packages/ui/package.json
  packages/ui/src/components/sign-in/sign-in.tsx
  packages/ui/src/components/sign-up/sign-up.tsx
  packages/ui/src/utils.ts
Due: npx eslint --fix, npx prettier --write

update disabled
  packages/ui/src/components/sign-in/sign-in.tsx
  packages/ui/src/components/sign-up/sign-up.tsx
Due: npx eslint --fix, npx prettier --write

fix(clerk-js,types): Enable the ability to disable preparation on startEmailLinkFlow
  .changeset/moody-items-sit.md
  packages/clerk-js/src/core/resources/EmailAddress.ts
  packages/clerk-js/src/core/resources/SignIn.ts
  packages/clerk-js/src/core/resources/SignUp.ts
  packages/clerk-js/src/ui/components/SignIn/SignInFactorOne.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorOneEmailLinkCard.tsx
  packages/types/src/verification.ts
Due: npx eslint --fix, npx prettier --write

fix version mismatch
  package-lock.json
  packages/shared/package.json
Due: npx prettier --write

initial
  .github/workflows/ci.yml
Due: none

chore: add changeset
  .changeset/small-cycles-hug.md
Due: npx prettier --write

fix: handle ppr error message refactor
  packages/nextjs/src/app-router/server/utils.ts
Due: npx eslint --fix, npx prettier --write

wip
  packages/ui/src/components/sign-in/sign-in.tsx
  packages/ui/src/components/sign-up/sign-up.tsx
  packages/ui/src/primitives/field.tsx
  packages/ui/src/primitives/icon.tsx
Due: npx eslint --fix, npx prettier --write

focus and rtl styles
  packages/ui/src/primitives/field.tsx
  packages/ui/src/tailwind.config.ts
Due: npx eslint --fix, npx prettier --write

tweak spacing
  packages/ui/src/components/sign-in/sign-in.tsx
  packages/ui/src/components/sign-up/sign-up.tsx
Due: npx eslint --fix, npx prettier --write

add empty changeset
  .changeset/mean-buckets-occur.md
Due: npx prettier --write

use logical
  packages/ui/src/primitives/field.tsx
Due: npx eslint --fix, npx prettier --write

use :focus-visible
  packages/ui/src/primitives/field.tsx
Due: npx eslint --fix, npx prettier --write

fix(repo): Actually run Next.js integration for v13 & v14 (#3516)
  .github/workflows/ci.yml
Due: none

initial
  packages/elements/src/internals/machines/sign-in/verification.machine.ts
Due: npx eslint --fix, npx prettier --write

chore(localizations): Update profile primary button text and nav text in fr-FR & zh-CN (#3494)
  .changeset/hot-chefs-cross.md
  packages/localizations/src/fr-FR.ts
  packages/localizations/src/zh-CN.ts
Due: npx eslint --fix, npx prettier --write

add changeset
  .changeset/violet-insects-ring.md
Due: npx prettier --write

fix(nextjs): Handle updated PPR error message (#3499)
  .changeset/small-cycles-hug.md
  packages/nextjs/src/app-router/server/utils.ts
Due: npx eslint --fix, npx prettier --write

test(e2e): Testing auth().protect() for unauthenticated users in soft navigations (#3427)
  .changeset/wise-chairs-carry.md
  integration/templates/next-app-router/src/app/page-protected/page.tsx
  integration/templates/next-app-router/src/app/page.tsx
  integration/testUtils/index.ts
  integration/tests/protect.test.ts
Due: npx eslint --fix, npx prettier --write

add passwordfield component
  packages/ui/src/common/PasswordField.tsx
  packages/ui/src/components/sign-in/sign-in.tsx
  packages/ui/src/components/sign-up/sign-up.tsx
  packages/ui/src/primitives/field.tsx
Due: npx eslint --fix, npx prettier --write

Path conditions:
  npx eslint --fix: any of: *.{mjs,js,jsx,ts,tsx}
  npx prettier --write: (any of: *.{mjs,js,jsx,ts,tsx}) or (any of: *.{json,md,mdx})
