Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{mjs,js,jsx,ts,tsx}": ["npx eslint --fix", "npx prettier --write"],
  "*.{json,md,mdx}": ["npx prettier --write"]
}

Add constant definition for `x-clerk-data` header
  packages/backend/src/constants.ts
Due: npx eslint --fix, npx prettier --write

Update changeset
  .changeset/young-pigs-live.md
  packages/nextjs/src/server/utils.ts
Due: npx eslint --fix, npx prettier --write

Introduce fallback for encryption key
  packages/nextjs/src/app-router/server/auth.ts
  packages/nextjs/src/server/clerkMiddleware.ts
  packages/nextjs/src/server/errors.ts
  packages/nextjs/src/server/utils.ts
  packages/shared/src/error.ts
Due: npx eslint --fix, npx prettier --write

Access redirect URLs from middleware options
  integration/presets/envs.ts
  packages/nextjs/src/server/__tests__/clerkMiddleware.test.ts
  packages/nextjs/src/server/authMiddleware.ts
  packages/nextjs/src/server/clerkMiddleware.ts
  packages/nextjs/src/server/createGetAuth.ts
  packages/nextjs/src/server/errors.ts
  packages/nextjs/src/server/utils.ts
Due: npx eslint --fix, npx prettier --write

Require signing key to be defined when using runtime options
  packages/nextjs/src/server/clerkMiddleware.ts
  packages/nextjs/src/server/constants.ts
  packages/nextjs/src/server/errors.ts
Due: npx eslint --fix, npx prettier --write

Propagate `signInUrl` and `signUpUrl`
  packages/nextjs/src/app-router/server/auth.ts
  packages/nextjs/src/server/utils.ts
Due: npx eslint --fix, npx prettier --write

Rename signing key to encryption key
  packages/nextjs/src/server/clerkMiddleware.ts
  packages/nextjs/src/server/constants.ts
  packages/nextjs/src/server/utils.ts
  packages/shared/src/error.ts
Due: npx eslint --fix, npx prettier --write

Mock `ENCRYPTION_KEY` on `authMiddleware` unit tests
  packages/nextjs/src/server/__tests__/authMiddleware.test.ts
Due: npx eslint --fix, npx prettier --write

Handle error when signing key is invalid
  packages/nextjs/src/server/errors.ts
  packages/nextjs/src/server/utils.ts
Due: npx eslint --fix, npx prettier --write

Add changeset
  .changeset/young-pigs-live.md
Due: npx prettier --write

Add test to assert against propagation
  packages/nextjs/src/server/__tests__/clerkMiddleware.test.ts
Due: npx eslint --fix, npx prettier --write

Update snapshot for request headers
  packages/fastify/src/__tests__/__snapshots__/constants.test.ts.snap
Due: none

fix(clerk-js): Improve solution for saml and hidden password field introduced in #3578
  .changeset/twenty-maps-train.md
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Improve solution for saml and hidden password field introduced in #3578
  packages/clerk-js/src/ui/utils/test/fixtures.ts
Due: npx eslint --fix, npx prettier --write

test(clerk-js): Upgrade @testing-library packages
  package-lock.json
  package.json
  packages/clerk-js/src/ui/components/UserProfile/__tests__/EmailsSection.test.tsx
  packages/clerk-js/src/ui/elements/FieldControl.tsx
  packages/clerk-js/src/ui/elements/__tests__/PlainInput.test.tsx
Due: npx eslint --fix, npx prettier --write

test(clerk-js): Add changeset
  .changeset/cold-singers-suffer.md
Due: npx prettier --write

fix(clerk-js): Improve solution for saml and hidden password field (#3597)
  .changeset/twenty-maps-train.md
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/utils/test/fixtures.ts
Due: npx eslint --fix, npx prettier --write

initial
  .github/workflows/pr-title-linter.yml
Due: none

fix(clerk-js): Add descriptor for "Create Organization" logo box (#3596)
  .changeset/seven-feet-beam.md
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationProfileAvatarUploader.tsx
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/types/src/appearance.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Allow `backticks` in PR title linter (#3600)
  .github/workflows/pr-title-linter.yml
Due: none

chore(clerk-js): Revert changes to field action
  .changeset/cold-singers-suffer.md
  packages/clerk-js/src/ui/elements/FieldControl.tsx
  packages/clerk-js/src/ui/elements/__tests__/PlainInput.test.tsx
Due: npx eslint --fix, npx prettier --write

Update .changeset/poor-knives-laugh.md
  .changeset/poor-knives-laugh.md
Due: npx prettier --write

test(clerk-js): Upgrade @testing-library packages (#3599)
  .changeset/cold-singers-suffer.md
  package-lock.json
  package.json
  packages/clerk-js/src/ui/components/UserProfile/__tests__/EmailsSection.test.tsx
  packages/clerk-js/src/ui/elements/__tests__/PlainInput.test.tsx
Due: npx eslint --fix, npx prettier --write

update lock file
  package-lock.json
Due: npx prettier --write

fix(elements): Sign-in/up root fallbacks not rendering properly
  .changeset/friendly-dots-join.md
  packages/elements/examples/nextjs/app/sign-up/[[...sign-up]]/page.tsx
  packages/elements/src/react/common/form/index.tsx
  packages/elements/src/react/sign-in/root.tsx
  packages/elements/src/react/sign-up/root.tsx
Due: npx eslint --fix, npx prettier --write

omit `isRootPath` from public type
  packages/elements/src/react/sign-in/root.tsx
  packages/elements/src/react/sign-up/root.tsx
Due: npx eslint --fix, npx prettier --write

fix(elements): Sign-in/up root fallbacks not rendering properly (#3601)
  .changeset/friendly-dots-join.md
  packages/elements/examples/nextjs/app/sign-up/[[...sign-up]]/page.tsx
  packages/elements/src/react/common/form/index.tsx
  packages/elements/src/react/sign-in/root.tsx
  packages/elements/src/react/sign-up/root.tsx
Due: npx eslint --fix, npx prettier --write

add translateError as an export from makeLocalizeable
  packages/ui/src/utils/makeLocalizable.ts
Due: npx eslint --fix, npx prettier --write

email field translate error
  packages/ui/src/common/email-field.tsx
  packages/ui/src/components/sign-up/sign-up.tsx
Due: npx eslint --fix, npx prettier --write

add empty changeset
  .changeset/violet-kings-care.md
Due: npx prettier --write

refactor pull loading component outside of button components
  packages/ui/src/components/sign-in/sign-in.tsx
Due: npx eslint --fix, npx prettier --write

fix(clerkjs): Set localhost SameSite=None cookies as Secure
  .changeset/plenty-pandas-leave.md
  packages/clerk-js/src/core/auth/cookies/clientUat.ts
  packages/clerk-js/src/core/auth/cookies/devBrowser.ts
  packages/clerk-js/src/core/auth/cookies/session.ts
  packages/clerk-js/src/core/auth/getSecureAttribute.ts
  packages/clerk-js/src/utils/runtime.ts
Due: npx eslint --fix, npx prettier --write

allow configurable name field
  packages/ui/src/common/email-field.tsx
  packages/ui/src/common/email-or-phone-number-field.tsx
  packages/ui/src/common/email-or-username-or-phone-number-field.tsx
  packages/ui/src/common/phone-number-field/index.tsx
  packages/ui/src/common/phone-number-or-username-field.tsx
  packages/ui/src/common/username-field.tsx
  packages/ui/src/components/sign-in/sign-in.tsx
Due: npx eslint --fix, npx prettier --write

allow name to be overrided
  packages/ui/src/common/email-field.tsx
Due: npx eslint --fix, npx prettier --write

add error
  packages/ui/src/components/sign-up/sign-up.tsx
Due: npx eslint --fix, npx prettier --write

make error optional
  packages/ui/src/common/email-field.tsx
Due: npx eslint --fix, npx prettier --write

feat(ui): Implement `translateError` util within `makeLocalizeable` (#3603)
  .changeset/violet-kings-care.md
  packages/ui/src/common/email-field.tsx
  packages/ui/src/components/sign-up/sign-up.tsx
  packages/ui/src/utils/makeLocalizable.ts
Due: npx eslint --fix, npx prettier --write

improvements
  packages/elements/examples/nextjs/app/sign-in/[[...sign-in]]/page.tsx
  packages/elements/src/internals/machines/sign-in/verification.machine.ts
  packages/elements/src/react/hooks/use-third-party-provider.hook.ts
Due: npx eslint --fix, npx prettier --write

change
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/utils/windowNavigate.ts
Due: npx eslint --fix, npx prettier --write
