Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{mjs,js,jsx,ts,tsx}": ["npx eslint --fix", "npx prettier --write"],
  "*.{json,md,mdx}": ["npx prettier --write"]
}

Fix incorrect React 19 Stable Peer Dependencies
  packages/nextjs/package.json
  packages/react/package.json
  packages/shared/package.json
  playground/browser-extension/pnpm-lock.yaml
Due: npx prettier --write

feat(clerk-js): Include a `claimed_at` property inside AuthConfig
  packages/clerk-js/src/core/resources/AuthConfig.ts
  packages/types/src/authConfig.ts
  packages/types/src/json.ts
Due: npx eslint --fix, npx prettier --write

add changeset
  .changeset/slow-cars-worry.md
Due: npx prettier --write

feat(clerk-js): Include a `claimed_at` property inside AuthConfig (#4752)
  .changeset/slow-cars-worry.md
  packages/clerk-js/src/core/resources/AuthConfig.ts
  packages/types/src/authConfig.ts
  packages/types/src/json.ts
Due: npx eslint --fix, npx prettier --write

WIP additional UI
  packages/clerk-js/src/ui/components/KeylessPrompt/index.tsx
Due: npx eslint --fix, npx prettier --write

WIP
  packages/clerk-js/src/ui/components/KeylessPrompt/index.tsx
Due: npx eslint --fix, npx prettier --write

Update CI workflow to include @clerk/clerk-expo
  .github/workflows/ci.yml
Due: none

Button hover style
  packages/clerk-js/src/ui/components/KeylessPrompt/index.tsx
Due: npx eslint --fix, npx prettier --write

feat(clerk-js,backend): Redirect to page for copying instance keys
  .changeset/gold-monkeys-collect.md
  .changeset/twelve-spiders-obey.md
  packages/backend/src/api/resources/AccountlessApplication.ts
  packages/backend/src/api/resources/JSON.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/Components.tsx
  packages/clerk-js/src/ui/components/KeylessPrompt/index.tsx
  packages/nextjs/src/app-router/client/keyless-creator-reader.tsx
  packages/nextjs/src/app-router/keyless-actions.ts
  packages/nextjs/src/app-router/server/ClerkProvider.tsx
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

fix AuthConfigResource
  packages/clerk-js/src/core/resources/AuthConfig.ts
  packages/expo/src/cache/dummy-data/environment-resource.ts
Due: npx eslint --fix, npx prettier --write

fix url prop
  packages/clerk-js/src/ui/Components.tsx
Due: npx eslint --fix, npx prettier --write

Fix comments
  packages/clerk-js/src/core/fapiClient.ts
  packages/clerk-js/src/core/resources/OrganizationSettings.ts
  packages/clerk-js/src/core/resources/UserSettings.ts
  packages/expo/src/cache/dummy-data/client-resource.ts
  packages/expo/src/cache/dummy-data/environment-resource.ts
Due: npx eslint --fix, npx prettier --write

feat(clerk-js,backend): Url for copying instance keys on Keyless mode (#4755)
  .changeset/gold-monkeys-collect.md
  .changeset/twelve-spiders-obey.md
  packages/backend/src/api/resources/AccountlessApplication.ts
  packages/backend/src/api/resources/JSON.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/Components.tsx
  packages/clerk-js/src/ui/components/KeylessPrompt/index.tsx
  packages/nextjs/src/app-router/client/keyless-creator-reader.tsx
  packages/nextjs/src/app-router/keyless-actions.ts
  packages/nextjs/src/app-router/server/ClerkProvider.tsx
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

Add types for internal functions
  packages/expo/src/provider/singleton/createClerkInstance.ts
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

fix tests
  packages/react/src/isomorphicClerk.ts
Due: npx eslint --fix, npx prettier --write

split changeset
  .changeset/cold-avocados-move.md
  .changeset/mean-trainers-tickle.md
  .changeset/wicked-crabs-bake.md
Due: npx prettier --write

Finalize additional toast UI
  packages/clerk-js/sandbox/app.ts
  packages/clerk-js/src/ui/components/KeylessPrompt/index.tsx
Due: npx eslint --fix, npx prettier --write

Changeset
  .changeset/beige-eyes-decide.md
Due: npx prettier --write

Copy
  packages/clerk-js/src/ui/components/KeylessPrompt/index.tsx
Due: npx eslint --fix, npx prettier --write

Update el-GR.ts
  packages/localizations/src/el-GR.ts
Due: npx eslint --fix, npx prettier --write

fixup
  packages/localizations/src/el-GR.ts
Due: npx eslint --fix, npx prettier --write

Add snapshot tests for Environment and Client resources to test the new `toJSON` methods
  packages/clerk-js/src/core/resources/__tests__/Client.test.ts
  packages/clerk-js/src/core/resources/__tests__/Environment.test.ts
  packages/clerk-js/src/core/resources/__tests__/__snapshots__/Client.test.ts.snap
  packages/clerk-js/src/core/resources/__tests__/__snapshots__/Environment.test.ts.snap
Due: npx eslint --fix, npx prettier --write

fix(repo): use same react, react-dom peer semver
  packages/chrome-extension/package.json
  packages/clerk-js/package.json
  packages/elements/package.json
  packages/nextjs/package.json
  packages/react-router/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/shared/package.json
  packages/tanstack-start/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: npx prettier --write

changeset
  .changeset/chatty-walls-search.md
Due: npx prettier --write

explicitly include ^19.0.0-0
  pnpm-workspace.yaml
Due: none

WIP
  pnpm-lock.yaml
Due: none

fix(astro): Prevent Netlify from doing a handshake redirect loop (#4745)
  .changeset/hungry-fishes-invent.md
  packages/astro/src/integration/create-integration.ts
  packages/astro/src/internal/index.ts
  packages/astro/src/internal/remove-query-param.ts
  packages/astro/src/server/clerk-middleware.ts
Due: npx eslint --fix, npx prettier --write

initial
  integration/templates/react-router-node/app/root.tsx
  packages/react-router/src/client/ReactRouterClerkProvider.tsx
  packages/react-router/src/utils/errors.ts
  playground/react-router/app/root.tsx
Due: npx eslint --fix, npx prettier --write

add changeset
  .changeset/flat-ants-lick.md
Due: npx prettier --write

typo
  .changeset/flat-ants-lick.md
Due: npx prettier --write

chore(nuxt): Update changeset
  .changeset/selfish-dingos-argue.md
Due: npx prettier --write

fix navigation url
  packages/clerk-js/src/ui/components/KeylessPrompt/index.tsx
Due: npx eslint --fix, npx prettier --write

polish copy
  packages/clerk-js/src/ui/components/KeylessPrompt/index.tsx
Due: npx eslint --fix, npx prettier --write

formatting
  packages/clerk-js/src/ui/components/KeylessPrompt/index.tsx
Due: npx eslint --fix, npx prettier --write

feat(clerk-js): Add additional UI to claim/keyless flow (#4756)
  .changeset/beige-eyes-decide.md
  packages/clerk-js/sandbox/app.ts
  packages/clerk-js/src/ui/components/KeylessPrompt/index.tsx
Due: npx eslint --fix, npx prettier --write

feat(clerk-js): Display a prompt on Keyless mode
  packages/clerk-js/jest.setup.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/globals.d.ts
  packages/clerk-js/src/ui/Components.tsx
  packages/clerk-js/src/ui/lazyModules/components.ts
Due: npx eslint --fix, npx prettier --write

add changeset
  .changeset/quick-geckos-unite.md
  packages/clerk-js/bundlewatch.config.json
Due: npx prettier --write

Update .changeset/quick-geckos-unite.md
  .changeset/quick-geckos-unite.md
Due: npx prettier --write
