Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{mjs,js,jsx,ts,tsx}": ["npx eslint --fix", "npx prettier --write"],
  "*.{json,md,mdx}": ["npx prettier --write"]
}

Update curly-parrots-camp.md
  .changeset/curly-parrots-camp.md
Due: npx prettier --write

fix(clerk-expo): Use base-64 package instead of isomorphic from @clerk/shared (#2230)
  .changeset/curly-parrots-camp.md
  package-lock.json
  packages/expo/package.json
  packages/expo/src/polyfills/base64Polyfill.ts
Due: npx eslint --fix, npx prettier --write

chore(types): Drop unused `SetSession` type
  packages/types/src/clerk.retheme.ts
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Add changeset
  .changeset/mighty-melons-greet.md
Due: npx prettier --write

chore(types): Drop unused `SetSession` type (#2231)
  .changeset/mighty-melons-greet.md
  packages/types/src/clerk.retheme.ts
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

chore(types): Make `routerPush` and `routerReplace` options both required or both optional
  packages/react/src/contexts/__tests__/ClerkProvider.test.tsx
  packages/types/src/clerk.retheme.ts
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Ignore test runner files and CHANGELOG.md from formatting
  .prettierignore
Due: none

chore(types): Use `Without` generic to resolve issues with `Omit` and complex types
  packages/react/src/types.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Add changeset
  .changeset/tiny-forks-sit.md
Due: npx prettier --write

chore(repo): Update ui-retheme-changes-reminder to notify for files with retheme variant
  .github/workflows/ui-retheme-changes-reminder.yml
Due: none

Update .changeset/tiny-forks-sit.md
  .changeset/tiny-forks-sit.md
Due: npx prettier --write

chore(types,clerk-react): Make `routerPush` / `routerReplace` both required or both optional (#2227)
  .changeset/tiny-forks-sit.md
  .github/workflows/ui-retheme-changes-reminder.yml
  .prettierignore
  packages/react/src/contexts/__tests__/ClerkProvider.test.tsx
  packages/react/src/types.ts
  packages/types/src/clerk.retheme.ts
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Add missing sdkMetadata getter
  packages/clerk-js/src/core/clerk.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-react): Add changeset
  .changeset/mean-poets-bow.md
Due: npx prettier --write

chore(clerk-react): Remove todos
  packages/react/src/isomorphicClerk.ts
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-react): Replace optional Clerk properties with undefined
  packages/clerk-js/src/core/clerk.ts
  packages/react/src/isomorphicClerk.ts
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-react): Missing methods and properties from IsomorphicClerk (#2226)
  .changeset/mean-poets-bow.md
  packages/clerk-js/src/core/clerk.ts
  packages/react/src/errors.ts
  packages/react/src/isomorphicClerk.ts
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

chore(types): Apply changes to clerk.retheme.ts
  .changeset/neat-lies-thank.md
  packages/types/src/clerk.retheme.ts
Due: npx eslint --fix, npx prettier --write

chore(types): Apply changes to clerk.retheme.ts (#2232)
  .changeset/neat-lies-thank.md
  packages/types/src/clerk.retheme.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-react): ESM bundle with vite / rollup
  .changeset/new-points-turn.md
  packages/react/package.json
  packages/react/tsconfig.declarations.json
  packages/react/tsup.config.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-react): ESM bundle with vite / rollup (#2216)
  .changeset/new-points-turn.md
  packages/react/package.json
  packages/react/tsconfig.declarations.json
  packages/react/tsup.config.ts
Due: npx eslint --fix, npx prettier --write

feat(backend,nextjs,utils): Remove interstitial
  packages/backend/src/index.ts
  packages/backend/src/tokens/authStatus.ts
  packages/backend/src/tokens/errors.ts
  packages/backend/src/tokens/factory.ts
  packages/backend/src/tokens/handshakeRule.ts
  packages/backend/src/tokens/index.ts
  packages/backend/src/tokens/interstitial.ts
  packages/backend/src/tokens/interstitialRule.ts
  packages/backend/src/tokens/request.ts
  packages/backend/src/util/path.ts
  packages/react/src/utils/loadClerkJsScript.ts
  packages/shared/src/url.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Version packages (alpha-v5) (#2224)
  .changeset/pre.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Due: npx prettier --write

feat(backend,nextjs,utils): Handshake flow WIP
  packages/nextjs/src/server/authMiddleware.ts
  packages/nextjs/src/server/authenticateRequest.ts
  packages/nextjs/src/server/clerk-request.ts
  packages/nextjs/src/server/getAuth.ts
  packages/nextjs/src/server/handshake.ts
  packages/nextjs/src/server/utils.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-react): Missing methods and properties from IsomorphicClerk (#2226) (#2233)
  .changeset/mean-poets-bow.md
  packages/clerk-js/src/core/clerk.ts
  packages/react/src/errors.ts
  packages/react/src/isomorphicClerk.ts
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

feat(localizations): Allow usage of subpath exports
  .changeset/selfish-trains-breathe.md
  packages/localizations/.gitignore
  packages/localizations/package.json
  packages/localizations/subpaths.mjs
  packages/localizations/tsup.config.ts
  packages/shared/subpaths.mjs
  scripts/subpath-workaround.mjs
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Add setter for sdkMetadata to address error
  packages/clerk-js/src/core/clerk.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Add changeset
  .changeset/young-experts-attack.md
Due: npx prettier --write

feat(backend,nextjs,utils): Handshake flow WIP
  packages/nextjs/src/server/authMiddleware.ts
  packages/nextjs/src/server/authenticateRequest.ts
  packages/nextjs/src/server/handshake.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Add setter for sdkMetadata to address error (#2237)
  .changeset/young-experts-attack.md
  packages/clerk-js/src/core/clerk.ts
Due: npx eslint --fix, npx prettier --write

update changeset
  .changeset/selfish-trains-breathe.md
Due: npx prettier --write

fix(clerk-js): Add setter for sdkMetadata to address error (#2237) (#2239)
  .changeset/young-experts-attack.md
  packages/clerk-js/src/core/clerk.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Hide Add domain button when user is missing `org:sys_domains:manage`
  .changeset/strong-cows-sit.md
  packages/clerk-js/src/ui.retheme/components/OrganizationProfile/OrganizationSettings.tsx
  packages/clerk-js/src/ui.retheme/components/OrganizationProfile/__tests__/OrganizationSettings.test.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationSettings.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/OrganizationSettings.test.tsx
Due: npx eslint --fix, npx prettier --write

wip debugging handshake
  packages/nextjs/src/server/authMiddleware.ts
  packages/nextjs/src/server/handshake.ts
  packages/nextjs/src/utils/response.ts
Due: npx eslint --fix, npx prettier --write

feat(backend): Try the new Client Handshake mechanism
  packages/backend/src/tokens/authStatus.ts
  packages/backend/src/tokens/request.ts
Due: npx eslint --fix, npx prettier --write

fixup! feat(backend): Try the new Client Handshake mechanism
  packages/backend/src/tokens/request.ts
Due: npx eslint --fix, npx prettier --write

feat(localizations): Allow usage of subpath exports (#2236)
  .changeset/selfish-trains-breathe.md
  packages/localizations/.gitignore
  packages/localizations/package.json
  packages/localizations/subpaths.mjs
  packages/localizations/tsup.config.ts
  packages/shared/subpaths.mjs
  scripts/subpath-workaround.mjs
Due: npx eslint --fix, npx prettier --write

feat(backend): Update authenticateRequest handler to support multi-domain handshake
  packages/backend/src/tokens/authStatus.ts
  packages/backend/src/tokens/request.ts
  packages/clerk-js/src/core/devBrowserHandler.ts
  packages/nextjs/src/server/authMiddleware.ts
  packages/nextjs/src/server/authenticateRequest.ts
  packages/nextjs/src/server/utils.ts
  packages/shared/src/devBrowser.ts
Due: npx eslint --fix, npx prettier --write
