Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

add elements
  .github/workflows/ci.yml
Due: none

fix(clerk-sdk-node): Correctly forward errors to `next()` if request URL is invalid (#4087)
  .changeset/fast-boxes-knock.md
  packages/express/src/__tests__/clerkMiddleware.test.ts
  packages/express/src/__tests__/requireAuth.test.ts
  packages/sdk-node/src/__tests__/middleware.test.ts
  packages/sdk-node/src/authenticateRequest.ts
  packages/sdk-node/src/clerkExpressRequireAuth.ts
  packages/sdk-node/src/clerkExpressWithAuth.ts
Due: npx eslint --fix, npx prettier --write

add changeset
  .changeset/few-schools-invent.md
Due: npx prettier --write

Update few-schools-invent.md
  .changeset/few-schools-invent.md
Due: npx prettier --write

chore(*): Run unit tests on node 18 only for packages with LTS support (#4090)
  .changeset/nervous-buses-stare.md
  .github/workflows/ci.yml
Due: npx prettier --write

add theme defaults
  packages/ui/src/tailwind.config.ts
Due: npx eslint --fix, npx prettier --write

add empty changeset
  .changeset/silver-trainers-bathe.md
Due: npx prettier --write

add changeset
  .changeset/ten-pigs-flash.md
Due: npx prettier --write

correction
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

Update packages/types/src/clerk.ts
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

feat(clerk-js): Support phone_code for firstFactor in UV (#4085)
  .changeset/ten-pigs-flash.md
  packages/clerk-js/src/ui/components/UserVerification/UVFactorOnePhoneCodeCard.tsx
  packages/clerk-js/src/ui/components/UserVerification/UserVerificationFactorOne.tsx
  packages/clerk-js/src/ui/components/UserVerification/__tests__/UVFactorOne.test.tsx
Due: npx eslint --fix, npx prettier --write

initial
  packages/react/turbo.json
Due: npx prettier --write

add empty changeset
  .changeset/afraid-dingos-sip.md
Due: npx prettier --write

chore(repo): Fix unit tests in CI (#4100)
  .changeset/afraid-dingos-sip.md
  packages/react/turbo.json
Due: npx prettier --write

use note tag
  packages/react/src/types.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-react): Improve JSDoc coverage on ClerkProvider (#4098)
  .changeset/few-schools-invent.md
  packages/react/src/types.ts
  packages/types/src/clerk.ts
  packages/types/src/multiDomain.ts
Due: npx eslint --fix, npx prettier --write

feat(ui): Add Theme Defaults (#4099)
  .changeset/silver-trainers-bathe.md
  packages/ui/src/tailwind.config.ts
Due: npx eslint --fix, npx prettier --write

wip
  packages/clerk-js/src/ui/components/UserButton/UserButton.tsx
  packages/clerk-js/src/ui/components/UserButton/UserButtonPopover.tsx
  packages/clerk-js/src/ui/contexts/ClerkUIComponentsContext.tsx
  packages/react/src/components/uiComponents.tsx
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

polymorphic root
  packages/ui/src/components/sign-in/steps/start.tsx
  packages/ui/src/primitives/card.tsx
  packages/ui/src/types/utils.ts
Due: npx eslint --fix, npx prettier --write

feat(elements): Add support for Coinbase Wallet Web3 provider
  .changeset/curly-rabbits-appear.md
  packages/elements/src/internals/machines/sign-in/start.machine.ts
  packages/elements/src/internals/machines/sign-in/verification.machine.ts
  packages/elements/src/internals/machines/sign-up/start.machine.ts
  packages/elements/src/react/utils/map-scope-to-strategy.ts
Due: npx eslint --fix, npx prettier --write

chore(astro): Commit suggestion to changeset
  .changeset/shy-flowers-accept.md
Due: npx prettier --write

undo clerk-js change for now
  packages/clerk-js/src/ui/lazyModules/providers.tsx
Due: npx eslint --fix, npx prettier --write

wip: elements rendering in clerk-js
  packages/clerk-js/src/ui/lazyModules/providers.tsx
  packages/elements/package.json
  packages/elements/src/internals/constants/index.ts
  packages/elements/src/internals/machines/shared/shared.actors.ts
  packages/elements/src/internals/utils/inspector/browser/index.ts
  packages/elements/src/internals/utils/inspector/console/index.ts
  packages/elements/src/react/common/form/input.tsx
  packages/elements/src/react/common/loading.tsx
  packages/elements/src/react/hooks/use-password.hook.ts
  packages/elements/src/react/hooks/use-third-party-provider.hook.ts
  packages/elements/src/react/sign-in/root.tsx
  packages/elements/src/react/sign-in/step.tsx
  packages/elements/src/react/sign-up/root.tsx
  packages/elements/src/react/sign-up/step.tsx
  packages/nextjs/src/app-router/client/ClerkProvider.tsx
  packages/shared/src/react/index.ts
  packages/shared/src/router.ts
  packages/shared/src/router/react.tsx
Due: npx eslint --fix, npx prettier --write

Add ClerkHostRouter provider for elements usage in next.js
  packages/nextjs/src/app-router/client/ClerkProvider.tsx
Due: npx eslint --fix, npx prettier --write

Add missing contest, remove unused export
  packages/elements/src/react/router/index.ts
  packages/shared/src/react/contexts.tsx
Due: npx eslint --fix, npx prettier --write

safely access env vars
  packages/elements/src/internals/constants/index.ts
  packages/elements/src/internals/utils/inspector/browser/index.ts
  packages/elements/src/internals/utils/inspector/console/index.ts
  packages/elements/src/react/router/next.ts
  packages/elements/src/react/sign-in/root.tsx
  packages/elements/src/react/sign-up/root.tsx
  packages/elements/src/utils/safe-access.ts
Due: npx eslint --fix, npx prettier --write

adds changeset
  .changeset/good-jeans-call.md
Due: npx prettier --write

remove next as a peer dep
  package-lock.json
  packages/elements/package.json
Due: npx prettier --write

Apply suggestions from code review
  packages/elements/src/internals/machines/sign-in/verification.machine.ts
Due: npx eslint --fix, npx prettier --write

update sign-in components
  packages/elements/src/react/sign-in/choose-session/choose-session.tsx
  packages/elements/src/react/sign-in/choose-strategy.tsx
  packages/ui/src/components/sign-in/steps/choose-session.tsx
  packages/ui/src/components/sign-in/steps/choose-strategy.tsx
  packages/ui/src/components/sign-in/steps/forgot-password.tsx
  packages/ui/src/components/sign-in/steps/reset-password.tsx
  packages/ui/src/components/sign-in/steps/verifications.tsx
Due: npx eslint --fix, npx prettier --write

update sign up components
  packages/ui/src/components/sign-up/steps/continue.tsx
  packages/ui/src/components/sign-up/steps/start.tsx
  packages/ui/src/components/sign-up/steps/verifications.tsx
Due: npx eslint --fix, npx prettier --write

add changeset
  .changeset/famous-singers-care.md
Due: npx prettier --write

Update packages/nextjs/src/app-router/client/ClerkProvider.tsx
  packages/nextjs/src/app-router/client/ClerkProvider.tsx
Due: npx eslint --fix, npx prettier --write

feat(elements): Add support for Coinbase Wallet Web3 provider (#4103)
  .changeset/curly-rabbits-appear.md
  packages/elements/src/internals/machines/sign-in/start.machine.ts
  packages/elements/src/internals/machines/sign-in/verification.machine.ts
  packages/elements/src/internals/machines/sign-up/start.machine.ts
  packages/elements/src/react/utils/map-scope-to-strategy.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-js,types,clerk-react,elements): Drop support for deprecated Coinbase web3 provider
  .changeset/light-donuts-shake.md
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/resources/SignIn.ts
  packages/clerk-js/src/core/resources/SignUp.ts
  packages/clerk-js/src/ui/common/constants.ts
  packages/clerk-js/src/utils/injectedWeb3Providers.ts
  packages/clerk-js/src/utils/web3.ts
  packages/elements/src/internals/machines/sign-in/start.machine.ts
  packages/elements/src/internals/machines/sign-in/verification.machine.ts
  packages/elements/src/internals/machines/sign-up/start.machine.ts
  packages/elements/src/react/hooks/use-third-party-provider.hook.ts
  packages/elements/src/react/utils/map-scope-to-strategy.ts
  packages/react/src/isomorphicClerk.ts
  packages/types/src/clerk.ts
  packages/types/src/signIn.ts
  packages/types/src/signUp.ts
  packages/types/src/web3.ts
Due: npx eslint --fix, npx prettier --write

Apply code review suggestion
  packages/elements/src/internals/machines/sign-in/verification.machine.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-js,types,clerk-react,elements): Drop coinbase web3 provider (#4092)
  .changeset/light-donuts-shake.md
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/resources/SignIn.ts
  packages/clerk-js/src/core/resources/SignUp.ts
  packages/clerk-js/src/ui/common/constants.ts
  packages/clerk-js/src/utils/injectedWeb3Providers.ts
  packages/clerk-js/src/utils/web3.ts
  packages/elements/src/internals/machines/sign-in/start.machine.ts
  packages/elements/src/internals/machines/sign-in/verification.machine.ts
  packages/elements/src/internals/machines/sign-up/start.machine.ts
  packages/elements/src/react/hooks/use-third-party-provider.hook.ts
  packages/elements/src/react/utils/map-scope-to-strategy.ts
  packages/react/src/isomorphicClerk.ts
  packages/types/src/clerk.ts
  packages/types/src/signIn.ts
  packages/types/src/signUp.ts
  packages/types/src/web3.ts
Due: npx eslint --fix, npx prettier --write

feat: adds WIP refresh token flow
  packages/backend/src/api/endpoints/SessionApi.ts
  packages/backend/src/constants.ts
  packages/backend/src/errors.ts
  packages/backend/src/tokens/authStatus.ts
  packages/backend/src/tokens/authenticateContext.ts
  packages/backend/src/tokens/factory.ts
  packages/backend/src/tokens/request.ts
  packages/backend/src/tokens/types.ts
Due: npx eslint --fix, npx prettier --write

lint fixes
  packages/elements/src/react/common/form/input.tsx
  packages/elements/src/react/hooks/use-password.hook.ts
Due: npx eslint --fix, npx prettier --write

doc title
  packages/ui/src/types/utils.ts
Due: npx eslint --fix, npx prettier --write

Path conditions:
  npx eslint --fix: any of: *.{mjs,js,jsx,ts,tsx}
  npx prettier --write: (any of: *.{mjs,js,jsx,ts,tsx}) or (any of: *.{json,md,mdx})
