Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{mjs,js,jsx,ts,tsx}": ["npx eslint --fix", "npx prettier --write"],
  "*.{json,md,mdx}": ["npx prettier --write"]
}

fix(clerk-expo): Fix getClerkInstance for web as it was not a function
  packages/expo/src/provider/singleton/createClerkInstance.ts
  packages/expo/src/provider/singleton/singleton.web.ts
  packages/expo/src/provider/singleton/types.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-expo): Update JSDOC of getClerkInstance
  packages/expo/src/provider/singleton/createClerkInstance.ts
  packages/expo/src/provider/singleton/singleton.ts
Due: npx eslint --fix, npx prettier --write

fix(elements): Remove type casting
  packages/elements/src/internals/machines/form/form.context.ts
  packages/elements/src/react/common/form/index.tsx
Due: npx eslint --fix, npx prettier --write

chore(repo): Add empty changeset
  .changeset/nervous-scissors-judge.md
Due: npx prettier --write

cleanup(ui): Remove console.log
  packages/ui/src/common/password-field.tsx
  packages/ui/src/utils/makeLocalizable.ts
Due: npx eslint --fix, npx prettier --write

chore(elements): Add changeset
  .changeset/light-feet-wink.md
  .changeset/nervous-scissors-judge.md
Due: npx prettier --write

chore(ui): Add note on source of makeLocalizable
  packages/ui/src/utils/makeLocalizable.ts
Due: npx eslint --fix, npx prettier --write

chore(ui): Move note on return type to JSDoc
  packages/elements/src/internals/machines/form/form.context.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-js,localizations): Add action link translations
  packages/clerk-js/src/ui/components/SignUp/SignUpForm.tsx
  packages/localizations/src/en-US.ts
  packages/types/src/localization.ts
Due: npx eslint --fix, npx prettier --write

add changeset
  .changeset/six-toys-clap.md
Due: npx prettier --write

Create chilled-swans-work.md
  .changeset/chilled-swans-work.md
Due: npx prettier --write

generate
  packages/localizations/src/ar-SA.ts
  packages/localizations/src/bg-BG.ts
  packages/localizations/src/cs-CZ.ts
  packages/localizations/src/da-DK.ts
  packages/localizations/src/de-DE.ts
  packages/localizations/src/el-GR.ts
  packages/localizations/src/en-US.ts
  packages/localizations/src/es-ES.ts
  packages/localizations/src/es-MX.ts
  packages/localizations/src/fi-FI.ts
  packages/localizations/src/fr-FR.ts
  packages/localizations/src/he-IL.ts
  packages/localizations/src/hu-HU.ts
  packages/localizations/src/it-IT.ts
  packages/localizations/src/ja-JP.ts
  packages/localizations/src/ko-KR.ts
  packages/localizations/src/mn-MN.ts
  packages/localizations/src/nb-NO.ts
  packages/localizations/src/nl-NL.ts
  packages/localizations/src/pl-PL.ts
  packages/localizations/src/pt-BR.ts
  packages/localizations/src/pt-PT.ts
  packages/localizations/src/ro-RO.ts
  packages/localizations/src/ru-RU.ts
  packages/localizations/src/sk-SK.ts
  packages/localizations/src/sr-RS.ts
  packages/localizations/src/sv-SE.ts
  packages/localizations/src/th-TH.ts
  packages/localizations/src/tr-TR.ts
  packages/localizations/src/uk-UA.ts
  packages/localizations/src/vi-VN.ts
  packages/localizations/src/zh-CN.ts
  packages/localizations/src/zh-TW.ts
Due: npx eslint --fix, npx prettier --write

fix typo
  packages/ui/src/components/sign-in/sign-in.tsx
  packages/ui/src/components/sign-up/sign-up.tsx
  packages/ui/src/primitives/separator.tsx
Due: npx eslint --fix, npx prettier --write

add separator, tweak spacing
  packages/ui/src/components/sign-in/sign-in.tsx
Due: npx eslint --fix, npx prettier --write

add empty changeset
  .changeset/purple-taxis-visit.md
Due: npx prettier --write

fix(ui): Add separator to choose-strategy step (#3827)
  .changeset/purple-taxis-visit.md
  packages/ui/src/components/sign-in/sign-in.tsx
  packages/ui/src/components/sign-up/sign-up.tsx
  packages/ui/src/primitives/separator.tsx
Due: npx eslint --fix, npx prettier --write

chore(clerk-js,localizations): Add signup start action link translations (#3826)
  .changeset/six-toys-clap.md
  packages/clerk-js/src/ui/components/SignUp/SignUpForm.tsx
  packages/localizations/src/ar-SA.ts
  packages/localizations/src/bg-BG.ts
  packages/localizations/src/cs-CZ.ts
  packages/localizations/src/da-DK.ts
  packages/localizations/src/de-DE.ts
  packages/localizations/src/el-GR.ts
  packages/localizations/src/en-US.ts
  packages/localizations/src/es-ES.ts
  packages/localizations/src/es-MX.ts
  packages/localizations/src/fi-FI.ts
  packages/localizations/src/fr-FR.ts
  packages/localizations/src/he-IL.ts
  packages/localizations/src/hu-HU.ts
  packages/localizations/src/it-IT.ts
  packages/localizations/src/ja-JP.ts
  packages/localizations/src/ko-KR.ts
  packages/localizations/src/mn-MN.ts
  packages/localizations/src/nb-NO.ts
  packages/localizations/src/nl-NL.ts
  packages/localizations/src/pl-PL.ts
  packages/localizations/src/pt-BR.ts
  packages/localizations/src/pt-PT.ts
  packages/localizations/src/ro-RO.ts
  packages/localizations/src/ru-RU.ts
  packages/localizations/src/sk-SK.ts
  packages/localizations/src/sr-RS.ts
  packages/localizations/src/sv-SE.ts
  packages/localizations/src/th-TH.ts
  packages/localizations/src/tr-TR.ts
  packages/localizations/src/uk-UA.ts
  packages/localizations/src/vi-VN.ts
  packages/localizations/src/zh-CN.ts
  packages/localizations/src/zh-TW.ts
  packages/types/src/localization.ts
Due: npx eslint --fix, npx prettier --write

fix(elements): Update sign in first factor sorting strategies
  packages/elements/src/internals/machines/sign-in/utils/starting-factors.ts
Due: npx eslint --fix, npx prettier --write

add changeset
  .changeset/curly-lemons-rhyme.md
Due: npx prettier --write

remove unused code
  packages/elements/src/internals/machines/sign-in/utils/starting-factors.ts
Due: npx eslint --fix, npx prettier --write

feat(clerk-js): Add ability to set active organization by slug
  packages/clerk-js/src/core/__tests__/clerk.test.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/utils/__tests__/organization.test.ts
  packages/clerk-js/src/utils/index.ts
  packages/clerk-js/src/utils/organization.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Add changeset
  .changeset/wicked-seahorses-juggle.md
Due: npx prettier --write

fix(elements): Update sign in first factor sorting strategies (#3828)
  .changeset/curly-lemons-rhyme.md
  packages/elements/src/internals/machines/sign-in/utils/starting-factors.ts
Due: npx eslint --fix, npx prettier --write

feat(chrome-extension): Export buildClerk
  .changeset/purple-walls-report.md
  packages/chrome-extension/src/index.ts
Due: npx eslint --fix, npx prettier --write

fix(backend): Correct return types for backend entity deletions
  .changeset/soft-zoos-serve.md
  packages/backend/src/api/endpoints/AllowlistIdentifierApi.ts
  packages/backend/src/api/endpoints/DomainApi.ts
  packages/backend/src/api/endpoints/EmailAddressApi.ts
  packages/backend/src/api/endpoints/OrganizationApi.ts
  packages/backend/src/api/endpoints/PhoneNumberApi.ts
  packages/backend/src/api/endpoints/RedirectUrlApi.ts
  packages/backend/src/api/endpoints/SamlConnectionApi.ts
  packages/backend/src/api/endpoints/UserApi.ts
  packages/backend/src/api/resources/JSON.ts
Due: npx eslint --fix, npx prettier --write

Replaced "Delete account" with spanish translation "Eliminar cuenta"
  packages/localizations/src/es-MX.ts
Due: npx eslint --fix, npx prettier --write

fix(backend): Add deleted object generic type to webhook events
  packages/backend/src/api/resources/Webhooks.ts
Due: npx eslint --fix, npx prettier --write

feat(backend): Add locked property to User object in SDK (#3748)
  .changeset/mean-jars-explode.md
  packages/backend/src/api/resources/User.ts
Due: npx eslint --fix, npx prettier --write

Create famous-tools-thank.md
  .changeset/famous-tools-thank.md
Due: npx prettier --write

Replaced "Delete account" with spanish translation "Eliminar cuenta" (#3832)
  .changeset/famous-tools-thank.md
  packages/localizations/src/es-MX.ts
Due: npx eslint --fix, npx prettier --write

add empty changeset
  .changeset/lemon-chairs-confess.md
Due: npx prettier --write

tweak default accent color and font-family
  packages/ui/src/global.css
  packages/ui/theme-builder/app/layout.tsx
  packages/ui/theme-builder/app/theme-builder.tsx
Due: npx eslint --fix, npx prettier --write

run prettier
  packages/ui/src/global.css
Due: none

Create dry-trainers-decide.md
  .changeset/dry-trainers-decide.md
Due: npx prettier --write

fix font inconsistencies
  packages/ui/src/components/sign-in/sign-in.tsx
  packages/ui/src/components/sign-up/sign-up.tsx
  packages/ui/src/primitives/card.tsx
  packages/ui/src/primitives/separator.tsx
Due: npx eslint --fix, npx prettier --write

add empty changeset
  .changeset/sharp-ads-sit.md
Due: npx prettier --write

fix(ui): Font inconsistencies (#3834)
  .changeset/sharp-ads-sit.md
  packages/ui/src/components/sign-in/sign-in.tsx
  packages/ui/src/components/sign-up/sign-up.tsx
  packages/ui/src/primitives/card.tsx
  packages/ui/src/primitives/separator.tsx
Due: npx eslint --fix, npx prettier --write

adjust card inner border-radius, add data attrs
  packages/ui/src/primitives/card.tsx
Due: npx eslint --fix, npx prettier --write
