Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

feat(nextjs): Introduce clerkMiddleware.test.ts
  packages/nextjs/src/server/clerkMiddleware.test.ts
  packages/nextjs/src/server/clerkMiddleware.ts
  packages/nextjs/src/utils/appendDevBrowserOnCrossOrigin.ts
Due: npx eslint --fix, npx prettier --write

feat(nextjs): Update integration tests
  integration/constants.ts
  integration/models/longRunningApplication.ts
  integration/scripts/setup.ts
  integration/testUtils/testAgainstRunningApps.ts
  integration/tests/protect.test.ts
Due: npx eslint --fix, npx prettier --write

feat(nextjs): Add changeset and inline docs
  .changeset/funny-avocados-shout.md
  packages/nextjs/src/server/clerkMiddleware.ts
  packages/nextjs/src/server/index.ts
Due: npx eslint --fix, npx prettier --write

feat(nextjs): Introduce clerkMiddleware (#2404)
  .changeset/funny-avocados-shout.md
  integration/constants.ts
  integration/models/longRunningApplication.ts
  integration/scripts/setup.ts
  integration/testUtils/testAgainstRunningApps.ts
  integration/tests/protect.test.ts
  packages/backend/src/constants.ts
  packages/backend/src/tokens/clerkRequest.ts
  packages/backend/src/tokens/clerkUrl.ts
  packages/fastify/src/__snapshots__/constants.test.ts.snap
  packages/nextjs/src/app-router/server/ClerkProvider.tsx
  packages/nextjs/src/app-router/server/auth.ts
  packages/nextjs/src/app-router/server/protect.ts
  packages/nextjs/src/constants.ts
  packages/nextjs/src/pages/__tests__/index.test.tsx
  packages/nextjs/src/server/__tests__/__snapshots__/exports.test.ts.snap
  packages/nextjs/src/server/authMiddleware.test.ts
  packages/nextjs/src/server/authMiddleware.ts
  packages/nextjs/src/server/clerkMiddleware.test.ts
  packages/nextjs/src/server/clerkMiddleware.ts
  packages/nextjs/src/server/index.ts
  packages/nextjs/src/server/protect.ts
  packages/nextjs/src/server/routeMatcher.ts
  packages/nextjs/src/server/types.ts
  packages/nextjs/src/types.ts
  packages/nextjs/src/utils/index.ts
  packages/nextjs/src/utils/serverRedirectWithAuth.ts
  packages/react/src/index.ts
  packages/react/src/types.ts
  packages/remix/src/client/ClerkApp.tsx
  packages/remix/src/client/RemixClerkProvider.tsx
  packages/remix/src/client/types.ts
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

Create pink-swans-fetch.md
  .changeset/pink-swans-fetch.md
Due: npx prettier --write

fix(localizations): FIx typo in ko-KR.ts (#2464)
  .changeset/pink-swans-fetch.md
  packages/localizations/src/ko-KR.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Version packages (alpha-v5) (#2449)
  .changeset/pre.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
Due: npx prettier --write

chore(elements): Add comments for modified types
  packages/elements/src/internals/machines/sign-in.types.ts
Due: npx eslint --fix, npx prettier --write

fix(shared): Invitations depends on wrong options (useOrganization)
  packages/shared/src/react/hooks/useOrganization.tsx
Due: npx eslint --fix, npx prettier --write

fix(shared): Invitations is depending on wrong options
  .changeset/thirty-cooks-cheer.md
Due: npx prettier --write

fix(clerk-js): Revalidate when user deletes organization
  .changeset/giant-rice-crash.md
  packages/clerk-js/src/ui/components/CreateOrganization/CreateOrganizationForm.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/ActionConfirmationPage.tsx
Due: npx eslint --fix, npx prettier --write

refactor(elements): Prep nested PR (#2470)
  .changeset/rude-falcons-grow.md
  packages/elements/examples/nextjs/components/debug.tsx
  packages/elements/src/internals/machines/sign-in.actors.ts
  packages/elements/src/internals/machines/sign-in.context.ts
  packages/elements/src/internals/machines/sign-in.machine.ts
  packages/elements/src/internals/machines/sign-in.types.ts
  packages/elements/src/internals/machines/utils/assert.ts
  packages/elements/src/internals/machines/utils/states.ts
Due: npx eslint --fix, npx prettier --write

chore(elements): Change ClerkHostRouter to ClerkRouter
  packages/elements/src/internals/machines/sign-in.machine.ts
Due: npx eslint --fix, npx prettier --write

refactor(elements): Use nested states
  .changeset/fast-hornets-report.md
  packages/elements/src/internals/machines/sign-in.actors.ts
  packages/elements/src/internals/machines/sign-in.machine.ts
Due: npx eslint --fix, npx prettier --write

chore(elements): Update contexts
  packages/elements/src/internals/machines/sign-in.context.ts
  packages/elements/src/sign-in/index.tsx
Due: npx eslint --fix, npx prettier --write

refactor(elements): Use nested states (#2471)
  .changeset/fast-hornets-report.md
  packages/elements/src/internals/machines/sign-in.actors.ts
  packages/elements/src/internals/machines/sign-in.context.ts
  packages/elements/src/internals/machines/sign-in.machine.ts
  packages/elements/src/sign-in/index.tsx
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Remove fallback data for paginated endpoint methods
  packages/clerk-js/src/core/resources/Organization.ts
  packages/clerk-js/src/core/resources/OrganizationMembership.ts
  packages/clerk-js/src/core/resources/OrganizationSuggestion.ts
  packages/clerk-js/src/core/resources/UserOrganizationInvitation.ts
Due: npx eslint --fix, npx prettier --write

chore(upgrade): Add shared package changes
  package-lock.json
  packages/upgrade/package-lock.json
  packages/upgrade/source/util/load-change.js
  packages/upgrade/source/versions/v5/common/api-key-to-secret-key.md
  packages/upgrade/source/versions/v5/common/clerkprovider-frontendapi.md
  packages/upgrade/source/versions/v5/common/frontend-api-to-publishable-key.md
  packages/upgrade/source/versions/v5/common/handlemagiclinkverification.md
  packages/upgrade/source/versions/v5/common/ismagiclinkerror.md
  packages/upgrade/source/versions/v5/common/magiclinkerror.md
  packages/upgrade/source/versions/v5/common/magiclinkerrorcode.md
  packages/upgrade/source/versions/v5/common/setsession.md
  packages/upgrade/source/versions/v5/common/usemagiclink.md
  packages/upgrade/source/versions/v5/index.js
  packages/upgrade/source/versions/v5/shared/buildrequesturl.md
  packages/upgrade/source/versions/v5/shared/organizationcontext.md
  packages/upgrade/source/versions/v5/shared/useorganizationlist-organizationlist.md
Due: npx eslint --fix, npx prettier --write

feat(elements): Rename field type to name, as name will generally drive the type
  packages/elements/src/common/form.tsx
  packages/elements/src/internals/machines/sign-in.context.ts
  packages/elements/src/internals/machines/sign-in.machine.ts
  packages/elements/src/internals/machines/sign-in.types.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Updated icons to match the designs & applied some more UI fixes
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationMembersTabInvitations.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationMembersTabRequests.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationProfileNavbar.tsx
  packages/clerk-js/src/ui/elements/Navbar.tsx
  packages/clerk-js/src/ui/elements/PasswordInput.tsx
  packages/clerk-js/src/ui/elements/Section.tsx
  packages/clerk-js/src/ui/elements/Select.tsx
  packages/clerk-js/src/ui/elements/Tabs.tsx
  packages/clerk-js/src/ui/icons/arrow-up-down.svg
  packages/clerk-js/src/ui/icons/auth-app.svg
  packages/clerk-js/src/ui/icons/caret-left.svg
  packages/clerk-js/src/ui/icons/caret-right.svg
  packages/clerk-js/src/ui/icons/caret.svg
  packages/clerk-js/src/ui/icons/email.svg
  packages/clerk-js/src/ui/icons/exclamation-triangle.svg
  packages/clerk-js/src/ui/icons/eye-slash.svg
  packages/clerk-js/src/ui/icons/eye.svg
  packages/clerk-js/src/ui/icons/menu.svg
  packages/clerk-js/src/ui/icons/organization.svg
  packages/clerk-js/src/ui/icons/plus.svg
  packages/clerk-js/src/ui/icons/selector.svg
  packages/clerk-js/src/ui/icons/tick-shield.svg
  packages/clerk-js/src/ui/icons/user.svg
  packages/clerk-js/src/ui/icons/users.svg
  packages/clerk-js/src/ui/primitives/Badge.tsx
  packages/clerk-js/src/ui/primitives/Button.tsx
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Make Icon for <SelectButton/> customizable
  packages/clerk-js/src/ui/elements/PhoneInput/PhoneInput.tsx
  packages/clerk-js/src/ui/elements/Select.tsx
Due: npx eslint --fix, npx prettier --write

chore(repo): Add Changeset
  .changeset/smart-queens-kiss.md
Due: npx prettier --write

feat(elements): Refactor input and field to always use Radix components, infer input type from name
  packages/elements/examples/nextjs/app/sign-in/[[...sign-in]]/page.tsx
  packages/elements/src/common/form.tsx
  packages/elements/src/internals/machines/sign-in.context.ts
  packages/elements/src/internals/machines/sign-in.machine.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Add changeset
  .changeset/slow-dancers-watch.md
Due: npx prettier --write

fix(clerk-js): Remove focus ring from some buttons
  packages/clerk-js/src/ui/elements/Actions.tsx
  packages/clerk-js/src/ui/elements/FieldControl.tsx
  packages/clerk-js/src/ui/elements/PhoneInput/PhoneInput.tsx
  packages/clerk-js/src/ui/elements/RadioGroup.tsx
  packages/clerk-js/src/ui/elements/Tabs.tsx
  packages/clerk-js/src/ui/elements/TagInput.tsx
  packages/clerk-js/src/ui/styledSystem/common.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): UI fixes for <OrganizationSwitcher/>
  packages/clerk-js/src/ui/components/OrganizationSwitcher/OtherOrganizationActions.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/UserInvitationSuggestionList.tsx
Due: npx eslint --fix, npx prettier --write

chore(repo): Add Changeset
  .changeset/small-swans-stare.md
Due: npx prettier --write

test(clerk-js): Add unit test
  packages/clerk-js/src/ui/hooks/__tests__/useCoreOrganization.test.tsx
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Update changeset
  .changeset/thirty-cooks-cheer.md
Due: npx prettier --write

fix(shared): Invitations depends on wrong options (useOrganization) (#2472)
  .changeset/thirty-cooks-cheer.md
  packages/clerk-js/src/ui/hooks/__tests__/useCoreOrganization.test.tsx
  packages/shared/src/react/hooks/useOrganization.tsx
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Show error alert inside FormContainer
  .changeset/wicked-suits-remain.md
  packages/clerk-js/src/ui/common/RemoveResourceForm.tsx
  packages/clerk-js/src/ui/components/CreateOrganization/CreateOrganizationForm.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/ActionConfirmationPage.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/AddDomainForm.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/InviteMembersScreen.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/ProfileForm.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/VerifiedDomainForm.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/VerifyDomainForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/AddAuthenticatorApp.tsx
  packages/clerk-js/src/ui/components/UserProfile/ConnectedAccountsForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/DeleteUserForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/EmailForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/MfaBackupCodeCreateForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/MfaBackupCodeScreen.tsx
  packages/clerk-js/src/ui/components/UserProfile/MfaForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/MfaPhoneCodeScreen.tsx
  packages/clerk-js/src/ui/components/UserProfile/PasswordForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/PhoneForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/ProfileForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/UpdatePasswordForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/UsernameForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/VerifyTOTP.tsx
  packages/clerk-js/src/ui/components/UserProfile/Web3Form.tsx
  packages/clerk-js/src/ui/elements/FormContainer.tsx
  packages/clerk-js/src/ui/elements/SuccessPage.tsx
  packages/clerk-js/src/ui/elements/index.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): UI fixes for <OrganizationSwitcher/> (#2477)
  .changeset/small-swans-stare.md
  packages/clerk-js/src/ui/components/OrganizationSwitcher/OtherOrganizationActions.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/UserInvitationSuggestionList.tsx
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Update icons to match the designs & UI fixes (#2475)
  .changeset/smart-queens-kiss.md
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationMembersTabInvitations.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationMembersTabRequests.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationProfileNavbar.tsx
  packages/clerk-js/src/ui/elements/Actions.tsx
  packages/clerk-js/src/ui/elements/FieldControl.tsx
  packages/clerk-js/src/ui/elements/Navbar.tsx
  packages/clerk-js/src/ui/elements/PasswordInput.tsx
  packages/clerk-js/src/ui/elements/PhoneInput/PhoneInput.tsx
  packages/clerk-js/src/ui/elements/RadioGroup.tsx
  packages/clerk-js/src/ui/elements/Section.tsx
  packages/clerk-js/src/ui/elements/Select.tsx
  packages/clerk-js/src/ui/elements/Tabs.tsx
  packages/clerk-js/src/ui/elements/TagInput.tsx
  packages/clerk-js/src/ui/icons/arrow-up-down.svg
  packages/clerk-js/src/ui/icons/auth-app.svg
  packages/clerk-js/src/ui/icons/caret-left.svg
  packages/clerk-js/src/ui/icons/caret-right.svg
  packages/clerk-js/src/ui/icons/caret.svg
  packages/clerk-js/src/ui/icons/email.svg
  packages/clerk-js/src/ui/icons/exclamation-triangle.svg
  packages/clerk-js/src/ui/icons/eye-slash.svg
  packages/clerk-js/src/ui/icons/eye.svg
  packages/clerk-js/src/ui/icons/menu.svg
  packages/clerk-js/src/ui/icons/organization.svg
  packages/clerk-js/src/ui/icons/plus.svg
  packages/clerk-js/src/ui/icons/selector.svg
  packages/clerk-js/src/ui/icons/tick-shield.svg
  packages/clerk-js/src/ui/icons/user.svg
  packages/clerk-js/src/ui/icons/users.svg
  packages/clerk-js/src/ui/primitives/Badge.tsx
  packages/clerk-js/src/ui/primitives/Button.tsx
  packages/clerk-js/src/ui/styledSystem/common.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Correctly align buttons in organization members page
  .changeset/brown-pets-smile.md
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationMembersTabInvitations.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationMembersTabRequests.tsx
  packages/types/src/elementIds.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Revalidate when user deletes organization (#2473)
  .changeset/giant-rice-crash.md
  packages/clerk-js/src/ui/components/CreateOrganization/CreateOrganizationForm.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/ActionConfirmationPage.tsx
Due: npx eslint --fix, npx prettier --write

Create es-MX (#2419)
  packages/localizations/src/es-MX
Due: none

fix(clerk-js): Correctly align buttons in organization members page (#2480)
  .changeset/brown-pets-smile.md
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationMembersTabInvitations.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationMembersTabRequests.tsx
  packages/types/src/elementIds.ts
Due: npx eslint --fix, npx prettier --write

feat(localizations): Introduce es-MX localization
  .changeset/nasty-lemons-obey.md
  packages/localizations/src/es-MX.ts
  packages/localizations/src/index.ts
  packages/localizations/subpaths.mjs
Due: npx eslint --fix, npx prettier --write

Path conditions:
  npx eslint --fix: any of: *.{mjs,js,jsx,ts,tsx}
  npx prettier --write: (any of: *.{mjs,js,jsx,ts,tsx}) or (any of: *.{json,md,mdx})
