Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

fix(clerk-js): Block /tokens requests until fraud detection completes (#4595)
  packages/clerk-js/src/core/fraudProtection.ts
  packages/clerk-js/src/core/resources/Session.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Add changeset
  .changeset/dirty-pens-mix.md
Due: npx prettier --write

chore(repo): Dedupe pnpm-lock.yaml (#4587)
  pnpm-lock.yaml
Due: none

chore(clerk-js): Exclude `_clerk_session_id` query param from `/waitlist` endpoint (#4594)
  .changeset/proud-carrots-carry.md
  packages/clerk-js/src/core/__tests__/fapiClient.test.ts
  packages/clerk-js/src/core/fapiClient.ts
Due: npx eslint --fix, npx prettier --write

revert with next.config.js
  playground/app-router/next.config.js
  playground/app-router/next.config.mjs
Due: npx eslint --fix, npx prettier --write

cleanup
  packages/backend/src/api/factory.ts
  packages/backend/src/api/request.ts
  packages/backend/src/tokens/handshake.ts
  packages/backend/src/tokens/keys.ts
  packages/nextjs/src/app-router/server-actions.ts
  packages/nextjs/src/app-router/server/ClerkProvider.tsx
  packages/nextjs/src/server/accountless-node.ts
Due: npx eslint --fix, npx prettier --write

update snapshot test for fastify
  packages/fastify/src/__tests__/__snapshots__/constants.test.ts.snap
Due: none

chore(shared,types,clerk-react,vue): Share hook return types (#4583)
  .changeset/mighty-clouds-explode.md
  packages/react/src/hooks/useAuth.ts
  packages/react/src/hooks/useSignIn.ts
  packages/react/src/hooks/useSignUp.ts
  packages/shared/src/react/hooks/useSession.ts
  packages/shared/src/react/hooks/useSessionList.ts
  packages/shared/src/react/hooks/useUser.ts
  packages/types/src/hooks.ts
  packages/types/src/index.ts
  packages/vue/src/composables/useAuth.ts
  packages/vue/src/composables/useSession.ts
  packages/vue/src/composables/useSessionList.ts
  packages/vue/src/composables/useSignIn.ts
  packages/vue/src/composables/useSignUp.ts
  packages/vue/src/composables/useUser.ts
Due: npx eslint --fix, npx prettier --write

fix e2e tests
  integration/presets/next.ts
  packages/nextjs/src/app-router/client/ClerkProvider.tsx
Due: npx eslint --fix, npx prettier --write

attempt to fix handshake e2es
  packages/nextjs/src/server/clerkMiddleware.ts
Due: npx eslint --fix, npx prettier --write

attempt to fix handshake e2es 2
  packages/nextjs/src/server/clerkMiddleware.ts
  packages/nextjs/src/server/utils.ts
Due: npx eslint --fix, npx prettier --write

feat(clerk-js): Use docs dark tailwind config
  packages/clerk-js/sandbox/app.js
  packages/clerk-js/sandbox/index.html
Due: npx eslint --fix, npx prettier --write

Add translation key to reconnect enterprise account
  packages/localizations/src/ar-SA.ts
  packages/localizations/src/be-BY.ts
  packages/localizations/src/bg-BG.ts
  packages/localizations/src/cs-CZ.ts
  packages/localizations/src/da-DK.ts
  packages/localizations/src/de-DE.ts
  packages/localizations/src/el-GR.ts
  packages/localizations/src/en-US.ts
  packages/localizations/src/es-ES.ts
  packages/localizations/src/es-MX.ts
  packages/localizations/src/fi-FI.ts
  packages/localizations/src/fr-FR.ts
  packages/localizations/src/he-IL.ts
  packages/localizations/src/hu-HU.ts
  packages/localizations/src/is-IS.ts
  packages/localizations/src/it-IT.ts
  packages/localizations/src/ja-JP.ts
  packages/localizations/src/ko-KR.ts
  packages/localizations/src/mn-MN.ts
  packages/localizations/src/nb-NO.ts
  packages/localizations/src/nl-NL.ts
  packages/localizations/src/pl-PL.ts
  packages/localizations/src/pt-BR.ts
  packages/localizations/src/pt-PT.ts
  packages/localizations/src/ro-RO.ts
  packages/localizations/src/ru-RU.ts
  packages/localizations/src/sk-SK.ts
  packages/localizations/src/sr-RS.ts
  packages/localizations/src/sv-SE.ts
  packages/localizations/src/th-TH.ts
  packages/localizations/src/tr-TR.ts
  packages/localizations/src/uk-UA.ts
  packages/localizations/src/vi-VN.ts
  packages/localizations/src/zh-CN.ts
  packages/localizations/src/zh-TW.ts
  packages/types/src/localization.ts
Due: npx eslint --fix, npx prettier --write

Extract OAuth error codes to a separate module
  packages/clerk-js/src/ui/components/UserProfile/ConnectedAccountsSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/utils.ts
Due: npx eslint --fix, npx prettier --write

Add ability to reconnect to enterprise account
  packages/clerk-js/src/ui/components/UserProfile/EnterpriseAccountsSection.tsx
Due: npx eslint --fix, npx prettier --write

feat(repo): use workspace: protocol
  .changeset/small-knives-behave.md
  .github/actions/init-blacksmith/action.yml
  .github/actions/init/action.yml
  .github/workflows/ci.yml
  .github/workflows/e2e-cleanups.yml
  .github/workflows/nightly-checks.yml
  .npmrc
  integration/presets/astro.ts
  integration/presets/elements.ts
  integration/presets/expo.ts
  integration/presets/express.ts
  integration/presets/next.ts
  integration/presets/react.ts
  integration/presets/remix.ts
  integration/presets/tanstack.ts
  integration/presets/vue.ts
  integration/templates/expo-web/metro.config.js
  packages/astro/package.json
  packages/backend/package.json
  packages/chrome-extension/package.json
  packages/clerk-js/package.json
  packages/elements/package.json
  packages/expo-passkeys/package.json
  packages/expo/package.json
  packages/express/package.json
  packages/fastify/package.json
  packages/localizations/package.json
  packages/nextjs/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/sdk-node/package.json
  packages/shared/package.json
  packages/tanstack-start/package.json
  packages/testing/package.json
  packages/themes/package.json
  packages/ui/package.json
  packages/vue/package.json
  pnpm-lock.yaml
Due: npx eslint --fix, npx prettier --write

chore(nuxt): Update README
  packages/nuxt/README.md
Due: npx prettier --write

chore(nuxt): Update imports
  packages/nuxt/src/index.ts
Due: npx eslint --fix, npx prettier --write

chore(nuxt): Add Nuxt v4 support
  package-lock.json
  packages/nuxt/src/module.ts
Due: npx eslint --fix, npx prettier --write

chore(nuxt): Add more comments
  packages/nuxt/src/index.ts
Due: npx eslint --fix, npx prettier --write

test(nuxt): Improved e2e tests
  integration/presets/nuxt.ts
  integration/templates/nuxt-node/middleware/auth.global.js
  integration/templates/nuxt-node/nuxt.config.js
  integration/templates/nuxt-node/pages/index.vue
  integration/templates/nuxt-node/pages/only-admin.vue
  integration/templates/nuxt-node/pages/sign-in.vue
  integration/templates/nuxt-node/pages/user.vue
  integration/templates/nuxt-node/server/api/me.js
  integration/tests/nuxt/basic.test.ts
  integration/tests/vue/nuxt.test.ts
  package.json
  packages/nuxt/src/runtime/plugin.ts
Due: npx eslint --fix, npx prettier --write

fix(vue,nuxt): type exports
  packages/nuxt/package.json
Due: npx prettier --write

test(nuxt): Initial nuxt e2e config
  integration/presets/index.ts
  integration/presets/longRunningApps.ts
  integration/presets/nuxt.ts
  integration/templates/index.ts
  integration/templates/nuxt-node/app.vue
  integration/templates/nuxt-node/nuxt.config.js
  integration/templates/nuxt-node/package.json
  integration/templates/nuxt-node/pages/index.vue
  integration/tests/vue/nuxt.test.ts
  packages/nuxt/package.json
  turbo.json
Due: npx eslint --fix, npx prettier --write

chore(nuxt): Rename main entrypoint for more clarity
  packages/nuxt/src/index.ts
Due: npx eslint --fix, npx prettier --write

chore(nuxt): Revert version
  packages/nuxt/src/module.ts
Due: npx eslint --fix, npx prettier --write

chore: add changeset
  .changeset/cuddly-tools-live.md
Due: npx prettier --write

feat(nuxt): Add Nuxt package
  packages/nuxt/src/index.ts
  packages/nuxt/src/runtime/plugin.ts
Due: npx eslint --fix, npx prettier --write

chore(nuxt): Add @clerk/types to dev deps
  package-lock.json
Due: npx prettier --write

chore: remove package lock
  package-lock.json
Due: npx prettier --write

test(nuxt): Remove app config
  .changeset/cuddly-tools-live.md
  integration/presets/index.ts
Due: npx eslint --fix, npx prettier --write

test(nuxt): Unskip tests
  integration/tests/nuxt/basic.test.ts
Due: npx eslint --fix, npx prettier --write

chore(nuxt): Remove unused async in readme
  packages/nuxt/README.md
Due: npx prettier --write

test(nuxt): Remove unused nuxt config
  integration/templates/nuxt-node/nuxt.config.js
Due: npx eslint --fix, npx prettier --write

chore: add placeholder changeset
  .changeset/wet-dryers-pay.md
Due: npx prettier --write

ci(nuxt): Add nuxt to integration test
  .github/workflows/ci.yml
Due: none

fix(clerk-js): Manually provide sign-in and sign-up urls
  packages/clerk-js/sandbox/app.js
Due: npx eslint --fix, npx prettier --write

feat(clerk-js): Add sandbox component showcase (#4589)
  .changeset/ten-jeans-double.md
  packages/clerk-js/package.json
  packages/clerk-js/rspack.config.js
  packages/clerk-js/sandbox/app.js
  packages/clerk-js/sandbox/index.html
Due: npx eslint --fix, npx prettier --write

Path conditions:
  npx eslint --fix: any of: *.{mjs,js,jsx,ts,tsx}
  npx prettier --write: (any of: *.{mjs,js,jsx,ts,tsx}) or (any of: *.{json,md,mdx})
