Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{mjs,js,jsx,ts,tsx}": ["npx eslint --fix", "npx prettier --write"],
  "*.{json,md,mdx}": ["npx prettier --write"]
}

fix(repo): Fix syntax error in composite GHA (#3807)
  .github/actions/ensure-stable-pr/action.yml
Due: none

fix(dev-cli): Call mkdir before attempting to write the config file (#3804)
  .changeset/heavy-pillows-sparkle.md
  packages/dev-cli/src/commands/init.js
Due: npx eslint --fix, npx prettier --write

feat(astro): Add opt-out support for SDK telemetry
  packages/astro/src/env.d.ts
  packages/astro/src/integration/create-integration.ts
  packages/astro/src/internal/merge-env-vars-with-params.ts
  packages/astro/src/server/clerk-client.ts
  packages/astro/src/server/get-safe-env.ts
  packages/astro/src/types.ts
Due: npx eslint --fix, npx prettier --write

chore(astro): Add changeset
  .changeset/four-pots-type.md
Due: npx prettier --write

fix(repo): Check for PR updates
  .github/workflows/preview.yml
  .github/workflows/release-snapshot.yml
Due: none

fix(repo): Check for PR updates (#3809)
  .github/workflows/preview.yml
  .github/workflows/release-snapshot.yml
Due: none

fix(repo): GHA Syntax Error
  .github/workflows/preview.yml
  .github/workflows/release-snapshot.yml
Due: none

fix(repo): GHA Syntax Error (#3811)
  .github/workflows/preview.yml
  .github/workflows/release-snapshot.yml
Due: none

fix(repo): GHA Syntax Error
  .github/workflows/release-snapshot.yml
Due: none

chore(repo): Test DO NOT MERGE
  packages/elements/src/internals/machines/form/index.ts
Due: npx eslint --fix, npx prettier --write

feat(ui): Add support for password localization
  packages/elements/src/internals/machines/form/form.types.ts
  packages/elements/src/react/common/form/index.tsx
  packages/elements/src/react/hooks/use-password.hook.ts
  packages/ui/src/common/password-field.tsx
  packages/ui/src/hooks/use-localizations.ts
  packages/ui/src/utils/makeLocalizable.ts
Due: npx eslint --fix, npx prettier --write

fix(repo): GHA context output
  .github/workflows/preview.yml
  .github/workflows/release-snapshot.yml
Due: none

fix(repo): GHA context output (#3813)
  .github/workflows/preview.yml
  .github/workflows/release-snapshot.yml
Due: none

fix(repo): GHA Syntax Error (#3814)
  .github/workflows/preview.yml
  .github/workflows/release-snapshot.yml
Due: none

fix(repo): GHA PR changes check
  .github/workflows/preview.yml
  .github/workflows/release-snapshot.yml
Due: none

fix(repo): GHA PR changes check (#3815)
  .github/workflows/preview.yml
  .github/workflows/release-snapshot.yml
Due: none

fix(repo): GHA PR changes check (#3816)
  .github/workflows/preview.yml
  .github/workflows/release-snapshot.yml
Due: none

Adds changeset
  .changeset/rude-wasps-wonder.md
Due: npx prettier --write

Do not send captcha params for oauth_google
  packages/clerk-js/src/core/resources/SignUp.ts
Due: npx eslint --fix, npx prettier --write

bypassCaptcha for `oauth_microsoft` & `oauth_apple` strategies as well
  packages/clerk-js/src/core/resources/SignUp.ts
Due: npx eslint --fix, npx prettier --write

Update .changeset/rude-wasps-wonder.md
  .changeset/rude-wasps-wonder.md
Due: npx prettier --write

Adds a comment
  packages/clerk-js/src/core/resources/SignUp.ts
Due: npx eslint --fix, npx prettier --write

feat(clerk-js): Adjust captcha parameter handling for sign ups with Google (#3806)
  .changeset/rude-wasps-wonder.md
  packages/clerk-js/src/core/resources/SignUp.ts
Due: npx eslint --fix, npx prettier --write

feat(ui): Localize zxcvbn validations
  packages/ui/src/utils/makeLocalizable.ts
Due: npx eslint --fix, npx prettier --write

feat(clerk-js): Adjust captcha parameter handling for sign ups with Google (#3806) (#3817)
  .changeset/rude-wasps-wonder.md
  packages/clerk-js/src/core/resources/SignUp.ts
Due: npx eslint --fix, npx prettier --write

Version Packages - V4 (#3818)
  .changeset/rude-wasps-wonder.md
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
Due: npx prettier --write

Update cuddly-spoons-decide.md
  .changeset/cuddly-spoons-decide.md
Due: npx prettier --write

feat(astro): Add opt-out support for SDK telemetry (#3808)
  .changeset/four-pots-type.md
  packages/astro/src/env.d.ts
  packages/astro/src/integration/create-integration.ts
  packages/astro/src/internal/merge-env-vars-with-params.ts
  packages/astro/src/server/clerk-client.ts
  packages/astro/src/server/get-safe-env.ts
  packages/astro/src/types.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-expo): Update error message for components used in native environments
  packages/expo/src/web/uiComponents.tsx
Due: npx eslint --fix, npx prettier --write

chore(ui): SignIn hook up field translations (#3802)
  .changeset/plenty-buttons-repair.md
  packages/ui/src/common/email-or-username-or-phone-number-field.tsx
  packages/ui/src/common/phone-number-or-username-field.tsx
  packages/ui/src/components/sign-in/sign-in.tsx
Due: npx eslint --fix, npx prettier --write

Update packages/clerk-js/src/ui/Components.tsx
  packages/clerk-js/src/ui/Components.tsx
Due: npx eslint --fix, npx prettier --write

Update .changeset/cuddly-spoons-decide.md
  .changeset/cuddly-spoons-decide.md
Due: npx prettier --write

feat(clerk-js): Support open userProfile and organizationProfile modals to specific navitems (#3732)
  .changeset/cuddly-spoons-decide.md
  packages/clerk-js/src/ui/Components.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/OrganizationSwitcherPopover.tsx
  packages/clerk-js/src/ui/components/UserButton/useMultisessionActions.tsx
  packages/clerk-js/src/ui/hooks/useNavigateToFlowStart.ts
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

Updated missing and untranslated Arabic localizations
  packages/localizations/src/ar-SA.ts
Due: npx eslint --fix, npx prettier --write

chore(types): Add experimental tag on startPath type
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

Create young-otters-kneel.md
  .changeset/young-otters-kneel.md
Due: npx prettier --write

chore(types): Add experimental tag on startPath type (#3819)
  .changeset/young-otters-kneel.md
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write
