Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --fix, pnpm prettier --write

Update tr-TR.ts
  packages/localizations/src/tr-TR.ts
Due: pnpm eslint --fix, pnpm prettier --write

add changeset
  .changeset/neat-geese-flow.md
Due: pnpm prettier --write

Update ClerkContextProvider.tsx
  packages/react/src/contexts/ClerkContextProvider.tsx
Due: pnpm eslint --fix, pnpm prettier --write

Delete .changeset/perfect-turtles-do.md
  .changeset/perfect-turtles-do.md
Due: pnpm prettier --write

shadow
  packages/clerk-js/src/ui/elements/SegmentedControl.tsx
  packages/clerk-js/src/ui/foundations/shadows.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix(clerk-js): Remove setActive() call from signOut() (#5171)
  .changeset/dry-tigers-mate.md
  .changeset/silver-masks-knock.md
  integration/templates/next-app-router/src/app/page.tsx
  integration/templates/next-app-router/src/app/protected/page.tsx
  integration/templates/react-vite/src/App.tsx
  integration/templates/react-vite/src/protected/index.tsx
  integration/tests/sign-out-smoke.test.ts
  packages/clerk-js/src/core/__tests__/clerk.test.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/global.d.ts
  packages/clerk-js/src/utils/beforeUnloadTracker.ts
  packages/nextjs/src/app-router/client/ClerkProvider.tsx
  packages/nextjs/src/global.d.ts
Due: pnpm eslint --fix, pnpm prettier --write

Update `inviterUserId` type to nullable
  .changeset/rude-pumas-jog.md
  packages/backend/src/api/endpoints/OrganizationApi.ts
Due: pnpm eslint --fix, pnpm prettier --write

feat(*): Introduce WebhookEventPayload<TWebhookEventType> for extracting typed webhook payloads
  .changeset/thirty-tomatoes-brush.md
  packages/astro/src/server/index.ts
  packages/backend/src/api/resources/Webhooks.ts
  packages/backend/src/api/resources/index.ts
  packages/backend/src/index.ts
  packages/nextjs/src/server/index.ts
  packages/react-router/src/ssr/index.ts
  packages/remix/src/ssr/index.ts
  packages/tanstack-start/src/server/index.ts
Due: pnpm eslint --fix, pnpm prettier --write

wip
  packages/clerk-js/src/core/resources/Base.ts
  packages/clerk-js/src/ui/components/SignIn/SignIn.tsx
  packages/clerk-js/src/ui/contexts/components/SignIn.ts
  packages/clerk-js/src/ui/contexts/components/SignUp.ts
  packages/clerk-js/src/ui/types.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix(clerk-react): Enhance RedirectToSignIn session check for compatibility with older clerk-js versions
  packages/react/src/components/controlComponents.tsx
Due: pnpm eslint --fix, pnpm prettier --write

Create cold-gifts-add.md
  .changeset/cold-gifts-add.md
Due: pnpm prettier --write

Update .changeset/cold-gifts-add.md
  .changeset/cold-gifts-add.md
Due: pnpm prettier --write

fix(clerk-react): Enhance RedirectToSignIn session check for compatibility with older clerk-js versions (#5261)
  .changeset/cold-gifts-add.md
  packages/react/src/components/controlComponents.tsx
Due: pnpm eslint --fix, pnpm prettier --write

ci(repo): Version packages (#5259)
  .changeset/cold-gifts-add.md
  .changeset/dry-tigers-mate.md
  .changeset/silver-masks-knock.md
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
Due: pnpm prettier --write

make clerk-js work without environment/client
  packages/clerk-js/src/ui/common/constants.ts
  packages/clerk-js/src/ui/components/SignIn/SignIn.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/contexts/EnvironmentContext.tsx
  packages/clerk-js/src/ui/hooks/useSupportEmail.ts
  packages/clerk-js/src/ui/localization/applyTokensToString.ts
  packages/clerk-js/src/utils/normalizeRoutingOptions.ts
Due: pnpm eslint --fix, pnpm prettier --write

Update nl-NL.ts
  packages/localizations/src/nl-NL.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix(integration): run sessions tests with disabled web security
  integration/playwright.config.ts
  integration/scripts/proxyServer.ts
  integration/tests/sessions/root-subdomain-prod-instances.test.ts
  package.json
Due: pnpm eslint --fix, pnpm prettier --write

Apply suggestions from code review
  integration/playwright.config.ts
Due: pnpm eslint --fix, pnpm prettier --write

feat(clerk-js): Use Account Portal for popup callback
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/common/redirects.ts
  packages/clerk-js/src/ui/components/SignIn/SignIn.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInPopupCallback.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInSocialButtons.tsx
  packages/types/src/clerk.ts
Due: pnpm eslint --fix, pnpm prettier --write

refactor(clerk-js): Commerce `<PricingTable />`
  packages/clerk-js/src/ui/components/PricingTable/PricingTable.tsx
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/clerk-js/src/ui/polishedAppearance.ts
  packages/types/src/appearance.ts
Due: pnpm eslint --fix, pnpm prettier --write

move localhost tests
  integration/tests/localhost/localhost-different-port-different-instance.test.ts
  integration/tests/localhost/localhost-different-port-same-instance.test.ts
  integration/tests/localhost/localhost-switch-instance.test.ts
Due: pnpm eslint --fix, pnpm prettier --write

wip
  package.json
Due: pnpm prettier --write

add localhost tests to testing matrix
  .github/workflows/ci.yml
Due: none

add turbo config
  turbo.json
Due: pnpm prettier --write

wip
  packages/clerk-js/src/ui/components/PricingTable/PlanCard.tsx
  packages/clerk-js/src/ui/components/PricingTable/PricingTable.tsx
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/types/src/appearance.ts
Due: pnpm eslint --fix, pnpm prettier --write

chore: Add changeset
  .changeset/serious-tools-double.md
Due: pnpm prettier --write

wip
  integration/tests/localhost/localhost-different-port-different-instance.test.ts
  integration/tests/localhost/localhost-different-port-same-instance.test.ts
  integration/tests/localhost/localhost-switch-instance.test.ts
Due: pnpm eslint --fix, pnpm prettier --write

Do not close modals on `Clerk.navigate` if the origin is not outisde component
  .changeset/old-cherries-laugh.md
  integration/tests/session-tasks-multi-session.test.ts
  integration/tests/session-tasks-sign-in.test.ts
  integration/tests/session-tasks-sign-up.test.ts
  packages/clerk-js/src/core/__tests__/clerk.redirects.test.ts
  packages/clerk-js/src/core/auth/AuthCookieService.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/events.ts
  packages/clerk-js/src/core/resources/Session.ts
  packages/clerk-js/src/core/warnings.ts
  packages/clerk-js/src/ui/common/withRedirect.tsx
  packages/clerk-js/src/ui/components/SignIn/SignIn.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInAccountSwitcher.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorOne.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorTwo.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInSSOCallback.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpSSOCallback.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpStart.tsx
  packages/clerk-js/src/ui/components/Task/Task.tsx
  packages/clerk-js/src/ui/router/BaseRouter.tsx
  packages/clerk-js/src/utils/componentGuards.ts
  packages/react/src/isomorphicClerk.ts
  packages/types/src/clerk.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix(clerk-js): Only allow accountPortalDomain messages
  packages/clerk-js/src/core/clerk.ts
Due: pnpm eslint --fix, pnpm prettier --write

wip
  packages/clerk-js/src/ui/components/PricingTable/PlanCard.tsx
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/types/src/appearance.ts
Due: pnpm eslint --fix, pnpm prettier --write

Create wise-cameras-clean.md
  .changeset/wise-cameras-clean.md
Due: pnpm prettier --write

Create grumpy-pandas-bathe.md
  .changeset/grumpy-pandas-bathe.md
Due: pnpm prettier --write

fix conflicts
  pnpm-lock.yaml
Due: none

fix(clerk-js): Display emailAddress validation errors in `<Waitlist />` component
  .changeset/poor-insects-yell.md
  packages/clerk-js/src/ui/components/Waitlist/WaitlistForm.tsx
Due: pnpm eslint --fix, pnpm prettier --write

chore(repo): Add changeset
  .changeset/sharp-sheep-reflect.md
Due: pnpm prettier --write

fix(clerk-js): Correctly show alternative verification methods
  packages/clerk-js/src/ui/components/UserVerification/AlternativeMethods.tsx
  packages/clerk-js/src/ui/components/UserVerification/UVFactorTwoPhoneCodeCard.tsx
  packages/clerk-js/src/ui/components/UserVerification/UserVerificationFactorOne.tsx
  packages/clerk-js/src/ui/hooks/useAlternativeStrategies.ts
Due: pnpm eslint --fix, pnpm prettier --write

tests(clerk-js): Add test for second factor alternative methods
  packages/clerk-js/src/ui/components/UserVerification/UserVerificationFactorTwo.tsx
  packages/clerk-js/src/ui/components/UserVerification/__tests__/UVFactorTwo.test.tsx
Due: pnpm eslint --fix, pnpm prettier --write

fix(clerk-js): Correctly show alternative methods for user re-verification
  packages/clerk-js/src/ui/components/UserVerification/AlternativeMethods.tsx
  packages/clerk-js/src/ui/components/UserVerification/UVFactorOneCodeForm.tsx
  packages/clerk-js/src/ui/components/UserVerification/UVFactorOnePhoneCodeCard.tsx
  packages/clerk-js/src/ui/components/UserVerification/UVFactorTwoCodeForm.tsx
  packages/clerk-js/src/ui/components/UserVerification/UserVerificationFactorTwo.tsx
  packages/clerk-js/src/ui/components/UserVerification/UserVerificationFactorTwoTOTP.tsx
  packages/clerk-js/src/ui/hooks/useAlternativeStrategies.ts
Due: pnpm eslint --fix, pnpm prettier --write

Path conditions:
  pnpm eslint --fix: any of: *.{mjs,js,jsx,ts,tsx,vue}
  pnpm prettier --write: (any of: *.{mjs,js,jsx,ts,tsx,vue}) or (any of: *.{json,md,mdx})
