Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{mjs,js,jsx,ts,tsx}": ["npx eslint --fix", "npx prettier --write"],
  "*.{json,md,mdx}": ["npx prettier --write"]
}

chore(elements): Fix merge issue
  packages/elements/src/internals/machines/sign-in/types/verification.types.ts
Due: npx eslint --fix, npx prettier --write

feat(elements): Sign in resendable verifications [SDK-1582] (#3105)
  .changeset/breezy-shirts-tell.md
  packages/elements/examples/nextjs/app/sign-in/[[...sign-in]]/page.tsx
  packages/elements/package.json
  packages/elements/src/internals/machines/sign-in/machines/verification.machine.ts
  packages/elements/src/internals/machines/sign-in/types/verification.types.ts
  packages/elements/src/react/sign-in/action.tsx
  packages/elements/src/react/sign-in/verifications.tsx
Due: npx eslint --fix, npx prettier --write

fix(clerk-js,localizations): Fix typo in error code
  packages/clerk-js/src/core/resources/Passkey.ts
  packages/clerk-js/src/utils/passkeys.ts
  packages/localizations/src/ar-SA.ts
  packages/localizations/src/bg-BG.ts
  packages/localizations/src/cs-CZ.ts
  packages/localizations/src/da-DK.ts
  packages/localizations/src/de-DE.ts
  packages/localizations/src/el-GR.ts
  packages/localizations/src/en-US.ts
  packages/localizations/src/es-ES.ts
  packages/localizations/src/es-MX.ts
  packages/localizations/src/fr-FR.ts
  packages/localizations/src/he-IL.ts
  packages/localizations/src/it-IT.ts
  packages/localizations/src/ja-JP.ts
  packages/localizations/src/ko-KR.ts
  packages/localizations/src/mn-MN.ts
  packages/localizations/src/nb-NO.ts
  packages/localizations/src/nl-NL.ts
  packages/localizations/src/pl-PL.ts
  packages/localizations/src/pt-BR.ts
  packages/localizations/src/pt-PT.ts
  packages/localizations/src/ro-RO.ts
  packages/localizations/src/ru-RU.ts
  packages/localizations/src/sk-SK.ts
  packages/localizations/src/sv-SE.ts
  packages/localizations/src/th-TH.ts
  packages/localizations/src/tr-TR.ts
  packages/localizations/src/uk-UA.ts
  packages/localizations/src/vi-VN.ts
  packages/localizations/src/zh-CN.ts
  packages/localizations/src/zh-TW.ts
  packages/types/src/localization.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Add changeset
  .changeset/unlucky-years-provide.md
Due: npx prettier --write

fix(clerk-js): Correctly call `__internal_navigateWithError` when authenticating with passkey
  packages/clerk-js/src/ui/components/SignIn/shared.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Add changeset
  .changeset/modern-bobcats-love.md
Due: npx prettier --write

fix(clerk-js): Correctly call __internal_navigateWithError when authenticating with passkey (#3172)
  .changeset/modern-bobcats-love.md
  packages/clerk-js/src/ui/components/SignIn/shared.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js,localizations): Fix typo in error code (#3173)
  .changeset/unlucky-years-provide.md
  packages/clerk-js/src/core/resources/Passkey.ts
  packages/clerk-js/src/utils/passkeys.ts
  packages/localizations/src/ar-SA.ts
  packages/localizations/src/bg-BG.ts
  packages/localizations/src/cs-CZ.ts
  packages/localizations/src/da-DK.ts
  packages/localizations/src/de-DE.ts
  packages/localizations/src/el-GR.ts
  packages/localizations/src/en-US.ts
  packages/localizations/src/es-ES.ts
  packages/localizations/src/es-MX.ts
  packages/localizations/src/fr-FR.ts
  packages/localizations/src/he-IL.ts
  packages/localizations/src/it-IT.ts
  packages/localizations/src/ja-JP.ts
  packages/localizations/src/ko-KR.ts
  packages/localizations/src/mn-MN.ts
  packages/localizations/src/nb-NO.ts
  packages/localizations/src/nl-NL.ts
  packages/localizations/src/pl-PL.ts
  packages/localizations/src/pt-BR.ts
  packages/localizations/src/pt-PT.ts
  packages/localizations/src/ro-RO.ts
  packages/localizations/src/ru-RU.ts
  packages/localizations/src/sk-SK.ts
  packages/localizations/src/sv-SE.ts
  packages/localizations/src/th-TH.ts
  packages/localizations/src/tr-TR.ts
  packages/localizations/src/uk-UA.ts
  packages/localizations/src/vi-VN.ts
  packages/localizations/src/zh-CN.ts
  packages/localizations/src/zh-TW.ts
  packages/types/src/localization.ts
Due: npx eslint --fix, npx prettier --write

fix(backend): Trigger handshake when no dev browser token exists on the current request for dev
  integration/tests/handshake.test.ts
  packages/backend/src/tokens/authStatus.ts
  packages/backend/src/tokens/request.ts
Due: npx eslint --fix, npx prettier --write

feat(clerk-js): Google OneTap
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/Components.tsx
  packages/clerk-js/src/ui/components/GoogleOneTap/index.tsx
  packages/clerk-js/src/ui/components/GoogleOneTap/one-tap-start.tsx
  packages/clerk-js/src/ui/components/GoogleOneTap/psu.tsx
  packages/clerk-js/src/ui/elements/contexts/FlowMetadataContext.tsx
  packages/clerk-js/src/ui/lazyModules/components.ts
  packages/clerk-js/src/ui/portal/index.tsx
  packages/clerk-js/src/ui/types.ts
  packages/nextjs/src/client-boundary/uiComponents.tsx
  packages/nextjs/src/index.ts
  packages/react/src/components/index.ts
  packages/react/src/components/uiComponents.tsx
  packages/react/src/isomorphicClerk.ts
  packages/types/src/appearance.ts
  packages/types/src/clerk.ts
  playground/nextjs/pages/index.tsx
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Cleanup
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/Components.tsx
  packages/clerk-js/src/ui/components/GoogleOneTap/one-tap-start.tsx
  packages/clerk-js/src/ui/contexts/ClerkUIComponentsContext.tsx
  packages/clerk-js/src/ui/portal/index.tsx
  packages/clerk-js/src/utils/one-tap.ts
  packages/nextjs/src/client-boundary/uiComponents.tsx
  packages/nextjs/src/index.ts
  packages/react/src/components/index.ts
  packages/react/src/components/uiComponents.tsx
  packages/react/src/isomorphicClerk.ts
  packages/types/src/clerk.ts
  playground/nextjs/pages/index.tsx
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Remove modal
  packages/clerk-js/src/ui/components/GoogleOneTap/index.tsx
  packages/clerk-js/src/ui/lazyModules/components.ts
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Rename OneTap to GoogleOneTap
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/components/GoogleOneTap/one-tap-start.tsx
  packages/nextjs/src/client-boundary/uiComponents.tsx
  packages/nextjs/src/index.ts
  packages/react/src/components/index.ts
  packages/react/src/components/uiComponents.tsx
  packages/react/src/isomorphicClerk.ts
  packages/types/src/clerk.ts
  playground/nextjs/pages/index.tsx
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Remove psu flow
  packages/clerk-js/src/ui/components/GoogleOneTap/psu.tsx
  packages/clerk-js/src/ui/elements/contexts/FlowMetadataContext.tsx
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Revert accidental removal
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Remove unused props
  packages/clerk-js/src/ui/types.ts
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

fix(backend): Fix tests for new dev browser check
  packages/backend/src/tokens/__tests__/request.test.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Adds changeset
  .changeset/rare-shoes-hunt.md
Due: npx prettier --write

chore(express): Fix tests
  packages/express/src/__tests__/clerkMiddleware.test.ts
Due: npx eslint --fix, npx prettier --write

chore(elements): Rename SET_CLERK to CLERK.SET
  packages/elements/src/internals/machines/sign-in/machines/router.machine.ts
  packages/elements/src/internals/machines/sign-up/machines/router.machine.ts
  packages/elements/src/internals/machines/types/router.types.ts
  packages/elements/src/react/sign-in/root.tsx
  packages/elements/src/react/sign-up/root.tsx
Due: npx eslint --fix, npx prettier --write

chore(repo): Adds changeset
  .changeset/witty-schools-occur.md
Due: npx prettier --write

fix(backend): Trigger handshake in dev when no dev browser present (#3175)
  .changeset/rare-shoes-hunt.md
  integration/tests/handshake.test.ts
  packages/backend/src/tokens/__tests__/request.test.ts
  packages/backend/src/tokens/authStatus.ts
  packages/backend/src/tokens/request.ts
  packages/express/src/__tests__/clerkMiddleware.test.ts
Due: npx eslint --fix, npx prettier --write

feat(elements): Support fallback prop for flow roots (#3168)
  .changeset/witty-schools-occur.md
  packages/elements/examples/nextjs/app/sign-in/[[...sign-in]]/page.tsx
  packages/elements/examples/nextjs/app/sign-up/[[...sign-up]]/page.tsx
  packages/elements/examples/nextjs/package.json
  packages/elements/src/internals/machines/sign-in/machines/router.machine.ts
  packages/elements/src/internals/machines/sign-in/types/router.types.ts
  packages/elements/src/internals/machines/sign-up/machines/router.machine.ts
  packages/elements/src/internals/machines/sign-up/types/router.types.ts
  packages/elements/src/internals/machines/third-party/machine.ts
  packages/elements/src/internals/machines/third-party/types.ts
  packages/elements/src/internals/machines/types/router.types.ts
  packages/elements/src/react/hooks/use-third-party-provider.hook.ts
  packages/elements/src/react/sign-in/root.tsx
  packages/elements/src/react/sign-up/root.tsx
  packages/elements/src/utils/third-party-strategies.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Version packages (beta) (#3174)
  .changeset/pre.json
  package-lock.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Due: npx prettier --write

chore(repo): Add changeset
  .changeset/twelve-olives-repair.md
Due: npx prettier --write

feat(backend): Add orderBy to GetOrganizationListParams
  packages/backend/src/api/endpoints/OrganizationApi.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Retrieve google client id from environment
  packages/clerk-js/src/core/resources/DisplayConfig.ts
  packages/clerk-js/src/ui/components/GoogleOneTap/one-tap-start.tsx
  packages/types/src/displayConfig.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Rename cookies module to auth + extract session code from Clerk
  packages/clerk-js/src/core/__tests__/clerk.test.ts
  packages/clerk-js/src/core/auth/SessionCookiePoller.ts
  packages/clerk-js/src/core/auth/SessionCookieService.ts
  packages/clerk-js/src/core/auth/__tests__/devBrowser.test.ts
  packages/clerk-js/src/core/auth/cookies/clientUat.ts
  packages/clerk-js/src/core/auth/cookies/devBrowser.ts
  packages/clerk-js/src/core/auth/cookies/safeLock.ts
  packages/clerk-js/src/core/auth/cookies/session.ts
  packages/clerk-js/src/core/auth/devBrowser.ts
  packages/clerk-js/src/core/clerk.ts
Due: npx eslint --fix, npx prettier --write

feat(clerk-js,nextjs): Introduce multipleAppsSameDomain Clerk option to support cookie suffixing
  packages/clerk-js/src/core/auth/SessionCookieService.ts
  packages/clerk-js/src/core/auth/devBrowser.ts
  packages/clerk-js/src/core/clerk.ts
  packages/nextjs/src/pages/ClerkProvider.tsx
  packages/nextjs/src/utils/mergeNextClerkPropsWithEnv.ts
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

feat(clerk-js): Add publishableKey suffix in cookies
  packages/clerk-js/src/core/__tests__/devBrowser.test.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/cookies/SessionCookieService.ts
  packages/clerk-js/src/core/cookies/clientUat.ts
  packages/clerk-js/src/core/cookies/devBrowser.ts
  packages/clerk-js/src/core/cookies/session.ts
  packages/clerk-js/src/core/devBrowser.ts
Due: npx eslint --fix, npx prettier --write

feat(clerk-js): Introduce mechanism to migrate to cookies with suffix
  packages/clerk-js/src/core/__tests__/clerk.test.ts
  packages/clerk-js/src/core/auth/SessionCookiePoller.ts
  packages/clerk-js/src/core/auth/SessionCookieService.ts
  packages/clerk-js/src/core/auth/cookies/clientUat.ts
  packages/clerk-js/src/core/auth/cookies/devBrowser.ts
  packages/clerk-js/src/core/auth/cookies/session.ts
  packages/clerk-js/src/core/auth/devBrowser.ts
  packages/clerk-js/src/core/auth/safeLock.ts
Due: npx eslint --fix, npx prettier --write

feat(backend): Support publishableKey suffix in cookies
  packages/backend/src/tokens/authenticateContext.ts
Due: npx eslint --fix, npx prettier --write

fix(backend): Consider handshake token to be cookie suffixed
  packages/backend/src/tokens/authenticateContext.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Move cookie related code to core/cookies
  packages/clerk-js/src/core/__tests__/clerk.test.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/cookies/SessionCookiePoller.ts
  packages/clerk-js/src/core/cookies/SessionCookieService.ts
  packages/clerk-js/src/core/cookies/clientUat.ts
  packages/clerk-js/src/core/cookies/devBrowser.ts
  packages/clerk-js/src/core/cookies/safeLock.ts
  packages/clerk-js/src/core/cookies/session.ts
  packages/clerk-js/src/core/devBrowser.ts
  packages/clerk-js/src/core/services/index.ts
  packages/clerk-js/src/utils/index.ts
Due: npx eslint --fix, npx prettier --write

feat(backend): Request handshake to contain suffixed cookies
  packages/backend/src/tokens/request.ts
Due: npx eslint --fix, npx prettier --write

feat(clerk-js,types): Add protect to billing components
  packages/clerk-js/src/ui/common/Billing/PlanAndBillingScreen.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationProfileNavbar.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationProfileRoutes.tsx
  packages/types/src/organizationMembership.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Open SignIn modal when the GoogleOneTap flow is not successful
  packages/clerk-js/src/ui/components/GoogleOneTap/one-tap-start.tsx
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Add non null assertion for environmentClientID
  packages/clerk-js/src/ui/components/GoogleOneTap/one-tap-start.tsx
Due: npx eslint --fix, npx prettier --write

chore(*): Add changeset
  .changeset/grumpy-maps-hope.md
Due: npx prettier --write

test(chrome-extension): Update snapshot
  packages/chrome-extension/src/__tests__/__snapshots__/exports.test.ts.snap
Due: none
