Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

chore(repo): Add changeset
  .changeset/proud-fishes-care.md
Due: npx prettier --write

test(e2e): Add tests for legal consent
  integration/presets/envs.ts
  integration/testUtils/commonPageObject.ts
  integration/testUtils/signUpPageObject.ts
  integration/tests/legal-consent.test.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Update package-lock.json
  package-lock.json
Due: npx prettier --write

fix(chrome-extension,clerk-react): Remove RHC from IsomorphicClerk
  packages/chrome-extension/src/index.ts
  packages/chrome-extension/src/react/ClerkProvider.tsx
  packages/react/package.json
  packages/react/src/globals.d.ts
  packages/react/src/isomorphicClerk.ts
  packages/react/tsup.config.ts
Due: npx eslint --fix, npx prettier --write

chore: Add changesets
  .changeset/afraid-pillows-smoke.md
  .changeset/nice-wombats-promise.md
Due: npx prettier --write

fix: npm ci issues
  package-lock.json
Due: npx prettier --write

test(e2e): Add tests for legal consent (#4411)
  .changeset/proud-fishes-care.md
  integration/presets/envs.ts
  integration/testUtils/commonPageObject.ts
  integration/testUtils/signUpPageObject.ts
  integration/tests/legal-consent.test.ts
  package-lock.json
Due: npx eslint --fix, npx prettier --write

merge iniitial context with clerkInitialState
  packages/tanstack-start/src/server/middlewareHandler.ts
Due: npx eslint --fix, npx prettier --write

fix(tanstack-start): Merge the router context with Clerk context
  .changeset/silly-moose-tease.md
  packages/tanstack-start/src/server/middlewareHandler.ts
Due: npx eslint --fix, npx prettier --write

Update .changeset/silly-moose-tease.md
  .changeset/silly-moose-tease.md
Due: npx prettier --write

wip
  packages/tanstack-start/src/server/middlewareHandler.ts
Due: npx eslint --fix, npx prettier --write

Added changeset
  .changeset/silly-moose-tease.md
Due: npx prettier --write

fix: Add global to jest
  packages/react/jest.config.js
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Improve checkbox label alignment to account for wrapping labels
  packages/clerk-js/src/ui/elements/FieldControl.tsx
  packages/clerk-js/src/ui/elements/LegalConsentCheckbox.tsx
Due: npx eslint --fix, npx prettier --write

add changeset
  .changeset/giant-roses-heal.md
Due: npx prettier --write

fix(clerk-js): Target specific browsers, compress with options, disable chunks
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/package.json
  packages/clerk-js/rspack.config.js
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Improve checkbox label alignment (#4426)
  .changeset/giant-roses-heal.md
  packages/clerk-js/src/ui/elements/FieldControl.tsx
  packages/clerk-js/src/ui/elements/LegalConsentCheckbox.tsx
Due: npx eslint --fix, npx prettier --write

fix(tests): Increase Verdaccio max body size
  verdaccio.install.yaml
  verdaccio.publish.yaml
Due: none

chore: Import from shared/devBrowser
  packages/chrome-extension/src/internal/clerk.ts
Due: npx eslint --fix, npx prettier --write

fix(tests): Decrease Verdaccio max body size
  verdaccio.install.yaml
  verdaccio.publish.yaml
Due: none

fix(clerk-js): Disable sourcemaps in production
  packages/clerk-js/rspack.config.js
Due: npx eslint --fix, npx prettier --write

fix(tanstack-start): Merge router context instead of updating (#4345)
  .changeset/silly-moose-tease.md
  packages/tanstack-start/src/server/middlewareHandler.ts
Due: npx eslint --fix, npx prettier --write

fix(tanstack-start): Remove router.load
  packages/tanstack-start/src/server/middlewareHandler.ts
Due: npx eslint --fix, npx prettier --write

address PR review comments
  .changeset/five-insects-grin.md
  .changeset/serious-poems-retire.md
  integration/presets/longRunningApps.ts
  integration/templates/next-app-router/src/app/(reverification)/requires-re-verification/page.tsx
  integration/tests/reverification.test.ts
  packages/react/src/hooks/useReverification.ts
  packages/shared/src/authorization-errors.ts
Due: npx eslint --fix, npx prettier --write

update package-lock.json
  package-lock.json
Due: npx prettier --write

initial
  .github/workflows/lock-threads.yml
Due: none

fix(tanstack-start): Merge router context instead of updating (#4425)
  .changeset/silly-moose-tease.md
  packages/tanstack-start/src/server/middlewareHandler.ts
Due: npx eslint --fix, npx prettier --write

Revert "fix(tanstack-start): Merge router context instead of updating (#4425)"
  .changeset/silly-moose-tease.md
  packages/tanstack-start/src/server/middlewareHandler.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Do not lock old PRs (#4429)
  .github/workflows/lock-threads.yml
Due: none

extend duration
  integration/tests/reverification.test.ts
Due: npx eslint --fix, npx prettier --write

remove delay subtraction
  integration/tests/reverification.test.ts
Due: npx eslint --fix, npx prettier --write

chore(upgrade): remove del-cli dep
  package-lock.json
  packages/upgrade/package.json
Due: npx prettier --write

changeset
  .changeset/sharp-beers-promise.md
Due: npx prettier --write

replace useAssurance with useReverification
  packages/clerk-js/src/ui/common/RemoveResourceForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/ActiveDevicesSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/AddAuthenticatorApp.tsx
  packages/clerk-js/src/ui/components/UserProfile/ConnectedAccountsMenu.tsx
  packages/clerk-js/src/ui/components/UserProfile/ConnectedAccountsSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/DeleteUserForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/EmailForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/MfaBackupCodeCreateForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/MfaPhoneCodeScreen.tsx
  packages/clerk-js/src/ui/components/UserProfile/PasskeySection.tsx
  packages/clerk-js/src/ui/components/UserProfile/PasswordForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/PhoneForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/UsernameForm.tsx
  packages/clerk-js/src/ui/hooks/useAssurance.ts
  packages/clerk-js/src/ui/utils/errorHandler.ts
Due: npx eslint --fix, npx prettier --write

update dx of `useReverification`
  .changeset/five-insects-grin.md
  integration/templates/next-app-router/src/app/(reverification)/action-with-use-reverification/page.tsx
  integration/templates/next-app-router/src/app/(reverification)/actions.ts
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useReverification.ts
  packages/shared/src/react/hooks/index.ts
  packages/shared/src/react/hooks/useReverification.ts
Due: npx eslint --fix, npx prettier --write

chore(chrome-extension): Interim commit
  packages/chrome-extension/src/internal/clerk.ts
  packages/chrome-extension/src/internal/constants.ts
  packages/chrome-extension/src/internal/utils/__tests__/cookies.test.ts
  packages/chrome-extension/src/internal/utils/__tests__/manifest.test.ts
  packages/chrome-extension/src/internal/utils/cookies.ts
  packages/chrome-extension/src/internal/utils/errors.ts
  packages/chrome-extension/src/internal/utils/manifest.ts
  packages/chrome-extension/src/react/ClerkProvider.tsx
  playground/chrome-extension/src/background.ts
  playground/chrome-extension/src/components/SharedApp.tsx
Due: npx eslint --fix, npx prettier --write

feat(chrome-extension): Make sync hosts more deterministic
  .changeset/wise-spiders-play.md
  packages/chrome-extension/src/internal/clerk.ts
  packages/chrome-extension/src/internal/constants.ts
  packages/chrome-extension/src/internal/utils/request-handler.ts
  packages/chrome-extension/src/internal/utils/response-handler.ts
Due: npx eslint --fix, npx prettier --write

chore(extension): Update to syncHost
  packages/chrome-extension/src/react/ClerkProvider.tsx
  playground/chrome-extension/src/background.ts
Due: npx eslint --fix, npx prettier --write

Path conditions:
  npx eslint --fix: any of: *.{mjs,js,jsx,ts,tsx}
  npx prettier --write: (any of: *.{mjs,js,jsx,ts,tsx}) or (any of: *.{json,md,mdx})
