Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

chore(types,shared): Update reverification config values to snake_case
  .changeset/mean-foxes-protect.md
  integration/templates/next-app-router/src/app/(reverification)/actions.ts
  packages/clerk-js/src/core/resources/__tests__/Session.test.ts
  packages/clerk-js/src/ui/components/UserVerification/useUserVerificationSession.tsx
  packages/react/src/hooks/__tests__/useAuth.test.ts
  packages/shared/src/authorization.ts
  packages/types/src/sessionVerification.ts
Due: npx eslint --fix, npx prettier --write

chore(types,shared): Update reverification config values to snake_case (#4556)
  .changeset/mean-foxes-protect.md
  integration/templates/next-app-router/src/app/(reverification)/actions.ts
  packages/clerk-js/src/core/resources/__tests__/Session.test.ts
  packages/clerk-js/src/ui/components/UserVerification/useUserVerificationSession.tsx
  packages/react/src/hooks/__tests__/useAuth.test.ts
  packages/shared/src/authorization.ts
  packages/types/src/sessionVerification.ts
Due: npx eslint --fix, npx prettier --write

Update captchaWidgetTypeUsed when challenge escalates to interactive
  packages/clerk-js/src/utils/captcha/turnstile.ts
Due: npx eslint --fix, npx prettier --write

Update packages/clerk-js/src/utils/captcha/turnstile.ts
  packages/clerk-js/src/utils/captcha/turnstile.ts
Due: npx eslint --fix, npx prettier --write

Create serious-pigs-speak.md
  .changeset/serious-pigs-speak.md
  packages/clerk-js/src/ui/components/BlankCaptchaModal/index.tsx
  packages/clerk-js/src/utils/captcha/turnstile.ts
Due: npx eslint --fix, npx prettier --write

Protect /tokens with captcha (#4559)
  .changeset/serious-pigs-speak.md
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/resources/Base.ts
  packages/clerk-js/src/core/resources/Session.ts
  packages/clerk-js/src/ui/Components.tsx
  packages/clerk-js/src/ui/components/BlankCaptchaModal/index.tsx
  packages/clerk-js/src/ui/elements/Modal.tsx
  packages/clerk-js/src/ui/elements/contexts/FlowMetadataContext.tsx
  packages/clerk-js/src/ui/hooks/usePopover.ts
  packages/clerk-js/src/ui/lazyModules/components.ts
  packages/clerk-js/src/ui/lazyModules/providers.tsx
  packages/clerk-js/src/utils/captcha/getCaptchaToken.ts
  packages/clerk-js/src/utils/captcha/hcaptcha.ts
  packages/clerk-js/src/utils/captcha/retrieveCaptchaInfo.ts
  packages/clerk-js/src/utils/captcha/turnstile.ts
  packages/clerk-js/src/utils/captcha/types.ts
  packages/shared/package.json
  packages/shared/src/dom/index.ts
  packages/shared/src/dom/waitForElement.ts
  packages/shared/subpaths.mjs
  packages/shared/tsup.config.ts
Due: npx eslint --fix, npx prettier --write

wip
  packages/react/package.json
Due: npx prettier --write

fix(clerk-js): Ensure autofill event is triggered during sign-in
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
Due: npx eslint --fix, npx prettier --write

use ref
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
Due: npx eslint --fix, npx prettier --write

fix next integration preset
  integration/presets/next.ts
Due: npx eslint --fix, npx prettier --write

add changeset
  .changeset/spicy-olives-float.md
Due: npx prettier --write

make ClientClerkProvider work for accountless
  packages/nextjs/src/app-router/client/ClerkProvider.tsx
  packages/nextjs/src/app-router/client/accountless-cookie-sync.tsx
  packages/nextjs/src/app-router/server-actions.ts
  packages/nextjs/src/app-router/server/ClerkProvider.tsx
  packages/nextjs/src/server/accountless-node.ts
  packages/nextjs/src/utils/clerk-js-script.tsx
  packages/react/src/contexts/ClerkContextProvider.tsx
  packages/react/src/contexts/ClerkProvider.tsx
  packages/react/src/isomorphicClerk.ts
  packages/react/src/types.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Display logo in <Waitlist /> component
  .changeset/new-forks-flash.md
  packages/clerk-js/src/ui/components/Waitlist/WaitlistForm.tsx
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Display logo in `<Waitlist />` component (#4561)
  .changeset/new-forks-flash.md
  packages/clerk-js/src/ui/components/Waitlist/WaitlistForm.tsx
Due: npx eslint --fix, npx prettier --write

WIP
  packages/shared/src/react/hooks/useReverification.ts
Due: npx eslint --fix, npx prettier --write

wip
  packages/clerk-js/package.json
  packages/clerk-js/rspack.config.js
  packages/clerk-js/sandbox/app.js
  packages/clerk-js/sandbox/index.html
Due: npx eslint --fix, npx prettier --write

fix(repo): Fix lockfile
  package-lock.json
Due: npx prettier --write

update types for `useReverification`
  packages/shared/src/react/hooks/useReverification.ts
Due: npx eslint --fix, npx prettier --write

add changeset
  .changeset/silent-bears-worry.md
Due: npx prettier --write

fix(repo): Update Blacksmith CI to use pnpm
  .github/actions/init-blacksmith/action.yml
Due: none

fix(repo): canary publish
  scripts/canary.mjs
Due: npx eslint --fix, npx prettier --write

changeset
  .changeset/real-hounds-sip.md
Due: npx prettier --write

fix(repo): Bind Verdaccio to localhost
  verdaccio.install.yaml
  verdaccio.publish.yaml
Due: none

fix(repo): Enable canary publish (#4565)
  .changeset/real-hounds-sip.md
  scripts/canary.mjs
Due: npx eslint --fix, npx prettier --write

chore(react): Expose `initialValues` within `<SignUpButton />`
  packages/react/src/components/SignUpButton.tsx
  packages/react/src/types.ts
Due: npx eslint --fix, npx prettier --write

add changeset
  .changeset/tender-windows-jam.md
Due: npx prettier --write

fix(e2e): Assert response is a 404
  integration/tests/protect.test.ts
Due: npx eslint --fix, npx prettier --write

Update .changeset/tender-windows-jam.md
  .changeset/tender-windows-jam.md
Due: npx prettier --write

fix(e2e): Explicitly bind to localhost
  integration/scripts/proxyServer.ts
Due: npx eslint --fix, npx prettier --write

feat(clerk-js,types): Enable reordering name fields
  packages/clerk-js/src/ui/components/SignUp/SignUpForm.tsx
  packages/clerk-js/src/ui/customizables/parseAppearance.ts
  packages/types/src/appearance.ts
Due: npx eslint --fix, npx prettier --write

fix(e2e): Bind proxy server to 127.0.0.1
  integration/scripts/proxyServer.ts
Due: npx eslint --fix, npx prettier --write

debug
  .github/workflows/ci.yml
  integration/tests/sessions/root-subdomain-prod-instances.test.ts
Due: npx eslint --fix, npx prettier --write

debug
  integration/tests/sessions/root-subdomain-prod-instances.test.ts
Due: npx eslint --fix, npx prettier --write

wip
  packages/clerk-js/src/ui/components/UserProfile/ProfileForm.tsx
  packages/clerk-js/src/ui/elements/UserPreview.tsx
  packages/clerk-js/src/utils/user.ts
Due: npx eslint --fix, npx prettier --write

wip
  packages/clerk-js/src/ui/components/ImpersonationFab/ImpersonationFab.tsx
  packages/clerk-js/src/ui/components/UserButton/UserButtonTopLevelIdentifier.tsx
Due: npx eslint --fix, npx prettier --write

comment
  packages/clerk-js/src/utils/user.ts
Due: npx eslint --fix, npx prettier --write

Path conditions:
  npx eslint --fix: any of: *.{mjs,js,jsx,ts,tsx}
  npx prettier --write: (any of: *.{mjs,js,jsx,ts,tsx}) or (any of: *.{json,md,mdx})
