Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{mjs,js,jsx,ts,tsx}": ["npx eslint --fix", "npx prettier --write"],
  "*.{json,md,mdx}": ["npx prettier --write"]
}

Version Packages - V4 (#3193)
  .changeset/eighty-pens-mix.md
  .changeset/gold-pugs-join.md
  .changeset/grumpy-maps-hope.md
  .changeset/happy-lamps-march.md
  .changeset/slimy-games-cover.md
  .changeset/two-worms-yawn.md
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Due: npx prettier --write

tests(clerk-js): Update test to work with the previous html structure
  packages/clerk-js/src/ui/components/OrganizationList/__tests__/OrganizationList.test.tsx
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Respect navigateAfterCreateOrganization in `<OrganizationList/>` (#3209) (#3217)
  .changeset/afraid-onions-wonder.md
  packages/clerk-js/src/ui/components/OrganizationList/OrganizationListPage.tsx
  packages/clerk-js/src/ui/components/OrganizationList/__tests__/OrganizationList.test.tsx
  packages/clerk-js/src/ui/utils/test/mockHelpers.ts
Due: npx eslint --fix, npx prettier --write

fix(repo): Enable OSS contributions to be easily run on CI
  .changeset/strange-ties-look.md
  .github/workflows/ci.yml
  .github/workflows/e2e-cleanups.yml
  .github/workflows/labeler.yml
  .github/workflows/lock-threads.yml
  .github/workflows/nightly-checks.yml
  .github/workflows/preview.retheme.yml
  .github/workflows/preview.yml
  .github/workflows/release-canary.yml
  .github/workflows/release-snapshot.yml
  .github/workflows/release.yml
Due: npx prettier --write

fix(clerk-js,types,nextjs): Allow legacy redirect props as a fallback
  .changeset/cold-files-refuse.md
  .changeset/friendly-masks-obey.md
  packages/clerk-js/src/core/constants.ts
  packages/clerk-js/src/ui/contexts/ClerkUIComponentsContext.tsx
  packages/clerk-js/src/utils/__tests__/redirectUrls.test.ts
  packages/clerk-js/src/utils/assertNoLegacyProp.ts
  packages/clerk-js/src/utils/redirectUrls.ts
  packages/nextjs/src/global.d.ts
  packages/nextjs/src/utils/mergeNextClerkPropsWithEnv.ts
  packages/types/src/clerk.ts
  packages/types/src/redirects.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Temporarily skip elements tasks
  .github/workflows/ci.yml
  package.json
Due: npx prettier --write

fix(clerk-js,types,nextjs): Allow legacy redirect props as a fallback (#3224)
  .changeset/cold-files-refuse.md
  .changeset/friendly-masks-obey.md
  .github/workflows/ci.yml
  package.json
  packages/clerk-js/src/core/constants.ts
  packages/clerk-js/src/ui/contexts/ClerkUIComponentsContext.tsx
  packages/clerk-js/src/utils/__tests__/redirectUrls.test.ts
  packages/clerk-js/src/utils/assertNoLegacyProp.ts
  packages/clerk-js/src/utils/redirectUrls.ts
  packages/nextjs/src/global.d.ts
  packages/nextjs/src/utils/mergeNextClerkPropsWithEnv.ts
  packages/types/src/clerk.ts
  packages/types/src/redirects.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Temporarily skip elements tasks
  .github/workflows/release.yml
Due: none

feat(upgrade): Add aftersignxurl changes
  packages/upgrade/source/guide-generators/core-2/gatsby/index.js
  packages/upgrade/source/guide-generators/core-2/js/index.js
  packages/upgrade/source/guide-generators/core-2/nextjs/index.js
  packages/upgrade/source/guide-generators/core-2/react/index.js
  packages/upgrade/source/guide-generators/core-2/remix/index.js
  packages/upgrade/source/guide-generators/core-2/shared/after-sign-x-handling.mdx
  packages/upgrade/source/versions/core-2/common/aftersignxurl-changes.md
  packages/upgrade/source/versions/core-2/index.js
Due: npx eslint --fix, npx prettier --write

replace beta.clerk.com links with clerk.com
  README.md
  packages/backend/README.md
  packages/chrome-extension/README.md
  packages/clerk-js/README.md
  packages/elements/README.md
  packages/expo/README.md
  packages/express/README.md
  packages/express/src/types.ts
  packages/fastify/README.md
  packages/gatsby-plugin-clerk/README.md
  packages/localizations/README.md
  packages/nextjs/README.md
  packages/nextjs/src/server/clerkMiddleware.ts
  packages/react/README.md
  packages/remix/README.md
  packages/sdk-node/README.md
  packages/themes/README.md
  packages/types/README.md
Due: npx eslint --fix, npx prettier --write

chore(repo): Remove gatsby-plugin-clerk references from changesets
  .changeset/bright-plants-swim.md
  .changeset/fair-donuts-approve.md
  .changeset/five-lamps-beam.md
  .changeset/friendly-vans-develop.md
  .changeset/late-flies-switch.md
  .changeset/long-beds-mate.md
  .changeset/long-icons-share.md
  .changeset/metal-ears-cheat.md
  .changeset/mighty-bulldogs-try.md
  .changeset/purple-pumas-study.md
  .changeset/red-suns-perform.md
  .changeset/rude-jobs-yawn.md
  .changeset/silver-weeks-roll.md
  .changeset/smart-suns-train.md
  .changeset/sour-frogs-type.md
  .changeset/thin-coats-serve.md
  .changeset/wicked-spoons-confess.md
Due: npx prettier --write

feat(upgrade): Add an extra example to middleware guide
  packages/upgrade/source/guide-generators/core-2/nextjs/middleware-changes.mdx
Due: npx prettier --write

replace beta.clerk.com links with clerk.com (#3225)
  README.md
  packages/backend/README.md
  packages/chrome-extension/README.md
  packages/clerk-js/README.md
  packages/elements/README.md
  packages/expo/README.md
  packages/express/README.md
  packages/express/src/types.ts
  packages/fastify/README.md
  packages/gatsby-plugin-clerk/README.md
  packages/localizations/README.md
  packages/nextjs/README.md
  packages/nextjs/src/server/clerkMiddleware.ts
  packages/react/README.md
  packages/remix/README.md
  packages/sdk-node/README.md
  packages/themes/README.md
  packages/types/README.md
Due: npx eslint --fix, npx prettier --write

chore(repo): Version packages (beta) (#3226)
  .changeset/pre.json
  package-lock.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
Due: npx prettier --write

feat(upgrade): Add js clerk import change and backend members_count change
  packages/upgrade/source/versions/core-2/backend/members-count.md
  packages/upgrade/source/versions/core-2/index.js
  packages/upgrade/source/versions/core-2/js/clerk-import.md
Due: npx eslint --fix, npx prettier --write

feat(upgrade): Add js import change, supported external accounts removal, sdk node publickey reqs
  packages/upgrade/source/versions/core-2/index.js
  packages/upgrade/source/versions/core-2/js/clerk-import.md
  packages/upgrade/source/versions/core-2/js/supported-external-accounts-type-removed.md
  packages/upgrade/source/versions/core-2/node/createclerkexpressrequireauth-public-key-required.md
  packages/upgrade/source/versions/core-2/node/createclerkexpresswithauth-publickey-required.md
Due: npx eslint --fix, npx prettier --write

chore(repo): Make vars conditional
  .github/workflows/ci.yml
  .github/workflows/e2e-cleanups.yml
  .github/workflows/labeler.yml
  .github/workflows/lock-threads.yml
  .github/workflows/nightly-checks.yml
  .github/workflows/preview.retheme.yml
  .github/workflows/preview.yml
  .github/workflows/release-canary.yml
  .github/workflows/release-snapshot.yml
  .github/workflows/release.yml
Due: none

chore(repo): Version packages (#3222)
  .changeset/afraid-onions-wonder.md
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
Due: npx prettier --write

fix(clerk-js): Support legacy redirectUrl prop
  .changeset/silent-rocks-do.md
  packages/clerk-js/src/utils/__tests__/redirectUrls.test.ts
  packages/clerk-js/src/utils/redirectUrls.ts
  packages/types/src/redirects.ts
Due: npx eslint --fix, npx prettier --write

feat(elements): Make connections and icons common
  packages/elements/examples/nextjs/app/sign-in/[[...sign-in]]/page.tsx
  packages/elements/examples/nextjs/app/sign-up/[[...sign-up]]/page.tsx
  packages/elements/src/react/common/connections.tsx
  packages/elements/src/react/common/index.ts
  packages/elements/src/react/common/providers.tsx
  packages/elements/src/react/sign-in/index.ts
  packages/elements/src/react/sign-in/providers.tsx
  packages/elements/src/react/sign-up/index.ts
  packages/elements/src/react/sign-up/providers.tsx
Due: npx eslint --fix, npx prettier --write

chore(upgrade): Version 1.0.0 🤞 no bugs
  packages/upgrade/package.json
Due: npx prettier --write

chore(upgrade): Version patch
  packages/upgrade/package.json
Due: npx prettier --write

chore(repo): Version packages (beta) (#3227)
  .changeset/pre.json
  package-lock.json
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/package.json
  packages/shared/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Due: npx prettier --write

chore(upgrade): Fix some bugs
  packages/upgrade/source/versions/core-2/backend/members-count.md
  packages/upgrade/source/versions/core-2/common/supported-external-accounts-type-removed.md
  packages/upgrade/source/versions/core-2/node/createclerkexpressrequireauth-public-key-required.md
Due: npx prettier --write

chore(elements): Prefix React components
  packages/elements/examples/nextjs/app/sign-in/[[...sign-in]]/page.tsx
  packages/elements/examples/nextjs/app/sign-up/[[...sign-up]]/page.tsx
Due: npx eslint --fix, npx prettier --write

chore(elements): Add empty changeset
  .changeset/nervous-candles-press.md
Due: npx prettier --write

chore(elements): Bump package version
  packages/elements/package.json
Due: npx prettier --write

chore(upgrade): Remove mentions of beta since we shippin
  packages/upgrade/source/guide-generators/core-2/overview/intro.mdx
  packages/upgrade/source/guide-generators/core-2/shared/prepare.mdx
  packages/upgrade/source/guide-generators/core-2/shared/update-version.mdx
  packages/upgrade/source/versions/core-2/nextjs/auth-middleware-deprecated.md
  packages/upgrade/source/versions/core-2/nextjs/authmiddleware-import-change.md
  packages/upgrade/source/versions/core-2/nextjs/with-clerk-middleware-removed.md
  packages/upgrade/source/versions/core-2/node/createclerkexpressrequireauth-public-key-required.md
  packages/upgrade/source/versions/core-2/node/createclerkexpresswithauth-publickey-required.md
  playground/app-router/README.md
Due: npx prettier --write

chore(upgrade): Version
  packages/upgrade/package.json
Due: npx prettier --write

chore(repo): Exit pre mode for v5
  .changeset/pre.json
Due: npx prettier --write

chore(repo): Update changelog.js to avoid rate limits
  .changeset/changelog.js
Due: npx eslint --fix, npx prettier --write

chore(repo): Fix changelog.js
  .changeset/changelog.js
Due: npx eslint --fix, npx prettier --write

chore(repo): Temporarily disable custom changelog
  .changeset/config.json
Due: npx prettier --write

fix(repo): Enable OSS contributions to be easily run on CI (#3223)
  .changeset/strange-ties-look.md
  .github/workflows/ci.yml
  .github/workflows/e2e-cleanups.yml
  .github/workflows/labeler.yml
  .github/workflows/lock-threads.yml
  .github/workflows/nightly-checks.yml
  .github/workflows/preview.retheme.yml
  .github/workflows/preview.yml
  .github/workflows/release-canary.yml
  .github/workflows/release-snapshot.yml
  .github/workflows/release.yml
Due: npx prettier --write

chore(express): Set version to 0.0.1 pre-release
  .changeset/lucky-plums-deliver.md
  packages/express/package.json
Due: npx prettier --write

fix(upgrade): Fix aftersignxurl-changes.md example
  packages/upgrade/source/versions/core-2/common/aftersignxurl-changes.md
Due: npx prettier --write

feat(elements): Provide common Connection and Icon exports [SDK-1665] (#3228)
  .changeset/nervous-candles-press.md
  packages/elements/examples/nextjs/app/sign-in/[[...sign-in]]/page.tsx
  packages/elements/examples/nextjs/app/sign-up/[[...sign-up]]/page.tsx
  packages/elements/package.json
  packages/elements/src/react/common/connections.tsx
  packages/elements/src/react/common/index.ts
  packages/elements/src/react/common/providers.tsx
  packages/elements/src/react/sign-in/index.ts
  packages/elements/src/react/sign-in/providers.tsx
  packages/elements/src/react/sign-up/index.ts
  packages/elements/src/react/sign-up/providers.tsx
Due: npx eslint --fix, npx prettier --write

feat(clerk-js,types): Hide Manage billing button when stripe billing portal is disabled
  packages/clerk-js/src/core/resources/OrganizationSettings.ts
  packages/clerk-js/src/core/resources/UserSettings.ts
  packages/clerk-js/src/ui/common/Billing/BillingProvider.tsx
  packages/clerk-js/src/ui/common/Billing/PlanAndBillingScreen.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationBillingPage.tsx
  packages/clerk-js/src/ui/components/UserProfile/BillingPage.tsx
  packages/types/src/billing.ts
Due: npx eslint --fix, npx prettier --write

feat(clerk-js,types): Hide Manage billing button when stripe billing portal is disabled (#3219)
  packages/clerk-js/src/core/resources/OrganizationSettings.ts
  packages/clerk-js/src/core/resources/UserSettings.ts
  packages/clerk-js/src/ui/common/Billing/BillingProvider.tsx
  packages/clerk-js/src/ui/common/Billing/PlanAndBillingScreen.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationBillingPage.tsx
  packages/clerk-js/src/ui/components/UserProfile/BillingPage.tsx
  packages/types/src/billing.ts
Due: npx eslint --fix, npx prettier --write
