Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

fix(clerk-js): Fix test
  packages/clerk-js/src/ui/components/OrganizationList/__tests__/OrganizationList.test.tsx
  packages/clerk-js/src/ui/elements/FormButtons.tsx
Due: npx eslint --fix, npx prettier --write

test(clerk-js): Remove skipped tests from OrganizationGeneralPage
  .changeset/gentle-toes-obey.md
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/OrganizationGeneralPage.test.tsx
Due: npx eslint --fix, npx prettier --write

test(clerk-js): Remove skipped tests from ProfileSettingsPage
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/ProfileSettingsPage.test.tsx
Due: npx eslint --fix, npx prettier --write

fix(upgrade): Fix file moves into react
  packages/upgrade/source/versions/v5/common/afterswitchorganizationurl.md
  packages/upgrade/source/versions/v5/common/appearance-organizationpreview-organizationswitcher.md
  packages/upgrade/source/versions/v5/common/useorganization-invitationlist.md
  packages/upgrade/source/versions/v5/common/useorganization-membershiplist.md
  packages/upgrade/source/versions/v5/common/useorganizations.md
  packages/upgrade/source/versions/v5/common/userprofile-prop.md
Due: npx prettier --write

test(clerk-js): Remove skipped tests from Organization pages (#2569)
  .changeset/gentle-toes-obey.md
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/OrganizationGeneralPage.test.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/ProfileSettingsPage.test.tsx
Due: npx eslint --fix, npx prettier --write

fix(upgrade): Fix ignores and progress bar
  packages/upgrade/source/scan.js
  packages/upgrade/source/versions/v5/js/lastorganizationinvitation-member.md
Due: npx eslint --fix, npx prettier --write

feat(backend): Drop create email api function
  .changeset/curvy-suns-roll.md
  packages/backend/src/api/__tests__/factory.test.ts
  packages/backend/src/api/endpoints/EmailApi.ts
  packages/backend/src/api/endpoints/index.ts
  packages/backend/src/api/factory.ts
  packages/backend/src/fixtures/email.json
Due: npx eslint --fix, npx prettier --write

Create tiny-crabs-eat.md
  .changeset/tiny-crabs-eat.md
Due: npx prettier --write

feat(localiaztions): Add Bulgarian (bg-BG) localization (#2565)
  .changeset/tiny-crabs-eat.md
  packages/localizations/src/bg-BG.ts
  packages/localizations/src/index.ts
Due: npx eslint --fix, npx prettier --write

fix(localizations): Include all files in package.json
  packages/localizations/package.json
  packages/localizations/src/bg-BG.ts
  packages/localizations/subpaths.mjs
Due: npx eslint --fix, npx prettier --write

feat(backend): Drop create email api function (#2548)
  .changeset/curvy-suns-roll.md
  packages/backend/src/api/__tests__/factory.test.ts
  packages/backend/src/api/endpoints/EmailApi.ts
  packages/backend/src/api/endpoints/index.ts
  packages/backend/src/api/factory.ts
  packages/backend/src/fixtures/email.json
Due: npx eslint --fix, npx prettier --write

Update nervous-kings-deny.md
  .changeset/nervous-kings-deny.md
Due: npx prettier --write

fix(nextjs): Fix partial prerendering error nextjs (#2518)
  .changeset/nervous-kings-deny.md
  packages/nextjs/src/app-router/server/utils.ts
Due: npx eslint --fix, npx prettier --write

fix(localizations): Remove unused keys from bg-BG.ts
  packages/localizations/src/bg-BG.ts
Due: npx eslint --fix, npx prettier --write

feat(nextjs): Introduce stable createRouteMatcher
  packages/nextjs/src/server/index.ts
  packages/nextjs/src/server/routeMatcher.ts
Due: npx eslint --fix, npx prettier --write

Create hungry-lies-burn.md
  .changeset/hungry-lies-burn.md
Due: npx prettier --write

Create hungry-lies-burn.md
  packages/nextjs/src/server/__tests__/__snapshots__/exports.test.ts.snap
Due: none

fix(upgrade): Implement batching, fix a number of regexes
  packages/upgrade/source/scan.js
  packages/upgrade/source/util/expandable-list.js
  packages/upgrade/source/versions/v5/next/import-api-url.md
  packages/upgrade/source/versions/v5/next/import-api-version.md
  packages/upgrade/source/versions/v5/next/import-clerk-js-url.md
  packages/upgrade/source/versions/v5/next/import-clerk-js-version.md
  packages/upgrade/source/versions/v5/next/import-domain.md
  packages/upgrade/source/versions/v5/next/import-is-satellite.md
  packages/upgrade/source/versions/v5/next/import-proxy-url.md
  packages/upgrade/source/versions/v5/next/import-publishable-key.md
  packages/upgrade/source/versions/v5/next/import-secret-key.md
  packages/upgrade/source/versions/v5/next/import-sign-in-url.md
  packages/upgrade/source/versions/v5/next/import-sign-up-url.md
Due: npx eslint --fix, npx prettier --write

feat(nextjs): Introduce stable `createRouteMatcher` (#2572)
  .changeset/hungry-lies-burn.md
  packages/nextjs/src/server/__tests__/__snapshots__/exports.test.ts.snap
  packages/nextjs/src/server/index.ts
  packages/nextjs/src/server/routeMatcher.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Remove sendEmail from Nextjs playground after dropping emails api
  playground/nextjs/pages/api/sendEmail.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Remove sendEmail from Nextjs playground after dropping emails api (#2573)
  playground/nextjs/pages/api/sendEmail.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Use pattern for email input fields
  .changeset/rare-bulldogs-cheer.md
  packages/clerk-js/src/ui/primitives/Input.tsx
Due: npx eslint --fix, npx prettier --write

test(clerk-js): Fix PhoneSection tests
  packages/clerk-js/src/ui/components/UserProfile/__tests__/PhoneSection.test.tsx
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Re-add infoText__secondary
  .changeset/cuddly-tips-speak.md
  packages/types/src/localization.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Update localization
  .changeset/sharp-donuts-drum.md
  packages/localizations/src/en-US.ts
  packages/types/src/localization.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Added descriptors to icons for Connected accounts & Web 3
  packages/clerk-js/src/ui/components/UserProfile/ConnectedAccountsMenu.tsx
  packages/clerk-js/src/ui/components/UserProfile/Web3Form.tsx
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Backup code style
  .changeset/four-guests-drive.md
  packages/clerk-js/src/ui/components/UserProfile/MfaBackupCodeList.tsx
  packages/clerk-js/src/ui/components/UserProfile/MfaPhoneCodeScreen.tsx
  packages/clerk-js/src/ui/components/UserProfile/PhoneForm.tsx
  packages/clerk-js/src/ui/elements/SuccessPage.tsx
  packages/clerk-js/src/ui/primitives/Button.tsx
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): User profile section title style
  packages/clerk-js/src/ui/elements/Section.tsx
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Updated icons
  packages/clerk-js/src/ui/icons/copy.svg
  packages/clerk-js/src/ui/icons/download.svg
  packages/clerk-js/src/ui/icons/pencil.svg
  packages/clerk-js/src/ui/icons/print.svg
Due: none

fix(clerk-js): Text on avatar upload button
  packages/localizations/src/en-US.ts
Due: npx eslint --fix, npx prettier --write

Update Button.tsx
  packages/clerk-js/src/ui/primitives/Button.tsx
Due: npx eslint --fix, npx prettier --write

fix(localizations): Revert userProfile.profilePage.imageFormSubtitle text
  packages/localizations/src/en-US.ts
Due: npx eslint --fix, npx prettier --write

test(clerk-js): Update phone section tests
  packages/clerk-js/src/ui/components/UserProfile/__tests__/PhoneSection.test.tsx
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Phone number section
  .changeset/sixty-pianos-look.md
  packages/clerk-js/src/ui/components/UserProfile/MfaPhoneCodeScreen.tsx
  packages/clerk-js/src/ui/components/UserProfile/PhoneForm.tsx
  packages/clerk-js/src/ui/primitives/Button.tsx
  packages/localizations/src/en-US.ts
  packages/types/src/localization.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Fix tab accessibility and tabLength
  .changeset/gentle-toys-melt.md
  .changeset/healthy-walls-fold.md
  packages/clerk-js/src/ui/elements/Tabs.tsx
Due: npx eslint --fix, npx prettier --write

chore(repo): Update READMEs
  packages/backend/README.md
  packages/clerk-js/README.md
  packages/gatsby-plugin-clerk/README.md
  packages/nextjs/README.md
  packages/remix/README.md
  packages/sdk-node/README.md
Due: npx prettier --write

chore(repo): Add changeset
  .changeset/five-lamps-beam.md
Due: npx prettier --write

fix(repo): Typo in changeset for MembershipRole
  .changeset/orange-files-end.md
  packages/clerk-js/CHANGELOG.md
Due: npx prettier --write

fix(repo): Typo in changeset for MembershipRole
  .changeset/giant-bags-lie.md
Due: npx prettier --write

Path conditions:
  npx eslint --fix: any of: *.{mjs,js,jsx,ts,tsx}
  npx prettier --write: (any of: *.{mjs,js,jsx,ts,tsx}) or (any of: *.{json,md,mdx})
