Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

test(clerk-js): Remove skipped integration tests related to navigation
  .changeset/early-dryers-lay.md
  integration/testUtils/userProfilePageObject.ts
  integration/tests/navigation.test.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Improve changeset
  .changeset/late-geckos-impress.md
Due: npx prettier --write

feat(clerk-js): Accept `skipInvitationScreen` as a prop from OrganizationSwitcher (#2713)
  .changeset/late-geckos-impress.md
  packages/clerk-js/src/ui/components/OrganizationSwitcher/OrganizationSwitcherPopover.tsx
  packages/clerk-js/src/ui/contexts/ClerkUIComponentsContext.tsx
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

fix(backend): Support pagination params to BAPI `sessions.getSessionList()` and rename params type
  packages/backend/src/api/endpoints/SessionApi.ts
Due: npx eslint --fix, npx prettier --write

fix(backend): Support pagination params to BAPI `clients.getClientList()`
  packages/backend/src/api/endpoints/ClientApi.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Add changeset
  .changeset/curvy-chefs-sneeze.md
  .changeset/healthy-eyes-marry.md
Due: npx prettier --write

fix(backend): Fix `users.getUserCount()` params type
  packages/backend/src/api/endpoints/UserApi.ts
Due: npx eslint --fix, npx prettier --write

fix(backend): Enhance BAPI `users.getUserList()` to return `{data, totalCount}`
  packages/backend/src/api/__tests__/factory.test.ts
  packages/backend/src/api/endpoints/UserApi.ts
Due: npx eslint --fix, npx prettier --write

fix(types): Fix ClerkPaginationRequest type to work without generic
  packages/types/src/pagination.ts
Due: npx eslint --fix, npx prettier --write

fix(backend): Return `{data, totalCount}` from BAPIClient methods on list endpoints
  packages/backend/src/api/endpoints/AllowlistIdentifierApi.ts
  packages/backend/src/api/endpoints/ClientApi.ts
  packages/backend/src/api/endpoints/InvitationApi.ts
  packages/backend/src/api/endpoints/RedirectUrlApi.ts
  packages/backend/src/api/endpoints/SessionApi.ts
  packages/backend/src/api/endpoints/UserApi.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Serialize params in convertPageToOffsetSearchParams
  packages/clerk-js/src/core/fapiClient.ts
  packages/clerk-js/src/core/resources/Organization.ts
  packages/clerk-js/src/core/resources/OrganizationMembership.ts
  packages/clerk-js/src/core/resources/OrganizationSuggestion.ts
  packages/clerk-js/src/core/resources/UserOrganizationInvitation.ts
  packages/clerk-js/src/utils/convertPageToOffsetSearchParams.ts
  packages/clerk-js/src/utils/pagesToOffset.ts
Due: npx eslint --fix, npx prettier --write

feat(shared): Add joinURL helper
  packages/shared/src/__tests__/url.test.ts
  packages/shared/src/url.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Remove elements alpha workflow (#2722)
  .github/workflows/alpha.elements.yml
Due: none

fix(clerk-js): Fix profile card footer on mobile (#2717)
  .changeset/healthy-fans-move.md
  packages/clerk-js/src/ui/elements/Card/CardClerkAndPagesTag.tsx
  packages/clerk-js/src/ui/elements/Card/CardFooter.tsx
  packages/clerk-js/src/ui/elements/ProfileCard/ProfileCardRoot.tsx
Due: npx eslint --fix, npx prettier --write

fix(backend): BAPIClients list methods should return `{ data, totalCount }` (#2714)
  .changeset/curvy-chefs-sneeze.md
  .changeset/healthy-eyes-marry.md
  packages/backend/src/api/__tests__/factory.test.ts
  packages/backend/src/api/endpoints/AllowlistIdentifierApi.ts
  packages/backend/src/api/endpoints/ClientApi.ts
  packages/backend/src/api/endpoints/InvitationApi.ts
  packages/backend/src/api/endpoints/RedirectUrlApi.ts
  packages/backend/src/api/endpoints/SessionApi.ts
  packages/backend/src/api/endpoints/UserApi.ts
  packages/clerk-js/src/core/fapiClient.ts
  packages/clerk-js/src/core/resources/Organization.ts
  packages/clerk-js/src/core/resources/OrganizationMembership.ts
  packages/clerk-js/src/core/resources/OrganizationSuggestion.ts
  packages/clerk-js/src/core/resources/UserOrganizationInvitation.ts
  packages/clerk-js/src/utils/convertPageToOffsetSearchParams.ts
  packages/clerk-js/src/utils/pagesToOffset.ts
  packages/types/src/pagination.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Spacing fixes for Sign In & Sign Up components
  packages/clerk-js/src/ui/components/SignIn/AlternativeMethods.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorOnePasswordCard.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorTwoAlternativeMethods.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpStart.tsx
  packages/clerk-js/src/ui/elements/ApplicationLogo.tsx
  packages/clerk-js/src/ui/elements/Card/CardContent.tsx
  packages/clerk-js/src/ui/elements/VerificationCodeCard.tsx
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Fix social button font size
  packages/clerk-js/src/ui/elements/SocialButtons.tsx
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Spacing fixes for Sign In / Sign Up components
  packages/clerk-js/src/ui/components/SignIn/AlternativeMethods.tsx
  packages/clerk-js/src/ui/components/SignIn/ResetPassword.tsx
  packages/clerk-js/src/ui/components/SignIn/ResetPasswordSuccess.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInAccountSwitcher.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorOnePasswordCard.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorTwoAlternativeMethods.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorTwoBackupCodeCard.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpContinue.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpStart.tsx
  packages/clerk-js/src/ui/elements/Card/CardContent.tsx
  packages/clerk-js/src/ui/elements/ErrorCard.tsx
  packages/clerk-js/src/ui/elements/Header.tsx
  packages/clerk-js/src/ui/elements/PhoneInput/PhoneInput.tsx
  packages/clerk-js/src/ui/elements/VerificationCodeCard.tsx
  packages/clerk-js/src/ui/elements/VerificationLinkCard.tsx
Due: npx eslint --fix, npx prettier --write

chore(repo): Add Changeset
  .changeset/thin-trees-poke.md
Due: npx prettier --write

fix(clerk-js): Move errors outside of header
  packages/clerk-js/src/ui/elements/Card/CardContent.tsx
  packages/clerk-js/src/ui/elements/VerificationCodeCard.tsx
  packages/clerk-js/src/ui/elements/VerificationLinkCard.tsx
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Add padding to app logo inside OrganizationList
  .changeset/friendly-dryers-rush.md
  packages/clerk-js/src/ui/components/OrganizationList/OrganizationListPage.tsx
  packages/clerk-js/src/ui/elements/Card.tsx
Due: npx eslint --fix, npx prettier --write

chore(elements): Example fixes
  packages/elements/examples/nextjs/app/otp-playground/page.tsx
  packages/elements/examples/nextjs/app/page.tsx
  packages/elements/examples/nextjs/components/form.tsx
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): SignIn/SignUp component spacing adjustment (#2716)
  .changeset/thin-trees-poke.md
  packages/clerk-js/src/ui/components/SignIn/AlternativeMethods.tsx
  packages/clerk-js/src/ui/components/SignIn/ResetPassword.tsx
  packages/clerk-js/src/ui/components/SignIn/ResetPasswordSuccess.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInAccountSwitcher.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorOnePasswordCard.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorTwoAlternativeMethods.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorTwoBackupCodeCard.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpContinue.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpStart.tsx
  packages/clerk-js/src/ui/elements/ApplicationLogo.tsx
  packages/clerk-js/src/ui/elements/Card/CardContent.tsx
  packages/clerk-js/src/ui/elements/ErrorCard.tsx
  packages/clerk-js/src/ui/elements/Header.tsx
  packages/clerk-js/src/ui/elements/PhoneInput/PhoneInput.tsx
  packages/clerk-js/src/ui/elements/SocialButtons.tsx
  packages/clerk-js/src/ui/elements/VerificationCodeCard.tsx
  packages/clerk-js/src/ui/elements/VerificationLinkCard.tsx
Due: npx eslint --fix, npx prettier --write

feat(elements): Do not hardcode /sign-in
  package-lock.json
  packages/elements/src/internals/machines/sign-in/sign-in.machine.ts
  packages/elements/src/react/router/router.ts
  packages/elements/src/react/sign-in/root.tsx
Due: npx eslint --fix, npx prettier --write

chore(elements): Chores
  packages/elements/src/internals/machines/sign-up/sign-up.actors.ts
  packages/elements/src/internals/machines/sign-up/sign-up.machine.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Add empty changeset
  .changeset/brave-bottles-jump.md
Due: npx prettier --write

chore(elements): Bump package version
  packages/elements/package.json
Due: npx prettier --write

chore(elements): Bump package version
  package-lock.json
Due: npx prettier --write

fix(nextjs): Use shared subpath import in server related utils to avoid bundling unused helpers
  packages/nextjs/src/utils/serverRedirectWithAuth.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Modify curvy-chefs-sneeze.md
  .changeset/curvy-chefs-sneeze.md
Due: npx prettier --write

chore(repo): Add changeset
  .changeset/thirty-kings-trade.md
Due: npx prettier --write

chore(repo): Delete changeset+
  .changeset/brave-bottles-jump.md
Due: npx prettier --write

Update thirty-kings-trade.md
  .changeset/thirty-kings-trade.md
Due: npx prettier --write

fix(clerk-js): Add padding to app logo inside OrganizationList (#2724)
  .changeset/friendly-dryers-rush.md
  packages/clerk-js/src/ui/components/OrganizationList/OrganizationListPage.tsx
  packages/clerk-js/src/ui/elements/Card.tsx
Due: npx eslint --fix, npx prettier --write

fix(nextjs): Use shared subpath import in server related utils to avoid bundling unused helpers (#2726)
  packages/nextjs/src/utils/serverRedirectWithAuth.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Fix clipped phone number picker in User Profile
  packages/clerk-js/src/ui/elements/Action/ActionCard.tsx
Due: npx eslint --fix, npx prettier --write

chore(repo): Add Changeset
  .changeset/spotty-boxes-fold.md
Due: npx prettier --write

chore(repo): Create user-profile tests
  integration/tests/navigation.test.ts
  integration/tests/user-profile.test.ts
Due: npx eslint --fix, npx prettier --write

test(clerk-js): Remove skipped integration tests related to navigation (#2723)
  .changeset/early-dryers-lay.md
  integration/testUtils/userProfilePageObject.ts
  integration/tests/navigation.test.ts
  integration/tests/user-profile.test.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Use data-1p-ignore for better UX in Clerk Components with 1password
  packages/clerk-js/src/ui/components/CreateOrganization/CreateOrganizationForm.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/AddDomainForm.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/ProfileForm.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/VerifyDomainForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/DeleteUserForm.tsx
  packages/clerk-js/src/ui/primitives/Input.tsx
  packages/clerk-js/src/ui/primitives/hooks/useFormControl.tsx
  packages/clerk-js/src/ui/utils/useFormControl.ts
Due: npx eslint --fix, npx prettier --write

Path conditions:
  npx eslint --fix: any of: *.{mjs,js,jsx,ts,tsx}
  npx prettier --write: (any of: *.{mjs,js,jsx,ts,tsx}) or (any of: *.{json,md,mdx})
