Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

add empty changeset
  .changeset/two-baboons-taste.md
Due: npx prettier --write

refactor(ui): Use current accent color, switch to system font, address font inconsistencies (#3820)
  .changeset/lemon-chairs-confess.md
  .changeset/sharp-ads-sit.md
  packages/ui/src/components/sign-in/sign-in.tsx
  packages/ui/src/components/sign-up/sign-up.tsx
  packages/ui/src/global.css
  packages/ui/src/primitives/card.tsx
  packages/ui/src/primitives/separator.tsx
  packages/ui/theme-builder/app/layout.tsx
  packages/ui/theme-builder/app/theme-builder.tsx
Due: npx eslint --fix, npx prettier --write

fix(ui): Radius inconsistencies (#3835)
  .changeset/two-baboons-taste.md
  packages/ui/src/primitives/card.tsx
Due: npx eslint --fix, npx prettier --write

wip
  packages/ui/src/common/backup-code-field.tsx
  packages/ui/src/common/email-field.tsx
  packages/ui/src/common/email-or-phone-number-field.tsx
  packages/ui/src/common/email-or-username-field.tsx
  packages/ui/src/common/email-or-username-or-phone-number-field.tsx
  packages/ui/src/common/first-name-field.tsx
  packages/ui/src/common/last-name-field.tsx
  packages/ui/src/common/otp-field.tsx
  packages/ui/src/common/password-field.tsx
  packages/ui/src/common/phone-number-field/index.tsx
  packages/ui/src/common/phone-number-or-username-field.tsx
  packages/ui/src/common/username-field.tsx
  packages/ui/src/components/sign-in/sign-in.tsx
  packages/ui/src/components/sign-up/sign-up.tsx
  packages/ui/src/constants.ts
Due: npx eslint --fix, npx prettier --write

feat(clerk-js,types): Add option to disable portaling within UserButton and OrgSwitcher components
  packages/clerk-js/src/ui/components/OrganizationSwitcher/OrganizationSwitcher.tsx
  packages/clerk-js/src/ui/components/UserButton/UserButton.tsx
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

add changeset
  .changeset/wise-birds-invent.md
Due: npx prettier --write

feat(clerk-js,types): Add overlay and lockScroll support to UserButton and OrgSwitcher
  packages/clerk-js/src/ui/components/OrganizationSwitcher/OrganizationSwitcher.tsx
  packages/clerk-js/src/ui/components/UserButton/UserButton.tsx
  packages/clerk-js/src/ui/elements/Popover.tsx
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

fix(remix): Copy only used request properties instead of the whole request
  packages/remix/src/ssr/utils.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Add Changeset
  .changeset/bright-crabs-speak.md
Due: npx prettier --write

chore(clerk-js): Update organization ID utility function description
  packages/clerk-js/src/utils/organization.ts
Due: npx eslint --fix, npx prettier --write

make customizeable
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/clerk-js/src/ui/elements/Popover.tsx
  packages/types/src/appearance.ts
Due: npx eslint --fix, npx prettier --write

add changeset
  .changeset/moody-bulldogs-bathe.md
Due: npx prettier --write

chore(clerk-js,types): Document SetActiveParams type to include slug when setting active org
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

chore: Update changeset
  .changeset/wicked-seahorses-juggle.md
Due: npx prettier --write

feat(clerk-expo): Support SDK 50
  package-lock.json
  packages/expo/src/experimental/LocalCredentials.tsx
Due: npx eslint --fix, npx prettier --write

revert husky deletion
  .husky/pre-commit
Due: none

update changeset
  .changeset/rude-poets-beam.md
Due: npx prettier --write

fix(remix): Fix issue where request body has already been read (#3839)
  .changeset/bright-crabs-speak.md
  packages/remix/src/ssr/utils.ts
Due: npx eslint --fix, npx prettier --write

remove props that aren't needed
  packages/ui/src/common/backup-code-field.tsx
  packages/ui/src/common/email-field.tsx
  packages/ui/src/common/email-or-phone-number-field.tsx
  packages/ui/src/common/email-or-username-field.tsx
  packages/ui/src/common/email-or-username-or-phone-number-field.tsx
  packages/ui/src/common/first-name-field.tsx
  packages/ui/src/common/last-name-field.tsx
  packages/ui/src/common/otp-field.tsx
  packages/ui/src/common/password-field.tsx
  packages/ui/src/common/phone-number-field/index.tsx
  packages/ui/src/common/phone-number-or-username-field.tsx
  packages/ui/src/common/username-field.tsx
  packages/ui/src/components/sign-in/sign-in.tsx
  packages/ui/src/components/sign-up/sign-up.tsx
  packages/ui/src/constants.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Handle falsy values when checking organization ID
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/utils/__tests__/organization.test.ts
  packages/clerk-js/src/utils/organization.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Format function definition
  packages/clerk-js/src/utils/organization.ts
Due: npx eslint --fix, npx prettier --write

use translated errors where avail
  packages/ui/src/common/email-field.tsx
  packages/ui/src/common/first-name-field.tsx
  packages/ui/src/common/last-name-field.tsx
  packages/ui/src/common/username-field.tsx
Due: npx eslint --fix, npx prettier --write

split up providers
  packages/ui/src/common/backup-code-field.tsx
  packages/ui/src/common/checkbox-field.tsx
  packages/ui/src/common/connections.tsx
  packages/ui/src/common/email-field.tsx
  packages/ui/src/common/email-or-username-field.tsx
  packages/ui/src/common/email-or-username-or-phone-number-field.tsx
  packages/ui/src/common/first-name-field.tsx
  packages/ui/src/common/last-name-field.tsx
  packages/ui/src/common/otp-field.tsx
  packages/ui/src/common/password-field.tsx
  packages/ui/src/common/phone-number-or-username-field.tsx
  packages/ui/src/common/username-field.tsx
  packages/ui/src/constants/localizations.ts
  packages/ui/src/constants/providers.ts
Due: npx eslint --fix, npx prettier --write

add empty changeset
  .changeset/warm-spies-buy.md
Due: npx prettier --write

refactor(ui): Enforce i18n across form fields (#3836)
  .changeset/warm-spies-buy.md
  packages/ui/src/common/backup-code-field.tsx
  packages/ui/src/common/checkbox-field.tsx
  packages/ui/src/common/connections.tsx
  packages/ui/src/common/email-field.tsx
  packages/ui/src/common/email-or-phone-number-field.tsx
  packages/ui/src/common/email-or-username-field.tsx
  packages/ui/src/common/email-or-username-or-phone-number-field.tsx
  packages/ui/src/common/first-name-field.tsx
  packages/ui/src/common/last-name-field.tsx
  packages/ui/src/common/otp-field.tsx
  packages/ui/src/common/password-field.tsx
  packages/ui/src/common/phone-number-field/index.tsx
  packages/ui/src/common/phone-number-or-username-field.tsx
  packages/ui/src/common/username-field.tsx
  packages/ui/src/components/sign-in/sign-in.tsx
  packages/ui/src/components/sign-up/sign-up.tsx
  packages/ui/src/constants/localizations.ts
  packages/ui/src/constants/providers.ts
Due: npx eslint --fix, npx prettier --write

fix(elements): Update isLoggedInAndSingleSession guard with navigation
  packages/elements/src/internals/machines/sign-in/router.machine.ts
Due: npx eslint --fix, npx prettier --write

add changeset
  .changeset/many-lizards-tap.md
Due: npx prettier --write

Update .changeset/many-lizards-tap.md
  .changeset/many-lizards-tap.md
Due: npx prettier --write

update signup guard for isSingleSessionMode
  packages/elements/src/internals/machines/sign-up/router.machine.ts
Due: npx eslint --fix, npx prettier --write

fix(elements): Update isLoggedInAndSingleSession guard with navigation (#3841)
  .changeset/many-lizards-tap.md
  packages/elements/src/internals/machines/sign-in/router.machine.ts
  packages/elements/src/internals/machines/sign-up/router.machine.ts
Due: npx eslint --fix, npx prettier --write

Drop provider and add web support
  package-lock.json
  packages/expo/src/experimental/index.ts
  packages/expo/src/hooks/index.ts
  packages/expo/src/hooks/useLocalCredentials/index.tsx
  packages/expo/src/hooks/useLocalCredentials/shared.ts
  packages/expo/src/hooks/useLocalCredentials/useLocalCredentials.ts
  packages/expo/src/hooks/useLocalCredentials/useLocalCredentials.web.ts
  packages/expo/src/index.ts
Due: npx eslint --fix, npx prettier --write

chore(backend): remove AuthObjectDebugData, AuthObjectDebug, SignedInAuthObject, SignedOutAuthObject, and AuthObject type definitions in favour of exporting from @clerk/types
  packages/backend/src/tokens/authObjects.ts
Due: npx eslint --fix, npx prettier --write

feat(elements): Add SAML support
  .changeset/dirty-dragons-swim.md
  packages/elements/examples/nextjs/app/sign-in/[[...sign-in]]/page.tsx
  packages/elements/examples/nextjs/app/sign-up/[[...sign-up]]/page.tsx
  packages/elements/src/internals/machines/sign-in/router.machine.ts
  packages/elements/src/internals/machines/sign-up/router.machine.ts
  packages/elements/src/react/common/connections.tsx
  packages/elements/src/react/hooks/use-third-party-provider.hook.ts
  packages/elements/src/utils/third-party-strategies.ts
Due: npx eslint --fix, npx prettier --write

feat(types): add AuthObjectDebugData, AuthObjectDebug, SignedInAuthObject, SignedOutAuthObject, and AuthObject type definitions to token.ts
  packages/types/src/token.ts
Due: npx eslint --fix, npx prettier --write

chore(astro): update import of AuthObject to @clerk/types
  packages/astro/src/server/clerk-middleware.ts
  packages/astro/src/server/get-auth.ts
Due: npx eslint --fix, npx prettier --write

chore(backend): update import of AuthObject to @clerk/types, and remove export from internal.ts of removed types
  packages/backend/src/internal.ts
  packages/backend/src/tokens/authStatus.ts
  packages/backend/src/util/decorateObjectWithResources.ts
Due: npx eslint --fix, npx prettier --write

chore(express): update import of AuthObject to @clerk/types
  packages/express/src/getAuth.ts
  packages/express/src/types.ts
Due: npx eslint --fix, npx prettier --write

chore(fastify): update import of AuthObject to @clerk/types
  packages/fastify/src/getAuth.ts
Due: npx eslint --fix, npx prettier --write

chore(gatsby-plugin-clerk): update import of AuthObject to @clerk/types
  packages/gatsby-plugin-clerk/src/ssr/types.ts
Due: npx eslint --fix, npx prettier --write

chore(nextjs): update import of AuthObject and SignedInAuthObject to @clerk/types
  packages/nextjs/src/app-router/server/auth.ts
  packages/nextjs/src/server/authMiddleware.ts
  packages/nextjs/src/server/clerkMiddleware.ts
  packages/nextjs/src/server/createGetAuth.ts
  packages/nextjs/src/server/protect.ts
Due: npx eslint --fix, npx prettier --write

Path conditions:
  npx eslint --fix: any of: *.{mjs,js,jsx,ts,tsx}
  npx prettier --write: (any of: *.{mjs,js,jsx,ts,tsx}) or (any of: *.{json,md,mdx})
