Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["npx prettier --write", "npx eslint --fix"],
  "*.{json,md,mdx}": ["npx prettier --write"]
}

test(clerk-js): Use `getInvitations` instead of getPendingInvitations
  packages/clerk-js/src/core/resources/__snapshots__/Organization.test.ts.snap
  packages/clerk-js/src/core/resources/__snapshots__/OrganizationMembership.test.ts.snap
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/OrganizationMembers.test.tsx
Due: npx prettier --write, npx eslint --fix

feat(clerk-js): Introduce `Organization.getInvitations` and deprecate `getPendingInvitations`
  .changeset/three-carrots-remain.md
  packages/clerk-js/src/core/resources/Organization.ts
  packages/types/src/organization.ts
Due: npx prettier --write, npx eslint --fix

Add "i haven't reached out to support already" to issue template
  .github/ISSUE_TEMPLATE/BUG_REPORT.yml
Due: none

add required
  .github/ISSUE_TEMPLATE/BUG_REPORT.yml
Due: none

Update .github/ISSUE_TEMPLATE/BUG_REPORT.yml
  .github/ISSUE_TEMPLATE/BUG_REPORT.yml
Due: none

change to use CloudFrontForwardedProto header
  packages/backend/src/constants.ts
  packages/backend/src/tokens/request.ts
  packages/backend/src/util/request.test.ts
  packages/sdk-node/src/authenticateRequest.ts
Due: npx prettier --write, npx eslint --fix

update changeset
  .changeset/khaki-balloons-cheat.md
Due: npx prettier --write

revert previous change
  packages/backend/src/util/request.ts
Due: npx prettier --write, npx eslint --fix

feat(shared): Introduce isTestEnvironment & isProductionEnvironment helpers
  packages/shared/src/utils/index.ts
  packages/shared/src/utils/runtimeEnvironment.ts
Due: npx prettier --write, npx eslint --fix

fix(shared): Hide deprecation warnings on test & production environments
  packages/shared/src/utils/deprecated.test.ts
  packages/shared/src/utils/deprecated.ts
Due: npx prettier --write, npx eslint --fix

Create silver-onions-look.md
  .changeset/silver-onions-look.md
Due: npx prettier --write

fix(clerk-react): Remove unnecessary nested package.json files
  packages/react/package.cjs.json
  packages/react/package.esm.json
  packages/react/package.json
  packages/react/tsup.config.ts
Due: npx prettier --write, npx eslint --fix

Create smart-poems-film.md
  .changeset/smart-poems-film.md
Due: npx prettier --write

fix(clerk-react): Do not use globs
  packages/react/package.json
Due: npx prettier --write

fix(shared): Fix SyntaxError on non-module imports by dropping support for import.meta used in vite
  packages/shared/src/utils/runtimeEnvironment.ts
Due: npx prettier --write, npx eslint --fix

Create giant-needles-exercise.md
  .changeset/giant-needles-exercise.md
Due: npx prettier --write

chore(clerk-js): Use deprecate util for Organization.getMemberships params
  .changeset/forty-crews-fetch.md
  packages/clerk-js/src/core/resources/Organization.ts
Due: npx prettier --write, npx eslint --fix

chore(repo): Version packages (#1768)
  .changeset/blue-laws-prove.md
  .changeset/fast-books-kiss.md
  .changeset/five-swans-dream.md
  .changeset/giant-needles-exercise.md
  .changeset/lovely-donuts-wave.md
  .changeset/nervous-ducks-battle.md
  .changeset/silver-onions-look.md
  .changeset/smart-poems-film.md
  .changeset/stupid-tips-destroy.md
  .changeset/thick-jokes-smile.md
  .changeset/three-carrots-remain.md
  .changeset/wet-icons-rest.md
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Due: npx prettier --write

chore(backend): Fix global types
  packages/backend/src/global.d.ts
Due: npx prettier --write, npx eslint --fix

chore(shared): Move share-able code from backend to shared package
  packages/shared/src/utils/callWithRetry.ts
  packages/shared/src/utils/index.ts
  packages/shared/src/utils/instance.ts
  packages/shared/src/utils/keys.ts
  packages/shared/src/utils/url.ts
Due: npx prettier --write, npx eslint --fix

chore(nextjs): Introduce shared module to contain @clerk/shared related code
  packages/nextjs/src/server/utils.ts
  packages/nextjs/src/shared/index.ts
  packages/nextjs/src/shared/url.ts
Due: npx prettier --write, npx eslint --fix

fix(shared): Use `use client` directive to support shared in RSC
  packages/shared/src/hooks/clerk-swr.ts
  packages/shared/src/hooks/usePagesOrInfinite.ts
Due: npx prettier --write, npx eslint --fix

chore(nextjs): Use utilities from @clerk/shared
  .changeset/unlucky-emus-greet.md
  packages/nextjs/src/server/utils.ts
  packages/nextjs/src/shared/index.ts
  packages/nextjs/src/shared/url.ts
Due: npx prettier --write, npx eslint --fix

chore(nextjs): Warn about NEXT_PUBLIC_CLERK_FRONTEND_API environment variable deprecation
  packages/nextjs/src/server/constants.ts
Due: npx prettier --write, npx eslint --fix

chore(nextjs): Warn about withServerSideAuth deprecation
  .changeset/spicy-toys-change.md
  packages/nextjs/src/ssr/withServerSideAuth.ts
Due: npx prettier --write, npx eslint --fix

chore(nextjs): Warn about withClerkMiddleware deprecation
  packages/nextjs/src/server/withClerkMiddleware.ts
Due: npx prettier --write, npx eslint --fix

chore(nextjs): Warn about CLERK_API_KEY environment variable deprecation
  packages/nextjs/src/server/constants.ts
Due: npx prettier --write, npx eslint --fix

chore(nextjs): Add deprecation JSDoc for server constants to be marked as internal
  packages/nextjs/src/server/clerkClient.ts
  packages/nextjs/src/server/constants.ts
Due: npx prettier --write, npx eslint --fix

chore(nextjs): Warn about CLERK_JS_VERSION environment variable deprecation
  packages/nextjs/src/server/constants.ts
  turbo.json
Due: npx prettier --write, npx eslint --fix
