Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{mjs,js,jsx,ts,tsx}": ["npx eslint --fix", "npx prettier --write"],
  "*.{json,md,mdx}": ["npx prettier --write"]
}

chore(react-router): Add basic unit tests (#4784)
  .changeset/pink-onions-ring.md
  packages/react-router/package.json
  packages/react-router/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/react-router/src/__tests__/exports.test.ts
  packages/react-router/src/utils/__tests__/assert.test.ts
  packages/react-router/vitest.config.mts
  packages/react-router/vitest.setup.mts
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Bump Coinbase sdk version
  packages/clerk-js/package.json
  packages/clerk-js/rspack.config.js
  pnpm-lock.yaml
Due: npx eslint --fix, npx prettier --write

fix(shared): Improve error message when Publishable Key is missing
  .changeset/long-birds-worry.md
  packages/shared/src/__tests__/keys.test.ts
  packages/shared/src/keys.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Redirect to current page within modal with no redirect url (#4768)
  .changeset/young-swans-sin.md
  packages/clerk-js/src/ui/components/SignIn/SignIn.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUp.tsx
  packages/clerk-js/src/ui/contexts/components/SignIn.ts
  packages/clerk-js/src/ui/contexts/components/SignUp.ts
  packages/clerk-js/src/utils/__tests__/redirectUrls.test.ts
  packages/clerk-js/src/utils/redirectUrls.ts
Due: npx eslint --fix, npx prettier --write

fix(localizations): Improve `el-GR` localization (#4757)
  .changeset/loud-keys-smash.md
  packages/localizations/src/el-GR.ts
Due: npx eslint --fix, npx prettier --write

fix(localizations): Improve `pl-PL` localization (#4781)
  .changeset/ninety-wasps-rush.md
  packages/localizations/src/pl-PL.ts
Due: npx eslint --fix, npx prettier --write

chore(nextjs): Improve experience when swapping keys on Keyless mode
  .changeset/young-beans-trade.md
  packages/nextjs/src/server/errors.ts
  packages/nextjs/src/server/utils.ts
Due: npx eslint --fix, npx prettier --write

add remedation instructions to the error message
  packages/shared/src/__tests__/keys.test.ts
  packages/shared/src/keys.ts
Due: npx eslint --fix, npx prettier --write

chore: remove experimental check
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/common/redirects.ts
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpContinue.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpStart.tsx
  packages/clerk-js/src/ui/contexts/components/SignIn.ts
  packages/clerk-js/src/ui/contexts/components/SignUp.ts
Due: npx eslint --fix, npx prettier --write

apply fix
  packages/clerk-js/src/core/auth/cookies/devBrowser.ts
Due: npx eslint --fix, npx prettier --write

Update packages/nextjs/src/server/errors.ts
  packages/nextjs/src/server/errors.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Force devBrowser to create suffixed cookies (#4776)
  .changeset/shy-steaks-tell.md
  packages/clerk-js/src/core/auth/cookies/devBrowser.ts
  packages/clerk-js/src/core/auth/devBrowser.ts
Due: npx eslint --fix, npx prettier --write

Update .changeset/young-beans-trade.md
  .changeset/young-beans-trade.md
Due: npx prettier --write

chore(nextjs): Improve experience when swapping keys on Keyless mode (#4787)
  .changeset/young-beans-trade.md
  packages/nextjs/src/server/errors.ts
  packages/nextjs/src/server/utils.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Attempt to fix deploy retheme PR
  .changeset/quick-pens-hug.md
  packages/clerk-js/src/ui/primitives/hooks/index.ts
  packages/clerk-js/src/ui/primitives/hooks/useFormField.tsx
Due: npx eslint --fix, npx prettier --write

Create brave-rats-design.md
  .changeset/brave-rats-design.md
Due: npx prettier --write

check for empty signUpUrl
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/contexts/components/SignIn.ts
  packages/clerk-js/src/ui/contexts/components/SignUp.ts
Due: npx eslint --fix, npx prettier --write

Update SignInProps
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

ci(repo): Version packages (#4780)
  .changeset/fresh-olives-watch.md
  .changeset/large-hats-clap.md
  .changeset/loud-keys-smash.md
  .changeset/ninety-wasps-rush.md
  .changeset/pink-onions-ring.md
  .changeset/shy-steaks-tell.md
  .changeset/stale-cougars-roll.md
  .changeset/young-beans-trade.md
  .changeset/young-swans-sin.md
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: npx prettier --write

feat(vue,nuxt): Add major version bump changeset
  .changeset/shiny-papayas-know.md
Due: npx prettier --write

update checks
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/components/SignIn/SignIn.tsx
  packages/clerk-js/src/ui/contexts/components/SignIn.ts
  packages/clerk-js/src/ui/contexts/components/SignUp.ts
Due: npx eslint --fix, npx prettier --write

remove unused WithClerk component
  packages/react/src/components/withClerk.tsx
  packages/react/src/errors/messages.ts
Due: npx eslint --fix, npx prettier --write

Adds fallback to integration test cases
  integration/templates/next-app-router/src/app/page.tsx
  integration/templates/next-app-router/src/app/sign-up/[[...catchall]]/page.tsx
  integration/templates/next-app-router/src/app/switcher/page.tsx
  integration/templates/next-app-router/src/app/user/[[...catchall]]/page.tsx
  integration/templates/react-vite/src/custom-user-button/index.tsx
  integration/templates/react-vite/src/custom-user-profile/index.tsx
  integration/templates/react-vite/src/sign-up/index.tsx
  integration/templates/react-vite/src/user/index.tsx
  integration/tests/sign-up-flow.test.ts
  packages/react/src/components/uiComponents.tsx
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Attempt to fix deploy retheme PR (#4790)
  .changeset/quick-pens-hug.md
  packages/clerk-js/src/ui/primitives/hooks/index.ts
  packages/clerk-js/src/ui/primitives/hooks/useFormField.tsx
Due: npx eslint --fix, npx prettier --write

Remove unused workflow input
  .changeset/nine-grapes-promise.md
  .github/workflows/ci.yml
Due: npx prettier --write

Do not use environment protection rule, rely on workflow run
  .github/workflows/ci.yml
Due: none

Add `organization_id` to `SamlConnection` resource
  packages/backend/src/api/resources/JSON.ts
  packages/backend/src/api/resources/SamlConnection.ts
Due: npx eslint --fix, npx prettier --write

Pass `organization_id` when creating/updating SAML connection
  .changeset/nine-grapes-promise.md
  .github/workflows/ci.yml
  packages/backend/src/api/endpoints/SamlConnectionApi.ts
Due: npx eslint --fix, npx prettier --write

Add changeset
  .changeset/kind-crews-hear.md
Due: npx prettier --write

allow null on inviterUserId on CreateOrganizationInvitationParams
  packages/backend/src/api/endpoints/OrganizationApi.ts
Due: npx eslint --fix, npx prettier --write

update text
  packages/shared/src/__tests__/keys.test.ts
  packages/shared/src/keys.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js,clerk-react,types): Optimize Coinbase SDK loading
  .changeset/healthy-pears-play.md
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/utils/web3.ts
Due: npx eslint --fix, npx prettier --write

test(vue): Add fallback url after sign in and up
  integration/templates/vue-vite/src/views/Unstyled.vue
Due: none

chore: add placeholder changeset
  .changeset/tasty-queens-build.md
Due: npx prettier --write

chore: fix formatting
  integration/templates/vue-vite/src/views/Unstyled.vue
Due: none

test(vue): Fix unstyled button E2E test timeout errors (#4794)
  .changeset/tasty-queens-build.md
  integration/templates/vue-vite/src/views/Unstyled.vue
Due: npx prettier --write

feat(clerk-js): Support collecting optional fields in combined flow
  packages/clerk-js/src/ui/components/SignIn/handleCombinedFlowTransfer.ts
Due: npx eslint --fix, npx prettier --write

fix(shared): Improve error message when Publishable Key is missing (#4785)
  .changeset/long-birds-worry.md
  packages/shared/src/__tests__/keys.test.ts
  packages/shared/src/keys.ts
Due: npx eslint --fix, npx prettier --write

Revert "fix(clerk-js): Force devBrowser to create suffixed cookies (#4776)"
  packages/clerk-js/src/core/auth/cookies/devBrowser.ts
  packages/clerk-js/src/core/auth/devBrowser.ts
Due: npx eslint --fix, npx prettier --write

adds changeset
  .changeset/wet-jars-tickle.md
Due: npx prettier --write
