Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{mjs,js,jsx,ts,tsx}": ["npx eslint --fix", "npx prettier --write"],
  "*.{json,md,mdx}": ["npx prettier --write"]
}

fix(clerk-js): Revert #4776 (#4797)
  .changeset/wet-jars-tickle.md
  packages/clerk-js/src/core/auth/cookies/devBrowser.ts
  packages/clerk-js/src/core/auth/devBrowser.ts
Due: npx eslint --fix, npx prettier --write

Update handleCombinedFlowTransfer.ts
  packages/clerk-js/src/ui/components/SignIn/handleCombinedFlowTransfer.ts
Due: npx eslint --fix, npx prettier --write

add changeset
  .changeset/twelve-goats-shake.md
Due: npx prettier --write

feat(clerk-js,react,types): Add option to enable combined flow at component level
  packages/clerk-js/src/ui/contexts/components/SignIn.ts
  packages/react/src/components/SignInButton.tsx
  packages/react/src/types.ts
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

fix(repo): Link local packages for e2e
  integration/.eslintrc.js
  integration/presets/astro.ts
  integration/presets/elements.ts
  integration/presets/expo.ts
  integration/presets/express.ts
  integration/presets/next.ts
  integration/presets/nuxt.ts
  integration/presets/react-router.ts
  integration/presets/react.ts
  integration/presets/remix.ts
  integration/presets/tanstack.ts
  integration/presets/vue.ts
Due: npx eslint --fix, npx prettier --write

changeset
  .changeset/eleven-months-swim.md
Due: npx prettier --write

add changeset
  .changeset/cuddly-shrimps-fold.md
Due: npx prettier --write

format
  integration/.eslintrc.js
Due: npx eslint --fix, npx prettier --write

chore(vue): Expose initialValues prop within unstyled components
  packages/vue/src/components/SignInButton.ts
  packages/vue/src/components/SignUpButton.ts
Due: npx eslint --fix, npx prettier --write

chore: add changeset
  .changeset/shiny-pandas-love.md
Due: npx prettier --write

refactor
  integration/presets/astro.ts
  integration/presets/elements.ts
  integration/presets/expo.ts
  integration/presets/express.ts
  integration/presets/next.ts
  integration/presets/nuxt.ts
  integration/presets/react-router.ts
  integration/presets/react.ts
  integration/presets/remix.ts
  integration/presets/tanstack.ts
  integration/presets/utils.ts
  integration/presets/vue.ts
Due: npx eslint --fix, npx prettier --write

feat(clerk-js): Support collecting optional fields in combined flow (#4795)
  .changeset/twelve-goats-shake.md
  packages/clerk-js/src/ui/components/SignIn/handleCombinedFlowTransfer.ts
Due: npx eslint --fix, npx prettier --write

WIP
  integration/presets/astro.ts
Due: npx eslint --fix, npx prettier --write

WIP
  integration/presets/expo.ts
  integration/presets/express.ts
  integration/presets/next.ts
Due: npx eslint --fix, npx prettier --write

ci(repo): Version packages (#4802)
  .changeset/twelve-goats-shake.md
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
Due: npx prettier --write

Remove minimize button, open link in new tab
  packages/clerk-js/src/ui/components/KeylessPrompt/index.tsx
Due: npx eslint --fix, npx prettier --write

fix: add `query` to `GetInvitationListParams`
  .changeset/spotty-berries-bake.md
  packages/backend/src/api/endpoints/InvitationApi.ts
Due: npx eslint --fix, npx prettier --write

Handle keyboard expansion
  packages/clerk-js/src/ui/components/KeylessPrompt/index.tsx
Due: npx eslint --fix, npx prettier --write

chore(repo): Add changeset
  .changeset/old-dryers-approve.md
Due: npx prettier --write

feat(types): Add oidcPrompt and oidcLoginHint
  packages/types/src/externalAccount.ts
  packages/types/src/factors.ts
  packages/types/src/signIn.ts
  packages/types/src/signUp.ts
  packages/types/src/user.ts
Due: npx eslint --fix, npx prettier --write

feat(types): Add `oidcPrompt` and `oidcLoginHint` (#4789)
  .changeset/old-dryers-approve.md
  packages/types/src/externalAccount.ts
  packages/types/src/factors.ts
  packages/types/src/signIn.ts
  packages/types/src/signUp.ts
  packages/types/src/user.ts
Due: npx eslint --fix, npx prettier --write

Checkpoint
  packages/clerk-js/src/ui/components/KeylessPrompt/index.tsx
Due: npx eslint --fix, npx prettier --write

Changeset
  .changeset/short-news-enjoy.md
Due: npx prettier --write

WIP
  packages/clerk-js/src/ui/components/KeylessPrompt/index.tsx
Due: npx eslint --fix, npx prettier --write

remove obsolete remix
  integration/constants.ts
  integration/presets/index.ts
  integration/presets/longRunningApps.ts
  integration/presets/remix.ts
  integration/templates/index.ts
  integration/templates/remix-node/.eslintrc.js
  integration/templates/remix-node/.gitignore
  integration/templates/remix-node/README.md
  integration/templates/remix-node/app/entry.client.tsx
  integration/templates/remix-node/app/entry.server.tsx
  integration/templates/remix-node/app/root.tsx
  integration/templates/remix-node/app/routes/_index.tsx
  integration/templates/remix-node/app/routes/protected.tsx
  integration/templates/remix-node/app/routes/sign-in.$.tsx
  integration/templates/remix-node/app/routes/sign-up.$.tsx
  integration/templates/remix-node/package.json
  integration/templates/remix-node/public/favicon.ico
  integration/templates/remix-node/remix.config.js
  integration/templates/remix-node/remix.env.d.ts
  integration/templates/remix-node/server.ts
  integration/templates/remix-node/tsconfig.json
Due: npx eslint --fix, npx prettier --write

add react router library mode base
  integration/presets/react-router.ts
  integration/templates/index.ts
  integration/templates/react-router-library/README.md
  integration/templates/react-router-library/index.html
  integration/templates/react-router-library/package.json
  integration/templates/react-router-library/public/vite.svg
  integration/templates/react-router-library/src/App.css
  integration/templates/react-router-library/src/App.tsx
  integration/templates/react-router-library/src/assets/react.svg
  integration/templates/react-router-library/src/index.css
  integration/templates/react-router-library/src/main.tsx
  integration/templates/react-router-library/src/vite-env.d.ts
  integration/templates/react-router-library/tsconfig.app.json
  integration/templates/react-router-library/tsconfig.json
  integration/templates/react-router-library/tsconfig.node.json
  integration/templates/react-router-library/vite.config.ts
  integration/tests/react-router/library-mode.test.ts
Due: npx eslint --fix, npx prettier --write

get library mode working
  integration/templates/react-router-library/package.json
  integration/tests/react-router/library-mode.test.ts
  package.json
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Refactor `FraudProtection` singleton mechanism
  packages/clerk-js/src/core/fraudProtection.test.ts
  packages/clerk-js/src/core/fraudProtection.ts
  packages/clerk-js/src/core/resources/Base.ts
Due: npx eslint --fix, npx prettier --write

Add changeset
  .changeset/silly-moose-invite.md
Due: npx prettier --write

chore(vue): Expose `initialValues` prop within `<SignInButton />` and `<SignUpButton />` (#4801)
  .changeset/shiny-pandas-love.md
  packages/vue/src/components/SignInButton.ts
  packages/vue/src/components/SignUpButton.ts
Due: npx eslint --fix, npx prettier --write

prettier formatting
  integration/templates/react-router-library/index.html
Due: none

adds component test file
  integration/templates/next-app-router/src/app/user-button/page.tsx
  integration/templates/react-vite/src/main.tsx
  integration/templates/react-vite/src/user-button/index.tsx
  integration/tests/components.test.ts
  integration/tests/sign-in-flow.test.ts
  integration/tests/sign-up-flow.test.ts
Due: npx eslint --fix, npx prettier --write

fix comment
  packages/clerk-js/src/core/fraudProtection.test.ts
Due: npx eslint --fix, npx prettier --write

Updating changeset with (as-yet-unreleased) docs link
  .changeset/kind-crews-hear.md
Due: npx prettier --write

feat(clerk-js,vue,astro,shared,types): Introduce pending session status
  packages/astro/src/stores/internal.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/resources/Client.ts
  packages/clerk-js/src/core/resources/Session.ts
  packages/clerk-js/src/core/resources/SignIn.ts
  packages/clerk-js/src/core/resources/SignUp.ts
  packages/clerk-js/src/ui/components/ImpersonationFab/ImpersonationFab.tsx
  packages/shared/src/react/contexts.tsx
  packages/shared/src/react/hooks/useSession.ts
  packages/types/src/clerk.ts
  packages/types/src/client.ts
  packages/types/src/hooks.ts
  packages/types/src/session.ts
  packages/types/src/signIn.ts
  packages/types/src/signUp.ts
  packages/vue/src/composables/useSession.ts
  packages/vue/src/types.ts
Due: npx eslint --fix, npx prettier --write

wip
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/components/SignIn/SignIn.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorOnePasswordCard.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInSelectOrganization.tsx
  packages/clerk-js/src/utils/componentGuards.ts
Due: npx eslint --fix, npx prettier --write

wip
  packages/clerk-js/src/core/auth/AuthCookieService.ts
  packages/clerk-js/src/core/resources/Session.ts
  packages/clerk-js/src/ui/components/OrganizationList/UserMembershipList.tsx
  packages/clerk-js/src/ui/components/SignIn/SignIn.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorOnePasswordCard.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInSelectOrganization.tsx
  packages/clerk-js/src/ui/elements/contexts/FlowMetadataContext.tsx
  packages/types/src/session.ts
Due: npx eslint --fix, npx prettier --write

chore(backend): Introduce SAML connections per org (#4792)
  .changeset/kind-crews-hear.md
  packages/backend/src/api/endpoints/SamlConnectionApi.ts
  packages/backend/src/api/resources/JSON.ts
  packages/backend/src/api/resources/SamlConnection.ts
Due: npx eslint --fix, npx prettier --write
