Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

more light-dark
  packages/ui/src/primitives/icon.tsx
Due: npx eslint --fix, npx prettier --write

use cl prefixed vars
  packages/ui/src/primitives/icon.tsx
  packages/ui/theme-builder/app/theme-builder.tsx
Due: npx eslint --fix, npx prettier --write

update clerk/ui for rendering
  packages/ui/package.json
  packages/ui/src/common/phone-number-field.tsx
  packages/ui/src/components/sign-in/sign-in.tsx
  packages/ui/src/components/sign-in/steps/choose-session.tsx
  packages/ui/src/components/sign-in/steps/choose-strategy.tsx
  packages/ui/src/components/sign-up/steps/start.tsx
  packages/ui/src/components/sign-up/steps/verifications.tsx
  packages/ui/src/hooks/use-display-config.ts
  packages/ui/src/hooks/use-enabled-connections.ts
  packages/ui/src/hooks/use-environment.ts
  packages/ui/src/hooks/use-options.ts
  packages/ui/src/hooks/use-reset-password-factor.ts
  packages/ui/src/primitives/animated.tsx
  packages/ui/tsup.config.ts
Due: npx eslint --fix, npx prettier --write

fix host router issue
  packages/elements/src/internals/constants/index.ts
  packages/elements/src/internals/machines/third-party/third-party.actors.ts
  packages/nextjs/src/app-router/client/ClerkProvider.tsx
Due: npx eslint --fix, npx prettier --write

new ui renderer
  package-lock.json
  packages/clerk-js/package.json
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/new/index.tsx
  packages/clerk-js/src/ui/new/renderer.tsx
  packages/clerk-js/webpack.config.js
Due: npx eslint --fix, npx prettier --write

refactor component renderer, add sign up
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/new/index.tsx
  packages/clerk-js/src/ui/new/renderer.tsx
  packages/clerk-js/src/ui/new/types.ts
  packages/ui/src/components/sign-in/steps/start.tsx
  packages/ui/src/components/sign-up/sign-up.tsx
Due: npx eslint --fix, npx prettier --write

remove unused function
  packages/clerk-js/src/ui/new/index.tsx
Due: npx eslint --fix, npx prettier --write

add another comment
  packages/clerk-js/src/ui/new/renderer.tsx
Due: npx eslint --fix, npx prettier --write

fix(tanstack-start): Fix conflicting peer dependencies
  package-lock.json
Due: npx prettier --write

fix(tanstack-start): Fix conflicting peer dependencies (#4115)
  package-lock.json
Due: npx prettier --write

Completed the nl-NL localization
  packages/localizations/src/nl-NL.ts
Due: npx eslint --fix, npx prettier --write

chore(ui): Add ios-support conditions for inputs to prevent zoom (#4111)
  .changeset/gold-crabs-scream.md
  packages/ui/src/common/phone-number-field.tsx
  packages/ui/src/primitives/field.tsx
  packages/ui/src/tailwind.config.ts
  packages/ui/theme-builder/app/theme-builder.tsx
Due: npx eslint --fix, npx prettier --write

add defaults
  packages/ui/src/tailwind.config.ts
Due: npx eslint --fix, npx prettier --write

chore(ui): Update provider icons to default to color variant (#4113)
  .changeset/four-lobsters-itch.md
  packages/ui/src/constants/providers.ts
  packages/ui/src/primitives/icon.tsx
  packages/ui/src/tailwind.config.ts
  packages/ui/theme-builder/app/theme-builder.tsx
Due: npx eslint --fix, npx prettier --write

feat(nextjs): Add support for `basePath` config property (#4063)
  .changeset/lucky-trains-cover.md
  packages/nextjs/.eslintrc.js
  packages/nextjs/src/app-router/client/useInternalNavFun.ts
  packages/nextjs/src/pages/ClerkProvider.tsx
  packages/nextjs/src/utils/__tests__/removeBasePath.test.ts
  packages/nextjs/src/utils/index.ts
  packages/nextjs/src/utils/removeBasePath.ts
Due: npx eslint --fix, npx prettier --write

Minor improvements
  packages/localizations/src/nl-NL.ts
Due: npx eslint --fix, npx prettier --write

nl-NL i18n
  .changeset/rude-beds-rest.md
  package-lock.json
  package.json
Due: npx prettier --write

feat: Support assurance in `has()`
  .changeset/red-pens-rest.md
  packages/backend/src/tokens/authObjects.ts
  packages/clerk-js/src/core/resources/Session.ts
  packages/react/src/hooks/useAuth.ts
  packages/types/src/session.ts
Due: npx eslint --fix, npx prettier --write

fix(elements): Form machine error typing
  packages/elements/src/internals/errors/index.ts
  packages/elements/src/internals/machines/form/form.machine.ts
  packages/shared/src/error.ts
Due: npx eslint --fix, npx prettier --write

chore(ui): Update metamask icon
  packages/ui/src/primitives/icon.tsx
Due: npx eslint --fix, npx prettier --write

add changeset
  .changeset/proud-coats-look.md
Due: npx prettier --write

add changeset
  .changeset/breezy-drinks-camp.md
Due: npx prettier --write

optimize
  packages/ui/src/primitives/icon.tsx
Due: npx eslint --fix, npx prettier --write

chore(ui): Update metamask icon (#4120)
  .changeset/breezy-drinks-camp.md
  packages/ui/src/primitives/icon.tsx
Due: npx eslint --fix, npx prettier --write

feat(elements): Allow for Passkey events in verifications (#4093)
  .changeset/silent-students-vanish.md
  packages/elements/src/internals/machines/sign-in/router.machine.ts
  packages/elements/src/internals/machines/sign-in/verification.machine.ts
Due: npx eslint --fix, npx prettier --write

fix(elements): Form machine error typing (#4119)
  .changeset/proud-coats-look.md
  packages/elements/src/internals/errors/index.ts
  packages/elements/src/internals/machines/form/form.machine.ts
  packages/shared/src/error.ts
Due: npx eslint --fix, npx prettier --write

remove centering from card component
  packages/ui/src/primitives/card.tsx
Due: npx eslint --fix, npx prettier --write

fix icon rendering
  packages/ui/src/tailwind.config.ts
Due: npx eslint --fix, npx prettier --write

update to default colors
  packages/ui/src/tailwind.config.ts
Due: npx eslint --fix, npx prettier --write

fix key warnings
  packages/ui/src/components/sign-in/steps/start.tsx
  packages/ui/src/components/sign-up/steps/start.tsx
Due: npx eslint --fix, npx prettier --write

autofocus otp
  packages/ui/src/common/otp-field.tsx
Due: npx eslint --fix, npx prettier --write

fix defaults
  packages/ui/theme-builder/app/theme-builder.tsx
Due: npx eslint --fix, npx prettier --write

add changeset
  .changeset/heavy-avocados-deny.md
Due: npx prettier --write

chore(astro): Allow child elements in unstyled components
  packages/astro/src/astro-components/unstyled/SignInButton.astro
  packages/astro/src/astro-components/unstyled/SignOutButton.astro
  packages/astro/src/astro-components/unstyled/SignUpButton.astro
  packages/astro/src/astro-components/unstyled/utils.ts
Due: npx eslint --fix, npx prettier --write

test(astro): Use child button to sign in button
  integration/templates/astro-node/src/pages/buttons.astro
Due: none

chore(astro): Add changeset
  .changeset/rare-onions-rest.md
Due: npx prettier --write

Update rare-onions-rest.md
  .changeset/rare-onions-rest.md
Due: npx prettier --write

fix(ui): New components QA (#4121)
  .changeset/heavy-avocados-deny.md
  packages/ui/src/common/otp-field.tsx
  packages/ui/src/components/sign-in/steps/start.tsx
  packages/ui/src/components/sign-up/steps/start.tsx
  packages/ui/src/primitives/card.tsx
  packages/ui/src/tailwind.config.ts
  packages/ui/theme-builder/app/theme-builder.tsx
Due: npx eslint --fix, npx prettier --write

Tested end-to-end with corresponding fapi changes locally
  packages/backend/src/internal.ts
  packages/backend/src/tokens/authenticateContext.ts
  packages/backend/src/tokens/request.ts
  packages/backend/src/tokens/types.ts
  packages/nextjs/src/server/clerkMiddleware.ts
Due: npx eslint --fix, npx prettier --write

Starting on integration tests
  integration/templates/next-app-router/src/app/organizations-by-id/[id]/page.tsx
  integration/templates/next-app-router/src/app/organizations-by-slug/[slug]/page.tsx
  integration/testUtils/handshake.ts
  integration/tests/handshake.test.ts
Due: npx eslint --fix, npx prettier --write

Path conditions:
  npx eslint --fix: any of: *.{mjs,js,jsx,ts,tsx}
  npx prettier --write: (any of: *.{mjs,js,jsx,ts,tsx}) or (any of: *.{json,md,mdx})
