Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{mjs,js,jsx,ts,tsx}": ["npx eslint --fix", "npx prettier --write"],
  "*.{json,md,mdx}": ["npx prettier --write"]
}

feat(nextjs): Enable Keyless by default (#4898)
  .changeset/new-lemons-try.md
  packages/nextjs/src/server/constants.ts
  packages/nextjs/src/utils/feature-flags.ts
Due: npx eslint --fix, npx prettier --write

fix(e2e): Always navigate to `/protected` after account creation in Oauth flow tests (#5054)
  .changeset/tame-roses-rule.md
  integration/templates/next-app-router/src/app/buttons/page.tsx
Due: npx eslint --fix, npx prettier --write

ci(repo): Version packages (#5076)
  .changeset/smooth-insects-perform.md
  packages/testing/CHANGELOG.md
  packages/testing/package.json
Due: npx prettier --write

fix(testing): Fix captcha triggering issue in Playwright tests (#5075)
  .changeset/smooth-insects-perform.md
  packages/testing/src/playwright/setupClerkTestingToken.ts
  packages/types/src/json.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Avoid triggering email code verification twice on React strict mode (#5095)
  .changeset/witty-cougars-tickle.md
  packages/clerk-js/src/ui/components/SignIn/SignInFactorOneCodeForm.tsx
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Add virtual routing deprecation warning (#5072)
  .changeset/friendly-ears-bow.md
  packages/clerk-js/src/ui/lazyModules/providers.tsx
Due: npx eslint --fix, npx prettier --write

fix(themes): Invert OKX Wallet icon in dark theme (#5100)
  .changeset/metal-jokes-notice.md
  packages/themes/src/themes/dark.ts
Due: npx eslint --fix, npx prettier --write

chore(localizations): Update "profile" treatment on latin-american spanish (#5081)
  .changeset/shaggy-rocks-look.md
  packages/localizations/src/es-MX.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Ensure only one action is present in UserProfile sections (#5030)
  .changeset/seven-games-arrive.md
  packages/clerk-js/src/ui/components/UserProfile/ConnectedAccountsMenu.tsx
  packages/clerk-js/src/ui/components/UserProfile/ConnectedAccountsSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/EmailsSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/MfaSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/PasskeySection.tsx
  packages/clerk-js/src/ui/components/UserProfile/PhoneSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/Web3Form.tsx
  packages/clerk-js/src/ui/components/UserProfile/Web3Section.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/ConnectedAccountsSection.test.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/EmailsSection.test.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/MfaPage.test.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/PasskeysSection.test.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/PhoneSection.test.tsx
  packages/clerk-js/src/ui/elements/Action/ActionRoot.tsx
  packages/clerk-js/src/ui/elements/Section.tsx
Due: npx eslint --fix, npx prettier --write

chore(nuxt): Add `<Waitlist />` component to auto-imported components (#5067)
  .changeset/serious-candles-obey.md
  packages/nuxt/src/module.ts
Due: npx eslint --fix, npx prettier --write

chore: add changeset
  .changeset/chilly-suns-beg.md
Due: npx prettier --write

feat: Add localization of 'Add a passkey' button
  packages/clerk-js/src/ui/components/UserProfile/PasskeySection.tsx
  packages/localizations/src/en-US.ts
  packages/types/src/localization.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Reduce retries for `/tokens` on 500 errors
  .changeset/twenty-feet-film.md
  packages/clerk-js/src/core/resources/Session.ts
  packages/shared/src/error.ts
Due: npx eslint --fix, npx prettier --write

Add `authSessionResult` on return type
  .changeset/flat-horses-battle.md
  packages/expo/src/hooks/useSSO.ts
Due: npx eslint --fix, npx prettier --write

Fix typos
  docs/PUBLISH.md
  integration/README.md
  integration/certs/README.md
  packages/astro/CHANGELOG.md
  packages/backend/CHANGELOG.md
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/README.md
  packages/clerk-js/CHANGELOG.md
  packages/elements/CHANGELOG.md
  packages/expo/CHANGELOG.md
  packages/localizations/CHANGELOG.md
  packages/nextjs/CHANGELOG.md
  packages/react/CHANGELOG.md
  packages/remix/CHANGELOG.md
  packages/shared/CHANGELOG.md
  packages/themes/CHANGELOG.md
  packages/types/CHANGELOG.md
  packages/ui/CHANGELOG.md
  packages/upgrade/src/versions/core-2/chrome-extension/clerkprovider-tokencache.md
  playground/browser-extension/README.md
Due: npx prettier --write

rename key to `primaryButton`
  packages/clerk-js/src/ui/components/UserProfile/PasskeySection.tsx
  packages/localizations/src/en-US.ts
  packages/types/src/localization.ts
Due: npx eslint --fix, npx prettier --write

Create silver-gifts-smile.md
  .changeset/silver-gifts-smile.md
Due: npx prettier --write

chore(backend): Deprecate usage of the `oauth_` prefix in `getUserOauthAccessToken()` (#5097)
  .changeset/violet-seas-speak.md
  packages/backend/src/api/__tests__/factory.test.ts
  packages/backend/src/api/endpoints/UserApi.ts
Due: npx eslint --fix, npx prettier --write

feat(backend): organization_domain webhook event types (#4819)
  .changeset/plenty-boxes-relax.md
  packages/astro/src/server/index.ts
  packages/backend/src/api/resources/Enums.ts
  packages/backend/src/api/resources/JSON.ts
  packages/backend/src/api/resources/OrganizationDomain.ts
  packages/backend/src/api/resources/Verification.ts
  packages/backend/src/api/resources/Webhooks.ts
  packages/backend/src/api/resources/index.ts
  packages/backend/src/index.ts
  packages/nextjs/src/server/index.ts
  packages/react-router/src/ssr/index.ts
  packages/remix/src/ssr/index.ts
  packages/tanstack-start/src/server/index.ts
Due: npx eslint --fix, npx prettier --write

feat: Add localization of 'Add a passkey' button (#5105)
  .changeset/silver-gifts-smile.md
  packages/clerk-js/src/ui/components/UserProfile/PasskeySection.tsx
  packages/localizations/src/en-US.ts
  packages/types/src/localization.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-js, ui): Replace usage of deprecated providers
  .changeset/curly-apes-hide.md
  packages/clerk-js/src/ui/components/SignIn/__tests__/SignInStart.test.tsx
  packages/clerk-js/src/ui/components/SignUp/__tests__/SignUpStart.test.tsx
  packages/clerk-js/src/ui/hooks/__tests__/useEnabledThirdPartyProviders.test.tsx
  packages/ui/src/hooks/use-enabled-connections.ts
Due: npx eslint --fix, npx prettier --write

address pr comments
  integration/testUtils/signInPageObject.ts
  integration/testUtils/signUpPageObject.ts
  integration/tests/oauth-flows.test.ts
  integration/tests/sign-in-flow.test.ts
  integration/tests/sign-in-or-up-flow.test.ts
  integration/tests/sign-up-flow.test.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/lazyModules/providers.tsx
  packages/clerk-js/src/ui/router/VirtualRouter.tsx
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

address pr comments
  packages/react/src/isomorphicClerk.ts
Due: npx eslint --fix, npx prettier --write

remove comment
  packages/clerk-js/src/ui/components/SignUp/__tests__/SignUpStart.test.tsx
Due: npx eslint --fix, npx prettier --write

chore(clerk-js, ui): Replace usage of deprecated providers (#5119)
  .changeset/curly-apes-hide.md
  packages/clerk-js/src/ui/components/SignIn/__tests__/SignInStart.test.tsx
  packages/clerk-js/src/ui/components/SignUp/__tests__/SignUpStart.test.tsx
  packages/clerk-js/src/ui/hooks/__tests__/useEnabledThirdPartyProviders.test.tsx
  packages/ui/src/hooks/use-enabled-connections.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Bump Coinbase sdk version to '4.3.0'
  .changeset/forty-tools-jump.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/package.json
  pnpm-lock.yaml
Due: npx prettier --write

chore(clerk-js): Bump Coinbase sdk version to `4.3.0` (#5120)
  .changeset/forty-tools-jump.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/package.json
  pnpm-lock.yaml
Due: npx prettier --write

add missing page
  integration/templates/react-vite/src/buttons/index.tsx
  integration/templates/react-vite/src/main.tsx
Due: npx eslint --fix, npx prettier --write

initial
  packages/backend/tsconfig.json
  packages/nextjs/tsconfig.json
  packages/react/package.json
  packages/react/tsconfig.declarations.json
  packages/react/tsconfig.json
  packages/react/tsup.config.ts
  packages/shared/package.json
  packages/shared/tsconfig.declarations.json
  packages/shared/tsconfig.json
  packages/shared/tsup.config.ts
  packages/types/package.json
  packages/types/tsconfig.declarations.json
  packages/types/tsconfig.json
  packages/types/tsup.config.ts
  pnpm-lock.yaml
Due: npx eslint --fix, npx prettier --write

add changeset
  .changeset/itchy-avocados-push.md
Due: npx prettier --write

chore: update changeset
  .changeset/chilly-suns-beg.md
Due: npx prettier --write

feat(astro): Add type safe env vars support
  .changeset/chilly-suns-beg.md
  packages/astro/package.json
  packages/astro/src/integration/create-integration.ts
  packages/astro/tsconfig.json
Due: npx eslint --fix, npx prettier --write

chore: run dedupe
  pnpm-lock.yaml
Due: none

chore(astro): Set default value to true
  packages/astro/src/integration/create-integration.ts
Due: npx eslint --fix, npx prettier --write

chore: enable feature by default
  packages/astro/src/integration/create-integration.ts
Due: npx eslint --fix, npx prettier --write

chore: Pin latest version of astro and update tsconfig
  packages/astro/src/integration/create-integration.ts
Due: npx eslint --fix, npx prettier --write

chore(astro): Inform about validating secrets
  packages/astro/src/integration/create-integration.ts
Due: npx eslint --fix, npx prettier --write

Update packages/astro/src/integration/create-integration.ts
  packages/astro/src/integration/create-integration.ts
Due: npx eslint --fix, npx prettier --write
