Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["npx prettier --write", "npx eslint --fix"],
  "*.{json,md,mdx}": ["npx prettier --write"]
}

chore(repo): Adjust lint-staged config
  .lintstagedrc.json
Due: npx prettier --write

chore(clerk-js,backend): Remove deprecated internal `__clerk_referrer_primary`
  packages/backend/src/tokens/interstitialRule.ts
  packages/backend/src/tokens/request.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/constants.ts
  packages/clerk-js/src/utils/getClerkQueryParam.ts
Due: npx prettier --write, npx eslint --fix

chore(clerk-js): Add changeset
  .changeset/little-grapes-compete.md
Due: npx prettier --write

chore(clerk-js,backend): Remove deprecated `__clerk_referrer_primary` (#1755)
  .changeset/little-grapes-compete.md
  packages/backend/src/tokens/interstitialRule.ts
  packages/backend/src/tokens/request.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/constants.ts
  packages/clerk-js/src/utils/getClerkQueryParam.ts
Due: npx prettier --write, npx eslint --fix

fix(backend): Use Use fakeTimers() in tests to resolve test flakiness
  .changeset/shiny-meals-marry.md
  packages/backend/src/tokens/jwt/assertions.test.ts
Due: npx prettier --write, npx eslint --fix

feat(shared): Introduce deprecated/deprecatedProperty to report deprecation once
  .changeset/seven-rivers-greet.md
  packages/shared/src/utils/deprecated.test.ts
  packages/shared/src/utils/deprecated.ts
  packages/shared/src/utils/index.ts
Due: npx prettier --write, npx eslint --fix

chore(remix): Replace frontendApi with publishableKey in error messages
  packages/remix/src/errors.ts
Due: npx prettier --write, npx eslint --fix

chore(remix): Add publish:local npm command
  packages/remix/package.json
Due: npx prettier --write

chore(nextjs): Use buildtime options instead of passing the contants
  packages/nextjs/src/server/authenticateRequest.ts
  packages/nextjs/src/ssr/utils/authenticateRequest.ts
Due: npx prettier --write, npx eslint --fix

chore(nextjs): Extract env variables to separate module and drop their export from public API
  packages/nextjs/src/api/requireAuth.ts
  packages/nextjs/src/api/withAuth.ts
  packages/nextjs/src/server/__tests__/__snapshots__/exports.test.ts.snap
  packages/nextjs/src/server/authMiddleware.test.ts
  packages/nextjs/src/server/authMiddleware.ts
  packages/nextjs/src/server/authenticateRequest.ts
  packages/nextjs/src/server/clerkClient.ts
  packages/nextjs/src/server/constants.ts
  packages/nextjs/src/server/getAuth.ts
  packages/nextjs/src/server/redirect.ts
  packages/nextjs/src/server/utils.ts
  packages/nextjs/src/server/withClerkMiddleware.ts
  packages/nextjs/src/ssr/utils/authenticateRequest.ts
  packages/nextjs/src/ssr/withServerSideAuth.ts
Due: npx prettier --write, npx eslint --fix

chore(remix): Apply deprecation warnings for remix (#1763)
  packages/remix/package.json
  packages/remix/src/errors.ts
Due: npx prettier --write, npx eslint --fix

BREAKING(remix): Remix v2 stable support (#1739)
  .changeset/chilled-points-care.md
  package-lock.json
  packages/remix/README.md
  packages/remix/api.server.d.ts
  packages/remix/api.server.js
  packages/remix/package.json
  packages/remix/src/client/ClerkCatchBoundary.tsx
  packages/remix/src/client/ClerkErrorBoundary.tsx
  packages/remix/src/client/index.ts
  packages/remix/ssr.server.d.ts
  packages/remix/ssr.server.js
  playground/remix-cf-pages/app/root.tsx
  playground/remix-cf-pages/package.json
  playground/remix-cf-worker/package.json
  playground/remix-node/app/root.tsx
  playground/remix-node/package.json
Due: npx prettier --write, npx eslint --fix

chore(repo): Update lock file
  package-lock.json
Due: npx prettier --write

chore(repo): Review comments
  packages/clerk-js/src/utils/querystring.ts
  packages/gatsby-plugin-clerk/src/ssr/authenticateRequest.ts
Due: npx prettier --write, npx eslint --fix

chore(repo): Version packages (#1754)
  .changeset/breezy-countries-play.md
  .changeset/chilled-points-care.md
  .changeset/lazy-papayas-vanish.md
  .changeset/little-grapes-compete.md
  .changeset/seven-rivers-greet.md
  .changeset/shiny-meals-marry.md
  .changeset/shy-jeans-share.md
  .changeset/strong-keys-greet.md
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
Due: npx prettier --write

feat(clerk-js): Ability to enforce password reset from OAuth callback
  .changeset/wet-icons-rest.md
  packages/clerk-js/src/core/clerk.test.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/components/SignIn/ResetPassword.tsx
  packages/clerk-js/src/ui/components/SignIn/SignIn.tsx
  packages/clerk-js/src/ui/components/SignIn/__tests__/ResetPassword.test.tsx
  packages/localizations/src/el-GR.ts
  packages/localizations/src/en-US.ts
  packages/types/src/clerk.ts
  packages/types/src/localization.ts
Due: npx prettier --write, npx eslint --fix

feat(clerk-js): Ability to enforce password reset OAuth callback (#1757)
  .changeset/wet-icons-rest.md
  packages/clerk-js/src/core/clerk.test.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/components/SignIn/ResetPassword.tsx
  packages/clerk-js/src/ui/components/SignIn/SignIn.tsx
  packages/clerk-js/src/ui/components/SignIn/__tests__/ResetPassword.test.tsx
  packages/localizations/src/el-GR.ts
  packages/localizations/src/en-US.ts
  packages/types/src/clerk.ts
  packages/types/src/localization.ts
Due: npx prettier --write, npx eslint --fix

chore(fastify): Warn about CLERK_API_KEY environment variable deprecation
  package-lock.json
  packages/fastify/package.json
  packages/fastify/src/constants.ts
Due: npx prettier --write, npx eslint --fix

chore(fastify): Warn about CLERK_FRONTEND_API environment variable deprecation
  .changeset/nervous-ducks-battle.md
  packages/fastify/src/constants.ts
Due: npx prettier --write, npx eslint --fix

chore(repo): Enable merge queues
  .github/workflows/quality.yml
Due: none

fix(clerk-js): Correctly display all badges email/phone (#1749)
  .changeset/breezy-countries-play.md
  packages/clerk-js/src/ui/components/UserProfile/EmailSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/PhoneSection.tsx
Due: npx prettier --write, npx eslint --fix

Revert "fix(clerk-js): Use buildUrlWithAuth for all links/navigations (#1676)" (#1753)
  .changeset/chilled-kings-know.md
  .changeset/shiny-ravens-lay.md
  packages/clerk-js/src/core/clerk.test.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/resources/SignIn.ts
  packages/clerk-js/src/core/resources/SignUp.ts
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpContinue.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpStart.tsx
  packages/clerk-js/src/ui/contexts/ClerkUIComponentsContext.tsx
  packages/clerk-js/src/ui/customizables/index.ts
  packages/clerk-js/src/ui/customizables/withAuthHref.tsx
  packages/clerk-js/src/ui/elements/PoweredByClerk.tsx
  packages/clerk-js/src/ui/primitives/Link.tsx
  packages/shared/src/utils/url.test.ts
  packages/shared/src/utils/url.ts
  playground/nextjs/pages/_app.tsx
Due: npx prettier --write, npx eslint --fix

chore(repo): Fix markdown in dirty-panthers-build.md
  .changeset/dirty-panthers-build.md
Due: npx prettier --write

chore(repo): Revert a change to PUBLISH.md (#1748)
  docs/PUBLISH.md
Due: npx prettier --write

fix(backend): Make createIsomorphicRequest return Request with url origin generated by headers
  .changeset/shy-jeans-share.md
  packages/backend/src/util/IsomorphicRequest.ts
Due: npx prettier --write, npx eslint --fix

fix(clerk-sdk-node): Use dummy base url and isomorphicRequest for requestUrl
  packages/sdk-node/src/__tests__/middleware.test.ts
  packages/sdk-node/src/authenticateRequest.ts
Due: npx prettier --write, npx eslint --fix

chore(repo): Update links in all READMEs (#1750)
  .changeset/few-kangaroos-speak.md
  README.md
  docs/clerk-logo-dark.png
  docs/clerk-logo-light.png
  packages/backend/README.md
  packages/chrome-extension/README.md
  packages/clerk-js/README.md
  packages/expo/README.md
  packages/fastify/README.md
  packages/gatsby-plugin-clerk/README.md
  packages/localizations/README.md
  packages/nextjs/README.md
  packages/react/README.md
  packages/remix/README.md
  packages/sdk-node/README.md
  packages/themes/README.md
  packages/types/README.md
Due: npx prettier --write

chore(repo): Improve main & localizations README (#1747)
  .changeset/big-socks-perform.md
  README.md
  docs/CONTRIBUTING.md
  packages/localizations/README.md
Due: npx prettier --write

chore(clerk-js): Eliminate the usage of memberhipList (#1744)
  .changeset/sharp-ligers-peel.md
  packages/clerk-js/src/ui/components/OrganizationProfile/ActiveMembersList.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/MemberListTable.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationSettings.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/OrganizationMembers.test.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/OrganizationSettings.test.tsx
  packages/shared/src/hooks/useOrganization.tsx
  packages/shared/src/hooks/useOrganizations.tsx
Due: npx prettier --write, npx eslint --fix
