Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

feat(ui): Consolidate LinkButton (#3577)
  .changeset/tame-apricots-mate.md
  packages/ui/src/common/email-or-phone-number-field.tsx
  packages/ui/src/common/email-or-username-or-phone-number-field.tsx
  packages/ui/src/common/phone-number-or-username-field.tsx
  packages/ui/src/components/sign-in/sign-in.tsx
  packages/ui/src/components/sign-up/sign-up.tsx
  packages/ui/src/primitives/link-button.tsx
  packages/ui/src/primitives/text-button.tsx
Due: npx eslint --fix, npx prettier --write

feat(remix): Add support for Remix SPA Mode
  .changeset/empty-apples-kiss.md
  packages/remix/src/client/ClerkApp.tsx
  packages/remix/src/client/RemixClerkProvider.tsx
Due: npx eslint --fix, npx prettier --write

chore: remove redundant tsconfig options
  tsconfig.json
Due: npx prettier --write

feat(ui): Add GlobalError within SignUp steps (#3579)
  .changeset/healthy-jokes-fix.md
  packages/ui/src/components/sign-up/sign-up.tsx
Due: npx eslint --fix, npx prettier --write

chore(repo): Remove redundant tsconfig options (#3581)
  tsconfig.json
Due: npx prettier --write

chore: Update conditionals
  .github/actions/init/action.yml
  .github/workflows/ci.yml
Due: none

Create new-geese-watch.md
  .changeset/new-geese-watch.md
Due: npx prettier --write

chore: Update CI caching strategy
  .github/actions/init/action.yml
Due: none

chore: Always attempt saving npm cache
  .github/actions/init/action.yml
Due: none

chore: prune
  .github/actions/init/action.yml
  .github/workflows/ci.yml
Due: none

chore(repo): Update CI caching strategy (#3566)
  .changeset/new-geese-watch.md
  .github/actions/init/action.yml
  .github/workflows/ci.yml
Due: npx prettier --write

chore: Test ci
  .changeset/plenty-seals-appear.md
  README.md
Due: npx prettier --write

add cva support to tailwindcss-transformer
  .changeset/gold-vans-yell.md
  packages/tailwindcss-transformer/src/__tests__/__snapshots__/transform-cva.test.ts.snap
  packages/tailwindcss-transformer/src/__tests__/transform-cva.test.ts
  packages/tailwindcss-transformer/src/index.ts
Due: npx eslint --fix, npx prettier --write

initial
  .changeset/tasty-ravens-exist.md
  packages/clerk-js/src/utils/windowNavigate.ts
Due: npx eslint --fix, npx prettier --write

Revert "chore(repo): Update CI caching strategy (#3566)"
  .changeset/new-geese-watch.md
  .github/actions/init/action.yml
  .github/workflows/ci.yml
Due: npx prettier --write

manually traverse cva
  packages/tailwindcss-transformer/src/__tests__/__snapshots__/transform-classname-cn.test.ts.snap
  packages/tailwindcss-transformer/src/__tests__/__snapshots__/transform-cn-object.test.ts.snap
  packages/tailwindcss-transformer/src/__tests__/__snapshots__/transform-cn.test.ts.snap
  packages/tailwindcss-transformer/src/__tests__/__snapshots__/transform-cva.test.ts.snap
  packages/tailwindcss-transformer/src/__tests__/transform-classname-cn.test.ts
  packages/tailwindcss-transformer/src/__tests__/transform-cn-object.test.ts
  packages/tailwindcss-transformer/src/__tests__/transform-cn.test.ts
  packages/tailwindcss-transformer/src/index.ts
Due: npx eslint --fix, npx prettier --write

Update packages/tailwindcss-transformer/src/index.ts
  packages/tailwindcss-transformer/src/index.ts
Due: npx eslint --fix, npx prettier --write

Revert "chore(repo): Update CI caching strategy" (#3586)
  .changeset/new-geese-watch.md
  .github/actions/init/action.yml
  .github/workflows/ci.yml
Due: npx prettier --write

fix(clerk-js): Allow chrome-extension protocol (#3584)
  .changeset/tasty-ravens-exist.md
  packages/clerk-js/src/utils/windowNavigate.ts
Due: npx eslint --fix, npx prettier --write

feat(tailwindcss-transformer): Add support for cx, cva and clsx (#3585)
  .changeset/gold-vans-yell.md
  packages/tailwindcss-transformer/src/__tests__/__snapshots__/transform-classname-cn.test.ts.snap
  packages/tailwindcss-transformer/src/__tests__/__snapshots__/transform-cn-object.test.ts.snap
  packages/tailwindcss-transformer/src/__tests__/__snapshots__/transform-cn.test.ts.snap
  packages/tailwindcss-transformer/src/__tests__/__snapshots__/transform-cva.test.ts.snap
  packages/tailwindcss-transformer/src/__tests__/transform-classname-cn.test.ts
  packages/tailwindcss-transformer/src/__tests__/transform-cn-object.test.ts
  packages/tailwindcss-transformer/src/__tests__/transform-cn.test.ts
  packages/tailwindcss-transformer/src/__tests__/transform-cva.test.ts
  packages/tailwindcss-transformer/src/index.ts
Due: npx eslint --fix, npx prettier --write

prevent traversal of functions
  packages/tailwindcss-transformer/src/__tests__/__snapshots__/transform-cva.test.ts.snap
  packages/tailwindcss-transformer/src/__tests__/transform-cva.test.ts
  packages/tailwindcss-transformer/src/index.ts
Due: npx eslint --fix, npx prettier --write

use cva to share styles
  package-lock.json
  packages/ui/package.json
  packages/ui/src/common/email-or-phone-number-field.tsx
  packages/ui/src/common/email-or-username-or-phone-number-field.tsx
  packages/ui/src/common/phone-number-or-username-field.tsx
  packages/ui/src/primitives/link-button.tsx
Due: npx eslint --fix, npx prettier --write

empty changeset
  .changeset/calm-suns-change.md
Due: npx prettier --write

re-add current package-lock.json
  package-lock.json
Due: npx prettier --write

update lock
  package-lock.json
Due: npx prettier --write

fix(tailwindcss-transformer): Prevent function traversal within className (#3589)
  .changeset/calm-suns-change.md
  package-lock.json
  packages/tailwindcss-transformer/src/__tests__/__snapshots__/transform-cva.test.ts.snap
  packages/tailwindcss-transformer/src/__tests__/transform-cva.test.ts
  packages/tailwindcss-transformer/src/index.ts
  packages/ui/package.json
  packages/ui/src/common/email-or-phone-number-field.tsx
  packages/ui/src/common/email-or-username-or-phone-number-field.tsx
  packages/ui/src/common/phone-number-or-username-field.tsx
  packages/ui/src/primitives/link-button.tsx
Due: npx eslint --fix, npx prettier --write

use cx for consistency
  package-lock.json
  packages/ui/package.json
  packages/ui/src/common/password-field.tsx
  packages/ui/src/common/phone-number-field/index.tsx
  packages/ui/src/primitives/alert.tsx
  packages/ui/src/primitives/button.tsx
  packages/ui/src/primitives/card.tsx
  packages/ui/src/primitives/connection.tsx
  packages/ui/src/primitives/field.tsx
  packages/ui/src/primitives/icon.tsx
  packages/ui/src/primitives/secondary-button.tsx
  packages/ui/src/primitives/seperator.tsx
  packages/ui/src/primitives/spinner.tsx
  packages/ui/theme-builder/app/layout.tsx
  packages/ui/theme-builder/app/theme-builder.tsx
Due: npx eslint --fix, npx prettier --write

empty changeset
  .changeset/eight-bats-breathe.md
Due: npx prettier --write

refactor(ui): Use cx for consistent className concatenation (#3590)
  .changeset/eight-bats-breathe.md
  package-lock.json
  packages/ui/package.json
  packages/ui/src/common/password-field.tsx
  packages/ui/src/common/phone-number-field/index.tsx
  packages/ui/src/primitives/alert.tsx
  packages/ui/src/primitives/button.tsx
  packages/ui/src/primitives/card.tsx
  packages/ui/src/primitives/connection.tsx
  packages/ui/src/primitives/field.tsx
  packages/ui/src/primitives/icon.tsx
  packages/ui/src/primitives/secondary-button.tsx
  packages/ui/src/primitives/seperator.tsx
  packages/ui/src/primitives/spinner.tsx
  packages/ui/theme-builder/app/layout.tsx
  packages/ui/theme-builder/app/theme-builder.tsx
Due: npx eslint --fix, npx prettier --write

Documenting interaction with img-service
  packages/clerk-js/src/ui/customizables/makeResponsive.tsx
Due: npx eslint --fix, npx prettier --write

Running `changeset add --empty` as requested by CI
  .changeset/tricky-moose-cross.md
Due: npx prettier --write

fix(clerk-js): Avoid sending password when saml is enabled
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Avoid sending password when saml is enabled
  .changeset/nine-radios-tap.md
Due: npx prettier --write

makeLocalizeable
  package-lock.json
  packages/ui/package.json
  packages/ui/src/components/sign-up/sign-up.tsx
  packages/ui/src/utils/makeLocalizable.ts
Due: npx eslint --fix, npx prettier --write

fix(upgrade): Add repository url to package.json
  packages/upgrade/package.json
Due: npx prettier --write

implement signup localizations
  packages/ui/src/common/email-field.tsx
  packages/ui/src/common/email-or-phone-number-field.tsx
  packages/ui/src/common/first-name-field.tsx
  packages/ui/src/common/last-name-field.tsx
  packages/ui/src/common/phone-number-field/index.tsx
  packages/ui/src/common/username-field.tsx
  packages/ui/src/components/sign-up/sign-up.tsx
  packages/ui/src/primitives/field.tsx
  packages/ui/src/utils/makeLocalizable.ts
Due: npx eslint --fix, npx prettier --write

add empty changeset
  .changeset/breezy-geckos-protect.md
Due: npx prettier --write

render enUS
  packages/ui/src/components/sign-up/sign-up.tsx
Due: npx eslint --fix, npx prettier --write

bump maxSize
  packages/ui/bundlewatch.config.json
Due: npx prettier --write

Path conditions:
  npx eslint --fix: any of: *.{mjs,js,jsx,ts,tsx}
  npx prettier --write: (any of: *.{mjs,js,jsx,ts,tsx}) or (any of: *.{json,md,mdx})
