Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{mjs,js,jsx,ts,tsx}": ["npx eslint --fix", "npx prettier --write"],
  "*.{json,md,mdx}": ["npx prettier --write"]
}

Warn when encryption key is missing instead of throwing
  packages/nextjs/src/server/utils.ts
  packages/shared/src/error.ts
Due: npx eslint --fix, npx prettier --write

Propagate `signInUrl` and `signUpUrl`
  packages/nextjs/src/app-router/server/auth.ts
  packages/nextjs/src/server/utils.ts
Due: npx eslint --fix, npx prettier --write

Update snapshot for request headers
  packages/fastify/src/__tests__/__snapshots__/constants.test.ts.snap
Due: none

Add `CLERK_ENCRYPTION_KEY` to CI
  .github/workflows/ci.yml
  packages/nextjs/src/server/__tests__/clerkMiddleware.test.ts
Due: npx eslint --fix, npx prettier --write

Implement test case for `signInUrl` option
  packages/nextjs/src/server/__tests__/clerkMiddleware.test.ts
Due: npx eslint --fix, npx prettier --write

Introduce fallback for encryption key
  packages/nextjs/src/app-router/server/auth.ts
  packages/nextjs/src/server/clerkMiddleware.ts
  packages/nextjs/src/server/errors.ts
  packages/nextjs/src/server/utils.ts
  packages/shared/src/error.ts
Due: npx eslint --fix, npx prettier --write

Propagate `publishableKey` to `auth`
  packages/nextjs/src/app-router/server/auth.ts
  packages/nextjs/src/server/clerkMiddleware.ts
  packages/nextjs/src/server/utils.ts
Due: npx eslint --fix, npx prettier --write

Add `CLERK_ENCRYPTION_KEY` to integration tests
  integration/constants.ts
  integration/presets/envs.ts
Due: npx eslint --fix, npx prettier --write

Rename signing key to encryption key
  packages/nextjs/src/server/clerkMiddleware.ts
  packages/nextjs/src/server/constants.ts
  packages/nextjs/src/server/utils.ts
  packages/shared/src/error.ts
Due: npx eslint --fix, npx prettier --write

Access redirect URLs from middleware options
  integration/presets/envs.ts
  packages/nextjs/src/server/__tests__/clerkMiddleware.test.ts
  packages/nextjs/src/server/authMiddleware.ts
  packages/nextjs/src/server/clerkMiddleware.ts
  packages/nextjs/src/server/createGetAuth.ts
  packages/nextjs/src/server/errors.ts
  packages/nextjs/src/server/utils.ts
Due: npx eslint --fix, npx prettier --write

Use propogated secret key
  packages/nextjs/src/server/createGetAuth.ts
Due: npx eslint --fix, npx prettier --write

Update changeset to mention `Dynamic Keys`
  .changeset/young-pigs-live.md
Due: npx prettier --write

Add test to assert against propagation
  packages/nextjs/src/server/__tests__/clerkMiddleware.test.ts
Due: npx eslint --fix, npx prettier --write

Add constant definition for `x-clerk-data` header
  packages/backend/src/constants.ts
Due: npx eslint --fix, npx prettier --write

Mock `ENCRYPTION_KEY` on `authMiddleware` unit tests
  packages/nextjs/src/server/__tests__/authMiddleware.test.ts
Due: npx eslint --fix, npx prettier --write

Require signing key to be defined when using runtime options
  packages/nextjs/src/server/clerkMiddleware.ts
  packages/nextjs/src/server/constants.ts
  packages/nextjs/src/server/errors.ts
Due: npx eslint --fix, npx prettier --write

Assert against signing key value
  packages/nextjs/src/server/__tests__/clerkMiddleware.test.ts
  packages/nextjs/src/server/clerkMiddleware.ts
  packages/nextjs/src/server/errors.ts
  packages/nextjs/src/server/utils.ts
  packages/shared/src/error.ts
Due: npx eslint --fix, npx prettier --write

Add changeset
  .changeset/young-pigs-live.md
Due: npx prettier --write

Propagate secret key to backend client
  packages/nextjs/src/server/buildClerkProps.ts
Due: npx eslint --fix, npx prettier --write

Update changeset
  .changeset/young-pigs-live.md
  packages/nextjs/src/server/utils.ts
Due: npx eslint --fix, npx prettier --write

fix(ui): Update deploy script to use full package name
  packages/ui/theme-builder/scripts/deploy.mjs
Due: npx eslint --fix, npx prettier --write

add empty changeset
  .changeset/nine-ways-poke.md
Due: npx prettier --write

fix(ui): Update deploy script to use full package name (#3618)
  .changeset/nine-ways-poke.md
  packages/ui/theme-builder/scripts/deploy.mjs
Due: npx eslint --fix, npx prettier --write

refactor(ui): Extract `useEnabledConnections` hook
  packages/ui/src/common/connections.tsx
  packages/ui/src/components/sign-in/sign-in.tsx
  packages/ui/src/components/sign-up/sign-up.tsx
  packages/ui/src/hooks/use-enabled-connections.ts
  packages/ui/src/utils/getEnabledSocialConnectionsFromEnvironment.ts
Due: npx eslint --fix, npx prettier --write

add empty changeset
  .changeset/afraid-humans-notice.md
Due: npx prettier --write

refactor(ui): Extract `useEnabledConnections` hook (#3619)
  .changeset/afraid-humans-notice.md
  packages/ui/src/common/connections.tsx
  packages/ui/src/components/sign-in/sign-in.tsx
  packages/ui/src/components/sign-up/sign-up.tsx
  packages/ui/src/hooks/use-enabled-connections.ts
  packages/ui/src/utils/getEnabledSocialConnectionsFromEnvironment.ts
Due: npx eslint --fix, npx prettier --write

fix(repo): Race condition [SDK-1848]
  .github/workflows/preview.yml
Due: none

fix(repo): Bump Node to latest version
  .github/actions/init/action.yml
  .github/actions/verdaccio/action.yml
  .github/workflows/ci.yml
Due: none

fix(repo): Bump Node to latest version (#3620)
  .github/actions/init/action.yml
  .github/actions/verdaccio/action.yml
  .github/workflows/ci.yml
Due: none

feat(chrome-extension): Poll for new active sessions
  .changeset/smart-ravens-taste.md
  packages/chrome-extension/src/singleton.ts
  packages/chrome-extension/src/utils/jwt-handler.ts
  playground/chrome-extension/package.json
Due: npx eslint --fix, npx prettier --write

Introduce ALS store for request data within middleware runtime
  packages/nextjs/src/server/clerkClient.ts
  packages/nextjs/src/server/clerkMiddleware.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Handle afterSignOut in ImpersonationFab
  packages/clerk-js/src/ui/components/ImpersonationFab/ImpersonationFab.tsx
Due: npx eslint --fix, npx prettier --write

Fetch dynamic keys from `currentUser`
  packages/nextjs/src/app-router/server/currentUser.ts
Due: npx eslint --fix, npx prettier --write

feat(chrome-extension): Poll for new active sessions (#3616)
  .changeset/smart-ravens-taste.md
  packages/chrome-extension/src/singleton.ts
  packages/chrome-extension/src/utils/jwt-handler.ts
  playground/chrome-extension/package.json
Due: npx eslint --fix, npx prettier --write

chore(localizations): Add Italian localizations
  .changeset/plenty-trees-repeat.md
Due: npx prettier --write

chore: Format code changes
  packages/localizations/src/it-IT.ts
Due: npx eslint --fix, npx prettier --write

chore(localizations): Localization of the Italian translation (#3608)
  .changeset/plenty-trees-repeat.md
  packages/localizations/src/it-IT.ts
Due: npx eslint --fix, npx prettier --write

feat(clerk-expo): Introduce LocalAuth utility
  packages/expo/src/ClerkProvider.tsx
  packages/expo/src/experimental/LocalAuth.tsx
  packages/expo/src/experimental/index.ts
  packages/expo/src/index.ts
Due: npx eslint --fix, npx prettier --write

ci(repo): Version packages (#3602)
  .changeset/afraid-humans-notice.md
  .changeset/cold-lemons-beg.md
  .changeset/cold-singers-suffer.md
  .changeset/friendly-dots-join.md
  .changeset/grumpy-dancers-thank.md
  .changeset/healthy-vans-care.md
  .changeset/large-carrots-roll.md
  .changeset/large-frogs-collect.md
  .changeset/metal-shrimps-repeat.md
  .changeset/nine-ways-poke.md
  .changeset/plenty-trees-repeat.md
  .changeset/polite-poems-cross.md
  .changeset/proud-books-switch.md
  .changeset/smart-ravens-taste.md
  .changeset/strange-toys-taste.md
  .changeset/twelve-tips-heal.md
  .changeset/violet-kings-care.md
  package-lock.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: npx prettier --write

fix(elements): Show warning on used, but not activated verifications (#3609)
  .changeset/dirty-peas-smile.md
  packages/elements/examples/nextjs/app/sign-in/[[...sign-in]]/page.tsx
  packages/elements/src/internals/machines/sign-in/verification.machine.ts
  packages/elements/src/react/hooks/use-third-party-provider.hook.ts
  packages/elements/src/react/sign-in/action/navigate.tsx
  packages/elements/src/react/sign-up/action/navigate.tsx
Due: npx eslint --fix, npx prettier --write
