Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{mjs,js,jsx,ts,tsx}": ["npx eslint --fix", "npx prettier --write"],
  "*.{json,md,mdx}": ["npx prettier --write"]
}

add changeset
  .changeset/tricky-rings-divide.md
Due: npx prettier --write

chore(vue): Fix deps
  package-lock.json
  packages/vue/package.json
Due: npx prettier --write

WIP Removing loadscript instances
  packages/astro/src/internal/create-clerk-instance.ts
  packages/astro/src/server/build-clerk-hotload-script.ts
  packages/clerk-js/src/utils/captcha/constants.ts
  packages/clerk-js/src/utils/captcha/getCaptchaToken.ts
  packages/clerk-js/src/utils/captcha/hcaptcha.ts
  packages/clerk-js/src/utils/captcha/index.ts
  packages/clerk-js/src/utils/captcha/retrieveCaptchaInfo.ts
  packages/clerk-js/src/utils/captcha/turnstile.ts
  packages/clerk-js/src/utils/one-tap.ts
  packages/elements/tsup.config.bundled_wv34svsej8l.mjs
  packages/nextjs/src/pages/ClerkProvider.tsx
  packages/nextjs/src/utils/clerk-js-script.tsx
  packages/react/src/index.ts
  packages/react/src/internal.ts
  packages/react/src/isomorphicClerk.ts
  packages/shared/package.json
  packages/shared/src/__tests__/loadClerkJsScript.test.ts
  packages/shared/src/index.ts
  packages/shared/src/loadClerkJsScript.ts
  packages/shared/src/loadScript.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Replace generic ComponentContext with component-specific contexts (#4486)
  .changeset/poor-countries-count.md
  packages/clerk-js/src/ui/components/CreateOrganization/CreateOrganization.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationProfile.tsx
  packages/clerk-js/src/ui/components/SignIn/SignIn.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUp.tsx
  packages/clerk-js/src/ui/components/UserProfile/UserProfile.tsx
  packages/clerk-js/src/ui/components/UserVerification/index.tsx
  packages/clerk-js/src/ui/components/Waitlist/Waitlist.tsx
  packages/clerk-js/src/ui/contexts/ClerkUIComponentsContext.tsx
  packages/clerk-js/src/ui/portal/index.tsx
  packages/clerk-js/src/ui/types.ts
  packages/clerk-js/src/ui/utils/test/createFixtures.tsx
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Use fapi error long message instead of statusText.
  .changeset/nervous-numbers-fix.md
  packages/clerk-js/src/core/resources/Base.ts
Due: npx eslint --fix, npx prettier --write

fix(localizations): add German translations for experimental legal content (#4503)
  .changeset/beige-waves-do.md
  packages/localizations/src/de-DE.ts
Due: npx eslint --fix, npx prettier --write

bring back clerk specific file
  packages/backend/src/tokens/handshake.ts
  packages/backend/src/tokens/keys.ts
  packages/nextjs/src/app-router/server/ClerkProvider.tsx
  packages/nextjs/src/server/clerkClient.ts
  packages/nextjs/src/server/clerkMiddleware.ts
  packages/nextjs/src/server/data/getAuthDataFromRequest.ts
Due: npx eslint --fix, npx prettier --write

Test CI
  .changeset/yellow-ladybugs-tan.md
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationProfile.tsx
Due: npx eslint --fix, npx prettier --write

Check for secret access
  .github/workflows/ci.yml
Due: none

fix(shared): Correct peerDependencies (#4494)
  .changeset/rotten-balloons-vanish.md
  package-lock.json
  packages/shared/package.json
Due: npx prettier --write

Update CI to use `pull_request_target`, move permissions checks to root
  .github/workflows/ci.yml
Due: none

PR feedback: added error details to json errors
  packages/backend/src/mock-server.ts
  packages/backend/src/tokens/keys.ts
  packages/backend/vitest.config.mts
Due: npx eslint --fix, npx prettier --write

wip
  packages/nextjs/src/app-router/server/ClerkProvider.tsx
  packages/nextjs/src/server/clerkMiddleware.ts
Due: npx eslint --fix, npx prettier --write

WIP
  package-lock.json
  package.json
Due: npx prettier --write

Fix fetch patching for tests
  packages/backend/src/api/request.ts
  packages/backend/src/runtime.ts
  packages/backend/src/tokens/keys.ts
Due: npx eslint --fix, npx prettier --write

Update .changeset/angry-cycles-cheer.md
  .changeset/angry-cycles-cheer.md
Due: npx prettier --write

WIP
  packages/backend/vitest.config.mts
Due: none

chore(vue): Remove extra comments in JSDoc
  packages/vue/src/composables/useAuth.ts
  packages/vue/src/composables/useClerk.ts
  packages/vue/src/composables/useOrganization.ts
  packages/vue/src/composables/useSession.ts
  packages/vue/src/composables/useSessionList.ts
  packages/vue/src/composables/useSignIn.ts
  packages/vue/src/composables/useSignUp.ts
  packages/vue/src/composables/useUser.ts
Due: npx eslint --fix, npx prettier --write

chore(vue): Update error message to link Vue installation docs
  packages/vue/src/composables/useClerkContext.ts
Due: npx eslint --fix, npx prettier --write

fix(elements,nextjs,shared,types): Ensure paths are correct
  packages/elements/src/react/sign-in/root.tsx
  packages/elements/src/react/sign-up/root.tsx
  packages/nextjs/src/app-router/client/ClerkProvider.tsx
  packages/shared/src/router/react.tsx
  packages/types/src/router.ts
Due: npx eslint --fix, npx prettier --write

add changeset
  .changeset/empty-dots-confess.md
Due: npx prettier --write

fix(clerk-js): prevent memory leak in worker timers setTimeout
  packages/shared/src/workerTimers/createWorkerTimers.ts
  packages/shared/src/workerTimers/workerTimers.worker.ts
Due: npx eslint --fix, npx prettier --write

add changeset
  .changeset/strange-coins-scream.md
Due: npx prettier --write

fix: ClerkHostRouterContext usage to align with new types
  packages/clerk-js/src/ui/new/renderer.tsx
Due: npx eslint --fix, npx prettier --write

WIP
  packages/backend/src/api/__tests__/factory.test.ts
  packages/backend/src/mock-server.ts
Due: npx eslint --fix, npx prettier --write

WIP
  packages/backend/src/mock-server.ts
Due: npx eslint --fix, npx prettier --write

create keys and write them to `.env.local`
  packages/nextjs/src/app-router/server/ClerkProvider.tsx
  packages/nextjs/src/server/clerkMiddleware.ts
Due: npx eslint --fix, npx prettier --write

chore(vue): Set target to ES2020
  packages/vue/tsconfig.json
Due: npx prettier --write

WIP
  packages/backend/src/runtime.ts
Due: npx eslint --fix, npx prettier --write

feat(clerk-js): Send FAPI version through URLSearchParams (#4457)
  .changeset/wild-guests-battle.md
  packages/clerk-js/src/core/__tests__/fapiClient.test.ts
  packages/clerk-js/src/core/constants.ts
  packages/clerk-js/src/core/fapiClient.ts
  packages/clerk-js/src/core/resources/__tests__/Token.test.ts
Due: npx eslint --fix, npx prettier --write

fix: Add next router back into the elements package
  package-lock.json
  packages/clerk-js/rspack.config.js
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/global.d.ts
  packages/clerk-js/src/ui/new/index.tsx
  packages/clerk-js/turbo.json
  packages/elements/package.json
  packages/elements/src/internals/machines/third-party/third-party.actors.ts
  packages/elements/src/react/router/index.ts
  packages/elements/src/react/router/next.ts
  packages/elements/src/react/sign-in/root.tsx
  packages/elements/src/react/sign-up/root.tsx
  packages/nextjs/src/app-router/client/ClerkProvider.tsx
  packages/nextjs/src/pages/ClerkProvider.tsx
Due: npx eslint --fix, npx prettier --write

Update .changeset/empty-dots-confess.md
  .changeset/empty-dots-confess.md
Due: npx prettier --write

bump bundlesize
  packages/clerk-js/bundlewatch.config.json
Due: npx prettier --write

WIP UI Accountless prompt
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/Components.tsx
  packages/clerk-js/src/ui/components/AccountlessPrompt/index.tsx
  packages/clerk-js/src/ui/lazyModules/components.ts
  packages/nextjs/src/utils/mergeNextClerkPropsWithEnv.ts
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

feat(backend): Send BAPI version through headers (#4458)
  .changeset/angry-cycles-cheer.md
  package-lock.json
  package.json
  packages/backend/src/api/__tests__/factory.test.ts
  packages/backend/src/api/request.ts
  packages/backend/src/constants.ts
  packages/backend/src/mock-server.ts
  packages/backend/src/runtime.ts
  packages/backend/src/tokens/__tests__/authStatus.test.ts
  packages/backend/src/tokens/__tests__/keys.test.ts
  packages/backend/src/tokens/__tests__/verify.test.ts
  packages/backend/src/tokens/keys.ts
  packages/backend/vitest.config.mts
Due: npx eslint --fix, npx prettier --write

define BUILD_ENABLE_NEW_COMPONENTS var within jest
  packages/clerk-js/jest.setup.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Update types for Rspack
  packages/clerk-js/rspack.config.js
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Add empty changeset
  .changeset/afraid-lamps-matter.md
Due: npx prettier --write

fix: ensure ClerkHostRouter provider is rendered in elements
  packages/elements/src/react/router/index.ts
  packages/elements/src/react/sign-in/root.tsx
  packages/elements/src/react/sign-up/root.tsx
  packages/shared/src/router/react.tsx
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Update types for Rspack (#4517)
  .changeset/afraid-lamps-matter.md
  packages/clerk-js/rspack.config.js
Due: npx eslint --fix, npx prettier --write
