Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{mjs,js,jsx,ts,tsx}": ["npx eslint --fix", "npx prettier --write"],
  "*.{json,md,mdx}": ["npx prettier --write"]
}

chore(repo): Try to fix major version check workflow (#4438)
  .changeset/small-dodos-grab.md
  .github/workflows/major-version-check.yml
Due: npx prettier --write

chore(localizations): Update missing Russian translations (#4431)
  .changeset/modern-snails-obey.md
  packages/localizations/src/ru-RU.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Temporarily ignore expo-passkeys pkg
  .changeset/config.json
  .changeset/happy-pants-fetch.md
  packages/expo-passkeys/package.json
Due: npx prettier --write

fix(clerk-js): Update turbo.json config (#4460)
  .changeset/honest-impalas-grin.md
  packages/clerk-js/turbo.json
Due: npx prettier --write

fix(repo): Correcting the lockfile (#4505)
  package-lock.json
Due: npx prettier --write

fix(shared): Correct peerDependencies (#4494)
  .changeset/rotten-balloons-vanish.md
  package-lock.json
  packages/shared/package.json
Due: npx prettier --write

chore(clerk-react,shared): Use shared `deriveState` function (#4490)
  .changeset/wicked-tomatoes-explain.md
  packages/react/src/contexts/ClerkContextProvider.tsx
  packages/react/src/utils/deriveState.ts
  packages/shared/src/deriveState.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Update package-lock.json
  package-lock.json
Due: npx prettier --write

chore(nextjs, backend): Re-export reverification backend utilities (#4480)
  .changeset/grumpy-snakes-approve.md
  .changeset/plenty-seas-hammer.md
  packages/backend/src/__tests__/exports.test.ts
  packages/backend/src/internal.ts
  packages/nextjs/src/server/__tests__/__snapshots__/exports.test.ts.snap
  packages/nextjs/src/server/index.ts
Due: npx eslint --fix, npx prettier --write

feat(backend): Send BAPI version through headers (#4458)
  .changeset/angry-cycles-cheer.md
  package-lock.json
  package.json
  packages/backend/src/api/__tests__/factory.test.ts
  packages/backend/src/api/request.ts
  packages/backend/src/constants.ts
  packages/backend/src/mock-server.ts
  packages/backend/src/runtime.ts
  packages/backend/src/tokens/__tests__/authStatus.test.ts
  packages/backend/src/tokens/__tests__/keys.test.ts
  packages/backend/src/tokens/__tests__/verify.test.ts
  packages/backend/src/tokens/keys.ts
  packages/backend/vitest.config.mts
Due: npx eslint --fix, npx prettier --write

fix(repo): Ensure Rspack dependencies are always installed (#4481)
  package-lock.json
  package.json
  scripts/patch-incorrect-lockfile.mjs
Due: npx eslint --fix, npx prettier --write

feat(elements): Add `<Link />` component (#4456)
  .changeset/short-mails-brush.md
  .changeset/weak-hornets-hunt.md
  packages/clerk-js/src/core/clerk.ts
  packages/elements/src/react/common/index.ts
  packages/elements/src/react/common/link.tsx
  packages/react/src/isomorphicClerk.ts
  packages/shared/src/router/router.ts
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Replace generic ComponentContext with component-specific contexts (#4486)
  .changeset/poor-countries-count.md
  packages/clerk-js/src/ui/components/CreateOrganization/CreateOrganization.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationProfile.tsx
  packages/clerk-js/src/ui/components/SignIn/SignIn.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUp.tsx
  packages/clerk-js/src/ui/components/UserProfile/UserProfile.tsx
  packages/clerk-js/src/ui/components/UserVerification/index.tsx
  packages/clerk-js/src/ui/components/Waitlist/Waitlist.tsx
  packages/clerk-js/src/ui/contexts/ClerkUIComponentsContext.tsx
  packages/clerk-js/src/ui/portal/index.tsx
  packages/clerk-js/src/ui/types.ts
  packages/clerk-js/src/ui/utils/test/createFixtures.tsx
Due: npx eslint --fix, npx prettier --write

fix(shared): Fix package.json issue with shared package (#4475)
  .changeset/wild-cycles-cough.md
  packages/shared/package.json
Due: npx prettier --write

fix(expo-passkeys): Correct turborepo outputs (#4506)
  .changeset/eleven-doors-shop.md
  packages/expo-passkeys/turbo.json
Due: npx prettier --write

chore(clerk-js): Use esnext as the target for dev builds (#4495)
  packages/clerk-js/rspack.config.js
Due: npx eslint --fix, npx prettier --write

feat(clerk-js): Send FAPI version through URLSearchParams (#4457)
  .changeset/wild-guests-battle.md
  packages/clerk-js/src/core/__tests__/fapiClient.test.ts
  packages/clerk-js/src/core/constants.ts
  packages/clerk-js/src/core/fapiClient.ts
  packages/clerk-js/src/core/resources/__tests__/Token.test.ts
Due: npx eslint --fix, npx prettier --write

ci(repo): Version packages (#4493)
  .changeset/chilled-crabs-stare.md
  .changeset/odd-colts-sing.md
  .changeset/plenty-snakes-turn.md
  .changeset/wicked-tomatoes-explain.md
  package-lock.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: npx prettier --write

ci(repo): Version packages (#4499)
  .changeset/famous-shoes-walk.md
  .changeset/nine-pets-rhyme.md
  package-lock.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
Due: npx prettier --write

chore(repo): Attempt to fix retheme build (#4474)
  .changeset/fluffy-fans-clap.md
  playground/nextjs/app/app-dir/client/page.tsx
  playground/nextjs/app/app-dir/page.tsx
  playground/nextjs/app/layout.tsx
  playground/nextjs/package.json
  playground/nextjs/pages/_app.tsx
Due: npx eslint --fix, npx prettier --write

fix(elements): Fix elements router usage (#4513)
  .changeset/empty-dots-confess.md
  package-lock.json
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/jest.setup.ts
  packages/clerk-js/rspack.config.js
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/global.d.ts
  packages/clerk-js/src/ui/new/index.tsx
  packages/clerk-js/turbo.json
  packages/elements/package.json
  packages/elements/src/internals/machines/third-party/third-party.actors.ts
  packages/elements/src/react/router/index.ts
  packages/elements/src/react/router/next.ts
  packages/elements/src/react/sign-in/root.tsx
  packages/elements/src/react/sign-up/root.tsx
  packages/nextjs/src/app-router/client/ClerkProvider.tsx
  packages/nextjs/src/pages/ClerkProvider.tsx
  packages/types/src/router.ts
Due: npx eslint --fix, npx prettier --write

fix(shared): Adding missing deps (#4522)
  .changeset/chilled-days-guess.md
  package-lock.json
  packages/shared/package.json
Due: npx prettier --write

chore(repo): Fix retheme preview build (#4473)
  .changeset/red-points-promise.md
  playground/nextjs/pages/index.tsx
Due: npx eslint --fix, npx prettier --write

fix(localizations): add German translations for experimental legal content (#4503)
  .changeset/beige-waves-do.md
  packages/localizations/src/de-DE.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Run clerk-expo tests in cicd
  .github/workflows/ci.yml
Due: none

fix(clerk-js): Directory traversal relative URL detection (#4483)
  .changeset/chilled-crabs-stare.md
  packages/clerk-js/src/utils/__tests__/redirectUrls.test.ts
  packages/clerk-js/src/utils/__tests__/url.test.ts
  packages/clerk-js/src/utils/redirectUrls.ts
  packages/clerk-js/src/utils/url.ts
Due: npx eslint --fix, npx prettier --write

feat(clerk-expo): Support expo passkeys (#4352)
  .changeset/late-camels-talk.md
  package-lock.json
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/resources/Passkey.ts
  packages/clerk-js/src/core/resources/SignIn.ts
  packages/clerk-js/src/utils/passkeys.ts
  packages/expo-passkeys/README.md
  packages/expo-passkeys/example/App.tsx
  packages/expo-passkeys/example/package-lock.json
  packages/expo-passkeys/example/package.json
  packages/expo-passkeys/package.json
  packages/expo/package.json
  packages/expo/passkeys/package.json
  packages/expo/src/passkeys/index.ts
  packages/expo/src/provider/ClerkProvider.tsx
  packages/expo/src/provider/singleton/createClerkInstance.ts
  packages/expo/src/provider/singleton/types.ts
  packages/shared/src/error.ts
  packages/types/src/passkey.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Add workflow to approve integration tests for fork PRs (#4482)
  .changeset/odd-colts-sing.md
  .github/workflows/ci.yml
  .github/workflows/run-integration-tests.yml
Due: npx prettier --write

fix(astro): Avoid importing transition functions when View Transitions is disabled (#4521)
  .changeset/itchy-icons-destroy.md
  packages/astro/src/integration/create-integration.ts
  packages/astro/src/internal/swap-document.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Update types for Rspack (#4517)
  .changeset/afraid-lamps-matter.md
  packages/clerk-js/rspack.config.js
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Init options on updateProps (#4498)
  .changeset/nine-pets-rhyme.md
  packages/clerk-js/src/core/clerk.ts
Due: npx eslint --fix, npx prettier --write

fix(nextjs): Do not set cookie during cache invalidation (#4478)
  .changeset/fair-dots-invite.md
  packages/nextjs/src/app-router/server-actions.ts
Due: npx eslint --fix, npx prettier --write

fix(nextjs): Ensure window is defined within `<ClerkProvider />` (#4476)
  .changeset/friendly-sloths-travel.md
  packages/nextjs/src/app-router/client/ClerkProvider.tsx
  packages/nextjs/src/pages/ClerkProvider.tsx
Due: npx eslint --fix, npx prettier --write

fix(nextjs): Ambient global.d.ts (#4485)
  .changeset/plenty-snakes-turn.md
  packages/nextjs/src/global.d.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-js,types): Add afterJoinWaitlistUrl to DisplayConfig resource (#4524)
  .changeset/spotty-books-tie.md
  packages/clerk-js/src/core/resources/DisplayConfig.ts
  packages/types/src/displayConfig.ts
Due: npx eslint --fix, npx prettier --write

fix(repo): Verify user permissions to run integration tests (#4489)
  .changeset/famous-shoes-walk.md
  .github/workflows/ci.yml
  .github/workflows/run-integration-tests.yml
Due: npx prettier --write

chore(nextjs): Adds timestamp to debugLogger output (#4479)
  .changeset/stupid-ants-talk.md
  packages/nextjs/src/utils/debugLogger.ts
Due: npx eslint --fix, npx prettier --write
