Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --fix, pnpm prettier --write

feat(agent-toolkit): Add MCP support
  .changeset/curvy-eggs-float.md
  packages/agent-toolkit/package.json
  packages/agent-toolkit/src/lib/clerk-tool.ts
  packages/agent-toolkit/src/lib/tools/index.ts
  packages/agent-toolkit/src/lib/tools/users.ts
  packages/agent-toolkit/src/lib/types.ts
  packages/agent-toolkit/src/lib/utils.ts
  packages/agent-toolkit/src/lib/utilts.test.ts
  packages/agent-toolkit/src/modelcontextprotocol/adapter.ts
  packages/agent-toolkit/src/modelcontextprotocol/index.ts
  packages/agent-toolkit/src/modelcontextprotocol/local-server.ts
  packages/agent-toolkit/tsup.config.ts
  pnpm-lock.yaml
Due: pnpm eslint --fix, pnpm prettier --write

fix: update changelog
  .changeset/fuzzy-pillows-doubt.md
  .changeset/seven-walls-drive.md
Due: pnpm prettier --write

Update lockfile
  pnpm-lock.yaml
Due: none

chore(tanstack-start): Add warning about package renaming in the next version
  packages/tanstack-start/src/errors.ts
  packages/tanstack-start/src/index.ts
  packages/tanstack-start/src/server/index.ts
  packages/tanstack-start/src/utils/errors.ts
Due: pnpm eslint --fix, pnpm prettier --write

chore(tanstack-start): Add changeset
  .changeset/cuddly-cups-sip.md
Due: pnpm prettier --write

address remaining pieces of feedback
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/ui/components/Checkout/CheckoutForm.tsx
  packages/clerk-js/src/ui/components/PricingTable/PlanDetailBlade.tsx
  packages/clerk-js/src/ui/utils/createCustomPages.tsx
  packages/react/src/isomorphicClerk.ts
Due: pnpm eslint --fix, pnpm prettier --write

tag missing localization TODOs
  packages/clerk-js/src/ui/components/Checkout/CheckoutComplete.tsx
  packages/clerk-js/src/ui/components/Checkout/CheckoutForm.tsx
  packages/clerk-js/src/ui/components/Checkout/CheckoutPage.tsx
Due: pnpm eslint --fix, pnpm prettier --write

Add readme
  packages/agent-toolkit/README.md
Due: pnpm prettier --write

fix(repo): Handle errors in the proxy server
  integration/scripts/proxyServer.ts
Due: pnpm eslint --fix, pnpm prettier --write

Update lockfile
  packages/agent-toolkit/README.md
  packages/agent-toolkit/package.json
  packages/agent-toolkit/src/lib/utilts.test.ts
  pnpm-lock.yaml
Due: pnpm eslint --fix, pnpm prettier --write

feat(agent-toolkit): Add MCP support (#5326)
  .changeset/curvy-eggs-float.md
  packages/agent-toolkit/README.md
  packages/agent-toolkit/package.json
  packages/agent-toolkit/src/ai-sdk/adapter.ts
  packages/agent-toolkit/src/ai-sdk/index.ts
  packages/agent-toolkit/src/langchain/adapter.ts
  packages/agent-toolkit/src/langchain/index.ts
  packages/agent-toolkit/src/lib/clerk-tool.ts
  packages/agent-toolkit/src/lib/constants.ts
  packages/agent-toolkit/src/lib/inject-session-claims.ts
  packages/agent-toolkit/src/lib/tools/index.ts
  packages/agent-toolkit/src/lib/tools/invitations.ts
  packages/agent-toolkit/src/lib/tools/organizations.ts
  packages/agent-toolkit/src/lib/tools/users.ts
  packages/agent-toolkit/src/lib/types.ts
  packages/agent-toolkit/src/lib/utils.ts
  packages/agent-toolkit/src/lib/utilts.test.ts
  packages/agent-toolkit/src/modelcontextprotocol/adapter.ts
  packages/agent-toolkit/src/modelcontextprotocol/index.ts
  packages/agent-toolkit/src/modelcontextprotocol/local-server.ts
  packages/agent-toolkit/tsup.config.ts
  pnpm-lock.yaml
Due: pnpm eslint --fix, pnpm prettier --write

fix(agent-toolkit): Correctly propagate authContext to injectSessionClaims
  .changeset/strange-crabs-walk.md
  packages/agent-toolkit/src/lib/inject-session-claims.ts
Due: pnpm eslint --fix, pnpm prettier --write

ci(repo): Version packages (#5329)
  .changeset/strange-crabs-walk.md
  packages/agent-toolkit/CHANGELOG.md
  packages/agent-toolkit/package.json
Due: pnpm prettier --write

fix(agent-toolkit): Move @modelcontextprotocol/sdk to dependencies
  .changeset/brown-trees-film.md
  packages/agent-toolkit/package.json
  pnpm-lock.yaml
Due: pnpm prettier --write

ci(repo): Version packages (#5330)
  .changeset/brown-trees-film.md
  packages/agent-toolkit/CHANGELOG.md
  packages/agent-toolkit/package.json
Due: pnpm prettier --write

fix(agent-toolkit): Respect param overrides
  .changeset/six-pants-swim.md
  packages/agent-toolkit/src/ai-sdk/index.ts
  packages/agent-toolkit/src/langchain/index.ts
  packages/agent-toolkit/src/modelcontextprotocol/index.ts
Due: pnpm eslint --fix, pnpm prettier --write

ci(repo): Version packages (#5331)
  .changeset/six-pants-swim.md
  packages/agent-toolkit/CHANGELOG.md
  packages/agent-toolkit/package.json
Due: pnpm prettier --write

fix(vue): Set initial value of `clientCtx` to `undefined` (#5324)
  .changeset/fuzzy-pillows-doubt.md
  packages/vue/src/plugin.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix(repo): Handle errors in E2E proxy server (#5328)
  integration/scripts/proxyServer.ts
Due: pnpm eslint --fix, pnpm prettier --write

lockfile
  pnpm-lock.yaml
Due: none

Update bundle limit for `sign-up`
  packages/clerk-js/bundlewatch.config.json
Due: pnpm prettier --write

Remove unused `TokenUpdate` dispatch
  packages/clerk-js/src/core/clerk.ts
Due: pnpm eslint --fix, pnpm prettier --write

Update bundlewatch limit for headless bundle
  packages/clerk-js/bundlewatch.config.json
Due: pnpm prettier --write

Refactor internal routing logic
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/sessionTasks.ts
  packages/clerk-js/src/ui/common/redirects.ts
  packages/clerk-js/src/ui/components/SignIn/SignIn.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUp.tsx
  packages/clerk-js/src/ui/contexts/components/SignIn.ts
  packages/clerk-js/src/ui/contexts/components/SignUp.ts
  packages/clerk-js/src/ui/router/BaseRouter.tsx
  packages/types/src/clerk.ts
Due: pnpm eslint --fix, pnpm prettier --write

Update `setActive` to handle `pending` session status
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/common/withRedirect.tsx
  packages/types/src/clerk.ts
Due: pnpm eslint --fix, pnpm prettier --write

Introduce experimental prop for lazy loading routes
  integration/templates/next-app-router/src/app/layout.tsx
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/sessionTasks.ts
  packages/clerk-js/src/ui/components/SignIn/SignIn.tsx
  packages/clerk-js/src/ui/components/SignIn/lazy-sign-up.ts
  packages/clerk-js/src/ui/components/SignUp/SignUp.tsx
  packages/clerk-js/src/ui/contexts/components/SignIn.ts
  packages/clerk-js/src/ui/contexts/components/SignUp.ts
  packages/clerk-js/src/ui/lazyModules/components.ts
  packages/types/src/clerk.ts
Due: pnpm eslint --fix, pnpm prettier --write

Refactor internal routing to set on `BaseRouter`
  integration/templates/next-app-router/src/app/layout.tsx
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/sessionTasks.ts
  packages/clerk-js/src/ui/components/SignIn/SignIn.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUp.tsx
  packages/clerk-js/src/ui/contexts/components/SignIn.ts
  packages/clerk-js/src/ui/contexts/components/SignUp.ts
  packages/clerk-js/src/ui/lazyModules/components.ts
  packages/clerk-js/src/ui/router/BaseRouter.tsx
  packages/react/src/isomorphicClerk.ts
  packages/types/src/clerk.ts
Due: pnpm eslint --fix, pnpm prettier --write

Handle internal component navigation
  integration/tests/session-tasks-sign-in.test.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/events.ts
  packages/clerk-js/src/core/resources/Session.ts
  packages/clerk-js/src/core/resources/SessionTask.ts
  packages/clerk-js/src/core/warnings.ts
  packages/clerk-js/src/ui/common/withRedirect.tsx
  packages/clerk-js/src/ui/components/SessionTask/SessionTask.tsx
  packages/clerk-js/src/ui/components/SessionTask/index.ts
  packages/clerk-js/src/ui/components/SignIn/SignIn.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUp.tsx
  packages/clerk-js/src/ui/contexts/components/SignIn.ts
  packages/clerk-js/src/ui/contexts/components/SignUp.ts
  packages/clerk-js/src/ui/hooks/useNavigateOnEvent.ts
  packages/clerk-js/src/utils/componentGuards.ts
  packages/types/src/clerk.ts
  packages/types/src/json.ts
  packages/types/src/session.ts
  packages/types/src/snapshots.ts
Due: pnpm eslint --fix, pnpm prettier --write

Add comment to clarify temporary `experimental.withSessionTasks`
  integration/templates/next-app-router/src/app/layout.tsx
  packages/clerk-js/src/ui/components/SignIn/SignIn.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUp.tsx
  packages/types/src/clerk.ts
Due: pnpm eslint --fix, pnpm prettier --write

Send telemetry event
  packages/clerk-js/src/core/sessionTasks.ts
  packages/clerk-js/src/ui/common/withRedirect.tsx
  packages/clerk-js/src/ui/components/SessionTask/SessionTask.tsx
  packages/clerk-js/src/ui/components/SignIn/SignIn.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUp.tsx
  packages/clerk-js/src/ui/contexts/components/SignIn.ts
  packages/clerk-js/src/ui/contexts/components/SignUp.ts
  packages/clerk-js/src/ui/lazyModules/components.ts
Due: pnpm eslint --fix, pnpm prettier --write

Introduce test coverage
  .changeset/brave-pears-add.md
  integration/tests/session-tasks-sign-up.test.ts
  packages/clerk-js/src/core/__tests__/clerk.test.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/events.ts
  packages/clerk-js/src/core/resources/Session.ts
  packages/clerk-js/src/core/resources/SessionTask.ts
  packages/clerk-js/src/core/sessionTasks.ts
  packages/clerk-js/src/core/warnings.ts
  packages/clerk-js/src/ui/common/redirects.ts
  packages/clerk-js/src/ui/common/withRedirect.tsx
  packages/clerk-js/src/ui/components/SessionTask/SessionTask.tsx
  packages/clerk-js/src/ui/components/SignIn/SignIn.tsx
  packages/clerk-js/src/ui/components/SignIn/lazy-sign-up.ts
  packages/clerk-js/src/ui/components/SignUp/SignUp.tsx
  packages/clerk-js/src/ui/contexts/components/SignIn.ts
  packages/clerk-js/src/ui/contexts/components/SignUp.ts
  packages/clerk-js/src/ui/hooks/useNavigateOnEvent.ts
  packages/clerk-js/src/utils/componentGuards.ts
  packages/react/src/isomorphicClerk.ts
  packages/types/src/clerk.ts
  packages/types/src/json.ts
  packages/types/src/session.ts
  packages/types/src/snapshots.ts
Due: pnpm eslint --fix, pnpm prettier --write

Remove unused `null` from type
  packages/clerk-js/src/core/clerk.ts
  packages/types/src/clerk.ts
Due: pnpm eslint --fix, pnpm prettier --write

Refactor integration tests to use use long running apps
  integration/tests/session-tasks-sign-in.test.ts
  integration/tests/session-tasks-sign-up.test.ts
  packages/clerk-js/bundlewatch.config.json
Due: pnpm eslint --fix, pnpm prettier --write

Add first draft of integration tests
  integration/.keys.json.sample
  integration/presets/envs.ts
  integration/presets/longRunningApps.ts
  integration/tests/session-tasks-sign-in.test.ts
Due: pnpm eslint --fix, pnpm prettier --write

chore(backend): Remove @ts-ignore directives (#5323)
  .changeset/quick-countries-learn.md
  packages/backend/src/api/request.ts
  packages/backend/src/util/decorateObjectWithResources.ts
  packages/backend/tsup.config.ts
  pnpm-lock.yaml
Due: pnpm eslint --fix, pnpm prettier --write

init
  packages/clerk-js/src/ui/components/Checkout/Checkout.tsx
  packages/clerk-js/src/ui/components/Checkout/CheckoutComplete.tsx
  packages/clerk-js/src/ui/components/Checkout/CheckoutPage.tsx
  packages/clerk-js/src/ui/components/PricingTable/PlanCard.tsx
  packages/clerk-js/src/ui/components/PricingTable/PlanDetailDrawer.tsx
  packages/clerk-js/src/ui/components/PricingTable/PricingTable.tsx
  packages/clerk-js/src/ui/constants.ts
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/clerk-js/src/ui/elements/Avatar.tsx
  packages/clerk-js/src/ui/elements/Disclosure.tsx
  packages/clerk-js/src/ui/elements/Drawer.tsx
  packages/clerk-js/src/ui/elements/ProfileCard/ProfileCardContent.tsx
  packages/clerk-js/src/ui/elements/index.ts
  packages/clerk-js/src/ui/foundations/colors.ts
  packages/clerk-js/src/ui/foundations/defaultFoundations.ts
  packages/clerk-js/src/ui/foundations/transitions.ts
  packages/clerk-js/src/ui/hooks/index.ts
  packages/clerk-js/src/ui/hooks/useMotionSafe.ts
  packages/clerk-js/src/ui/polishedAppearance.ts
  packages/clerk-js/src/ui/types.ts
  packages/types/src/appearance.ts
Due: pnpm eslint --fix, pnpm prettier --write

isOpen
  packages/clerk-js/src/ui/components/Checkout/Checkout.tsx
  packages/clerk-js/src/ui/components/Checkout/CheckoutComplete.tsx
  packages/clerk-js/src/ui/types.ts
Due: pnpm eslint --fix, pnpm prettier --write

Lazy load `SessionTask` based on environment settings
  integration/templates/next-app-router/src/app/layout.tsx
  packages/clerk-js/src/core/resources/Environment.ts
  packages/clerk-js/src/core/resources/OrganizationSettings.ts
  packages/clerk-js/src/ui/components/SignIn/SignIn.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUp.tsx
  packages/clerk-js/src/ui/contexts/components/SignIn.ts
  packages/clerk-js/src/ui/contexts/components/SignUp.ts
  packages/types/src/clerk.ts
  packages/types/src/environment.ts
  packages/types/src/organizationSettings.ts
Due: pnpm eslint --fix, pnpm prettier --write

wip
  packages/clerk-js/src/ui/components/Checkout/CheckoutComplete.tsx
Due: pnpm eslint --fix, pnpm prettier --write

Path conditions:
  pnpm eslint --fix: any of: *.{mjs,js,jsx,ts,tsx,vue}
  pnpm prettier --write: (any of: *.{mjs,js,jsx,ts,tsx,vue}) or (any of: *.{json,md,mdx})
