Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

chore(repo): Add Changeset
  .changeset/selfish-coats-know.md
Due: npx prettier --write

fix(clerk-js): Prevent Connected Accounts dropdown menu from clipping (#2674)
  .changeset/selfish-coats-know.md
  packages/clerk-js/src/ui/elements/Menu.tsx
Due: npx eslint --fix, npx prettier --write

chore(upgrade): Remove unnecessary files
  packages/upgrade/.editorconfig
  packages/upgrade/.gitattributes
Due: none

chore(upgrade): Remove unnecessary deps and add clean script
  package-lock.json
  packages/upgrade/package.json
Due: npx prettier --write

chore(upgrade): Add proper ESLint
  packages/upgrade/.eslintrc.cjs
Due: none

chore(upgrade): Delete more
  packages/upgrade/.prettierignore
Due: none

test(clerk-js): Remove skipped tests from MfaTOTP
  .changeset/tricky-boxes-juggle.md
  packages/clerk-js/src/ui/components/UserProfile/__tests__/MfaPage.test.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/RemoveMfaTOTPPage.test.tsx
Due: npx eslint --fix, npx prettier --write

fix(repo): Align typography with Figma designs
  .changeset/hungry-crabs-burn.md
  packages/clerk-js/src/ui/elements/Header.tsx
  packages/clerk-js/src/ui/elements/VerificationLinkCard.tsx
  packages/clerk-js/src/ui/foundations/typography.ts
  packages/clerk-js/src/ui/styledSystem/common.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Add first changes
  scripts/install-site-in-isolation.mjs
  scripts/version-with-patch.mjs
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Show arrow icon only on hover in <OrganizationList/>
  .changeset/tasty-beans-sell.md
  packages/clerk-js/src/ui/components/OrganizationList/OrganizationListPage.tsx
  packages/clerk-js/src/ui/components/OrganizationList/shared.tsx
Due: npx eslint --fix, npx prettier --write

fix(backend): Make organizations.getOrganizationMembershipList return type paginated (#2681)
  .changeset/gold-beans-obey.md
  packages/backend/src/api/endpoints/OrganizationApi.ts
Due: npx eslint --fix, npx prettier --write

test(clerk-js): Remove skipped tests from MfaTOTP (#2683)
  .changeset/tricky-boxes-juggle.md
  packages/clerk-js/src/ui/components/UserProfile/__tests__/MfaPage.test.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/RemoveMfaTOTPPage.test.tsx
Due: npx eslint --fix, npx prettier --write

chore(repo): Tmp
  scripts/snapshot.mjs
  scripts/version-patch-with-preid.mjs
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Show arrow icon only on hover in <OrganizationList/> (#2685)
  .changeset/tasty-beans-sell.md
  packages/clerk-js/src/ui/components/OrganizationList/OrganizationListPage.tsx
  packages/clerk-js/src/ui/components/OrganizationList/shared.tsx
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Fix layout shifts when buttons are in loading state (#2673)
  .changeset/pink-baboons-allow.md
  packages/clerk-js/src/ui/primitives/Button.tsx
Due: npx eslint --fix, npx prettier --write

fix(repo): Align typography with Figma designs (#2684)
  .changeset/hungry-crabs-burn.md
  packages/clerk-js/src/ui/elements/Header.tsx
  packages/clerk-js/src/ui/elements/VerificationLinkCard.tsx
  packages/clerk-js/src/ui/foundations/typography.ts
  packages/clerk-js/src/ui/styledSystem/common.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Last version of script
  scripts/publish-prepatch-with-tag.mjs
  scripts/version-patch-with-preid.mjs
Due: npx eslint --fix, npx prettier --write

chore(repo): Use workflow
  .github/actions/version-prepatch/action.yml
  .github/workflows/alpha.elements.yml
  scripts/publish-prepatch-with-tag.mjs
Due: npx eslint --fix, npx prettier --write

chore(repo): Update workflow
  .github/workflows/alpha.elements.yml
Due: none

chore(repo): Add git config
  .github/workflows/alpha.elements.yml
Due: none

chore(repo): More tweaks
  .github/workflows/alpha.elements.yml
Due: none

chore(upgrade): Improvements (#2682)
  package-lock.json
  packages/upgrade/.editorconfig
  packages/upgrade/.eslintrc.cjs
  packages/upgrade/.gitattributes
  packages/upgrade/.prettierignore
  packages/upgrade/package.json
Due: npx prettier --write

fix(clerk-js): Use common font weights
  .changeset/rotten-tigers-rescue.md
  packages/clerk-js/src/ui/foundations/typography.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Make it work in Iframes for dev instances
  packages/clerk-js/src/utils/cookies/clientUat.ts
  packages/clerk-js/src/utils/cookies/devBrowser.ts
  packages/clerk-js/src/utils/cookies/session.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Update cookie handlers to set cookies so they can be read in iframes (#2668)
  .changeset/chilly-crews-perform.md
  packages/clerk-js/src/utils/cookies/handler.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Use common font weights (#2687)
  .changeset/rotten-tigers-rescue.md
  packages/clerk-js/src/ui/foundations/typography.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Make Remove item destructive in MFA TOTP menu
  .changeset/curly-baboons-argue.md
  packages/clerk-js/src/ui/components/UserProfile/MfaSection.tsx
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Make Remove item destructive in MFA TOTP menu (#2689)
  .changeset/curly-baboons-argue.md
  packages/clerk-js/src/ui/components/UserProfile/MfaSection.tsx
Due: npx eslint --fix, npx prettier --write

Create empty-radios-sleep.md
  .changeset/empty-radios-sleep.md
Due: npx prettier --write

chore(repo): Version packages (#2664)
  .changeset/chilly-crews-perform.md
  .changeset/tough-peas-teach.md
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
Due: npx prettier --write

fix(clerk-js): Make it work in Iframes for dev instances (#2688)
  .changeset/empty-radios-sleep.md
  packages/clerk-js/src/utils/cookies/clientUat.ts
  packages/clerk-js/src/utils/cookies/devBrowser.ts
  packages/clerk-js/src/utils/cookies/session.ts
Due: npx eslint --fix, npx prettier --write

refactor(elements): Split out Sign In
  packages/elements/src/internals/machines/router/router.machine.ts
  packages/elements/src/internals/machines/sign-in/sign-in.context.ts
  packages/elements/src/internals/machines/sign-in/sign-in.machine.ts
  packages/elements/src/react/hooks/use-active-states.hook.ts
  packages/elements/src/react/hooks/use-active-tags.hook.ts
  packages/elements/src/react/sign-in/contexts/machine.context.ts
  packages/elements/src/react/sign-in/contexts/strategies.context.ts
  packages/elements/src/react/sign-in/continue.tsx
  packages/elements/src/react/sign-in/hooks/use-strategies.hook.ts
  packages/elements/src/react/sign-in/hooks/use-strategy.hook.ts
  packages/elements/src/react/sign-in/hooks/use-third-party-provider.hook.ts
  packages/elements/src/react/sign-in/index.ts
  packages/elements/src/react/sign-in/root.tsx
  packages/elements/src/react/sign-in/social-providers.tsx
  packages/elements/src/react/sign-in/start.tsx
  packages/elements/src/react/sign-in/verifications.tsx
  packages/elements/src/types/clerk.d.ts
Due: npx eslint --fix, npx prettier --write

refactor(elements): Standardize SignIn context
  packages/elements/examples/nextjs/components/sign-in-debug.tsx
  packages/elements/src/react/sign-in/contexts/sign-in.context.ts
  packages/elements/src/react/sign-in/continue.tsx
  packages/elements/src/react/sign-in/hooks/use-strategies.hook.ts
  packages/elements/src/react/sign-in/hooks/use-third-party-provider.hook.ts
  packages/elements/src/react/sign-in/index.ts
  packages/elements/src/react/sign-in/root.tsx
  packages/elements/src/react/sign-in/start.tsx
  packages/elements/src/react/sign-in/verifications.tsx
Due: npx eslint --fix, npx prettier --write

feat(upgrade): Add deduping when scanning for multiple sdks
  packages/upgrade/source/scan.js
Due: npx eslint --fix, npx prettier --write

chore(upgrade): Apply linting to all files
  packages/upgrade/source/app.js
  packages/upgrade/source/cli.js
  packages/upgrade/source/constants/sdks.js
  packages/upgrade/source/constants/versions.js
  packages/upgrade/source/util/expandable-list.js
  packages/upgrade/source/util/generate-changelog.js
  packages/upgrade/source/util/generate-export-change.js
  packages/upgrade/source/util/get-clerk-version.js
  packages/upgrade/source/util/guess-framework.js
  packages/upgrade/source/util/load-change.js
  packages/upgrade/source/util/step-sequencer.js
Due: npx eslint --fix, npx prettier --write

refactor(elements): Split out Sign Up
  packages/elements/examples/nextjs/components/sign-up-debug.tsx
  packages/elements/src/internals/machines/sign-up/sign-up.context.ts
  packages/elements/src/internals/machines/sign-up/sign-up.machine.ts
  packages/elements/src/react/hooks/use-active-states.hook.ts
  packages/elements/src/react/hooks/use-active-tags.hook.ts
  packages/elements/src/react/sign-in/social-providers.tsx
  packages/elements/src/react/sign-up/contexts/sign-up.context.ts
  packages/elements/src/react/sign-up/contexts/strategies.context.ts
  packages/elements/src/react/sign-up/continue.tsx
  packages/elements/src/react/sign-up/hooks/use-third-party-provider.hook.ts
  packages/elements/src/react/sign-up/index.ts
  packages/elements/src/react/sign-up/root.tsx
  packages/elements/src/react/sign-up/social-providers.tsx
  packages/elements/src/react/sign-up/start.tsx
  packages/elements/src/react/sign-up/verifications.tsx
Due: npx eslint --fix, npx prettier --write

feat(upgrade): Add minimal, anonymous telemetry for tracking breaking change frequency
  package-lock.json
  packages/upgrade/.eslintrc.cjs
  packages/upgrade/package.json
  packages/upgrade/source/app.js
  packages/upgrade/source/cli.js
  packages/upgrade/source/scan.js
  packages/upgrade/source/util/guess-framework.js
  packages/upgrade/source/util/step-sequencer.js
  packages/upgrade/source/versions/v5/next/with-clerk-middleware-removed.md
Due: npx eslint --fix, npx prettier --write

chore(upgrade): Version
  packages/upgrade/package.json
Due: npx prettier --write

fix(upgrade): Add to/from version to the telemetry data
  packages/upgrade/source/scan.js
Due: npx eslint --fix, npx prettier --write

chore(repo): Use envs
  .github/workflows/alpha.elements.yml
Due: none

Path conditions:
  npx eslint --fix: any of: *.{mjs,js,jsx,ts,tsx}
  npx prettier --write: (any of: *.{mjs,js,jsx,ts,tsx}) or (any of: *.{json,md,mdx})
