Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --fix, pnpm prettier --write

fix: Missing invitation status `expired`
  packages/backend/src/api/resources/Enums.ts
Due: pnpm eslint --fix, pnpm prettier --write

Enforce hiding personal workspace
  packages/clerk-js/src/ui/contexts/components/OrganizationList.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix tests
  packages/clerk-js/src/core/resources/__tests__/__snapshots__/Environment.test.ts.snap
  packages/clerk-js/src/ui/utils/createCustomPages.tsx
  pnpm-lock.yaml
Due: pnpm eslint --fix, pnpm prettier --write

rm mask
  packages/clerk-js/src/ui/components/PricingTable/PlanCard.tsx
Due: pnpm eslint --fix, pnpm prettier --write

fix
  packages/clerk-js/src/ui/elements/Drawer.tsx
Due: pnpm eslint --fix, pnpm prettier --write

add changeset
  .changeset/large-feet-hammer.md
Due: pnpm prettier --write

chore: update message to be more actionable
  packages/tanstack-start/src/utils/errors.ts
Due: pnpm eslint --fix, pnpm prettier --write

chore(tanstack-react-start): Update package name and version locally
  packages/tanstack-start/package.json
Due: pnpm prettier --write

chore: update directory
  packages/tanstack-start/package.json
Due: pnpm prettier --write

review: Changeset
  .changeset/calm-files-confess.md
Due: pnpm prettier --write

update snapshot script to include new package
  scripts/snapshot.mjs
Due: pnpm eslint --fix, pnpm prettier --write

feat(clerk-js): Allow token refresh when Client failed to resolve
  packages/clerk-js/src/core/auth/AuthCookieService.ts
  packages/clerk-js/src/core/auth/SessionCookiePoller.ts
  packages/clerk-js/src/core/auth/cookies/session.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/jwt-client.ts
  packages/types/src/jwt.ts
Due: pnpm eslint --fix, pnpm prettier --write

Include stripe dependencies to only Checkout
  packages/clerk-js/rspack.config.js
Due: pnpm eslint --fix, pnpm prettier --write

fix checkout complete
  packages/clerk-js/src/ui/components/Checkout/CheckoutComplete.tsx
  packages/clerk-js/src/ui/elements/Drawer.tsx
Due: pnpm eslint --fix, pnpm prettier --write

chore: rerun pnpm install, dedupe
  .github/workflows/ci.yml
  integration/presets/tanstack.ts
  integration/templates/index.ts
  integration/templates/tanstack-router/package.json
  pnpm-lock.yaml
Due: pnpm eslint --fix, pnpm prettier --write

fix button variants in UP
  packages/clerk-js/src/ui/components/PricingTable/PlanCard.tsx
Due: pnpm eslint --fix, pnpm prettier --write

fix test ids
  integration/presets/longRunningApps.ts
  integration/presets/tanstack.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix missing directory
  integration/templates/tanstack-react-router/.gitignore
  integration/templates/tanstack-react-router/README.md
  integration/templates/tanstack-react-router/index.html
  integration/templates/tanstack-react-router/package.json
  integration/templates/tanstack-react-router/src/main.tsx
  integration/templates/tanstack-react-router/src/posts.tsx
  integration/templates/tanstack-react-router/src/routeTree.gen.ts
  integration/templates/tanstack-react-router/src/routes/__root.tsx
  integration/templates/tanstack-react-router/src/routes/_layout.tsx
  integration/templates/tanstack-react-router/src/routes/index.tsx
  integration/templates/tanstack-react-router/src/routes/sign-in.tsx
  integration/templates/tanstack-react-router/tsconfig.dev.json
  integration/templates/tanstack-react-router/tsconfig.json
  integration/templates/tanstack-react-router/vite.config.js
Due: pnpm eslint --fix, pnpm prettier --write

bump bundlewatch sizes, pin stripe package versions
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/package.json
  pnpm-lock.yaml
Due: pnpm prettier --write

pnpm dedupe
  pnpm-lock.yaml
Due: none

chore: update changeset
  .changeset/cuddly-cups-sip.md
Due: pnpm prettier --write

another bundlewatch bump
  packages/clerk-js/bundlewatch.config.json
Due: pnpm prettier --write

linter fix
  packages/clerk-js/src/ui/components/PricingTable/PlanCard.tsx
Due: pnpm eslint --fix, pnpm prettier --write

remove unused prop
  packages/clerk-js/src/ui/components/Checkout/CheckoutComplete.tsx
Due: pnpm eslint --fix, pnpm prettier --write

chore(clerk-js): Bump floating-ui packages to latest
  packages/clerk-js/package.json
  pnpm-lock.yaml
Due: pnpm prettier --write

add changeset
  .changeset/neat-hotels-brush.md
Due: pnpm prettier --write

dedupe
  pnpm-lock.yaml
Due: none

chore: Add tanstack start to ignored packages
  .changeset/config.json
Due: pnpm prettier --write

fix type issues
  packages/clerk-js/src/ui/elements/Popover.tsx
  packages/clerk-js/src/ui/hooks/usePopover.ts
Due: pnpm eslint --fix, pnpm prettier --write

Update bundlewatch.config.json
  packages/clerk-js/bundlewatch.config.json
Due: pnpm prettier --write

update floating-ui
  packages/clerk-js/package.json
  packages/clerk-js/src/ui/elements/Popover.tsx
  packages/clerk-js/src/ui/hooks/usePopover.ts
  pnpm-lock.yaml
Due: pnpm eslint --fix, pnpm prettier --write

fix
  packages/clerk-js/src/ui/elements/Modal.tsx
  packages/clerk-js/src/ui/elements/Popover.tsx
Due: pnpm eslint --fix, pnpm prettier --write

Update `setActive` to handle `pending` session status
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/common/withRedirect.tsx
  packages/types/src/clerk.ts
Due: pnpm eslint --fix, pnpm prettier --write

Handle internal component navigation
  integration/tests/session-tasks-sign-in.test.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/events.ts
  packages/clerk-js/src/core/resources/Session.ts
  packages/clerk-js/src/core/resources/SessionTask.ts
  packages/clerk-js/src/core/warnings.ts
  packages/clerk-js/src/ui/common/withRedirect.tsx
  packages/clerk-js/src/ui/components/SessionTask/SessionTask.tsx
  packages/clerk-js/src/ui/components/SessionTask/index.ts
  packages/clerk-js/src/ui/components/SignIn/SignIn.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUp.tsx
  packages/clerk-js/src/ui/contexts/components/SignIn.ts
  packages/clerk-js/src/ui/contexts/components/SignUp.ts
  packages/clerk-js/src/ui/hooks/useNavigateOnEvent.ts
  packages/clerk-js/src/utils/componentGuards.ts
  packages/types/src/clerk.ts
  packages/types/src/json.ts
  packages/types/src/session.ts
  packages/types/src/snapshots.ts
Due: pnpm eslint --fix, pnpm prettier --write

Add first draft of integration tests
  integration/.keys.json.sample
  integration/presets/envs.ts
  integration/presets/longRunningApps.ts
  integration/tests/session-tasks-sign-in.test.ts
Due: pnpm eslint --fix, pnpm prettier --write

Introduce test coverage
  .changeset/brave-pears-add.md
  integration/tests/session-tasks-sign-up.test.ts
  packages/clerk-js/src/core/__tests__/clerk.test.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/events.ts
  packages/clerk-js/src/core/resources/Session.ts
  packages/clerk-js/src/core/resources/SessionTask.ts
  packages/clerk-js/src/core/sessionTasks.ts
  packages/clerk-js/src/core/warnings.ts
  packages/clerk-js/src/ui/common/redirects.ts
  packages/clerk-js/src/ui/common/withRedirect.tsx
  packages/clerk-js/src/ui/components/SessionTask/SessionTask.tsx
  packages/clerk-js/src/ui/components/SignIn/SignIn.tsx
  packages/clerk-js/src/ui/components/SignIn/lazy-sign-up.ts
  packages/clerk-js/src/ui/components/SignUp/SignUp.tsx
  packages/clerk-js/src/ui/contexts/components/SignIn.ts
  packages/clerk-js/src/ui/contexts/components/SignUp.ts
  packages/clerk-js/src/ui/hooks/useNavigateOnEvent.ts
  packages/clerk-js/src/utils/componentGuards.ts
  packages/react/src/isomorphicClerk.ts
  packages/types/src/clerk.ts
  packages/types/src/json.ts
  packages/types/src/session.ts
  packages/types/src/snapshots.ts
Due: pnpm eslint --fix, pnpm prettier --write

add new lovable preview domain to pop-up list
  packages/clerk-js/src/ui/components/SignIn/SignInSocialButtons.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpSocialButtons.tsx
Due: pnpm eslint --fix, pnpm prettier --write

Introduce experimental prop for lazy loading routes
  integration/templates/next-app-router/src/app/layout.tsx
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/sessionTasks.ts
  packages/clerk-js/src/ui/components/SignIn/SignIn.tsx
  packages/clerk-js/src/ui/components/SignIn/lazy-sign-up.ts
  packages/clerk-js/src/ui/components/SignUp/SignUp.tsx
  packages/clerk-js/src/ui/contexts/components/SignIn.ts
  packages/clerk-js/src/ui/contexts/components/SignUp.ts
  packages/clerk-js/src/ui/lazyModules/components.ts
  packages/types/src/clerk.ts
Due: pnpm eslint --fix, pnpm prettier --write

Path conditions:
  pnpm eslint --fix: any of: *.{mjs,js,jsx,ts,tsx,vue}
  pnpm prettier --write: (any of: *.{mjs,js,jsx,ts,tsx,vue}) or (any of: *.{json,md,mdx})
