Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{mjs,js,jsx,ts,tsx}": ["npx eslint --fix", "npx prettier --write"],
  "*.{json,md,mdx}": ["npx prettier --write"]
}

feat(localizations): Added Mongolian language
  packages/localizations/src/mn-MN.ts
  packages/localizations/src/utils/generate.ts
Due: npx eslint --fix, npx prettier --write

fix(localizations): fix Mongolian language
  packages/localizations/package.json
  packages/localizations/subpaths.mjs
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Improve checks for passkey logic in SignInStart (#3019)
  .changeset/little-spoons-guess.md
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
Due: npx eslint --fix, npx prettier --write

chore(elements): Bump version
  .changeset/lovely-pears-eat.md
  package-lock.json
  packages/elements/package.json
Due: npx prettier --write

chore(clerk-js): Improve error handling in retrieval of passkeys
  packages/clerk-js/src/core/errors.ts
  packages/clerk-js/src/core/resources/SignIn.ts
  packages/clerk-js/src/ui/components/SignIn/shared.ts
  packages/clerk-js/src/utils/passkeys.ts
  packages/localizations/src/en-US.ts
  packages/types/src/localization.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Add changeset
  .changeset/eight-buttons-wink.md
Due: npx prettier --write

chore(): Add changeset
  .changeset/bright-bats-marry.md
Due: npx prettier --write

fix(elements): Convert steps into enum
  packages/elements/src/react/sign-in/step.tsx
  packages/elements/src/react/sign-up/step.tsx
Due: npx eslint --fix, npx prettier --write

feat(elements): Move loading into common
  packages/elements/src/react/common/index.ts
  packages/elements/src/react/common/loading.tsx
  packages/elements/src/react/hooks/use-loading.hook.ts
  packages/elements/src/react/sign-in/index.ts
  packages/elements/src/react/sign-in/loading.tsx
  packages/elements/src/react/sign-up/index.ts
  packages/elements/src/react/sign-up/loading.tsx
Due: npx eslint --fix, npx prettier --write

chore(elements): Update examples
  packages/elements/examples/nextjs/app/sign-in/[[...sign-in]]/page.tsx
  packages/elements/examples/nextjs/app/sign-up/[[...sign-up]]/page.tsx
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Improve error handling in creation of passkeys
  packages/clerk-js/src/core/errors.ts
  packages/clerk-js/src/core/resources/Passkey.ts
  packages/clerk-js/src/core/resources/SignIn.ts
  packages/clerk-js/src/utils/passkeys.ts
  packages/localizations/src/en-US.ts
  packages/types/src/localization.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Update usage
  packages/clerk-js/src/ui/components/SignIn/shared.ts
Due: npx eslint --fix, npx prettier --write

fix(localizations): Add missing es-ES translations (#3020)
  .changeset/bright-bats-marry.md
  packages/localizations/src/es-ES.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Format
  packages/localizations/src/es-ES.ts
Due: npx eslint --fix, npx prettier --write

test(e2e): Updated sign in flow & added some more test utilities
  integration/testUtils/appPageObject.ts
  integration/testUtils/commonPageObject.ts
  integration/testUtils/signInPageObject.ts
  integration/testUtils/usersService.ts
  integration/tests/email-code.test.ts
  integration/tests/sign-in-flow.test.ts
  integration/tests/sign-in-smoke.test.ts
Due: npx eslint --fix, npx prettier --write

test(e2e): Added more user options for creating a fake user & updated tests
  integration/testUtils/signInPageObject.ts
  integration/testUtils/usersService.ts
  integration/tests/navigation.test.ts
  integration/tests/sign-in-flow.test.ts
  integration/tests/user-profile.test.ts
Due: npx eslint --fix, npx prettier --write

test(e2e): Added more tests
  integration/tests/sign-in-flow.test.ts
Due: npx eslint --fix, npx prettier --write

test(e2e): Added more tests and utils for sign in flow
  integration/testUtils/commonPageObject.ts
  integration/testUtils/signInPageObject.ts
  integration/tests/sign-in-flow.test.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Add Changeset
  .changeset/mean-ghosts-develop.md
Due: npx prettier --write

test(e2e): Update test name in sign in flow suite
  integration/tests/sign-in-flow.test.ts
Due: npx eslint --fix, npx prettier --write

test(e2e): Fix can\'t sign in with wrong password test
  integration/tests/sign-in-flow.test.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Revert passkey as preferred strategy for sign in
  .changeset/tough-rings-rest.md
  packages/clerk-js/src/ui/common/constants.ts
  packages/clerk-js/src/ui/components/SignIn/utils.ts
  packages/types/src/displayConfig.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Fix typos
  packages/clerk-js/src/core/errors.ts
  packages/clerk-js/src/core/resources/Passkey.ts
  packages/localizations/src/en-US.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Revert passkey as preferred strategy for sign in (#3028)
  .changeset/tough-rings-rest.md
  packages/clerk-js/src/ui/common/constants.ts
  packages/clerk-js/src/ui/components/SignIn/utils.ts
  packages/types/src/displayConfig.ts
Due: npx eslint --fix, npx prettier --write

fix(elements): Improve OTP selection interaction
  package-lock.json
  packages/elements/examples/nextjs/app/otp-playground/page.tsx
  packages/elements/src/react/common/form/otp.tsx
  packages/elements/src/react/sign-in/root.tsx
Due: npx eslint --fix, npx prettier --write

Update packages/elements/src/react/sign-in/root.tsx
  packages/elements/src/react/sign-in/root.tsx
Due: npx eslint --fix, npx prettier --write

chore(repo): Add changeset
  .changeset/two-buckets-explain.md
Due: npx prettier --write

feat(elements): Add hovered state to OTP segments
  packages/elements/examples/nextjs/app/otp-playground/page.tsx
  packages/elements/src/react/common/form/otp.tsx
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Navigation to second factor when visiting from SignInStart
  .changeset/tricky-frogs-fail.md
  packages/clerk-js/src/ui/components/SignIn/SignInFactorOnePasskey.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/components/SignIn/shared.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Navigation to second factor when visiting from SignInStart (#3029)
  .changeset/tricky-frogs-fail.md
  packages/clerk-js/src/ui/components/SignIn/SignInFactorOnePasskey.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/components/SignIn/shared.ts
Due: npx eslint --fix, npx prettier --write

feat(elements): Move <Loading> component to /common subpath (#3026)
  .changeset/lovely-pears-eat.md
  package-lock.json
  packages/elements/examples/nextjs/app/sign-in/[[...sign-in]]/page.tsx
  packages/elements/examples/nextjs/app/sign-up/[[...sign-up]]/page.tsx
  packages/elements/package.json
  packages/elements/src/react/common/index.ts
  packages/elements/src/react/common/loading.tsx
  packages/elements/src/react/hooks/use-loading.hook.ts
  packages/elements/src/react/sign-in/index.ts
  packages/elements/src/react/sign-in/loading.tsx
  packages/elements/src/react/sign-in/step.tsx
  packages/elements/src/react/sign-up/index.ts
  packages/elements/src/react/sign-up/loading.tsx
  packages/elements/src/react/sign-up/step.tsx
Due: npx eslint --fix, npx prettier --write

chore(e2e): Fix tests that break on webkit
  integration/tests/next-middleware.test.ts
  integration/tests/sign-in-smoke.test.ts
  package.json
Due: npx eslint --fix, npx prettier --write

chore(e2e): Clear Action cache
  .github/actions/init/action.yml
Due: none

chore(e2e): Publish on `e2e` tag for tests
  .github/workflows/ci.yml
  .github/workflows/nightly-checks.yml
Due: none

chore(e2e): Exit pre mode to release on verdaccio
  .github/workflows/ci.yml
Due: none

test(e2e): Add fallback to npmjs when Verdaccio cannot find a package
  verdaccio.install.yaml
  verdaccio.yaml
Due: none

chore(e2e): Init the webkit browser
  .github/actions/init/action.yml
Due: none

fix(shared): Fix issue when clearing the hash DB JWT in Webkit
  .changeset/chilled-apples-exercise.md
  packages/shared/src/devBrowser.ts
Due: npx eslint --fix, npx prettier --write

test(e2e): Add tests for Account Portal flows with both clerk v4 and v5
  .changeset/fuzzy-months-join.md
  .github/workflows/ci.yml
  integration/presets/envs.ts
  integration/presets/next.ts
  integration/templates/next-app-router-quickstart/src/app/page.tsx
  integration/tests/next-account-portal/clerk-v4-ap-core-1.test.ts
  integration/tests/next-account-portal/clerk-v4-ap-core-2.test.ts
  integration/tests/next-account-portal/clerk-v5-ap-core-1.test.ts
  integration/tests/next-account-portal/clerk-v5-ap-core-2.test.ts
  integration/tests/next-account-portal/common.ts
  package.json
Due: npx eslint --fix, npx prettier --write
