Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{mjs,js,jsx,ts,tsx}": ["npx eslint --fix", "npx prettier --write"],
  "*.{json,md,mdx}": ["npx prettier --write"]
}

feat(astro): Add CSR support (#3911)
  .changeset/proud-horses-smell.md
  integration/presets/astro.ts
  integration/presets/longRunningApps.ts
  integration/templates/astro-hybrid/.gitignore
  integration/templates/astro-hybrid/astro.config.mjs
  integration/templates/astro-hybrid/package.json
  integration/templates/astro-hybrid/public/favicon.svg
  integration/templates/astro-hybrid/src/layouts/Layout.astro
  integration/templates/astro-hybrid/src/middleware.ts
  integration/templates/astro-hybrid/src/pages/index.astro
  integration/templates/astro-hybrid/src/pages/only-admins.astro
  integration/templates/astro-hybrid/src/pages/only-members.astro
  integration/templates/astro-hybrid/src/pages/ssr.astro
  integration/templates/astro-hybrid/tsconfig.json
  integration/templates/index.ts
  integration/tests/astro/hybrid.test.ts
  packages/astro/.eslintrc.cjs
  packages/astro/bundled/package.json
  packages/astro/package.json
  packages/astro/src/astro-components/control/BaseClerkControlElement.ts
  packages/astro/src/astro-components/control/Protect.astro
  packages/astro/src/astro-components/control/ProtectCSR.astro
  packages/astro/src/astro-components/control/ProtectSSR.astro
  packages/astro/src/astro-components/control/SignedIn.astro
  packages/astro/src/astro-components/control/SignedInCSR.astro
  packages/astro/src/astro-components/control/SignedInSSR.astro
  packages/astro/src/astro-components/control/SignedOut.astro
  packages/astro/src/astro-components/control/SignedOutCSR.astro
  packages/astro/src/astro-components/control/SignedOutSSR.astro
  packages/astro/src/env.d.ts
  packages/astro/src/integration/create-integration.ts
  packages/astro/src/integration/vite-plugin-astro-config.ts
  packages/astro/src/react/controlComponents.tsx
  packages/astro/src/stores/external.ts
  packages/astro/src/stores/utils.ts
  packages/astro/src/types.ts
  packages/astro/tsconfig.json
Due: npx eslint --fix, npx prettier --write

chore(localizations): Update Turkish localization according to the latest en-US (#3997)
  .changeset/witty-pants-repair.md
  packages/localizations/src/tr-TR.ts
Due: npx eslint --fix, npx prettier --write

Fix formatting
  packages/clerk-js/src/core/auth/AuthCookieService.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Update MFA second factor default UI logic
  packages/clerk-js/src/ui/components/UserProfile/MfaSection.tsx
Due: npx eslint --fix, npx prettier --write

chore(build): Update turborepo
  .changeset/fast-moons-film.md
  package-lock.json
  package.json
  packages/elements/turbo.json
Due: npx prettier --write

ci(repo): Version packages (#3990)
  .changeset/big-trains-beg.md
  .changeset/few-teachers-brake.md
  .changeset/plenty-news-visit.md
  .changeset/pretty-peas-search.md
  .changeset/proud-horses-smell.md
  .changeset/sour-bulldogs-explode.md
  .changeset/tricky-suits-tease.md
  .changeset/witty-pants-repair.md
  package-lock.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
Due: npx prettier --write

add changeset
  .changeset/three-feet-nail.md
Due: npx prettier --write

fix(clerk-js): Fallback to window location for modal sign in/up flows
  packages/clerk-js/src/core/clerk.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Update turborepo (#4002)
  .changeset/fast-moons-film.md
  package-lock.json
  package.json
  packages/elements/turbo.json
Due: npx prettier --write

use fallbackRedirectUrl
  packages/clerk-js/src/core/clerk.ts
Due: npx eslint --fix, npx prettier --write

Cleanup test output with some polyfills and test tweaks
  packages/clerk-js/jest.setup.ts
  packages/clerk-js/src/ui/components/SignIn/__tests__/SignInStart.test.tsx
  packages/clerk-js/src/ui/components/SignUp/__tests__/SignUpStart.test.tsx
  packages/clerk-js/src/ui/elements/SocialButtons.tsx
Due: npx eslint --fix, npx prettier --write

adds changeset
  .changeset/lemon-rocks-dress.md
Due: npx prettier --write

resolve lint errors
  packages/clerk-js/src/ui/components/SignIn/__tests__/SignInStart.test.tsx
  packages/clerk-js/src/ui/components/SignUp/__tests__/SignUpStart.test.tsx
Due: npx eslint --fix, npx prettier --write

remove focused test
  packages/clerk-js/src/ui/components/SignUp/__tests__/SignUpStart.test.tsx
Due: npx eslint --fix, npx prettier --write

feat(testing): Introduce helpers for Playwright
  .changeset/chilly-seas-boil.md
  packages/testing/src/common/constants.ts
  packages/testing/src/common/helpers-utils.ts
  packages/testing/src/common/index.ts
  packages/testing/src/common/types.ts
  packages/testing/src/cypress/custom-commands.ts
  packages/testing/src/playwright/helpers.ts
  packages/testing/src/playwright/index.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Update MFA second factor default UI logic (#4003)
  .changeset/three-feet-nail.md
  packages/clerk-js/src/ui/components/UserProfile/MfaSection.tsx
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Cleanup test output (#4005)
  .changeset/lemon-rocks-dress.md
  packages/clerk-js/jest.setup.ts
  packages/clerk-js/src/ui/components/SignIn/__tests__/SignInStart.test.tsx
  packages/clerk-js/src/ui/components/SignUp/__tests__/SignUpStart.test.tsx
  packages/clerk-js/src/ui/elements/SocialButtons.tsx
Due: npx eslint --fix, npx prettier --write

chore(astro): Remove extra character
  packages/astro/src/astro-components/control/SignedOut.astro
Due: none

fix(astro): Notify clerk instance changes on load
  packages/astro/src/internal/create-clerk-instance.ts
Due: npx eslint --fix, npx prettier --write

Fix import
  packages/testing/src/playwright/helpers.ts
Due: npx eslint --fix, npx prettier --write

chore(types): Mark fallbackRedirectUrls as deprecated
  packages/types/src/redirects.ts
Due: npx eslint --fix, npx prettier --write

revert changes
  packages/clerk-js/src/core/clerk.ts
Due: npx eslint --fix, npx prettier --write

chore(astro): Add changeset
  .changeset/friendly-waves-cheat.md
Due: npx prettier --write

feat(ui): Improve type checking for buildTheme
  packages/ui/src/primitives/alert.tsx
  packages/ui/src/themes/buildTheme.ts
  packages/ui/src/themes/full.ts
Due: npx eslint --fix, npx prettier --write

Adjust our setup action to rely on setup-node's cache
  .changeset/gorgeous-lizards-give.md
  .github/actions/init/action.yml
Due: npx prettier --write

fix(astro): Remove extra character and improve Clerk nanostore (#4008)
  .changeset/friendly-waves-cheat.md
  packages/astro/src/astro-components/control/SignedOut.astro
  packages/astro/src/internal/create-clerk-instance.ts
Due: npx eslint --fix, npx prettier --write

test with verbose
  .github/actions/init/action.yml
Due: none

remove verbose
  .github/actions/init/action.yml
Due: none

fix(repo): Adjust npm cache (#4009)
  .changeset/gorgeous-lizards-give.md
  .github/actions/init/action.yml
Due: npx prettier --write

fix(clerk-js): Use focus event to trigger session touch (#3786)
  .changeset/new-donkeys-sneeze.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/core/__tests__/clerk.test.ts
  packages/clerk-js/src/core/auth/AuthCookieService.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/resources/Session.ts
  packages/clerk-js/src/core/resources/__tests__/Session.test.ts
  packages/clerk-js/src/core/resources/__tests__/__snapshots__/Session.test.ts.snap
  packages/clerk-js/src/core/test/fixtures.ts
  packages/clerk-js/src/ui/utils/test/mockHelpers.ts
  packages/clerk-js/src/utils/pageLifecycle.ts
  packages/types/src/session.ts
Due: npx eslint --fix, npx prettier --write

feat(ui): Add support for theme prop
  packages/ui/src/contexts/AppearanceContext.tsx
Due: npx eslint --fix, npx prettier --write

fix(clerk-react): Handle multiple addListener calls
  packages/react/src/isomorphicClerk.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-react): Revert removed method
  packages/react/src/isomorphicClerk.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-react): Add changeset
  .changeset/itchy-tigers-own.md
Due: npx prettier --write

Pass the whole sign-in helper function inline to resolve serialization issues
  packages/testing/src/playwright/helpers.ts
Due: npx eslint --fix, npx prettier --write

test(clerk-react): Add addListener unit test
  packages/react/src/__tests__/isomorphicClerk.test.ts
  packages/react/src/isomorphicClerk.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-react): Update imports
  packages/react/src/__tests__/isomorphicClerk.test.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Test StepUp
  packages/backend/src/tokens/authObjects.ts
  packages/clerk-js/src/core/resources/User.ts
  packages/nextjs/src/app-router/server/controlComponents.tsx
  packages/react/src/components/controlComponents.tsx
  packages/types/src/jwtv2.ts
  packages/types/src/session.ts
  packages/types/src/user.ts
  playground/app-router/src/app/StepUp.tsx
  playground/app-router/src/app/balance-2fa/button.tsx
  playground/app-router/src/app/balance-2fa/page.tsx
  playground/app-router/src/app/balance-mfa/button.tsx
  playground/app-router/src/app/balance-mfa/page.tsx
  playground/app-router/src/app/balance/page.tsx
  playground/app-router/src/app/globals.css
  playground/app-router/src/common/Links.tsx
Due: npx eslint --fix, npx prettier --write

Disrupt card action with User Verification modal
  packages/clerk-js/src/ui/components/UserProfile/UsernameSection.tsx
  packages/clerk-js/src/ui/elements/Action/ActionTrigger.tsx
Due: npx eslint --fix, npx prettier --write

Throttle loading to avoid flashes and navigate after verification
  packages/clerk-js/src/ui/components/UserVerification/UserVerificationFactorTwo.tsx
  packages/clerk-js/src/ui/components/UserVerification/UserVerificationFactorTwoTOTP.tsx
  packages/clerk-js/src/ui/hooks/useFetch.ts
Due: npx eslint --fix, npx prettier --write
