Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["npx prettier --write", "npx eslint --fix"],
  "*.{json,md,mdx}": ["npx prettier --write"]
}

chore(shared): Add script to shared
  packages/shared/.gitignore
  packages/shared/package.json
  packages/shared/subpaths.mjs
Due: npx prettier --write

fix(shared): Improve expo compat (#1950)
  .changeset/wise-houses-shop.md
  packages/shared/.gitignore
  packages/shared/package.json
  packages/shared/subpaths.mjs
  scripts/subpath-workaround.mjs
Due: npx prettier --write

chore(repo): Version packages (#1952)
  .changeset/wise-houses-shop.md
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
Due: npx prettier --write

ci(repo): Update CI flow; Integrate Turbo caching [SDK-854] (#1934)
  .changeset/blue-lies-drop.md
  .github/actions/init/action.yml
  .github/actions/setup/action.yml
  .github/actions/verdaccio/action.yml
  .github/workflows/base-changeset.yml
  .github/workflows/base-prettier.yml
  .github/workflows/base-registry.yml
  .github/workflows/checks.yml
  .github/workflows/ci.yml
  package-lock.json
  package.json
  turbo.json
  verdaccio.yaml
Due: npx prettier --write

chore(repo): Feature request updates
  .github/ISSUE_TEMPLATE/FEATURE_REQUEST.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
  docs/CONTRIBUTING.md
Due: npx prettier --write

Create hungry-bears-allow.md
  .changeset/hungry-bears-allow.md
Due: npx prettier --write

feat(repo): Add backport script
  .gitignore
  package-lock.json
  package.json
  scripts/.env.example
  scripts/backport.mjs
  turbo.json
Due: npx prettier --write

chore(repo): Add instructions
  docs/PUBLISH.md
Due: npx prettier --write

chore(repo): Fix linting
  .lintstagedrc.json
  scripts/backport.mjs
Due: npx prettier --write

chore(repo): Feature request updates (#1956)
  .github/ISSUE_TEMPLATE/FEATURE_REQUEST.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
  docs/CONTRIBUTING.md
Due: npx prettier --write

Update UserApi.ts to support sha256 hasher (#1941)
  .changeset/hungry-bears-allow.md
  packages/backend/src/api/endpoints/UserApi.ts
Due: npx prettier --write, npx eslint --fix

fix(shared): Improve expo compat (#1950) (#1958)
  .changeset/wise-houses-shop.md
  packages/shared/.gitignore
  packages/shared/package.json
  packages/shared/subpaths.mjs
  scripts/subpath-workaround.mjs
Due: npx prettier --write

fix(nextjs): Deprecate user, session, organization from auth()
  .changeset/three-rings-wash.md
  packages/nextjs/src/server/getAuth.ts
Due: npx prettier --write, npx eslint --fix

fix(nextjs): Drop `user`, `session`, `organization` from `auth()`
  .changeset/thin-phones-drop.md
  packages/nextjs/src/server/getAuth.ts
Due: npx prettier --write, npx eslint --fix

fix(nextjs): Typo in changeset
  .changeset/thin-phones-drop.md
Due: npx prettier --write

fix(clerk-sdk-node): Fix types of ClerkExpressWithAuth/ClerkExpressRequireAuth args (#1939)
  .changeset/tasty-countries-walk.md
  packages/sdk-node/src/clerkClient.ts
Due: npx prettier --write, npx eslint --fix

fix(backend): Support NextJS 14 (#1948)
  .changeset/late-dolphins-peel.md
  packages/backend/src/runtime/browser/fetch.mjs
  packages/backend/src/runtime/index.ts
  packages/backend/src/runtime/node/fetch.js
Due: npx prettier --write, npx eslint --fix

chore(repo): Version packages (#1936)
  .changeset/blue-lies-drop.md
  .changeset/late-dolphins-peel.md
  .changeset/odd-lemons-reply.md
  .changeset/red-monkeys-sing.md
  .changeset/silly-icons-kick.md
  .changeset/slimy-singers-glow.md
  .changeset/tasty-countries-walk.md
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
Due: npx prettier --write

chore(backend,shared): Include clerkTraceId for backend api errors
  .changeset/sour-comics-stare.md
  packages/backend/src/api/factory.test.ts
  packages/backend/src/api/request.ts
  packages/backend/src/util/mockFetch.ts
  packages/shared/src/error.ts
Due: npx prettier --write, npx eslint --fix

feat(clerk-js): Enable avatar shimmer by default
  packages/clerk-js/src/ui/customizables/parseAppearance.ts
Due: npx prettier --write, npx eslint --fix

feat(types): Enable avatar shimmer by default
  packages/types/src/appearance.ts
Due: npx prettier --write, npx eslint --fix

chore(repo): Add Changeset
  .changeset/tough-roses-hunt.md
Due: npx prettier --write

fix(shared): Fix error on post-build script with existing subpath barel directories
  scripts/subpath-workaround.mjs
Due: none

fix(clerk-js): Deconstruct new feedback props to avoid prop polluting
  .changeset/green-spies-leave.md
  packages/clerk-js/src/ui/components/OrganizationProfile/InviteMembersForm.tsx
Due: npx prettier --write, npx eslint --fix

chore(backend,shared): Include clerkTraceId for backend api errors (#1894)
  .changeset/sour-comics-stare.md
  packages/backend/src/api/factory.test.ts
  packages/backend/src/api/request.ts
  packages/backend/src/util/mockFetch.ts
  packages/shared/src/error.ts
Due: npx prettier --write, npx eslint --fix

refactor(clerk-js): Pick the redirection prop using a more intuitive approach
  .changeset/cyan-owls-matter.md
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/contexts/ClerkUIComponentsContext.tsx
  packages/clerk-js/src/utils/__tests__/authPropHelpers.test.ts
  packages/clerk-js/src/utils/authPropHelpers.ts
Due: npx prettier --write, npx eslint --fix

refactor(clerk-js): Refactor pickUrl so we only need to call it once
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/contexts/ClerkUIComponentsContext.tsx
  packages/clerk-js/src/utils/__tests__/authPropHelpers.test.ts
  packages/clerk-js/src/utils/authPropHelpers.ts
Due: npx prettier --write, npx eslint --fix

fix(clerk-js): Deconstruct new feedback props to avoid prop polluting (#1951)
  .changeset/green-spies-leave.md
  packages/clerk-js/src/ui/components/OrganizationProfile/InviteMembersForm.tsx
Due: npx prettier --write, npx eslint --fix

fix(clerk-expo,shared): Bundle shared in expo
  .changeset/bright-pugs-leave.md
  .changeset/fair-cameras-boil.md
  packages/expo/package.json
  packages/expo/tsup.config.ts
  packages/shared/package.json
  packages/shared/subpaths.mjs
Due: npx prettier --write, npx eslint --fix

feat(clerk-js,types): Enable avatar shimmer by default (#1972)
  .changeset/tough-roses-hunt.md
  packages/clerk-js/src/ui/customizables/parseAppearance.ts
  packages/types/src/appearance.ts
Due: npx prettier --write, npx eslint --fix

chore(repo): Run Prettier
  package-lock.json
  packages/react/package.json
Due: npx prettier --write

fix(repo): Add backend dep to integation tests
  integration/package.json
Due: npx prettier --write

chore(repo): Update rules to be more in-line with current expectations
  package-lock.json
  packages/eslint-config-custom/jest.js
  packages/eslint-config-custom/qunit.js
  packages/eslint-config-custom/react.js
  packages/eslint-config-custom/rules/variables.js
  packages/eslint-config-custom/typescript.js
  packages/shared/src/globs.ts
Due: npx prettier --write, npx eslint --fix

chore(repo): Run Prettier
  integration/package.json
  integration/templates/next-app-router/package.json
  integration/templates/react-cra/package.json
  integration/templates/react-vite/package.json
  package.json
  packages/backend/package.json
  packages/chrome-extension/package.json
  packages/clerk-js/package.json
  packages/expo/package.json
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/package.json
  packages/nextjs/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/sdk-node/package.json
  packages/shared/package.json
  packages/themes/package.json
  packages/types/package.json
Due: npx prettier --write

chore(repo): Test without local dependencies
  integration/package.json
Due: npx prettier --write

chore(clerk-js): Temp disable typeof issue
  packages/clerk-js/src/utils/devBrowser.ts
Due: npx prettier --write, npx eslint --fix

fix(*): Rebase formatting issues
  packages/backend/package.json
  packages/chrome-extension/package.json
  packages/clerk-js/package.json
  packages/expo/package.json
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/package.json
  packages/nextjs/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/themes/package.json
  packages/types/package.json
Due: npx prettier --write
