Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{mjs,js,jsx,ts,tsx}": ["npx eslint --fix", "npx prettier --write"],
  "*.{json,md,mdx}": ["npx prettier --write"]
}

fix(clerk-js): Conditianly apply Animated component for <ProfileSection.ItemList/>
  packages/clerk-js/src/ui/elements/Animated.tsx
  packages/clerk-js/src/ui/elements/Section.tsx
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Revert accidental change
  packages/clerk-js/src/ui/components/UserProfile/ActiveDevicesSection.tsx
Due: npx eslint --fix, npx prettier --write

chore(repo): Add Changeset
  .changeset/many-pillows-fold.md
Due: npx prettier --write

fix(upgrade): Remove gatsby from CLI options, major not going out yet
  packages/upgrade/source/constants/sdks.js
Due: npx eslint --fix, npx prettier --write

chore(upgrade): Add note about gatsby, go, ruby sdks to overview
  packages/upgrade/source/guide-generators/core-2/overview/intro.mdx
Due: npx prettier --write

fix(backend): Align types based on FAPI/BAPI structs
  packages/backend/src/api/resources/JSON.ts
Due: npx eslint --fix, npx prettier --write

chore(elements): Bump version
  .changeset/wicked-wasps-retire.md
  packages/elements/package.json
Due: npx prettier --write

Create purple-ligers-wave.md
  .changeset/purple-ligers-wave.md
Due: npx prettier --write

chore(elements): Bump version (#2819)
  .changeset/wicked-wasps-retire.md
  packages/elements/package.json
Due: npx prettier --write

fix(types): Update `docsUrl` for social auth providers (#2817)
  .changeset/purple-ligers-wave.md
  packages/types/src/oauth.ts
Due: npx eslint --fix, npx prettier --write

Create ten-starfishes-study.md
  .changeset/ten-starfishes-study.md
  packages/backend/src/api/resources/ExternalAccount.ts
  packages/backend/src/api/resources/JSON.ts
  packages/backend/src/api/resources/OauthAccessToken.ts
  packages/backend/src/api/resources/Organization.ts
Due: npx eslint --fix, npx prettier --write

fix(backend): Align types based on FAPI/BAPI structs (#2818)
  .changeset/ten-starfishes-study.md
  packages/backend/src/api/resources/ExternalAccount.ts
  packages/backend/src/api/resources/JSON.ts
  packages/backend/src/api/resources/OauthAccessToken.ts
  packages/backend/src/api/resources/Organization.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Removed animation for active devices (#2813)
  .changeset/many-pillows-fold.md
  packages/clerk-js/src/ui/components/UserProfile/ActiveDevicesSection.tsx
  packages/clerk-js/src/ui/elements/Section.tsx
Due: npx eslint --fix, npx prettier --write

chore(repo): Fix cleanup integration script
  integration/cleanup/cleanup.setup.ts
Due: npx eslint --fix, npx prettier --write

chore(elements): WIP
  packages/elements/examples/nextjs/app/sign-in/[[...sign-in]]/page.tsx
  packages/elements/src/react/common/form/index.tsx
  packages/elements/src/react/common/form/otp.tsx
  packages/elements/src/react/hooks/index.ts
  packages/elements/src/react/hooks/use-code-input.hook.ts
  packages/elements/src/react/hooks/use-focus.hook.ts
Due: npx eslint --fix, npx prettier --write

chore(elements): Revert irrelevant changes
  packages/elements/examples/nextjs/app/sign-in/[[...sign-in]]/page.tsx
  packages/elements/examples/nextjs/components/form.tsx
  packages/elements/src/react/common/form/otp.tsx
  packages/elements/src/react/hooks/index.ts
  packages/elements/src/react/hooks/use-code-input.hook.ts
Due: npx eslint --fix, npx prettier --write

chore(elements): Bump version
  .changeset/honest-onions-wink.md
  packages/elements/package.json
  packages/elements/src/react/hooks/use-focus.hook.ts
Due: npx eslint --fix, npx prettier --write

fix(elements): Improve OTP a11y (#2823)
  .changeset/honest-onions-wink.md
  packages/elements/package.json
  packages/elements/src/react/common/form/index.tsx
  packages/elements/src/react/common/form/otp.tsx
  packages/elements/src/react/hooks/index.ts
  packages/elements/src/react/hooks/use-focus.hook.ts
Due: npx eslint --fix, npx prettier --write

feat(elements): Implement Steps
  .changeset/unlucky-bags-peel.md
  packages/elements/examples/nextjs/app/layout.tsx
  packages/elements/examples/nextjs/app/sign-in/[[...sign-in]]/page.tsx
  packages/elements/examples/nextjs/package.json
  packages/elements/examples/nextjs/tailwind.config.ts
  packages/elements/src/react/sign-in/index.ts
  packages/elements/src/react/sign-in/step.tsx
  packages/elements/src/react/sign-in/verifications.tsx
  packages/elements/src/react/sign-up/index.ts
  packages/elements/src/react/sign-up/step.tsx
Due: npx eslint --fix, npx prettier --write

chore(elements): Bump version
  packages/elements/package.json
Due: npx prettier --write

chore(clerk-js): Add changeset
  .changeset/unlucky-emus-bow.md
Due: npx prettier --write

test(clerk-js): Add tests for the sortIdentificationBasedOnVerification utility function
  packages/clerk-js/src/ui/components/UserProfile/__tests__/utils.test.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Align all the translations
  packages/localizations/src/ar-SA.ts
  packages/localizations/src/bg-BG.ts
  packages/localizations/src/cs-CZ.ts
  packages/localizations/src/da-DK.ts
  packages/localizations/src/de-DE.ts
  packages/localizations/src/el-GR.ts
  packages/localizations/src/en-US.ts
  packages/localizations/src/es-ES.ts
  packages/localizations/src/es-MX.ts
  packages/localizations/src/fr-FR.ts
  packages/localizations/src/he-IL.ts
  packages/localizations/src/it-IT.ts
  packages/localizations/src/ja-JP.ts
  packages/localizations/src/ko-KR.ts
  packages/localizations/src/nb-NO.ts
  packages/localizations/src/nl-NL.ts
  packages/localizations/src/pl-PL.ts
  packages/localizations/src/pt-BR.ts
  packages/localizations/src/pt-PT.ts
  packages/localizations/src/ro-RO.ts
  packages/localizations/src/ru-RU.ts
  packages/localizations/src/sk-SK.ts
  packages/localizations/src/sv-SE.ts
  packages/localizations/src/tr-TR.ts
  packages/localizations/src/uk-UA.ts
  packages/localizations/src/vi-VN.ts
  packages/localizations/src/zh-CN.ts
  packages/localizations/src/zh-TW.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Fix tests
  packages/clerk-js/src/ui/components/UserProfile/__tests__/ConnectedAccountsSection.test.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/EmailsSection.test.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/MfaPage.test.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/PhoneSection.test.tsx
Due: npx eslint --fix, npx prettier --write

chore(repo): Remove the links from layout from nextjs playground
  playground/nextjs/pages/_app.tsx
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Fix UserProfile email and phone verification flow UX
  packages/clerk-js/src/ui/common/RemoveResourceForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/EmailForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/EmailsSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/PhoneForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/PhoneSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/VerifyWithCode.tsx
  packages/clerk-js/src/ui/components/UserProfile/VerifyWithLink.tsx
  packages/clerk-js/src/ui/components/UserProfile/utils.ts
  packages/clerk-js/src/ui/elements/CodeControl.tsx
  packages/clerk-js/src/ui/elements/Form.tsx
  packages/clerk-js/src/ui/elements/VerificationLinkCard.tsx
  packages/localizations/src/en-US.ts
  packages/types/src/localization.ts
Due: npx eslint --fix, npx prettier --write

test
  packages/clerk-js/src/ui/common/Wizard.tsx
  packages/clerk-js/src/ui/components/UserProfile/AccountPage.tsx
  packages/clerk-js/src/ui/elements/Action/ActionClosed.tsx
  packages/clerk-js/src/ui/elements/Action/ActionOpen.tsx
  packages/clerk-js/src/ui/elements/Action/ActionRoot.tsx
  packages/clerk-js/src/ui/elements/Action/ActionTrigger.tsx
  packages/clerk-js/src/ui/elements/FadeInOut.tsx
  packages/clerk-js/src/ui/elements/Presence.tsx
  packages/clerk-js/src/ui/elements/Section.tsx
  packages/clerk-js/src/ui/elements/index.ts
  packages/clerk-js/src/ui/styledSystem/animations.ts
Due: npx eslint --fix, npx prettier --write

chore(elements): Clean up old code; Update XState deps
  .changeset/nasty-spies-yawn.md
  package-lock.json
  packages/elements/package.json
  packages/elements/src/internals/machines/sign-in/sign-in.actors.ts
  packages/elements/src/internals/machines/sign-in/sign-in.machine.ts
  packages/elements/src/internals/machines/sign-in/sign-in.types.ts
  packages/elements/src/internals/machines/sign-in/sign-in.utils.ts
  packages/elements/src/internals/machines/sign-up/sign-up.actors.ts
  packages/elements/src/internals/machines/sign-up/sign-up.machine.ts
  packages/elements/src/react/sign-up/context/sign-up.context.ts
Due: npx eslint --fix, npx prettier --write

fix(upgrade): Add the latest changes of retheme project
  .changeset/strange-paws-sparkle.md
  packages/upgrade/source/guide-generators/core-2/retheme/index.js
  packages/upgrade/source/versions/core-2/common/changed-localization-keys.md
  packages/upgrade/source/versions/core-2/common/new-localization-keys.md
  packages/upgrade/source/versions/core-2/common/removed-localization-keys.md
Due: npx eslint --fix, npx prettier --write

chore(repo): Version packages (beta) (#2820)
  .changeset/pre.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/package.json
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Due: npx prettier --write

chore(repo): Fix nightly-checks slack reporter
  .github/workflows/nightly-checks.yml
Due: none

chore(repo): Update with the latest localization changes
  packages/upgrade/source/guide-generators/core-2/retheme/index.js
  packages/upgrade/source/versions/core-2/common/appearance-variables-breaking-changes.md
  packages/upgrade/source/versions/core-2/common/changed-localization-keys.md
  packages/upgrade/source/versions/core-2/common/new-localization-keys.md
  packages/upgrade/source/versions/core-2/common/removed-localization-keys.md
  packages/upgrade/source/versions/core-2/index.js
Due: npx eslint --fix, npx prettier --write

chore(repo): Fix the slashes
  packages/upgrade/source/versions/core-2/common/changed-localization-keys.md
  packages/upgrade/source/versions/core-2/common/removed-localization-keys.md
Due: npx prettier --write

fix(upgrade): Add the latest changes of retheme project (#2805)
  .changeset/strange-paws-sparkle.md
  packages/upgrade/source/guide-generators/core-2/retheme/index.js
  packages/upgrade/source/versions/core-2/common/appearance-variables-breaking-changes.md
  packages/upgrade/source/versions/core-2/common/changed-localization-keys.md
  packages/upgrade/source/versions/core-2/common/new-localization-keys.md
  packages/upgrade/source/versions/core-2/common/removed-localization-keys.md
  packages/upgrade/source/versions/core-2/index.js
Due: npx eslint --fix, npx prettier --write

chore(elements): Fix transfers; Progressive field prep
  .changeset/popular-badgers-shop.md
  packages/elements/examples/nextjs/app/sign-up/[[...sign-up]]/page.tsx
  packages/elements/src/internals/constants/index.ts
  packages/elements/src/internals/machines/sign-in/machines/router.machine.ts
  packages/elements/src/internals/machines/sign-in/machines/start.machine.ts
  packages/elements/src/internals/machines/sign-in/types/router.types.ts
  packages/elements/src/internals/machines/sign-in/types/start.types.ts
  packages/elements/src/internals/machines/sign-up/machines/router.machine.ts
  packages/elements/src/internals/machines/sign-up/machines/start.machine.ts
  packages/elements/src/internals/machines/sign-up/types/router.types.ts
  packages/elements/src/internals/machines/third-party/machine.ts
  packages/elements/src/internals/machines/third-party/types.ts
  packages/elements/src/internals/machines/types/router.types.ts
  packages/elements/src/react/hooks/use-third-party-provider.hook.ts
  packages/elements/src/react/sign-in/social-providers.tsx
  packages/elements/src/react/sign-up/social-providers.tsx
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Align email and phone verification cancel behaviour
  .changeset/eight-geese-hang.md
  packages/clerk-js/src/ui/components/UserProfile/PhoneForm.tsx
Due: npx eslint --fix, npx prettier --write

chore(elements): Clean up old code; Update XState deps (#2827)
  .changeset/nasty-spies-yawn.md
  package-lock.json
  packages/elements/package.json
  packages/elements/src/internals/machines/sign-in/sign-in.actors.ts
  packages/elements/src/internals/machines/sign-in/sign-in.machine.ts
  packages/elements/src/internals/machines/sign-in/sign-in.types.ts
  packages/elements/src/internals/machines/sign-in/sign-in.utils.ts
  packages/elements/src/internals/machines/sign-up/sign-up.actors.ts
  packages/elements/src/internals/machines/sign-up/sign-up.machine.ts
  packages/elements/src/react/sign-up/context/sign-up.context.ts
Due: npx eslint --fix, npx prettier --write

chore(elements): Fix transfers; Progressive field prep (#2828)
  .changeset/popular-badgers-shop.md
  packages/elements/examples/nextjs/app/sign-up/[[...sign-up]]/page.tsx
  packages/elements/src/internals/constants/index.ts
  packages/elements/src/internals/machines/sign-in/machines/router.machine.ts
  packages/elements/src/internals/machines/sign-in/machines/start.machine.ts
  packages/elements/src/internals/machines/sign-in/types/router.types.ts
  packages/elements/src/internals/machines/sign-in/types/start.types.ts
  packages/elements/src/internals/machines/sign-up/machines/router.machine.ts
  packages/elements/src/internals/machines/sign-up/machines/start.machine.ts
  packages/elements/src/internals/machines/sign-up/types/router.types.ts
  packages/elements/src/internals/machines/third-party/machine.ts
  packages/elements/src/internals/machines/third-party/types.ts
  packages/elements/src/internals/machines/types/router.types.ts
  packages/elements/src/react/hooks/use-third-party-provider.hook.ts
  packages/elements/src/react/sign-in/social-providers.tsx
  packages/elements/src/react/sign-up/social-providers.tsx
Due: npx eslint --fix, npx prettier --write
