Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

feat(backend): Determine usage of suffixed / un-suddixed cookies using client_uat / session
  .changeset/calm-readers-call.md
  integration/tests/handshake.test.ts
  packages/backend/src/fixtures/index.ts
  packages/backend/src/tokens/__tests__/authenticateContext.test.ts
  packages/backend/src/tokens/authenticateContext.ts
  packages/backend/src/tokens/cookie.ts
  packages/backend/src/tokens/request.ts
  packages/backend/src/util/shared.ts
  packages/backend/tests/suites.ts
Due: npx eslint --fix, npx prettier --write

fix(shared,backend): Pass subtle as getCookieSuffix arg to support node@18 missing crypto.subtle
  packages/backend/src/tokens/__tests__/authenticateContext.test.ts
  packages/backend/src/tokens/authenticateContext.ts
  packages/shared/src/__tests__/keys.test.ts
  packages/shared/src/keys.ts
Due: npx eslint --fix, npx prettier --write

feat(e2e): Introduce multiple-apps-same-domain e2e tests (#3672)
  .github/workflows/ci.yml
  integration/README.md
  integration/certs/README.md
  integration/constants.ts
  integration/models/application.ts
  integration/models/applicationConfig.ts
  integration/models/environment.ts
  integration/presets/envs.ts
  integration/presets/index.ts
  integration/presets/longRunningApps.ts
  integration/scripts/proxyServer.ts
  integration/testUtils/appPageObject.ts
  integration/testUtils/index.ts
  integration/testUtils/usersService.ts
  integration/tests/appearance.test.ts
  integration/tests/next-account-portal/common.ts
  integration/tests/next-quickstart.test.ts
  integration/tests/non-secure-context.test.ts
  integration/tests/sessions/localhost-different-port-different-instance.test.ts
  integration/tests/sessions/localhost-different-port-same-instance.test.ts
  integration/tests/sessions/localhost-switch-instance.test.ts
  integration/tests/sessions/root-subdomain-prod-instances.test.ts
  integration/tests/sessions/utils.ts
  integration/tests/sign-in-flow.test.ts
  integration/tests/sign-out-smoke.test.ts
  package-lock.json
  package.json
  turbo.json
Due: npx eslint --fix, npx prettier --write

Add test:integration:sessions turbo task
  turbo.json
Due: npx prettier --write

Update .changeset/calm-readers-call.md
  .changeset/calm-readers-call.md
Due: npx prettier --write

Optimize cicd cache and run integration tests
  .github/actions/init/action.yml
  .github/workflows/ci.yml
  integration/playwright.config.ts
  integration/scripts/logger.ts
  integration/scripts/proxyServer.ts
  integration/templates/next-app-router/src/app/api/me/route.ts
  integration/templates/next-app-router/src/middleware.ts
  integration/testUtils/appPageObject.ts
  integration/testUtils/signInPageObject.ts
  integration/tests/sessions/localhost-different-port-different-instance.test.ts
  integration/tests/sessions/localhost-different-port-same-instance.test.ts
  integration/tests/sessions/localhost-switch-instance.test.ts
  integration/tests/sessions/root-subdomain-prod-instances.test.ts
  integration/tests/sessions/utils.ts
  package-lock.json
  package.json
  packages/elements/src/internals/machines/sign-in/verification.machine.ts
  turbo.json
Due: npx eslint --fix, npx prettier --write

fix(integration): Update test to cover the suffixed session cookie
  integration/tests/user-profile.test.ts
Due: npx eslint --fix, npx prettier --write

fix package access
  package-lock.json
  packages/ui/package.json
Due: npx prettier --write

enqueue prefilled fields
  packages/elements/src/internals/machines/sign-up/start.machine.ts
Due: npx eslint --fix, npx prettier --write

Improve the logic for Secure attribute, setting it to false when SameSite is Lax or Strict
  packages/clerk-js/src/core/auth/__tests__/getSecureAttribute.test.ts
  packages/clerk-js/src/core/auth/getSecureAttribute.ts
Due: npx eslint --fix, npx prettier --write

add changeset
  .changeset/rich-needles-admire.md
Due: npx prettier --write

chore(astro): Drop convenience Astro wrappers for React (#3682)
  .changeset/quiet-ways-warn.md
  integration/templates/astro-node/src/pages/index.astro
  integration/templates/astro-node/src/pages/only-admins-react.astro
  integration/templates/astro-node/src/pages/only-members-react.astro
  packages/astro/README.md
  packages/astro/package.json
  packages/astro/src/astro-components/react/OrganizationList.astro
  packages/astro/src/astro-components/react/OrganizationProfile.astro
  packages/astro/src/astro-components/react/OrganizationSwitcher.astro
  packages/astro/src/astro-components/react/Protect.astro
  packages/astro/src/astro-components/react/SignIn.astro
  packages/astro/src/astro-components/react/SignUp.astro
  packages/astro/src/astro-components/react/SignedIn.astro
  packages/astro/src/astro-components/react/SignedOut.astro
  packages/astro/src/astro-components/react/UserButton.astro
  packages/astro/src/astro-components/react/UserProfile.astro
  packages/astro/src/astro-components/react/index.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Set localhost SameSite=None cookies as Secure (#3604)
  .changeset/plenty-pandas-leave.md
  packages/clerk-js/src/core/auth/__tests__/getSecureAttribute.test.ts
  packages/clerk-js/src/core/auth/cookies/clientUat.ts
  packages/clerk-js/src/core/auth/cookies/devBrowser.ts
  packages/clerk-js/src/core/auth/cookies/session.ts
  packages/clerk-js/src/core/auth/getSecureAttribute.ts
  packages/clerk-js/src/utils/runtime.ts
Due: npx eslint --fix, npx prettier --write

revert eslint package change
  package-lock.json
  packages/ui/package.json
Due: npx prettier --write

feat(clerk-dev): Add config command
  packages/dev/src/cli.js
  packages/dev/src/commands/config.js
Due: npx eslint --fix, npx prettier --write

feat(clerk-dev): Merge setup and install steps
  package-lock.json
  packages/dev/README.md
  packages/dev/package.json
  packages/dev/src/cli.js
  packages/dev/src/commands/install.js
  packages/dev/src/commands/setup.js
Due: npx eslint --fix, npx prettier --write

package-lock surgery
  package-lock.json
Due: npx prettier --write

fix(chrome-extension): Clear JWT on init, prior to polling
  .changeset/blue-jokes-hide.md
  packages/chrome-extension/src/singleton.ts
  packages/chrome-extension/src/utils/jwt-handler.ts
Due: npx eslint --fix, npx prettier --write

feat(clerk-dev): Add set-instance command
  packages/dev/README.md
  packages/dev/src/cli.js
  packages/dev/src/commands/set-instance.js
Due: npx eslint --fix, npx prettier --write

docs(clerk-dev): Add config command to README
  packages/dev/README.md
Due: npx prettier --write

docs(clerk-dev): Document --no-js
  packages/dev/README.md
Due: npx prettier --write

Optimize cicd cache and run integration tests
  .github/actions/init/action.yml
Due: none

feat(elements): pre populate signup fields when navigating back to start step (#3685)
  .changeset/rich-needles-admire.md
  package-lock.json
  packages/elements/src/internals/machines/sign-up/start.machine.ts
  packages/ui/package.json
Due: npx eslint --fix, npx prettier --write

add signup identifiers
  packages/elements/src/internals/machines/sign-up/index.ts
  packages/elements/src/internals/machines/sign-up/router.selectors.ts
  packages/elements/src/internals/machines/sign-up/router.types.ts
  packages/elements/src/react/sign-up/identifiers.tsx
  packages/elements/src/react/sign-up/index.ts
  packages/ui/src/components/sign-up/sign-up.tsx
Due: npx eslint --fix, npx prettier --write

test(astro): add Clerk script loader tests
  packages/shared/src/__tests__/loadClerkJsScript.test.ts
Due: npx eslint --fix, npx prettier --write

chore(astro): Use shared script url builder when hotloading script
  packages/astro/src/server/build-clerk-hotload-script.ts
Due: npx eslint --fix, npx prettier --write

chore(astro): Use shared data attribute builder for hotloading
  packages/astro/src/server/build-clerk-hotload-script.ts
Due: npx eslint --fix, npx prettier --write

Optimize cicd cache and run integration tests
  .github/actions/init/action.yml
  integration/presets/envs.ts
  integration/presets/longRunningApps.ts
  integration/tests/astro.test.ts
  integration/tests/dynamic-keys.test.ts
  integration/tests/handshake.test.ts
Due: npx eslint --fix, npx prettier --write

docs(clerk-dev): Add more comments
  packages/dev/src/commands/watch.js
  packages/dev/src/utils/getClerkPackages.js
  packages/dev/src/utils/getConfiguration.js
  packages/dev/src/utils/getDependencies.js
  packages/dev/src/utils/getMonorepoRoot.js
Due: npx eslint --fix, npx prettier --write

feat(clerk-dev): Check if env file exists before writing
  packages/dev/src/commands/setup.js
Due: npx eslint --fix, npx prettier --write

ensure prefilled number is formatted
  packages/ui/src/common/phone-number-field/index.tsx
Due: npx eslint --fix, npx prettier --write

add changeset
  .changeset/plenty-glasses-notice.md
Due: npx prettier --write

revert effect
  packages/ui/src/common/phone-number-field/index.tsx
Due: npx eslint --fix, npx prettier --write

add effect to format number
  packages/ui/src/common/phone-number-field/index.tsx
Due: npx eslint --fix, npx prettier --write

add signin/up buttons to theme-builder homepage
  packages/ui/theme-builder/app/page.tsx
  packages/ui/theme-builder/next.config.mjs
Due: npx eslint --fix, npx prettier --write

add changeset
  .changeset/early-pets-shop.md
Due: npx prettier --write

chore(astro): Use shared clerk-js hotload script
  packages/astro/src/client/index.ts
  packages/astro/src/internal/merge-env-vars-with-params.ts
  packages/astro/src/internal/utils/loadClerkJSScript.ts
  packages/astro/src/internal/utils/versionSelector.ts
  packages/astro/src/server/build-clerk-hotload-script.ts
  packages/astro/src/server/clerk-middleware.ts
Due: npx eslint --fix, npx prettier --write

Path conditions:
  npx eslint --fix: any of: *.{mjs,js,jsx,ts,tsx}
  npx prettier --write: (any of: *.{mjs,js,jsx,ts,tsx}) or (any of: *.{json,md,mdx})
