Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

remove new UI renderer
  packages/clerk-js/jest.setup.ts
  packages/clerk-js/rspack.config.js
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/new/index.tsx
  packages/clerk-js/src/ui/new/renderer.tsx
  packages/clerk-js/src/ui/new/types.ts
  packages/clerk-js/turbo.json
Due: npx eslint --fix, npx prettier --write

Adds changeset
  .changeset/little-rivers-push.md
  packages/clerk-js/src/global.d.ts
Due: npx eslint --fix, npx prettier --write

Removes experimental router option
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

Add option to disable development mode warning
  .changeset/tiny-colts-bake.md
  packages/astro/src/env.d.ts
  packages/astro/src/integration/create-integration.ts
  packages/astro/src/server/get-safe-env.ts
  packages/clerk-js/src/core/clerk.ts
  packages/expo/src/provider/ClerkProvider.tsx
  packages/nextjs/src/utils/mergeNextClerkPropsWithEnv.ts
  packages/react-router/src/client/ReactRouterClerkProvider.tsx
  packages/react-router/src/client/types.ts
  packages/react-router/src/ssr/utils.ts
  packages/react-router/src/utils/env.ts
  packages/remix/src/client/RemixClerkProvider.tsx
  packages/remix/src/client/types.ts
  packages/remix/src/ssr/utils.ts
  packages/tanstack-start/src/client/utils.ts
  packages/tanstack-start/src/server/constants.ts
  packages/tanstack-start/src/utils/env.ts
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Remove new UI renderer (#4950)
  .changeset/little-rivers-push.md
  packages/clerk-js/jest.setup.ts
  packages/clerk-js/rspack.config.js
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/global.d.ts
  packages/clerk-js/src/ui/new/index.tsx
  packages/clerk-js/src/ui/new/renderer.tsx
  packages/clerk-js/src/ui/new/types.ts
  packages/clerk-js/turbo.json
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Remove text shimmer animation from Keyless prompt UI (#4949)
  .changeset/dirty-students-hang.md
  packages/clerk-js/src/ui/components/KeylessPrompt/index.tsx
Due: npx eslint --fix, npx prettier --write

chore(repo): Use npm for snapshot release for compatibility with Core 1
  .changeset/fifty-bottles-drop.md
  .github/workflows/release-snapshot.yml
Due: npx prettier --write

chore(nextjs): Decrease frequency of logs related to Keyless
  packages/nextjs/src/global.d.ts
  packages/nextjs/src/server/keyless-node.ts
Due: npx eslint --fix, npx prettier --write

chore(nextjs): Decrease frequency of logs related to Keyless
  .changeset/eighty-clocks-dance.md
Due: npx prettier --write

chore(clerk-js): Refactor fapiClient to not rely on Clerk instance (#4947)
  .changeset/sour-mugs-nail.md
  packages/clerk-js/jest.config.js
  packages/clerk-js/jest.setup.ts
  packages/clerk-js/src/core/__tests__/fapiClient.test.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/fapiClient.ts
  packages/clerk-js/src/core/resources/__tests__/Session.test.ts
  packages/clerk-js/src/core/resources/__tests__/Token.test.ts
Due: npx eslint --fix, npx prettier --write

initial
  .changeset/tidy-spies-develop.md
  packages/clerk-js/jest.config.js
  packages/clerk-js/src/core/fapiClient.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Use npm for snapshot release for compatibility with Core 1 (#4952)
  .changeset/fifty-bottles-drop.md
  .github/workflows/release-snapshot.yml
Due: npx prettier --write

change the name of the snapshot npm script
  package.json
Due: npx prettier --write

use custom cache
  packages/nextjs/src/global.d.ts
  packages/nextjs/src/server/keyless-node.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Core 1 snapshot fix
  .github/workflows/release-snapshot.yml
Due: none

add empty changeset
  .changeset/short-buckets-matter.md
Due: npx prettier --write

chore(repo): Core 1 snapshot fix (#4955)
  .changeset/short-buckets-matter.md
  .github/workflows/release-snapshot.yml
Due: npx prettier --write

extend from globalThis
  packages/nextjs/src/global.d.ts
Due: npx eslint --fix, npx prettier --write

changeset
  .changeset/green-panthers-act.md
Due: npx prettier --write

prefix types with `__internal_keyless_`
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/Components.tsx
  packages/nextjs/src/app-router/server/ClerkProvider.tsx
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

chore(nextjs): Display keyless prompt until `.clerk/` is removed (#4940)
  .changeset/thin-wolves-camp.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/Components.tsx
  packages/clerk-js/src/ui/components/KeylessPrompt/index.tsx
  packages/nextjs/src/app-router/keyless-actions.ts
  packages/nextjs/src/app-router/server/ClerkProvider.tsx
  packages/nextjs/src/server/keyless-node.ts
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

wip
  packages/nextjs/src/server/keyless-node.ts
Due: npx eslint --fix, npx prettier --write

[Core 1 backport] fix(clerk-js): Improvements on Smart bot protection (#4943)
  .changeset/eighty-tigers-doubt.md
  package.json
  packages/clerk-js/src/ui/components/SignUp/SignUpForm.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpStart.tsx
  packages/clerk-js/src/ui/elements/CaptchaElement.tsx
  packages/clerk-js/src/utils/captcha/turnstile.ts
Due: npx eslint --fix, npx prettier --write

Version Packages - V4 (#4956)
  .changeset/eighty-tigers-doubt.md
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
Due: npx prettier --write

improve code quality, decouple logging with creation
  packages/nextjs/src/app-router/keyless-actions.ts
  packages/nextjs/src/app-router/server/ClerkProvider.tsx
  packages/nextjs/src/server/keyless-node.ts
Due: npx eslint --fix, npx prettier --write

add missing file
  packages/nextjs/src/server/keyless-log-cache.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Use modal types for modal methods (#4931)
  .changeset/gorgeous-suns-cheer.md
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): #4947 follow-up (#4954)
  .changeset/tidy-spies-develop.md
  packages/clerk-js/jest.config.js
  packages/clerk-js/src/core/fapiClient.ts
Due: npx eslint --fix, npx prettier --write

fix(repo): Enforce pnpm@15 and above
  package.json
Due: npx prettier --write

chore(nextjs): Decrease frequency of logs related to Keyless (#4953)
  .changeset/eighty-clocks-dance.md
  packages/nextjs/src/app-router/keyless-actions.ts
  packages/nextjs/src/app-router/server/ClerkProvider.tsx
  packages/nextjs/src/global.d.ts
  packages/nextjs/src/server/keyless-log-cache.ts
  packages/nextjs/src/server/keyless-node.ts
Due: npx eslint --fix, npx prettier --write

hardcoded js version
  packages/nextjs/src/utils/mergeNextClerkPropsWithEnv.ts
Due: npx eslint --fix, npx prettier --write

fix(repo): Enforce pnpm@15 and above (#4957)
  package.json
Due: npx prettier --write

chore(nextjs): Append `return_url` when logging the claimUrl for on Keyless
  .changeset/wet-donuts-tap.md
  packages/nextjs/src/app-router/server/ClerkProvider.tsx
Due: npx eslint --fix, npx prettier --write

Add dashboard link
  .changeset/unlucky-horses-brush.md
  packages/clerk-js/src/ui/components/KeylessPrompt/index.tsx
Due: npx eslint --fix, npx prettier --write

Add different style to the app name
  packages/clerk-js/src/ui/components/KeylessPrompt/index.tsx
Due: npx eslint --fix, npx prettier --write

Update packages/clerk-js/src/ui/components/KeylessPrompt/index.tsx
  packages/clerk-js/src/ui/components/KeylessPrompt/index.tsx
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Add "Go to dashboard" link in Keyless popover (#4959)
  .changeset/unlucky-horses-brush.md
  packages/clerk-js/src/ui/components/KeylessPrompt/index.tsx
Due: npx eslint --fix, npx prettier --write

Update packages/react-router/src/ssr/utils.ts
  packages/react-router/src/ssr/utils.ts
Due: npx eslint --fix, npx prettier --write

update snapshot
  packages/nextjs/src/utils/mergeNextClerkPropsWithEnv.ts
Due: npx eslint --fix, npx prettier --write

Adds to nuxt module
  packages/nuxt/src/module.ts
Due: npx eslint --fix, npx prettier --write

Path conditions:
  npx eslint --fix: any of: *.{mjs,js,jsx,ts,tsx}
  npx prettier --write: (any of: *.{mjs,js,jsx,ts,tsx}) or (any of: *.{json,md,mdx})
