Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{mjs,js,jsx,ts,tsx}": ["npx eslint --fix", "npx prettier --write"],
  "*.{json,md,mdx}": ["npx prettier --write"]
}

fix(clerk-js): Avoid debouncing feedback twice
  .changeset/nice-starfishes-itch.md
  packages/clerk-js/src/ui.retheme/elements/FieldControl.tsx
  packages/clerk-js/src/ui.retheme/primitives/hooks/useFormControl.tsx
  packages/clerk-js/src/ui/elements/FieldControl.tsx
  packages/clerk-js/src/ui/primitives/hooks/useFormControl.tsx
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Avoid debouncing feedback twice (#2219)
  .changeset/nice-starfishes-itch.md
  packages/clerk-js/src/ui.retheme/elements/FieldControl.tsx
  packages/clerk-js/src/ui.retheme/primitives/hooks/useFormControl.tsx
  packages/clerk-js/src/ui/elements/FieldControl.tsx
  packages/clerk-js/src/ui/primitives/hooks/useFormControl.tsx
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Use shadows for card borders and fix PhoneInput zIndices
  .changeset/pink-days-drum.md
  packages/clerk-js/src/ui.retheme/elements/Card.tsx
  packages/clerk-js/src/ui.retheme/elements/PhoneInput/PhoneInput.tsx
Due: npx eslint --fix, npx prettier --write

fix(types): Add NavigationOptions in retheme
  packages/types/src/clerk.retheme.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Apply changes to PathRouter for retheme directory
  .changeset/soft-swans-swim.md
  packages/clerk-js/src/ui.retheme/router/PathRouter.tsx
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Apply changes to PathRouter for retheme directory (#2222)
  .changeset/soft-swans-swim.md
  packages/clerk-js/src/ui.retheme/router/PathRouter.tsx
  packages/types/src/clerk.retheme.ts
Due: npx eslint --fix, npx prettier --write

feat(clerk-js,types): Add routerDebug option in Clerk to log navigation destination urls
  .changeset/sharp-trains-ring.md
  packages/clerk-js/src/core/clerk.test.ts
  packages/clerk-js/src/core/clerk.ts
  packages/types/src/clerk.retheme.ts
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

feat(clerk-js,types): Add routerDebug option in Clerk to log navigation destination urls (#2223)
  .changeset/sharp-trains-ring.md
  packages/clerk-js/src/core/clerk.test.ts
  packages/clerk-js/src/core/clerk.ts
  packages/types/src/clerk.retheme.ts
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Use shadows for card borders and fix PhoneInput zIndices (#2221)
  .changeset/pink-days-drum.md
  packages/clerk-js/src/ui.retheme/elements/Card.tsx
  packages/clerk-js/src/ui.retheme/elements/PhoneInput/PhoneInput.tsx
Due: npx eslint --fix, npx prettier --write

feat(clerk-js): Add new design on TOTP card
  .changeset/violet-birds-scream.md
  packages/clerk-js/src/ui.retheme/elements/CodeControl.tsx
  packages/clerk-js/src/ui.retheme/elements/FieldControl.tsx
  packages/clerk-js/src/ui.retheme/elements/Footer.tsx
  packages/clerk-js/src/ui.retheme/elements/Form.tsx
  packages/clerk-js/src/ui.retheme/elements/Header.tsx
  packages/clerk-js/src/ui.retheme/elements/IdentityPreview.tsx
  packages/clerk-js/src/ui.retheme/elements/VerificationCodeCard.tsx
  packages/clerk-js/src/ui.retheme/foundations/typography.ts
  packages/clerk-js/src/ui.retheme/icons/pencil-edit.svg
  packages/clerk-js/src/ui.retheme/primitives/Button.tsx
  packages/clerk-js/src/ui.retheme/primitives/Heading.tsx
  packages/clerk-js/src/ui.retheme/styledSystem/common.ts
Due: npx eslint --fix, npx prettier --write

chore(nextjs): Exclude test files from the declarations
  packages/nextjs/tsconfig.declarations.json
Due: npx prettier --write

feat(backend): Remove interstitial-related endpoint helpers
  packages/backend/src/api/endpoints/InterstitialApi.ts
  packages/backend/src/api/endpoints/index.ts
  packages/backend/src/api/factory.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-js,clerk-react): Replace useCoreOrganization with useOrganization (#2113)
  packages/clerk-js/src/ui.retheme/components/CreateOrganization/CreateOrganizationForm.tsx
  packages/clerk-js/src/ui.retheme/components/OrganizationList/OrganizationListPage.tsx
  packages/clerk-js/src/ui.retheme/components/OrganizationList/UserInvitationList.tsx
  packages/clerk-js/src/ui.retheme/components/OrganizationList/UserMembershipList.tsx
  packages/clerk-js/src/ui.retheme/components/OrganizationList/UserSuggestionList.tsx
  packages/clerk-js/src/ui.retheme/components/OrganizationList/utils.ts
  packages/clerk-js/src/ui.retheme/components/OrganizationProfile/ActionConfirmationPage.tsx
  packages/clerk-js/src/ui.retheme/components/OrganizationProfile/ActiveMembersList.tsx
  packages/clerk-js/src/ui.retheme/components/OrganizationProfile/AddDomainPage.tsx
  packages/clerk-js/src/ui.retheme/components/OrganizationProfile/DomainList.tsx
  packages/clerk-js/src/ui.retheme/components/OrganizationProfile/InviteMembersForm.tsx
  packages/clerk-js/src/ui.retheme/components/OrganizationProfile/InviteMembersPage.tsx
  packages/clerk-js/src/ui.retheme/components/OrganizationProfile/InvitedMembersList.tsx
  packages/clerk-js/src/ui.retheme/components/OrganizationProfile/MembershipWidget.tsx
  packages/clerk-js/src/ui.retheme/components/OrganizationProfile/OrganizationMembers.tsx
  packages/clerk-js/src/ui.retheme/components/OrganizationProfile/OrganizationProfile.tsx
  packages/clerk-js/src/ui.retheme/components/OrganizationProfile/OrganizationProfileNavbar.tsx
  packages/clerk-js/src/ui.retheme/components/OrganizationProfile/OrganizationSettings.tsx
  packages/clerk-js/src/ui.retheme/components/OrganizationProfile/ProfileSettingsPage.tsx
  packages/clerk-js/src/ui.retheme/components/OrganizationProfile/RemoveDomainPage.tsx
  packages/clerk-js/src/ui.retheme/components/OrganizationProfile/RequestToJoinList.tsx
  packages/clerk-js/src/ui.retheme/components/OrganizationProfile/VerifiedDomainPage.tsx
  packages/clerk-js/src/ui.retheme/components/OrganizationProfile/VerifyDomainPage.tsx
  packages/clerk-js/src/ui.retheme/components/OrganizationSwitcher/OrganizationSwitcherPopover.tsx
  packages/clerk-js/src/ui.retheme/components/OrganizationSwitcher/OrganizationSwitcherTrigger.tsx
  packages/clerk-js/src/ui.retheme/components/OrganizationSwitcher/UserInvitationSuggestionList.tsx
  packages/clerk-js/src/ui.retheme/components/OrganizationSwitcher/UserMembershipList.tsx
  packages/clerk-js/src/ui.retheme/components/OrganizationSwitcher/utils.ts
  packages/clerk-js/src/ui.retheme/contexts/CoreClerkContextWrapper.tsx
  packages/clerk-js/src/ui.retheme/contexts/CoreOrganizationContext.tsx
  packages/clerk-js/src/ui.retheme/contexts/index.ts
  packages/clerk-js/src/ui.retheme/hooks/__tests__/useCoreOrganization.test.tsx
  packages/clerk-js/src/ui.retheme/hooks/__tests__/useCoreOrganizationList.test.tsx
  packages/clerk-js/src/ui.retheme/hooks/useFetchRoles.ts
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useOrganization.ts
  packages/react/src/hooks/useOrganizationList.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-js,clerk-react,shared): Replace useCoreClerk with useClerk
  packages/clerk-js/src/ui.retheme/contexts/ClerkUIComponentsContext.tsx
  packages/clerk-js/src/ui.retheme/contexts/CoreClerkContext.tsx
  packages/clerk-js/src/ui.retheme/contexts/CoreClerkContextWrapper.tsx
  packages/clerk-js/src/ui.retheme/contexts/CoreClientContext.tsx
  packages/clerk-js/src/ui.retheme/contexts/CoreOrganizationContext.tsx
  packages/clerk-js/src/ui.retheme/contexts/CoreSessionContext.tsx
  packages/clerk-js/src/ui.retheme/contexts/CoreUserContext.tsx
  packages/clerk-js/src/ui.retheme/contexts/index.ts
  packages/react/src/contexts/ClerkContextProvider.tsx
  packages/react/src/contexts/ClientContext.tsx
  packages/react/src/contexts/IsomorphicClerkContext.tsx
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useAuth.ts
  packages/react/src/hooks/useClerk.ts
  packages/react/src/hooks/useSignIn.ts
  packages/react/src/hooks/useSignUp.ts
  packages/shared/src/react/hooks/index.ts
  packages/shared/src/react/hooks/useClerk.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Migrate usage of useCoreClerk to useClerk
  packages/clerk-js/src/ui.retheme/common/EmailLinkVerify.tsx
  packages/clerk-js/src/ui.retheme/common/SSOCallback.tsx
  packages/clerk-js/src/ui.retheme/common/withRedirectToHome.tsx
  packages/clerk-js/src/ui.retheme/components/CreateOrganization/CreateOrganizationPage.tsx
  packages/clerk-js/src/ui.retheme/components/ImpersonationFab/ImpersonationFab.tsx
  packages/clerk-js/src/ui.retheme/components/OrganizationList/UserInvitationList.tsx
  packages/clerk-js/src/ui.retheme/components/OrganizationSwitcher/OrganizationSwitcherPopover.tsx
  packages/clerk-js/src/ui.retheme/components/SignIn/SignIn.tsx
  packages/clerk-js/src/ui.retheme/components/SignIn/SignInFactorOneCodeForm.tsx
  packages/clerk-js/src/ui.retheme/components/SignIn/SignInFactorOneEmailLinkCard.tsx
  packages/clerk-js/src/ui.retheme/components/SignIn/SignInFactorOnePasswordCard.tsx
  packages/clerk-js/src/ui.retheme/components/SignIn/SignInFactorTwoBackupCodeCard.tsx
  packages/clerk-js/src/ui.retheme/components/SignIn/SignInFactorTwoCodeForm.tsx
  packages/clerk-js/src/ui.retheme/components/SignIn/SignInSocialButtons.tsx
  packages/clerk-js/src/ui.retheme/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui.retheme/components/SignUp/SignUp.tsx
  packages/clerk-js/src/ui.retheme/components/SignUp/SignUpContinue.tsx
  packages/clerk-js/src/ui.retheme/components/SignUp/SignUpEmailLinkCard.tsx
  packages/clerk-js/src/ui.retheme/components/SignUp/SignUpSocialButtons.tsx
  packages/clerk-js/src/ui.retheme/components/SignUp/SignUpStart.tsx
  packages/clerk-js/src/ui.retheme/components/SignUp/SignUpVerificationCodeForm.tsx
  packages/clerk-js/src/ui.retheme/components/UserButton/useMultisessionActions.tsx
  packages/clerk-js/src/ui.retheme/components/UserProfile/DeletePage.tsx
  packages/clerk-js/src/ui.retheme/elements/PhoneInput/PhoneInput.tsx
  packages/clerk-js/src/ui.retheme/hooks/__tests__/useSupportEmail.test.tsx
  packages/clerk-js/src/ui.retheme/hooks/useSetSessionWithTimeout.ts
  packages/clerk-js/src/ui.retheme/hooks/useSupportEmail.ts
  packages/clerk-js/src/ui.retheme/localization/applyTokensToString.ts
  packages/clerk-js/src/ui.retheme/router/BaseRouter.tsx
  packages/clerk-js/src/ui.retheme/router/PathRouter.tsx
  packages/clerk-js/src/ui.retheme/router/Route.tsx
  packages/clerk-js/src/ui.retheme/router/__tests__/HashRouter.test.tsx
  packages/clerk-js/src/ui.retheme/router/__tests__/PathRouter.test.tsx
  packages/clerk-js/src/ui.retheme/router/__tests__/Switch.test.tsx
  packages/clerk-js/src/ui.retheme/router/__tests__/VirtualRouter.test.tsx
Due: npx eslint --fix, npx prettier --write

fix(repo): Resolve conflicts
  packages/clerk-js/src/ui.retheme/components/OrganizationProfile/OrganizationProfileNavbar.tsx
  packages/clerk-js/src/ui.retheme/components/UserProfile/EnterpriseAccountsSection.tsx
  packages/react/src/contexts/IsomorphicClerkContext.tsx
Due: npx eslint --fix, npx prettier --write

chore(clerk-react): Remove empty file
  packages/react/src/contexts/ClientContext.tsx
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Check against undefined, not falsy
  packages/clerk-js/src/ui.retheme/contexts/CoreSessionContext.tsx
  packages/clerk-js/src/ui/contexts/CoreSessionContext.tsx
Due: npx eslint --fix, npx prettier --write

chore(repo): Version packages (alpha-v5) (#2220)
  .changeset/pre.json
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/package.json
  packages/shared/package.json
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Due: npx prettier --write

fix(clerk-react): Missing methods and properties from IsomorphicClerk
  packages/react/src/isomorphicClerk.ts
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Create UI Retheme Changes Reminder GitHub workflow
  .changeset/many-dragons-carry.md
  .github/workflows/ui-retheme-changes-reminder.yml
Due: npx prettier --write

fix(clerk-react): Fill out missing methods and properties from IsomorphicClerk
  packages/react/src/isomorphicClerk.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Run the workflow only when target branch is main
  .github/workflows/ui-retheme-changes-reminder.yml
Due: none

chore(clerk-js): Change text to inclue `.retheme` files
  .github/workflows/ui-retheme-changes-reminder.yml
Due: none

chore(clerk-js): Create UI Retheme Changes Reminder GitHub workflow (#2225)
  .changeset/many-dragons-carry.md
  .github/workflows/ui-retheme-changes-reminder.yml
Due: npx prettier --write

fix(clerk-react): Fill out missing methods and properties from IsomorphicClerk (#2228)
  packages/react/src/isomorphicClerk.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-react): Align implementation of isSatellite
  packages/react/src/errors.ts
  packages/react/src/isomorphicClerk.ts
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

fix(shared): Add missing `files` entry in `package.json`
  packages/shared/package.json
Due: npx prettier --write

Create heavy-falcons-help.md
  .changeset/heavy-falcons-help.md
Due: npx prettier --write

fix(shared): Add missing entry in `files` of `package.json` (#2229)
  .changeset/heavy-falcons-help.md
  packages/shared/package.json
Due: npx prettier --write

feat(clerk-js): Retheme UserButton UI
  packages/clerk-js/src/ui.retheme/components/UserButton/SessionActions.tsx
  packages/clerk-js/src/ui.retheme/components/UserButton/UserButtonPopover.tsx
  packages/clerk-js/src/ui.retheme/elements/Actions.tsx
  packages/clerk-js/src/ui.retheme/elements/PopoverCard.tsx
  packages/clerk-js/src/ui.retheme/elements/PoweredByClerk.tsx
  packages/clerk-js/src/ui.retheme/elements/PreviewButton.tsx
  packages/clerk-js/src/ui.retheme/elements/UserPreview.tsx
  packages/clerk-js/src/ui.retheme/foundations/sizes.ts
  packages/clerk-js/src/ui.retheme/icons/cog-filled.svg
  packages/clerk-js/src/ui.retheme/icons/index.ts
  packages/clerk-js/src/ui.retheme/icons/signout.svg
  packages/clerk-js/src/ui.retheme/icons/switch-arrow-right.svg
  packages/clerk-js/src/ui.retheme/primitives/Button.tsx
  packages/types/src/appearance.retheme.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Fix types and add changeset
  .changeset/dirty-panthers-begin.md
  packages/types/src/appearance.retheme.ts
Due: npx eslint --fix, npx prettier --write

feat(clerk-js): Add the checkmark avatar icon
  packages/clerk-js/src/ui.retheme/components/UserButton/UserButtonPopover.tsx
  packages/clerk-js/src/ui.retheme/customizables/elementDescriptors.ts
  packages/clerk-js/src/ui.retheme/elements/UserPreview.tsx
  packages/clerk-js/src/ui.retheme/icons/checkmark-filled.svg
  packages/clerk-js/src/ui.retheme/icons/index.ts
  packages/types/src/appearance.retheme.ts
Due: npx eslint --fix, npx prettier --write

refactor(clerk-js): Avoid targeting element descriptors on actions hover
  package-lock.json
  packages/clerk-js/src/ui.retheme/components/UserButton/SessionActions.tsx
  packages/clerk-js/src/ui.retheme/elements/Actions.tsx
  packages/clerk-js/src/ui.retheme/primitives/Button.tsx
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Add descriptors to spinners
  packages/clerk-js/src/ui.retheme/elements/Actions.tsx
  packages/clerk-js/src/ui.retheme/elements/UserPreview.tsx
Due: npx eslint --fix, npx prettier --write

feat(clerk-js): Retheme `<UserButton />` (#2212)
  .changeset/dirty-panthers-begin.md
  package-lock.json
  packages/clerk-js/src/ui.retheme/components/UserButton/SessionActions.tsx
  packages/clerk-js/src/ui.retheme/components/UserButton/UserButtonPopover.tsx
  packages/clerk-js/src/ui.retheme/customizables/elementDescriptors.ts
  packages/clerk-js/src/ui.retheme/elements/Actions.tsx
  packages/clerk-js/src/ui.retheme/elements/PopoverCard.tsx
  packages/clerk-js/src/ui.retheme/elements/PoweredByClerk.tsx
  packages/clerk-js/src/ui.retheme/elements/PreviewButton.tsx
  packages/clerk-js/src/ui.retheme/elements/UserPreview.tsx
  packages/clerk-js/src/ui.retheme/foundations/sizes.ts
  packages/clerk-js/src/ui.retheme/icons/checkmark-filled.svg
  packages/clerk-js/src/ui.retheme/icons/cog-filled.svg
  packages/clerk-js/src/ui.retheme/icons/index.ts
  packages/clerk-js/src/ui.retheme/icons/signout.svg
  packages/clerk-js/src/ui.retheme/icons/switch-arrow-right.svg
  packages/clerk-js/src/ui.retheme/primitives/Button.tsx
  packages/types/src/appearance.retheme.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-expo): Use base-64 package instead of isomorphic from @clerk/shared
  .changeset/curly-parrots-camp.md
  package-lock.json
  packages/expo/package.json
  packages/expo/src/polyfills/base64Polyfill.ts
Due: npx eslint --fix, npx prettier --write
