Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{mjs,js,jsx,ts,tsx}": ["npx eslint --fix", "npx prettier --write"],
  "*.{json,md,mdx}": ["npx prettier --write"]
}

try prefer offline
  integration/presets/astro.ts
Due: npx eslint --fix, npx prettier --write

feat(astro): Introduce Astro SDK
  packages/astro/src/astro-components/control/ClerkLayout.astro
  packages/astro/src/client/hotload.ts
  packages/astro/src/hotload.ts
  packages/astro/src/integration/hotload.ts
  packages/astro/src/internal/hotload.ts
  packages/astro/src/stores/index.ts
  packages/astro/src/v0/clerkClient.ts
  packages/astro/src/v0/constants.ts
  packages/astro/src/v0/index.ts
  packages/astro/v0/package.json
Due: npx eslint --fix, npx prettier --write

chore(astro): Cleanup
  packages/astro/src/astro-components/control/ClerkLayout.astro
  packages/astro/src/client/hotload.ts
Due: npx eslint --fix, npx prettier --write

Revert "debug CI for astro e2e"
  .github/workflows/ci.yml
Due: none

chore(astro): Drop deprecations
  packages/astro/src/stores/index.ts
  packages/astro/src/v0/clerkClient.ts
  packages/astro/src/v0/constants.ts
  packages/astro/src/v0/index.ts
  packages/astro/v0/package.json
Due: npx eslint --fix, npx prettier --write

chore(astro): Make hotloading the default
  packages/astro/src/client/hotload.ts
  packages/astro/src/hotload.ts
  packages/astro/src/integration/hotload.ts
  packages/astro/src/internal/hotload.ts
Due: npx eslint --fix, npx prettier --write

chore(astro): Add user agent and sdk metadata
  packages/astro/src/server/clerk-client.ts
  turbo.json
Due: npx eslint --fix, npx prettier --write

chore(astro): Add telemetry event to clerkMiddleware initialization
  packages/astro/src/server/clerk-middleware.ts
Due: npx eslint --fix, npx prettier --write

chore(astro): Add telemetry event to nanostores usage
  packages/astro/src/stores/external.ts
Due: npx eslint --fix, npx prettier --write

debug CI for astro
  integration/models/longRunningApplication.ts
  integration/presets/astro.ts
  integration/presets/longRunningApps.ts
  integration/templates/astro-node/astro.config.mjs
  integration/templates/astro-node/package.json
Due: npx eslint --fix, npx prettier --write

debug CI for astro with offline versions
  integration/presets/astro.ts
Due: npx eslint --fix, npx prettier --write

WIP: debug CI for astro without offline and without port
  integration/models/longRunningApplication.ts
  integration/presets/astro.ts
  integration/presets/longRunningApps.ts
  integration/templates/astro-node/astro.config.mjs
  integration/templates/astro-node/package.json
Due: npx eslint --fix, npx prettier --write

WIP: debug CI for astro without offline @clerk/astro
  integration/presets/astro.ts
Due: npx eslint --fix, npx prettier --write

ci(repo): Version packages (#3665)
  .changeset/unlucky-knives-kiss.md
  .changeset/yellow-carrots-provide.md
  package-lock.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
Due: npx prettier --write

WIP: debug CI for astro with offline @clerk/astro
  integration/presets/astro.ts
Due: npx eslint --fix, npx prettier --write

chore(astro): update import path for shared telemetry function
  packages/astro/src/stores/external.ts
Due: npx eslint --fix, npx prettier --write

WIP: debug local astro contents
  integration/presets/astro.ts
Due: npx eslint --fix, npx prettier --write

WIP: make sure astro builds again
  .github/workflows/ci.yml
Due: none

WIP: replace astro rebuild with just the postbuild script
  .github/workflows/ci.yml
Due: none

WIP: verify fix
  .github/workflows/ci.yml
Due: none

WIP: drop postbuild and do it manually
  .github/workflows/ci.yml
  packages/astro/package.json
Due: npx prettier --write

add changeset
  .changeset/fast-cars-crash.md
Due: npx prettier --write

WIP: add conditional step for astro
  .github/workflows/ci.yml
  packages/astro/package.json
Due: npx prettier --write

WIP: attempt for fixing generic e2e
  integration/presets/astro.ts
  integration/presets/envs.ts
  integration/presets/longRunningApps.ts
Due: npx eslint --fix, npx prettier --write

WIP: remove force
  .github/workflows/ci.yml
Due: none

add react as devDep
  packages/expo/package.json
Due: npx prettier --write

add changeset
  .changeset/rude-poets-beam.md
Due: npx prettier --write

add package-lock.json
  package-lock.json
Due: npx prettier --write

add clone()
  integration/presets/envs.ts
Due: npx eslint --fix, npx prettier --write

fix(testing): Use `@clerk/backend` package to fetch tokens
  .changeset/honest-days-fetch.md
  package-lock.json
  packages/testing/package.json
  packages/testing/src/common/constants.ts
  packages/testing/src/common/setup.ts
Due: npx eslint --fix, npx prettier --write

remove custom env setup
  integration/presets/envs.ts
  integration/presets/longRunningApps.ts
Due: npx eslint --fix, npx prettier --write

cleanup
  integration/presets/astro.ts
  integration/templates/astro-node/src/assets/Clerk-Purple-Logo.png
  integration/templates/astro-node/src/clerk.d.ts
  integration/templates/astro-node/src/layouts/Layout.astro
  integration/templates/astro-node/src/middleware.ts
Due: npx eslint --fix, npx prettier --write

use correct react version for expo
  package-lock.json
  packages/expo/package.json
Due: npx prettier --write

Pass CLERK_API_URL env to @clerk/backend
  packages/testing/src/common/setup.ts
Due: npx eslint --fix, npx prettier --write

drop react-native-mmkv
  package-lock.json
  packages/expo/package.json
Due: npx prettier --write

fix(testing): Use `@clerk/backend` package to fetch tokens (#3667)
  .changeset/honest-days-fetch.md
  package-lock.json
  packages/testing/package.json
  packages/testing/src/common/constants.ts
  packages/testing/src/common/setup.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Support get/set/remove into both suffixed/un-suffixed cookies
  packages/clerk-js/src/core/auth/AuthCookieService.ts
  packages/clerk-js/src/core/auth/__tests__/devBrowser.test.ts
  packages/clerk-js/src/core/auth/cookies/clientUat.ts
  packages/clerk-js/src/core/auth/cookies/devBrowser.ts
  packages/clerk-js/src/core/auth/cookies/session.ts
  packages/clerk-js/src/core/auth/devBrowser.ts
  packages/clerk-js/src/core/auth/utils.ts
Due: npx eslint --fix, npx prettier --write

chore(backend): Rename assertValidSecretKey file to optionsAssertions
  packages/backend/src/api/request.ts
  packages/backend/src/tokens/request.ts
  packages/backend/src/util/optionsAssertions.ts
Due: npx eslint --fix, npx prettier --write

chore(backend): Enforce publishableKey/frontendApi/instanceType existence in AuthenticateContext
  packages/backend/src/tokens/authenticateContext.ts
  packages/backend/src/tokens/request.ts
Due: npx eslint --fix, npx prettier --write
