Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

fix(clerk-js): Fix Smart Bot Protection in development instances (#4926)
  .changeset/brown-feet-perform.md
  packages/clerk-js/src/utils/captcha/retrieveCaptchaInfo.ts
Due: npx eslint --fix, npx prettier --write

feat(nextjs): Run on keyless until after you dismiss
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/Components.tsx
  packages/clerk-js/src/ui/components/KeylessPrompt/index.tsx
  packages/nextjs/src/app-router/server/ClerkProvider.tsx
  packages/nextjs/src/server/keyless-node.ts
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

Version Packages - V4 (#4927)
  .changeset/brown-feet-perform.md
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
Due: npx prettier --write

Add success state
  packages/clerk-js/src/ui/components/KeylessPrompt/index.tsx
Due: npx eslint --fix, npx prettier --write

chore(repo): Update to Vitest 3.0
  package.json
  packages/backend/package.json
  packages/backend/vitest.config.mts
  packages/expo/package.json
  packages/nextjs/package.json
  packages/nuxt/package.json
  packages/react-router/package.json
  packages/react/package.json
  packages/ui/package.json
  packages/upgrade/package.json
  packages/vue/package.json
  pnpm-lock.yaml
Due: npx prettier --write

Changeset
  .changeset/new-teachers-reflect.md
Due: npx prettier --write

chore(backend): Add default test:watch task
  packages/backend/package.json
Due: npx prettier --write

chore(repo): Dedupe lockfile
  pnpm-lock.yaml
Due: none

feat(nextjs): Run on keyless until after you dismiss 2
  packages/nextjs/src/app-router/server/ClerkProvider.tsx
Due: npx eslint --fix, npx prettier --write

Delete `.clerk/` on dismiss
  packages/clerk-js/src/ui/Components.tsx
  packages/clerk-js/src/ui/components/KeylessPrompt/index.tsx
  packages/nextjs/src/app-router/keyless-actions.ts
  packages/nextjs/src/app-router/server/ClerkProvider.tsx
  packages/nextjs/src/server/keyless-node.ts
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

(from Mery) Add success state
  packages/clerk-js/src/ui/components/KeylessPrompt/index.tsx
Due: npx eslint --fix, npx prettier --write

fire dismiss and reload
  packages/clerk-js/src/ui/components/KeylessPrompt/index.tsx
Due: npx eslint --fix, npx prettier --write

dedupe
  pnpm-lock.yaml
Due: none

chore(repo): Dedupe (post-corepack)
  package.json
Due: npx prettier --write

chore(repo): Add empty changeset
  .changeset/two-icons-begin.md
Due: npx prettier --write

chore(repo): Add Vitest temp output to gitignore
  .gitignore
Due: none

fix(clerk-js): Keyless UI shadows and copy improvement (#4923)
  .changeset/chilled-beds-smash.md
  packages/clerk-js/src/ui/components/KeylessPrompt/index.tsx
Due: npx eslint --fix, npx prettier --write

chore(repo): Update Vitest to 3.0 (#4929)
  .changeset/two-icons-begin.md
  .gitignore
  package.json
  packages/backend/package.json
  packages/backend/vitest.config.mts
  packages/expo/package.json
  packages/nextjs/package.json
  packages/nuxt/package.json
  packages/react-router/package.json
  packages/react/package.json
  packages/ui/package.json
  packages/upgrade/package.json
  packages/vue/package.json
  pnpm-lock.yaml
Due: npx prettier --write

Add fit-content to success state
  packages/clerk-js/src/ui/components/KeylessPrompt/index.tsx
Due: npx eslint --fix, npx prettier --write

wip
  packages/clerk-js/src/ui/components/KeylessPrompt/index.tsx
Due: npx eslint --fix, npx prettier --write

feat(localizations): Complete undefined Thai translations for auth flows & error messages (#4866)
  .changeset/empty-scissors-impress.md
  packages/localizations/src/th-TH.ts
Due: npx eslint --fix, npx prettier --write

fix(repo): Standardize ambient global.d.ts (#4919)
  .changeset/weak-rivers-clean.md
  packages/astro/.gitignore
  packages/astro/src/global.d.ts
  packages/astro/src/globals.d.ts
  packages/chrome-extension/src/global.d.ts
  packages/chrome-extension/src/globals.d.ts
  packages/clerk-js/src/global.d.ts
  packages/clerk-js/src/globals.d.ts
  packages/clerk-js/src/ui/common/BlockButtons.tsx
  packages/clerk-js/src/ui/elements/Select.tsx
  packages/elements/src/types/global.d.ts
  packages/elements/src/types/globals.d.ts
  packages/expo/src/global.d.ts
  packages/expo/src/globals.d.ts
  packages/express/src/global.d.ts
  packages/express/src/globals.d.ts
  packages/express/tsconfig.json
  packages/react-router/src/global.d.ts
  packages/react-router/src/globals.d.ts
  packages/react/src/global.d.ts
  packages/react/src/globals.d.ts
  packages/react/src/isomorphicClerk.ts
  packages/react/tsconfig.test.json
  packages/remix/src/global.d.ts
  packages/remix/src/globals.d.ts
  packages/tanstack-start/src/global.d.ts
  packages/tanstack-start/src/globals.d.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Use modal props for modal methods
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

add changeset
  .changeset/gorgeous-suns-cheer.md
Due: npx prettier --write

Add truncate on user's app name
  packages/clerk-js/src/ui/components/KeylessPrompt/index.tsx
Due: npx eslint --fix, npx prettier --write

Toggle success variable to false
  packages/clerk-js/src/ui/components/KeylessPrompt/index.tsx
Due: npx eslint --fix, npx prettier --write

fix(nextjs): [Keyless] Prevent successful build when keys are not explicitly set
  .changeset/real-kings-help.md
  packages/nextjs/src/app-router/client/ClerkProvider.tsx
  packages/nextjs/src/app-router/client/keyless-cookie-sync.tsx
  packages/nextjs/src/app-router/keyless-actions.ts
  packages/nextjs/src/app-router/server/ClerkProvider.tsx
  packages/nextjs/src/server/clerkMiddleware.ts
  packages/nextjs/src/server/keyless.ts
  packages/nextjs/src/server/utils.ts
  packages/nextjs/src/utils/feature-flags.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Ensure callback is called when adding a phone number
  packages/clerk-js/src/ui/components/UserProfile/MfaPhoneCodeScreen.tsx
Due: npx eslint --fix, npx prettier --write

add changeset
  .changeset/friendly-owls-jump.md
Due: npx prettier --write

fix(clerk-js): Ensure callback is called when adding a MFA phone number (#4934)
  .changeset/friendly-owls-jump.md
  packages/clerk-js/src/ui/components/UserProfile/MfaPhoneCodeScreen.tsx
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Fix layout shift when Smart CAPTCHA executes an interactive challenge (#4924)
  .changeset/tough-suns-sparkle.md
  packages/clerk-js/src/ui/elements/CaptchaElement.tsx
  packages/clerk-js/src/utils/captcha/turnstile.ts
Due: npx eslint --fix, npx prettier --write

fix(nextjs): [Keyless] Prevent successful build when keys are not explicitly set (#4932)
  .changeset/real-kings-help.md
  packages/nextjs/src/app-router/client/ClerkProvider.tsx
  packages/nextjs/src/app-router/client/keyless-cookie-sync.tsx
  packages/nextjs/src/app-router/keyless-actions.ts
  packages/nextjs/src/app-router/server/ClerkProvider.tsx
  packages/nextjs/src/server/clerkMiddleware.ts
  packages/nextjs/src/server/keyless.ts
  packages/nextjs/src/server/utils.ts
  packages/nextjs/src/utils/feature-flags.ts
Due: npx eslint --fix, npx prettier --write

fix(types): Remove experimental prefix from combined title
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/localizations/src/ar-SA.ts
  packages/localizations/src/be-BY.ts
  packages/localizations/src/bg-BG.ts
  packages/localizations/src/cs-CZ.ts
  packages/localizations/src/da-DK.ts
  packages/localizations/src/de-DE.ts
  packages/localizations/src/el-GR.ts
  packages/localizations/src/en-US.ts
  packages/localizations/src/es-ES.ts
  packages/localizations/src/es-MX.ts
  packages/localizations/src/fi-FI.ts
  packages/localizations/src/fr-FR.ts
  packages/localizations/src/he-IL.ts
  packages/localizations/src/hu-HU.ts
  packages/localizations/src/is-IS.ts
  packages/localizations/src/it-IT.ts
  packages/localizations/src/ja-JP.ts
  packages/localizations/src/ko-KR.ts
  packages/localizations/src/mn-MN.ts
  packages/localizations/src/nb-NO.ts
  packages/localizations/src/nl-NL.ts
  packages/localizations/src/pl-PL.ts
  packages/localizations/src/pt-BR.ts
  packages/localizations/src/pt-PT.ts
  packages/localizations/src/ro-RO.ts
  packages/localizations/src/ru-RU.ts
  packages/localizations/src/sk-SK.ts
  packages/localizations/src/sr-RS.ts
  packages/localizations/src/sv-SE.ts
  packages/localizations/src/th-TH.ts
  packages/localizations/src/tr-TR.ts
  packages/localizations/src/uk-UA.ts
  packages/localizations/src/vi-VN.ts
  packages/localizations/src/zh-CN.ts
  packages/localizations/src/zh-TW.ts
  packages/types/src/localization.ts
Due: npx eslint --fix, npx prettier --write

add changeset
  .changeset/popular-trains-end.md
Due: npx prettier --write

fix(types): Remove experimental prefix from combined title (#4935)
  .changeset/popular-trains-end.md
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/localizations/src/ar-SA.ts
  packages/localizations/src/be-BY.ts
  packages/localizations/src/bg-BG.ts
  packages/localizations/src/cs-CZ.ts
  packages/localizations/src/da-DK.ts
  packages/localizations/src/de-DE.ts
  packages/localizations/src/el-GR.ts
  packages/localizations/src/en-US.ts
  packages/localizations/src/es-ES.ts
  packages/localizations/src/es-MX.ts
  packages/localizations/src/fi-FI.ts
  packages/localizations/src/fr-FR.ts
  packages/localizations/src/he-IL.ts
  packages/localizations/src/hu-HU.ts
  packages/localizations/src/is-IS.ts
  packages/localizations/src/it-IT.ts
  packages/localizations/src/ja-JP.ts
  packages/localizations/src/ko-KR.ts
  packages/localizations/src/mn-MN.ts
  packages/localizations/src/nb-NO.ts
  packages/localizations/src/nl-NL.ts
  packages/localizations/src/pl-PL.ts
  packages/localizations/src/pt-BR.ts
  packages/localizations/src/pt-PT.ts
  packages/localizations/src/ro-RO.ts
  packages/localizations/src/ru-RU.ts
  packages/localizations/src/sk-SK.ts
  packages/localizations/src/sr-RS.ts
  packages/localizations/src/sv-SE.ts
  packages/localizations/src/th-TH.ts
  packages/localizations/src/tr-TR.ts
  packages/localizations/src/uk-UA.ts
  packages/localizations/src/vi-VN.ts
  packages/localizations/src/zh-CN.ts
  packages/localizations/src/zh-TW.ts
  packages/types/src/localization.ts
Due: npx eslint --fix, npx prettier --write

pin dep
  package.json
  pnpm-lock.yaml
Due: npx prettier --write

use JS config file
  .eslintignore
  .gitignore
  typedoc.config.mjs
  typedoc.json
Due: npx eslint --fix, npx prettier --write

Apply suggestions from code review
  packages/clerk-js/src/ui/components/KeylessPrompt/index.tsx
Due: npx eslint --fix, npx prettier --write

Path conditions:
  npx eslint --fix: any of: *.{mjs,js,jsx,ts,tsx}
  npx prettier --write: (any of: *.{mjs,js,jsx,ts,tsx}) or (any of: *.{json,md,mdx})
