Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{mjs,js,jsx,ts,tsx}": ["npx eslint --fix", "npx prettier --write"],
  "*.{json,md,mdx}": ["npx prettier --write"]
}

add empty changeset
  .changeset/friendly-rats-occur.md
Due: npx prettier --write

explore a scoped preflight
  packages/ui/src/global.css
  packages/ui/src/tailwind.config.ts
Due: npx eslint --fix, npx prettier --write

make global styles optional
  packages/tailwindcss-transformer/src/index.ts
Due: npx eslint --fix, npx prettier --write

temporarily disable base
  packages/ui/theme-builder/app/globals.css
Due: none

chore(astro): Set default env schema option value to false
  packages/astro/src/integration/create-integration.ts
Due: npx eslint --fix, npx prettier --write

chore(astro): Add changeset
  .changeset/shy-flowers-accept.md
Due: npx prettier --write

Update .changeset/funny-monkeys-brush.md
  .changeset/funny-monkeys-brush.md
Due: npx prettier --write

chore(clerk-js): Remove sessions instead of destroying the client (#3941)
  .changeset/funny-monkeys-brush.md
  integration/presets/envs.ts
  integration/presets/longRunningApps.ts
  integration/templates/next-app-router/src/app/client-id.tsx
  integration/templates/next-app-router/src/app/layout.tsx
  integration/templates/next-app-router/src/app/page.tsx
  integration/templates/react-vite/src/App.tsx
  integration/templates/react-vite/src/client-id.tsx
  integration/templates/react-vite/src/main.tsx
  integration/tests/sign-out-smoke.test.ts
  package.json
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/resources/Client.ts
  packages/types/src/clerk.ts
  packages/types/src/client.ts
Due: npx eslint --fix, npx prettier --write

chore(ci): Skip clerk-js unit tests on node 18
  .github/workflows/ci.yml
Due: none

chore(ci): Skip clerk-js unit tests on node 18
  .changeset/nervous-buses-stare.md
Due: npx prettier --write

update package-lock.json
  package-lock.json
Due: npx prettier --write

update with the reverse logic
  .github/workflows/ci.yml
Due: none

ensure we have bg defined
  packages/ui/src/common/password-field.tsx
  packages/ui/src/common/phone-number-field.tsx
Due: npx eslint --fix, npx prettier --write

feat(backend,types,clerk-js,clerk-react): Add the `fva` sessionClaim (#4061)
  .changeset/eleven-apricots-rest.md
  package-lock.json
  packages/backend/src/tokens/authObjects.ts
  packages/clerk-js/src/core/resources/Session.ts
  packages/clerk-js/src/utils/memoizeStateListenerCallback.ts
  packages/react/src/contexts/AuthContext.ts
  packages/react/src/contexts/ClerkContextProvider.tsx
  packages/react/src/utils/deriveState.ts
  packages/types/src/json.ts
  packages/types/src/jwtv2.ts
  packages/types/src/session.ts
  packages/types/src/ssr.ts
Due: npx eslint --fix, npx prettier --write

feat(elements): Allow for Passkey events in verifications
  .changeset/silent-students-vanish.md
  packages/elements/src/internals/machines/sign-in/router.machine.ts
  packages/elements/src/internals/machines/sign-in/verification.machine.ts
Due: npx eslint --fix, npx prettier --write

chore(elements): Remove commented code
  packages/elements/src/internals/machines/sign-in/verification.machine.ts
Due: npx eslint --fix, npx prettier --write

chore(elements): Fix typing
  packages/elements/src/internals/machines/sign-in/verification.machine.ts
Due: npx eslint --fix, npx prettier --write

fix(ui): Ensure card take up their max available space
  packages/ui/src/components/sign-in/steps/start.tsx
  packages/ui/src/primitives/card.tsx
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Ensure we do not attempt to access event listener in non-browser environments
  packages/astro/src/astro-components/interactive/OrganizationProfile/OrganizationProfile.astro
  packages/astro/src/astro-components/interactive/OrganizationProfile/index.ts
  packages/clerk-js/src/utils/injectedWeb3Providers.ts
  packages/clerk-js/src/utils/web3.ts
Due: npx eslint --fix, npx prettier --write

remove unused files
  packages/astro/src/astro-components/interactive/OrganizationProfile/OrganizationProfile.astro
  packages/astro/src/astro-components/interactive/OrganizationProfile/index.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Add changeset
  .changeset/modern-foxes-run.md
Due: npx prettier --write

chore(clerk-js): Instantiate web3 listeners only once
  packages/clerk-js/src/utils/injectedWeb3Providers.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Instantiate web3 listeners only once
  packages/clerk-js/src/utils/injectedWeb3Providers.ts
  packages/clerk-js/src/utils/web3.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Ensure we do not access `addEventListener` and `dispatchEvent` in non-browser environments (#4095)
  .changeset/modern-foxes-run.md
  packages/clerk-js/src/utils/injectedWeb3Providers.ts
  packages/clerk-js/src/utils/web3.ts
Due: npx eslint --fix, npx prettier --write

feat(astro): Add OrganizationProfile custom pages and links
  packages/astro/src/astro-components/interactive/OrganizationProfile/OrganizationProfile.astro
  packages/astro/src/astro-components/interactive/OrganizationProfile/OrganizationProfileLink.astro
  packages/astro/src/astro-components/interactive/OrganizationProfile/OrganizationProfilePage.astro
  packages/astro/src/astro-components/interactive/OrganizationProfile/ProfileRenderer.astro
  packages/astro/src/astro-components/interactive/OrganizationProfile/index.ts
Due: npx eslint --fix, npx prettier --write

chore(astro): Update component exports
  packages/astro/src/astro-components/index.ts
  packages/astro/src/astro-components/interactive/OrganizationProfile.astro
Due: npx eslint --fix, npx prettier --write

fix guard
  packages/ui/src/utils/fast-deep-merge.ts
Due: npx eslint --fix, npx prettier --write

feat(astro): Add OrganizationProfile custom pages and links inside OrganizationSwitcher
  packages/astro/src/astro-components/index.ts
  packages/astro/src/astro-components/interactive/OrganizationProfile/ProfilePageRenderer.astro
  packages/astro/src/astro-components/interactive/OrganizationSwitcher/OrganizationProfileLink.astro
  packages/astro/src/astro-components/interactive/OrganizationSwitcher/OrganizationProfilePage.astro
  packages/astro/src/astro-components/interactive/OrganizationSwitcher/OrganizationSwitcher.astro
  packages/astro/src/astro-components/interactive/OrganizationSwitcher/ProfilePageRenderer.astro
  packages/astro/src/astro-components/interactive/OrganizationSwitcher/index.ts
Due: npx eslint --fix, npx prettier --write

chore(astro): clean up exports
  packages/astro/src/astro-components/interactive/OrganizationSwitcher/index.ts
Due: npx eslint --fix, npx prettier --write

chore(astro): Ensure custom pages are available before adding new items
  packages/astro/src/astro-components/interactive/OrganizationSwitcher/ProfilePageRenderer.astro
Due: none

chore(astro): Fix reordering keys
  packages/astro/src/astro-components/interactive/OrganizationProfile/OrganizationProfilePage.astro
  packages/astro/src/astro-components/interactive/OrganizationProfile/ProfilePageRenderer.astro
  packages/astro/src/astro-components/interactive/OrganizationProfile/index.ts
  packages/astro/src/astro-components/interactive/OrganizationSwitcher/OrganizationProfilePage.astro
  packages/astro/src/astro-components/interactive/OrganizationSwitcher/OrganizationSwitcher.astro
  packages/astro/src/astro-components/interactive/OrganizationSwitcher/ProfilePageRenderer.astro
Due: npx eslint --fix, npx prettier --write

test(astro): Test custom pages and links for organization profile
  integration/templates/astro-node/src/pages/custom-pages.astro
  integration/templates/astro-node/src/pages/custom-pages/organization-profile.astro
  integration/templates/astro-node/src/pages/custom-pages/user-profile.astro
  integration/tests/astro/components.test.ts
Due: npx eslint --fix, npx prettier --write

chore(astro): Remove unused vars
  integration/tests/astro/components.test.ts
Due: npx eslint --fix, npx prettier --write

chore(astro): Add changeset
  .changeset/swift-stingrays-cough.md
Due: npx prettier --write

chore(astro): Add reusable custom profile page renderer
  packages/astro/src/astro-components/interactive/CustomProfilePageRenderer.astro
  packages/astro/src/astro-components/interactive/OrganizationProfile/OrganizationProfileLink.astro
  packages/astro/src/astro-components/interactive/OrganizationProfile/OrganizationProfilePage.astro
  packages/astro/src/astro-components/interactive/OrganizationProfile/ProfilePageRenderer.astro
  packages/astro/src/astro-components/interactive/OrganizationSwitcher/OrganizationProfileLink.astro
  packages/astro/src/astro-components/interactive/OrganizationSwitcher/OrganizationProfilePage.astro
  packages/astro/src/astro-components/interactive/OrganizationSwitcher/ProfilePageRenderer.astro
  packages/astro/src/astro-components/interactive/UserProfile/ProfileRenderer.astro
  packages/astro/src/astro-components/interactive/UserProfile/UserProfileLink.astro
  packages/astro/src/astro-components/interactive/UserProfile/UserProfilePage.astro
Due: none

amend selector to include direct and child elements
  packages/ui/src/tailwind.config.ts
Due: npx eslint --fix, npx prettier --write

refactor(ui): Scoped CSS Reset (#4075)
  .changeset/friendly-rats-occur.md
  packages/tailwindcss-transformer/src/index.ts
  packages/ui/src/common/password-field.tsx
  packages/ui/src/common/phone-number-field.tsx
  packages/ui/src/global.css
  packages/ui/src/tailwind.config.ts
  packages/ui/tsup.config.ts
Due: npx eslint --fix, npx prettier --write

add jsdocs comments
  packages/react/src/types.ts
  packages/types/src/clerk.ts
  packages/types/src/multiDomain.ts
Due: npx eslint --fix, npx prettier --write
