Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{mjs,js,jsx,ts,tsx}": ["npx eslint --fix", "npx prettier --write"],
  "*.{json,md,mdx}": ["npx prettier --write"]
}

fix(clerk-js): Fix border issue for invitation previews in OrganizationList (#2789)
  .changeset/six-walls-fry.md
  packages/clerk-js/src/ui/components/OrganizationList/shared.tsx
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Move nl-BE localization to a separate file
  packages/localizations/package.json
  packages/localizations/src/index.ts
  packages/localizations/src/nl-BE.ts
  packages/localizations/src/nl-NL.ts
  packages/localizations/subpaths.mjs
Due: npx eslint --fix, npx prettier --write

fix(localizations): Improve the generate script to align and format according to the en-US file
  packages/localizations/package.json
  packages/localizations/src/utils/generate.ts
Due: npx eslint --fix, npx prettier --write

fix(localizations): Remove 2 keys and align all localization files according to en-US
  .changeset/light-chairs-impress.md
  packages/clerk-js/src/ui/elements/CodeControl.tsx
  packages/localizations/src/ar-SA.ts
  packages/localizations/src/cs-CZ.ts
  packages/localizations/src/da-DK.ts
  packages/localizations/src/de-DE.ts
  packages/localizations/src/el-GR.ts
  packages/localizations/src/en-US.ts
  packages/localizations/src/es-ES.ts
  packages/localizations/src/es-MX.ts
  packages/localizations/src/fr-FR.ts
  packages/localizations/src/he-IL.ts
  packages/localizations/src/it-IT.ts
  packages/localizations/src/ja-JP.ts
  packages/localizations/src/ko-KR.ts
  packages/localizations/src/nb-NO.ts
  packages/localizations/src/nl-NL.ts
  packages/localizations/src/pl-PL.ts
  packages/localizations/src/pt-BR.ts
  packages/localizations/src/pt-PT.ts
  packages/localizations/src/ro-RO.ts
  packages/localizations/src/ru-RU.ts
  packages/localizations/src/sk-SK.ts
  packages/localizations/src/sv-SE.ts
  packages/localizations/src/tr-TR.ts
  packages/localizations/src/uk-UA.ts
  packages/localizations/src/vi-VN.ts
  packages/localizations/src/zh-CN.ts
  packages/localizations/src/zh-TW.ts
  packages/types/src/localization.ts
Due: npx eslint --fix, npx prettier --write

fix(localizations): Align the bg-BG localization file
  packages/localizations/src/bg-BG.ts
  packages/localizations/src/utils/generate.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Version packages (beta-v5) (#2663)
  .changeset/pre.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Due: npx prettier --write

chore(elements): Move some deps to peerDeps
  package-lock.json
  packages/elements/package.json
Due: npx prettier --write

chore(repo): Add empty changeset
  .changeset/silent-carpets-jam.md
Due: npx prettier --write

chore(elements): Add as devDep
  package-lock.json
  packages/elements/package.json
Due: npx prettier --write

chore(elements): Fix typo
  packages/elements/package.json
Due: npx prettier --write

chore(elements): Move some deps to peerDeps (#2793)
  .changeset/silent-carpets-jam.md
  package-lock.json
  packages/elements/package.json
Due: npx prettier --write

chore(elements): Revert some stuff to main
  package-lock.json
  packages/elements/examples/nextjs/app/sign-in/[[...sign-in]]/page.tsx
  packages/elements/package.json
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Property naming clenup for usePopover hook
  packages/clerk-js/src/ui/elements/Select.tsx
  packages/clerk-js/src/ui/hooks/usePopover.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Add Changeset
  .changeset/wet-seals-breathe.md
Due: npx prettier --write

fix(clerk-js): Adjust Select popover to match a specified reference element width
  packages/clerk-js/src/ui/elements/Card/CardContent.tsx
  packages/clerk-js/src/ui/elements/Card/CardRoot.tsx
  packages/clerk-js/src/ui/elements/PhoneInput/PhoneInput.tsx
  packages/clerk-js/src/ui/elements/Select.tsx
  packages/clerk-js/src/ui/hooks/usePopover.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Fix border radius for card content
  packages/clerk-js/src/ui/elements/Card/CardContent.tsx
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Remove uneeded border radius from CardFooter
  packages/clerk-js/src/ui/elements/Card/CardFooter.tsx
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Fix clipped phone number picker in SignIn/SignUp
  packages/clerk-js/src/ui/elements/Card/CardContent.tsx
  packages/clerk-js/src/ui/elements/Card/CardFooter.tsx
  packages/clerk-js/src/ui/elements/Card/CardRoot.tsx
Due: npx eslint --fix, npx prettier --write

fix(localizations): Update localizations according to the latest `en-US` (#2792)
  .changeset/light-chairs-impress.md
  packages/clerk-js/src/ui/elements/CodeControl.tsx
  packages/localizations/package.json
  packages/localizations/src/ar-SA.ts
  packages/localizations/src/bg-BG.ts
  packages/localizations/src/cs-CZ.ts
  packages/localizations/src/da-DK.ts
  packages/localizations/src/de-DE.ts
  packages/localizations/src/el-GR.ts
  packages/localizations/src/en-US.ts
  packages/localizations/src/es-ES.ts
  packages/localizations/src/es-MX.ts
  packages/localizations/src/fr-FR.ts
  packages/localizations/src/he-IL.ts
  packages/localizations/src/index.ts
  packages/localizations/src/it-IT.ts
  packages/localizations/src/ja-JP.ts
  packages/localizations/src/ko-KR.ts
  packages/localizations/src/nb-NO.ts
  packages/localizations/src/nl-BE.ts
  packages/localizations/src/nl-NL.ts
  packages/localizations/src/pl-PL.ts
  packages/localizations/src/pt-BR.ts
  packages/localizations/src/pt-PT.ts
  packages/localizations/src/ro-RO.ts
  packages/localizations/src/ru-RU.ts
  packages/localizations/src/sk-SK.ts
  packages/localizations/src/sv-SE.ts
  packages/localizations/src/tr-TR.ts
  packages/localizations/src/uk-UA.ts
  packages/localizations/src/utils/generate.ts
  packages/localizations/src/vi-VN.ts
  packages/localizations/src/zh-CN.ts
  packages/localizations/src/zh-TW.ts
  packages/localizations/subpaths.mjs
  packages/types/src/localization.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Fix clipped phone number picker in SignIn/SignUp (#2785)
  .changeset/wet-seals-breathe.md
  packages/clerk-js/src/ui/elements/PhoneInput/PhoneInput.tsx
  packages/clerk-js/src/ui/elements/Select.tsx
  packages/clerk-js/src/ui/hooks/usePopover.ts
Due: npx eslint --fix, npx prettier --write

feat(clerk-js,types): Added ability to disable the input feedback animations
  packages/clerk-js/src/ui/elements/Animated.tsx
  packages/clerk-js/src/ui/elements/FormControl.tsx
  packages/types/src/appearance.ts
Due: npx eslint --fix, npx prettier --write

feat(clerk-js,types): Added ability to disable animations
  packages/clerk-js/src/ui/customizables/parseAppearance.ts
  packages/clerk-js/src/ui/elements/Animated.tsx
  packages/types/src/appearance.ts
  playground/nextjs/pages/_app.tsx
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Fix collision between variables names
  packages/clerk-js/src/ui/elements/FormControl.tsx
Due: npx eslint --fix, npx prettier --write

chore(repo): Add Changeset
  .changeset/nervous-books-ring.md
Due: npx prettier --write

chore(repo): Add button to enable/disable animations in Next.js playground
  playground/nextjs/pages/_app.tsx
Due: npx eslint --fix, npx prettier --write

feat(upgrade): Finish guide generation, adjust change item organization a bit
  packages/upgrade/source/guide-generators/v5/backend/__output.mdx
  packages/upgrade/source/guide-generators/v5/backend/import-paths.mdx
  packages/upgrade/source/guide-generators/v5/backend/index.js
  packages/upgrade/source/guide-generators/v5/backend/intro.mdx
  packages/upgrade/source/guide-generators/v5/chromeExtension/__output.mdx
  packages/upgrade/source/guide-generators/v5/chromeExtension/index.js
  packages/upgrade/source/guide-generators/v5/chromeExtension/intro.mdx
  packages/upgrade/source/guide-generators/v5/nextjs/index.js
  packages/upgrade/source/guide-generators/v5/node/index.js
  packages/upgrade/source/guide-generators/v5/retheme/index.js
  packages/upgrade/source/guide-generators/v5/shared/pagination-args.mdx
  packages/upgrade/source/guide-generators/v5/shared/pagination-return.mdx
  packages/upgrade/source/versions/v5/backend/constants-import-path-move.md
  packages/upgrade/source/versions/v5/backend/createauthenticaterequest-import-path-move.md
  packages/upgrade/source/versions/v5/backend/createclerkclient-apikey.md
  packages/upgrade/source/versions/v5/backend/createclerkclient-frontendapi.md
  packages/upgrade/source/versions/v5/backend/createisomorphicrequest-import-path-move.md
  packages/upgrade/source/versions/v5/backend/createisomorphicrequest-removed.md
  packages/upgrade/source/versions/v5/backend/decodeJwt-import-path-move.md
  packages/upgrade/source/versions/v5/backend/externalaccount-picture.md
  packages/upgrade/source/versions/v5/backend/redirect-import-path-move.md
  packages/upgrade/source/versions/v5/backend/signjwt-import-path-move.md
  packages/upgrade/source/versions/v5/backend/signjwterror-import-move.md
  packages/upgrade/source/versions/v5/backend/tokenverificationerror-import-move.md
  packages/upgrade/source/versions/v5/backend/tokenverificationerroraction-import-move.md
  packages/upgrade/source/versions/v5/backend/tokenverificationerrorcode-import-move.md
  packages/upgrade/source/versions/v5/backend/tokenverificationerrorreason-import-move.md
  packages/upgrade/source/versions/v5/backend/verifyjwt-import-path-move.md
  packages/upgrade/source/versions/v5/chromeExtension/clerkprovider-tokencache.md
  packages/upgrade/source/versions/v5/common/externalaccount-avatarurl.md
  packages/upgrade/source/versions/v5/common/externalaccountjson-avatarurl.md
  packages/upgrade/source/versions/v5/common/getorganizationinvitationlist-return-signature.md
  packages/upgrade/source/versions/v5/common/getorganizationinvitationlist-return-type-change.md
  packages/upgrade/source/versions/v5/common/getorganizationlist-return-signature.md
  packages/upgrade/source/versions/v5/common/user-getorganizationinvitations-arguments-changed.md
  packages/upgrade/source/versions/v5/common/user-getorganizationmemberships-arguments-changed.md
  packages/upgrade/source/versions/v5/common/user-getorganizationsuggestions-arguments-changed.md
  packages/upgrade/source/versions/v5/index.js
Due: npx eslint --fix, npx prettier --write

feat(upgrade): Generate all guides, add a script to make this process faster
  packages/upgrade/source/guide-generators/v5/expo/__output.mdx
  packages/upgrade/source/guide-generators/v5/fastify/__output.mdx
  packages/upgrade/source/guide-generators/v5/gatsby/__output.mdx
  packages/upgrade/source/guide-generators/v5/generate-all.sh
  packages/upgrade/source/guide-generators/v5/js/__output.mdx
  packages/upgrade/source/guide-generators/v5/nextjs/__output.mdx
  packages/upgrade/source/guide-generators/v5/node/__output.mdx
  packages/upgrade/source/guide-generators/v5/react/__output.mdx
  packages/upgrade/source/guide-generators/v5/remix/__output.mdx
  packages/upgrade/source/guide-generators/v5/remix/index.js
  packages/upgrade/source/guide-generators/v5/shared/deprecation-removals.mdx
  packages/upgrade/source/guide-generators/v5/shared/pagination-args.mdx
  packages/upgrade/source/guide-generators/v5/shared/pagination-return.mdx
Due: npx eslint --fix, npx prettier --write

chore(elements): Adjust logger to be more concise
  packages/elements/src/react/utils/xstate.ts
Due: npx eslint --fix, npx prettier --write

fix(elements): Adjust loader and hook
  packages/elements/examples/nextjs/components/loader.tsx
  packages/elements/src/react/hooks/use-loading.hook.ts
Due: npx eslint --fix, npx prettier --write

chore(elements): Adjust example page
  packages/elements/examples/nextjs/app/sign-in/[[...sign-in]]/page.tsx
Due: npx eslint --fix, npx prettier --write

chore(elements): Revert unnecessary change
  packages/elements/src/internals/machines/sign-in/sign-in.machine.ts
Due: npx eslint --fix, npx prettier --write

fix(repo): Correct stale bot behavior
  .github/workflows/lock-threads.yml
Due: none

chore(elements): WIP
  packages/elements/package.json
Due: npx prettier --write

fix(elements): Don't export Form from /common
  packages/elements/src/react/common/index.ts
Due: npx eslint --fix, npx prettier --write

fix(elements): Make GlobalError a div
  packages/elements/src/react/common/form/index.tsx
Due: npx eslint --fix, npx prettier --write

fix(elements): Don't export SocialProviderIcon from /common
  packages/elements/src/react/common/index.ts
Due: npx eslint --fix, npx prettier --write

fix(repo): Correct stale bot behavior (#2795)
  .github/workflows/lock-threads.yml
Due: none

fix(clerk-js): Move errors below the header in all components
  packages/clerk-js/src/ui/common/CustomPageContentContainer.tsx
  packages/clerk-js/src/ui/common/EmailLinkStatusCard.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationMembers.tsx
  packages/clerk-js/src/ui/components/UserProfile/AccountPage.tsx
  packages/clerk-js/src/ui/components/UserProfile/SecurityPage.tsx
  packages/clerk-js/src/ui/elements/FormContainer.tsx
Due: npx eslint --fix, npx prettier --write

chore(repo): Add Changeset
  .changeset/healthy-planets-clap.md
Due: npx prettier --write

chore(repo): Add empty changeset
  .changeset/lovely-students-occur.md
Due: npx prettier --write
