Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{mjs,js,jsx,ts,tsx}": ["npx eslint --fix", "npx prettier --write"],
  "*.{json,md,mdx}": ["npx prettier --write"]
}

feat(ui): Add `useDevModeWarning` hook (#3895)
  .changeset/lemon-ways-search.md
  packages/ui/src/components/sign-up/steps/continue.tsx
  packages/ui/src/components/sign-up/steps/start.tsx
  packages/ui/src/components/sign-up/steps/verifications.tsx
  packages/ui/src/hooks/use-appearance.ts
  packages/ui/src/hooks/use-dev-mode-warning.ts
Due: npx eslint --fix, npx prettier --write

refactor(ui): Break phone number utils and data into proper folders (#3892)
  .changeset/stale-lemons-collect.md
  packages/ui/src/common/phone-number-field.tsx
  packages/ui/src/common/phone-number-field/useFormattedPhoneNumber.ts
  packages/ui/src/components/sign-up/steps/verifications.tsx
  packages/ui/src/constants/phone-number.ts
  packages/ui/src/utils/format-safe-identifier.ts
  packages/ui/src/utils/phone-number.ts
Due: npx eslint --fix, npx prettier --write

test larger input font-size with same height
  packages/ui/src/primitives/field.tsx
Due: npx eslint --fix, npx prettier --write

chore(repo): Notify clerk/dashboard for stable nextjs releases
  .github/workflows/release.yml
Due: none

Fully hide OTP primitive input
  .changeset/slow-dingos-hammer.md
  packages/elements/src/react/common/form/otp.tsx
Due: npx eslint --fix, npx prettier --write

fix(elements): Prevent flash of "hidden" OTP input (#3899)
  .changeset/slow-dingos-hammer.md
  packages/elements/src/react/common/form/otp.tsx
Due: npx eslint --fix, npx prettier --write

feat(backend): Add param in User.update()
  .changeset/three-ghosts-develop.md
  packages/backend/src/api/endpoints/UserApi.ts
  packages/backend/src/api/resources/JSON.ts
  packages/backend/src/api/resources/User.ts
  packages/clerk-js/src/core/resources/User.ts
  packages/types/src/json.ts
  packages/types/src/user.ts
Due: npx eslint --fix, npx prettier --write

version: update changeset to include clerk-js and types
  .changeset/three-ghosts-develop.md
Due: npx prettier --write

feat(backend): Add param in User.update() (#3823)
  .changeset/three-ghosts-develop.md
  packages/backend/src/api/endpoints/UserApi.ts
  packages/backend/src/api/resources/JSON.ts
  packages/backend/src/api/resources/User.ts
  packages/clerk-js/src/core/resources/User.ts
  packages/types/src/json.ts
  packages/types/src/user.ts
Due: npx eslint --fix, npx prettier --write

update error message
  packages/nextjs/src/app-router/server/utils.ts
Due: npx eslint --fix, npx prettier --write

resolve double changeset
  .changeset/few-guests-collect.md
  .changeset/fuzzy-elephants-warn.md
Due: npx prettier --write

feat(ui): Add support for layout page links
  packages/ui/src/components/sign-up/steps/continue.tsx
  packages/ui/src/components/sign-up/steps/start.tsx
  packages/ui/src/components/sign-up/steps/verifications.tsx
  packages/ui/src/primitives/card.tsx
Due: npx eslint --fix, npx prettier --write

sign in page link support
  packages/ui/src/components/sign-in/steps/choose-strategy.tsx
  packages/ui/src/components/sign-in/steps/forgot-password.tsx
  packages/ui/src/components/sign-in/steps/get-help.tsx
  packages/ui/src/components/sign-in/steps/reset-password.tsx
  packages/ui/src/components/sign-in/steps/start.tsx
  packages/ui/src/components/sign-in/steps/verifications.tsx
Due: npx eslint --fix, npx prettier --write

feat(ui): Add support for `socialButtonsVariant` prop
  packages/ui/src/common/connections.tsx
Due: npx eslint --fix, npx prettier --write

add changeset
  .changeset/silly-experts-cross.md
Due: npx prettier --write

add changeset
  .changeset/great-dogs-hide.md
Due: npx prettier --write

fix(clerk-js): Add missing x padding to ClerkAndPagesTag
  packages/clerk-js/src/ui/elements/PopoverCard.tsx
Due: npx eslint --fix, npx prettier --write

add changeset
  .changeset/purple-chicken-flash.md
Due: npx prettier --write

fix(clerk-js): Add missing x padding to ClerkAndPagesTag (#3903)
  .changeset/purple-chicken-flash.md
  packages/clerk-js/src/ui/elements/PopoverCard.tsx
Due: npx eslint --fix, npx prettier --write

feat(ui): Add support for layout page links (#3901)
  .changeset/great-dogs-hide.md
  packages/ui/src/components/sign-in/steps/choose-strategy.tsx
  packages/ui/src/components/sign-in/steps/forgot-password.tsx
  packages/ui/src/components/sign-in/steps/get-help.tsx
  packages/ui/src/components/sign-in/steps/reset-password.tsx
  packages/ui/src/components/sign-in/steps/start.tsx
  packages/ui/src/components/sign-in/steps/verifications.tsx
  packages/ui/src/components/sign-up/steps/continue.tsx
  packages/ui/src/components/sign-up/steps/start.tsx
  packages/ui/src/components/sign-up/steps/verifications.tsx
  packages/ui/src/primitives/card.tsx
Due: npx eslint --fix, npx prettier --write

feat(ui): Add support for `socialButtonsVariant` prop (#3902)
  .changeset/silly-experts-cross.md
  packages/ui/src/common/connections.tsx
Due: npx eslint --fix, npx prettier --write

ci(repo): Version packages (#3904)
  .changeset/purple-chicken-flash.md
  package-lock.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
Due: npx prettier --write

feat(clerk-js,types): Add hideSlugField prop to CreateOrganization component
  packages/clerk-js/src/ui/components/CreateOrganization/CreateOrganizationForm.tsx
  packages/clerk-js/src/ui/components/CreateOrganization/CreateOrganizationPage.tsx
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-js,types): Add changeset
  .changeset/polite-tigers-smoke.md
Due: npx prettier --write

chore(clerk-js,types): Rename hideSlugField to hideSlug
  packages/clerk-js/src/ui/components/CreateOrganization/CreateOrganizationForm.tsx
  packages/clerk-js/src/ui/components/CreateOrganization/CreateOrganizationPage.tsx
  packages/clerk-js/src/ui/components/CreateOrganization/__tests__/CreateOrganization.test.tsx
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

test(clerk-js): Test CreateOrganization component slug visibility
  packages/clerk-js/src/ui/components/CreateOrganization/__tests__/CreateOrganization.test.tsx
Due: npx eslint --fix, npx prettier --write

chore(types): Fix formatting
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

test(clerk-js): Update slug selector
  packages/clerk-js/src/ui/components/CreateOrganization/__tests__/CreateOrganization.test.tsx
Due: npx eslint --fix, npx prettier --write

chore(clerk-js,types): Update changeset description
  .changeset/polite-tigers-smoke.md
Due: npx prettier --write

feat(clerk-js): Add hideSlug prop to OrganizationList component
  packages/clerk-js/src/ui/components/OrganizationList/OrganizationListPage.tsx
  packages/clerk-js/src/ui/components/OrganizationList/__tests__/OrganizationList.test.tsx
  packages/clerk-js/src/ui/contexts/ClerkUIComponentsContext.tsx
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

Update packages/types/src/clerk.ts
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

test(clerk-js): Update test matchers
  packages/clerk-js/src/ui/components/CreateOrganization/__tests__/CreateOrganization.test.tsx
  packages/clerk-js/src/ui/components/OrganizationList/__tests__/OrganizationList.test.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/__tests__/OrganizationSwitcher.test.tsx
Due: npx eslint --fix, npx prettier --write

chore(clerk-js,types): Update changeset
  .changeset/polite-tigers-smoke.md
Due: npx prettier --write

chore(clerk-js,types): Add hideSlug support to OrganizationSwitcher
  packages/clerk-js/src/ui/components/OrganizationSwitcher/OrganizationSwitcherPopover.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/__tests__/OrganizationSwitcher.test.tsx
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

test(clerk-js): Make sure create organization component without slug succeeds to save
  packages/clerk-js/src/ui/components/CreateOrganization/__tests__/CreateOrganization.test.tsx
Due: npx eslint --fix, npx prettier --write

chore(types): Set default hideSlug value to false
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Set default hideSlug value of CreateOrganization to false
  packages/clerk-js/src/ui/contexts/ClerkUIComponentsContext.tsx
Due: npx eslint --fix, npx prettier --write

chore(clerk-js/types): Update changeset
  .changeset/polite-tigers-smoke.md
Due: npx prettier --write

chore(types): Add default values to doc
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write
