Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

chore(upgrade): Version
  packages/upgrade/package.json
Due: npx prettier --write

chore(clerk-js): Cleanup code
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/components/GoogleOneTap/one-tap-start.tsx
  packages/clerk-js/src/ui/contexts/ClerkUIComponentsContext.tsx
Due: npx eslint --fix, npx prettier --write

feat(nextjs,backend): Export webhook event types (#3248)
  .changeset/mighty-timers-end.md
  packages/backend/src/index.ts
  packages/nextjs/src/server/index.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Set active with correct session from sign up
  packages/clerk-js/src/core/clerk.ts
Due: npx eslint --fix, npx prettier --write

fix(testing): Change changeset to major again
  .changeset/four-teachers-clap.md
Due: npx prettier --write

chore(repo): Add playground/custom to gitignore
  .gitignore
Due: none

chore(repo): Add playground/custom to gitignore (#3251)
  .gitignore
Due: none

chore(repo): Add playground/custom to gitignore (#3252)
  .gitignore
Due: none

feat(clerk-js): WIP PSU
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/resources/SignIn.ts
  packages/clerk-js/src/ui/common/redirects.ts
  packages/clerk-js/src/ui/components/GoogleOneTap/one-tap-start.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInSocialButtons.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpSocialButtons.tsx
Due: npx eslint --fix, npx prettier --write

feat(clerk-js): GoogleOneTap return back to same location
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/components/GoogleOneTap/one-tap-start.tsx
  packages/clerk-js/src/ui/contexts/ClerkUIComponentsContext.tsx
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

feat(clerk-js): Handle PSU and MFA flows with GoogleOneTap
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/components/GoogleOneTap/one-tap-start.tsx
  packages/clerk-js/src/ui/contexts/ClerkUIComponentsContext.tsx
  packages/types/src/clerk.ts
  packages/types/src/signIn.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Cleanup
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/resources/SignIn.ts
  packages/clerk-js/src/ui/common/redirects.ts
  packages/clerk-js/src/ui/components/GoogleOneTap/one-tap-start.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInSocialButtons.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpSocialButtons.tsx
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

feat(clerk-js): Handle after sign in/up after one tap - Use buildURLWithAuth - Build urls with correct redirect urls when leaving app for AP
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/contexts/ClerkUIComponentsContext.tsx
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): WIP exclude pages
  packages/clerk-js/src/ui/components/GoogleOneTap/one-tap-start.tsx
  packages/clerk-js/src/utils/one-tap.ts
  playground/nextjs/middleware.ts
  playground/nextjs/pages/_app.tsx
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Cleanup
  packages/clerk-js/src/ui/components/GoogleOneTap/one-tap-start.tsx
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Mark as deprecated
  packages/types/src/signIn.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Add changeset
  .changeset/breezy-monkeys-develop.md
Due: npx prettier --write

Introduce the `@clerk/testing` package (#3247)
  .changeset/four-teachers-clap.md
  .github/labeler.yml
  .jit/config.yml
  package-lock.json
  packages/testing/.eslintrc.js
  packages/testing/.gitignore
  packages/testing/LICENSE
  packages/testing/README.md
  packages/testing/package-lock.json
  packages/testing/package.json
  packages/testing/playwright/package.json
  packages/testing/src/playwright/index.ts
  packages/testing/src/playwright/setup.ts
  packages/testing/src/playwright/setupClerkTestingToken.ts
  packages/testing/tsconfig.json
  packages/testing/tsconfig.lint.json
  packages/testing/tsup.config.ts
  scripts/canary.mjs
  scripts/snapshot.mjs
  turbo.json
Due: npx eslint --fix, npx prettier --write

chore(*): Revert playground changes
  playground/nextjs/middleware.ts
  playground/nextjs/pages/_app.tsx
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Hide "Create Organization" on OrganizationList when disabled for user
  .changeset/clean-boats-invite.md
  packages/clerk-js/src/ui/components/OrganizationList/OrganizationListPage.tsx
  packages/clerk-js/src/ui/components/OrganizationList/__tests__/OrganizationList.test.tsx
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Hide "Create Organization" on OrganizationList when disabled for user (#3249)
  .changeset/clean-boats-invite.md
  packages/clerk-js/src/ui/components/OrganizationList/OrganizationListPage.tsx
  packages/clerk-js/src/ui/components/OrganizationList/__tests__/OrganizationList.test.tsx
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Use first-party cookies when running on Cypress
  .changeset/rotten-rats-carry.md
  packages/clerk-js/src/globals.d.ts
  packages/clerk-js/src/utils/runtime.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Create isCypress util
  packages/clerk-js/src/globals.d.ts
  packages/clerk-js/src/utils/runtime.ts
Due: npx eslint --fix, npx prettier --write

fix(elements): Misc updates (peerDependenciesMeta, typos, docs) (#3239)
  .changeset/wise-news-matter.md
  package-lock.json
  packages/elements/README.md
  packages/elements/examples/nextjs/app/page.tsx
  packages/elements/package.json
  packages/elements/src/internals/machines/form/form.machine.ts
  packages/elements/src/internals/machines/sign-in/router.machine.ts
  packages/elements/src/internals/machines/sign-up/continue.machine.ts
  packages/elements/src/internals/machines/sign-up/router.machine.ts
  packages/elements/src/internals/machines/sign-up/verification.machine.ts
  packages/elements/src/internals/machines/utils/formatters.ts
  packages/elements/src/react/common/connections.tsx
  packages/elements/src/react/common/form/index.tsx
  packages/elements/src/react/common/loading.tsx
  packages/elements/src/react/sign-in/action/action.tsx
  packages/elements/src/react/sign-in/action/resend.tsx
  packages/elements/src/react/sign-in/choose-strategy.tsx
  packages/elements/src/react/sign-in/context/strategies.context.ts
  packages/elements/src/react/sign-in/identifiers.tsx
  packages/elements/src/react/sign-in/root.tsx
  packages/elements/src/react/sign-in/step/step.tsx
  packages/elements/src/react/sign-in/verifications.tsx
  packages/elements/src/react/sign-up/action/action.tsx
  packages/elements/src/react/sign-up/action/resend.tsx
  packages/elements/src/react/sign-up/captcha.tsx
  packages/elements/src/react/sign-up/root.tsx
  packages/elements/src/react/sign-up/step.tsx
  packages/elements/src/react/sign-up/verifications.tsx
Due: npx eslint --fix, npx prettier --write

chore(elements): Update changelog
  packages/elements/CHANGELOG.md
Due: npx prettier --write

chore(repo): Add empty changeset
  .changeset/smart-cups-clean.md
Due: npx prettier --write

fix(clerk-js): Check if legacy property has value before display warning
  packages/clerk-js/src/utils/assertNoLegacyProp.ts
Due: npx eslint --fix, npx prettier --write

Create chilly-tips-smash.md
  .changeset/chilly-tips-smash.md
Due: npx prettier --write

fix(clerk-js): Set card error on prepare code verification
  .changeset/grumpy-rings-sleep.md
  .vscode/settings.json
  packages/clerk-js/src/ui/components/SignUp/SignUpEmailCodeCard.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpPhoneCodeCard.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpVerificationCodeForm.tsx
Due: npx eslint --fix, npx prettier --write

Update chilly-tips-smash.md
  .changeset/chilly-tips-smash.md
Due: npx prettier --write

chore(elements): Add changeset
  .changeset/cool-countries-behave.md
  .changeset/smart-cups-clean.md
Due: npx prettier --write

fix(clerk-js): Set card error on prepare code verification
  .changeset/stale-panthers-compare.md
  packages/clerk-js/src/ui/components/SignUp/SignUpEmailCodeCard.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpPhoneCodeCard.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpVerificationCodeForm.tsx
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Warn when a legacy redirect prop is being shadowed
  .changeset/wet-windows-wave.md
  packages/clerk-js/src/utils/assertNoLegacyProp.ts
  packages/clerk-js/src/utils/redirectUrls.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Check if legacy property has value before display warning (#3254)
  .changeset/chilly-tips-smash.md
  packages/clerk-js/src/utils/assertNoLegacyProp.ts
Due: npx eslint --fix, npx prettier --write

Revert "chore(repo): Update changelog.js to avoid rate limits"
  .changeset/changelog.js
Due: npx eslint --fix, npx prettier --write

Revert "chore(repo): Temporarily disable custom changelog"
  .changeset/config.json
Due: npx prettier --write

Path conditions:
  npx eslint --fix: any of: *.{mjs,js,jsx,ts,tsx}
  npx prettier --write: (any of: *.{mjs,js,jsx,ts,tsx}) or (any of: *.{json,md,mdx})
