Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

chore(remix): update import of AuthObject to @clerk/types
  packages/remix/src/ssr/types.ts
Due: npx eslint --fix, npx prettier --write

chore(sdk-node): update import of AuthObject and SignedInAuthObject to @clerk/types
  packages/sdk-node/src/types.ts
Due: npx eslint --fix, npx prettier --write

fix(elements): Update supported factors based on status
  packages/elements/src/react/sign-in/choose-strategy.tsx
  packages/ui/src/components/sign-in/sign-in.tsx
Due: npx eslint --fix, npx prettier --write

add changeset
  .changeset/funny-berries-jam.md
Due: npx prettier --write

chore(express): update import of AuthObject in test helpers to @clerk/types
  packages/express/src/__tests__/helpers.ts
Due: npx eslint --fix, npx prettier --write

remove first factor component
  packages/ui/src/components/sign-in/sign-in.tsx
Due: npx eslint --fix, npx prettier --write

add custom component for loading connections for first factor
  packages/ui/src/components/sign-in/sign-in.tsx
Due: npx eslint --fix, npx prettier --write

extract FirstFactorConnections
  packages/ui/src/components/sign-in/first-factor-connections.tsx
  packages/ui/src/components/sign-in/sign-in.tsx
Due: npx eslint --fix, npx prettier --write

Support transferable prop on SignIn
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/constants.ts
  packages/clerk-js/src/ui/components/SignIn/SignIn.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/contexts/ClerkUIComponentsContext.tsx
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

fix(elements): Update supported factors based on status (#3843)
  .changeset/funny-berries-jam.md
  packages/elements/src/react/sign-in/choose-strategy.tsx
  packages/ui/src/components/sign-in/first-factor-connections.tsx
  packages/ui/src/components/sign-in/sign-in.tsx
Due: npx eslint --fix, npx prettier --write

adds changeset
  .changeset/gold-emus-talk.md
Due: npx prettier --write

fix(astro): Protect component prop types
  packages/astro/src/astro-components/control/Protect.astro
Due: none

chore(astro): Include Protect component prop types inside control components
  packages/astro/src/react/controlComponents.tsx
  packages/astro/src/types.ts
Due: npx eslint --fix, npx prettier --write

chore(astro): Add changeset
  .changeset/friendly-bags-whisper.md
Due: npx prettier --write

feat(elements,ui): Return password validation error codes with relevant config entries
  packages/elements/src/internals/machines/form/form.types.ts
  packages/elements/src/react/common/form/index.tsx
  packages/elements/src/react/hooks/use-password.hook.ts
  packages/elements/src/react/utils/generate-password-error-text.ts
  packages/ui/src/common/password-field.tsx
  packages/ui/src/utils/makeLocalizable.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Wip
  packages/backend/src/tokens/handshake.ts
  packages/backend/src/tokens/request.ts
Due: npx eslint --fix, npx prettier --write

feat(clerk-js,clerk-react,types): Introduce UserButton custom menu items
  .changeset/smooth-worms-retire.md
  packages/clerk-js/src/ui/components/OrganizationSwitcher/OtherOrganizationActions.tsx
  packages/clerk-js/src/ui/components/UserButton/SessionActions.tsx
  packages/clerk-js/src/ui/components/UserButton/UserButtonPopover.tsx
  packages/clerk-js/src/ui/constants.ts
  packages/clerk-js/src/ui/contexts/ClerkUIComponentsContext.tsx
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/clerk-js/src/ui/elements/Actions.tsx
  packages/clerk-js/src/ui/utils/__tests__/createCustomMenuItems.test.ts
  packages/clerk-js/src/ui/utils/createCustomMenuItems.tsx
  packages/clerk-js/src/ui/utils/createCustomPages.tsx
  packages/clerk-js/src/ui/utils/index.ts
  packages/clerk-js/src/ui/utils/sanitizeCustomLinkURL.ts
  packages/react/src/components/uiComponents.tsx
  packages/react/src/errors/messages.ts
  packages/react/src/types.ts
  packages/react/src/utils/__tests__/useCustomMenuItems.test.tsx
  packages/react/src/utils/componentValidation.ts
  packages/react/src/utils/index.ts
  packages/react/src/utils/useCustomMenuItems.tsx
  packages/react/src/utils/useCustomPages.tsx
  packages/types/src/appearance.ts
  packages/types/src/clerk.ts
  packages/types/src/customMenuItems.ts
  packages/types/src/index.ts
Due: npx eslint --fix, npx prettier --write

feat(clerk-js,clerk-react,types): Introduce `UserButton` custom menu items (#3784)
  .changeset/smooth-worms-retire.md
  packages/clerk-js/src/ui/components/OrganizationSwitcher/OtherOrganizationActions.tsx
  packages/clerk-js/src/ui/components/UserButton/SessionActions.tsx
  packages/clerk-js/src/ui/components/UserButton/UserButtonPopover.tsx
  packages/clerk-js/src/ui/constants.ts
  packages/clerk-js/src/ui/contexts/ClerkUIComponentsContext.tsx
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/clerk-js/src/ui/elements/Actions.tsx
  packages/clerk-js/src/ui/utils/__tests__/createCustomMenuItems.test.ts
  packages/clerk-js/src/ui/utils/createCustomMenuItems.tsx
  packages/clerk-js/src/ui/utils/createCustomPages.tsx
  packages/clerk-js/src/ui/utils/index.ts
  packages/clerk-js/src/ui/utils/sanitizeCustomLinkURL.ts
  packages/react/src/components/uiComponents.tsx
  packages/react/src/errors/messages.ts
  packages/react/src/types.ts
  packages/react/src/utils/__tests__/useCustomMenuItems.test.tsx
  packages/react/src/utils/componentValidation.ts
  packages/react/src/utils/index.ts
  packages/react/src/utils/useCustomMenuItems.tsx
  packages/react/src/utils/useCustomPages.tsx
  packages/types/src/appearance.ts
  packages/types/src/clerk.ts
  packages/types/src/customMenuItems.ts
  packages/types/src/index.ts
Due: npx eslint --fix, npx prettier --write

feat(clerk-js): Add ability to set active organization by slug (#3825)
  .changeset/wicked-seahorses-juggle.md
  packages/clerk-js/src/core/__tests__/clerk.test.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/utils/__tests__/organization.test.ts
  packages/clerk-js/src/utils/index.ts
  packages/clerk-js/src/utils/organization.ts
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

Create fast-knives-peel.md
  .changeset/fast-knives-peel.md
Due: npx prettier --write

fix(localizations): Arabic localization for org profile (#3797)
  .changeset/chilled-swans-work.md
  packages/localizations/src/ar-SA.ts
Due: npx eslint --fix, npx prettier --write

fix(localizations): Updated missing Arabic localizations (#3821)
  .changeset/dry-trainers-decide.md
  packages/localizations/src/ar-SA.ts
Due: npx eslint --fix, npx prettier --write

fix(backend): Retry handshake in case of handshake cookie collision
  packages/backend/src/tokens/handshake.ts
  packages/backend/src/tokens/request.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Test independent session between same-level subdomains
  integration/tests/sessions/root-subdomain-prod-instances.test.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Format
  packages/localizations/src/ar-SA.ts
Due: npx eslint --fix, npx prettier --write

fix(e2e): Fix Expo Web flaky test
  integration/tests/expo-web/basic.test.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Add Empy Changeset
  .changeset/bright-lemons-give.md
Due: npx prettier --write

fix(e2e): Fix Expo Web flaky test (#3853)
  .changeset/bright-lemons-give.md
  integration/tests/expo-web/basic.test.ts
Due: npx eslint --fix, npx prettier --write

feat(clerk-js): Add dev mode notice to components
  .changeset/hungry-clouds-return.md
  packages/clerk-js/src/ui/elements/Card/CardClerkAndPagesTag.tsx
  packages/clerk-js/src/ui/elements/Card/CardContent.tsx
  packages/clerk-js/src/ui/elements/DevModeNotice.tsx
  packages/clerk-js/src/ui/elements/Navbar.tsx
  packages/clerk-js/src/ui/elements/PopoverCard.tsx
  packages/clerk-js/src/ui/elements/index.ts
Due: npx eslint --fix, npx prettier --write

feat(clerk-js): Update Development notice to match designs
  packages/clerk-js/src/ui/components/CreateOrganization/CreateOrganizationPage.tsx
  packages/clerk-js/src/ui/elements/Card/CardClerkAndPagesTag.tsx
  packages/clerk-js/src/ui/elements/Card/CardContent.tsx
  packages/clerk-js/src/ui/elements/DevModeNotice.tsx
  packages/clerk-js/src/ui/elements/PopoverCard.tsx
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Add dev notice to footer
  packages/clerk-js/src/ui/elements/Card/CardClerkAndPagesTag.tsx
  packages/clerk-js/src/ui/elements/Card/CardContent.tsx
  packages/clerk-js/src/ui/elements/Card/CardFooter.tsx
  packages/clerk-js/src/ui/elements/DevModeNotice.tsx
  packages/clerk-js/src/ui/elements/PopoverCard.tsx
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Added popoverBox descriptor and UI fixes for development mode notice
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/clerk-js/src/ui/elements/Card/CardClerkAndPagesTag.tsx
  packages/clerk-js/src/ui/elements/PopoverCard.tsx
  packages/clerk-js/src/ui/polishedAppearance.ts
  packages/types/src/appearance.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Remove changes from playgrounf
  playground/nextjs/pages/_app.tsx
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Remove missing prop from ClerkAndPagesTag
  packages/clerk-js/src/ui/elements/Navbar.tsx
  packages/clerk-js/webpack.config.js
  playground/nextjs/pages/_app.tsx
Due: npx eslint --fix, npx prettier --write

chore(repo): Update changeset
  .changeset/hungry-clouds-return.md
Due: npx prettier --write

chore(repo): Revert change from webpack.config.js
  packages/clerk-js/webpack.config.js
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Apply Dev mopde notice better for all componentns
  packages/clerk-js/src/ui/elements/Card/CardClerkAndPagesTag.tsx
  packages/clerk-js/src/ui/elements/Card/CardFooter.tsx
  packages/clerk-js/src/ui/elements/DevModeNotice.tsx
  packages/clerk-js/src/ui/elements/PopoverCard.tsx
Due: npx eslint --fix, npx prettier --write

Update .changeset/hungry-clouds-return.md
  .changeset/hungry-clouds-return.md
Due: npx prettier --write

fix changeset
  .changeset/fast-knives-peel.md
Due: npx prettier --write

Path conditions:
  npx eslint --fix: any of: *.{mjs,js,jsx,ts,tsx}
  npx prettier --write: (any of: *.{mjs,js,jsx,ts,tsx}) or (any of: *.{json,md,mdx})
