Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["npx prettier --write", "npx eslint --fix"],
  "*.{json,md,mdx}": ["npx prettier --write"]
}

chore(shared): Improve test coverage
  packages/shared/src/__tests__/callWithRetry.test.ts
  packages/shared/src/__tests__/keys.test.ts
  packages/shared/src/callWithRetry.ts
  packages/shared/src/utils/__tests__/createDeferredPromise.test.ts
  packages/shared/src/utils/__tests__/instance.test.ts
  packages/shared/src/utils/__tests__/runWithExponentialBackOff.test.ts
  packages/shared/src/utils/instance.ts
Due: npx prettier --write, npx eslint --fix

Create grumpy-swans-taste.md
  .changeset/grumpy-swans-taste.md
Due: npx prettier --write

chore(shared): Improve test coverage
  packages/shared/src/__tests__/browser.test.ts
  packages/shared/src/__tests__/url.test.ts
Due: npx prettier --write, npx eslint --fix

feat(remix): Support defer() usage in rootAuthLoader()
  packages/remix/src/ssr/rootAuthLoader.ts
  packages/remix/src/ssr/utils.ts
  playground/remix-node/app/root.tsx
Due: npx prettier --write, npx eslint --fix

chore(repo): Add changeset
  .changeset/loud-peaches-travel.md
Due: npx prettier --write

fix(remix): Remove unused import
  packages/remix/src/ssr/rootAuthLoader.ts
Due: npx prettier --write, npx eslint --fix

chore(tests): Update remix integration template [WIP]
  integration/presets/remix.ts
  integration/templates/remix-node/.eslintrc.js
  integration/templates/remix-node/app/entry.server.tsx
  integration/templates/remix-node/app/root.tsx
  integration/templates/remix-node/package-lock.json
  integration/templates/remix-node/package.json
  integration/templates/remix-node/remix.config.js
  integration/templates/remix-node/server.ts
  integration/tests/next-build.test.ts
  integration/tests/remix.test.ts
  package.json
Due: npx prettier --write, npx eslint --fix

Update playground/remix-node/app/root.tsx
  playground/remix-node/app/root.tsx
Due: npx prettier --write, npx eslint --fix

chore(repo): Update rules to be more in-line with current expectations
  package-lock.json
  packages/eslint-config-custom/jest.js
  packages/eslint-config-custom/qunit.js
  packages/eslint-config-custom/react.js
  packages/eslint-config-custom/rules/variables.js
  packages/eslint-config-custom/typescript.js
  packages/shared/src/globs.ts
Due: npx prettier --write, npx eslint --fix

chore(repo): Run Prettier
  package-lock.json
  packages/react/package.json
Due: npx prettier --write

chore(repo): Remove integration from eslint
  integration/package.json
  package.json
Due: npx prettier --write

chore(repo): Update ESLint dependencies
  .husky/pre-commit
  .lintstagedrc.json
  integration/.eslintrc.js
  integration/package.json
  package-lock.json
  packages/clerk-js/src/utils/devBrowser.ts
  packages/eslint-config-custom/package.json
  packages/eslint-config-custom/typescript.js
  turbo.json
Due: npx prettier --write, npx eslint --fix

fix(repo): Add backend dep to integation tests
  integration/package.json
Due: npx prettier --write

chore(repo): Run Prettier
  integration/package.json
  integration/templates/next-app-router/package.json
  integration/templates/react-cra/package.json
  integration/templates/react-vite/package.json
  package.json
  packages/backend/package.json
  packages/chrome-extension/package.json
  packages/clerk-js/package.json
  packages/expo/package.json
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/package.json
  packages/nextjs/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/sdk-node/package.json
  packages/shared/package.json
  packages/themes/package.json
  packages/types/package.json
Due: npx prettier --write

chore(repo): Update precommit call to eslint fix
  .lintstagedrc.json
  integration/package.json
Due: npx prettier --write

chore(repo): Test without local dependencies
  integration/package.json
Due: npx prettier --write

build(repo): GHA Turborepo Cache
  .github/workflows/ci.yml
  package.json
Due: npx prettier --write

build(repo): Test change
  .changeset/big-files-tickle.md
  .github/workflows/ci.yml
Due: npx prettier --write

build(repo): Test Turborepo Remote
  .github/workflows/ci.yml
Due: none

build(repo): Update arg patterns
  .github/workflows/ci.yml
Due: none

build(repo): Use Verdaccio .bin file
  .github/workflows/ci.yml
  verdaccio.yaml
Due: none

build(repo): Add Verdaccio auth
  .github/workflows/ci.yml
  verdaccio.yaml
Due: none

build(repo): Don't escape command
  .github/workflows/ci.yml
Due: none

build(repo): Update to Node 20
  .github/workflows/ci.yml
Due: none

build(repo): Remove errant comma
  .github/workflows/ci.yml
Due: none

build(repo): Add unit tests
  .github/workflows/ci.yml
Due: none

build(repo): Attempt e2e
  .github/workflows/ci.yml
  package-lock.json
  package.json
Due: npx prettier --write

build(repo): Add Node v19
  .github/workflows/ci.yml
Due: none

build(repo): Update cache dirs
  .github/workflows/ci.yml
Due: none

build(repo): Update commands and ENVs
  .github/workflows/checks.yml
  .github/workflows/ci.yml
  package.json
  packages/clerk-js/turbo.json
  turbo.json
Due: npx prettier --write

build(repo): Use npx for changeset; checkout v4
  .github/workflows/ci.yml
Due: none

build(repo): Assign TURBO_REMOTE_CACHE_SIGNATURE_KEY
  .github/workflows/ci.yml
Due: none

chore(repo): Use npx changeset
  .github/workflows/ci.yml
Due: none

test(clerk-js): Added a mockJwtToken function for testing the token cache
  packages/clerk-js/src/core/tokenCache.test.ts
Due: npx prettier --write, npx eslint --fix

test(clerk-js): Update tests to use jest.now()
  packages/clerk-js/src/core/tokenCache.test.ts
Due: npx prettier --write, npx eslint --fix

fix(clerk-js): Use the issued at timestamp from JWT for the MemoryTokenCache
  packages/clerk-js/src/core/tokenCache.ts
Due: npx prettier --write, npx eslint --fix

chore(shared): Improve test coverage (#1925)
  .changeset/grumpy-swans-taste.md
  packages/shared/src/__tests__/browser.test.ts
  packages/shared/src/__tests__/callWithRetry.test.ts
  packages/shared/src/__tests__/keys.test.ts
  packages/shared/src/__tests__/url.test.ts
  packages/shared/src/callWithRetry.ts
  packages/shared/src/utils/__tests__/createDeferredPromise.test.ts
  packages/shared/src/utils/__tests__/instance.test.ts
  packages/shared/src/utils/__tests__/runWithExponentialBackOff.test.ts
  packages/shared/src/utils/instance.ts
Due: npx prettier --write, npx eslint --fix

feat(remix): Support defer() usage in rootAuthLoader() (#1926)
  .changeset/loud-peaches-travel.md
  packages/remix/src/ssr/rootAuthLoader.ts
  packages/remix/src/ssr/utils.ts
  playground/remix-node/app/root.tsx
Due: npx prettier --write, npx eslint --fix

Create fifty-wombats-refuse.md
  .changeset/fifty-wombats-refuse.md
Due: npx prettier --write
