Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{mjs,js,jsx,ts,tsx}": ["npx eslint --fix", "npx prettier --write"],
  "*.{json,md,mdx}": ["npx prettier --write"]
}

chore(astro): Fix incorrect file name
  packages/astro/src/internal/utils/loadClerkJSScript.ts
Due: npx eslint --fix, npx prettier --write

chore(astro): Remove unused file
  packages/astro/src/internal/utils/versionSelector.ts
Due: npx eslint --fix, npx prettier --write

chore(shared): Make options optional in loadClerkJsScript and throw if clerk-js script attribute is undefined
  packages/astro/src/internal/types.ts
  packages/astro/src/internal/utils/loadClerkJSScript.ts
Due: npx eslint --fix, npx prettier --write

chore(shared): Add nonce prop to to load script
  integration/templates/astro-static/env.d.ts
Due: npx eslint --fix, npx prettier --write

chore(shared): Update internal package version property name
  packages/shared/src/loadClerkJsScript.ts
Due: npx eslint --fix, npx prettier --write

test(shared): Handle custom package versions for versionSelector
  packages/shared/src/versionSelector.ts
Due: npx eslint --fix, npx prettier --write

chore(shared,astro,react,nextjs): Use built-in error thrower when ClerkJS script loading fails
  packages/shared/src/__tests__/loadClerkJsScript.test.ts
Due: npx eslint --fix, npx prettier --write

chore(astro): Reuse ProtectProps and publish types file
  packages/astro/.gitignore
  packages/astro/package.json
  packages/astro/src/astro-components/control/Protect.astro
  packages/astro/src/astro-components/control/ProtectCSR.astro
  packages/astro/src/astro-components/control/ProtectSSR.astro
  packages/astro/src/react/controlComponents.tsx
  packages/astro/src/types.ts
Due: npx eslint --fix, npx prettier --write

chore(astro): Add vite plugin for dynamic control components
  packages/astro/src/astro-components/control/Protect.astro
  packages/astro/src/astro-components/control/SignedIn.astro
  packages/astro/src/astro-components/control/SignedOut.astro
  packages/astro/src/integration/create-integration.ts
  packages/astro/src/internal/vite-plugin-astro-config.ts
Due: npx eslint --fix, npx prettier --write

chore(astro): Remove duplicate import
  packages/astro/src/astro-components/control/Protect.astro
Due: none

chore(astro): Remove unused bundled folder
  packages/astro/bundled/package.json
  packages/astro/package.json
Due: npx prettier --write

test(astro): Add initial CSR e2e test
  integration/presets/astro.ts
  integration/presets/longRunningApps.ts
  integration/templates/astro-static/astro.config.mjs
  integration/templates/astro-static/package.json
  integration/templates/astro-static/public/favicon.svg
  integration/templates/astro-static/src/layouts/Layout.astro
  integration/templates/astro-static/src/pages/index.astro
  integration/templates/astro-static/src/pages/protected.astro
  integration/tests/astro/static.test.ts
  packages/astro/src/astro-components/control/SignedInCSR.astro
  packages/astro/src/astro-components/control/SignedOutCSR.astro
Due: npx eslint --fix, npx prettier --write

chore(astro): Revert hotload script build logic
  packages/astro/src/server/build-clerk-hotload-script.ts
Due: npx eslint --fix, npx prettier --write

test(astro): Improve visibility tests
  integration/templates/astro-static/src/pages/index.astro
  integration/tests/astro/static.test.ts
Due: npx eslint --fix, npx prettier --write

chore(astro): Update virtual module to include hybrid mode
  packages/astro/src/astro-components/control/Protect.astro
  packages/astro/src/astro-components/control/SignedIn.astro
  packages/astro/src/astro-components/control/SignedOut.astro
  packages/astro/src/integration/vite-plugin-astro-config.ts
Due: npx eslint --fix, npx prettier --write

chore(astro): Type fix
  packages/astro/src/astro-components/control/Protect.astro
Due: none

chore(astro): Add back adapter missing error message
  packages/astro/src/integration/create-integration.ts
Due: npx eslint --fix, npx prettier --write

chore(astro): Run prettier format
  integration/tests/astro/static.test.ts
  packages/shared/src/__tests__/loadClerkJsScript.test.ts
Due: npx eslint --fix, npx prettier --write

test(astro): Add astro-static to template map
  integration/templates/index.ts
Due: npx eslint --fix, npx prettier --write

test(astro): Clean up
  integration/tests/astro/static.test.ts
Due: npx eslint --fix, npx prettier --write

chore(astro): Simplify Protect slots
  packages/astro/src/astro-components/control/Protect.astro
Due: none

test(astro): More clean ups
  integration/templates/astro-static/.gitignore
  integration/templates/astro-static/src/pages/index.astro
  integration/templates/astro-static/tsconfig.json
  integration/tests/astro/static.test.ts
Due: npx eslint --fix, npx prettier --write

chore(astro): Run formatter
  integration/presets/astro.ts
  integration/tests/astro/static.test.ts
  packages/astro/src/env.d.ts
  packages/astro/src/integration/vite-plugin-astro-config.ts
Due: npx eslint --fix, npx prettier --write

chore(astro): File location clean up
  integration/presets/astro.ts
  packages/astro/src/integration/create-integration.ts
  packages/astro/src/integration/vite-plugin-astro-config.ts
Due: npx eslint --fix, npx prettier --write

chore(astro): Use hidden attribute for toggling visibility in Protect component CSR
  packages/astro/src/astro-components/control/ProtectCSR.astro
Due: none

chore(astro): Add type for virtual module
  packages/astro/src/env.d.ts
Due: npx eslint --fix, npx prettier --write

feat(astro): Add CSR support to control components
  packages/astro/src/astro-components/control/ProtectCSR.astro
  packages/astro/src/astro-components/control/ProtectSSR.astro
  packages/astro/src/astro-components/control/SignedIn.astro
  packages/astro/src/astro-components/control/SignedInCSR.astro
  packages/astro/src/astro-components/control/SignedInSSR.astro
  packages/astro/src/astro-components/control/SignedOut.astro
  packages/astro/src/astro-components/control/SignedOutCSR.astro
  packages/astro/src/astro-components/control/SignedOutSSR.astro
Due: none

chore(astro): Add initial changeset
  .changeset/proud-horses-smell.md
Due: npx prettier --write

test(astro): Clean up static config
  integration/presets/astro.ts
Due: npx eslint --fix, npx prettier --write

chore(astro): Use dynamic components
  packages/astro/src/astro-components/control/Protect.astro
  packages/astro/src/astro-components/control/ProtectCSR.astro
  packages/astro/src/astro-components/control/SignedIn.astro
  packages/astro/src/astro-components/control/SignedOut.astro
Due: none

chore(astro): formatting update
  packages/astro/src/astro-components/control/ProtectCSR.astro
  packages/astro/src/astro-components/control/ProtectSSR.astro
Due: none

test(astro): Remove client props
  integration/templates/astro-static/src/pages/index.astro
  integration/templates/astro-static/src/pages/protected.astro
Due: none

chore(astro): Fix incorrect variable name
  packages/astro/src/integration/vite-plugin-astro-config.ts
Due: npx eslint --fix, npx prettier --write

chore(astrp): Use hidden attribute for CSR component toggling
  packages/astro/src/astro-components/control/SignedInCSR.astro
  packages/astro/src/astro-components/control/SignedOutCSR.astro
Due: none

test(astro): Add SignedIn, SignedOut and Protect e2e tests
  integration/templates/astro-static/src/pages/index.astro
  integration/templates/astro-static/src/pages/protected.astro
  integration/tests/astro/static.test.ts
Due: npx eslint --fix, npx prettier --write

chore(astro): pre-bundle client stores export
  packages/astro/src/integration/vite-plugin-astro-config.ts
Due: npx eslint --fix, npx prettier --write

chore(astro): Update vite plugin to set hybrid component initial to server
  packages/astro/src/integration/vite-plugin-astro-config.ts
Due: npx eslint --fix, npx prettier --write

chore(astro): Remove duplicate env vars in vite
  packages/astro/src/integration/create-integration.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Add dev mode warning to console (#3930)
  .changeset/modern-badgers-flash.md
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/utils/assertNoLegacyProp.ts
Due: npx eslint --fix, npx prettier --write
