Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

chore(nuxt): Update README
  packages/nuxt/README.md
Due: npx prettier --write

chore(nuxt): Update imports
  .github/workflows/ci.yml
  packages/nuxt/src/index.ts
  packages/nuxt/src/runtime/plugin.ts
Due: npx eslint --fix, npx prettier --write

chore(nuxt): Add @clerk/types to dev deps
  packages/nuxt/package.json
Due: npx prettier --write

feat(nuxt): Add Nuxt package
  packages/nuxt/.eslintrc.cjs
  packages/nuxt/.gitignore
  packages/nuxt/package.json
  packages/nuxt/src/global.d.ts
  packages/nuxt/src/index.ts
  packages/nuxt/src/runtime/plugin.ts
  packages/nuxt/src/runtime/server/clerkClient.ts
  packages/nuxt/src/runtime/server/clerkMiddleware.ts
  packages/nuxt/src/runtime/server/index.ts
  packages/nuxt/src/runtime/server/middleware.ts
  packages/nuxt/src/runtime/server/utils.ts
  packages/nuxt/tsconfig.json
  packages/nuxt/tsup.config.ts
  packages/vue/src/internal.ts
  packages/vue/src/plugin.ts
  packages/vue/tsup.config.ts
Due: npx eslint --fix, npx prettier --write

chore(nuxt): Add Nuxt v4 support
  packages/nuxt/src/module.ts
Due: npx eslint --fix, npx prettier --write

chore(nuxt): Add README and LICENSE
  packages/nuxt/LICENSE
  packages/nuxt/README.md
Due: npx prettier --write

chore(nuxt): Use global variables for module name and version
  packages/nuxt/src/module.ts
Due: npx eslint --fix, npx prettier --write

chore: add changeset
  .changeset/cuddly-tools-live.md
Due: npx prettier --write

chore(nuxt,vue): Directly import error thrower from utils
  packages/nuxt/src/runtime/plugin.ts
  packages/vue/src/internal.ts
Due: npx eslint --fix, npx prettier --write

chore(nuxt): Add comment about bundling
  packages/nuxt/tsup.config.ts
Due: npx eslint --fix, npx prettier --write

chore(nuxt): Revert version
  packages/nuxt/src/module.ts
Due: npx eslint --fix, npx prettier --write

chore(nuxt): Fix dependencies
  packages/nuxt/package.json
Due: npx prettier --write

chore(nuxt): Add more helpful comments
  packages/nuxt/src/runtime/server/clerkClient.ts
  packages/nuxt/src/runtime/server/middleware.ts
Due: npx eslint --fix, npx prettier --write

chore(nuxt,vue): Add dev script
  packages/nuxt/package.json
  packages/vue/package.json
Due: npx prettier --write

fix(vue,nuxt): type exports
  packages/nuxt/package.json
  packages/vue/package.json
Due: npx prettier --write

chore: Reinstall deps with pnpm
  packages/nuxt/package.json
  pnpm-lock.yaml
Due: npx prettier --write

chore(nuxt): Fix vue version and remove unused export
  packages/nuxt/package.json
  pnpm-lock.yaml
Due: npx prettier --write

chore(nuxt): Replace npx command with pnpm dlx
  packages/nuxt/package.json
Due: npx prettier --write

chore(nuxt): Fix missing dependencies required by pnpm
  packages/nuxt/package.json
  pnpm-lock.yaml
Due: npx prettier --write

chore: simplify tsconfig
  packages/nuxt/tsconfig.json
  packages/vue/tsconfig.json
Due: npx prettier --write

chore(nuxt): Remove unused dep
  packages/nuxt/package.json
  pnpm-lock.yaml
Due: npx prettier --write

Update packages/nuxt/README.md
  packages/nuxt/README.md
Due: npx prettier --write

add changeset
  .changeset/healthy-queens-refuse.md
Due: npx prettier --write

chore(e2e): Add tests for waitlist sign-up mode (#4557)
  .changeset/good-buckets-cross.md
  integration/presets/envs.ts
  integration/testUtils/index.ts
  integration/testUtils/waitlistPageObject.ts
  integration/tests/waitlist-mode.test.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Force ProviderInitialIcon to uppercase
  packages/clerk-js/src/ui/common/ProviderInitialIcon.tsx
Due: npx eslint --fix, npx prettier --write

WIP
  .github/workflows/pr-title-linter.yml
Due: none

add changeset
  .changeset/long-plums-float.md
Due: npx prettier --write

feat(nuxt,vue): Introduce Nuxt SDK (#4541)
  .changeset/cuddly-tools-live.md
  .github/workflows/ci.yml
  packages/nuxt/.eslintrc.cjs
  packages/nuxt/.gitignore
  packages/nuxt/LICENSE
  packages/nuxt/README.md
  packages/nuxt/package.json
  packages/nuxt/src/global.d.ts
  packages/nuxt/src/module.ts
  packages/nuxt/src/runtime/plugin.ts
  packages/nuxt/src/runtime/server/clerkClient.ts
  packages/nuxt/src/runtime/server/clerkMiddleware.ts
  packages/nuxt/src/runtime/server/index.ts
  packages/nuxt/src/runtime/server/middleware.ts
  packages/nuxt/src/runtime/server/utils.ts
  packages/nuxt/tsconfig.json
  packages/nuxt/tsup.config.ts
  packages/vue/src/internal.ts
  packages/vue/src/plugin.ts
  packages/vue/tsup.config.ts
  pnpm-lock.yaml
Due: npx eslint --fix, npx prettier --write

feat(react): Expose `initialValues` within `<SignUpButton />` (#4567)
  .changeset/tender-windows-jam.md
  packages/react/src/components/SignUpButton.tsx
  packages/react/src/types.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Force ProviderInitialIcon to uppercase (#4578)
  .changeset/long-plums-float.md
  packages/clerk-js/src/ui/common/ProviderInitialIcon.tsx
Due: npx eslint --fix, npx prettier --write

fix(repo): PR title linter sparse checkout (#4577)
  .github/workflows/pr-title-linter.yml
Due: none

chore(shared): Replace new line with space character in message of ClerkRuntimeError
  .changeset/gentle-insects-shave.md
  packages/shared/src/__tests__/error.test.ts
  packages/shared/src/error.ts
Due: npx eslint --fix, npx prettier --write

wip testing
  packages/react/src/hooks/__tests__/useReverification.test.ts
Due: npx eslint --fix, npx prettier --write

fix(repo): Run pnpm install before PR title lint
  .github/workflows/pr-title-linter.yml
Due: none

fix(repo): Run pnpm install before PR title lint (#4580)
  .github/workflows/pr-title-linter.yml
Due: none

fix(clerk-js): Ensure autofill event is triggered during sign-in (#4560)
  .changeset/spicy-olives-float.md
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
Due: npx eslint --fix, npx prettier --write

Add Type tests
  packages/react/src/hooks/__tests__/useReverification.test.ts
Due: npx eslint --fix, npx prettier --write

Path conditions:
  npx eslint --fix: any of: *.{mjs,js,jsx,ts,tsx}
  npx prettier --write: (any of: *.{mjs,js,jsx,ts,tsx}) or (any of: *.{json,md,mdx})
