Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --fix, pnpm prettier --write

.lintstagedrc.json:

{
  "*.{mjs,js,jsx,ts,tsx}": ["pnpm eslint --fix", "pnpm prettier --write"],
  "*.{json,md,mdx}": ["pnpm prettier --write"]
}

update relevant packages
  packages/backend/tsconfig.json
  packages/elements/package.json
  packages/nextjs/tsconfig.json
  packages/react/package.json
  packages/react/tsconfig.declarations.json
  packages/react/tsconfig.json
  packages/shared/package.json
  packages/shared/tsconfig.declarations.json
  packages/shared/tsconfig.json
  packages/types/package.json
  packages/types/tsconfig.declarations.json
Due: pnpm prettier --write

add empty changeset
  .changeset/chilled-bananas-poke.md
Due: pnpm prettier --write

chore(repo): Dispatch events to sdk-infra-workers
  .github/workflows/release-canary.yml
  .github/workflows/release.yml
Due: none

Use dark captcha for the dark and shadesOfPurple themes
  .changeset/small-grapes-hunt.md
  packages/themes/src/themes/dark.ts
  packages/themes/src/themes/shadesOfPurple.ts
Due: pnpm eslint --fix, pnpm prettier --write

feat(repo): Add viewport meta tag to template
  packages/clerk-js/sandbox/template.html
Due: none

Add changeset
  .changeset/tall-hounds-smell.md
Due: pnpm prettier --write

fix(agent-toolkit): Correctly bundle ESM files
  packages/agent-toolkit/tsup.config.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix(agent-toolkit): Correctly bundle ESM files (#5192)
  packages/agent-toolkit/tsup.config.ts
Due: pnpm eslint --fix, pnpm prettier --write

move onBeforeSetActive() to run before we remove the session
  packages/clerk-js/src/core/clerk.ts
Due: pnpm eslint --fix, pnpm prettier --write

Add `tasks` on `Session` resource
  packages/clerk-js/src/core/resources/Session.ts
  packages/types/src/index.ts
  packages/types/src/json.ts
  packages/types/src/tasks.ts
Due: pnpm eslint --fix, pnpm prettier --write

Add changeset
  .changeset/plenty-peas-pretend.md
  packages/types/src/index.ts
  packages/types/src/json.ts
  packages/types/src/session.ts
  packages/types/src/tasks.ts
Due: pnpm eslint --fix, pnpm prettier --write

Update tasks to array
  packages/clerk-js/src/core/resources/Session.ts
  packages/types/src/json.ts
  packages/types/src/session.ts
Due: pnpm eslint --fix, pnpm prettier --write

chore(clerk-js,types): Initialize `tasks` on `Session` resource (#5170)
  .changeset/plenty-peas-pretend.md
  packages/clerk-js/src/core/resources/Session.ts
  packages/types/src/json.ts
  packages/types/src/session.ts
Due: pnpm eslint --fix, pnpm prettier --write

Deprecate `activeSessions`
  packages/clerk-js/src/core/__tests__/clerk.redirects.test.ts
  packages/clerk-js/src/core/__tests__/clerk.test.ts
  packages/clerk-js/src/core/resources/Client.ts
  packages/react/src/isomorphicClerk.ts
  packages/types/src/client.ts
Due: pnpm eslint --fix, pnpm prettier --write

Add test coverage for `pending` and `active` statuses
  packages/clerk-js/src/core/__tests__/clerk.test.ts
Due: pnpm eslint --fix, pnpm prettier --write

Consider `pending` as authenticate state for client UAT
  packages/clerk-js/src/core/auth/cookies/clientUat.ts
Due: pnpm eslint --fix, pnpm prettier --write

Add changeset
  .changeset/proud-cycles-roll.md
  packages/elements/src/react/sign-in/choose-session/__tests__/choose-session.test.tsx
  packages/elements/src/react/sign-in/choose-session/choose-session.hooks.ts
Due: pnpm eslint --fix, pnpm prettier --write

Update changeset
  .changeset/proud-cycles-roll.md
Due: pnpm prettier --write

Fix sign in account switcher to look for pending sessions
  integration/testUtils/handshake.ts
  integration/tests/handshake.test.ts
  packages/clerk-js/src/ui/components/SignIn/SignInAccountSwitcher.tsx
Due: pnpm eslint --fix, pnpm prettier --write

Update device section to list for pending
  integration/testUtils/handshake.ts
  packages/clerk-js/src/ui/components/UserProfile/ActiveDevicesSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/SecurityPage.test.tsx
Due: pnpm eslint --fix, pnpm prettier --write

Update `SignIn.SessionList` to include pending sessions
  packages/clerk-js/src/ui/components/UserProfile/ActiveDevicesSection.tsx
  packages/elements/src/react/sign-in/choose-session/choose-session.hooks.ts
  packages/elements/src/react/sign-in/choose-session/choose-session.tsx
Due: pnpm eslint --fix, pnpm prettier --write

Plug pending session into main Client resource
  integration/testUtils/handshake.ts
  packages/astro/src/stores/internal.ts
  packages/clerk-js/src/core/__tests__/clerk.test.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/resources/Client.ts
  packages/clerk-js/src/ui/components/ImpersonationFab/ImpersonationFab.tsx
  packages/clerk-js/src/ui/components/UserButton/SessionActions.tsx
  packages/clerk-js/src/ui/components/UserButton/UserButtonPopover.tsx
  packages/clerk-js/src/ui/components/UserButton/useMultisessionActions.tsx
  packages/clerk-js/src/ui/hooks/useMultipleSessions.ts
  packages/react/src/isomorphicClerk.ts
  packages/shared/src/deriveState.ts
  packages/shared/src/react/contexts.tsx
  packages/types/src/clerk.ts
  packages/types/src/client.ts
  packages/types/src/hooks.ts
  packages/types/src/session.ts
  packages/vue/src/types.ts
Due: pnpm eslint --fix, pnpm prettier --write

Update handshake tests
  integration/testUtils/handshake.ts
  integration/tests/handshake.test.ts
Due: pnpm eslint --fix, pnpm prettier --write

Save JWT token on Expo for pending session status
  packages/expo/src/provider/singleton/createClerkInstance.ts
Due: pnpm eslint --fix, pnpm prettier --write

Refactor from `isAuthenticated` to `isSignedIn`
  .changeset/nasty-mangos-live.md
  .changeset/proud-cycles-roll.md
  packages/astro/src/stores/internal.ts
  packages/clerk-js/src/core/__tests__/clerk.redirects.test.ts
  packages/clerk-js/src/core/__tests__/clerk.test.ts
  packages/clerk-js/src/core/auth/cookies/clientUat.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/resources/Client.ts
  packages/clerk-js/src/ui/components/ImpersonationFab/ImpersonationFab.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInAccountSwitcher.tsx
  packages/clerk-js/src/ui/components/UserButton/SessionActions.tsx
  packages/clerk-js/src/ui/components/UserButton/UserButtonPopover.tsx
  packages/clerk-js/src/ui/components/UserButton/useMultisessionActions.tsx
  packages/clerk-js/src/ui/components/UserProfile/ActiveDevicesSection.tsx
  packages/clerk-js/src/ui/hooks/useMultipleSessions.ts
  packages/elements/src/react/sign-in/choose-session/choose-session.hooks.ts
  packages/expo/src/provider/singleton/createClerkInstance.ts
  packages/react/src/components/controlComponents.tsx
  packages/react/src/isomorphicClerk.ts
  packages/shared/src/deriveState.ts
  packages/shared/src/react/contexts.tsx
  packages/types/src/clerk.ts
  packages/types/src/client.ts
  packages/types/src/hooks.ts
  packages/types/src/session.ts
  packages/vue/src/components/controlComponents.ts
  packages/vue/src/types.ts
Due: pnpm eslint --fix, pnpm prettier --write

Introduce separate changesets
  .changeset/nasty-mangos-live.md
  .changeset/proud-cycles-roll.md
  packages/clerk-js/src/core/__tests__/clerk.test.ts
  packages/types/src/session.ts
Due: pnpm eslint --fix, pnpm prettier --write

Add `pending` to `SessionStatus` union
  packages/types/src/session.ts
Due: pnpm eslint --fix, pnpm prettier --write

Add `isAuthenticated` property to main Clerk instance
  packages/clerk-js/src/core/auth/cookies/clientUat.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/resources/Client.ts
  packages/react/src/components/controlComponents.tsx
  packages/types/src/clerk.ts
  packages/types/src/client.ts
  packages/types/src/session.ts
  packages/vue/src/components/controlComponents.ts
Due: pnpm eslint --fix, pnpm prettier --write

Update clerk-js change to include deprecate property
  .changeset/proud-cycles-roll.md
Due: pnpm prettier --write

fix(shared): Close verification modal
  packages/shared/src/react/hooks/useReverification.ts
Due: pnpm eslint --fix, pnpm prettier --write

Create sweet-forks-care.md
  .changeset/sweet-forks-care.md
Due: pnpm prettier --write

fix(clerk-react): Pass params through url builders
  packages/react/src/isomorphicClerk.ts
Due: pnpm eslint --fix, pnpm prettier --write

add changeset
  .changeset/brave-dodos-count.md
Due: pnpm prettier --write

chore(repo): Update changeset
  .changeset/sweet-forks-care.md
Due: pnpm prettier --write

Update `isSignedIn` to check against initialized session
  .changeset/nasty-mangos-live.md
  .changeset/proud-cycles-roll.md
  packages/clerk-js/src/core/auth/cookies/clientUat.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/resources/Client.ts
  packages/clerk-js/src/ui/hooks/useMultipleSessions.ts
  packages/elements/src/react/sign-in/choose-session/choose-session.hooks.ts
  packages/react/src/components/controlComponents.tsx
  packages/types/src/clerk.ts
  packages/types/src/client.ts
  packages/types/src/session.ts
  packages/vue/src/components/controlComponents.ts
Due: pnpm eslint --fix, pnpm prettier --write

feat(clerk-js): Handle new session `pending` status as authenticated state (#5136)
  .changeset/nasty-mangos-live.md
  .changeset/proud-cycles-roll.md
  packages/astro/src/stores/internal.ts
  packages/clerk-js/src/core/__tests__/clerk.redirects.test.ts
  packages/clerk-js/src/core/__tests__/clerk.test.ts
  packages/clerk-js/src/core/auth/cookies/clientUat.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/resources/Client.ts
  packages/clerk-js/src/ui/components/ImpersonationFab/ImpersonationFab.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInAccountSwitcher.tsx
  packages/clerk-js/src/ui/components/UserButton/SessionActions.tsx
  packages/clerk-js/src/ui/components/UserButton/UserButtonPopover.tsx
  packages/clerk-js/src/ui/components/UserButton/useMultisessionActions.tsx
  packages/clerk-js/src/ui/components/UserProfile/ActiveDevicesSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/SecurityPage.test.tsx
  packages/clerk-js/src/ui/hooks/useMultipleSessions.ts
  packages/elements/src/react/sign-in/choose-session/__tests__/choose-session.test.tsx
  packages/elements/src/react/sign-in/choose-session/choose-session.hooks.ts
  packages/elements/src/react/sign-in/choose-session/choose-session.tsx
  packages/expo/src/provider/singleton/createClerkInstance.ts
  packages/react/src/components/controlComponents.tsx
  packages/react/src/isomorphicClerk.ts
  packages/shared/src/deriveState.ts
  packages/shared/src/react/contexts.tsx
  packages/types/src/clerk.ts
  packages/types/src/client.ts
  packages/types/src/hooks.ts
  packages/types/src/session.ts
  packages/vue/src/components/controlComponents.ts
  packages/vue/src/types.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix(astro): Avoid naming conflict with Protect component and server islands fallback
  packages/astro/src/astro-components/control/Protect.astro
  packages/astro/src/astro-components/control/ProtectSSR.astro
Due: none

test(astro): Test new slot
  integration/templates/astro-node/src/pages/server-islands.astro
  integration/tests/astro/components.test.ts
Due: pnpm eslint --fix, pnpm prettier --write

chore(astro): Fix incorrect directive
  integration/templates/astro-node/src/pages/server-islands.astro
Due: none
