Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --fix, pnpm prettier --write

.lintstagedrc.json:

{
  "*.{mjs,js,jsx,ts,tsx,vue}": ["pnpm eslint --fix", "pnpm prettier --write"],
  "*.{json,md,mdx}": ["pnpm prettier --write"]
}

wip
  packages/clerk-js/bundlewatch.config.json
Due: pnpm prettier --write

add changeset
  .changeset/many-forks-burn.md
Due: pnpm prettier --write

init
  packages/clerk-js/src/ui/components/PricingTable/PlanCard.tsx
  packages/clerk-js/src/ui/components/PricingTable/PlanDetailDrawer.tsx
Due: pnpm eslint --fix, pnpm prettier --write

descriptor
  packages/clerk-js/src/ui/components/PricingTable/PlanCard.tsx
Due: pnpm eslint --fix, pnpm prettier --write

wip
  packages/clerk-js/src/ui/components/PricingTable/PlanCard.tsx
Due: pnpm eslint --fix, pnpm prettier --write

add changeset
  .changeset/violet-schools-repair.md
Due: pnpm prettier --write

descriptors
  packages/clerk-js/src/ui/components/PricingTable/PlanCard.tsx
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/types/src/appearance.ts
Due: pnpm eslint --fix, pnpm prettier --write

feat(repo): Use pnpm-workspace.yaml in renovate
  renovate.json5
  scripts/renovate-config-generator.mjs
Due: pnpm eslint --fix, pnpm prettier --write

wip
  scripts/renovate-config-generator.mjs
Due: pnpm eslint --fix, pnpm prettier --write

wip
  renovate.json5
Due: none

descriptor
  packages/clerk-js/src/ui/components/PricingTable/PlanCard.tsx
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/types/src/appearance.ts
Due: pnpm eslint --fix, pnpm prettier --write

feat(repo): Use pnpm-workspace.yaml in renovate (#5380)
  renovate.json5
  scripts/renovate-config-generator.mjs
Due: pnpm eslint --fix, pnpm prettier --write

chore(repo): Do not pin Renovate version
  .github/workflows/validate-renovate-config.yml
Due: none

refactor(clerk-js): Introduce `<PlanCardFeaturesList />` variants (#5379)
  .changeset/violet-schools-repair.md
  packages/clerk-js/src/ui/components/PricingTable/PlanCard.tsx
  packages/clerk-js/src/ui/components/PricingTable/PlanDetailDrawer.tsx
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/types/src/appearance.ts
Due: pnpm eslint --fix, pnpm prettier --write

refactor(clerk-js): Default `<Drawer.Confirmation />` to `alertdialog`
  packages/clerk-js/src/ui/elements/Drawer.tsx
Due: pnpm eslint --fix, pnpm prettier --write

add changeset
  .changeset/fast-rocks-repeat.md
Due: pnpm prettier --write

rename
  integration/tests/resiliency.test.ts
Due: pnpm eslint --fix, pnpm prettier --write

remove flaky part
  integration/tests/resiliency.test.ts
Due: pnpm eslint --fix, pnpm prettier --write

bump bundlewatch.config.json
  packages/clerk-js/bundlewatch.config.json
Due: pnpm prettier --write

feat(clerk-js): Allow token refresh when Client failed to resolve (#5345)
  .changeset/good-penguins-agree.md
  integration/testUtils/index.ts
  integration/tests/resiliency.test.ts
  integration/tests/reverification.test.ts
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/core/auth/AuthCookieService.ts
  packages/clerk-js/src/core/auth/SessionCookiePoller.ts
  packages/clerk-js/src/core/auth/cookies/session.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/jwt-client.ts
  packages/clerk-js/src/core/resources/Client.ts
  packages/clerk-js/src/core/resources/Organization.ts
  packages/clerk-js/src/core/resources/OrganizationMembership.ts
  packages/clerk-js/src/core/resources/PublicUserData.ts
  packages/clerk-js/src/core/resources/Session.ts
  packages/clerk-js/src/core/resources/User.ts
  packages/clerk-js/src/core/resources/__tests__/__snapshots__/Client.test.ts.snap
  packages/types/src/json.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix(clerk-js): Navigate to `factor-two` when authenticate with web3 and response status is `needs_second_factor`
  .changeset/new-plants-lick.md
  packages/clerk-js/src/core/clerk.ts
Due: pnpm eslint --fix, pnpm prettier --write

chore(e2e): Compare tokens on client recovery
  .changeset/serious-tools-jump.md
  integration/tests/resiliency.test.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix(backend): Missing invitation status `expired` (#5335)
  .changeset/calm-files-confess.md
  packages/backend/src/api/resources/Enums.ts
Due: pnpm eslint --fix, pnpm prettier --write

rename examples folder to docs
  packages/react/.gitignore
  packages/react/docs/use-auth.md
  packages/react/docs/use-sign-in.md
  packages/react/docs/use-sign-up.md
  packages/react/src/hooks/useAuth.ts
  packages/react/src/hooks/useSignIn.ts
  packages/react/src/hooks/useSignUp.ts
  packages/shared/.gitignore
  packages/shared/docs/use-clerk.md
  packages/shared/docs/use-session-list.md
  packages/shared/docs/use-session.md
  packages/shared/docs/use-user.md
  packages/shared/src/react/hooks/useClerk.ts
  packages/shared/src/react/hooks/useSession.ts
  packages/shared/src/react/hooks/useSessionList.ts
  packages/shared/src/react/hooks/useUser.ts
Due: pnpm eslint --fix, pnpm prettier --write

chore(repo): Do not pin Renovate version (#5382)
  .github/workflows/validate-renovate-config.yml
Due: none

chore(shared,clerk-react,types): Improve Typedoc (#5372)
  .changeset/green-donuts-press.md
  .typedoc/custom-plugin.mjs
  .typedoc/custom-theme.mjs
  .typedoc/typedoc-prettier-config.json
  package.json
  packages/react/.gitignore
  packages/react/docs/use-auth.md
  packages/react/docs/use-sign-in.md
  packages/react/docs/use-sign-up.md
  packages/react/src/hooks/useAuth.ts
  packages/react/src/hooks/useSignIn.ts
  packages/react/src/hooks/useSignUp.ts
  packages/shared/.gitignore
  packages/shared/docs/use-clerk.md
  packages/shared/docs/use-session-list.md
  packages/shared/docs/use-session.md
  packages/shared/docs/use-user.md
  packages/shared/src/react/hooks/useClerk.ts
  packages/shared/src/react/hooks/useOrganization.tsx
  packages/shared/src/react/hooks/useOrganizationList.tsx
  packages/shared/src/react/hooks/useSession.ts
  packages/shared/src/react/hooks/useSessionList.ts
  packages/shared/src/react/hooks/useUser.ts
  packages/shared/src/react/types.ts
  packages/shared/typedoc.json
  packages/types/src/clerk.ts
  packages/types/src/pagination.ts
  typedoc.config.mjs
Due: pnpm eslint --fix, pnpm prettier --write

type fix
  packages/expo-passkeys/src/utils.ts
Due: pnpm eslint --fix, pnpm prettier --write

chore(repo): Remove unused `@hcaptcha/types`
  .changeset/serious-toes-yell.md
  package.json
  pnpm-lock.yaml
Due: pnpm prettier --write

chore(e2e): Compare tokens on client recovery (#5387)
  .changeset/serious-tools-jump.md
  integration/tests/resiliency.test.ts
Due: pnpm eslint --fix, pnpm prettier --write

Revert "chore(repo): Remove unused `@hcaptcha/types`"
  .changeset/serious-toes-yell.md
  package.json
  pnpm-lock.yaml
Due: pnpm prettier --write

chore(nextjs): Refactor keyless orchestration
  packages/nextjs/src/app-router/server/ClerkProvider.tsx
  packages/nextjs/src/app-router/server/keyless-provider.tsx
  packages/nextjs/src/app-router/server/logger.ts
  packages/nextjs/src/types.ts
Due: pnpm eslint --fix, pnpm prettier --write

remove changeset
  .changeset/hungry-avocados-warn.md
Due: pnpm prettier --write

revert
  packages/nextjs/src/server/keyless-node.ts
  packages/nextjs/src/utils/debugLogger.ts
Due: pnpm eslint --fix, pnpm prettier --write

chore(repo): Remove unused `@hcaptcha/types` (#5388)
  .changeset/serious-toes-yell.md
  package.json
  pnpm-lock.yaml
Due: pnpm prettier --write

refactor(clerk-js): Default `<Drawer.Confirmation />` to `alertdialog` role (#5383)
  .changeset/fast-rocks-repeat.md
  packages/clerk-js/src/ui/elements/Drawer.tsx
Due: pnpm eslint --fix, pnpm prettier --write

TODOs
  packages/clerk-js/src/ui/components/Checkout/CheckoutForm.tsx
Due: pnpm eslint --fix, pnpm prettier --write

feat(clerk-js,types): Refactor `<Checkout />` components (#5359)
  .changeset/twenty-ducks-pump.md
  packages/clerk-js/src/ui/components/Checkout/Checkout.tsx
  packages/clerk-js/src/ui/components/Checkout/CheckoutComplete.tsx
  packages/clerk-js/src/ui/components/Checkout/CheckoutForm.tsx
  packages/clerk-js/src/ui/components/Checkout/CheckoutPage.tsx
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/clerk-js/src/ui/elements/Drawer.tsx
  packages/types/src/appearance.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix(clerk-js): Use the new useReverification
  packages/clerk-js/src/ui/components/UserProfile/Web3Section.tsx
Due: pnpm eslint --fix, pnpm prettier --write
