Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

fix(clerk-js): Do not send stale field value when updating username
  packages/clerk-js/src/ui/components/UserProfile/UsernameForm.tsx
Due: npx eslint --fix, npx prettier --write

chore(vue): Unmount any existing elements for custom pages
  packages/vue/src/utils/useCustomPages.ts
Due: npx eslint --fix, npx prettier --write

signup continue navigation
  packages/clerk-js/src/ui/components/SignUp/SignUpContinue.tsx
Due: npx eslint --fix, npx prettier --write

implement retry mechanism for resources after initialization fails
  packages/clerk-js/src/core/clerk.ts
  packages/expo/src/provider/singleton/createClerkInstance.ts
Due: npx eslint --fix, npx prettier --write

chore(vue): Add unique id to mounted elem,ents
  packages/vue/src/utils/useCustomElementPortal.ts
  packages/vue/src/utils/useCustomPages.ts
Due: npx eslint --fix, npx prettier --write

Do not send stale field value when updating username
  packages/clerk-js/src/ui/components/UserProfile/UsernameForm.tsx
Due: npx eslint --fix, npx prettier --write

chore(vue): Fix actual organization profile pages
  packages/vue/src/components/uiComponents.ts
  packages/vue/src/types.ts
Due: npx eslint --fix, npx prettier --write

chore(vue): Fix injection key
  packages/vue/src/components/uiComponents.ts
Due: npx eslint --fix, npx prettier --write

test(vue): Update reordered items
  integration/templates/vue-vite/src/views/custom-pages/OrganizationProfile.vue
Due: none

Update changeset
  .changeset/lucky-shrimps-switch.md
Due: npx prettier --write

fix(clerk-js): Do not send stale field value when creating email address and username (#4713)
  .changeset/lucky-shrimps-switch.md
  packages/clerk-js/src/ui/components/UserProfile/EmailForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/UsernameForm.tsx
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Detect if SignUp is rendered within SignIn
  packages/clerk-js/src/ui/components/SignUp/SignUpContinue.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpStart.tsx
Due: npx eslint --fix, npx prettier --write

fix(elements): Restore type cast removed by eslint
  packages/elements/src/internals/machines/sign-in/verification.machine.ts
Due: npx eslint --fix, npx prettier --write

fix(react): Use derived state over local state in useAuth
  .changeset/red-cats-approve.md
  packages/react/src/hooks/useAuth.ts
Due: npx eslint --fix, npx prettier --write

chore(vue): Add custom pages and links (#4708)
  .changeset/four-beans-argue.md
  integration/templates/vue-vite/src/components/CustomUserButton.vue
  integration/templates/vue-vite/src/router.ts
  integration/templates/vue-vite/src/views/custom-pages/OrganizationProfile.vue
  integration/templates/vue-vite/src/views/custom-pages/UserProfile.vue
  integration/tests/vue/components.test.ts
  packages/vue/src/components/uiComponents.ts
  packages/vue/src/errors/messages.ts
  packages/vue/src/keys.ts
  packages/vue/src/types.ts
  packages/vue/src/utils/useCustomElementPortal.ts
  packages/vue/src/utils/useCustomPages.ts
Due: npx eslint --fix, npx prettier --write

use undefined over void 0
  packages/react/src/hooks/useAuth.ts
Due: npx eslint --fix, npx prettier --write

chore(shared,types): Move constants from types to shared
  .changeset/curvy-sloths-dress.md
  .changeset/honest-news-peel.md
  .changeset/quiet-timers-mate.md
  packages/clerk-js/src/ui/common/constants.ts
  packages/clerk-js/src/ui/hooks/useEnabledThirdPartyProviders.tsx
  packages/elements/src/utils/third-party-strategies.ts
  packages/shared/src/oauth.ts
  packages/shared/src/web3.ts
  packages/types/src/web3.ts
  packages/ui/src/descriptors.ts
Due: npx eslint --fix, npx prettier --write

update changeset
  .changeset/clean-pigs-hope.md
Due: npx prettier --write

missing package json change
  packages/shared/package.json
Due: npx prettier --write

minor changes in file writing
  packages/nextjs/src/server/keyless-node.ts
Due: npx eslint --fix, npx prettier --write

updates
  packages/react-router/src/client/ReactRouterClerkProvider.tsx
  packages/react-router/src/client/usePathnameWithoutSplatRouteParams.tsx
  packages/react-router/src/utils/errors.ts
Due: npx eslint --fix, npx prettier --write

add new playground
  playground/react-router-node/.eslintrc.cjs
  playground/react-router-node/.gitignore
  playground/react-router-node/README.md
  playground/react-router-node/app/entry.client.tsx
  playground/react-router-node/app/entry.server.tsx
  playground/react-router-node/app/root.tsx
  playground/react-router-node/app/routes.ts
  playground/react-router-node/app/routes/index.tsx
  playground/react-router-node/app/routes/protected.tsx
  playground/react-router-node/app/routes/sign-in.tsx
  playground/react-router-node/app/routes/sign-up.tsx
  playground/react-router-node/package.json
  playground/react-router-node/public/favicon.ico
  playground/react-router-node/react-router.config.ts
  playground/react-router-node/tsconfig.json
  playground/react-router-node/vite.config.ts
  playground/react-router/.env.example
  playground/react-router/.gitignore
  playground/react-router/README.md
  playground/react-router/app/app.css
  playground/react-router/app/root.tsx
  playground/react-router/app/routes.ts
  playground/react-router/app/routes/home.tsx
  playground/react-router/app/routes/profile-form.tsx
  playground/react-router/app/routes/profile.tsx
  playground/react-router/app/routes/sign-in.tsx
  playground/react-router/app/routes/sign-up.tsx
  playground/react-router/app/routes/use-auth.tsx
  playground/react-router/app/routes/use-user.tsx
  playground/react-router/app/welcome/logo-dark.svg
  playground/react-router/app/welcome/logo-light.svg
  playground/react-router/app/welcome/welcome.tsx
  playground/react-router/package.json
  playground/react-router/public/favicon.ico
  playground/react-router/react-router.config.ts
  playground/react-router/tailwind.config.ts
  playground/react-router/tsconfig.json
  playground/react-router/vite.config.ts
Due: npx eslint --fix, npx prettier --write

add changesets
  .changeset/brown-items-reflect.md
  .changeset/dry-cats-change.md
  .changeset/grumpy-camels-think.md
  .changeset/itchy-cats-drive.md
  .changeset/poor-books-hug.md
  .changeset/warm-spiders-develop.md
Due: npx prettier --write

chore(shared,types): Move constants from types to shared (#4716)
  .changeset/curvy-sloths-dress.md
  .changeset/honest-news-peel.md
  .changeset/quiet-timers-mate.md
  packages/clerk-js/src/ui/common/constants.ts
  packages/clerk-js/src/ui/hooks/useEnabledThirdPartyProviders.tsx
  packages/elements/src/utils/third-party-strategies.ts
  packages/shared/package.json
  packages/shared/src/oauth.ts
  packages/shared/src/web3.ts
  packages/types/src/web3.ts
  packages/ui/src/descriptors.ts
Due: npx eslint --fix, npx prettier --write

use is4xxError from shared
  packages/expo/src/provider/singleton/createClerkInstance.ts
Due: npx eslint --fix, npx prettier --write

Update .changeset/afraid-pumas-design.md
  .changeset/afraid-pumas-design.md
Due: npx prettier --write

Apply suggestions from code review
  .changeset/dry-cats-change.md
  .changeset/grumpy-camels-think.md
  .changeset/itchy-cats-drive.md
Due: npx prettier --write

chore(localizations): Ensure tests pass
  packages/localizations/src/en-US.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Move signup id check into an effect within continue step (#4711)
  .changeset/clean-rivers-sleep.md
  packages/clerk-js/src/ui/components/SignUp/SignUpContinue.tsx
Due: npx eslint --fix, npx prettier --write

use next/headers
  packages/nextjs/src/app-router/keyless-actions.ts
Due: npx eslint --fix, npx prettier --write

feat(localizations): Update translations for multiple languages (#4700)
  .changeset/witty-icons-turn.md
  packages/localizations/src/be-BY.ts
  packages/localizations/src/bg-BG.ts
  packages/localizations/src/ca-ES.ts
  packages/localizations/src/cs-CZ.ts
  packages/localizations/src/da-DK.ts
  packages/localizations/src/de-DE.ts
  packages/localizations/src/en-US.ts
  packages/localizations/src/es-ES.ts
  packages/localizations/src/fr-FR.ts
  packages/localizations/src/it-IT.ts
  packages/localizations/src/nl-NL.ts
  packages/localizations/src/pt-BR.ts
  packages/localizations/src/pt-PT.ts
  packages/localizations/src/tr-TR.ts
Due: npx eslint --fix, npx prettier --write

Add changeset
  .changeset/young-lemons-marry.md
Due: npx prettier --write

keep `#safe-node-apis` imports simple
  packages/nextjs/package.cjs.json
  packages/nextjs/package.esm.json
Due: npx prettier --write

fix(localizations): Update translations and fix typos in `ru-RU` (#4695)
  .changeset/young-lemons-marry.md
  packages/localizations/src/ru-RU.ts
Due: npx eslint --fix, npx prettier --write

chore(localizations): Add changeset
  .changeset/smooth-colts-shake.md
Due: npx prettier --write

fix(localizations): Remove duplicate key
  packages/localizations/src/pt-BR.ts
Due: npx eslint --fix, npx prettier --write

fix(localizations): Fix formatting
  packages/localizations/src/pt-BR.ts
Due: npx eslint --fix, npx prettier --write

Path conditions:
  npx eslint --fix: any of: *.{mjs,js,jsx,ts,tsx}
  npx prettier --write: (any of: *.{mjs,js,jsx,ts,tsx}) or (any of: *.{json,md,mdx})
