Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["npx prettier --write", "npx eslint --fix"],
  "*.{json,md,mdx}": ["npx prettier --write"]
}

BREAKING(remix): Remix v2 stable support (#1739)
  .changeset/chilled-points-care.md
  package-lock.json
  packages/remix/README.md
  packages/remix/api.server.d.ts
  packages/remix/api.server.js
  packages/remix/package.json
  packages/remix/src/client/ClerkCatchBoundary.tsx
  packages/remix/src/client/ClerkErrorBoundary.tsx
  packages/remix/src/client/index.ts
  packages/remix/ssr.server.d.ts
  packages/remix/ssr.server.js
  playground/remix-cf-pages/app/root.tsx
  playground/remix-cf-pages/package.json
  playground/remix-cf-worker/package.json
  playground/remix-node/app/root.tsx
  playground/remix-node/package.json
Due: npx prettier --write, npx eslint --fix

feat(shared): Introduce isDevelopmentEnvironment() helper to identify runtime environment
  .changeset/strong-keys-greet.md
  packages/shared/src/utils/index.ts
  packages/shared/src/utils/runtimeEnvironment.ts
Due: npx prettier --write, npx eslint --fix

fix(fastify): Use dummy base url and isomorphicRequest for requestUrl
  packages/fastify/src/withClerkMiddleware.ts
Due: npx prettier --write, npx eslint --fix

fix(backend): Split jwt assertions to separate module
  .changeset/lazy-papayas-vanish.md
  packages/backend/src/tokens/jwt/assertions.test.ts
  packages/backend/src/tokens/jwt/assertions.ts
  packages/backend/src/tokens/jwt/verifyJwt.ts
Due: npx prettier --write, npx eslint --fix

chore(fastify): Warn about CLERK_API_KEY environment variable deprecation
  package-lock.json
  packages/fastify/package.json
  packages/fastify/src/constants.ts
Due: npx prettier --write, npx eslint --fix

chore(fastify): Warn about CLERK_FRONTEND_API environment variable deprecation
  .changeset/nervous-ducks-battle.md
  packages/fastify/src/constants.ts
Due: npx prettier --write, npx eslint --fix

feat(clerk-js): Ability to enforce password reset OAuth callback (#1757)
  .changeset/wet-icons-rest.md
  packages/clerk-js/src/core/clerk.test.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/components/SignIn/ResetPassword.tsx
  packages/clerk-js/src/ui/components/SignIn/SignIn.tsx
  packages/clerk-js/src/ui/components/SignIn/__tests__/ResetPassword.test.tsx
  packages/localizations/src/el-GR.ts
  packages/localizations/src/en-US.ts
  packages/types/src/clerk.ts
  packages/types/src/localization.ts
Due: npx prettier --write, npx eslint --fix

chore(clerk-expo): Upgrade react-native-url-polyfill from 1.3.0 to 2.0.0
  package-lock.json
Due: npx prettier --write

chore(clerk-expo): Upgrade react-native-url-polyfill from 1.3.0 to 2.0.0
  package-lock.json
  packages/expo/package.json
Due: npx prettier --write

chore(repo): Adds changeset
  .changeset/stupid-tips-destroy.md
Due: npx prettier --write

fix(clerk-js): Add option to opt-in for password debounce
  packages/clerk-js/src/ui/components/SignIn/ResetPassword.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorOnePasswordCard.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpStart.tsx
  packages/clerk-js/src/ui/components/UserProfile/PasswordPage.tsx
  packages/clerk-js/src/ui/elements/FormControl.tsx
  packages/clerk-js/src/ui/utils/useFormControl.ts
Due: npx prettier --write, npx eslint --fix

fix(clerk-js): Hide password feedback when user is typing
  .changeset/lazy-rice-warn.md
  packages/clerk-js/src/ui/components/SignIn/ResetPassword.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpStart.tsx
  packages/clerk-js/src/ui/components/UserProfile/PasswordPage.tsx
  packages/clerk-js/src/ui/elements/FormControl.tsx
  packages/clerk-js/src/ui/utils/useFormControl.ts
Due: npx prettier --write, npx eslint --fix

chore(clerk-expo): Upgrade react-native-url-polyfill from 1.3.0 to 2.0.0 (#1773)
  .changeset/stupid-tips-destroy.md
  package-lock.json
  packages/expo/package.json
Due: npx prettier --write

chore(repo): Enable merge queues (#1771)
  .github/workflows/quality.yml
Due: none

fix(clerk-js,shared): Safer usage of localStorage
  packages/clerk-js/src/ui/hooks/useLocalStorage.ts
  packages/shared/src/utils/localStorageBroadcastChannel.ts
Due: npx prettier --write, npx eslint --fix

Create five-swans-dream.md
  .changeset/five-swans-dream.md
Due: npx prettier --write

chore(repo): Check changeset against origin/main
  .changeset/config.json
  .changeset/lovely-donuts-wave.md
Due: npx prettier --write

fix(remix): Ensure interstitial is triggered on route transitions
  packages/remix/src/client/ClerkErrorBoundary.tsx
Due: npx prettier --write, npx eslint --fix

chore(repo): Adds changeset
  .changeset/blue-laws-prove.md
Due: npx prettier --write

chore(clerk-js): Warn about Clerk.getOrganizationMemberships() deprecation
  packages/clerk-js/src/core/clerk.ts
Due: npx prettier --write, npx eslint --fix

chore(clerk-js): Warn about Organization.create(a: string) deprecation
  packages/clerk-js/src/core/resources/Organization.ts
Due: npx prettier --write, npx eslint --fix

chore(clerk-js): Warn about Organization.retrieve limit & offset deprecation
  packages/clerk-js/src/core/resources/OrganizationMembership.ts
Due: npx prettier --write, npx eslint --fix

chore(clerk-js): Warn about svgUrl deprecation
  packages/clerk-js/src/ui/common/constants.ts
Due: npx prettier --write, npx eslint --fix

chore(clerk-js): Add changeset for clerk-js deprecation warnings
  .changeset/four-chairs-lay.md
Due: npx prettier --write

chore(clerk-js): Warn about avatarUrl/logoUrl/faviconUrl/profileImageUrl deprecations
  packages/clerk-js/src/core/resources/DisplayConfig.ts
  packages/clerk-js/src/core/resources/ExternalAccount.ts
  packages/clerk-js/src/core/resources/Organization.ts
  packages/clerk-js/src/core/resources/OrganizationMembership.ts
  packages/clerk-js/src/core/resources/OrganizationMembershipRequest.ts
  packages/clerk-js/src/core/resources/User.ts
Due: npx prettier --write, npx eslint --fix

feat(clerk-react): Add versionSelector helper
  packages/react/src/globals.d.ts
  packages/react/src/utils/__tests__/versionSelector.test.ts
  packages/react/src/utils/loadClerkJsScript.ts
  packages/react/src/utils/versionSelector.ts
  packages/react/tsup.config.ts
Due: npx prettier --write, npx eslint --fix

Create neat-needles-poke.md
  .changeset/neat-needles-poke.md
Due: npx prettier --write

fix(clerk-js): Improve error message feedback during Organization invitation
  .changeset/four-brooms-live.md
  packages/clerk-js/src/ui/components/OrganizationProfile/InviteMembersForm.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/InviteMembersPage.test.tsx
  packages/clerk-js/src/ui/elements/Alert.tsx
  packages/localizations/src/en-US.ts
Due: npx prettier --write, npx eslint --fix

test(clerk-js): Use `getInvitations` instead of getPendingInvitations
  packages/clerk-js/src/core/resources/__snapshots__/Organization.test.ts.snap
  packages/clerk-js/src/core/resources/__snapshots__/OrganizationMembership.test.ts.snap
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/OrganizationMembers.test.tsx
Due: npx prettier --write, npx eslint --fix

chore(shared): Use deprecate helper for useOrganization
  packages/clerk-js/src/core/resources/Organization.ts
  packages/shared/src/hooks/useOrganization.tsx
Due: npx prettier --write, npx eslint --fix

feat(shared): Introduce `invitations` and deprecate `invitationList` from useOrganization
  .changeset/fast-books-kiss.md
  packages/clerk-js/src/ui/components/OrganizationProfile/InvitedMembersList.tsx
  packages/shared/src/hooks/useOrganization.tsx
Due: npx prettier --write, npx eslint --fix

feat(clerk-js): Introduce `Organization.getInvitations` and deprecate `getPendingInvitations`
  .changeset/three-carrots-remain.md
  packages/clerk-js/src/core/resources/Organization.ts
  packages/types/src/organization.ts
Due: npx prettier --write, npx eslint --fix

chore(shared): Deprecate `invitationList` from useOrganization
  packages/shared/src/hooks/useOrganization.tsx
Due: npx prettier --write, npx eslint --fix
