Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{mjs,js,jsx,ts,tsx}": ["npx eslint --fix", "npx prettier --write"],
  "*.{json,md,mdx}": ["npx prettier --write"]
}

feat(clerk-js): Experimental CRUD methods for passkeys
  .changeset/wet-carpets-double.md
  packages/clerk-js/src/core/resources/Passkey.ts
  packages/clerk-js/src/core/resources/User.ts
  packages/clerk-js/src/utils/passkeys.ts
  packages/types/src/json.ts
  packages/types/src/passkey.ts
  packages/types/src/user.ts
Due: npx eslint --fix, npx prettier --write

feat(backend): Signing a JWT respects 'iat' claim
  .changeset/rare-chefs-invent.md
  packages/backend/src/jwt/__tests__/signJwt.test.ts
  packages/backend/src/jwt/signJwt.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Update BUG_REPORT template
  .github/ISSUE_TEMPLATE/BUG_REPORT.yml
Due: none

chore(repo): Update BUG_REPORT template (#2929)
  .github/ISSUE_TEMPLATE/BUG_REPORT.yml
Due: none

fix(clerk-js): Show errors when invalid email submitted when inviting members to an Org
  .changeset/thirty-news-mate.md
  packages/clerk-js/src/ui/components/OrganizationProfile/InviteMembersForm.tsx
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Make error localizable
  packages/clerk-js/src/ui/components/OrganizationProfile/InviteMembersForm.tsx
Due: npx eslint --fix, npx prettier --write

fix(shared): Account for legacy frontendApi keys in buildPublishableKey
  packages/shared/src/__tests__/keys.test.ts
  packages/shared/src/keys.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Version packages (beta) (#2925)
  .changeset/pre.json
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/package.json
  packages/shared/package.json
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Due: npx prettier --write

fix(elements): Fix React StrictMode issues [SDK-1455]
  packages/elements/src/internals/machines/sign-in/machines/router.machine.ts
  packages/elements/src/internals/machines/sign-in/types/router.types.ts
  packages/elements/src/internals/machines/sign-up/machines/router.machine.ts
  packages/elements/src/internals/machines/sign-up/types/router.types.ts
  packages/elements/src/react/sign-in/context/router.context.ts
  packages/elements/src/react/sign-in/root.tsx
  packages/elements/src/react/sign-up/context/router.context.ts
  packages/elements/src/react/sign-up/root.tsx
Due: npx eslint --fix, npx prettier --write

chore(repo): Add changeset
  .changeset/tidy-guests-dance.md
Due: npx prettier --write

chore(repo): Version packages (beta) (#2931)
  .changeset/pre.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
Due: npx prettier --write

fix(clerk-js): Convert nested div to span inside button elements
  .changeset/lucky-bees-whisper.md
  packages/clerk-js/src/ui/components/UserButton/UserButtonTrigger.tsx
  packages/clerk-js/src/ui/elements/Actions.tsx
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Fix OrganizationSwitcher to use valid HTML
  packages/clerk-js/src/ui/common/NotificationCountBadge.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/OrganizationSwitcher.tsx
  packages/clerk-js/src/ui/elements/OrganizationPreview.tsx
  packages/clerk-js/src/ui/elements/UserPreview.tsx
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Fix UserButton to use valid HTML
  packages/clerk-js/src/ui/components/UserButton/UserButton.tsx
  packages/clerk-js/src/ui/components/UserButton/UserButtonTopLevelIdentifier.tsx
  packages/clerk-js/src/ui/elements/Avatar.tsx
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Fix SignIn/SignUp to use valid HTML
  packages/clerk-js/src/ui/elements/ArrowBlockButton.tsx
  packages/clerk-js/src/ui/elements/PhoneInput/PhoneInput.tsx
  packages/clerk-js/src/ui/elements/SocialButtons.tsx
  packages/clerk-js/src/ui/primitives/Input.tsx
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Fix tests
  packages/clerk-js/src/ui/elements/__tests__/PlainInput.test.tsx
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Fix OrganizationList to use valid HTML
  packages/clerk-js/src/ui/components/OrganizationList/OrganizationListPage.tsx
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Fix UserProfile/OrganizationProfile to use valid HTML
  packages/clerk-js/src/ui/components/UserProfile/ConnectedAccountsSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/EmailsSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/EnterpriseAccountsSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/Web3Section.tsx
  packages/clerk-js/src/ui/elements/Select.tsx
  packages/clerk-js/src/ui/elements/Tabs.tsx
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Alter the changeset message
  .changeset/lucky-bees-whisper.md
Due: npx prettier --write

fix(clerk-js): Show errors when invalid email submitted when inviting members to an Org (#2928)
  .changeset/thirty-news-mate.md
  packages/clerk-js/src/ui/components/OrganizationProfile/InviteMembersForm.tsx
Due: npx eslint --fix, npx prettier --write

chore(elements): Bump version
  .changeset/quiet-toes-hide.md
  packages/elements/package.json
Due: npx prettier --write

fix(clerk-js): Show counter of members/invitations/requests even if it is 0
  .changeset/sweet-queens-tan.md
  packages/clerk-js/src/ui/common/NotificationCountBadge.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationMembers.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/OrganizationMembers.test.tsx
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Add `aria-expanded` attribute on UserButton/OrganizationSwitcher
  packages/clerk-js/src/ui/components/OrganizationSwitcher/OrganizationSwitcher.tsx
  packages/clerk-js/src/ui/components/UserButton/UserButton.tsx
Due: npx eslint --fix, npx prettier --write

Correct the HTML structure of the UI components to ensure validity (#2894)
  .changeset/lucky-bees-whisper.md
  packages/clerk-js/src/ui/common/NotificationCountBadge.tsx
  packages/clerk-js/src/ui/components/OrganizationList/OrganizationListPage.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/OrganizationSwitcher.tsx
  packages/clerk-js/src/ui/components/UserButton/UserButton.tsx
  packages/clerk-js/src/ui/components/UserButton/UserButtonTopLevelIdentifier.tsx
  packages/clerk-js/src/ui/components/UserButton/UserButtonTrigger.tsx
  packages/clerk-js/src/ui/components/UserProfile/ConnectedAccountsSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/EmailsSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/EnterpriseAccountsSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/Web3Section.tsx
  packages/clerk-js/src/ui/elements/Actions.tsx
  packages/clerk-js/src/ui/elements/ArrowBlockButton.tsx
  packages/clerk-js/src/ui/elements/Avatar.tsx
  packages/clerk-js/src/ui/elements/OrganizationPreview.tsx
  packages/clerk-js/src/ui/elements/PhoneInput/PhoneInput.tsx
  packages/clerk-js/src/ui/elements/Select.tsx
  packages/clerk-js/src/ui/elements/SocialButtons.tsx
  packages/clerk-js/src/ui/elements/Tabs.tsx
  packages/clerk-js/src/ui/elements/UserPreview.tsx
  packages/clerk-js/src/ui/elements/__tests__/PlainInput.test.tsx
  packages/clerk-js/src/ui/primitives/Input.tsx
Due: npx eslint --fix, npx prettier --write

fix(elements): React StrictMode issues (#2933)
  .changeset/quiet-toes-hide.md
  packages/elements/package.json
  packages/elements/src/internals/machines/sign-in/machines/router.machine.ts
  packages/elements/src/internals/machines/sign-in/types/router.types.ts
  packages/elements/src/internals/machines/sign-up/machines/router.machine.ts
  packages/elements/src/internals/machines/sign-up/types/router.types.ts
  packages/elements/src/react/sign-in/context/router.context.ts
  packages/elements/src/react/sign-in/root.tsx
  packages/elements/src/react/sign-up/context/router.context.ts
  packages/elements/src/react/sign-up/root.tsx
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Show counter of members/invitations/requests even if it is 0 (#2935)
  .changeset/sweet-queens-tan.md
  packages/clerk-js/src/ui/common/NotificationCountBadge.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationMembers.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/OrganizationMembers.test.tsx
Due: npx eslint --fix, npx prettier --write

chore(elements): Update peerDeps
  packages/elements/package.json
Due: npx prettier --write

chore(elements): Bump version
  .changeset/wicked-bears-laugh.md
Due: npx prettier --write

fix(localizations): Update the danger section in the `es-ES` localization
  .changeset/afraid-eyes-relate.md
  package-lock.json
  packages/localizations/src/en-US.ts
  packages/localizations/src/es-ES.ts
Due: npx eslint --fix, npx prettier --write

chore(localizations): Sync package-lock.json from main
  package-lock.json
Due: npx prettier --write

chore(repo): Update lock file
  package-lock.json
Due: npx prettier --write

chore(localizations): Updated title for dangerSection title
  packages/localizations/src/es-ES.ts
Due: npx eslint --fix, npx prettier --write

fix(elements): Require Core 2 Beta as peerDeps (#2937)
  .changeset/wicked-bears-laugh.md
  packages/elements/package.json
Due: npx prettier --write

chore(clerk-react): Stricter types for custom pages
  .changeset/rotten-ligers-move.md
  packages/react/src/types.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Fix nextjs playground script
  playground/nextjs/package.json
Due: npx prettier --write

chore(clerk-react): Stricter types for custom pages (#2939)
  .changeset/rotten-ligers-move.md
  packages/react/src/types.ts
Due: npx eslint --fix, npx prettier --write

feat(elements): Custom icons
  packages/elements/assets/icons/github.svg
  packages/elements/assets/icons/google.svg
  packages/elements/assets/icons/metamask.svg
  packages/elements/assets/icons/template.js
  packages/elements/examples/nextjs/app/sign-in/[[...sign-in]]/page.tsx
  packages/elements/examples/nextjs/app/sign-up/[[...sign-up]]/page.tsx
  packages/elements/package.json
  packages/elements/src/react/common/index.ts
  packages/elements/src/react/common/third-party-providers/social-provider.tsx
  packages/elements/src/react/icons/README.md
  packages/elements/src/react/icons/github.tsx
  packages/elements/src/react/icons/google.tsx
  packages/elements/src/react/icons/index.ts
  packages/elements/src/react/icons/metamask.tsx
  packages/elements/src/react/sign-in/index.ts
  packages/elements/src/react/sign-in/social-providers.tsx
  packages/elements/src/react/sign-up/index.ts
  packages/elements/src/react/sign-up/social-providers.tsx
  packages/elements/tsup.config.ts
Due: npx eslint --fix, npx prettier --write

chore(elements): Add changeset
  .changeset/rude-singers-melt.md
Due: npx prettier --write

feat(clerk-js): Experimental CRUD methods for passkeys (#2926)
  .changeset/wet-carpets-double.md
  packages/clerk-js/src/core/resources/Passkey.ts
  packages/clerk-js/src/core/resources/User.ts
  packages/clerk-js/src/utils/passkeys.ts
  packages/types/src/json.ts
  packages/types/src/passkey.ts
  packages/types/src/user.ts
Due: npx eslint --fix, npx prettier --write
