Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{mjs,js,jsx,ts,tsx}": ["npx eslint --fix", "npx prettier --write"],
  "*.{json,md,mdx}": ["npx prettier --write"]
}

WIP
  .changeset/honest-impalas-grin.md
Due: npx prettier --write

fix(clerk-js): Update turbo.json config (#4460)
  .changeset/honest-impalas-grin.md
  packages/clerk-js/turbo.json
Due: npx prettier --write

WIP
  package-lock.json
  packages/backend/package.json
Due: npx prettier --write

fix(nextjs): Import helper from subpath to avoid static analysis warnings
  packages/nextjs/src/server/createGetAuth.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Disallow imports root level imports from @clerk/shared
  packages/eslint-config-custom/_base.js
  packages/eslint-config-custom/react.js
Due: npx eslint --fix, npx prettier --write

Create early-steaks-yawn.md
  .changeset/early-steaks-yawn.md
Due: npx prettier --write

chore(repo): Disallow imports root level imports from @clerk/shared
  packages/eslint-config-custom/_base.js
  packages/eslint-config-custom/react.js
  packages/react/src/components/uiComponents.tsx
  packages/react/src/utils/useCustomMenuItems.tsx
  packages/react/src/utils/useCustomPages.tsx
  packages/shared/package.json
  packages/shared/src/index.ts
  packages/shared/subpaths.mjs
  packages/shared/tsup.config.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Bump node to 22
  .github/actions/init/action.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

chore(repo): Fix shared imports
  packages/shared/package.json
Due: npx prettier --write

Create metal-mails-explode.md
  .changeset/metal-mails-explode.md
Due: npx prettier --write

Update packages/shared/src/index.ts
  packages/shared/src/index.ts
Due: npx eslint --fix, npx prettier --write

Added withFAPIHeaders resolver
  packages/backend/src/api/__tests__/factory.test.ts
  packages/backend/src/constants.ts
  packages/backend/src/mock-server.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Temporarily ignore expo-passkeys pkg
  .changeset/config.json
  .changeset/happy-pants-fetch.md
  packages/expo-passkeys/package.json
Due: npx prettier --write

Assert correct headers are being sent
  packages/backend/src/mock-server.ts
  packages/backend/src/tokens/__tests__/authStatus.test.ts
  packages/backend/src/tokens/__tests__/keys.test.ts
  packages/backend/src/tokens/__tests__/verify.test.ts
  packages/backend/src/tokens/keys.ts
Due: npx eslint --fix, npx prettier --write

Update packages/clerk-js/src/core/__tests__/fapiClient.test.ts
  packages/clerk-js/src/core/__tests__/fapiClient.test.ts
Due: npx eslint --fix, npx prettier --write

WIP
  packages/expo-passkeys/package.json
Due: npx prettier --write

chore(repo): Format
  packages/expo-passkeys/package.json
Due: npx prettier --write

WIP
  packages/backend/src/api/request.ts
  packages/backend/src/constants.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Trigger release
  .changeset/bright-ducks-enjoy.md
  .changeset/cool-days-tell.md
  .changeset/early-steaks-yawn.md
  .changeset/honest-impalas-grin.md
  .changeset/metal-mails-explode.md
  .changeset/modern-chicken-crash.md
  .changeset/modern-snails-obey.md
  .changeset/purple-eels-fix.md
  packages/astro/CHANGELOG.md
  packages/backend/CHANGELOG.md
  packages/chrome-extension/CHANGELOG.md
  packages/clerk-js/CHANGELOG.md
  packages/elements/CHANGELOG.md
  packages/expo/CHANGELOG.md
  packages/express/CHANGELOG.md
  packages/fastify/CHANGELOG.md
  packages/localizations/CHANGELOG.md
  packages/nextjs/CHANGELOG.md
  packages/react/CHANGELOG.md
  packages/remix/CHANGELOG.md
  packages/sdk-node/CHANGELOG.md
  packages/shared/CHANGELOG.md
  packages/tanstack-start/CHANGELOG.md
  packages/testing/CHANGELOG.md
  packages/ui/CHANGELOG.md
  packages/upgrade/CHANGELOG.md
Due: npx prettier --write

Revert "ci(repo): Version packages (#4465)"
  .changeset/bright-ducks-enjoy.md
  .changeset/cool-days-tell.md
  .changeset/early-steaks-yawn.md
  .changeset/honest-impalas-grin.md
  .changeset/metal-mails-explode.md
  .changeset/modern-chicken-crash.md
  .changeset/modern-snails-obey.md
  .changeset/purple-eels-fix.md
  packages/astro/CHANGELOG.md
  packages/backend/CHANGELOG.md
  packages/chrome-extension/CHANGELOG.md
  packages/clerk-js/CHANGELOG.md
  packages/elements/CHANGELOG.md
  packages/expo/CHANGELOG.md
  packages/express/CHANGELOG.md
  packages/fastify/CHANGELOG.md
  packages/localizations/CHANGELOG.md
  packages/nextjs/CHANGELOG.md
  packages/react/CHANGELOG.md
  packages/remix/CHANGELOG.md
  packages/sdk-node/CHANGELOG.md
  packages/shared/CHANGELOG.md
  packages/tanstack-start/CHANGELOG.md
  packages/testing/CHANGELOG.md
  packages/ui/CHANGELOG.md
  packages/upgrade/CHANGELOG.md
Due: npx prettier --write

rename function
  packages/backend/src/api/__tests__/factory.test.ts
  packages/backend/src/mock-server.ts
  packages/backend/src/tokens/__tests__/keys.test.ts
  packages/backend/src/tokens/__tests__/verify.test.ts
Due: npx eslint --fix, npx prettier --write

add vitest coverage reporter
  package-lock.json
  package.json
Due: npx prettier --write

chore(repo): Remove expo-web integrations test
  .github/workflows/ci.yml
Due: none

chore(repo): Remove expo-web integrations test
  .changeset/four-spiders-glow.md
Due: npx prettier --write

chore(repo): Remove expo-web integrations test from ci (#4471)
  .changeset/four-spiders-glow.md
  .github/workflows/ci.yml
Due: npx prettier --write

chore(repo): Fix preview build
  .changeset/red-points-promise.md
  playground/nextjs/pages/index.tsx
Due: npx eslint --fix, npx prettier --write

chore(repo): Fix retheme preview build (#4473)
  .changeset/red-points-promise.md
  playground/nextjs/pages/index.tsx
Due: npx eslint --fix, npx prettier --write

fix(shared): Fix package.json issue with shared package
  .changeset/wild-cycles-cough.md
  packages/shared/package.json
Due: npx prettier --write

Update .changeset/wild-cycles-cough.md
  .changeset/wild-cycles-cough.md
Due: npx prettier --write
