Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

handle the .js extension
  packages/nextjs/src/app-router/server/auth.ts
  packages/nextjs/src/server/fs/middleware-location.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Update Rspack and enable persistent cache (#5019)
  .changeset/brown-jeans-search.md
  eslint.config.mjs
  packages/clerk-js/package.json
  packages/clerk-js/rspack.config.js
  pnpm-lock.yaml
Due: npx eslint --fix, npx prettier --write

improve readability of suggestMiddlewareLocation
  packages/nextjs/src/server/fs/middleware-location.ts
Due: npx eslint --fix, npx prettier --write

chore: remove todo about TransferableOption
  packages/vue/src/components/controlComponents.ts
Due: npx eslint --fix, npx prettier --write

Make next build tests more resilient
  integration/tests/next-build.test.ts
Due: npx eslint --fix, npx prettier --write

chore(vue): Convert render function based UI components to Vue single-file components (#5022)
  .changeset/eighty-beds-behave.md
  packages/vue/src/components/ClerkHostRenderer.ts
  packages/vue/src/components/SignInButton.ts
  packages/vue/src/components/SignInWithMetamaskButton.ts
  packages/vue/src/components/SignInWithMetamaskButton.vue
  packages/vue/src/components/SignOutButton.ts
  packages/vue/src/components/SignOutButton.vue
  packages/vue/src/components/SignUpButton.ts
  packages/vue/src/components/SignUpButton.vue
  packages/vue/src/components/__tests__/SignInWithMetamaskButton.test.ts
  packages/vue/src/components/__tests__/SignOutButton.test.ts
  packages/vue/src/components/__tests__/SignUpButton.test.ts
  packages/vue/src/components/controlComponents.ts
  packages/vue/src/components/index.ts
  packages/vue/src/components/ui-components/CreateOrganization.vue
  packages/vue/src/components/ui-components/GoogleOneTap.vue
  packages/vue/src/components/ui-components/OrganizationList.vue
  packages/vue/src/components/ui-components/OrganizationProfile/OrganizationProfile.vue
  packages/vue/src/components/ui-components/OrganizationProfile/index.ts
  packages/vue/src/components/ui-components/OrganizationSwitcher.vue
  packages/vue/src/components/ui-components/SignUp.vue
  packages/vue/src/components/ui-components/UserButton/UserButton.vue
  packages/vue/src/components/ui-components/UserButton/index.ts
  packages/vue/src/components/ui-components/UserProfile/UserProfile.vue
  packages/vue/src/components/ui-components/UserProfile/index.ts
  packages/vue/src/components/ui-components/Waitlist.vue
  packages/vue/src/components/uiComponents.ts
  packages/vue/src/utils/__tests__/useCustomMenuItems.test.ts
  packages/vue/src/utils/useCustomMenuItems.ts
  packages/vue/src/utils/useCustomPages.ts
Due: npx eslint --fix, npx prettier --write

feat(nextjs): Mark keyless onboarding as complete when stored keys match explicit keys (#4971)
  .changeset/fuzzy-ghosts-kneel.md
  packages/backend/src/api/endpoints/AccountlessApplicationsAPI.ts
  packages/clerk-js/src/ui/components/KeylessPrompt/index.tsx
  packages/nextjs/src/app-router/keyless-actions.ts
  packages/nextjs/src/app-router/server/ClerkProvider.tsx
  packages/nextjs/src/global.d.ts
  packages/nextjs/src/server/keyless-log-cache.ts
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

assert combined title is not visible
  integration/tests/sign-in-or-up-restricted-mode.test.ts
Due: npx eslint --fix, npx prettier --write

feat(clerk-js): Opt out of combined flow when in restricted mode (#5020)
  .changeset/early-apples-return.md
  integration/presets/envs.ts
  integration/tests/sign-in-or-up-restricted-mode.test.ts
  packages/clerk-js/src/ui/contexts/components/SignIn.ts
  packages/clerk-js/src/ui/contexts/components/SignUp.ts
Due: npx eslint --fix, npx prettier --write

add tests
  packages/clerk-js/src/ui/components/UserProfile/__tests__/EmailsSection.test.tsx
Due: npx eslint --fix, npx prettier --write

Update packages/clerk-js/src/ui/components/UserProfile/EmailsSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/EmailsSection.tsx
Due: npx eslint --fix, npx prettier --write

add comments
  packages/nextjs/src/server/createGetAuth.ts
Due: npx eslint --fix, npx prettier --write

fix(shared): handle ATOB errors
  packages/shared/src/keys.ts
Due: npx eslint --fix, npx prettier --write

changeset
  .changeset/clever-crabs-smell.md
Due: npx prettier --write

fix typing
  packages/clerk-js/src/ui/components/UserProfile/EmailsSection.tsx
Due: npx eslint --fix, npx prettier --write

fix(shared): Handle ATOB errors (#5029)
  .changeset/clever-crabs-smell.md
  packages/shared/src/keys.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Ensure only one action is present in UserProfile sections
  packages/clerk-js/src/ui/components/UserProfile/EmailsSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/PhoneSection.tsx
Due: npx eslint --fix, npx prettier --write

Update EmailsSection.test.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/EmailsSection.test.tsx
Due: npx eslint --fix, npx prettier --write

add changeset
  .changeset/seven-games-arrive.md
Due: npx prettier --write

chore(tanstack-start): Bump TanStack and vinxi dependencies
  integration/templates/tanstack-router/package.json
  integration/templates/tanstack-start/package.json
  packages/tanstack-start/package.json
  pnpm-lock.yaml
Due: npx prettier --write

passkeys and connected accounts
  packages/clerk-js/src/ui/components/UserProfile/ConnectedAccountsSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/PasskeySection.tsx
Due: npx eslint --fix, npx prettier --write

chore: add changeset
  .changeset/nasty-houses-boil.md
Due: npx prettier --write

Update PhoneSection.test.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/PhoneSection.test.tsx
Due: npx eslint --fix, npx prettier --write

make it consistent
  packages/clerk-js/src/ui/components/UserProfile/__tests__/EmailsSection.test.tsx
Due: npx eslint --fix, npx prettier --write

chore(tanstack-start): Bump Vinxi to 0.5 and TanStack minimum version (#5031)
  .changeset/nasty-houses-boil.md
  integration/templates/tanstack-router/package.json
  integration/templates/tanstack-start/package.json
  packages/tanstack-start/package.json
  pnpm-lock.yaml
Due: npx prettier --write

remove unused catch var
  packages/shared/src/getEnvVariable.ts
Due: npx eslint --fix, npx prettier --write

passkeys and connected accounts
  packages/clerk-js/src/ui/components/UserProfile/ConnectedAccountsMenu.tsx
  packages/clerk-js/src/ui/components/UserProfile/ConnectedAccountsSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/PasskeySection.tsx
  packages/clerk-js/src/ui/components/UserProfile/Web3Form.tsx
  packages/clerk-js/src/ui/components/UserProfile/Web3Section.tsx
  packages/clerk-js/src/ui/elements/Action/ActionRoot.tsx
  packages/clerk-js/src/ui/elements/Section.tsx
Due: npx eslint --fix, npx prettier --write

Migrate to crypto-es
  packages/nextjs/package.json
  packages/nextjs/src/server/utils.ts
  packages/nextjs/src/vendor/crypto-js.js
  pnpm-lock.yaml
Due: npx eslint --fix, npx prettier --write

Apply suggestions from code review
  packages/nextjs/src/vendor/README.md
  packages/nextjs/tsup.config.ts
Due: npx eslint --fix, npx prettier --write

update tests
  packages/clerk-js/src/ui/components/UserProfile/__tests__/ConnectedAccountsSection.test.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/PasskeysSection.test.tsx
Due: npx eslint --fix, npx prettier --write

Migrate keyless to use web crypto APIs
  packages/nextjs/src/app-router/keyless-actions.ts
  packages/nextjs/src/server/clerkMiddleware.ts
  packages/nextjs/src/server/keyless.ts
Due: npx eslint --fix, npx prettier --write

mfa
  packages/clerk-js/src/ui/components/UserProfile/MfaSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/ConnectedAccountsSection.test.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/MfaPage.test.tsx
Due: npx eslint --fix, npx prettier --write

remove usage in tests
  packages/nextjs/src/server/__tests__/createGetAuth.test.ts
Due: npx eslint --fix, npx prettier --write

Update rich-trees-smoke.md
  .changeset/rich-trees-smoke.md
Due: npx prettier --write

fix(clerk-js): Do not bubble up CaptchaHeartbeat errors
  packages/clerk-js/src/core/auth/CaptchaHeartbeat.ts
Due: npx eslint --fix, npx prettier --write

changeset
  .changeset/stale-badgers-scream.md
Due: npx prettier --write

lock update
  pnpm-lock.yaml
Due: none

Rename crypto-js -> crypto-es
  packages/nextjs/src/server/__tests__/createGetAuth.test.ts
  packages/nextjs/src/server/utils.ts
  packages/nextjs/src/vendor/crypto-es.js
Due: npx eslint --fix, npx prettier --write

added any to auth
  packages/nextjs/src/app-router/server/auth.ts
  packages/nextjs/src/server/createGetAuth.ts
  packages/nextjs/src/server/data/getAuthDataFromRequest.ts
Due: npx eslint --fix, npx prettier --write

remove unneeded try/catch
  packages/clerk-js/src/core/auth/CaptchaHeartbeat.ts
Due: npx eslint --fix, npx prettier --write

Path conditions:
  npx eslint --fix: any of: *.{mjs,js,jsx,ts,tsx}
  npx prettier --write: (any of: *.{mjs,js,jsx,ts,tsx}) or (any of: *.{json,md,mdx})
