Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{mjs,js,jsx,ts,tsx}": ["npx eslint --fix", "npx prettier --write"],
  "*.{json,md,mdx}": ["npx prettier --write"]
}

drop dynamicConfig
  packages/nextjs/src/app-router/server/ClerkProvider.tsx
  packages/nextjs/src/server/clerkMiddleware.ts
  packages/nextjs/src/server/utils.ts
Due: npx eslint --fix, npx prettier --write

refactor keylessMiddleware
  packages/nextjs/src/server/clerkMiddleware.ts
Due: npx eslint --fix, npx prettier --write

Introduce permissions check job
  .changeset/unlucky-buses-perform.md
  .github/workflows/ci.yml
Due: npx prettier --write

Small animation improvements
  packages/clerk-js/src/ui/components/AccountlessPrompt/index.tsx
Due: npx eslint --fix, npx prettier --write

wip
  packages/clerk-js/src/ui/components/AccountlessPrompt/index.tsx
Due: npx eslint --fix, npx prettier --write

update types, access __reactRouterContext
  packages/react-router/src/client/ReactRouterClerkProvider.tsx
  packages/react-router/src/client/types.ts
  packages/react-router/src/utils/utils.ts
Due: npx eslint --fix, npx prettier --write

let the operations throw
  packages/expo/src/secure-store/secure-store.ts
Due: npx eslint --fix, npx prettier --write

chore(tanstack-start): Update dev-dependencies
  packages/tanstack-start/package.json
  pnpm-lock.yaml
Due: npx prettier --write

chore(repo): Add changeset
  .changeset/tricky-ligers-stare.md
Due: npx prettier --write

chore(tanstack-start): Update dev dependencies
  packages/tanstack-start/package.json
  pnpm-lock.yaml
Due: npx prettier --write

update isSpaMode
  packages/react-router/src/client/ReactRouterClerkProvider.tsx
  packages/react-router/src/utils/utils.ts
Due: npx eslint --fix, npx prettier --write

Update packages/clerk-js/src/ui/components/AccountlessPrompt/ClerkLogoIcon.tsx
  packages/clerk-js/src/ui/components/AccountlessPrompt/ClerkLogoIcon.tsx
Due: npx eslint --fix, npx prettier --write

Update packages/clerk-js/src/ui/components/AccountlessPrompt/KeySlashIcon.tsx
  packages/clerk-js/src/ui/components/AccountlessPrompt/KeySlashIcon.tsx
Due: npx eslint --fix, npx prettier --write

Update packages/clerk-js/src/ui/components/AccountlessPrompt/index.tsx
  packages/clerk-js/src/ui/components/AccountlessPrompt/index.tsx
Due: npx eslint --fix, npx prettier --write

Fixes
  packages/clerk-js/src/ui/components/AccountlessPrompt/index.tsx
Due: npx eslint --fix, npx prettier --write

update changeset
  .changeset/hungry-bugs-repeat.md
Due: npx prettier --write

update changelog
  .changeset/clean-pigs-hope.md
Due: npx prettier --write

update renovate
  renovate.json5
Due: none

update renovate workflow
  .github/workflows/validate-renovate-config.yml
Due: none

feat(nextjs): No ezheaders (#4706)
  .changeset/hungry-bugs-repeat.md
  packages/nextjs/package.json
  packages/nextjs/src/app-router/server-actions.ts
  packages/nextjs/src/app-router/server/ClerkProvider.tsx
  packages/nextjs/src/app-router/server/utils.ts
  pnpm-lock.yaml
Due: npx eslint --fix, npx prettier --write

try stuff
  .github/workflows/validate-renovate-config.yml
Due: none

fix(clerk-js): Move signup id check into an effect within continue step
  packages/clerk-js/src/ui/components/SignUp/SignUpContinue.tsx
Due: npx eslint --fix, npx prettier --write

add changeset
  .changeset/clean-rivers-sleep.md
Due: npx prettier --write

chore: add changeset
  .changeset/four-beans-argue.md
Due: npx prettier --write

Remove
  packages/clerk-js/src/ui/components/SignUp/__tests__/SignUpContinue.test.tsx
Due: npx eslint --fix, npx prettier --write

add dummy data for when there is no cache and no internet
  packages/expo/src/cache/dummy-data/client-resource.ts
  packages/expo/src/cache/dummy-data/environment-resource.ts
  packages/expo/src/cache/dummy-data/index.ts
  packages/expo/src/cache/index.ts
  packages/expo/src/provider/singleton/createClerkInstance.ts
Due: npx eslint --fix, npx prettier --write

fix(repo): Use semver ^ for internal dependencies
  .changeset/forty-kids-lay.md
  packages/astro/package.json
  packages/backend/package.json
  packages/chrome-extension/package.json
  packages/clerk-js/package.json
  packages/elements/package.json
  packages/expo-passkeys/package.json
  packages/expo/package.json
  packages/fastify/package.json
  packages/localizations/package.json
  packages/nextjs/package.json
  packages/nuxt/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/sdk-node/package.json
  packages/shared/package.json
  packages/tanstack-start/package.json
  packages/testing/package.json
  packages/themes/package.json
  packages/ui/package.json
  packages/vue/package.json
  playground/fastify/package.json
  pnpm-lock.yaml
Due: npx prettier --write

test(vue): Add tests for user and organization profile custom pages and links
  integration/templates/vue-vite/src/components/CustomUserButton.vue
  integration/templates/vue-vite/src/router.ts
  integration/templates/vue-vite/src/views/custom-pages/OrganizationProfile.vue
  integration/templates/vue-vite/src/views/custom-pages/UserProfile.vue
  integration/tests/vue/components.test.ts
Due: npx eslint --fix, npx prettier --write

fix(astro): Use consistent LICENSE file name
  packages/astro/LICENSE
Due: none

changeset
  .changeset/silly-days-provide.md
Due: npx prettier --write

fix(astro): Use consistent LICENSE file name (#4712)
  .changeset/silly-days-provide.md
  packages/astro/LICENSE
Due: npx prettier --write

test(vue): Fix incorrect filename
  integration/templates/vue-vite/src/router.ts
Due: npx eslint --fix, npx prettier --write

bring back test
  packages/clerk-js/src/ui/components/SignUp/__tests__/SignUpContinue.test.tsx
Due: npx eslint --fix, npx prettier --write

test(vue): Fix routes
  integration/tests/vue/components.test.ts
Due: npx eslint --fix, npx prettier --write

Fix stale closure by passing email reference as argument
  .changeset/lucky-shrimps-switch.md
  packages/clerk-js/src/ui/components/UserProfile/EmailForm.tsx
Due: npx eslint --fix, npx prettier --write

test(vue): Fix extract characters in template
  integration/templates/vue-vite/src/views/custom-pages/OrganizationProfile.vue
  integration/templates/vue-vite/src/views/custom-pages/UserProfile.vue
Due: none

include loading card
  packages/clerk-js/src/ui/components/SignUp/SignUpContinue.tsx
Due: npx eslint --fix, npx prettier --write
