Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --fix, pnpm prettier --write

Create soft-flowers-tan.md
  .changeset/soft-flowers-tan.md
Due: pnpm prettier --write

fix(localizations): Add legal consent localizations for hr-HR (#5131)
  .changeset/soft-flowers-tan.md
  packages/localizations/src/hr-HR.ts
Due: pnpm eslint --fix, pnpm prettier --write

initial
  packages/upgrade/src/app.js
  packages/upgrade/src/util/get-clerk-version.js
Due: pnpm eslint --fix, pnpm prettier --write

add changeset
  .changeset/tiny-moose-appear.md
Due: pnpm prettier --write

Resolve comments
  packages/agent-toolkit/package.json
  packages/agent-toolkit/tsconfig.json
  packages/agent-toolkit/tsup.config.ts
  pnpm-lock.yaml
Due: pnpm eslint --fix, pnpm prettier --write

chore(repo): Format
  packages/localizations/src/hr-HR.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix(upgrade): Remove unused getMajorVersion function (#5138)
  .changeset/tiny-moose-appear.md
  packages/upgrade/src/app.js
  packages/upgrade/src/util/get-clerk-version.js
Due: pnpm eslint --fix, pnpm prettier --write

chore(repo): Format
  packages/agent-toolkit/package.json
  packages/agent-toolkit/src/ai-sdk/adapter.ts
  packages/agent-toolkit/src/langchain/adapter.ts
Due: pnpm eslint --fix, pnpm prettier --write

remove `onExternalNavigate` from mountedBlankCaptchaModal
  packages/clerk-js/src/ui/Components.tsx
  packages/clerk-js/src/ui/lazyModules/providers.tsx
Due: pnpm eslint --fix, pnpm prettier --write

fix(clerk-js,types): Close modals when `setActive({redirectUrl})` is called (#5092)
  .changeset/beige-colts-fold.md
  .changeset/eighty-pigs-sniff.md
  .changeset/violet-fishes-provide.md
  eslint.config.mjs
  integration/templates/react-vite/src/buttons/index.tsx
  integration/templates/react-vite/src/main.tsx
  integration/testUtils/signInPageObject.ts
  integration/testUtils/signUpPageObject.ts
  integration/testUtils/userProfilePageObject.ts
  integration/tests/oauth-flows.test.ts
  integration/tests/sign-in-flow.test.ts
  integration/tests/sign-in-or-up-flow.test.ts
  integration/tests/sign-up-flow.test.ts
  integration/tests/user-profile.test.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/Components.tsx
  packages/clerk-js/src/ui/lazyModules/providers.tsx
  packages/clerk-js/src/ui/router/BaseRouter.tsx
  packages/clerk-js/src/ui/router/PathRouter.tsx
  packages/clerk-js/src/ui/router/VirtualRouter.tsx
  packages/react/src/isomorphicClerk.ts
  packages/types/src/clerk.ts
Due: pnpm eslint --fix, pnpm prettier --write

feat(agent-toolkit): Introduce @clerk/agent-toolkit package (#5130)
  .changeset/many-pumpkins-double.md
  .changeset/metal-gorillas-fetch.md
  .github/labeler.yml
  packages/agent-toolkit/LICENSE
  packages/agent-toolkit/README.md
  packages/agent-toolkit/package.json
  packages/agent-toolkit/src/ai-sdk/adapter.ts
  packages/agent-toolkit/src/ai-sdk/index.ts
  packages/agent-toolkit/src/global.d.ts
  packages/agent-toolkit/src/langchain/adapter.ts
  packages/agent-toolkit/src/langchain/index.ts
  packages/agent-toolkit/src/lib/clerk-client.ts
  packages/agent-toolkit/src/lib/clerk-tool.ts
  packages/agent-toolkit/src/lib/constants.ts
  packages/agent-toolkit/src/lib/inject-session-claims.ts
  packages/agent-toolkit/src/lib/tools/index.ts
  packages/agent-toolkit/src/lib/tools/user-tools.ts
  packages/agent-toolkit/src/lib/types.ts
  packages/agent-toolkit/src/lib/utils.ts
  packages/agent-toolkit/tsconfig.json
  packages/agent-toolkit/tsconfig.test.json
  packages/agent-toolkit/tsup.config.ts
  packages/backend/src/api/resources/User.ts
  pnpm-lock.yaml
  scripts/canary.mjs
  scripts/snapshot.mjs
Due: pnpm eslint --fix, pnpm prettier --write

chore: run format
  integration/templates/vue-vite/src/views/custom-pages/OrganizationProfile.vue
Due: none

feat(clerk-js,types): Add `modalsCloseOnClickOutside` option
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/Components.tsx
  packages/clerk-js/src/ui/elements/Modal.tsx
  packages/clerk-js/src/ui/lazyModules/providers.tsx
  packages/types/src/clerk.ts
Due: pnpm eslint --fix, pnpm prettier --write

feat(vue): `<OrganizationProfile>` custom pages and links through `<OrganizationSwitcher>` (#5129)
  .changeset/unlucky-readers-sleep.md
  integration/templates/vue-vite/src/App.vue
  integration/templates/vue-vite/src/views/Home.vue
  integration/templates/vue-vite/src/views/custom-pages/OrganizationProfile.vue
  integration/tests/vue/components.test.ts
  packages/vue/src/components/index.ts
  packages/vue/src/components/ui-components/OrganizationSwitcher.vue
  packages/vue/src/components/ui-components/OrganizationSwitcher/OrganizationSwitcher.vue
  packages/vue/src/components/ui-components/OrganizationSwitcher/index.ts
Due: pnpm eslint --fix, pnpm prettier --write

chore: Remove deprecated as prop in unstyled components
  packages/astro/src/astro-components/unstyled/SignInButton.astro
  packages/astro/src/astro-components/unstyled/SignOutButton.astro
  packages/astro/src/astro-components/unstyled/SignUpButton.astro
  packages/astro/src/astro-components/unstyled/utils.ts
  packages/astro/src/types.ts
Due: pnpm eslint --fix, pnpm prettier --write

chore: add changeset
  .changeset/smart-rabbits-reflect.md
Due: pnpm prettier --write

chore(repo): Clean up README.md (#5137)
  README.md
Due: pnpm prettier --write

fix(clerk-js): Update web3 `signUpContinueUrl` when in combined flow
  packages/clerk-js/src/ui/components/SignIn/SignInSocialButtons.tsx
Due: pnpm eslint --fix, pnpm prettier --write

Add changeset
  .changeset/angry-ravens-grin.md
Due: pnpm prettier --write

Add changeset
  .changeset/plenty-hats-drum.md
Due: pnpm prettier --write

feat(shared): Cast `EmailLinkErrorCode` as const
  packages/shared/src/error.ts
Due: pnpm eslint --fix, pnpm prettier --write

Add changeset
  .changeset/beige-bananas-sneeze.md
Due: pnpm prettier --write

changed claims to machineClaims
  packages/backend/src/tokens/authObjects.ts
Due: pnpm eslint --fix, pnpm prettier --write

Introduce and deprecate
  packages/clerk-js/src/core/__tests__/clerk.test.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/resources/Error.ts
  packages/clerk-js/src/ui/common/EmailLinkVerify.tsx
  packages/clerk-js/src/ui/components/SignUp/__tests__/SignUpEmailLinkFlowComplete.test.tsx
  packages/nextjs/src/client-boundary/hooks.ts
  packages/react-router/src/errors.ts
  packages/react/src/errors.ts
  packages/remix/src/errors.ts
  packages/shared/src/error.ts
Due: pnpm eslint --fix, pnpm prettier --write

Add changeset
  .changeset/dry-keys-look.md
Due: pnpm prettier --write

Delete .changeset/beige-bananas-sneeze.md
  .changeset/beige-bananas-sneeze.md
Due: pnpm prettier --write

Add test coverage for `pending` and `active` statuses
  packages/clerk-js/src/core/__tests__/clerk.test.ts
Due: pnpm eslint --fix, pnpm prettier --write

Update device section to list for pending
  integration/testUtils/handshake.ts
  packages/clerk-js/src/ui/components/UserProfile/ActiveDevicesSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/SecurityPage.test.tsx
Due: pnpm eslint --fix, pnpm prettier --write

Plug pending session into main Client resource
  integration/testUtils/handshake.ts
  packages/astro/src/stores/internal.ts
  packages/clerk-js/src/core/__tests__/clerk.test.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/resources/Client.ts
  packages/clerk-js/src/ui/components/ImpersonationFab/ImpersonationFab.tsx
  packages/clerk-js/src/ui/components/UserButton/SessionActions.tsx
  packages/clerk-js/src/ui/components/UserButton/UserButtonPopover.tsx
  packages/clerk-js/src/ui/components/UserButton/useMultisessionActions.tsx
  packages/clerk-js/src/ui/hooks/useMultipleSessions.ts
  packages/react/src/isomorphicClerk.ts
  packages/shared/src/deriveState.ts
  packages/shared/src/react/contexts.tsx
  packages/types/src/clerk.ts
  packages/types/src/client.ts
  packages/types/src/hooks.ts
  packages/types/src/session.ts
  packages/vue/src/types.ts
Due: pnpm eslint --fix, pnpm prettier --write

Add `pending` to `SessionStatus` union
  packages/types/src/session.ts
Due: pnpm eslint --fix, pnpm prettier --write

Update handshake tests
  integration/testUtils/handshake.ts
  integration/tests/handshake.test.ts
Due: pnpm eslint --fix, pnpm prettier --write

Update `SignIn.SessionList` to include pending sessions
  packages/clerk-js/src/ui/components/UserProfile/ActiveDevicesSection.tsx
  packages/elements/src/react/sign-in/choose-session/choose-session.hooks.ts
  packages/elements/src/react/sign-in/choose-session/choose-session.tsx
Due: pnpm eslint --fix, pnpm prettier --write

Consider `pending` as authenticate state for client UAT
  packages/clerk-js/src/core/auth/cookies/clientUat.ts
Due: pnpm eslint --fix, pnpm prettier --write

Deprecate `activeSessions`
  packages/clerk-js/src/core/__tests__/clerk.redirects.test.ts
  packages/clerk-js/src/core/__tests__/clerk.test.ts
  packages/clerk-js/src/core/resources/Client.ts
  packages/react/src/isomorphicClerk.ts
  packages/types/src/client.ts
Due: pnpm eslint --fix, pnpm prettier --write

Save JWT token on Expo for pending session status
  packages/expo/src/provider/singleton/createClerkInstance.ts
Due: pnpm eslint --fix, pnpm prettier --write

Fix sign in account switcher to look for pending sessions
  integration/testUtils/handshake.ts
  integration/tests/handshake.test.ts
  packages/clerk-js/src/ui/components/SignIn/SignInAccountSwitcher.tsx
Due: pnpm eslint --fix, pnpm prettier --write

Add `isAuthenticated` property to main Clerk instance
  packages/clerk-js/src/core/auth/cookies/clientUat.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/resources/Client.ts
  packages/react/src/components/controlComponents.tsx
  packages/types/src/clerk.ts
  packages/types/src/client.ts
  packages/types/src/session.ts
  packages/vue/src/components/controlComponents.ts
Due: pnpm eslint --fix, pnpm prettier --write

middleware changes for all the fullstack frameworks
  packages/astro/src/server/clerk-middleware.ts
  packages/nextjs/src/server/clerkMiddleware.ts
  packages/react-router/src/ssr/getAuth.ts
  packages/tanstack-start/src/server/getAuth.ts
Due: pnpm eslint --fix, pnpm prettier --write

improve md output
  .gitignore
  typedoc.config.mjs
Due: pnpm eslint --fix, pnpm prettier --write

feat(shared): Replace `callWithRetry` and `runWithExponentialBackoff` with `retry` utility
  .changeset/metal-bobcats-wash.md
  packages/backend/src/tokens/keys.ts
  packages/backend/src/util/shared.ts
  packages/clerk-js/src/core/fapiClient.ts
  packages/clerk-js/src/core/resources/Session.ts
  packages/shared/package.json
  packages/shared/src/__tests__/callWithRetry.test.ts
  packages/shared/src/__tests__/retry.test.ts
  packages/shared/src/callWithRetry.ts
  packages/shared/src/index.ts
  packages/shared/src/loadScript.ts
  packages/shared/src/retry.ts
  packages/shared/src/utils/__tests__/runWithExponentialBackOff.test.ts
  packages/shared/src/utils/index.ts
  packages/shared/src/utils/runWithExponentialBackOff.ts
Due: pnpm eslint --fix, pnpm prettier --write

Path conditions:
  pnpm eslint --fix: any of: *.{mjs,js,jsx,ts,tsx}
  pnpm prettier --write: (any of: *.{mjs,js,jsx,ts,tsx}) or (any of: *.{json,md,mdx})
