Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

feat(elements,ui): Add support for loading actions (#3927)
  .changeset/small-bees-jog.md
  packages/elements/src/internals/machines/shared/shared.actions.ts
  packages/elements/src/internals/machines/sign-in/reset-password.types.ts
  packages/elements/src/internals/machines/sign-in/router.machine.ts
  packages/elements/src/internals/machines/sign-in/start.types.ts
  packages/elements/src/internals/machines/sign-in/verification.types.ts
  packages/elements/src/internals/machines/sign-up/continue.types.ts
  packages/elements/src/internals/machines/sign-up/router.machine.ts
  packages/elements/src/internals/machines/sign-up/start.types.ts
  packages/elements/src/internals/machines/sign-up/verification.types.ts
  packages/elements/src/internals/machines/types/router.types.ts
  packages/elements/src/react/common/form/form.tsx
  packages/elements/src/react/common/form/hooks/use-form.ts
  packages/elements/src/react/common/loading.tsx
  packages/elements/src/react/hooks/use-loading.hook.ts
  packages/ui/src/components/sign-in/steps/reset-password.tsx
  packages/ui/src/components/sign-in/steps/start.tsx
  packages/ui/src/components/sign-in/steps/verifications.tsx
  packages/ui/src/components/sign-up/steps/continue.tsx
  packages/ui/src/components/sign-up/steps/start.tsx
  packages/ui/src/components/sign-up/steps/verifications.tsx
Due: npx eslint --fix, npx prettier --write

chore(astro): Replace action prop with open
  packages/astro/src/astro-components/interactive/UserButton/MenuItemRenderer.astro
  packages/astro/src/astro-components/interactive/UserButton/UserButtonAction.astro
Due: none

chore(astro): Add changeset
  .changeset/eighty-timers-march.md
Due: npx prettier --write

chore(astro): Remove old component export
  packages/astro/src/astro-components/index.ts
  packages/astro/src/astro-components/interactive/UserButton.astro
Due: npx eslint --fix, npx prettier --write

chore(astro): Select single element for user button
  packages/astro/src/astro-components/interactive/UserButton/MenuItemRenderer.astro
  packages/astro/src/astro-components/interactive/UserButton/UserButtonUserProfilePage.astro
Due: none

test(astro): Add custom menu item action test
  integration/templates/astro-node/src/components/CustomUserButton.astro
  integration/templates/astro-node/src/layouts/Layout.astro
  integration/tests/astro/components.test.ts
Due: npx eslint --fix, npx prettier --write

chore(astro): Update changeset
  .changeset/eighty-timers-march.md
Due: npx prettier --write

test(astro): Add custom menu item link test
  integration/templates/astro-node/src/components/CustomUserButton.astro
  integration/tests/astro/components.test.ts
  packages/astro/src/astro-components/interactive/UserButton/index.ts
Due: npx eslint --fix, npx prettier --write

chore(astro): Add custom menu items reordering
  packages/astro/src/astro-components/interactive/UserButton/MenuItemRenderer.astro
  packages/astro/src/astro-components/interactive/UserButton/UserButton.astro
Due: none

chore(astro): Make sure items are wrapped in parent menu items component
  packages/astro/src/astro-components/interactive/UserButton/MenuItemRenderer.astro
  packages/astro/src/astro-components/interactive/UserButton/UserButtonMenuItems.astro
  packages/astro/src/astro-components/interactive/UserButton/index.ts
Due: npx eslint --fix, npx prettier --write

chore(astro): Add more description to parent wrappers
  packages/astro/.eslintrc.cjs
  packages/astro/src/astro-components/interactive/UserButton/UserButtonMenuItems.astro
Due: none

feat(ui): Add image optimization setup and extract image component (#3966)
  .changeset/plenty-plums-sparkle.md
  packages/ui/src/primitives/card.tsx
  packages/ui/src/primitives/image.tsx
  packages/ui/src/utils/images.ts
  packages/ui/src/utils/validators.ts
Due: npx eslint --fix, npx prettier --write

minimal polish to theme-builder
  packages/ui/theme-builder/app/components/logo.tsx
  packages/ui/theme-builder/app/favicon.ico
  packages/ui/theme-builder/app/layout.tsx
  packages/ui/theme-builder/app/theme-builder.tsx
  packages/ui/theme-builder/public/assets/favicon-dev.png
  packages/ui/theme-builder/public/assets/favicon.png
Due: npx eslint --fix, npx prettier --write

feat: Add Icelandic to localizations package
  .changeset/spotty-buckets-hide.md
  packages/localizations/package.json
  packages/localizations/src/index.ts
  packages/localizations/src/is-IS.ts
  packages/localizations/src/utils/generate.ts
  packages/localizations/subpaths.mjs
Due: npx eslint --fix, npx prettier --write

wip
  package-lock.json
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/lazyModules/components.ts
  packages/nextjs/src/client-boundary/uiComponents.tsx
  packages/nextjs/src/index.ts
  packages/react/package.json
  packages/react/src/components/index.ts
  packages/react/src/components/uiComponents.tsx
  packages/react/src/components/withClerk.tsx
  packages/react/src/isomorphicClerk.ts
  playground/nextjs/package.json
Due: npx eslint --fix, npx prettier --write

further polish
  packages/ui/theme-builder/app/color-picker.tsx
  packages/ui/theme-builder/app/layout.tsx
  packages/ui/theme-builder/app/theme-builder.tsx
  packages/ui/theme-builder/app/toggle-group.tsx
  packages/ui/theme-builder/tailwind.config.ts
Due: npx eslint --fix, npx prettier --write

add changeset
  .changeset/fair-squids-deny.md
Due: npx prettier --write

fix(clerk-js): Application logo rendering size
  packages/clerk-js/src/ui/elements/ApplicationLogo.tsx
Due: npx eslint --fix, npx prettier --write

add empty changeset
  .changeset/two-humans-rush.md
Due: npx prettier --write

fix(clerk-js): Application logo rendering size (#3959)
  .changeset/fair-squids-deny.md
  packages/clerk-js/src/ui/elements/ApplicationLogo.tsx
Due: npx eslint --fix, npx prettier --write

wip
  packages/ui/src/primitives/field.tsx
  packages/ui/src/tailwind.config.ts
Due: npx eslint --fix, npx prettier --write

Update .changeset/spotty-buckets-hide.md
  .changeset/spotty-buckets-hide.md
Due: npx prettier --write

fix(ui): Theme Builder polish (#3971)
  .changeset/two-humans-rush.md
  packages/ui/theme-builder/app/color-picker.tsx
  packages/ui/theme-builder/app/components/logo.tsx
  packages/ui/theme-builder/app/favicon.ico
  packages/ui/theme-builder/app/layout.tsx
  packages/ui/theme-builder/app/theme-builder.tsx
  packages/ui/theme-builder/app/toggle-group.tsx
  packages/ui/theme-builder/public/assets/favicon-dev.png
  packages/ui/theme-builder/public/assets/favicon.png
  packages/ui/theme-builder/tailwind.config.ts
Due: npx eslint --fix, npx prettier --write

cleanup is-IS.ts
  packages/localizations/src/is-IS.ts
Due: npx eslint --fix, npx prettier --write

feat(localizations): Add Icelandic (is-IS) to localizations package (#3953)
  .changeset/spotty-buckets-hide.md
  packages/localizations/package.json
  packages/localizations/src/index.ts
  packages/localizations/src/is-IS.ts
  packages/localizations/src/utils/generate.ts
  packages/localizations/subpaths.mjs
Due: npx eslint --fix, npx prettier --write

chore(elements): Add changeset
  .changeset/fifty-terms-switch.md
Due: npx prettier --write

feat(elements): Add active session selection [SDKI-290]
  packages/elements/examples/nextjs/app/sign-in/[[...sign-in]]/page.tsx
  packages/elements/src/internals/constants/index.ts
  packages/elements/src/internals/machines/sign-in/router.machine.ts
  packages/elements/src/internals/machines/sign-in/router.types.ts
  packages/elements/src/react/sign-in/action/action.tsx
  packages/elements/src/react/sign-in/action/set-active-session.tsx
  packages/elements/src/react/sign-in/choose-session.tsx
  packages/elements/src/react/sign-in/index.ts
  packages/elements/src/react/sign-in/step.tsx
  packages/elements/src/react/utils/is-valid-component-type.ts
Due: npx eslint --fix, npx prettier --write

test(elements): Add tests to choose-session
  packages/elements/examples/nextjs/app/sign-in/[[...sign-in]]/page.tsx
  packages/elements/src/react/sign-in/choose-session/__tests__/choose-session.test.tsx
  packages/elements/src/react/sign-in/choose-session/choose-session.hooks.ts
  packages/elements/src/react/sign-in/choose-session/choose-session.tsx
  packages/elements/src/react/sign-in/choose-session/index.tsx
Due: npx eslint --fix, npx prettier --write

feat(elements): Switch sessions
  packages/elements/examples/nextjs/app/page.tsx
  packages/elements/examples/nextjs/app/sign-in/[[...sign-in]]/page.tsx
  packages/elements/examples/nextjs/app/sign-up/[[...sign-up]]/page.tsx
  packages/elements/src/react/sign-in/action/action.tsx
  packages/elements/src/react/sign-in/action/navigate.tsx
  packages/elements/src/react/sign-in/action/set-active-session.tsx
  packages/elements/src/react/sign-in/choose-session/choose-session.hooks.ts
  packages/elements/src/react/sign-in/choose-session/choose-session.tsx
Due: npx eslint --fix, npx prettier --write

Add log to resolveHandshake() catch block
  .changeset/perfect-crews-smell.md
  packages/backend/src/tokens/request.ts
Due: npx eslint --fix, npx prettier --write

chore(elements): Update changelog example
  .changeset/fifty-terms-switch.md
Due: npx prettier --write

hook up sessionlist ui
  packages/ui/src/components/sign-in/sign-in.tsx
  packages/ui/src/components/sign-in/steps/choose-session.tsx
Due: npx eslint --fix, npx prettier --write

feat(elements): Add active session selection [SDKI-290] (#3957)
  .changeset/fifty-terms-switch.md
  packages/elements/examples/nextjs/app/page.tsx
  packages/elements/examples/nextjs/app/sign-in/[[...sign-in]]/page.tsx
  packages/elements/examples/nextjs/app/sign-up/[[...sign-up]]/page.tsx
  packages/elements/src/internals/constants/index.ts
  packages/elements/src/internals/machines/sign-in/router.machine.ts
  packages/elements/src/internals/machines/sign-in/router.types.ts
  packages/elements/src/react/sign-in/action/action.tsx
  packages/elements/src/react/sign-in/action/navigate.tsx
  packages/elements/src/react/sign-in/action/set-active-session.tsx
  packages/elements/src/react/sign-in/choose-session/__tests__/choose-session.test.tsx
  packages/elements/src/react/sign-in/choose-session/choose-session.hooks.ts
  packages/elements/src/react/sign-in/choose-session/choose-session.tsx
  packages/elements/src/react/sign-in/choose-session/index.tsx
  packages/elements/src/react/sign-in/index.ts
  packages/elements/src/react/sign-in/step.tsx
  packages/elements/src/react/utils/is-valid-component-type.ts
Due: npx eslint --fix, npx prettier --write

chore(astro): Update changeset
  .changeset/proud-horses-smell.md
Due: npx prettier --write

add changeset
  .changeset/gold-cameras-impress.md
Due: npx prettier --write

add signout functionality
  packages/ui/src/components/sign-in/steps/choose-session.tsx
Due: npx eslint --fix, npx prettier --write

chore(astro): Add click handler to menu items
  packages/astro/src/astro-components/interactive/UserButton/MenuItemRenderer.astro
  packages/astro/src/astro-components/interactive/UserButton/UserButtonAction.astro
Due: none

chore(astro): Rename selector to clickIdentifier
  packages/astro/src/astro-components/interactive/UserButton/MenuItemRenderer.astro
  packages/astro/src/astro-components/interactive/UserButton/UserButtonAction.astro
Due: none

test(astro): Add menu item reordering test
  integration/templates/astro-node/src/components/CustomUserButton.astro
  integration/tests/astro/components.test.ts
  packages/astro/src/astro-components/interactive/UserButton/MenuItemRenderer.astro
Due: npx eslint --fix, npx prettier --write

Path conditions:
  npx eslint --fix: any of: *.{mjs,js,jsx,ts,tsx}
  npx prettier --write: (any of: *.{mjs,js,jsx,ts,tsx}) or (any of: *.{json,md,mdx})
