Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

fix(clerk-js): Check permissions only in organization billing
  packages/clerk-js/src/ui/common/Billing/BillingProvider.tsx
  packages/clerk-js/src/ui/common/Billing/PlanAndBillingScreen.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationBillingPage.tsx
Due: npx eslint --fix, npx prettier --write

chore(clerk-js,types,clerk-react): Resolve `orgPlan` on client
  packages/clerk-js/src/core/resources/Organization.ts
  packages/clerk-js/src/core/resources/OrganizationMembership.ts
  packages/clerk-js/src/core/resources/Session.ts
  packages/react/src/utils/deriveState.ts
  packages/types/src/json.ts
  packages/types/src/organization.ts
Due: npx eslint --fix, npx prettier --write

feat(clerk-js,types): Add protect to billing components (#3179)
  packages/clerk-js/src/ui/common/Billing/BillingProvider.tsx
  packages/clerk-js/src/ui/common/Billing/PlanAndBillingScreen.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationBillingPage.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationProfileNavbar.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationProfileRoutes.tsx
  packages/types/src/organizationMembership.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-js,types,clerk-react): Resolve `orgPlan` on client (#3180)
  packages/clerk-js/src/core/resources/Organization.ts
  packages/clerk-js/src/core/resources/OrganizationMembership.ts
  packages/clerk-js/src/core/resources/Session.ts
  packages/react/src/utils/deriveState.ts
  packages/types/src/json.ts
  packages/types/src/organization.ts
Due: npx eslint --fix, npx prettier --write

fix(elements): Wait for clerk to be set for proceeding to init
  packages/elements/src/internals/machines/sign-in/machines/router.machine.ts
  packages/elements/src/internals/machines/sign-up/machines/router.machine.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Adds changeset
  .changeset/dry-rings-reflect.md
Due: npx prettier --write

fix(elements): Wait for clerk to be set before proceeding to init (#3182)
  .changeset/dry-rings-reflect.md
  packages/elements/src/internals/machines/sign-in/machines/router.machine.ts
  packages/elements/src/internals/machines/sign-up/machines/router.machine.ts
Due: npx eslint --fix, npx prettier --write

feat(elements): Introduce exampleMode prop, renders non-functional flows for docs
  packages/elements/examples/nextjs/app/example/page.tsx
  packages/elements/src/internals/machines/sign-in/machines/router.machine.ts
  packages/elements/src/internals/machines/sign-in/machines/start.machine.ts
  packages/elements/src/internals/machines/sign-up/machines/router.machine.ts
  packages/elements/src/internals/machines/sign-up/machines/start.machine.ts
  packages/elements/src/internals/machines/third-party/machine.ts
  packages/elements/src/internals/machines/types/router.types.ts
  packages/elements/src/react/sign-in/root.tsx
  packages/elements/src/react/sign-up/root.tsx
Due: npx eslint --fix, npx prettier --write

chore(repo): Adds changeset
  .changeset/breezy-crabs-bow.md
Due: npx prettier --write

Update packages/react/src/errors/messages.ts
  packages/react/src/errors/messages.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js,clerk-react): Make UI-triggered redirects default to hash-based routing (#3061)
  .changeset/two-paws-search.md
  packages/clerk-js/src/ui/common/__tests__/redirects.test.ts
  packages/clerk-js/src/ui/common/redirects.ts
  packages/clerk-js/src/ui/components/SignIn/__tests__/SignInStart.test.tsx
  packages/react/src/errors/messages.ts
Due: npx eslint --fix, npx prettier --write

fix(*): Support older iOS 13.3 and 13.4 devices
  .changeset/two-snakes-pay.md
  package-lock.json
  packages/clerk-js/package.json
  packages/clerk-js/src/ui/hooks/usePrefersReducedMotion.ts
  packages/clerk-js/src/ui/primitives/Flex.tsx
  packages/clerk-js/src/ui/primitives/gapPropertyCompat.ts
  packages/clerk-js/tsconfig.dev.json
  packages/clerk-js/webpack.config.js
  packages/elements/tsconfig.json
  packages/localizations/tsconfig.json
  packages/nextjs/tsconfig.json
  packages/react/tsconfig.json
  packages/shared/tsconfig.json
Due: npx eslint --fix, npx prettier --write

fix(nextjs,backend): Add debug logger to clerkMiddleware
  .changeset/unlucky-cheetahs-suffer.md
  packages/backend/src/tokens/__tests__/clerkRequest.test.ts
  packages/backend/src/tokens/clerkRequest.ts
  packages/nextjs/src/server/clerkMiddleware.ts
Due: npx eslint --fix, npx prettier --write

feat(backend): Add orderBy to GetOrganizationListParams (#3164)
  .changeset/twelve-olives-repair.md
  packages/backend/src/api/endpoints/OrganizationApi.ts
Due: npx eslint --fix, npx prettier --write

fix(*): Support older iOS 13.3 and 13.4 devices (#3188)
  .changeset/two-snakes-pay.md
  package-lock.json
  packages/clerk-js/package.json
  packages/clerk-js/src/ui/hooks/usePrefersReducedMotion.ts
  packages/clerk-js/src/ui/primitives/Flex.tsx
  packages/clerk-js/src/ui/primitives/gapPropertyCompat.ts
  packages/clerk-js/tsconfig.dev.json
  packages/clerk-js/webpack.config.js
  packages/elements/tsconfig.json
  packages/localizations/tsconfig.json
  packages/nextjs/tsconfig.json
  packages/react/tsconfig.json
  packages/shared/tsconfig.json
Due: npx eslint --fix, npx prettier --write

fix(nextjs,backend): Add debug logger to clerkMiddleware (#3189)
  .changeset/unlucky-cheetahs-suffer.md
  packages/backend/src/tokens/__tests__/clerkRequest.test.ts
  packages/backend/src/tokens/clerkRequest.ts
  packages/nextjs/src/server/clerkMiddleware.ts
Due: npx eslint --fix, npx prettier --write

feat(clerk-js): Render modal components at specific paths
  packages/clerk-js/src/ui/Components.tsx
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

chore(nextjs): Address PR comments
  packages/nextjs/src/utils/clerk-js-script.tsx
Due: npx eslint --fix, npx prettier --write

feat(clerk-react,nextjs): Speed up clerk-js loading by using a `<script/>` tag (#3156)
  .changeset/serious-balloons-eat.md
  packages/nextjs/src/app-router/client/ClerkProvider.tsx
  packages/nextjs/src/pages/ClerkProvider.tsx
  packages/nextjs/src/utils/clerk-js-script.tsx
  packages/react/src/internal.ts
  packages/react/src/utils/loadClerkJsScript.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Mount GoogleOneTap at the root
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/Components.tsx
  packages/clerk-js/src/ui/lazyModules/providers.tsx
  packages/clerk-js/src/ui/portal/index.tsx
  packages/react/src/isomorphicClerk.ts
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

chore(*): Update changeset
  .changeset/grumpy-maps-hope.md
Due: npx prettier --write

chore(*): Cleanup
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/Components.tsx
  packages/clerk-js/src/ui/lazyModules/providers.tsx
  packages/clerk-js/src/ui/portal/index.tsx
  packages/react/src/components/uiComponents.tsx
Due: npx eslint --fix, npx prettier --write

feat(localizations): Add huHU localization
  packages/localizations/src/hu-HU.ts
Due: npx eslint --fix, npx prettier --write

feat(clerk-js): Fallback to invisible CAPTCHA if the element to render to is not found in the DOM
  .changeset/itchy-onions-rush.md
  packages/clerk-js/src/core/resources/DisplayConfig.ts
  packages/clerk-js/src/core/resources/SignUp.ts
  packages/clerk-js/src/utils/captcha.ts
  packages/clerk-js/src/utils/retrieveCaptchaInfo.ts
  packages/types/src/displayConfig.ts
Due: npx eslint --fix, npx prettier --write

fix(backend): Deprecate Organization.members_count
  .changeset/slimy-games-cover.md
  packages/backend/src/api/resources/Organization.ts
Due: npx eslint --fix, npx prettier --write

fix(backend): Deprecate Organization.members_count (#3192)
  .changeset/slimy-games-cover.md
  packages/backend/src/api/resources/Organization.ts
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Introduce `__experimental_authenticateWithGoogleOneTap`
  packages/clerk-js/src/core/resources/SignIn.ts
  packages/clerk-js/src/ui/components/GoogleOneTap/one-tap-start.tsx
  packages/types/src/signIn.ts
Due: npx eslint --fix, npx prettier --write

Add changeset for hu-HU localization addition
  .changeset/thin-hats-jump.md
Due: npx prettier --write

fix(localizations): Exported huHU, and fixed typos
  packages/localizations/src/hu-HU.ts
  packages/localizations/src/index.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Fix error wording
  packages/clerk-js/src/utils/captcha.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Add comment to explain the captcha fallback mechanism
  packages/clerk-js/src/utils/captcha.ts
Due: npx eslint --fix, npx prettier --write

chore(elements): Bump version
  packages/elements/package.json
Due: npx prettier --write

feat(elements): Introduce exampleMode prop on Root components (#3184)
  .changeset/breezy-crabs-bow.md
  packages/elements/examples/nextjs/app/example/page.tsx
  packages/elements/package.json
  packages/elements/src/internals/machines/sign-in/machines/router.machine.ts
  packages/elements/src/internals/machines/sign-in/machines/start.machine.ts
  packages/elements/src/internals/machines/sign-up/machines/router.machine.ts
  packages/elements/src/internals/machines/sign-up/machines/start.machine.ts
  packages/elements/src/internals/machines/third-party/machine.ts
  packages/elements/src/internals/machines/types/router.types.ts
  packages/elements/src/react/sign-in/root.tsx
  packages/elements/src/react/sign-up/root.tsx
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Fixed issue that prevented backup codes showing up for TOTP
  .changeset/wise-dogs-swim.md
  packages/clerk-js/src/ui/components/UserProfile/MfaSection.tsx
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Fixed issue that prevented backup codes showing up for TOTP (#3194)
  .changeset/wise-dogs-swim.md
  packages/clerk-js/src/ui/components/UserProfile/MfaSection.tsx
Due: npx eslint --fix, npx prettier --write

fix(clerk-js): Improve conditional fetching
  packages/clerk-js/src/ui/components/GoogleOneTap/one-tap-start.tsx
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Add jsdocs
  packages/types/src/clerk.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Account for env vars
  turbo.json
Due: npx prettier --write

chore(repo): Test minor improvements
  .github/actions/init/action.yml
Due: none

feat(repo): Add new E2E flows
  turbo.json
Due: npx prettier --write

Path conditions:
  npx eslint --fix: any of: *.{mjs,js,jsx,ts,tsx}
  npx prettier --write: (any of: *.{mjs,js,jsx,ts,tsx}) or (any of: *.{json,md,mdx})
