Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

fix(clerk-js): Don't enable save button when updating/removing photo
  packages/clerk-js/src/ui/components/OrganizationProfile/ProfileForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/ProfileForm.tsx
Due: npx eslint --fix, npx prettier --write

fix(nextjs,backend): Re-introduce top-level redirectToSignIn and redirectToSignUp helpers
  .changeset/sixty-islands-jump.md
  packages/backend/src/createRedirect.ts
  packages/nextjs/src/server/__tests__/__snapshots__/exports.test.ts.snap
  packages/nextjs/src/server/authMiddleware.test.ts
  packages/nextjs/src/server/authMiddleware.ts
  packages/nextjs/src/server/index.ts
  packages/nextjs/src/server/redirectHelpers.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Version packages (#2631)
  .changeset/sweet-ladybugs-sneeze.md
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
Due: npx prettier --write

feat(upgrade): Variety pack of new changes
  packages/upgrade/source/versions/v5/common/ismetamaskerror-import-change.md
  packages/upgrade/source/versions/v5/index.js
  packages/upgrade/source/versions/v5/js/organization-getdomains-arguments-change.md
  packages/upgrade/source/versions/v5/js/organization-getinvitations-arguments-changed.md
  packages/upgrade/source/versions/v5/js/organization-getmembershiprequests-arguments-changed.md
  packages/upgrade/source/versions/v5/js/organization-getmemberships-arguments-changed.md
  packages/upgrade/source/versions/v5/js/organization-getroles-arguments-changed.md
  packages/upgrade/source/versions/v5/js/user-getorganizationinvitations-arguments-chanaged.md
  packages/upgrade/source/versions/v5/js/user-getorganizationmemberships-arguments-chanaged.md
  packages/upgrade/source/versions/v5/js/user-getorganizationsuggestions-arguments-chanaged.md
  packages/upgrade/source/versions/v5/node/legacyauthobject-removed.md
  packages/upgrade/source/versions/v5/shared/buildrequesturl.md
Due: npx eslint --fix, npx prettier --write

chore(clerk-js): Remove FileDropArea (#2626)
  .changeset/rude-cows-fry.md
  packages/clerk-js/src/ui/components/OrganizationProfile/ProfileForm.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/ProfileSettingsPage.test.tsx
  packages/clerk-js/src/ui/components/UserProfile/ProfileForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/UserProfileSection.test.tsx
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/clerk-js/src/ui/elements/AvatarUploader.tsx
  packages/clerk-js/src/ui/elements/FileDropArea.tsx
  packages/clerk-js/src/ui/elements/index.ts
  packages/localizations/src/ar-SA.ts
  packages/localizations/src/bg-BG.ts
  packages/localizations/src/cs-CZ.ts
  packages/localizations/src/da-DK.ts
  packages/localizations/src/de-DE.ts
  packages/localizations/src/el-GR.ts
  packages/localizations/src/en-US.ts
  packages/localizations/src/es-ES.ts
  packages/localizations/src/es-MX.ts
  packages/localizations/src/fr-FR.ts
  packages/localizations/src/he-IL.ts
  packages/localizations/src/it-IT.ts
  packages/localizations/src/ja-JP.ts
  packages/localizations/src/ko-KR.ts
  packages/localizations/src/nb-NO.ts
  packages/localizations/src/nl-NL.ts
  packages/localizations/src/pl-PL.ts
  packages/localizations/src/pt-BR.ts
  packages/localizations/src/pt-PT.ts
  packages/localizations/src/ro-RO.ts
  packages/localizations/src/ru-RU.ts
  packages/localizations/src/sk-SK.ts
  packages/localizations/src/sv-SE.ts
  packages/localizations/src/tr-TR.ts
  packages/localizations/src/uk-UA.ts
  packages/localizations/src/vi-VN.ts
  packages/localizations/src/zh-CN.ts
  packages/localizations/src/zh-TW.ts
  packages/types/src/appearance.ts
  packages/types/src/localization.ts
Due: npx eslint --fix, npx prettier --write

fix(nextjs,backend): Re-introduce top-level redirectToSignIn and redirectToSignUp helpers (#2630)
  .changeset/sixty-islands-jump.md
  packages/backend/src/createRedirect.ts
  packages/nextjs/src/server/__tests__/__snapshots__/exports.test.ts.snap
  packages/nextjs/src/server/authMiddleware.test.ts
  packages/nextjs/src/server/authMiddleware.ts
  packages/nextjs/src/server/index.ts
  packages/nextjs/src/server/redirectHelpers.ts
Due: npx eslint --fix, npx prettier --write

update japanese text (#2615)
  packages/localizations/src/ja-JP.ts
Due: npx eslint --fix, npx prettier --write

feat(upgrade): Add afterSign[Up|In|Out]Url behavior change item
  packages/upgrade/source/versions/v5/common/aftersigninurl-behavior-change.md
  packages/upgrade/source/versions/v5/common/aftersignouturl-behavior-change.md
  packages/upgrade/source/versions/v5/common/aftersignupurl-behavior-change.md
  packages/upgrade/source/versions/v5/index.js
Due: npx eslint --fix, npx prettier --write

chore(repo): Switch to beta-v5
  .changeset/pre.json
Due: npx prettier --write

fix(backend): Revert `{ data, errors }` return value from api client
  packages/backend/src/api/__tests__/factory.test.ts
  packages/backend/src/api/request.ts
  packages/backend/src/tokens/authObjects.ts
  packages/backend/src/util/decorateObjectWithResources.ts
Due: npx eslint --fix, npx prettier --write

fix(backend): Make signJwt consistent by returning error instead of throwing
  packages/backend/src/jwt/signJwt.ts
Due: npx eslint --fix, npx prettier --write

fix(backend): Revert `{ data, errors }` return value from jwt/token helpers
  packages/backend/src/index.ts
  packages/backend/src/jwt/index.ts
  packages/backend/src/jwt/legacyReturn.ts
  packages/backend/src/tokens/handshake.ts
  packages/backend/src/tokens/request.ts
  packages/backend/src/tokens/verify.ts
Due: npx eslint --fix, npx prettier --write

fix(clerk-sdk-node): Update examples related to backend legacy return value compat layer
  packages/sdk-node/examples/express/src/runtime-keys-middleware.ts
  packages/sdk-node/examples/node/src/organizations.ts
  packages/sdk-node/examples/node/src/sessions.ts
  packages/sdk-node/examples/node/src/users.ts
Due: npx eslint --fix, npx prettier --write

fix(nextjs): Apply changes related to adding legacy return value compat layer
  packages/nextjs/src/app-router/server/currentUser.ts
  packages/nextjs/src/server/buildClerkProps.ts
  packages/nextjs/src/server/createGetAuth.ts
Due: npx eslint --fix, npx prettier --write

chore(repo): Add changeset
  .changeset/gentle-radios-shout.md
Due: npx prettier --write

chore(elements): Replace ClerkError
  packages/elements/examples/nextjs/app/sign-in/[[...sign-in]]/page.tsx
  packages/elements/examples/nextjs/app/sign-up/[[...sign-up]]/page.tsx
  packages/elements/examples/nextjs/components/form.tsx
  packages/elements/src/index.ts
  packages/elements/src/react/common/form/index.tsx
  packages/elements/src/react/common/third-party-providers/social-provider.tsx
Due: npx eslint --fix, npx prettier --write

feat(upgrade): Localization key changes
  packages/upgrade/source/versions/v5/common/changed-localization-keys.md
  packages/upgrade/source/versions/v5/common/new-localization-keys.md
  packages/upgrade/source/versions/v5/common/removed-localization-keys.md
  packages/upgrade/source/versions/v5/index.js
  packages/upgrade/source/versions/v5/js/clerk-isready-removed.md
Due: npx eslint --fix, npx prettier --write

fix(upgrade): Add missed keys to localization obj
  packages/upgrade/source/versions/v5/index.js
Due: npx eslint --fix, npx prettier --write

feat(nextjs): Infer the path the component is mounted at automatically in pages and app router
  packages/nextjs/src/client-boundary/uiComponents.tsx
  packages/nextjs/src/client-boundary/usePathnameWithoutCatchAll.tsx
Due: npx eslint --fix, npx prettier --write

Create early-cars-cross.md
  .changeset/early-cars-cross.md
Due: npx prettier --write

feat(upgrade): Clean up backend change items
  packages/upgrade/source/versions/v5/backend/api-url-value-changed.md
  packages/upgrade/source/versions/v5/backend/clockskewinseconds.md
  packages/upgrade/source/versions/v5/backend/constants-import-path-move.md
  packages/upgrade/source/versions/v5/backend/createauthenticaterequest-import-path-move.md
  packages/upgrade/source/versions/v5/backend/createclerkclient-apikey.md
  packages/upgrade/source/versions/v5/backend/createclerkclient-frontendapi.md
  packages/upgrade/source/versions/v5/backend/createisomorphicrequest-import-path-move.md
  packages/upgrade/source/versions/v5/backend/decodeJwt-import-path-move.md
  packages/upgrade/source/versions/v5/backend/externalaccount-picture.md
  packages/upgrade/source/versions/v5/backend/externalaccountjson-avatarurl.md
  packages/upgrade/source/versions/v5/backend/getpendingorganizationinvitationlist.md
  packages/upgrade/source/versions/v5/backend/organization-logourl.md
  packages/upgrade/source/versions/v5/backend/organizationjson-logourl.md
  packages/upgrade/source/versions/v5/backend/organizationmembershippublicuserdata-profileimageurl.md
  packages/upgrade/source/versions/v5/backend/organizationmembershippublicuserdatajson-profileimageurl.md
  packages/upgrade/source/versions/v5/backend/pkgversion.md
  packages/upgrade/source/versions/v5/backend/redirect-import-path-move.md
  packages/upgrade/source/versions/v5/backend/signjwt-import-path-move.md
  packages/upgrade/source/versions/v5/backend/user-profileimageurl.md
  packages/upgrade/source/versions/v5/backend/userjson-profileimageurl.md
  packages/upgrade/source/versions/v5/backend/verifyjwt-import-path-move.md
  packages/upgrade/source/versions/v5/index.js
Due: npx eslint --fix, npx prettier --write

feat(upgrade): Finish the last batch of backend change items
  packages/upgrade/source/versions/v5/backend/buildrequesturl-removed.md
  packages/upgrade/source/versions/v5/backend/client-unstableoptions-removed.md
  packages/upgrade/source/versions/v5/backend/createemail-removed.md
  packages/upgrade/source/versions/v5/backend/createisomorphicrequest-removed.md
  packages/upgrade/source/versions/v5/backend/httpoptions-removed.md
  packages/upgrade/source/versions/v5/backend/membershiprole.md
  packages/upgrade/source/versions/v5/backend/signjwterror-import-move.md
  packages/upgrade/source/versions/v5/backend/tokenverificationerror-import-move.md
  packages/upgrade/source/versions/v5/backend/tokenverificationerroraction-import-move.md
  packages/upgrade/source/versions/v5/backend/tokenverificationerrorcode-import-move.md
  packages/upgrade/source/versions/v5/backend/tokenverificationerrorreason-import-move.md
  packages/upgrade/source/versions/v5/index.js
Due: npx eslint --fix, npx prettier --write

feat(upgrade): Fix the middleware thing
  packages/upgrade/source/versions/v5/next/auth-middleware-deprecated.md
Due: npx prettier --write

feat(upgrade): Add router navigate and backend return signature changes
  packages/upgrade/source/versions/v5/backend/return-signature-change.md
  packages/upgrade/source/versions/v5/index.js
  packages/upgrade/source/versions/v5/react/router-navigate.md
Due: npx eslint --fix, npx prettier --write

feat(nextjs): Infer the path the component is mounted at automatically in pages and app router (#2634)
  .changeset/early-cars-cross.md
  packages/nextjs/src/client-boundary/uiComponents.tsx
  packages/nextjs/src/client-boundary/usePathnameWithoutCatchAll.tsx
Due: npx eslint --fix, npx prettier --write

feat(backend): Paginated responses now return { data, totalCount } instead of an array
  .changeset/gentle-radios-shout.md
  integration/cleanup/cleanup.setup.ts
  integration/testUtils/usersService.ts
  integration/tests/protect.test.ts
  packages/backend/src/api/__tests__/factory.test.ts
  packages/backend/src/api/endpoints/OrganizationApi.ts
  packages/backend/src/api/endpoints/UserApi.ts
  packages/backend/src/api/request.ts
  packages/backend/src/api/resources/Deserializer.ts
  packages/backend/src/jwt/legacyReturn.ts
  packages/nextjs/src/server/createGetAuth.ts
Due: npx eslint --fix, npx prettier --write

fix(backend,nextjs): Revert `{ data, errors }` return values to v4 format for clerkClient methods and jwt/token helpers (#2633)
  .changeset/gentle-radios-shout.md
  integration/cleanup/cleanup.setup.ts
  integration/testUtils/usersService.ts
  integration/tests/protect.test.ts
  packages/backend/src/api/__tests__/factory.test.ts
  packages/backend/src/api/endpoints/OrganizationApi.ts
  packages/backend/src/api/endpoints/UserApi.ts
  packages/backend/src/api/request.ts
  packages/backend/src/api/resources/Deserializer.ts
  packages/backend/src/index.ts
  packages/backend/src/jwt/index.ts
  packages/backend/src/jwt/legacyReturn.ts
  packages/backend/src/jwt/signJwt.ts
  packages/backend/src/tokens/authObjects.ts
  packages/backend/src/tokens/handshake.ts
  packages/backend/src/tokens/request.ts
  packages/backend/src/tokens/verify.ts
  packages/backend/src/util/decorateObjectWithResources.ts
  packages/nextjs/src/app-router/server/currentUser.ts
  packages/nextjs/src/server/buildClerkProps.ts
  packages/nextjs/src/server/createGetAuth.ts
  packages/sdk-node/examples/express/src/runtime-keys-middleware.ts
  packages/sdk-node/examples/node/src/organizations.ts
  packages/sdk-node/examples/node/src/sessions.ts
  packages/sdk-node/examples/node/src/users.ts
Due: npx eslint --fix, npx prettier --write

feat(elements): Add SocialProvider & ClerkError (#2629)
  .changeset/tricky-buses-march.md
  packages/elements/examples/nextjs/app/page.tsx
  packages/elements/examples/nextjs/app/sign-in/[[...sign-in]]/page.tsx
  packages/elements/examples/nextjs/app/sign-up/[[...sign-up]]/page.tsx
  packages/elements/examples/nextjs/components/form.tsx
  packages/elements/examples/nextjs/components/social-providers.tsx
  packages/elements/package.json
  packages/elements/src/index.ts
  packages/elements/src/internals/machines/sign-in/sign-in.context.ts
  packages/elements/src/internals/machines/sign-in/sign-in.machine.ts
  packages/elements/src/internals/machines/sign-up/sign-up.context.ts
  packages/elements/src/internals/machines/sign-up/sign-up.machine.ts
  packages/elements/src/react/common/form/index.tsx
  packages/elements/src/react/common/third-party-providers/social-provider.tsx
  packages/elements/src/react/sign-in/index.tsx
  packages/elements/src/react/sign-up/index.tsx
  packages/elements/src/utils/third-party-strategies.ts
Due: npx eslint --fix, npx prettier --write

fix(repo): Fix passworder_hasher related changeset
  .changeset/chatty-months-smell.md
  .changeset/sweet-ladybugs-sneeze.md
Due: npx prettier --write

fix(repo): Fix passworder_hasher related changeset
  .changeset/sweet-ladybugs-sneeze.md
  packages/backend/CHANGELOG.md
Due: npx prettier --write

fix(repo): Fix passworder_hasher related changeset (#2635)
  .changeset/chatty-months-smell.md
  .changeset/sweet-ladybugs-sneeze.md
Due: npx prettier --write

chore(repo): Trigger patch version bump to generate @clerk/shared beta
  .changeset/rude-gorillas-smash.md
Due: npx prettier --write

fix(clerk-js): Fix label alignment on card open
  .changeset/five-boxes-agree.md
  .changeset/old-scissors-leave.md
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationGeneralPage.tsx
  packages/clerk-js/src/ui/components/UserProfile/ActiveDevicesSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/ConnectedAccountsSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/EmailsSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/MfaSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/UserProfileSection.tsx
  packages/clerk-js/src/ui/elements/ProfileCard/ProfileCardContent.tsx
  packages/clerk-js/src/ui/elements/Section.tsx
Due: npx eslint --fix, npx prettier --write

chore(repo): Trigger patch version bump to generate @clerk/shared beta (#2638)
  .changeset/rude-gorillas-smash.md
Due: npx prettier --write

fix(clerk-js): Fix label alignment on card open (#2639)
  .changeset/five-boxes-agree.md
  .changeset/old-scissors-leave.md
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationGeneralPage.tsx
  packages/clerk-js/src/ui/components/UserProfile/ActiveDevicesSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/ConnectedAccountsSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/EmailsSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/MfaSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/UserProfileSection.tsx
  packages/clerk-js/src/ui/elements/ProfileCard/ProfileCardContent.tsx
  packages/clerk-js/src/ui/elements/Section.tsx
Due: npx eslint --fix, npx prettier --write

chore(integration): Use CLERK_JS_URL in integration tests
  integration/presets/envs.ts
  integration/templates/next-app-router/src/app/settings/rcc-protect/page.tsx
Due: npx eslint --fix, npx prettier --write

chore(repo): Version packages (beta-v5) (#2637)
  .changeset/pre.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Due: npx prettier --write

test(clerk-js): Add auto-animate mocks
  .changeset/gorgeous-apples-clap.md
  packages/clerk-js/jest.config.js
  packages/clerk-js/src/ui/elements/__mocks__/@formkit/auto-animate/react/index.ts
Due: npx eslint --fix, npx prettier --write

feat(clerk-js): Card animations
  package-lock.json
  packages/clerk-js/package.json
  packages/clerk-js/src/ui/elements/Action/ActionRoot.tsx
Due: npx eslint --fix, npx prettier --write

Close issues without a reproduction specified after 8 days
  .github/workflows/lock-threads.yml
Due: none

Path conditions:
  npx eslint --fix: any of: *.{mjs,js,jsx,ts,tsx}
  npx prettier --write: (any of: *.{mjs,js,jsx,ts,tsx}) or (any of: *.{json,md,mdx})
