Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --fix, pnpm prettier --write

Renamed ug-Ug.ts to ug-CN.ts
  packages/localizations/src/ug-CN.ts
Due: pnpm eslint --fix, pnpm prettier --write

chore(astro): Make sure only one fallback slot renders
  packages/astro/src/astro-components/control/Protect.astro
  packages/astro/src/astro-components/control/ProtectSSR.astro
Due: none

test update
  integration/tests/astro/components.test.ts
Due: pnpm eslint --fix, pnpm prettier --write

temporary include tsup to tsconfig
  packages/shared/tsconfig.json
  packages/shared/tsup.config.ts
Due: pnpm eslint --fix, pnpm prettier --write

revert previous commit
  packages/shared/tsconfig.json
Due: pnpm prettier --write

remove unused async keyword
  packages/shared/tsconfig.json
  packages/shared/tsup.config.ts
Due: pnpm eslint --fix, pnpm prettier --write

remove tsup config from tsconfig
  packages/shared/tsconfig.json
Due: pnpm prettier --write

chore: add changeset
  .changeset/fuzzy-radios-tease.md
Due: pnpm prettier --write

clean up plugin name
  packages/shared/tsconfig.json
  packages/shared/tsup.config.ts
Due: pnpm eslint --fix, pnpm prettier --write

chore: update changeset
  .changeset/fuzzy-radios-tease.md
Due: pnpm prettier --write

fix jsdoc
  packages/clerk-js/src/utils/captcha/turnstile.ts
Due: pnpm eslint --fix, pnpm prettier --write

chore(clerk-js): Utilize the `action` property of Turnstile (#5199)
  .changeset/sixty-ways-melt.md
  packages/clerk-js/src/core/auth/CaptchaHeartbeat.ts
  packages/clerk-js/src/core/fraudProtection.ts
  packages/clerk-js/src/core/resources/SignUp.ts
  packages/clerk-js/src/utils/captcha/CaptchaChallenge.ts
  packages/clerk-js/src/utils/captcha/turnstile.ts
  packages/clerk-js/src/utils/captcha/types.ts
Due: pnpm eslint --fix, pnpm prettier --write

Remove early onBeforeSetActive on sign out
  packages/clerk-js/src/core/clerk.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix(clerk-js): Avoid client updates on sign out
  .changeset/thick-beds-beam.md
  packages/clerk-js/src/core/resources/Base.ts
  packages/clerk-js/src/core/resources/Client.ts
  packages/clerk-js/src/core/resources/Session.ts
Due: pnpm eslint --fix, pnpm prettier --write

Update zh-TW.ts
  packages/localizations/src/zh-TW.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix(clerk-js): Update org member search alignment (#5126)
  .changeset/heavy-seas-complain.md
  packages/clerk-js/src/ui/components/OrganizationProfile/MembersActions.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/MembersSearch.tsx
Due: pnpm eslint --fix, pnpm prettier --write

feat(repo): Add appearance variables to sandbox
  packages/clerk-js/sandbox/app.ts
  packages/clerk-js/sandbox/template.html
Due: pnpm eslint --fix, pnpm prettier --write

Revert "Remove early onBeforeSetActive on sign out"
  packages/clerk-js/src/core/clerk.ts
Due: pnpm eslint --fix, pnpm prettier --write

wip
  packages/clerk-js/sandbox/template.html
Due: none

changeset
  .changeset/witty-yaks-poke.md
Due: pnpm prettier --write

Add option for a custom tasks URL to cover custom flow
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/utils/componentGuards.ts
  packages/types/src/clerk.ts
Due: pnpm eslint --fix, pnpm prettier --write

Update packages/clerk-js/src/utils/captcha/turnstile.ts
  packages/clerk-js/src/utils/captcha/turnstile.ts
Due: pnpm eslint --fix, pnpm prettier --write

change default theme to 'auto'
  packages/clerk-js/src/ui/customizables/parseAppearance.ts
  packages/types/src/appearance.ts
Due: pnpm eslint --fix, pnpm prettier --write

Adjust min-height of Turnstile widget if captcha size is `compact`
  packages/clerk-js/src/utils/captcha/turnstile.ts
Due: pnpm eslint --fix, pnpm prettier --write

wip
  packages/clerk-js/sandbox/app.ts
  packages/clerk-js/sandbox/template.html
Due: pnpm eslint --fix, pnpm prettier --write

feat(clerk-js): Example for lazy routes in UP
  packages/clerk-js/src/ui/components/UserProfile/UserProfile.tsx
  packages/clerk-js/src/ui/components/UserProfile/UserProfileRoutes.tsx
  packages/clerk-js/src/ui/components/UserProfile/lazy/test.tsx
  packages/clerk-js/src/ui/elements/Navbar.tsx
  packages/clerk-js/src/ui/utils/createCustomPages.tsx
Due: pnpm eslint --fix, pnpm prettier --write

feat: Fix profileSection.primaryButton text in es-ES localization
  packages/localizations/src/es-ES.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix(clerk-js): Set input primitive placeholder color (#5157)
  .changeset/clean-knives-sit.md
  packages/clerk-js/src/ui/primitives/Input.tsx
Due: pnpm eslint --fix, pnpm prettier --write

fix tests
  integration/presets/astro.ts
  integration/templates/astro-hybrid/package.json
  integration/templates/astro-node/package.json
  integration/tests/astro/components.test.ts
Due: pnpm eslint --fix, pnpm prettier --write

remove temporary astro versions
  integration/presets/astro.ts
  integration/templates/astro-hybrid/package.json
  integration/templates/astro-node/package.json
Due: pnpm eslint --fix, pnpm prettier --write

chore: add changeset
  .changeset/fair-insects-sort.md
Due: pnpm prettier --write

Path conditions:
  pnpm eslint --fix: any of: *.{mjs,js,jsx,ts,tsx,vue}
  pnpm prettier --write: (any of: *.{mjs,js,jsx,ts,tsx,vue}) or (any of: *.{json,md,mdx})
