Repository clerk/javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --fix, pnpm prettier --write

chore(tanstack-start): Add deprecation warning for package renaming (#5327)
  .changeset/cuddly-cups-sip.md
  packages/tanstack-start/src/errors.ts
  packages/tanstack-start/src/index.ts
  packages/tanstack-start/src/server/index.ts
  packages/tanstack-start/src/utils/errors.ts
Due: pnpm eslint --fix, pnpm prettier --write

test(e2e): Adding tests for handling reverification for AIO components (#5338)
  .changeset/mighty-falcons-fly.md
  integration/testUtils/userVerificationPageObject.ts
  integration/testUtils/usersService.ts
  integration/tests/reverification.test.ts
  pnpm-lock.yaml
Due: pnpm eslint --fix, pnpm prettier --write

chore(repo): Add changeset
  .changeset/curly-lizards-pretend.md
Due: pnpm prettier --write

chore(clerk-js,shared): Refactor useReverification
  integration/templates/next-app-router/src/app/(reverification)/action-with-use-reverification/page.tsx
  packages/clerk-js/src/ui/common/RemoveResourceForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/ActiveDevicesSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/AddAuthenticatorApp.tsx
  packages/clerk-js/src/ui/components/UserProfile/ConnectedAccountsMenu.tsx
  packages/clerk-js/src/ui/components/UserProfile/ConnectedAccountsSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/DeleteUserForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/EmailForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/EmailsSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/MfaBackupCodeCreateForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/MfaPhoneCodeScreen.tsx
  packages/clerk-js/src/ui/components/UserProfile/PasskeySection.tsx
  packages/clerk-js/src/ui/components/UserProfile/PasswordForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/PhoneForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/UsernameForm.tsx
Due: pnpm eslint --fix, pnpm prettier --write

feat(shared): Controllable useReverification
  packages/clerk-js/src/ui/components/UserVerification/use-after-verification.ts
  packages/shared/src/react/hooks/useReverification.ts
Due: pnpm eslint --fix, pnpm prettier --write

wip
  packages/shared/src/react/hooks/useReverification.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix(clerk-js): Fix type tests for useReverification
  packages/shared/src/react/__tests__/useReverification.test.ts
Due: pnpm eslint --fix, pnpm prettier --write

second cleanup
  packages/clerk-js/src/core/auth/AuthCookieService.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/jwt-client.ts
Due: pnpm eslint --fix, pnpm prettier --write

third cleanup
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/jwt-client.ts
  packages/clerk-js/src/core/resources/__tests__/__snapshots__/Client.test.ts.snap
Due: pnpm eslint --fix, pnpm prettier --write

changeset
  .changeset/good-penguins-agree.md
Due: pnpm prettier --write

feat(clerk-js): allow initialization with defaults
  .changeset/dirty-lizards-count.md
  integration/tests/reverification.test.ts
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/resources/AuthConfig.ts
  packages/clerk-js/src/core/resources/CommerceSettings.ts
  packages/clerk-js/src/core/resources/DisplayConfig.ts
  packages/clerk-js/src/core/resources/Environment.ts
  packages/clerk-js/src/core/resources/OrganizationSettings.ts
  packages/clerk-js/src/core/resources/UserSettings.ts
  packages/clerk-js/src/core/resources/__tests__/Environment.test.ts
  packages/clerk-js/src/core/resources/__tests__/UserSettings.test.ts
  packages/clerk-js/src/core/resources/__tests__/__snapshots__/Environment.test.ts.snap
  packages/clerk-js/src/core/resources/__tests__/__snapshots__/UserSettings.test.ts.snap
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpVerifyEmail.tsx
  packages/clerk-js/src/ui/components/SignUp/signUpFormHelpers.ts
  packages/clerk-js/src/ui/components/UserProfile/AccountPage.tsx
  packages/clerk-js/src/ui/components/UserProfile/EmailForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/MfaPhoneCodeScreen.tsx
  packages/clerk-js/src/ui/components/UserProfile/ProfileForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/SecurityPage.tsx
  packages/clerk-js/src/ui/components/UserProfile/UsernameForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/utils.ts
Due: pnpm eslint --fix, pnpm prettier --write

backdrop color
  packages/clerk-js/src/ui/elements/Drawer.tsx
  packages/clerk-js/src/ui/foundations/colors.ts
Due: pnpm eslint --fix, pnpm prettier --write

pass internalTheme to stripe elements
  packages/clerk-js/src/ui/components/Checkout/CheckoutPage.tsx
Due: pnpm eslint --fix, pnpm prettier --write

test(e2e): Fix broken test for re-verification
  integration/tests/reverification.test.ts
Due: pnpm eslint --fix, pnpm prettier --write

Update bundlewatch.config.json
  packages/clerk-js/bundlewatch.config.json
Due: pnpm prettier --write

add captchaOauthBypess default
  packages/clerk-js/src/core/resources/DisplayConfig.ts
Due: pnpm eslint --fix, pnpm prettier --write

wip
  packages/clerk-js/src/core/resources/__tests__/__snapshots__/Environment.test.ts.snap
Due: none

fix(clerk-js): Conditionally render avatar
  packages/clerk-js/src/ui/components/PricingTable/PlanCard.tsx
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/types/src/appearance.ts
Due: pnpm eslint --fix, pnpm prettier --write

Create purple-lamps-beg.md
  .changeset/purple-lamps-beg.md
Due: pnpm prettier --write

reduce status
  packages/clerk-js/src/core/jwt-client.ts
Due: pnpm eslint --fix, pnpm prettier --write

add defaults to classes instead
  packages/clerk-js/src/core/resources/Client.ts
  packages/clerk-js/src/core/resources/Organization.ts
  packages/clerk-js/src/core/resources/OrganizationMembership.ts
  packages/clerk-js/src/core/resources/PublicUserData.ts
  packages/clerk-js/src/core/resources/Session.ts
  packages/clerk-js/src/core/resources/User.ts
  packages/types/src/json.ts
Due: pnpm eslint --fix, pnpm prettier --write

Revert "add defaults to classes instead"
  packages/clerk-js/src/core/resources/Client.ts
  packages/clerk-js/src/core/resources/Organization.ts
  packages/clerk-js/src/core/resources/OrganizationMembership.ts
  packages/clerk-js/src/core/resources/PublicUserData.ts
  packages/clerk-js/src/core/resources/Session.ts
  packages/clerk-js/src/core/resources/User.ts
  packages/types/src/json.ts
Due: pnpm eslint --fix, pnpm prettier --write

Update PlanCard.tsx
  packages/clerk-js/src/ui/components/PricingTable/PlanCard.tsx
Due: pnpm eslint --fix, pnpm prettier --write

removed duplicate export
  packages/clerk-js/src/ui/elements/index.ts
Due: pnpm eslint --fix, pnpm prettier --write

replace (??) with (||) for less bundle size
  packages/clerk-js/src/core/resources/Client.ts
  packages/clerk-js/src/core/resources/Organization.ts
  packages/clerk-js/src/core/resources/OrganizationMembership.ts
  packages/clerk-js/src/core/resources/PublicUserData.ts
  packages/clerk-js/src/core/resources/Session.ts
  packages/clerk-js/src/core/resources/User.ts
Due: pnpm eslint --fix, pnpm prettier --write

chore(clerk-js): Bump floating-ui packages to latest (#5341)
  .changeset/neat-hotels-brush.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/package.json
  packages/clerk-js/src/ui/elements/Popover.tsx
  packages/clerk-js/src/ui/hooks/usePopover.ts
  pnpm-lock.yaml
Due: pnpm eslint --fix, pnpm prettier --write

dedupe
  pnpm-lock.yaml
Due: none

fix(clerk-js): Conditionally render avatar (#5348)
  .changeset/purple-lamps-beg.md
  packages/clerk-js/src/ui/components/PricingTable/PlanCard.tsx
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/types/src/appearance.ts
Due: pnpm eslint --fix, pnpm prettier --write

feat(clerk-js): PlanCard redirect to sign in when not signed in
  packages/clerk-js/sandbox/template.html
  packages/clerk-js/src/ui/components/PricingTable/PlanCard.tsx
Due: pnpm eslint --fix, pnpm prettier --write

add changeset
  .changeset/serious-badgers-lie.md
Due: pnpm prettier --write

fix
  packages/clerk-js/sandbox/template.html
Due: none

Add changeset
  .changeset/funny-cobras-jog.md
Due: pnpm prettier --write

Handle navigation to next task upon /touch
  packages/clerk-js/src/core/clerk.ts
Due: pnpm eslint --fix, pnpm prettier --write

Create organization on integration tests
  integration/testUtils/index.ts
  integration/testUtils/organizationsService.ts
  integration/testUtils/sessionTaskPageObject.ts
  integration/testUtils/usersService.ts
  integration/tests/session-tasks-sign-in.test.ts
  integration/tests/session-tasks-sign-up.test.ts
  packages/clerk-js/src/ui/components/SignUp/SignUp.tsx
Due: pnpm eslint --fix, pnpm prettier --write

Triggers navigation via effect on #emit
  packages/clerk-js/src/ui/components/SessionTask/SessionTask.tsx
Due: pnpm eslint --fix, pnpm prettier --write

Forward after sign-in/sign-up URLs to SessionTask component context
  packages/clerk-js/src/ui/components/SessionTask/SessionTask.tsx
  packages/clerk-js/src/ui/components/SignIn/SignIn.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUp.tsx
Due: pnpm eslint --fix, pnpm prettier --write

improvements to current
  .typedoc/custom-theme.mjs
  packages/react/.gitignore
  packages/react/examples/use-auth.md
  packages/react/examples/use-sign-in.md
  packages/react/examples/use-sign-up.md
  packages/react/src/hooks/useAuth.ts
  packages/react/src/hooks/useSignIn.ts
  packages/react/src/hooks/useSignUp.ts
  packages/shared/.gitignore
  packages/shared/examples/use-clerk.md
  packages/shared/examples/use-session-list.md
  packages/shared/examples/use-session.md
  packages/shared/examples/use-user.md
  packages/shared/src/react/hooks/useClerk.ts
  packages/shared/src/react/hooks/useSession.ts
  packages/shared/src/react/hooks/useSessionList.ts
  packages/shared/src/react/hooks/useUser.ts
  packages/types/src/clerk.ts
  packages/types/src/pagination.ts
  typedoc.config.mjs
Due: pnpm eslint --fix, pnpm prettier --write

fix(shared): Fix error types for useReverification
  packages/shared/src/react/hooks/useReverification.ts
Due: pnpm eslint --fix, pnpm prettier --write

Trigger navigation with `redirectUrl` approach
  integration/testUtils/index.ts
  integration/tests/session-tasks-sign-up.test.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/components/SessionTask/SessionTask.tsx
Due: pnpm eslint --fix, pnpm prettier --write

Path conditions:
  pnpm eslint --fix: any of: *.{mjs,js,jsx,ts,tsx,vue}
  pnpm prettier --write: (any of: *.{mjs,js,jsx,ts,tsx,vue}) or (any of: *.{json,md,mdx})
